<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleTen">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="close" />
  </div>

  <div class="full-width from-heading-box relative" #myHandleTen>
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Closing Meeting:</span>
      </h4>
    </div>
    <div class="r-number">
      <p class="text-design" *ngIf="acmId"></p>
    </div>

    <div class="icons-in">
      <ul>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
              alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li> -->
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
              alt="Print"
          /></a>
          <!-- <a (click)="PrintClick()" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" />Print</a
          > -->
          <!-- print click added by Abu - 16-09-2020 start -->
          <a href="javascript:void(0);" class="dupIcoHover" (click)="print()">
            <img src="assets/img/Print2.svg" alt="Print" /> Print</a>
          <!-- print click added by Abu - 16-09-2020 end -->
        </li>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="closingMeetingForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container" *ngIf="notPdf">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="periodInScope"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="performancePeriod"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Update Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="updateMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Closing Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="closingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row dvsn-section">
                      <div class="col-sm">
                        <div class="full-width mb-2">
                          <div class="d-box clearfix">
                            <div class="form-group">
                              <label>Agenda</label>
                              <textarea
                                formControlName="agenda"
                                style="min-height: 140px; height: 100%"
                                class="p-3"
                                contenteditable="true"
                              >
                              Please find the below agenda:
                              General Impression
                              Issue and action review
                              Q&amp;A</textarea
                              >
                            </div>
                          </div>
                        </div>

                        <div class="full-width mb-2">
                          <div class="d-box1 clearfix">
                            <div class="form-group">
                              <label>Q&amp;A</label>
                              <textarea
                                formControlName="quesAndAns"
                                style="min-height: 140px; height: 100%"
                                class="p-3"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="closing assignees mt-0">
                            <p>Audit Team</p>
                            <div class="a-team">
                              <ul class="teamListUl" *ngIf="auditTeam">
                                <li *ngFor="let at of auditTeam">
                                  <div class="listPeopleName">
                                    {{ at | titlecase }}
                                  </div>
                                  <img
                                    src="../../../../../assets/img/profile-dummy.png"
                                    alt="dummy"
                                  />
                                </li>
                              </ul>
                              <label *ngIf="!auditTeam">No team assigned</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="issue-pane clearfix">
                          <div class="form-group">
                            <label>Issue and Action Review</label>
                            <textarea
                              formControlName="issueActionReview"
                              style="min-height: 355px; height: 100%"
                              class="p-3"
                              contenteditable="true"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Comments</label>
                              <textarea
                                formControlName="comments"
                                class="p-3 border-0"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="secound">
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="
                                attachedFiles?.length > 0 ||
                                closeAttachment == false
                              "
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Search popup open added by Abu - 18-09-2020 start -->

                    <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                   <div class="add-file" (click)="addnewFile()">
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png" alt=""
                              width="20px"
                            />Add New</label
                          >     
                    </div>
                  </div>
  
                  <!-- Search popup open added by Abu - 18-09-2020 end -->

                   <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                    <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                      <img
                        
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />
                      <label>{{ item.documentName| slice:0:10 }}..</label>

                      <!-- <div
                        class="user-text"
                        *ngIf="item.new == true || item.isDuplicate == true"
                      >
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div> -->
                    </div>

                    <!-- <div class="add-file">
                      <ngx-file-drop
                        dropZoneLabel="Drop files here"
                        (onFileDrop)="dropped($event)"
                      >
                        <ng-template
                          ngx-file-drop-content-tmp
                          let-openFileSelector="openFileSelector"
                        >
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()"
                              alt=""
                              width="20px"
                            />Add New</label
                          >
                        </ng-template>
                      </ngx-file-drop>
                    </div> -->
                  </div> 
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button> -->
              </div>
            </tab>

            <!-- <tab>
              <ng-template tabHeading>
                <span>Issues and Actions </span>
              </ng-template>
              <div class="tabContent-box">
                <div class="row full-width">
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label>Issues List</label>
                  </div>
                </div>
                <div class="full-width table-style">
                  <div class="full-width overflow-auto">
                    <table class="table" aria-describedby="mydesc">
                      <thead>
                        <tr>
                          <th scope="col">Issues ID</th>
                          <th scope="col">Issues Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Issues Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Key Issues</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let issue of assignedIssues">
                          <td>{{ issue.issueId }}</td>
                          <td>{{ issue.issueName }}</td>
                          <td>{{ issue.issueDescription }}</td>
                          <td>{{ issue.issueType }}</td>
                          <td>{{ issue.department }}</td>
                          <td>Yes</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row full-width" *ngIf="assignedActions">
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label>Action List</label>
                  </div>
                </div>
                <div class="full-width table-style" *ngIf="assignedActions">
                  <div class="full-width overflow-auto">
                    <table class="table" aria-describedby="mydesc">
                      <thead>
                        <tr>
                          <th scope="col">Action ID</th>
                          <th scope="col">Action Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Area</th>
                          <th scope="col">Rating</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let action of assignedActions">
                          <td>{{ action.actionId }}</td>
                          <td>{{ action.actionName }}</td>
                          <td>{{ action.actionDescription }}</td>
                          <td>{{ action.area }}</td>
                          <td>{{ action.rating }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab> -->

            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" [value]="companyName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" [value]="location" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" [value]="buName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" [value]="bProcessName" disabled/>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent on</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{
                                dateInputFormat: 'DD-MM-YYYY',
                                adaptivePosition: true
                              }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared By</label>
                          <input class="form-control" type="text" disabled />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent By</label>
                          <input class="form-control" type="text" disabled />
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
      <div class="scroll-container" *ngIf="isPdf">
        <div class="full-width">
          <button class="btn btn risk-btn link btnLink" (click)="back()">
            Back
          </button>
        </div>

        <div class="full-width">
          <pdf-viewer
            [src]="pdfSrc"
            [render-text]="true"
            style="display: block"
          ></pdf-viewer>
        </div>
      </div>
    </form>
  </div>
  
<!-- Search popup added by Abu - 18-09-2020 Start -->
<div class="new-chat-popup-maincontainer add-document-new p-0" *ngIf="editsearchDocument">
  <div class="close-form" (click)="closeSearch()">
    <img src="../../../../../assets/img/close-form.svg">    
  </div>
  <div class="intray-search">
    <div class="for-auditor-search">
      <div class="dataTables_filter form-group">
        <label>
          <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
            [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
        </label>
      </div>
      <div class="search-filter-box">

        <tabset class="tab-block filteroptions" #staticTabs>
          <tab>
            <ng-template tabHeading>
              <h3>All Results</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown> 
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>PBC</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>DMS</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
        </tabset>

        <div class="upload-submit text-center">
          <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
        </div>
        <div class="filteroptions upload-load-file-block">
          <h3>Upload from Local machine</h3>
          <div class="button-style mr-left-rght">
            <label for="myFile">Browse and Upload</label>
          <input type="file" id="myFile" class="custom-file-input" (change)="onFilechanged($event)" accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png" >
        </div>
        </div>
      </div>
    </div>
    <div class="for-auditor-search" style="display: none;">
      <div class="search-filter-box">
        <div class="filteroptions">
          <h3>Upload file from Local machine</h3>
          <input type="file" class="custom-file-input">
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Search popup added by Abu - 18-09-2020 end -->
</div>