<div class="table-header table-xs-header">
    <div class="row">
      <div class="col-xs-12 col-lg-4 control-risk-switch">
  
      </div>
  
  
      <div class="col-xs-12 col-lg-8 icon-list text-right">
        <div class="full-width">
        <a href="#" class="tooltip">
          <span class="tooltiptext">Print</span>
          <img src="assets/img/print_button.svg" alt="Print">
        </a>
        <div class="dropdown export-dropdown">
          <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="tooltiptext">Export</span>
            <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
          </a>
          <div class="dropdown-menu export-dropdown-menu controllist-export-RCM"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  
  <table id="actionwfmartix" class="display fullDataTable table-md-responsive" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>
          <input type="checkbox" name="select_all" value="1" id="cmactionworkflowList-select-all">
        </th>
        <th>Area</th>
        <th>Action ID</th>
        <th>Action Name</th>  
        <th>Action Description</th>      
        <th>Action Progess</th>        
        <th>Action WF</th>
        <th>Rating</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of actionTableList;let i = index">
        <td>{{i + 1}}</td>
        <td></td>
        <td class="reorder-row">{{action.area}}</td> 
        <td class="reorder-row">
            <a (click)="loadMyChildComponent(action.actionId)" class="btn risk-btn link">{{action.actionId}}</a>
           
        </td>   
        <td class="reorder-row">{{action.actionName}}</td>        
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': action.actionDescription.length > 92 }">
            <span class="read-more-text">{{action.actionDescription}}</span>
            <span class="tooltiptext">{{action.actionDescription}}</span>
          </div>
        </td>
        <td class="reorder-row">
            <div class="slidecontainer">
                <!-- <input type="range" min="1" max="100" value="0" class="range-control very-high" disabled> -->
                <input type="range" min="1" max="100" [value]=action.actionprogress class="range-control {{action.barColor}}" disabled>
            </div>
        </td>
        <!-- <td class="reorder-row"><a (click)="actionWF(action.actionId)" class="link">{{action.actionId}}</a></td>  -->
     
        <td class="reorder-row">
          <a class="btn btn-primary risk-btn medium" style="width: 70px;"
          (click)="actionWF(action.actionWFId)"
               *ngIf="action.actionWFId">{{action.actionWFId}}</a>
               <!-- <a class="ra-add-btn" *ngIf="!action.actionWFId"  (click)="actionWF(action.actionWFId)" data-toggle="tooltip" title="New Action">
                   <img src="assets/img/add_button.svg" alt="Add">
                  </a> -->
                  <a class="btn btn-primary risk-btn medium" style="width: 70px;"
                  (click)="actionWF(action)"
                       *ngIf="!action.actionWFId">ADD</a>
               </td>
       
        <td class="reorder-row"><button class="btn btn-primary year-button {{action.ratingClr}}">{{ action.rating }}</button></td>
        
        <td align="center">
          <div class="dropdown show action-dropdown position-relative ">
              <a *ngIf="action.actionWFId" class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-text">
                <ul>
                  <li>
                      <a (click)="actionWF(action.actionWFId)" class="edit-btn">
                          <img src="assets/img/edit_button.svg" alt="Edit">
                          <span>Edit</span>
                      </a>
                  </li>
                  <li>
                      <a (click)="delete(action.actionId)" class="delete-btn">
                          <img src="assets/img/delete_button.svg" alt="Delete">
                          <span>Delete</span>
                     </a>
                  </li>
              </ul>
              </div>
            </div>
         </td>
  
      </tr>
  
      
  
      
    </tbody>
  </table>  
  
  <app-wf-action-form *ngIf="loadWFComponent" (closedAddDefinationActionForm)="getAddressOfAddNewActionForm($event)" [actionId]= "selectedActionId" ></app-wf-action-form>
 
<app-issue-definition-form [actionData]="selectedactionkId" *ngIf="loadComponent" (closedAddDefinationActionForm)="getAddressOfAddNewActionForm($event)"></app-issue-definition-form>
  
  
  <!-- <app-add-new-action </app-add-new-action> -->
