<div class="full-width container-side">
  <div class="row">
    <div class="col-sm-12 col-lg-4 audit-galaxy-block">
      <p class="heading">Audit Galaxy</p>
      <div class="imgBoxin" id="chartdiv"></div>
    </div>
    <div class="col-sm-12 col-lg-4 relative">
      <div id="heatmap" ></div>    
    </div>
    <div class="col-sm-12 col-lg-4 relative">
      <div id="heatmap1"></div>
    </div>
  </div>
</div>
