  <div class="pop-up-form" ngDraggable [position]="position">

      <div class="close-form" (click)="closeModal()">
          <img src="../../../../../assets/img/close-form.svg">

      </div>
      <div class="full-width from-heading-box relative">
          <div class="text-area-sec">
              <h4>Control : {{fetchedData?.controlName}}</h4>
          </div>

          <div class="r-number">
              <p class="text-design">{{fetchedData?.controlId}}</p>
          </div>
          <div class="icons-in">
            <ul>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate"> Duplicate</a>
              </li>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export">  Export</a>
              </li>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print">  Print</a>
              </li>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
              </li>
            </ul>
          </div>
      </div>
      <div class="scroll-container">
          <form [formGroup]="controlForm" (ngSubmit)="onSave()">
          <div class="full-width tab-section-container">
              <div class="full-width">
                  <tabset class="tab-block" #controlDefinationForm>
                      <tab>
                          <ng-template tabHeading>
                              <span>Details</span>
                          </ng-template>
                          <div class="tabContent-box">


                              <div class="full-width">
                                  <div class="half-tab">
                                      <div class="full-width">
                                          <div class="form-group">
                                              <label>Control Name</label>
                                             <input type="text" class="form-control" formControlName="controlName">
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <div class="form-group">
                                              <label>Status</label>
                                              <select class="form-control" formControlName="controlStatus">
                                                <option value="">Select</option>

                                              <option  *ngFor="let status of controlStatuses" [value]="status.controlStatus">{{status.controlStatus}}</option>

                                                  <!-- <option>Select Option</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                  <option>5</option> -->
                                              </select>
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <div class="form-group">
                                              <label>Description</label>
                                              <textarea class="form-control potential-text" formControlName="controlDescription"></textarea>
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <div class="form-group">
                                              <label>Control Type</label>
                                              <select class="form-control" formControlName="controlType">
                                                <option value="">Select</option>
                                                 
                                                <option *ngFor="let cType of controlType" [value]="cType.controlName">{{cType.controlName}}</option>

                                              </select>
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <label class="label-in">Department</label>
                                          <div class="checkbox-container">
                                              <div class="form-group">

                                                  <label class="custom-radio">Any
                                                      <input type="radio" checked="checked" name="department">
                                                      <span class="checkmark"></span>
                                                  </label>
                                              </div>
                                          </div>
                                          <div class="seperator">
                                              <span>- OR -</span>
                                          </div>
                                          <div class="form-container-box">
                                              <div class="form-group">
                                                  <select class="form-control" formControlName="controlDepartment">
                                                    <option value="">Select</option>
                                                      
                                                    <option *ngFor="let dept of riskMasterDepartment" (value)="dept.departmentName">{{dept.departmentName}}</option>

                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <label class="label-in">Process</label>
                                          <div class="checkbox-container">
                                              <div class="form-group">

                                                  <label class="custom-radio">Any
                                                      <input type="radio" checked="checked" name="process">
                                                      <span class="checkmark"></span>
                                                  </label>
                                              </div>
                                          </div>
                                          <div class="seperator">
                                              <span>- OR -</span>
                                          </div>
                                          <div class="form-container-box">
                                              <div class="form-group">
                                                  <div class="form-group">
                                                      <select class="form-control" formControlName="controlDepartmentProcess">
                                                    <option value="">Select</option>
                                                          
                                                        <option *ngFor="let process of riskProcess" (value)="process.processName">{{process.processName}}</option>

                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <div class="form-group">
                                              <label>Legal Referance</label>
                                              <input type="text" class="form-control" formControlName="controlLegalReference">
                                          </div>
                                      </div>
                                      <div class="full-width">

                                          <!-- ######## updated 05-03-2020 starts ########-->
                                          <div class="switch-container-list">
                                            <div class="full-width">
                                              <label class="label-in">Key Control</label>
                                            </div>
                                            <div class="full-width">
                                              <div class="onoffswitch">
                                                <input
                                                  type="checkbox"
                                                  formControlName="controlKeyFlag"
                                                  name="keycontrolswitchbutton"
                                                  class="onoffswitch-checkbox"
                                                  id="keycontrolswitch"
                                                  checked
                                                />
                                                <label
                                                  class="onoffswitch-label"
                                                  for="keycontrolswitch"
                                                >
                                                  <span class="onoffswitch-inner"></span>
                                                  <span class="onoffswitch-switch"></span>
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                            <!-- <div class="form-container-box">
                                                <div class="form-group">
                                                        <label>Select process</label>
                                                    <select class="form-control">
                                                        <option *ngFor="let process of riskProcess" (value)="process.processName">{{process.processName}}</option>

                                                    </select>
                                                </div>
                                            </div> -->
                                              <!-- ######## updated 05-03-2020 endss ########-->
                                        </div>

                                  </div>
                                  <div class="half-tab secound">

                                    <!-- ######## updated 05-03-2020 starts ########-->
                                    <div class="full-width question-container">
                                        <div class="questions">
                                            <p class="question-tag">Are you control owner?</p>
                                        </div>
                                        <div class="button-radio">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="riskownerswitchbutton" class="onoffswitch-checkbox" id="riskownerswitch">
                                                <label class="onoffswitch-label" for="riskownerswitch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Select control owner</label>
                                            <select class="form-control">
                                                <option value="">Select</option>

                                                <option value="Joe Smith">Joe Smith</option>
                                                <option value="Jean Jones">Jean Jones</option>
                                                <!-- <option>Select Option</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option> -->
                                            </select>
                                        </div>
                                    </div>
                                      <!-- ######## updated 05-03-2020 endss ########-->
                                      <div class="full-width">
                                          <div class="form-group rigtSide-container">
                                              <label>Control Guidance</label>
                                              <span class="right-side-span"><img src="../../../../../assets/img/info-sec.svg"> Help</span>
                                              <textarea class="form-control control-guide" formControlName="controlGuidance"></textarea>
                                          </div>
                                      </div>
                                      <div class="full-width">
                                          <div class="form-group">
                                              <label>Control Objective</label>
                                              <textarea class="form-control control-objective" formControlName="controlObjective"></textarea>
                                          </div>
                                      </div>
                                      <div class="full-width question-container question-top">
                                          <div class="questions">
                                              <p class="question-tag">Control Testing</p>
                                          </div>
                                          <div class="button-radio">
                                              <div class="onoffswitch">
                                                  <input type="checkbox" name="controltestingbutton" class="onoffswitch-checkbox" id="controltestingswitch">
                                                  <label class="onoffswitch-label" for="controltestingswitch">
                                                      <span class="onoffswitch-inner"></span>
                                                      <span class="onoffswitch-switch"></span>
                                                  </label>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="full-width question-container question-top-2">
                                          <div class="questions">
                                              <p class="question-tag">Schedule</p>
                                          </div>
                                          <div class="button-radio">
                                              <div class="onoffswitch">
                                                  <input type="checkbox" name="schedulebutton" class="onoffswitch-checkbox" id="scheduleswitch" checked>
                                                  <label class="onoffswitch-label" for="scheduleswitch">
                                                      <span class="onoffswitch-inner"></span>
                                                      <span class="onoffswitch-switch"></span>
                                                  </label>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="full-width question-container question-top-2">
                                          <div class="questions">
                                              <p class="question-tag">Assign to Task</p>
                                          </div>
                                          <div class="button-radio">
                                              <div class="onoffswitch">
                                                  <input type="checkbox" name="assignbutton" class="onoffswitch-checkbox" id="assignswitch" checked>
                                                  <label class="onoffswitch-label" for="assignswitch">
                                                      <span class="onoffswitch-inner"></span>
                                                      <span class="onoffswitch-switch"></span>
                                                  </label>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div class="full-width button-container">
                              <button class="big-button" type="submit">Save</button>
                              <button class="big-button purple-btn" *ngIf="controlData['renderFrom'] === 'RCM'">Delegate</button>
                              <button class="big-button orange-btn"  *ngIf="controlData['renderFrom'] === 'RCM'">Reject</button>
                              <button class="big-button green-btn right-side"  *ngIf="controlData['renderFrom'] === 'RCM'">Approve</button>
                              <button class="big-button yellow-btn right-side"  *ngIf="controlData['renderFrom'] === 'RCM'">Submit</button>

                          </div>
                      </tab>
                      <tab>
                        <ng-template tabHeading>
                          <span>Risks</span>
                        </ng-template>
                        <div class="tabContent-box">
                          <div class="full-width table-style">
                            <div class="full-width table-style mt-4">
                              <div class="full-width action-header">
                                <h4>Risk part of the Control</h4>
                              </div>
                            </div>
                            <div class="full-width overflow-auto">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Risk ID</th>
                                    <th scope="col">Risk Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Catagory</th>
                                    <th scope="col" class="text-center">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td>{{ risks.controlDepartment | titlecase }}</td> -->
          
                                    <td class="edit-delete-icon normal-table">
                                      <a class="delete-btn">
                                        <img
                                          src="assets/img/delete_button.svg"
                                          alt="Delete"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
          
                          <div class="full-width overflow-auto">
                            <div class="full-width action-header">
                              <h5 class="float-left">Risks Selection</h5>
                              <!-- <button class="float-right" (click)="removeAction()">Remove Selected From Wf</button> -->
                              <button class="float-right mr-3 green-btn">Add Selected To Control</button>
          
                            </div>
                            <table
                              id="controlDefinitionCT"
                              class="display"
                              style="width: 100%;"
                            >
                              <thead>
                                <tr>
                                  <th>
                                    <!-- <input name="select_all" value="1" id="matrix-select-all" type="checkbox" /> -->
                                  </th>
                                  <th>Area</th>
                                  <th>Risk ID</th>
                                  <th>Risk Name</th>
                                  <th>Risk Description</th>
                                  <th>Approver</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <label class="checkbox">
                                      <input type="checkbox" />
                                      <span class="checkmark"></span>
                                    </label>
                                  </td>
                                  <td></td>
                                  <td>
                                    <a
                                      class="undeline-anchor"
                                      href="javascript:void(0);"
                                    ></a>
                                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="full-width button-container">
                          <button class="big-button">Save</button>
                        </div>
                      </tab>
                      <tab>
                        <ng-template tabHeading>
                          <span>Overview</span>
                        </ng-template>
                        <div class="tabContent-box">
                          <div class="full-width">
                            <div class="row">
                              <div class="three-share">
                                <div class="full-width heading-sec-form">
                                  <h4 class="headind-form">
                                    <span>Information</span>
                                  </h4>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Corporate</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Company name</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>B.U. Name</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                </div>
                              </div>
                              <div class="three-share">
                                <div class="full-width heading-sec-form">
                                  <h4 class="headind-form">
                                    <span>Dates</span>
                                  </h4>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Added On</label>
                                    <div class="full-width relative">
                                      <input
                                        type="text" placeholder="Select Date"
                                        class="form-control calendar-icon"
                                        bsDatepicker
                                        placement="bottom"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Approved On</label>
                                    <div class="full-width relative">
                                      <input
                                        type="text" 
                                        placeholder="Select Date"
                                        class="form-control calendar-icon"
                                        bsDatepicker 
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Last Change On</label>
                                    <div class="full-width relative">
                                      <input
                                        type="text" 
                                        bsDatepicker 
                                        placeholder="Select Date"
                                        class="form-control calendar-icon"
                                        placement="top"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="three-share">
                                <div class="full-width heading-sec-form">
                                  <h4 class="headind-form">
                                    <span>People</span>
                                  </h4>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Control Owner</label>
                                    <input
                                      class="form-control"
                                      type="text"
                                    />
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Control Owner ID</label>
                                    <input
                                      class="form-control"
                                      type="text"
                                    />
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Approved By</label>
                                    <input
                                      class="form-control" 
                                      type="text"
                                    />
                                  </div>
                                </div>
                                <div class="full-width">
                                  <div class="form-group">
                                    <label>Approved ID</label>
                                    <input
                                      class="form-control" 
                                      type="text"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="full-width button-container">
                          <button class="big-button" (click)="onSave()">Save</button>
                        </div>
                      </tab> 
                  </tabset>
              </div>
          </div>
          </form>
      </div>

  </div>
