<div class="modal-content">
        <div class="modal-body" *ngIf="firstscreen">
            <p class="redemm-pop">You are about to<br/> redeem <b>1,000 coins</b>
               for a<br/> gift voucher</p>
               <p class="continue-p">Are you sure you want to continue?</p>
               <p class="combinedbutton">
                 <button class="btn btn-cancel common-style" (click)="closeRedmeen()">Cancel</button>
                 <button class="btn btn-redeem common-style" (click)="nextPage()">Yes, Redeem</button>
               </p>
        </div>
        <div class="modal-body relative redeem-cong" *ngIf="congratsScreen">
          <div class="svg-image">
              <img src="../../../../assets/img/stars.svg" class="scale-in">
          </div>
          <div class="contentSection">
              <img src="../../../../assets/img/gift.svg" class="imggift animation-svg">
              <h4 class="cong-head">CONGRATULATIONS!!</h4>
              <p class="coinP">You have redeemed 1,000 coins</p>
              <p class="detailsCoin">You have successfully  redeemed a dining voucher.
                 Your Local HR team will contact you for further information</p>
                 <p class="combinedbutton">
                    <button class="btn btn-redeem common-style" (click)="close()">Ok</button>
                 </p>
          </div>
         
        </div>
    </div>
