<div class="full-width breadcrumbs">
        <ul>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Admin</a>
            </li>
            <li>
                <a>Company Structure</a>
            </li>
        </ul>
    </div>




    <div class="coin-animation-container">

    <div class="full-width bg-white">
      <div class="full-width container-side">
        <ul class="block-ul company-structure">
          <!-- <li class="box-li">
            <div class="box-haif-number">
              <div  class="full-width">
                <div class="full-width relative">
                  <canvas  id="bar"
                    >{{ pieChart }}</canvas>
                </div>
              </div>
            </div>
          </li> -->
          <li class="block-li">
            <h3>Control Execution</h3>
            <div class="box"> 
              <canvas  id="bar">{{ pieChart }}</canvas>
            </div>
          </li>
          <li class="block-li">
            <h3>Actions</h3>
            <div class="box"> 
              <canvas  id="actionbar">{{ pieActionChart }}</canvas>
            </div>
          </li>
          <li class="block-li">
            <h3>Approval</h3>
            <div class="box">
              <canvas  id="approvalbar">{{ pieApprovalChart }}</canvas>
            </div>
          </li>

          <li class="block-li">
            <h3>% Delay vs On Time</h3>
            <div class="box">              
                <table class="simple-table">
                  <tr>
                      <td>
                        Control Execution
                      </td>
                      <td style="text-align: right;font-weight: 700;">
                        10%
                      </td>
                  </tr>
                  <tr>
                    <td>
                      Actions
                    </td>
                    <td style="text-align: right;font-weight: 700;">
                      5%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Approval
                    </td>
                    <td style="text-align: right;font-weight: 700;">
                      2%
                    </td>
                  </tr>                  
                </table>
            </div>
      
          </li>
      
     
        </ul>
        <div class="rightDiv">
            <ul class="coinsectionUl">
                <li>
                    <div class="list-of-coin" >
                      <div class="full-width">
                       <div class="full-width img-contain">
                         <img src="../../../../../../assets/img/coins.svg">
                       </div>
                       <div class="full-width spec-coin">
                        <div class="coin-nav">
                          <div class="coinTarget">
                            <span class="coinsValue count">2,130</span>
                          </div>
                        </div>
                        <!-- <p class="count">2,130</p> -->
                        <p class="detail-sec">Coins</p>
                       </div>
                      </div>
                      <div class="hoverIcon" (click)="redeemScreen()">
                          <img src="../../../../../../assets/img/gift-box.svg">
                          <p>Redeem</p>
                      </div>
                    </div>
                </li>
                <li>
                  <div class="list-of-coin">
                     <div class="full-width img-contain">
                       <img src="../../../../../../assets/img/level.svg">
                     </div>
                     <div class="full-width spec-coin">
                      <p class="count">3</p>
                      <p class="detail-sec">Level</p>
                     </div>
                  </div>
              </li>
              <li>
                <div class="list-of-coin">
                   <div class="full-width img-contain">
                     <img src="../../../../../../assets/img/trophies.svg">
                   </div>
                   <div class="full-width spec-coin">
                    <p class="count">5</p>
                    <p class="detail-sec">Trophies</p>
                   </div>
                </div>
            </li>
            <li>
              <div class="list-of-coin">
                 <div class="full-width img-contain">
                   <img src="../../../../../../assets/img/rank.svg">
                 </div>
                 <div class="full-width spec-coin">
                  <p class="count">9</p>
                  <p class="detail-sec">Rank<br/>ZH</p>
                 </div>
              </div>
          </li>
          <li>
            <div class="list-of-coin">
               <div class="full-width img-contain">
                 <img src="../../../../../../assets/img/group_rank.svg">
               </div>
               <div class="full-width spec-coin">
                <p class="count">9</p>
                <p class="detail-sec">Group Rank</p>
               </div>
            </div>
        </li>
              </ul>
              <div class="redeem-section" *ngIf="reedeemSection">
                <div class="full-width">
                    <h4 class="heading-redeem"><img src="../../../../../../assets/img/backbtn.svg" 
                      class="rightPosition" (click)="backtoscreen()">
                      Click on an icon to redeem it</h4>
                </div>
                 <div class="full-width">
                   <ul class="redeem-list">
                      <li (click)="showChildModal()">
                        <div class="full-width">
                          <img src="../../../../../../assets/img/gift.svg">
                          <p class="redemm-name">Gift Voucher</p>
                          <p class="redeem-point">1,000</p>
                        </div>
                      </li>
                      <li>
                          <div class="full-width">
                            <img src="../../../../../../assets/img/headphones.svg">
                            <p class="redemm-name">HeadPhones</p>
                            <p class="redeem-point">1,500</p>
                          </div>
                      </li>
                      <li class="disabled">
                          <div class="full-width">
                            <img src="../../../../../../assets/img/ipod.svg">
                            <p class="redemm-name">iPod</p>
                            <p class="redeem-point">2,500</p>
                          </div>
                      </li>
                      <li class="disabled">
                          <div class="full-width">
                            <img src="../../../../../../assets/img/mobile_phone.svg">
                            <p class="redemm-name">Mobile Phone</p>
                            <p class="redeem-point">3,500</p>
                          </div>
                      </li>
                   </ul>
                 </div>
                 <div class="full-width">
                   <p class="coindetails">next reward opens at 2,500 coins</p>
                 </div>
              </div>
        </div>
      </div>
    
 


    </div>

    <div class="full-width audit-view-block check-same-lineheight">
        <div class="col-lg-4 col-sm-6 control-risk-switch float-left no-padding">
            <span class="left-text">My View</span>
            <label class="switch">
              <input type="checkbox"/>
              <span class="slider-switch-btn round"></span>
            </label>
            <span class="right-text">Team View</span>
        </div>
        <div class="col-lg-4 col-sm-6 float-left">
           
              <div class="button-radio">
                  <label>All Audits</label>
                <div class="onoffswitch">
                  <input type="checkbox" name="riskownerswitchbutton" class="onoffswitch-checkbox" id="allaudits"/>
                  <label class="onoffswitch-label" for="allaudits">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </div>
        </div>
        <div class="col-xs-4 col-lg-4 icon-list float-right no-padding text-right">
            <div class="dropdown show position-relative add-new-audits-drop">
                <a class="tooltip add-new-button"  role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                    <span class="tooltiptext doble-word">Add Risk</span>
                    <img src="assets/img/add_button.svg" alt="Add" />                
                  </a>
                <div class="dropdown-menu dropdown-menu-text">
                  <ul>
                    <li>
                        <a href="#">New Issue</a>
                    </li>
                  <li>
                    <a href="#">New Action</a>
                    </li>
                  <li>
                    <a href="#">New Control</a>
                </li>
                  <li>
                    <a href="#">New Risk</a>
                </li>
                  </ul>
                </div>
              </div>
    

            <a class="tooltip">
                <span class="tooltiptext">Print</span>
                <img src="assets/img/print_button.svg" alt="Print" />
              </a>
            <a class="tooltip last-icon-list" placement="left">
              <span class="tooltiptext triple-word">Generate Report</span>
              <img src="assets/img/generate-report.svg" alt="Generate Report" style="margin-top: 3px;"/>
            </a>
        </div>
    
    </div>

    <div class="full-width bg-white">
        <div class="tab-spc agile-audit-block">
        <div class="content tab-block tab-spec tab-container">
          <div class="border-bottom">
          <ul class="nav nav-tabs nav-tab-scroll" role="tablist">
            <li role="presentation"><a  class="active" href="#tab1" role="tab" data-toggle="tab">Execution</a></li>
            <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">OP-006-Acccount Pay</a></li>
            <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">OP-006-Acccount</a></li>
            <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">OP-006-Acccount Pay Text</a></li>
            <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab">OP-006-Acccount Pay Resting</a></li>
            <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab">OP-006-Acccount Pay assa</a></li>
            <li role="presentation"><a href="#tab7" role="tab" data-toggle="tab">OP-006-Acccount Pay</a></li>
            <li role="presentation"><a href="#tab8" role="tab" data-toggle="tab">OP-006-Acccount</a></li>
            <li role="presentation"><a href="#tab9" role="tab" data-toggle="tab">OP-006-Acccount Pay 9</a></li>
            <li role="presentation"><a href="#tab10" role="tab" data-toggle="tab">Approval 10</a></li>
            <li role="presentation"><a href="#tab11" role="tab" data-toggle="tab">Approval 11</a></li>
            <li role="presentation"><a href="#tab12" role="tab" data-toggle="tab">Approval 12</a></li>
            <li role="presentation"><a href="#tab13" role="tab" data-toggle="tab">OP-006-Acccount Pay Approval</a></li>
            <li role="presentation"><a href="#tab14" role="tab" data-toggle="tab">OP-006-Acccount Pay XXXccc</a></li>
            <li role="presentation"><a href="#tab15" role="tab" data-toggle="tab">OP-006-Acc</a></li>
            <li role="presentation"><a href="#tab16" role="tab" data-toggle="tab">OP-006-Acccount</a></li>
            <li role="presentation"><a href="#tab17" role="tab" data-toggle="tab">OP-006-Acccount Pay 17</a></li>
            <li role="presentation"><a href="#tab18" role="tab" data-toggle="tab">OP-006-Acccount</a></li>
            <li role="presentation"><a href="#tab19" role="tab" data-toggle="tab">OP-006-Acccount Pay Approval 19</a></li>
            <li role="presentation"><a href="#tab20" role="tab" data-toggle="tab">OP-006-Acccount Pay</a></li>
          </ul>
        </div>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
              <div class="outer-spc">
                <div class="row">
                  <div class="col-md">
                  <div class="clearfix l-align">
                    <div class="f-l">
                      <p>Assigned</p>
                      <p>18</p>
                    </div>
                    <div class="f-r">
                    <p>Overdue 02</p>
                  </div>
                  </div>
              
                 <div class="clearfix g-blc">
                    <div class="full-width accordian-container">
                      <div class="accordion form-accordian" id="accordionExampleAssignedOne">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseaccordOne"
                              aria-expanded="true"
                              aria-controls="collapseaccordOne">
                                <div class="headind-box">
                                  <p>CONTROL EXECUTION</p> <p>02</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="collapseaccordOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedOne">
                            <div class="card-body">
              
              
              
                      <div class="progaccordion" id="accordionExamples">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link" type="button"
                              data-toggle="collapse" data-target="#collapseProgOne"
                              aria-expanded="true" aria-controls="collapseProgOne">
                              <p>CE-111 Mortgage Exposure</p>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseProgOne" class="collapse-bg collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
              
                              <div class="progress-bar-block fright">
                              <div class="overall-progress-bar">
                                <label>Control Execution</label>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                      <span class="spec">75<b>%</b></span>
                                    </div>
                                </div>
                            </div>
                          </div>
              
              
                          <div class="progress-bar-block fright">
                            <div class="overall-progress-bar">
                              <label>Actions</label>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                  aria-valuemax="100" style="width: 35%; background-color: #ffcc00;">
                                    <span class="spec" style="background-color: #ffcc00;" >35<b>%</b></span>
                                  </div>
                              </div>
                          </div>
                        </div> 
              
              
              
              <div class="progress-bar-block fright">
                          <div class="overall-progress-bar">
                            <label>Approval</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 65%; background-color: #ffcc00;">
                                  <span class="spec" style="background-color: #ffcc00;" >65<b>%</b></span>
                                </div>
                            </div>
                        </div>
                      </div> 
              
                            </div>
                            <div class="b-pane">
                              <div class="pnt-icon">
                                <a class="tooltip">
                                    <span class="tooltiptext">Print</span>
                                    <img src="assets/img/print_button.svg" alt="Print" />
                                  </a>
                              </div>
                
                
                              <div class="re-sign">
                                <select class="form-control search-select">
                                  <option>Re-asign</option>
                                <option>John Mcmiller</option>
                                <option>Adam Smith</option>
                                <option>Megan H</option>
                                </select>
                                </div>
                
                
                                <div class="opn-form">
                                  <a href="">Open Form</a>
                                </div>
                
                              </div>
                          </div>
              
              
              
              
              
                        </div>
                      
                      
                      </div>
              
              
              
              
              
              
                              <div>
                              <p>CE-214 F/X Exposure</p>
                            </div>
                            <div>
                              <p>CE-054 Model Review</p>
                            </div>
                            <div>
                              <p>CE-211 Overvalue of Credit</p>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="accordion form-accordian" id="accordionExampleAssignedTwo">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseaccordTow"
                              aria-expanded="true"
                              aria-controls="collapseaccordTow">
                                <div class="headind-box">
                                  <p>ACCTIONS</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="collapseaccordTow" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedTwo">
                          </div>
                        </div>
                      </div>
              
              
                      <div class="accordion form-accordian" id="accordionExampleAssignedThree">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseaccordThree"
                               aria-expanded="true"
                               aria-controls="collapseaccordThree">
                                <div class="headind-box">
                                  <p>CONTROL TESTING</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="collapseaccordThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedThree">
                          </div>
                        </div>
                      </div>
              
                      <div class="accordion form-accordian" id="accordionExampleAssignedFour">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapseaccordFour"
                              aria-expanded="true"
                              aria-controls="collapseaccordFour">
                                <div class="headind-box">
                                  <p>ISSUES</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseaccordFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedFour">
                          </div>
              
              
              
                        </div>
                      </div>
              
              
                      </div>
                  </div> 
              
                  </div>
              
                  <div class="col-md">
                    <div class="clearfix l-align">
                    <div class="f-l">
                      <p>Work in Progress</p>
                      <p>12</p>
                    </div>
                    <div class="f-r">
                    <p>Overdue 02</p>
                  </div>
                  </div>
              
                 <div class="clearfix g-blc">
                    <div class="full-width accordian-container">
                      <div class="accordion form-accordian" id="accordionExampleWorkOne">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#accordcollapseOne"
                              aria-expanded="true"
                              aria-controls="accordcollapseOne">
                                <div class="headind-box">
                                  <p>CONTROL EXECUTION</p> <p>02</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="accordcollapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleWorkOne">
                            <div class="card-body">
                              <div class="pie-kart">
                                <p>CE-634 F/X Model Review</p>
                              </div>
                              
                              <p>CE-255 Notificatiion System</p>
                              <p class="wrk-prog">CE-009 Capital Adequacy</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="accordion form-accordian" id="accordionExampleWorkTwo">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#accordcollapseTwo"
                              aria-expanded="true"
                              aria-controls="accordcollapseTwo">
                                <div class="headind-box">
                                  <p>ACTIONS</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="accordcollapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleWorkTwo">
                          </div>
                        </div>
                      </div>
              
              
                      <div class="accordion form-accordian" id="accordionExampleWorkThree">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#accordcollapseThree"
                              aria-expanded="true"
                              aria-controls="accordcollapseThree">
                                <div class="headind-box">
                                  <p>CONTROL TESTING</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="accordcollapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleWorkThree">
                          </div>
                        </div>
                      </div>
              
              
              
                      </div>
                  </div>
              
                  </div>
              
                  <div class="col-md">
                  <div class="clearfix l-align">
                    <div class="f-l">
                      <p>Completed</p>
                      <p class="collect-button">9</p>
                    </div>
                    <div class="f-r">
                    
                  </div>
                  </div>
                  
              
                  <div class="clearfix g-blc">
                    <div class="full-width accordian-container">
                      <div class="accordion form-accordian" id="accordionExampleCompletedOne">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#accordcollapseFive"
                              aria-expanded="true"
                              aria-controls="accordcollapseFive">
                                <div class="headind-box">
                                  <p>CONTROL EXECUTION</p> <p>02</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="accordcollapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleCompletedOne">
                            <div class="card-body">
                              <div class="pie-kart">
                                <p class="wrk-prog">CE-451 Risk Review</p>
                                <p>CE-998 Leverage Ratio</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="accordion form-accordian" id="accordionExampleCompletedTwo">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#accordcollapseSix"
                              aria-expanded="true"
                              aria-controls="accordcollapseSix">
                                <div class="headind-box">
                                  <p>ACTIONS</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="accordcollapseSix" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleCompletedTwo">
                          </div>
                        </div>
                      </div>
              
              
                      <div class="accordion form-accordian" id="accordionExampleCompletedThree">
                        <div class="card according-wing">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-h2">
                              <button class="btn btn-link relative"
                              type="button"
                              data-toggle="collapse"
                              data-target="#acordcollapseSeven"
                              aria-expanded="true"
                              aria-controls="acordcollapseSeven">
                                <div class="headind-box">
                                  <p>CONTROL TESTING</p> <p>03</p>
                                </div>
                                <div class="img-toggle">
                                  <img src="../../../../assets/img/round-img.svg" />
                                </div>
                              </button>
                            </h2>
                          </div>
                  
                          <div id="acordcollapseSeven" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleCompletedThree">
                          </div>
                        </div>
                      </div>
              
              
                      </div>
                  </div>
              
                  </div>
              
              
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2">Tab 2 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab3">Tab 3 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab4">Tab 4 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab5">Tab 5 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab6">Tab 6 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab7">Tab 7 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab8">Tab 8 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab9">Tab 9 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab10">Tab 10 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab11">Tab 11 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab12">Tab 12 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab13">Tab 13 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab14">Tab 14 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab15">Tab 15 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab16">Tab 16 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab17">Tab 17 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab18">Tab 18 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab19">Tab 19 content...</div>
            <div role="tabpanel" class="tab-pane" id="tab20">Tab 20 content...</div>
          </div>



            <!-- <tabset class="tab-block tab-spec">
                <tab heading="Execution">
                   <app-company-approval></app-company-approval>
                </tab>
                <tab heading="Approval">
                   
                </tab>
         
 

            </tabset> -->
            <div id="riskListTable_filter" class="dataTables_filter company-search">
              <label class=""><input type="search" class="" placeholder="Search" aria-controls="riskListTable">
               <img (click)="FilterBtn()" [ngClass]="{ 'd-none': FilterBtnFlag }" class="search-filer-img" src="../../../../../assets/img/search_filter.svg">
               <span (click)="FilterBtnClose()" [ngClass]="{ 'd-block': FilterBtnFlag }"  class="colseFileText">Close Filter</span>
              </label>

              <div class="search-filter-box" [ngClass]="{ 'd-block': FilterBtnFlag }">
                <div class="all-filter">
                  <span class="applied-filters">Applied Filters</span>
                  <span class="sortlisted-filters">Bermuda <img class="closeFilter" src="../../../../../assets/img/close-icon.svg"></span>
                  <span class="clear-Filter">Clear Filter</span>
                </div>
                <div class="filteroptions">
                  <h3>Country</h3>
                  <div class="multiSearchFilters">
                    <ng-multiselect-dropdown
                      [placeholder]="'custom placeholder'"
                      [data]="dropdownList"
                      [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings"
                    >
                    </ng-multiselect-dropdown>


                  <!-- <input class="searchFilterOptions" type="text">
                  <ul>
                    <li>
                      <label class="filterCheckbox">Bermuda
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">DRC
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Indonesia
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">South Africa
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">India
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">USA
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    
                  </ul> -->
                  </div>
                </div>
                <div class="filteroptions">
                  <h3>Firm</h3>
                  <div class="multiSearchFilters">
                    <ng-multiselect-dropdown
                    [placeholder]="'custom placeholder'"
                    [data]="dropdownFirmList"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings"
                  >
                  </ng-multiselect-dropdown>
                  <!-- <input class="searchFilterOptions" type="text">
                  <ul>
                    <li>
                      <label class="filterCheckbox">Marin CHE
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Marin COD
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Marin Holding
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Marin IDN
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Marin FFU
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Marin TTF
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    
                  </ul> -->
                  </div>
                </div>
                <div class="filteroptions">
                  <h3>Department</h3>
                 
                    <div class="multiSearchFilters">
                      <ng-multiselect-dropdown
                      [placeholder]="'custom placeholder'"
                      [data]="dropdownDepartmentList"
                      [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings"
                    >
                    </ng-multiselect-dropdown>

                    <!-- <input class="searchFilterOptions" type="text">
                  <ul>
                    <li>
                      <label class="filterCheckbox">Audit IDN
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Audit IQ
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Audit CHE
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Audit IDN
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Audit FFU
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    <li>
                      <label class="filterCheckbox">Audit TTF
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                    
                  </ul> -->
            
                </div>
              </div>

            </div>

        </div>





        </div>
    </div>

  </div>