.dropedit{
    top:113%;
    padding:0px;
}
.dropeitem{
border-bottom:0.5px solid #cccccc7a;
}
.notificaion-bell .notification-round{background-color:#dd6838;color:#fff;border-radius:50%;width:25px;height:25px;text-align:center;position:absolute;top:-5px;right:-6px;z-index:2;display:none;max-width: 100%;max-height: 100%;padding: 1px;}
.notificaion-bell.in .notification-round{display:block;font-size:10px;}

.navbar-brand {
    width: auto;
}
.b-logo {
    width: 218px;
}
.tooltap {
    position: relative;
    display: inline-block;
    border-bottom:none;
  }
.tooltap .tooltipedit {
  /* Position the tooltip */
   position: absolute;
    z-index: 1;
    top: 115%;
    left:50%;
 
    position:absolute;
   visibility: hidden;
    width: auto;
    font-size: 12px;
    background-color: #664da0;
    color: #fff;
    //border:1px solid #ccc;
    box-shadow:0 0 3px #707070!important;
    text-align: center;
    border-radius: 6px;
    padding: 3px 10px;
    transform:translateX(-50%)

    &.doble-word {
      min-width: 100px;
  }

  &.triple-word {
      min-width: 130px;
  }

  }
 
.tooltap:hover .tooltipedit {
    visibility: visible;
  }


.navbar-nav .nav-item.dropdown.dropdownAuditList a{
    text-align: center;
    position: relative;
    padding-right: 30px;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
   
    .imgDropDown{
        position: absolute;
        right: 5px;
        top: 7px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .yearIn{
        font-size: 20px;
        font-weight: 600;
        color: #707070;
    }
}

.notification {
    padding: 15px;
    left: -38px;
    top:-9px;
    margin-top: 0px;

    a {
      border: 0.5px solid #cccccc7a;
      padding: 15px 20px;
      margin-bottom: 7px;
    }
}


    .close-form{
       background-color: #664da0;
        width: 36px;
        height: 35px;
        position: absolute;
        left: -73px;
        top: -9px;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            transition: 500ms all;
        }
        &:hover{
            background-color: #664da0;
            img{
               transform: rotate(90deg);
            }
        }
    }




.notificationBigcontainer{
    position: fixed;
    right: 0;
    top: 0;
    width: 360px;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: -3px 0px 6px #00000029;
    z-index: 1000000;
    padding-bottom: 10px;
    .closeContainer{
        width: 36px;
        height: 36px;
        position: absolute;
        z-index: 10;
        left: -36px;
        top: 0;
        border: 1px solid #70707059;
        background: #CBCBCB;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .pd-10{
        padding: 10px;
        padding-bottom: 0px;
    }
    .head-nt{
        font-size: 12px;
        color: #644C9F;
        float: left;
        font-weight: 600;
    }
    .mark-nt{
        font-size: 10px;
        color: #6D6D6D;
        float: right;
        font-weight: 600;
    }
    .notification-sub{
        height: calc(~"100% - 18px");
        overflow: hidden;
        overflow-y: visible;
        padding: 10px;
        ul{
            width: 100%;
            float: left;
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                width: 100%;
                float: left;
                margin-top: 8px;
                a{
                    width: 100%;
                    float: left;
                    background: #FEFEFE;
                    border: 1px solid #7070702E;
                    border-radius: 3px; 
                    padding: 10px; 
                    .icon-not{
                        width: 30px;
                        float: left;
                    }
                    .iconbg{
                        width: 29px;
                        height: 29px;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.purple{
                            background-color: #644C9F; 
                        }
                        &.green{
                            background-color: #98AA3A;  
                        }
                    }
                    .detail-not{
                        width: calc(~"100% - 30px");
                        padding-left: 17px;
                        float: left;
                        .det-p{
                            font-size: 12px;
                            letter-spacing: 0px;
                            color: #464646;
                            font-weight: 500;
                            margin-bottom: 0px;
                        }
                        .purple-color{
                            color: #644C9F;
                            padding-right: 5px;
                        }
                        .time{
                            font-size: 10px;
                            letter-spacing: 0px;
                            color: #464646;
                            opacity: 0.57;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
    .navbar-nav {
      flex-direction: initial;
      float: none;
      display: block;
      border:1px solid #dee2ec;

      li.nav-item {
        border-bottom:1px solid #dee2ec;

        &::after {
            background-color: transparent;
        }
      }

  }
  } 
  }