<nav class="navbar fixed-top navbar-expand-lg navbar-light top-menu">
  <div class="b-logo">
    <a class="navbar-brand all-in" [routerLink]="['/rcm/dashboard']">
      <span class="green-font">En</span>
      <span class="purple-font">IA</span>
    </a>
    <a class="navbar-brand two-in" [routerLink]="['/rcm/dashboard']">
      <span class="green-font">En</span>
      <span class="purple-font">Ri</span>
      <span class="green-font">Co</span>
    </a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 mr-auto float-sm-left">
      <div class="input-search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="icon-search">
          <img src="../../../assets/img/ic-search.svg" alt="search_icon" />
        </div>
      </div>
    </form>
    <ul class="navbar-nav">
        <li class="nav-item dropdown dropdownAuditList">
            <a
              class="tooltap nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownTwo"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              
            AUDIT YEAR <br/><span class="yearIn">2020</span>
            <span class="imgDropDown"><img src="../../../assets/img/ic-expand.svg" alt="expand_icon"/></span>
            </a>
            <div class="dropdown-menu dropedit" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item dropeitem" href="#">2019</a>
            </div>
          </li>
      <li class="nav-item hover-image">
        <a class="tooltap nav-link" target="_blank" (click)="openLinkedIn()">
          <span class="tooltipedit">Linkedin</span>
          <span class="main-icon">
            <img src="../../../assets/img/linkedin.svg" alt="linkedin_icon" alt="Linkin" />
          </span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="tooltap nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="tooltipedit">Language</span>
          EN <span><img src="../../../assets/img/ic-expand.svg" alt="expand_icon" /></span>
        </a>
        <div class="dropdown-menu dropedit" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropeitem" href="#">Eng</a>
        </div>
      </li>
      <li class="nav-item hover-image">
        <a class="tooltap nav-link" href="#">
          <span class="tooltipedit">Mail</span>
          <span class="mail-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 19.76">
              <defs>
                <style>
                  .cls-1 {
                    fill: #2b2b2b;
                  }
                </style>
              </defs>

              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path
                    class="cls-1"
                    d="M22.16,19.76H1.84A1.84,1.84,0,0,1,0,17.92V1.84A1.85,1.85,0,0,1,1.84,0H22.16A1.85,1.85,0,0,1,24,1.84V17.92A1.84,1.84,0,0,1,22.16,19.76ZM1.84,1.41a.44.44,0,0,0-.43.43V17.92a.43.43,0,0,0,.43.43H22.16a.43.43,0,0,0,.43-.43V1.84a.44.44,0,0,0-.43-.43Z"
                  />
                  <path
                    class="cls-1"
                    d="M12.71,10.59a.76.76,0,0,1-.43-.14L1,2A.71.71,0,1,1,1.84.85L12.68,9,22.13.88a.7.7,0,0,1,1,.07.71.71,0,0,1-.07,1l-9.89,8.47A.7.7,0,0,1,12.71,10.59Z"
                  />
                  <path
                    class="cls-1"
                    d="M1.5,19.63a.76.76,0,0,1-.58-.27A.75.75,0,0,1,1,18.31l9-7.5a.75.75,0,0,1,1.06.09A.76.76,0,0,1,11,12l-9,7.5A.72.72,0,0,1,1.5,19.63Z"
                  />
                  <path
                    class="cls-1"
                    d="M23.25,18.88a.68.68,0,0,1-.47-.17L14.53,12a.74.74,0,0,1-.11-1.05.75.75,0,0,1,1.05-.11l8.25,6.75a.75.75,0,0,1-.47,1.33Z"
                  />
                </g>
              </g>
            </svg>
          </span>
        </a>
      </li>
      <li class="nav-item hover-image">
        <a
          class="tooltap nav-link"
          (click)="showNot()"
        >
          <span class="tooltipedit">Notification</span>
          <span class="notificaion-bell in">
            <span class="bell-icon">
              <!-- <span class="badge badge-light">{{noOfNotication}}</span> -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.26 24">
                <defs>
                  <style>
                    .cls-1 {
                      fill: #191919;
                    }
                  </style>
                </defs>

                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path
                      class="cls-1"
                      d="M17.13,20.32h-15A2.14,2.14,0,0,1,0,18.18V9.63a9.63,9.63,0,0,1,19.26,0v8.55A2.13,2.13,0,0,1,17.13,20.32ZM9.63,1.37A8.28,8.28,0,0,0,1.37,9.63v8.55a.77.77,0,0,0,.77.76h15a.76.76,0,0,0,.76-.76V9.63A8.27,8.27,0,0,0,9.63,1.37Z"
                    />
                    <path
                      class="cls-1"
                      d="M9.63,24a4.13,4.13,0,0,1-3.84-4.37v-.69h7.69v.69A4.14,4.14,0,0,1,9.63,24Zm-2.4-3.68a2.62,2.62,0,0,0,2.4,2.31A2.64,2.64,0,0,0,12,20.32Z"
                    />
                  </g>
                </g>
              </svg>
            </span>
            <span class="notification-round">{{ noOfNotication }}</span>
          </span>
        </a>
     
      </li>
      <li class="nav-item hover-image">
        <a
          class="tooltap nav-link"
          href="../../../assets/pdf/IA_Manual_Template_v1.pdf"
          target="_blank"
        >
          <span class="tooltipedit triple-word">Question Mark</span>
          <span class="main-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <defs>
                <style>
                  .cls-1 {
                    fill: #2b2b2b;
                  }
                </style>
              </defs>

              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path
                    class="cls-1"
                    d="M12,24A12,12,0,1,1,24,12,12,12,0,0,1,12,24ZM12,1.41A10.59,10.59,0,1,0,22.59,12,10.6,10.6,0,0,0,12,1.41Z"
                  />
                  <rect
                    class="cls-1"
                    x="10.76"
                    y="17.21"
                    width="2.23"
                    height="2.47"
                  />
                  <path
                    class="cls-1"
                    d="M12.85,15.38H10.9V14.3a4.4,4.4,0,0,1,1.89-3.45c.85-.74,1.49-1.29,1.49-2.51A2,2,0,0,0,12,6.25,2.07,2.07,0,0,0,9.76,8.14l-.06.64H7.77L7.83,8A4,4,0,0,1,12,4.32a3.93,3.93,0,0,1,4.19,4,4.76,4.76,0,0,1-2.07,3.87c-.85.76-1.31,1.21-1.31,2.09Z"
                  />
                </g>
              </g>
            </svg>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <!-- [src]="profilePic" -->
          <img [src]="profilePic" /><span class="name-profile">{{
            userName | titlecase
          }}</span
          ><span><img src="../../../assets/img/ic-expand.svg" alt="expand_icon" /></span>
        </a>
        <div class="dropdown-menu dropedit" aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropeitem" (click)="logout()">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="more-options">
   <div class="icon-fixed">
      <span class="main-icon left-line"><img src="../../../assets/img/video-component.svg" (click)="toggleIcon()"></span>
          <span class="hover-icon"><img src="../../../assets/img/video-calling-green.svg" (click)="toggleIcon()"></span>
   </div>
   <div class="expansion-div" [class.toggled]="classToggled">
      <ul>
          <li class="hover-in"><span class="normal"><img src="../../../assets/img/video-component-2.svg"></span>
            <span class="hover-span"><img src="../../../assets/img/video-calling-green.svg"></span>
          </li>
          <li class="hover-in"><span class="normal"><img src="../../../assets/img/upload.svg"></span>
            <span class="hover-span"><img src="../../../assets/img/upload-green.svg"></span></li>
          <li class="hover-in"><span class="normal"><img src="../../../assets/img/record.svg"></span>
            <span class="hover-span"><img src="../../../assets/img/record-green.svg"></span></li>
          <li class="hover-in"><span class="normal"><img src="../../../assets/img/adduser.svg"></span>
            <span class="hover-span"><img src="../../../assets/img/add-user-green.svg"></span></li>
          <li class="hover-in"><span class="normal"><img src="../../../assets/img/messages.svg"></span>
            <span class="hover-span"><img src="../../../assets/img/chat-green.svg"></span></li>
          <li (click)="toggleIcon()"  class="hover-in">
              <span><img src="../../../assets/img/close.svg"></span>
              <span class="hover-span"><img src="../../../assets/img/close_hover.svg"></span>
            </li>
      </ul>
  </div>
</div> -->


<div class="notificationBigcontainer" *ngIf="notificationBar">
  <div class="closeContainer" (click)="closNot()">
    <img src="../../../assets/img/close-notification.svg" alt="close_icon">
  </div>
   <div class="full-width pd-10">
      <span class="head-nt">Notifications</span>
      <span class="mark-nt">Mark all as read</span>
   </div>
   <div class="full-width notification-sub" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
     <ul>
       <li *ngFor="let content of notifications">
         <a [routerLink]="[content.routerLink]"
         (click)="goToTab(content)"
         >
           <div class="icon-not">
               <div class="iconbg purple" *ngIf="content.workType =='Execution'">
                  <img src="../../../assets/img/icon-exec.svg" alt="exec_icon">
                
               </div>
               <div class="iconbg green" *ngIf="content.workType =='Approval'">
                  
                  <img src="../../../assets/img/icon-approval.svg" alt="appr_icon">

               </div>
           </div>
           <div class="detail-not">
             <p class="det-p"><span [ngClass]="{'purple-color': content.workType =='Execution' ,'green-color': content.workType =='Approval' }">{{ content.ActionID }}</span> 
              assigned to you for {{content.workType}}</p>
             <!-- <p class="time">05:15pm</p> -->
           </div>
         </a>
       </li>
     </ul>
   </div>
</div>