<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleSeven">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="Close" />
  </div>
  <div class="full-width from-heading-box relative" #myHandleSeven>
    <div class="text-area-sec">
      <h4>Control Testing : Capital Adequacy</h4>
    </div>

    <div class="r-number">
      <p class="text-design">CT-009</p>
    </div>
    <div class="icons-in">
      <ul>
        <li>
          <a>
            <img src="../../../../../assets/img/duplicate-form.svg" alt="" />
          </a>
        </li>
        <li>
          <a>
            <img src="../../../../../assets/img/upload-form.svg" alt="" />
          </a>
        </li>
        <li>
          <a>
            <img src="../../../../../assets/img/print-form.svg" alt="" />
          </a>
        </li>
        <li>
          <a>
            <img src="../../../../../assets/img/share-form.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <div class="full-width tab-section-container">
      <div class="full-width">
        <tabset class="tab-block">
          <tab>
            <ng-template tabHeading>
              <span>Details</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="half-tab">
                  <div class="full-width">
                    <div class="form-group">
                      <label>Frequency</label>
                      <select class="form-control">
                        <option>Weekly</option>
                        <option>Daily</option>
                        <option>Yearly</option>
                        <option>Monthly</option>
                      </select>
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Control Description</label>
                      <textarea class="form-control potential-text" disabled>
To ensure adequate capital</textarea
                      >
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Control Type</label>
                      <select class="form-control" disabled>
                        <option>Select Option</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <div class="full-width">
                    <label class="label-in">Department</label>
                    <div class="checkbox-container">
                      <div class="form-group">
                        <label class="custom-radio"
                          >Any
                          <input
                            type="radio"
                            checked="checked"
                            name="department"
                            disabled
                          />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="seperator">
                      <span>- OR -</span>
                    </div>
                    <div class="form-container-box">
                      <div class="form-group">
                        <select class="form-control" disabled>
                          <option>Finance</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="full-width">
                    <label class="label-in">Process</label>
                    <div class="checkbox-container">
                      <div class="form-group">
                        <label class="custom-radio"
                          >Any
                          <input
                            type="radio"
                            checked="checked"
                            name="process-three"
                            disabled
                          />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="seperator">
                      <span>- OR -</span>
                    </div>
                    <div class="form-container-box">
                      <div class="form-group">
                        <select class="form-control" disabled>
                          <option>Loans</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Legal Reference</label>
                      <input
                        type="text"
                        class="form-control"
                        value="What came first, risk control 001"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="key-control">
                      <label class="label-in">Key Control </label>

                      <div class="switch-container-list">
                        <div class="onoffswitch">
                          <input
                            type="checkbox"
                            name="keycontrolswitchbutton1"
                            class="onoffswitch-checkbox"
                            id="Issueswitch1"
                          />

                          <label
                            class="onoffswitch-label"
                            for="keycontrolswitch"
                          >
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="key-control">
                      <label class="label-in">Issue </label>

                      <div class="switch-container-list">
                        <div class="onoffswitch">
                          <input
                            type="checkbox"
                            name="keycontrolswitchbutton"
                            class="onoffswitch-checkbox"
                            id="Issueswitch"
                          />

                          <label class="onoffswitch-label" for="Issueswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="half-tab secound">
                  <div class="full-width">
                    <div class="form-group">
                      <label>Control Guidance</label>
                      <textarea class="form-control" disabled>
..............</textarea
                      >
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="full-width box-layout">
                      <div class="full-width">
                        <div class="content-label left">Manual</div>
                        <div class="toggle-content-container diffrerent-style">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              name="controlguidancebutton"
                              class="onoffswitch-checkbox"
                              id="controlguidanceswitch"
                              checked
                            />
                            <input
                              type="checkbox"
                              name="controlguidancebutton"
                              class="onoffswitch-checkbox"
                              id="controlguidanceswitch"
                            />

                            <label
                              class="onoffswitch-label"
                              for="controlguidanceswitch"
                            >
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                        <div class="content-label right">Automatic</div>
                        <div class="checkbox-container custom-container">
                          <div class="form-group">
                            <label class="custom-radio"
                              >Both
                              <input
                                type="checkbox"
                                id="automaticOff"
                                name="process"
                              />
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="content-label left">Detecting</div>
                        <div class="toggle-content-container diffrerent-style">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              name="controlguidancebutton1"
                              class="onoffswitch-checkbox"
                              id="controlguidanceTwoswitch"
                              checked
                            />
                            <input
                              type="checkbox"
                              name="controlguidancebutton1"
                              class="onoffswitch-checkbox"
                              id="controlguidanceTwoswitch"
                            />

                            <label
                              class="onoffswitch-label"
                              for="controlguidanceTwoswitch"
                            >
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                        <div class="content-label right">Preventing</div>
                        <div class="checkbox-container custom-container">
                          <div class="form-group last-one">
                            <label class="custom-radio"
                              >Both
                              <input
                                type="checkbox"
                                id="preventingOff"
                                value="!preventingVal"
                                name="process-two"
                              />
                              <span class="checkmark"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="full-width box-layout secound-one">
                      <ul class="list-of-control-guidance">
                        <li>
                          <div class="checkbox-container-div">
                            <label class="checkbox">
                              <input type="checkbox" />
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="checkbox-details-li">
                            Inspection of evidence that it was performed
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-container-div">
                            <label class="checkbox">
                              <input type="checkbox" checked />
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="checkbox-details-li">
                            Re-performance to validate outcomes
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-container-div">
                            <label class="checkbox">
                              <input type="checkbox" />
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="checkbox-details-li">
                            Inquiry - How is it performed
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-container-div">
                            <label class="checkbox">
                              <input type="checkbox" checked />
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="checkbox-details-li">
                            Observation of the control being performed
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="full-width range-in">
                    <div class="range-content">Control Risk</div>
                    <div class="range-container">
                      <div class="slidecontainer ct-range">
                        <input
                          type="range"
                          min="1"
                          max="100"
                          value="40"
                          class="range-control very-high"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="full-width question-container question-top-2">
                    <div class="questions">
                      <p class="question-tag">Tests</p>
                    </div>
                    <div class="button-radio">
                      <div class="onoffswitch">
                        <input
                          type="checkbox"
                          name="assignbutton"
                          class="onoffswitch-checkbox"
                          id="assignswitch"
                          checked
                        />
                        <label class="onoffswitch-label" for="assignswitch">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="full-width seperate-section">
                  <div class="full-width">
                    <div class="form-group">
                      <label>Test Results</label>
                      <textarea class="form-control">
This has to be performed</textarea
                      >
                    </div>
                  </div>
                </div>
                <div class="full-width question-container-1">
                  <div class="questions">
                    <p class="question-tag">Attachments</p>
                    <div class="button-radio">
                      <div class="onoffswitch">
                        <input
                          type="checkbox"
                          name="addcontrolbutton"
                          class="onoffswitch-checkbox"
                          id="addcontro"
                          checked
                        />
                        <label class="onoffswitch-label" for="addcontro">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                  <!-- Search popup open added by Abu - 18-09-2020 start -->

                  <div
                  class="full-width question-container-1"
                 
                >
                 <div class="add-file" (click)="addnewFile()">
                        <label for="upload-photo"
                          ><img
                            src="../../../../../assets/img/plus.png" alt=""
                            width="20px"
                          />Add New</label
                        >     
                  </div>
                </div>

                <!-- Search popup open added by Abu - 18-09-2020 end -->
              
              </div>
            </div>
            <div class="full-width button-container">
              <button class="big-button">Save</button>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <span>Issues</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Add Issue</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width table-style">
                <div class="full-width overflow-auto">
                  <table class="table">
                    <caption></caption>
                    <thead>
                      <tr>
                        <th scope="col">Issue ID</th>
                        <th scope="col">Issue Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Issue Type</th>
                        <th scope="col">Department</th>
                        <th scope="col">Issue Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  
<!-- Search popup added by Abu - 18-09-2020 Start -->
<div class="new-chat-popup-maincontainer add-document-new p-0" *ngIf="editsearchDocument">
  <div class="close-form" (click)="closeSearch()">
    <img src="../../../../../assets/img/close-form.svg">    
  </div>
  <div class="intray-search">
    <div class="for-auditor-search">
      <div class="dataTables_filter form-group">
        <label>
          <input type="search" name="search" 
            placeholder="Search for documents" class="form-control">
        </label>
      </div>
      <div class="search-filter-box">

        <tabset class="tab-block filteroptions" #staticTabs>
          <tab>
            <ng-template tabHeading>
              <h3>All Results</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown> 
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>PBC</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>DMS</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
        </tabset>

        <div class="upload-submit text-center">
          <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
        </div>
        <div class="filteroptions upload-load-file-block">
          <h3>Upload from Local machine</h3>
          <input type="file" class="custom-file-input" >
        </div>
      </div>
    </div>
    <div class="for-auditor-search" style="display: none;">
      <div class="search-filter-box">
        <div class="filteroptions">
          <h3>Upload file from Local machine</h3>
          <input type="file" class="custom-file-input">
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Search popup added by Abu - 18-09-2020 end -->
</div>
