<div class="table-header" *ngIf="!isLoading">
  <div class="col-xs-6 col-lg-8 icon-list float-right no-padding">
    <a href="#" class="tooltip">
      <span class="tooltiptext">Print</span>
      <img src="assets/img/print_button.svg" alt="Print" />
    </a>
    <div class="dropdown export-dropdown">
      <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tooltiptext">Export</span>
        <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
      </a> 
      <div class="dropdown-menu export-dropdown-menu"></div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <table id="riskListAssementTable" class="display button-table fullDataTable" style="width: 100%;">
    <thead>
      <tr>
        <th></th>
        <th>
          <input type="checkbox" name="select_all" value="1" id="assement-list-select-all" />
        </th>
        <th>Area</th>
        <th>Risk ID</th>
        <th>Risk Name</th>
        <th>Risk Description</th>

        <th>Residual Risk</th>
        <th class="year-th">2015</th>
        <th class="year-th">2019</th>
        <th class="text-center action-block">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of RiskListData; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">{{ response?.riskArea }}</td>
        <td class="reorder-row">
          <a [ngClass]="{
            'very-high': response.iresult == 3,
            'very-low': response.iresult == 2,
            medium: response.iresult == 1,
            link: response.iresult == 0
          }" class="btn risk-btn" (click)="loadRiskEditComponent(response?.riskId)">{{ response?.riskId }}
          </a>
        </td>

        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response?.riskName.length > 76 }">
            <span class="read-more-text">{{ response?.riskName | titlecase }}</span>
            <span class="tooltiptext">{{ response?.riskName | titlecase }}</span>
          </div>
          </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response?.riskDescription.length > 90 }">
            <span class="read-more-text">{{ response?.riskDescription }}</span>
            <span class="tooltiptext">{{ response?.riskDescription }}</span>
          </div>
        </td>
        <td>
          <a class="btn btn-primary risk-btn medium" [ngClass]="{
            'very-high': response.rresult == 3,
            'very-low': response.rresult == 2,
            medium: response.rresult == 1,
            normal: response.rresult == 0
          }" (click)="loadMyChildComponent(response.riskAssessmentId[0], false)"
            *ngIf="response.mydata?.length > 0">{{ response.riskAssessmentId[0] }}</a>
          <a class="ra-add-btn" *ngIf="response.mydata?.length === 0" (click)="loadAddNewComponent(response, true)"
            data-toggle="tooltip" title="New Assessment">
            <img src="assets/img/add_button.svg" alt="Add" />
          </a>
        </td>

        <td class="reorder-row">
          <button *ngIf="i <= 1 || i === 4" class="btn btn-primary year-button medium">
            medium
          </button>
          <button *ngIf="i === 2" class="btn btn-primary year-button low">
            low
          </button>
          <button *ngIf="i === 3" class="btn btn-primary year-button high">
            high
          </button>
        </td>
        <td class="reorder-row">
          <!-- {{i}} -->
          <button *ngIf="i === 0 || i === 4" class="btn btn-primary year-button medium">
            medium
          </button>
          <button *ngIf="i === 1" class="btn btn-primary year-button low">
            low
          </button>
          <button *ngIf="i === 2" class="btn btn-primary year-button low">
            low
          </button>
          <button *ngIf="i === 3" class="btn btn-primary year-button medium">
            medium
          </button>

          <!-- <button class="btn btn-primary year-button medium">medium</button> -->
        </td>
        <td align="center">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu">
              <ul>
                <li>
                  <a (click)="
                    loadMyChildComponent(response.riskAssessmentId[0], false)
                  " class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a>
                    <img src="assets/img/delete_button.svg" alt="Delete" />
                    <span>Delete</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="full-width common-accordian">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link relative btn-full" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <h3 class="strip-line"><span>Cases</span></h3>
            <div class="toggle-image-container">
              <img src="../../../../../assets/img/round-img.svg" />
            </div>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body table-responsive">
          <table class="table table-bordered table-caseid" id="case-detail-table">
            <thead>
              <tr>
                <th width="10%">ID</th>
                <th width="20%">Name</th>
                <th width="30%">Description</th>
                <th width="20%">Goal</th>
                <th width="20%">Expected Completion</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><a href="" class="btn risk-btn link">A-007</a></td>
                <td>
                  <p>Automated Measurement Of</p>
                </td>
                <td>
                  The Process of the reviewing Eigmental will be automated and
                  the system controls
                </td>
                <td>Automatic continuous Measurement of Eigmental</td>
                <td>30.02.2020</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-risk-assessment-form [riskAssementId]="oneRiskAssesment" [componentData]="RiskListData"
  (eventClosed)="modalClosed($event)" *ngIf="loadComponent">
</app-risk-assessment-form>
<app-add-new-assessment [riskAssementId]="oneRiskAssesment" [componentData]="RiskListData"
  (eventClosed)="modalClosed($event)" *ngIf="newResidualRiskComponent"></app-add-new-assessment>
<app-risk-edit-form *ngIf="openRiskEditForm" [riskData]="selectedRiskId"
  (closedRiskDefForm)="getRiskEditFormStatus($event)">

</app-risk-edit-form>