.ra-add-btn {
    padding-left: 8px;
    cursor: pointer;
}

@media (max-width:798px) {
  .table-header {
    width: auto;
  }
    .table-header .icon-list {
        text-align: initial;
    }
    .filter-dropdown-column {
      margin-left: 10px;
  } 
}

risk-btn.normal:hover {
 
    cursor: pointer;

  background:#5a4296;
  color: #5a4296;
  border: #5a4296;
}

.risk-btn.normal {
  cursor: pointer;
  background:white;
  color:#5a4296;
  border:1px solid;
  
}



.risk-btn.normal:hover {
  background-color: #5a4296;
  color: #fff!important;
  text-decoration: none;
}
// .btn.btn.primary  {

// background: #ffffff;
// color:purple;
// border: purple;
// }

.action-dropdown {
    .dropdown-menu {
      min-width: 79px;
      padding: 0;
      margin-top: 0;
      height: auto;

        ul {
          padding: 0;
          list-style: none;
          margin: 0;
        }
        li {
          border-bottom: 1px solid #ddd;
        }
        a {
          cursor: pointer;
          margin: 0;
          width: 100%;
          display: inline-block;
          padding: 6px;
          font-size: 12px;
          color: #212529;

          img  {
            width: 12px;
          }
          span {
            padding-left: 5px;
          }
        }
    }
}