.outer-spc {
  padding: 15px;

  .l-align {
    // display: flex;
    // justify-content: space-between;
    .f-l {
      float: left;
      p {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        padding-right: 8px;
      }
      p:nth-child(2) {
        background-color: #9f90c4;
        padding: 0px 9px 0px 6px;
        border-radius: 8px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        align-self: center;
      }
    }

    .f-r {
      float: right;
      p {
        background-color: #dd6838;
        padding: 3px 8px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 10px;
        align-self: center;
        margin-bottom: 0;
        margin-top: 5px;
      }
    }
  }
  .g-blc {
    padding: 10px;
    background-color: #ececec;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    min-height: calc(~"100% - 41px");
  }
}

.accordian-container .form-accordian .headind-box {
  background-color: #ececec;
  display: flex;
  top: -14px;

  p {
    margin: 0px;
    color: #6d6d6d;
    font-weight: 600;
  }
  p:nth-child(2) {
    margin-left: 10px;
    background-color: #9f90c4;
    padding: 0px 9px 0px 6px;
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
  }
}
.accordion {
  padding: 8px 0px;
}
.accordian-container .img-toggle {
  position: absolute;
  right: -4px;
  top: -14px;
}
.accordian-container .card {
  background-color: transparent;
  border: 0px;
}
.accordian-container .card-body {
  padding: 0px;
  margin: 20px 0px 10px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.accordian-container .card-body p {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  color: #745daa;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #745daa;
  cursor: pointer;
}

.accordian-container .card-body .pie-karts p {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  color: #dd6838;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #dd6838;
}

.accordian-container .card-header {
  background-color: transparent;
  border-bottom: 0;
  padding: 0px;
  line-height: 0px;
}
.accordian-container .card-header h2.text-h2 {
  font-size: 20px;
  line-height: 0px;
  height: 0px;
}
.accordian-container .btn.btn-link {
  border: 1.25px solid #d3d3d3;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
.check-same-lineheight .switch {
  line-height: 16px;
}

// .tab-block.tab-spec ul.nav-tabs li a{
//   font-weight: 700;
// }
.onoffswitch {
  .onoffswitch-label {
    .onoffswitch-switch {
      height: 17px;
    }
  }
}

.audit-view-block {
  .no-padding {
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  .add-new-audits-drop {
    margin-bottom: 10px;
  }
}
.first-toggle {
  float: left;
  margin-right: 50px;
}
.secound-toggle {
  float: left;
}

.add-new-audits-drop .dropdown-menu.dropdownAudit {
  min-width: 110px;
  border: 1px solid #707070;
  right: -5px;
  margin-top: 10px;
  padding: 10px 0px;
  padding-bottom: 4px;
  transform: none !important;
  top: 25px !important;
  &:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #707070;
    content: "";
    position: absolute;
    right: 6px;
    top: -10px;
  }
  &:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    content: "";
    position: absolute;
    right: 8px;
    top: -8px;
  }
  ul li {
    border-bottom: 0px;
    a {
      text-align: right;
      font-weight: 600;
    }
  }
}

.progress-bar-block {
  .image-people {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-right: 5px;
    li {
      float: left;
      padding-top: 5px;
      margin-right: -5px;
      img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
}
.outer-spc {
  padding: 15px;

  .l-align {
    // display: flex;
    // justify-content: space-between;
    .f-l {
      float: left;
      p {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        padding-right: 8px;
        margin-bottom: 6px;
      }
      p:nth-child(2) {
        background-color: #9f90c4;
        padding: 0px 9px 0px 6px;
        border-radius: 8px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        align-self: center;
      }
    }

    .f-r {
      float: right;
      p.counter {
        width: 26px;
        height: 18px;
        background: #644c9f;
        color: #fff;
        border-radius: 7px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        margin-top: 6px;
        line-height: 17px;
        padding: 0px;
      }
    }
  }
  .g-blc {
    padding: 10px;
    background-color: #ececec;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: calc(~"100% - 33px");
  }
}

.accordian-container .form-accordian .headind-box {
  background-color: #ececec;
  display: inherit;
  position: inherit;
  top: inherit;
  left: inherit;
  float: left;

  p {
    margin: 0px;
    color: #6d6d6d;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
  }
  p:nth-child(2) {
    margin-left: 10px;
    background-color: #9f90c4;
    padding: 0px 9px 0px 6px;
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
}
.accordion {
  padding: 8px 0px;
}
.accordian-container .img-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
}
.accordian-container .card {
  background-color: transparent;
  border: 0px;
}
.accordian-container .card-body {
  padding: 0px;
  margin: 20px 0px 10px;
  margin-top: 0px;
}
.accordian-container .card-body p {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  color: #745daa;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #745daa;
}

.accordian-container .card-body .pie-karts p {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  color: #dd6838;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #dd6838;
}

.accordian-container .card-header {
  background-color: transparent;
  border-bottom: 0;
  padding: 0px;
  line-height: 0px;
}
.accordian-container .card-header h2.text-h2 {
  font-size: 20px;
  line-height: 0px;
  height: auto;
}
.accordian-container .btn.btn-link {
  border: 0px;
  position: relative;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.mainbtn {
  margin-bottom: 10px;
}
.mainbtn&:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #d3d3d3;
}


.dropdown.show.position-relative.add-new-audits-drop{
  margin-bottom: 7px;
}
.btn-link.btn-block{
  line-height: 16px;
}
.btnStatus{
  margin-bottom: 0px;
  span{
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 8px;
    color: #fff;
    border-radius: 3px;
  }
  &.rejected{
    span{
      background-color:#DD6838;
    }
  }
  &.approval{
    span{
      background-color:#98AA3A;
    }
   
  }
}

.auditer-icon{
  position: absolute;
  right: 45px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 25px;
    height: 25px;
    border-right: 50%;
  }
}

.ng-autocomplete{
  width: 100% !important;
}
