<div class="full-width breadcrumbs">
  <ul>
    <li>
      <a>Home</a>
  </li>
    <li>
      <a>Admin</a>
    </li>
    <li>
      <a>Company Structure</a>
    </li>
  </ul>
</div>
<div class="full-width bg-white">
  <app-admin-dynamic-view [highIssueCount]="0" [mediumIssueCount]="0" [lowIssueCount]="0" [auditId]="activeAuditId" [assignedCount]="0" [wipCount]="0 + 0" [completedCount]="0 + 0" [pieData]="activeAuditId" [graphData]="AllTaskGraphData">
  </app-admin-dynamic-view>
</div>
<div class="full-width audit-view-block check-same-lineheight">
  <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12 control-risk-switch float-left no-padding">
    <div class="first-toggle" *ngIf="this.isAuditLead">
      <span class="left-text">My View</span>
      <label class="switch">
        <input type="checkbox" (change)="changeView($event)" />
        <span class="slider-switch-btn round"></span>
      </label>
      <span class="right-text">Team View</span>
    </div>

    <!-- <div class="secound-toggle">
      <div class="button-radio">
        <label>All Audits</label>
        <div class="onoffswitch">
          <input type="checkbox" name="riskownerswitchbutton" class="onoffswitch-checkbox" id="allaudits" />
          <label class="onoffswitch-label" for="allaudits">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
    </div> -->
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 icon-list float-right no-padding text-right">
    <div class="dropdown show position-relative add-new-audits-drop">
      <div class="float-left relative">
        <!-- *ngIf="isAuditLead" -->
        <a *ngIf="isAuditLead" class="tooltip" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="tooltiptext">Template</span>
          <img src="assets/img/Audit-icon.svg" alt="Print" />
        </a>
        <div class="dropdown-menu dropdown-menu-text dropdownSearch">
          <div class="form-group">
              <div class="ng-autocomplete">
                  <ng-autocomplete #auto
                    [data]="templateList"
                    [searchKeyword]="keyword"
                    minQueryLength=2
                    debounceTime=400
                    placeHolder="Search for the templates"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                
                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>
                
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
            <!-- <select class="form-control" (change)="selectedTemplate($event.target.value)">
              <option value="">Select Template</option>
              <ng-container *ngFor="let a of predefinedAudits">
                <option [value]="a.auditId">
                  <span>{{ a.auditId }}</span>- <span>{{ a.auditableEntity }}</span>
                </option>
              </ng-container>
            </select> -->
          </div>
        </div>
      </div>
      <div class="float-left relative">
        <a class="tooltip add-new-button" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="tooltiptext doble-word">Add New</span>
          <img src="assets/img/add_button.svg" alt="Add" />
        </a>
        <div class="dropdown-menu dropdown-menu-text dropdownAudit">
          <ul>
            <li>
              <a (click)="openIssue()">New Issue</a>
            </li>
            <!-- <li>
          <a (click)="newActionPopup()">New Action</a>
        </li> -->
            <li>
              <a (click)="newPbcPopup()" >Open PBC</a>
            </li>
            <!-- <li>
          <a (click)="newFieldworkPopup()">New Fieldwork</a>
        </li> -->
            <li>
              <a (click)="openWorkstep()">New Work-Step</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <a class="tooltip add-new-button">
            <span class="tooltiptext doble-word">Add Risk</span>
            <img src="assets/img/add_button.svg" alt="Add" />
            <ul class="dropdown">
                <li>New Issue</li>
                <li>New Action</li>
                <li>New Control</li>
                <li>New Risk</li>
            </ul>
          </a> -->
      <a class="tooltip">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print" />
      </a>
      <a class="tooltip last-icon-list" placement="left" (click)="generateReport()" *ngIf="isAuditLead">
        <span class="tooltiptext triple-word">Generate Report</span>
        <img src="assets/img/generate-report.svg" alt="Generate Report" style="margin-top: 3px;" />
      </a>
    </div>
  </div>
</div>
<div class="full-width bg-white">
  <div class="tab-spc agile-audit-block">
    <div class="content tab-block tab-spec tab-container newTabContainer">
      <div class="border-bottom" *ngIf="displayTabs">
        <ul class="nav nav-tabs nav-tab-scroll" role="tablist" id="myTabs">
          <li role="presentation" >
            <a [ngClass]="{ active: activeAuditId == 'BrainStorm' }" href="#BrainStorm" role="tab"
              data-toggle="tab">OP-000-IT</a>
          </li>
          <li role="presentation" *ngFor="let audit of auditData; let i = index">
            <a href="#{{ audit.auditId }}" [attr.id]="audit.auditId" (click)="getOneAuditDetail(audit, $event)"
              role="tab" [ngClass]="{ active: activeAuditId == audit.auditId }"
              data-toggle="tab">{{ audit.auditId }}-{{ audit.auditableEntity | titlecase }}</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" [ngClass]="{ active: activeAuditId == 'BrainStorm' }" id="BrainStorm">
          <app-brainstorm></app-brainstorm>
        </div>
        <div role="tabpanel" class="tab-pane" [ngClass]="{ active: activeAuditId == activeBoard.audit }"
          id="{{ activeBoard.audit }}" *ngIf="activeBoard.ws">
          <div class="outer-spc">
            <div class="row">
              <!-- Assigned -->
              <div class="col-md">
                <!-- total assign count -->
                <div class="clearfix l-align">
                  <div class="f-l">
                    <p>Assigned</p>
                  </div>
                  <div class="f-r">
                    <p class="counter">{{assignedWsCount}}</p>
                  </div>
                </div>

                <div class="clearfix g-blc newin">
                  <div class="full-width accordian-container">
                    <div class="accordion form-accordian" id="accordionExampleAglie">
                      <div class="card according-wing">
                        <!-- audit program count -->
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0 text-h2">
                            <button class="btn btn-link relative mainbtn" type="button" data-toggle="collapse"
                              data-target="#collapseaccordOne" aria-expanded="true" aria-controls="collapseaccordOne">
                              <div class="headind-box">
                                <p>AUDIT PROGRAM</p>
                                <p>{{assignedWsCount}}</p>
                              </div>
                              <div class="img-toggle">
                                <img src="../../../../assets/img/round-img.svg" />
                              </div>
                            </button>
                          </h2>
                        </div>

                        <div id="collapseaccordOne" class="collapse show" aria-labelledby="headingOne"
                          data-parent="#accordionExampleAglie">
                          <div class="card-body">
                          <ng-container *ngFor="let ws of activeBoard.ws;let i = index">
                            <!-- auditLead && reviewer.status == 'assigned' || reviewer.status == 'approval'  assinged-->
                            <!-- auditor && preparer.status == 'assigned' assigned -->
                            <!-- auditor && reviewer.status == 'rejected' show pill  -->

                            <!-- if teamview && preparer.status && wip assigned completed -->
                            <!-- my view -->
                            <!-- (!teamView && ((isAuditLead && ))) -->
                            <!-- (!teamView && ((isAuditLead && && ws.reviewer.status == 'assigned' || ws.reviewer.status == 'approval' ))&& (!isAuditLead && ws.preparer.status == 'assigned' )) )      ||    !(!teamView && ((isAuditLead && && ws.reviewer.status == 'assigned' || ws.reviewer.status == 'approval' ))&& (!isAuditLead && ws.preparer.status == 'assigned' )) ) -->
                            <div class="accordion inneraccordianIn" 
                            *ngIf="(!teamView && ((isAuditLead && (ws.reviewer.status == 'assigned' || ws.reviewer.status == 'approval')) || (!isAuditLead && ws.preparer.status == 'assigned') )) || (teamView &&  ( (isAuditLead && ws.preparer.status == 'assigned') ))" [id]="'accordionSubOne'+i">
                              <!-- <ng-container *ngFor="let ws of activeBoard.ws"> -->
                                <div class="card" >
                                  <div class="card-header" id="headingSubOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" [attr.data-target]="'#collapseOneAglie'+i" aria-expanded="false"
                                        aria-controls="collapseOneAglie">
                                        <div class="imgleft">
                                          <img src="../../../../../assets/img/tick.svg" />
                                        </div>
                                        <div class="contentleft">
                                          <span class="contentabt"><span class="idnum">{{
                                              ws.workStepId
                                            }}</span>
                                            {{ ws.workStepName }}
                                          </span>
                                          <div class="full-width btnStatus" *ngIf="ws.reviewer.status == 'rejected' || ws.reviewer.status == 'approval'" [ngClass]="[ws.reviewer.status == 'rejected' ? 'rejected' : ws.reviewer.status == 'approval' ? 'approval' : '']">
                                            <!-- for approval - add class - 'approval' and remove 'rejected' -->
                                            <span>{{ws.reviewer.status == 'rejected' ? 'REJECTED' : ws.reviewer.status == 'approval' ? 'FOR APPROVAL' : ''}}</span></div>
                                        </div>
                                        <div class="count-number">
                                          <span>{{ws.workingPapers.length}}</span>
                                        </div>
                                        <div class="auditer-icon" *ngIf="ws.preparer.username && ws.preparer.username.length > 0">
                                            <img [src]="baseUrl + ws.preparer.profileUrl" />
                                        </div>
                                      </button>
                                    </h2>
                                  </div>

                                  <div [id]="'collapseOneAglie'+i" class="collapse-lines collapse"
                                    aria-labelledby="headingSubOne" data-parent="#accordionSubOne">
                                    <div class="card-body card-sec">
                                      <ul class="audit-program">
                                        <li *ngFor="let wp of ws.workingPapers">
                                          {{ wp.documentName }}
                                        </li>
                                      </ul>
                                      <div class="full-width btn-without-delete" [ngClass]="{'btn-with-delete': (!teamView && ws.createdBy == tokenClaims.username) || (teamView && ws.reviewer.status == 'sent')}">
                                          <button class="btn delete-workstep" *ngIf="(!teamView && ws.createdBy == tokenClaims.username) || (teamView && ws.reviewer.status == 'sent')" (click)="deleteWorkStep(ws.workStepId)">
                                              Delete Work Step
                                            </button>
                                        <button class="btn opn-wrkbtn" (click)="editWS(ws.workStepId)">
                                          Open Work Step
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <!-- </ng-container> -->
                            </div>
                            <!-- team VIEW -->
                            
                          </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- WIP -->
              <div class="col-md">
                <div class="clearfix l-align">
                  <div class="f-l">
                    <p>Work in Progress</p>
                  </div>
                  <div class="f-r">
                    <p class="counter">{{wipWsCount + wipIssueCount}}</p>
                  </div>
                </div>

                <div class="clearfix g-blc">
                  <div class="full-width accordian-container">
                    <div class="accordion form-accordian" id="accordionExampleNew">
                      <!-- WIP WS -->
                      <div class="card according-wing">
                        <div class="card-header" id="headingTwo">
                          <h2 class="mb-0 text-h2">
                            <button class="btn btn-link relative mainbtn" type="button" data-toggle="collapse"
                              data-target="#collapseaccordTwo" aria-expanded="true" aria-controls="collapseaccordTwo">
                              <div class="headind-box">
                                <p>AUDIT PROGRAM</p>
                                <p>{{wipWsCount}}</p>
                              </div>
                              <div class="img-toggle">
                                <img src="../../../../assets/img/round-img.svg" />
                              </div>
                            </button>
                          </h2>
                        </div>

                        <div id="collapseaccordTwo" class="collapse show" aria-labelledby="headingTwo"
                          data-parent="#accordionExampleNew">
                          <div class="card-body">
                            <ng-container *ngFor="let ws of activeBoard.ws;let i = index">
                              <div class="accordion inneraccordianIn" [id]="'accordionSubTwo'+i" *ngIf="(!teamView &&  ( (isAuditLead && ws.reviewer.status == 'wip') || (!isAuditLead && ws.preparer.status == 'wip') )) || (teamView && isAuditLead && ws.preparer.status =='wip')">
                                  <div class="card" >
                                  <div class="card-header" id="headingSubOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" [attr.data-target]="'#collapseOneAgliew'+i" aria-expanded="false"
                                        aria-controls="collapseOneAgliew">
                                        <div class="imgleft">
                                          <img src="../../../../../assets/img/tick.svg" />
                                        </div>
                                        <div class="contentleft">
                                          <span class="contentabt"><span class="idnum">{{
                                              ws.workStepId
                                            }}</span>
                                            {{ ws.workStepName }}
                                          </span>
                                          <div class="full-width btnStatus" *ngIf="ws.reviewer.status == 'rejected' || ws.reviewer.status == 'approval'" [ngClass]="[ws.reviewer.status == 'rejected' ? 'rejected' : ws.reviewer.status == 'approval' ? 'approval' : '']">
                                            <!-- for approval - add class - 'approval' and remove 'rejected' -->
                                            <span>{{ws.reviewer.status == 'rejected' ? 'REJECTED' : ws.reviewer.status == 'approval' ? 'FOR APPROVAL' : ''}}</span></div>
                                        </div>
                                        <div class="count-number">
                                          <span>{{ws.workingPapers.length}}</span>
                                        </div>
                                        <div class="auditer-icon" *ngIf="ws.preparer.username && ws.preparer.username.length > 0">
                                          <img [src]="baseUrl + ws.preparer.profileUrl" />
                                      </div>
                                      </button>
                                    </h2>
                                  </div>

                                  <div [id]="'collapseOneAgliew'+i" class="collapse-lines collapse"
                                    aria-labelledby="headingSubOne" data-parent="#accordionSubOne">
                                    <div class="card-body card-sec">
                                      <ul class="audit-program">
                                        <li *ngFor="let wp of ws.workingPapers">
                                          {{ wp.documentName }}
                                        </li>
                                      </ul>
                                      <div class="full-width btn-without-delete" [ngClass]="{'btn-with-delete': (!teamView && ws.createdBy == tokenClaims.username) || (ws.preparer.status != 'wip' && ws.reviewer.status != '')}">
                                        <button class="btn delete-workstep" *ngIf="(!teamView && ws.createdBy == tokenClaims.username) || (ws.preparer.status != 'wip' && ws.reviewer.status != '')" (click)="deleteWorkStep(ws.workStepId)">
                                            Delete Work Step
                                          </button>
                                      <button class="btn opn-wrkbtn" (click)="editWS(ws.workStepId)">
                                        Open Work Step
                                      </button>
                                    </div>
                                    </div>
                                  </div>
                                  </div>
                              </div>

                             
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <!-- WIP ISSUES -->
                      <div class="card according-wing issues-container">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0 text-h2">
                            <button class="btn btn-link relative mainbtn" type="button" data-toggle="collapse"
                              data-target="#collapseaccordThree" aria-expanded="true"
                              aria-controls="collapseaccordThree">
                              <div class="headind-box">
                                <p>ISSUES</p>
                                <p>{{wipIssueCount}}</p>
                              </div>
                              <div class="img-toggle">
                                <img src="../../../../assets/img/round-img.svg" />
                              </div>
                            </button>
                          </h2>
                        </div>

                        <div id="collapseaccordThree" class="collapse show" aria-labelledby="headingThree"
                          data-parent="#accordionExampleNew">
                          <div class="card-body">
                            <ng-container *ngFor="let issue of activeBoard.issues;let i = index">
                            <div class="accordion inneraccordianIn" *ngIf="issue.cardStatus == 'wip'" [id]="'accordionSubThree'+i">
                              <!-- LOOP WIP ISSUES -->
                              <!-- <ng-container *ngFor="let issue of activeBoard.issues"> -->
                                <div class="card" (click)="editIssue(issue)">
                                  <div class="card-header" id="headingOneFour">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        aria-expanded="false">
                                        <div class="imgleft">
                                          <img src="../../../../../assets/img/tick.svg" />
                                        </div>
                                        <div class="contentleft">
                                          <span class="contentabt"><span class="idnum">{{
                                              issue.issueId
                                            }}</span>
                                            {{ issue.issueName }}</span>
                                        </div>
                                        <div class="count-number">
                                                <span>03</span>
                                             </div>
                                             </button>
                                    </h2>
                                  </div>
                                </div>
                              <!-- </ng-container> -->
                            </div>
                          </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Completed -->
              <div class="col-md">
                <div class="clearfix l-align">
                  <div class="f-l">
                    <p>Completed</p>
                  </div>
                  <div class="f-r">
                    <p class="counter">{{completedWsCount + completedIssueCount}}</p>
                  </div>
                </div>

                <div class="clearfix g-blc">
                  <div class="full-width accordian-container">
                    <div class="accordion form-accordian" id="accordionExampleNewOne">
                      <div class="card according-wing">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0 text-h2">
                            <button class="btn btn-link relative mainbtn" type="button" data-toggle="collapse"
                              data-target="#collapseaccordFour" aria-expanded="true" aria-controls="collapseaccordFour">
                              <div class="headind-box">
                                <p>AUDIT PROGRAM</p>
                                <p>{{completedWsCount}}</p>
                              </div>
                              <div class="img-toggle">
                                <img src="../../../../assets/img/round-img.svg" />
                              </div>
                            </button>
                          </h2>
                        </div>

                        <div id="collapseaccordFour" class="collapse show" aria-labelledby="headingFour"
                          data-parent="#accordionExampleNewOne">
                          <div class="card-body">
                            <ng-container *ngFor="let ws of activeBoard.ws;let i = index">
                            <div class="accordion inneraccordianIn"  *ngIf="(!teamView &&  ( (isAuditLead && ws.reviewer.status == 'completed') || (!isAuditLead && ws.preparer.status == 'completed') )) || (teamView && isAuditLead && ws.preparer.status =='completed')" [id]="'accordionSubFour'+i">
                              <!-- <ng-container *ngFor="let ws of activeBoard.ws"> -->
                                <div class="card">
                                  <div class="card-header" id="headingSubOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" [attr.data-target]="'#collapseOneAgliec'+i" aria-expanded="false"
                                        aria-controls="collapseOneAglie">
                                        <div class="imgleft">
                                          <ng-container *ngIf="ws.preparer.status == 'completed' && ws.reviewer.status == 'completed'; else normalTick">
                                            <img src="../../../../../assets/img/tickgreen.svg" />
                                          </ng-container>
                                          <ng-template #normalTick>
                                            <img src="../../../../../assets/img/tick.svg" />
                                          </ng-template>
                                        </div>
                                        <div class="contentleft">
                                          <span class="contentabt"><span class="idnum">{{
                                              ws.workStepId
                                            }}</span>
                                            {{ ws.workStepName }}
                                          </span>
                                        </div>
                                        <div class="count-number">
                                          <span>{{ws.workingPapers.length}}</span>
                                        </div>
                                        <div class="auditer-icon" *ngIf="ws.preparer.username && ws.preparer.username.length > 0">
                                          <img [src]="baseUrl + ws.preparer.profileUrl" />
                                      </div>
                                      </button>
                                    </h2>
                                  </div>

                                  <div [id]="'collapseOneAgliec'+i" class="collapse-lines collapse"
                                    aria-labelledby="headingSubOne" data-parent="#accordionSubOne">
                                    <div class="card-body card-sec">
                                      <ul class="audit-program">
                                        <li *ngFor="let wp of ws.workingPapers">
                                          {{ wp.documentName }}
                                        </li>
                                      </ul>
                                      <div class="full-width">
                                        <button disabled class="btn opn-wrkbtn" (click)="editWS(ws.workstepId)">
                                          Open Work Step
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                           
                          </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="card according-wing issues-container">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0 text-h2">
                            <button class="btn btn-link relative mainbtn" type="button" data-toggle="collapse"
                              data-target="#collapseaccordFive" aria-expanded="true" aria-controls="collapseaccordFive">
                              <div class="headind-box">
                                <p>ISSUES</p>
                                <p>{{completedIssueCount}}</p>
                              </div>
                              <div class="img-toggle">
                                <img src="../../../../assets/img/round-img.svg" />
                              </div>
                            </button>
                          </h2>
                        </div>

                        <div id="collapseaccordFive" class="collapse show" aria-labelledby="headingFive"
                          data-parent="#accordionExampleNewOne">
                          <div class="card-body">
                            <ng-container  *ngFor="let issue of activeBoard.issues;let i = index">
                            <div class="accordion inneraccordianIn"  [id]="'accordionSubFive'+i">
                              <!-- LOOP COMPLETED ISSUES -->
                              <!-- <ng-container *ngFor="let issue of activeBoard.issues"> -->
                                <div class="card" >
                                  <div class="card-header" id="headingOneSeven">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link btn-block text-left collapsed" type="button"
                                      data-toggle="collapse"
                                        aria-expanded="false">
                                        <div class="imgleft">
                                          <img src="../../../../../assets/img/tickgreen.svg" />
                                        </div>
                                        <div class="contentleft">
                                          <span class="contentabt"><span class="idnum">{{
                                              issue.issueId
                                            }}</span>
                                            {{ issue.issueName }}</span>
                                        </div>
                                        <div class="count-number">
                                            <span>03</span>
                                         </div>
                                      </button>
                                    </h2>
                                  </div>
                                  <div [id]="'collapseOneAgliecIssue'+i" class="collapse-lines collapse"
                                    aria-labelledby="headingSubOne" data-parent="#accordionSubOne">
                                    <div class="card-body card-sec">
                                      <ul class="audit-program">
                                        <!-- <li *ngFor="let wp of ws.workingPapers">
                                          {{ wp.documentName }}
                                        </li> -->
                                      </ul>
                                      <div class="full-width btn-without-delete">
                                          <button class="btn delete-workstep"  >
                                              Delete Issue
                                            </button>
                                        <button class="btn opn-wrkbtn" >
                                          Open Issue
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <!-- </ng-container> -->
                            </div>
                          </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="progress-bar-block fright aglieCharater"  *ngIf="displayTeamImages">
      <ul class="image-people">
          <li *ngFor="let image of teamImage">
              <img [src]="[baseUrl + image.profileUrl]" title="{{image.username}}" />
          </li>

      </ul>
  </div>
    <!-- <div class="progress-bar-block fright aglieCharater">
      <ul class="image-people">
        <li>
          <img src="../../../../../assets/img/elmarsprint.png"/>
        </li>
        <li>
          <img src="../../../../../assets/img/ameliasprint.png"/> 
        </li>
        <li>
          <img src="../../../../../assets/img/sprint.png" />
        </li>
        <li>
          <img src="../../../../../assets/img/sprint1.png" />
        </li>
      </ul>
    </div> -->
  </div>

  <app-new-action-form *ngIf="addAdminNewAction"></app-new-action-form>
  <app-new-pbc-form *ngIf="addAdminNewPbc" [selectAudit]="auditId" (closePbcNewForm)="getPbcNewFormStatus($event)">
  </app-new-pbc-form>
  
  <app-edit-pbc-form *ngIf="editPbcForm" [PBCFormData]="PBCFormData" (closedPBCForm)="getPBCFormStatus($event)">
  </app-edit-pbc-form>
  <app-new-work-step [auditId]="activeAuditId" [auditableEntity]="activeAudit.auditableEntity"
    *ngIf="addNewWorkstepForm" [workstepId]="ActiveWorkStepId" (closePopup)="closeWSForm($event)"></app-new-work-step>

  <!-- <app-issue-form-new-aglie-audit [auditId]="activeAuditId" [auditableEntity]="activeAudit.auditableEntity"
    [issueId]="ActiveissueId" *ngIf="isuueFormAgile" (closePopup)="closeIssueForm()"></app-issue-form-new-aglie-audit> -->
    <app-new-issue-form [auditId]="activeAuditId" [auditableEntity]="activeAudit.auditableEntity"
    [issueId]="ActiveissueId" *ngIf="isuueFormAgile" (closePopup)="closeIssueForm()"></app-new-issue-form>
    <app-edit-work-step *ngIf="editWorkStep"></app-edit-work-step>
  <app-aglie-audit-pdf *ngIf="pdfOpen"></app-aglie-audit-pdf>
  <app-edited-issue-form-aglie *ngIf="issueForm"></app-edited-issue-form-aglie>
</div>