<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg">

  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4>Control Testing : {{fetchedData.controlId[0].controlName}}</h4>
    </div>

    <div class="r-number" formControlName="ctlTestingId">
      <p class="text-design" *ngIf="!newControlTest">{{this.controlData}}</p>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate">
            Duplicate</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export">
            Export</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print">
            Print</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="controlTestingForms" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block" #controlAssessmentForm>
            <tab>
              <ng-template tabHeading>
                <span class="tabOne">Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="half-tab">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Frequency</label>
                        <select class="form-control" formControlName="ctFrequency" (value)="fetchedData.ctFrequency">
                          <option value="">Select</option>
                          <option *ngFor="let cFreq of controlFrequency">{{cFreq.frequency}}
                          </option>

                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Control Description</label>
                        <textarea class="form-control potential-text"
                          disabled>{{fetchedData.controlId[0].controlDescription | slice:0:65}}</textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Control Type</label>
                        <select class="form-control" disabled>
                          <option *ngFor="let cType of controlType" [value]="cType.controlName">
                            {{fetchedData.controlId[0].controlType}}</option>

                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <label class="label-in">Department</label>
                      <div class="checkbox-container">
                        <div class="form-group">

                          <label class="custom-radio">Any
                            <input type="radio" checked="checked" name="department" disabled>
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="seperator">
                        <span>- OR -</span>
                      </div>
                      <div class="form-container-box">
                        <div class="form-group">
                          <select class="form-control" disabled>
                            <option *ngFor="let dept of riskMasterDepartment" (value)="dept.departmentName">
                              {{fetchedData.controlId[0].controlDepartment}}</option>

                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <label class="label-in">Process</label>
                      <div class="checkbox-container">
                        <div class="form-group">

                          <label class="custom-radio">Any
                            <input type="radio" checked="checked" name="process-three">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="seperator">
                        <span>- OR -</span>
                      </div>
                      <div class="form-container-box">
                        <div class="form-group">
                          <select class="form-control" disabled>
                            <option *ngFor="let process of riskProcess" (value)="process.processName">
                              {{fetchedData.controlId[0].controlDepartmentProcess}}
                            </option>

                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Legal Reference</label>
                        <input type="text" class="form-control" [value]="fetchedData.controlId[0].controlLegalReference"
                          disabled>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="key-control">
                        <label class="label-in">Key Control</label>

                        <div class="switch-container-list">
                          <div class="onoffswitch">
                            <input *ngIf="fetchedData.controlId[0].controlKeyFlag"
                              [value]='fetchedData.controlId[0].controlKeyFlag' type="checkbox"
                              name="keycontrolswitchbutton" class="onoffswitch-checkbox" id="keycontrolswitch" disabled
                              checked>
                            <input *ngIf="!fetchedData.controlId[0].controlKeyFlag"
                              [value]='fetchedData.controlId[0].controlKeyFlag' type="checkbox"
                              name="keycontrolswitchbutton" class="onoffswitch-checkbox" id="keycontrolswitch" disabled>

                            <label class="onoffswitch-label" for="keycontrolswitch">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="key-control">
                        <label class="label-in">Issue </label>

                        <div class="switch-container-list">
                          <div class="onoffswitch">
                            <input *ngIf="fetchedData.controlId[0].controlKeyFlag"
                              [value]='fetchedData.controlId[0].controlKeyFlag' type="checkbox"
                              name="keycontrolswitchbutton" class="onoffswitch-checkbox" id="Issueswitch" disabled
                              checked>

                            <label class="onoffswitch-label" for="Issueswitch">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="half-tab secound">

                    <div class="full-width">
                      <div class="form-group">
                        <label>Control Guidance</label>
                        <textarea class="form-control" [value]='fetchedData.controlId[0].controlGuidance'
                          disabled></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="full-width box-layout">

                        <div class="full-width">
                          <div class="content-label left">
                            Manual
                          </div>
                          <div class="toggle-content-container diffrerent-style">
                            <div class="onoffswitch">
                              <input *ngIf="!fetchedData.ctAutomatic" type="checkbox" name="controlguidancebutton"
                                class="onoffswitch-checkbox" id="controlguidanceswitch" formControlName="ctAutomatic"
                                [attr.disabled]='!automaticVal?true:null' checked>
                              <input *ngIf="fetchedData.ctAutomatic" type="checkbox" name="controlguidancebutton"
                                class="onoffswitch-checkbox" id="controlguidanceswitch" formControlName="ctAutomatic"
                                [attr.disabled]='!automaticVal?true:null'>

                              <label class="onoffswitch-label" for="controlguidanceswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                          <div class="content-label right">
                            Automatic
                          </div>
                          <div class="checkbox-container custom-container">
                            <div class="form-group">

                              <label class="custom-radio">Both
                                <input type="checkbox" (change)="changedValueAutomatic()" id="automaticOff"
                                  value="!automaticVal" name="process">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="content-label left">
                            Detecting
                          </div>
                          <div class="toggle-content-container diffrerent-style">
                            <div class="onoffswitch">
                              <input *ngIf="!fetchedData.ctPreventing" type="checkbox" name="controlguidancebutton1"
                                class="onoffswitch-checkbox" id="controlguidanceTwoswitch"
                                formControlName="ctPreventing" [attr.disabled]='!preventingVal?true:null' checked>
                              <input *ngIf="fetchedData.ctPreventing" type="checkbox" name="controlguidancebutton1"
                                class="onoffswitch-checkbox" id="controlguidanceTwoswitch"
                                formControlName="ctPreventing" [attr.disabled]='!preventingVal?true:null'>

                              <label class="onoffswitch-label" for="controlguidanceTwoswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                              </label>
                            </div>
                          </div>
                          <div class="content-label right">
                            Preventing
                          </div>
                          <div class="checkbox-container custom-container">
                            <div class="form-group last-one">

                              <label class="custom-radio">Both
                                <input type="checkbox" (change)="changedValuePreventing()" id="preventingOff"
                                  value="!preventingVal" name="process-two">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="full-width box-layout secound-one">
                        <ul class="list-of-control-guidance">
                          <li *ngFor="let list of controlGuidanceSteps">
                            <div class="checkbox-container-div">
                              <label class="checkbox">
                                <input *ngIf="getCheckValue(list.stepId)" type="checkbox"
                                  (change)="onCheckStep($event,list.stepId)" value="steptick" checked>
                                <input *ngIf="!getCheckValue(list.stepId)" type="checkbox"
                                  (change)="onCheckStep($event,list.stepId)" value="steptick">

                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <div class="checkbox-details-li">
                              {{list.step}}
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="full-width range-in">
                      <div class="range-content">
                        Control Risk
                      </div>
                      <div class="range-container">
                        <div class="slidecontainer" class="form-group">
                          <input type="range" #slider min="1" max="100" formControlName="controlRisk"
                            [value]="fetchedData.controlId[0].controlRisk"
                            [(ngModel)]="fetchedData.controlId[0].controlRisk" id="crRange" [ngClass]="{
                                                     'very-high': fetchedData.controlId[0].controlRisk > 66,
                                                       'very-low': 
                                                          fetchedData.controlId[0].controlRisk > 33 &&
                                                          fetchedData.controlId[0].controlRisk <= 66,
                                                        'medium':
                                                          fetchedData.controlId[0].controlRisk > 0 &&
                                                          fetchedData.controlId[0].controlRisk <= 33
                                                      }"
                            class="range-control {{ fetchedData.controlId[0].controlRisk }}">
                        </div>
                      </div>
                    </div>
                    <div class="full-width question-container question-top-2">
                      <div class="questions">
                        <p class="question-tag">Tests</p>
                      </div>
                      <div class="button-radio">
                        <div class="onoffswitch">
                          <input *ngIf="fetchedData.tests" type="checkbox" name="assignbutton"
                            class="onoffswitch-checkbox" id="assignswitch" formControlName="tests" checked>
                          <input *ngIf="!fetchedData.tests" type="checkbox" name="assignbutton"
                            class="onoffswitch-checkbox" id="assignswitch" formControlName="tests">

                          <label class="onoffswitch-label" for="assignswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="full-width seperate-section">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Test Results</label>
                        <textarea class="form-control"
                          formControlName="testResults">{{fetchedData.testResults}}</textarea>
                      </div>
                    </div>
                  </div>
                  <div class="secound">

                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input type="checkbox" [checked]="attachedFiles?.length > 0"
                              [disabled]="attachedFiles?.length > 0" (change)="switchProperty($event)"
                              name="addcontrolbutton" class="onoffswitch-checkbox attch" id="addcontro">

                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="full-width question-container-1" *ngIf='attachedFiles?.length > 0 || openAttachment'>

                    <div class="attch-tooltips pdf-file" *ngFor="let item of attachedFiles; let i=index">
                      <img (click)="getDocument(item)" src="../../../../../assets/img/pdf.svg" alt="" width="35px"
                        *ngIf="item.extension === 'pdf'">
                      <img (click)="getDocument(item)" src="../../../../../assets/img/word.svg" alt="" width="35px"
                        *ngIf="(item.extension === 'docx')|| (item.extension === 'doc')">
                      <img (click)="getDocument(item)" src="../../../../../assets/img/excel.svg" alt="" width="35px"
                        *ngIf="(item.extension === 'xlsx')||(item.extension === 'csv')">
                      <img (click)="getDocument(item)" src="../../../../../assets/img/search_icon.svg" alt=""
                        width="35px" *ngIf="(item.extension === 'png')||(item.extension === 'jpeg')">



                      <label>{{ item.relativePath }}</label>

                      <div class="user-text">
                        <span class="close-icon" id="remove-user"> Remove

                          <img (click)="removeAttachment(item,i)" alt="delete"
                            src="../../../../../assets/img/close-form.svg">
                        </span>
                      </div>



                    </div>

                    <div class="add-file">
                      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                          <label for="upload-photo"><img src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()" alt="" width="20px">Add
                            New</label>

                        </ng-template>
                      </ngx-file-drop>
                    </div>

                  </div>
                </div>

              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
                            <button class="big-button orange-btn">Reject</button>
                            <button class="big-button green-btn right-side">Approve</button>
                            <button class="big-button yellow-btn right-side">Submit</button> -->

              </div>
            </tab>
            <tab *ngIf="!newControlTest">
              <ng-template tabHeading>
                <span>Issues</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width table-style mt-4">
                  <div class="full-width action-header">
                    <h4>Issue part of the Control</h4>
                  </div>
                </div>
                <div class="full-width table-style">
                  <div class="full-width overflow-auto">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Issue ID</th>
                          <th scope="col">Issue Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Issue Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Issue Status</th>
                          <th scope="col" class="text-centerng">Action</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let data of addedIssue">
                          <td>{{data.issueId}}</td>
                          <td>{{data.issueName}}</td>
                          <td>{{data.issueDescription | slice:0:65}}</td>
                          <td>{{data.area}}</td>
                          <td>{{data.department}}</td>
                          <td>{{data.issueStatus}}</td>
                          <td class="edit-delete-icon normal-table">
                            <a (click)="deleteIssue(data.issueId,data.actionId)" style="cursor:pointer;"
                              class="delete-btn">
                              <img src="assets/img/delete_button.svg" alt="Delete" />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="full-width overflow-auto">
                  <div class="full-width action-header">
                    <h5 class="float-left">Issue Selection</h5>
                    <!-- <button class="float-right" (click)="removeAction()">Remove Selected From Wf</button> -->
                    <button type="button" class="float-right mr-3 green-btn" (click)="addIssue()">Add Selected To
                      Issue</button>

                  </div>
                  <table id="controlAssementCTTable" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>
                          <!-- <input name="select_all" value="1" id="matrix-select-all" type="checkbox" /> -->
                        </th>
                        <th>Issue ID</th>
                        <th>Issue Name</th>
                        <th>Description</th>
                        <th>Issue Type</th>
                        <th>Department</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of issueList">
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" value={{data.issueId}}>
                            <span class="checkmark"></span>
                          </label>

                        </td>
                        <td>{{data.issueId}}</td>
                        <td>{{data.issueName}}</td>
                        <td>{{data.issueDescription | slice:0:65}}</td>
                        <td>{{data.area}}</td>
                        <td>{{data.department}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>