<div>
  <div>
    <ngx-file-picker
      [adapter]="adapter"
      [enableCropper]="false"
      [uploadType]="'multi'"
      [totalMaxSize]="30"
      [fileMaxCount]="3"
      [fileMaxSize]="30"
      (validationError)="onValidationError($event)"
      [showPreviewContainer]="true"
      (fileAdded)="onFileAdded($event)"
      (uploadSuccess)="onFileAdded($event)"
      [itemTemplate]="itemTemplate"
    >
    </ngx-file-picker>
  </div>
</div>
