<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4 class="field-work-h4"><span>Draft Report:</span>{{ auditName }}</h4>
    </div>
    <div class="r-number">
      <p class="text-design">{{ adrId }}</p>
    </div>

    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="draftForm">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="period_in_scope"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="performance_period"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Opening Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="opening_meeting"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Closing Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="closing_meeting"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row dvsn-section">
                      <div class="full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Division</label>
                            <select
                              class="form-control"
                              formControlName="adr_division"
                            >
                              <option value="">Select Division</option>
                              <option
                                *ngFor="let div of division"
                                [value]="div.id"
                              >
                                {{ div.divisionName }}</option
                              >
                            </select>
                          </div>

                          <div class="form-group">
                            <label>Audit Objectives</label>
                            <textarea
                              formControlName="adr_audit_objective"
                              class="p-3"
                              contenteditable="true"
                            >
Review of effectiveness and efficiency of the P2P process and controls as well as assessment of compliance with existing policies and procedures, supported by sampling.</textarea
                            >
                          </div>

                          <div class="form-group">
                            <label>Lead Contact</label>
                            <select
                              class="form-control"
                              formControlName="adr_lead_contact"
                            >
                              <option value="">Select Lead</option>

                              <option
                                *ngFor="let lead of leads"
                                [value]="lead.id"
                              >
                                {{ lead.leadName }}</option
                              >
                            </select>
                          </div>

                          <div class="full-width">
                            <label class="label-in">Department</label>
                            <div class="checkbox-container">
                              <div class="form-group">
                                <label class="custom-radio"
                                  >Any
                                  <input
                                    type="radio"
                                    checked="checked"
                                    name="department"
                                  />
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                            </div>
                            <div class="seperator">
                              <span>- OR -</span>
                            </div>
                            <div class="form-container-box">
                              <div class="form-group">
                                <select
                                  class="form-control"
                                  formControlName="adr_department"
                                >
                                  <option value="">Select Department</option>
                                  <option
                                    *ngFor="let dept of departments"
                                    [value]="dept.id"
                                    >{{ dept.departmentName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="full-width">
                            <label class="label-in">Process</label>
                            <div class="checkbox-container">
                              <div class="form-group">
                                <label class="custom-radio"
                                  >Any
                                  <input
                                    type="radio"
                                    checked="checked"
                                    name="process"
                                  />
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                            </div>
                            <div class="seperator">
                              <span>- OR -</span>
                            </div>
                            <div class="form-container-box">
                              <div class="form-group">
                                <select
                                  class="form-control"
                                  formControlName="adr_process"
                                >
                                  <option value="">Select Process</option>
                                  <option
                                    *ngFor="let process of processes"
                                    [value]="process.id"
                                    >{{ process.processName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>

                      
                          <div class="full-width">
                            <div class="assignees">
                              <p>Audit Team</p>
                              <div class="a-team">
                                <ul class="teamListUl" *ngIf="auditTeam">
                                  <li *ngFor="let at of auditTeam">
                                    <div class="listPeopleName">{{at  | titlecase}}</div>
                                    <img src="../../../../../assets/img/profile-dummy.png">
                                  </li>
                                </ul>
                                <label *ngIf="!auditTeam">No team assigned</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm">
                        <div class="full-width mb-2">
                          <div class="d-box clearfix">
                            <div class="form-group">
                              <label>General Observation</label>
                              <textarea
                                formControlName="adr_gen_observation"
                                class="p-3"
                                style="min-height: 140px; height: 100%;"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="full-width mb-2">
                          <div class="d-box1 clearfix">
                            <div class="form-group">
                              <label>Management Feedback </label>
                              <textarea
                                formControlName="adr_mgmt_feedback"
                                class="p-3"
                                style="min-height: 140px; height: 100%;"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="full-width">
                          <div class="d-box2 clearfix">
                            <div class="form-group">
                              <label>Corrective Actions Agreed</label>
                              <textarea
                                formControlName="adr_corrective_action"
                                class="p-3"
                                style="min-height: 138px; height: 100%;"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mar-bt-20">
                      <div class="full-width col-sm-6">
                        <div class="form-group">
                          <label>Rating</label>

                          <!-- <select  class="cnl form-control selectcnl " formControlName="adr_rating"> -->

                          <!-- <select  class="cnl form-control selectcnl " formControlName="adr_rating">

                                  <option value="">Select Rating</option>
                                  <option value="Good" >Good</option>
                                  <option value="Some improvement required">Some improvement required</option>
                                  <option value="Not Satisfactory">Not Satisfactory</option>
                                  </select> -->
                          <select
                            class="cnl form-control selectcnl"
                            formControlName="adr_rating"
                            onchange="this.className=this.options[this.selectedIndex].className"
                          >
                            <!-- <option class="greenText" value="apple" >Apple</option>
                                  <option class="redText"   value="banana" >Banana</option>
                                  <option class="blueText" value="grape" >Grape</option> -->
                            <option value="">Select Rating</option>
                            <option value="Good" class="greenText">Good</option>
                            <option
                              value="Some improvement required"
                              class="redText"
                              >Some improvement required</option
                            >
                            <option value="Not Satisfactory" class="blueText"
                              >Not Satisfactory</option
                            >
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Comments</label>
                              <textarea
                                formControlName="adr_comments"
                                class="p-3 border-0"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="secound">
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="attachedFiles?.length > 0"
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />

                            <!-- <input type="checkbox" [disabled]="isAttachment" (change)="switchProperty($event)" name="addcontrolbutton" class="onoffswitch-checkbox attch" id="addcontro" checked > -->
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                    <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />

                      <label>{{ item.relativePath }}</label>

                      <!-- <div class="user-text">
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div> -->

                      <!-- <div class="user-text">
                          <span class="close-icon">Remove
                            <img  (click)= "removeAttachment(item,i)" src="../../../../../assets/img/close-form.svg"></span>
                          </div> -->
                    </div>

                    <div class="add-file">
                      <ngx-file-drop
                        dropZoneLabel="Drop files here"
                        (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)"
                        (onFileLeave)="fileLeave($event)"
                      >
                        <ng-template
                          ngx-file-drop-content-tmp
                          let-openFileSelector="openFileSelector"
                        >
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()"
                              alt=""
                              width="20px"
                            />Add New</label
                          >
                        </ng-template>
                      </ngx-file-drop>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" (click)="onSave()">Save</button>
                <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button
                  class="big-button yellow-btn right-side"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
