<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg">

  </div>

  <div class="full-width from-heading-box relative">


    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Closing Meeting:</span>{{auditName}}</h4>
    </div>
    <div class="r-number">
      <!-- <p class="text-design"*ngIf="CMId">{{CMId}}</p> -->
      <p class="text-design"*ngIf="acmId">{{acmId}}</p>
      
    </div>

    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate"> Duplicate</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export">  Export</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
          <a (click)="PrintClick()" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print">Print</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container" >
    <form [formGroup]="closingMeetingForm">
    <div class="full-width tab-section-container"  *ngIf="notPdf">
      <div class="full-width">
        <tabset class="tab-block">
          <tab>
            <ng-template tabHeading>
              <span>Details</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="">
                  <div class="row">
                    <div class="full-width col-sm">
                      <div class="form-group">
                        <label>Period in Scope</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="-" class="form-control calendar-icon" formControlName="period_in_scope" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm">
                      <div class="form-group">
                        <label>Performance Period</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="-" class="form-control calendar-icon" formControlName="performance_period" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm"></div>
                  </div>

                  <div class="row">
                    <div class="full-width col-sm">
                      <div class="form-group">
                        <label>Update Meeting</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="-" class="form-control calendar-icon" formControlName="update_meeting" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm">
                      <div class="form-group">
                        <label>Closing Meeting</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="-" class="form-control calendar-icon" formControlName="closing_meeting" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm"></div>
                  </div>



                  <div class="row dvsn-section">

                    <div class="col-sm">
                      <div class="full-width mb-2">
                        <div class="d-box clearfix">
                          <div class="form-group">
                            <label>Agenda</label>
                            <textarea formControlName="acm_agenda" style="min-height:140px; height:100%;" class="p-3" contenteditable="true">
                            Please find the below agenda:
                            General Impression
                            Issue and action review
                            Q&amp;A</textarea>
                          </div>
                        </div>
                      </div>

                      <div class="full-width mb-2">
                        <div class="d-box1 clearfix">
                          <div class="form-group">
                            <label>Q&amp;A</label>
                            <textarea formControlName="acm_qa" style="min-height:140px; height:100%;" class="p-3" contenteditable="true"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="closing assignees mt-0">
                          <p>Audit Team</p>
                          <div class="a-team">
                            <ul class="teamListUl" *ngIf="auditTeam">
                              <li *ngFor="let at of auditTeam">
                                <div class="listPeopleName">{{at  | titlecase}}</div>
                                <img src="../../../../../assets/img/profile-dummy.png">
                              </li>
                            </ul>
                            <label *ngIf="!auditTeam">No team assigned</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm">
                      <div class="issue-pane clearfix">
                          <div class="form-group">
                              <label>Issue and Action Review</label>
                              <textarea formControlName="acm_issue_action_review" style="min-height:355px; height:100%;" class="p-3" contenteditable="true"></textarea>
                          </div>
                      </div>
                    </div>

                  </div>

                  <div class="out-scope">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="out-scope-text clearfix">
                          <div class="form-group">
                            <label>Comments</label>
                            <textarea formControlName="acm_comment" class="p-3 border-0" contenteditable="true"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="secound">

                  <div class="full-width question-container-1">
                    <div class="questions">
                      <p class="question-tag">Attachments</p>
                      <div class="button-radio">
                        <div class="onoffswitch">
                          <input type="checkbox" [checked]="attachedFiles?.length > 0 || closeAttachment == false" [disabled]="attachedFiles?.length > 0" (change)="switchProperty($event)" name="addcontrolbutton" class="onoffswitch-checkbox attch" id="addcontro">
                          <!-- <input type="checkbox" name="addcontrolbutton" class="onoffswitch-checkbox" id="addcontro" checked> -->
                          <label class="onoffswitch-label" for="addcontro">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>


                <div class="full-width question-container-1" *ngIf='attachedFiles?.length > 0 || openAttachment'>
                  <div class="attch-tooltips pdf-file" *ngFor="let item of attachedFiles; let i=index">
                    <img (click)="getDocument(item)" src="../../../../../assets/img/pdf.svg" alt="" width="35px" *ngIf="item.extension === 'pdf'">
                    <img  (click)="getDocument(item)" src="../../../../../assets/img/word.svg" alt="" width="35px" *ngIf="(item.extension === 'docx')|| (item.extension === 'doc')">
                    <img (click)="getDocument(item)" src="../../../../../assets/img/excel.svg" alt="" width="35px" *ngIf="(item.extension === 'xlsx')||(item.extension === 'csv')">
                    <img (click)="getDocument(item)" src="../../../../../assets/img/search_icon.svg" alt="" width="35px" *ngIf="(item.extension === 'png')||(item.extension === 'jpeg')">
                    <label>{{ item.relativePath }}</label>
             

                        <div class="user-text"  *ngIf="item.new == true || item.isDuplicate==true">
                          <span class="close-icon" id="remove-user"> Remove
                          
                            <img (click)= "removeAttachment(item,i)" alt="delete" src="../../../../../assets/img/close-form.svg">
                          </span>
                          </div>
                  </div>

                  <!-- <div class="pdf-file">
                    <img src="../../../../../assets/img/pdf.svg" alt="" width="35px">
                    <label>Attachments.pdf</label>
                  </div>

                  <div class="pdf-file">
                    <img src="../../../../../assets/img/pdf.svg" alt="" width="35px">
                    <label>Attachments.pdf</label>
                  </div>

                  <div class="pdf-file">
                    <img src="../../../../../assets/img/pdf.svg" alt="" width="35px">
                    <label>Attachments.pdf</label>
                  </div> -->

                  <div class="add-file">
                    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                    >
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                          <label for="upload-photo"><img src="../../../../../assets/img/plus.png" (click)="openFileSelector()" alt="" width="20px">Add New</label>
                         
                        </ng-template>
                    </ngx-file-drop>
                    </div>

                  <!-- <div class="add-file">

                    <label for="upload-photo">
                      <img src="../../../../../assets/img/plus.png" alt="" width="20px"> Add New</label>
                    <input type="file" name="photo" id="upload-photo" />
                  </div> -->
                </div>
              </div>

            </div>
            <div class="full-width button-container">
              <button class="big-button" (click)="onSave()">Save</button>
              <button class="big-button purple-btn">Delegate</button>
              <button class="big-button orange-btn">Reject</button>
              <button class="big-button green-btn right-side">Approve</button>
              <button
                class="big-button yellow-btn right-side"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <span>Issues and Actions </span>
            </ng-template>
            <div class="tabContent-box">
              <div class="row full-width">
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <label>Issues List</label>
                </div>
              </div>
              <div class="full-width table-style">
                <div class="full-width overflow-auto">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Issues ID</th>
                        <th scope="col">Issues Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Issues Type</th>
                        <th scope="col">Department</th>
                        <th scope="col">Key Issues</th>
                        <!-- <th scope="col" class="text-centerng">Action</th> -->
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let issue of assignedIssues">
                        <td>{{issue.issueId}}</td>
                        <td>{{issue.issueName}}</td>
                        <td>{{issue.issueDescription}}</td>
                        <td>{{issue.issueType}}</td>
                        <td>{{issue.department}}</td>
                        <td>Yes</td>
                        <!-- <td class="edit-delete-icon normal-table">
                          <a (click)="deleteControl()" class="delete-btn">
                            <img src="assets/img/delete_button.svg" alt="Delete" />
                          </a>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row full-width" *ngIf="assignedActions">
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <label>Action List</label>
                </div>
              </div>
              <div class="full-width table-style" *ngIf="assignedActions">
                <div class="full-width overflow-auto">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Action ID</th>
                        <th scope="col">Action Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Area</th>
                        <th scope="col">Rating</th>
                        <!-- <th scope="col">Key Action</th> -->
                        <!-- <th scope="col" class="text-centerng">Action</th> -->
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let action of assignedActions">
                        <td>{{action.actionId}}</td>
                        <td>{{action.actionName}}</td>
                        <td>{{action.actionDescription}}</td>
                        <td>{{action.area}}</td>
                        <td>{{action.rating}}</td>
                        <!-- <td>Key Control</td> -->
                        <!-- <td class="edit-delete-icon normal-table">
                          <a
                            (click)="deleteControl(control.controlId)"
                            class="delete-btn"
                          >
                            <img
                              src="assets/img/delete_button.svg"
                              alt="Delete"
                            />
                          </a>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
       
          </tab>
          <tab>
            <ng-template tabHeading>
              <span>Overview</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="row">
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Information</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Company Name</label>
                        <input
                        class="form-control"
                        type="text"
                      />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Location</label>
                        <input
                        class="form-control"
                        type="text"
                      />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>B.U. Name</label>
                        <input
                        class="form-control"
                        type="text"
                      />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Business Process Name</label>
                        <input
                        class="form-control"
                        type="text"
                      />
                      </div>
                    </div>
                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Dates</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Identified On</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            placement="bottom"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Submitted On</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                           
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Last Change</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            placement="top"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Approved On</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            placement="top"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>People</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Owner</label>
                        <input
                          class="form-control"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Owner ID</label>
                        <input
                          class="form-control"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Submitter</label>
                        <input
                          class="form-control"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Submitter ID</label>
                        <input
                          class="form-control"
                          type="text"
                        />
                      </div>
                    </div>

                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Approved by</label>
                        <input
                          class="form-control"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Approver ID</label>
                        <input
                          class="form-control"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="scroll-container" *ngIf = "isPdf">
      <div class="full-width">
        <button class="btn btn risk-btn link btnLink" (click)="back()">Back</button>
      </div>
      <!-- <div class="full-width">
        <button class="btn btn risk-btn link btnLink" (click)="back()">Back</button>
      </div> -->
        <div class="full-width">
          <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
        </div>
      </div>
  </form>
  </div>
</div>