<div class="full-width container-side">
    <ul class="block-ul">
        <li class="box-li">
            <div class="full-width box-container orange-border">
                <div class="box-haif-number">
                    <div class="number-container">
                    <p class="number"> {{dashboardCount?.risks}} </p>
                    </div>
                    <div class="text-container">    
                    <p class="text">Risks</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="box-li">
            <div class="full-width box-container blue-border">
                <div class="box-haif-number">
                    <div class="number-container">
                    <p class="number">{{dashboardCount?.highRisk}}</p>
                    </div>
                    <div class="text-container">
                    <p class="text">High Risks</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="box-li">
            <div class="full-width box-container yellow-border">
                <div class="box-haif-number">
                    <div class="number-container">
                    <p class="number"> {{ dashboardCount?.openAssessments }} </p>
                    </div>
                    <div class="text-container">
                    <p class="text">Open Assessments</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="box-li">
            <!-- <div class="full-width box-container orange-border"> -->
                <div class="box-haif-number">
                    <div>
                        <canvas id="bar" height="200">{{ barChart }}</canvas>
                    </div>  
                </div>
            <!-- </div> -->
        </li>
        <!-- <li class="box-li">
            <div class="full-width box-container yellow-border">
                <div class="box-haif-number">
                   
                </div>
            </div>
        </li> -->
    </ul>
    </div>
