<div class="full-width">
  <div class="row">
    <div class="three-share">
      <div class="full-width heading-sec-form">
        <h4 class="headind-form">
          <span>Information</span>
        </h4>
      </div>
      <div class="full-width mb-2">
        <div class="form-group">
          <label>Company Name</label>
          <input class="form-control" type="text">
        </div>
      </div>

      <div class="risk-admin full-width">
        <label class="label-in">Department</label>
        <div class="checkbox-container">
            <div class="form-group">

                <label class="custom-radio">Any
                    <input type="radio" checked="checked" name="department"
                        disabled>
                    <span class="checkmark"></span>
                </label>
                <div class="seperator">
                  <span>- OR -</span>
              </div>
            </div>

          <div class="form-container-box">
            <div class="form-group">
                <select class="form-control" disabled>
                  <option></option>
                </select>
            </div>
        </div>
        </div>


    </div>
    <div class="risk-admin full-width">
        <label class="label-in">Process</label>
        <div class="checkbox-container">
            <div class="form-group">

                <label class="custom-radio">Any
                    <input type="radio" checked="checked" name="process-three">
                    <span class="checkmark"></span>
                </label>

                <div class="seperator">
                  <span>- OR -</span>
              </div>
            </div>

            <div class="form-container-box">
              <div class="form-group">
                  <select class="form-control" disabled>
                      <option></option>
                  </select>
              </div>
          </div>
        </div>
    </div>


    </div>
    <div class="three-share">
      <div class="full-width heading-sec-form">
        <h4 class="headind-form">
          <span>Dates</span>
        </h4>
      </div>
      <div class="full-width">
        <div class="form-group">
          <label>Last Change On</label>
          <!-- <div class="full-width relative"> -->
            <!-- <input type="text" 
            placeholder="Select Date"  
            formControlName="dateIdentified" 
            class="form-control calendar-icon" 
            bsDatepicker placement="top"> -->
            <!-- <input type="text" placeholder="Select Date"  formControlName="dateIdentified" class="form-control calendar-icon" bsDatepicker 
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
          </div> -->
          <div class="full-width relative">
            <input type="text" placeholder="Select Date"  class="form-control calendar-icon" bsDatepicker 
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" disabled>
          </div>
        </div>
      </div>
      <div class="full-width">
        <div class="form-group">
           <!-- ######## updated 05-03-2020 start ########-->
          <label>Risk Approved On</label>
           <!-- ######## updated 05-03-2020 ends ########-->
          <div class="full-width relative">
            <!-- <input type="text" 
            placeholder="Select Date"  
            formControlName="dateApproved" 
            class="form-control calendar-icon"
            bsDatepicker placement="top"> -->
            <input type="text" placeholder="Select Date"  class="form-control calendar-icon" bsDatepicker 
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" disabled>
          </div>
        </div>

      </div>

    </div>
    <div class="three-share">
      <div class="full-width heading-sec-form">
        <h4 class="headind-form">
          <span>People</span>
        </h4>
      </div>
      <div class="full-width">
        <div class="form-group">
          <label>Risk Owner</label> 
          <input class="form-control"  type="text" disabled>
        </div>
       </div>
     
      <div class="full-width">
        <div class="form-group">
          <label>Risk Owner ID</label>
          <input class="form-control" type="text" disabled>
        </div>
      </div>
      <div class="full-width">
        <div class="form-group">
           <!-- ######## updated 05-03-2020 start ########-->
          <label>Risk Submitter</label>
           <!-- ######## updated 05-03-2020 ends ########-->
          <!-- <input class="form-control" formControlName="" type="text"> -->
          <input class="form-control"  type="text" disabled>
        </div>
      </div>
      <div class="full-width">
        <div class="form-group">
           <!-- ######## updated 05-03-2020 start ########-->
          <label>Risk Submitter ID</label>
           <!-- ######## updated 05-03-2020 ends ########-->
           <input class="form-control"  type="text" disabled>
        </div>
      </div>

      <div class="full-width">
        <div class="form-group">
           <!-- ######## updated 05-03-2020 start ########-->
          <label>Risk Approved By</label>
           <!-- ######## updated 05-03-2020 ends ########-->
           <input class="form-control"  type="text" disabled>
        </div>
      </div>

      <div class="full-width">
        <div class="form-group">
           <!-- ######## updated 05-03-2020 start ########-->
          <label>Risk Approved ID</label>
           <!-- ######## updated 05-03-2020 ends ########-->
           <input class="form-control"  type="text" disabled>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="full-width button-container">
  <button class="big-button right-side">Save</button>

</div>