.risk-admin {
  margin-bottom: 10px;
  
.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .custom-radio {
    width: 0px;
  }
  .seperator {
    width: 75px;
    padding-top: 0px;
  }
 }
 .form-container-box {
   width: 100%;
 }
} 