@media (max-width:798px) {
    .table-header {
      width: auto;
    }
      .table-header .icon-list {
          text-align: initial;
      }
      .filter-dropdown-column {
        margin-left: 10px;
    } 
  }