<div class="table-header">
  <div class="col-xs-6 col-lg-8 icon-list float-right no-padding" *ngIf="!isLoading">
    <a (click)="addNewControlForm()" class="tooltip">
      <span class="tooltiptext doble-word">Add Control</span>
      <img src="assets/img/add_button.svg" alt="Add" />
    </a>
    <a (click)="printClick()" class="tooltip">
      <span class="tooltiptext">Print</span>
      <img src="assets/img/print_button.svg" alt="Print" />
    </a>
    <div class="dropdown export-dropdown">
      <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tooltiptext">Export</span>
        <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
      </a>
      <div class="dropdown-menu export-dropdown-menu controllist-export-RCM"></div>
    </div>
    <div class="filter-dropdown-column">
      <a class="tooltip m-0">
        <span class="tooltiptext">Customize Table</span>
        <img src="assets/img/settings.svg" alt="Export" (click)="SettingControlList($event)" class="click-icon" />
      </a>
      <div class="dropdown-menu-column" id="dropDown">
        <a class="dropdown-item-column control-hideshow" [attr.data-column]="i"
          *ngFor="let controlListColumn of showHideHeadersCL; index as i" style="margin-left: 0px; cursor: pointer;">
          <label>
            <input class="checkbox" type="checkbox" value="{{ controlListColumn }}" checked /><span
              class="filter-text">{{ controlListColumn }}</span>
          </label>
        </a>
      </div>
    </div>
  </div>
  ​
</div>
<div *ngIf="!isLoading">
  <table id="controlListTable" class="display fullDataTable child-tile-w20" style="width: 100%;">
    <thead>
      <tr>
        <th></th>
        <th>
          <input name="select_all" value="1" id="rcmcontrolList-select-all" type="checkbox" />
        </th>
        <th>Control ID</th>
        <th>Control Name</th>
        <th>Control Description</th>
        <th>Control Department</th>
        <th class="text-center action-block">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let control of controlList; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">
          <a class="btn risk-btn link" (click)="loadMyCityId(control.controlId)">{{ control?.controlId }}</a>
        </td>
        <td class="reorder-row">{{ control?.controlName }}</td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': control?.controlDescription.length > 164 }">
            <span class="read-more-text">{{ control?.controlDescription }}</span>
            <span class="tooltiptext">{{ control?.controlDescription }}</span>
          </div>
        </td>
        <td class="reorder-row">{{ control?.controlDepartment }}</td>
        <td align="center" class="action-row">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a (click)="loadMyCityId(control.controlId)" class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a (click)="delete(control.controlId)" class="delete-btn">
                    <img src="assets/img/delete_button.svg" alt="Delete" />
                    <span>Delete</span>
                  </a>
                </li>
                <li>
                  <a (click)="duplicate()" class="duplicate-btn">
                    <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                    <span>Duplicate</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-control-definition-form *ngIf="loadcityId" [controlData]="selectedControlId"
  (closedControlDefForm)="getControlFormStatus($event)"></app-control-definition-form>
<app-print-popup *ngIf="printView"></app-print-popup>
<app-add-new-control *ngIf="addNewControlFormComponent" (closedAddControlForm)="getStatusOfAddNewControlForm($event)">
</app-add-new-control>