<div
  class="pop-up-form"
  id="opening-meeting-popup"
  ngDraggable
  [position]="position"
  [handle]="myHandleFour"
>
  <div class="close-form" (click)="closeModal(true)">
    <img src="../../../../../assets/img/close-form.svg"  alt="Close"/>
  </div>
  <div class="full-width from-heading-box relative" #myHandleFour>
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Opening Meeting:</span>
      </h4>
    </div>
    <div class="r-number">
      <p class="text-design"></p>
    </div>
    <div class="icons-in">
      <ul>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg" alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg" alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li> -->
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg" alt="Print"
          /></a>
          <!-- <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          > -->          
          <!-- print click added by Abu - 16-09-2020 start -->
          <a href="javascript:void(0);" class="dupIcoHover" (click)="print()"
          ><img src="assets/img/Print2.svg" alt="Print" /> Print</a>
        <!-- print click added by Abu - 16-09-2020 end -->
        </li>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg" alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="openMeetUpForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="periodInScope"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              formControlName="performance_period"
                            />
                          </div>
                        </div>
                      </div> -->
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Opening Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="openingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Closing Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="closingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                

                    <div class="row dvsn-section">
                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Audit Scope</label>
                            <textarea
                              formControlName="auditScope"
                              style="min-height: 250px; height: 100%; border: 0"
                              contenteditable="true"
                            >
The audit will focus on:
Obtain an understanding of the P2P process (i.e. sourcing strategy, procurement, supplier evaluation and monitoring, payment process).
Assess the effectiveness and efficiency of the end-to-end P2P process and review the compliancewith existing policies and procedures, including
Tender process;
Supplier evaluation, selection and approval;
Supplier due diligence;
Etc.
Review of the supplier master data maintenance.
Review of functional segregation of duties for the P2P process.
Assess ICS regarding the completeness, appropriate design, and effectiveness of the existing P2P controls in place.
Review of contract management process.
Review of exemptions to the P2P process.
Identify control gaps within the P2P process and define remediation plan for identified issues
</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="xs-out-scope out-scope-text clearfix">
                            <div class="form-group">
                              <label>Agenda</label>
                              <textarea
                                formControlName="agenda"
                                class="border-0 p-3"
                                contenteditable="true"
                              >
Please find the below agenda:
Audit Scope
Interview Plan
Q&amp;A</textarea
                              >
                            </div>
                          </div>
                        </div>

                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Q&amp;A</label>
                              <textarea
                                formControlName="quesAndAns"
                                class="border-0 p-3"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="full-width">
                    <div class="assignees">
                      <p>Audit Team</p>
                      <div class="a-team">
                        <ul class="teamListUl" *ngIf="auditTeam">
                          <li *ngFor="let at of auditTeam">
                            <div class="listPeopleName">
                              {{ at | titlecase }}
                            </div>
                            <img
                              src="../../../../../assets/img/profile-dummy.png" alt=''
                            />
                          </li>
                        </ul>
                        <label *ngIf="!auditTeam">No team assigned</label>
                      </div>
                    </div>
                  </div>
                  <div class="secound">
                    <div class="full-width margin-top-15 question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="
                                attachedFiles?.length > 0 ||
                                closeAttachment == false
                              "
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />
  
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                  class="full-width question-container-1"
                  *ngIf="attachedFiles?.length > 0 || openAttachment"
                >
                 <div class="add-file" (click)="addnewFile()">
                        <label for="upload-photo"
                          ><img
                            src="../../../../../assets/img/plus.png" alt=""
                            width="20px"
                          />Add New</label
                        >     
                  </div>
                  <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                   
                      <img
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />

                      <label>{{ item.documentName| slice:0:10 }}..</label>

                      <div
                        class="user-text"
                      >
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div>
                    </div>
                </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button> -->
                <button class="big-button purple-btn right-side">Send</button>
              </div>
            </tab>
            <!-- <tab>
              <ng-template tabHeading>
                <span>Final Interview Schedule</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <table
                    id="interveiwSchduleTable"
                    class="display fullDataTable"
                    style="width: 100%"
                  >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Subject/Topic</th>
                        <th>Location</th>
                        <th>Present from Auditee</th>
                        <th>Comment</th>
                        <th class="text-center action-block">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of interviewList; let i = index">
                        <td id="">{{ a.day | date: "dd/MM/yyyy" }}</td>
                        <td id="">{{ a.time }}</td>
                        <td id="">{{ a.subject }}</td>
                        <td id="">{{ a.location }}</td>
                        <td id="">{{ a.pfa }}</td>
                        <td id="" id="">{{ a.comment }}</td>
                        <td id="" class="align">
                          <div
                            class="dropdown show action-dropdown position-relative"
                          >
                            <a
                              class="btn dropdown-toggle"
                              data-boundary="dd"
                              role="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <span class="dot"></span>
                              <span class="dot"></span>
                              <span class="dot"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-text">
                              <ul>
                                <li>
                                  <a class="edit-btn" (click)="editTable(a, i)">
                                    <img
                                      src="assets/img/edit_button.svg"
                                      alt="Edit"
                                    />
                                    <span>Edit</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="delete-btn">
                                    <img
                                      src="assets/img/delete_button.svg"
                                      alt="Delete"
                                    />
                                    <span>Delete</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="duplicate-btn">
                                    <img
                                      src="assets/img/duplicate-form.svg"
                                      alt="Duplicate"
                                    />
                                    <span>Duplicate</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="full-width button-container">
                <a class="big-button" (click)="addStep()" type="submit"
                  >Add Step</a
                >
              </div>
            </tab> -->
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" [value]="companyName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" [value]="location" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" [value]="buName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" [value]="bProcessName" disabled/>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{
                                dateInputFormat: 'DD-MM-YYYY',
                                adaptivePosition: true
                              }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared By</label>
                          <input class="form-control" formControlName="preparedBy" type="text" disabled />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent By</label>
                          <input class="form-control" type="text" disabled/>
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
  <div class="new-chat-popup-maincontainer add-document-new p-0" *ngIf="editsearchDocument">
    <div class="close-form" (click)="closeSearch()">
      <img src="../../../../../assets/img/close-form.svg">    
    </div>
    <div class="intray-search">
      <div class="for-auditor-search">
        <div class="dataTables_filter form-group">
          <label>
            <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
              [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
          </label>
        </div>
        <div class="search-filter-box">
  
          <tabset class="tab-block filteroptions" #staticTabs>
            <tab>
              <ng-template tabHeading>
                <h3>All Results</h3>
              </ng-template>
              <div class="multiSearchFilters">
                <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings">
                </ng-multiselect-dropdown> 
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <h3>PBC</h3>
              </ng-template>
              <div class="multiSearchFilters">
                <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings">
                </ng-multiselect-dropdown>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <h3>DMS</h3>
              </ng-template>
              <div class="multiSearchFilters">
                <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings">
                </ng-multiselect-dropdown>
              </div>
            </tab>
          </tabset>
  
          <div class="upload-submit text-center">
            <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
          </div>
          <div class="filteroptions upload-load-file-block">
            <h3>Upload from Local machine</h3>
            <div class="button-style mr-left-rght">
              <label for="myFile">Browse and Upload</label>
            <input type="file" id="myFile" class="custom-file-input" (change)="onFilechanged($event)" accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">
          </div>
          </div>
        </div>
      </div>
      <div class="for-auditor-search" style="display: none;">
        <div class="search-filter-box">
          <div class="filteroptions">
            <h3>Upload file from Local machine</h3>
            <input type="file" class="custom-file-input">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>