
    <div class="elements-section">
          <div class="row">
                <div class="col-md-12 mb-3">
                  <h4>Big Buttons</h4>
                </div>
                <div class="col-md-2">
                    <button class="big-button">Save</button>
                </div>
                <div class="col-md-2">
                    <button class="big-button purple-btn">Delegated</button>
                </div>
                <div class="col-md-2">
                    <button class="big-button orange-btn">Rejected</button>
                </div>
                <div class="col-md-2">
                    <button class="big-button yellow-btn">Submit</button>
                </div>
                <div class="col-md-2">
                    <button class="big-button green-btn">Approve</button>
                </div>
          </div>
          <div class="row mt-5">
              <div class="col-md-12 mb-3">
                <h4>Dropdown,Comment and Input</h4>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label for="select1">Status</label>
                      <select class="form-control" id="select1">
                        <option>Select Option</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label for="comment">Description</label>
                      <textarea class="form-control" rows="4" id="comment"></textarea>
                    </div>
              </div>
              <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Legal Referance</label>
                        <input type="input" class="form-control" id="exampleInputEmail1">
                    </div>
              </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 mb-3">
                <h4>Extra</h4>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="custom-radio">One
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio">Two
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                </div>
            </div>
        </div>
    </div>





