//Define all the Variables here
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

/*Global Font Family*/
@primary_font: 'Source Sans Pro', sans-serif;


/*Global Font Weight*/
@light: 300;
@regular: 400;
@semibold: 600;
@bold: 700;


/*Primary colors*/
@primary_color:#664da0;
@orange: #dd6838;
@green: #98aa3a;
@yellow: #ffcc00;

@anchor_blue: #0063f7;
@text_gray:  #6d6d6d;

@primary_blue: #39a8d9;

@font_grey: #4a4b4b;

@drk_black_50:rgba(0, 0, 0, 0.50);

@infoBoxBorder-grey: #e8e8e8;
@infoBox-Bg: #fbfbfb;
@infoBoxHeader: #484848;
@light_grey: #8b8b8b;

@secondary_black: #010101;
@navy_blue: #015980;
@light_blue: #5dc9f9;
@meduim-blue: #018ac7;


@breadcramb:#093fe1;

@gray-text:#5c5d60;

@bg_gray:#e7e7ec;
@white:#fff;

@black:#000;
@black_35:rgba(112, 112, 112, .35);

@form-bg: #f5f5f5;

@indicator-circle:#9e9e9e;

@form-close-bg:#cbcbcb;

@tab-bg: #fbfbfb;

@switch-border: #707070;

@border-colour-light:#efefef;

@bg-chat:rgba(255, 255, 255, .9);
@color-intray:#0164f7;

@chat-admin: #a69bbe;
@border-admin:#9380bf;
@chat-user:#a5a83f;
@border-user:#afa166;

/*Global Font Size*/
@big_font:40px;
@primary_font:20px;
@secondary_font:18px;
@tertiary_font:16px;
@common_size:14px;
@font_25:25px;
@font_15:15px;
@font_12:12px;
@font_11:11px;
@font_10:10px;
@font_19:19px;
@font_36:36px;
@font_31:31px;