<div class="top-tab">
  <div class="full-width container-side">
    <ul class="block-ul">
      <li class="box-li">
        <div class="full-width box-container orange-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{ activeCount }}</p>
            </div>
            <div class="text-container">
              <p class="text">Active Audits</p>
            </div>
          </div>
        </div>
      </li>

      <li class="box-li">
        <div class="full-width box-container blue-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{ completedCount }}</p>
            </div>
            <div class="text-container">
              <p class="text">Completed</p>
            </div>
          </div>
        </div>
      </li>

      <li class="box-li">
        <div class="full-width box-container yellow-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{ noOfAudits }}</p>
            </div>
            <div class="text-container">
              <p class="text">Audits {{ year }}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
