
// Colors for data series and points.
$colors: #7cb5ec #434348 #90ed7d #f7a35c #8085e9 #f15c80 #e4d354 #2b908f #f45b5b #91e8e1 !default;

// Chart background, point stroke for markers and columns etc
$background-color: #ffffff !default;

// Neutral colors, grayscale by default. The default colors are defined by mixing the
// background-color with neutral, with a weight corresponding to the number in the name.
$neutral-color-100: #000000 !default; // Strong text.
$neutral-color-80: #333333 !default; // Main text and some strokes.
$neutral-color-60: #666666 !default; // Axis labels, axis title, connector fallback.
$neutral-color-40: #999999 !default; // Credits text, export menu stroke.
$neutral-color-20: #cccccc !default; // Disabled texts, button strokes, crosshair etc.
$neutral-color-10: #e6e6e6 !default; // Grid lines etc.
$neutral-color-5: #f2f2f2 !default; // Minor grid lines etc.
$neutral-color-3: #f7f7f7 !default; // Tooltip backgroud, button fills, map null points.

// Colored, shades of blue by default
$highlight-color-100: #003399 !default; // Drilldown clickable labels, color axis max color.
$highlight-color-80: #335cad !default; // Selection marker, menu hover, button hover, chart border, navigator series.
$highlight-color-60: #6685c2 !default; // Navigator mask fill.
$highlight-color-20: #ccd6eb !default; // Ticks and axis line.
$highlight-color-10: #e6ebf5 !default; // Pressed button, color axis min color.

// Fonts
$font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !default;
$title-font-size: 1.5em !default;
$subtitle-font-size: 1em !default;
$legend-font-size: 1em !default;
$axis-labels-font-size: 0.9em !default;

// Tooltip
$tooltip-border: 1px !default;
$tooltip-background: $neutral-color-3 !default;

// Axes
$xaxis-grid-line: 0px !default;

// Range-selector
$range-selector-button-border: 0px !default;
$range-selector-input-text: $neutral-color-80 !default;
$range-selector-input-border: $neutral-color-20 !default;

// Data-labels
$data-label-color: $neutral-color-80 !default;

// Buttons
$context-button-background: $background-color !default;

$Omniverse-button-background: $neutral-color-3 !default;
$Omniverse-button-border: $neutral-color-20 !default;
$Omniverse-button-text:  $neutral-color-80 !default;

$Omniverse-button-pressed-background: $highlight-color-10 !default;
$Omniverse-button-pressed-border: $neutral-color-20 !default;
$Omniverse-button-pressed-text:  $neutral-color-80 !default;

$Omniverse-button-hover-background: $neutral-color-10 !default;
$Omniverse-button-hover-border: $neutral-color-20 !default;
$Omniverse-button-hover-text:  $neutral-color-80 !default;

// Navigator
$navigator-series-fill: $highlight-color-80 !default;
$navigator-series-border: $highlight-color-80 !default;

// Scrollbar
$scrollbar-track-background: $neutral-color-5 !default;
$scrollbar-track-border: $neutral-color-5 !default;

// Indicators
$indicator-positive-line: #06B535;
$indicator-negative-line: #F21313;

.Omniverse-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    z-index: 0; /* #1072 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: $font-family;
    font-size: 12px;
}
.Omniverse-root {
    display: block;
}
.Omniverse-root text {
    stroke-width: 0;
}
.Omniverse-strong {
    font-weight: bold;
}
.Omniverse-emphasized {
    font-style: italic;
}
.Omniverse-anchor {
    cursor: pointer;
}
.Omniverse-background {
    fill: $background-color;
}
.Omniverse-plot-border, .Omniverse-plot-background {
    fill: none;
}
.Omniverse-label-box {
    fill: none;
}
.Omniverse-button-box {
    fill: inherit;
}
.Omniverse-tracker-line {
    stroke-linejoin: round;
    stroke: rgba(192, 192, 192, 0.0001);
    stroke-width: 22;
    fill: none;
}
.Omniverse-tracker-area {
    fill: rgba(192, 192, 192, 0.0001);
    stroke-width: 0;
}

/* Titles */
.Omniverse-title {
    fill: $neutral-color-80;
    font-size: $title-font-size;
}
.Omniverse-subtitle {
    fill: $neutral-color-60;
}

/* Axes */
.Omniverse-axis-line {
    fill: none;
    stroke: $highlight-color-20;
}
.Omniverse-yaxis .Omniverse-axis-line {
    stroke-width: 0;
}
.Omniverse-axis-title {
    fill: $neutral-color-60;
}
.Omniverse-axis-labels {
    fill: $neutral-color-60;
    cursor: default;
    font-size: $axis-labels-font-size;
}
.Omniverse-grid-line {
    fill: none;
    stroke: $neutral-color-10;
}
.Omniverse-xaxis-grid .Omniverse-grid-line {
    stroke-width: $xaxis-grid-line;
}
.Omniverse-tick {
    stroke: $highlight-color-20;
}
.Omniverse-yaxis .Omniverse-tick {
    stroke-width: 0;
}
.Omniverse-minor-grid-line {
    stroke: $neutral-color-5;
}
.Omniverse-crosshair-thin {
    stroke-width: 1px;
    stroke: $neutral-color-20;
}
.Omniverse-crosshair-category {
    stroke: $highlight-color-20;
    stroke-opacity: 0.25;
}


/* Credits */
.Omniverse-credits {
    cursor: pointer;
    fill: $neutral-color-40;
    font-size: 0.7em;
    transition: fill 250ms, font-size 250ms;
}
.Omniverse-credits:hover {
    fill: black;
    font-size: 1em;
}

/* Tooltip */
.Omniverse-tooltip {
    cursor: default;
    pointer-events: none;
    white-space: nowrap;
    transition: stroke 150ms;
}
.Omniverse-tooltip text {
    fill: $neutral-color-80;
}
.Omniverse-tooltip .Omniverse-header {
    font-size: 0.85em;
}
.Omniverse-tooltip-box {
    stroke-width: $tooltip-border;
    fill: $tooltip-background;
    fill-opacity: 0.85;
}
.Omniverse-tooltip-box .Omniverse-label-box {
    fill: $tooltip-background;
    fill-opacity: 0.85;
}
div.Omniverse-tooltip {
    filter: none;
}

.Omniverse-selection-marker {
    fill: $highlight-color-80;
    fill-opacity: 0.25;
}

.Omniverse-graph {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.Omniverse-state-hover .Omniverse-graph {
    stroke-width: 3;
}

.Omniverse-point-inactive {
    opacity: 0.2;
    transition: opacity 50ms; /* quick in */
}

.Omniverse-series-inactive {
    opacity: 0.2;
    transition: opacity 50ms; /* quick in */
}

.Omniverse-state-hover path {
    transition: stroke-width 50ms; /* quick in */
}
.Omniverse-state-normal path {
    transition: stroke-width 250ms; /* slow out */
}
/* Legend hover affects points and series */
g.Omniverse-series,
.Omniverse-point,
.Omniverse-markers,
.Omniverse-data-labels {
    transition: opacity 250ms;
}
.Omniverse-legend-series-active g.Omniverse-series:not(.Omniverse-series-hover),
.Omniverse-legend-point-active .Omniverse-point:not(.Omniverse-point-hover),
.Omniverse-legend-series-active .Omniverse-markers:not(.Omniverse-series-hover),
.Omniverse-legend-series-active .Omniverse-data-labels:not(.Omniverse-series-hover) {
    opacity: 0.2;
}

/* Series options */

/* Default colors */
@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .Omniverse-color-#{$i - 1} {
    fill: $color;
    stroke: $color;
  }
}

.Omniverse-area {
    fill-opacity: 0.75;
    stroke-width: 0;
}
.Omniverse-markers {
    stroke-width: 1px;
    stroke: $background-color;
}
.Omniverse-point {
    stroke-width: 1px;
}
.Omniverse-dense-data .Omniverse-point {
    stroke-width: 0;
}

.Omniverse-data-label {
    font-size: 0.9em;
    font-weight: bold;
}
.Omniverse-data-label-box {
    fill: none;
    stroke-width: 0;
}
.Omniverse-data-label text, text.Omniverse-data-label {
    fill: $data-label-color;
}
.Omniverse-data-label-connector {
    fill: none;
}
.Omniverse-halo {
    fill-opacity: 0.25;
    stroke-width: 0;
}
.Omniverse-series:not(.Omniverse-pie-series) .Omniverse-point-select,
.Omniverse-markers .Omniverse-point-select {
    fill: $neutral-color-20;
    stroke: $neutral-color-100;
}
.Omniverse-column-series rect.Omniverse-point {
    // rect to prevent stroke on 3D columns
    stroke: $background-color;
}
.Omniverse-column-series .Omniverse-point {
    transition: fill-opacity 250ms;
}
.Omniverse-column-series .Omniverse-point-hover {
    fill-opacity: 0.75;
    transition: fill-opacity 50ms;
}
.Omniverse-pie-series .Omniverse-point {
    stroke-linejoin: round;
    stroke: $background-color;
}
.Omniverse-pie-series .Omniverse-point-hover {
    fill-opacity: 0.75;
    transition: fill-opacity 50ms;
}
.Omniverse-funnel-series .Omniverse-point {
    stroke-linejoin: round;
    stroke: $background-color;
}
.Omniverse-funnel-series .Omniverse-point-hover {
    fill-opacity: 0.75;
    transition: fill-opacity 50ms;
}
.Omniverse-funnel-series .Omniverse-point-select {
    fill: inherit;
    stroke: inherit;
}
.Omniverse-pyramid-series .Omniverse-point {
    stroke-linejoin: round;
    stroke: $background-color;
}
.Omniverse-pyramid-series .Omniverse-point-hover {
    fill-opacity: 0.75;
    transition: fill-opacity 50ms;
}
.Omniverse-pyramid-series .Omniverse-point-select {
    fill: inherit;
    stroke: inherit;
}
.Omniverse-solidgauge-series .Omniverse-point {
    stroke-width: 0;
}
.Omniverse-treemap-series .Omniverse-point {
    stroke-width: 1px;
    stroke: $neutral-color-10;
    transition: stroke 250ms, fill 250ms, fill-opacity 250ms;
}
.Omniverse-treemap-series .Omniverse-point-hover {
    stroke: $neutral-color-40;
    transition: stroke 25ms, fill 25ms, fill-opacity 25ms;
}

.Omniverse-treemap-series .Omniverse-above-level {
    display: none;
}
.Omniverse-treemap-series .Omniverse-internal-node {
    fill: none;
}
.Omniverse-treemap-series .Omniverse-internal-node-interactive {
    fill-opacity: 0.15;
    cursor: pointer;
}
.Omniverse-treemap-series .Omniverse-internal-node-interactive:hover {
    fill-opacity: 0.75;
}

.Omniverse-vector-series .Omniverse-point {
    fill: none;
    stroke-width: 2px;
}

.Omniverse-windbarb-series .Omniverse-point {
    fill: none;
    stroke-width: 2px;
 }


/* Legend */
.Omniverse-legend-box {
    fill: none;
    stroke-width: 0;
}
.Omniverse-legend-item > text {
    fill: $neutral-color-80;
    font-weight: bold;
    font-size: $legend-font-size;
    cursor: pointer;
    stroke-width: 0;
}
.Omniverse-legend-item:hover text {
    fill: $neutral-color-100;
}
.Omniverse-legend-item-hidden * {
    fill: $neutral-color-20 !important;
    stroke: $neutral-color-20 !important;
    transition: fill 250ms;
}
.Omniverse-legend-nav-active {
    fill: $highlight-color-100;
    cursor: pointer;
}
.Omniverse-legend-nav-inactive {
    fill: $neutral-color-20;
}
circle.Omniverse-legend-nav-active, circle.Omniverse-legend-nav-inactive { /* tracker */
    fill: rgba(192, 192, 192, 0.0001);
}
.Omniverse-legend-title-box {
    fill: none;
    stroke-width: 0;
}

/* Bubble legend */
.Omniverse-bubble-legend-symbol {
    stroke-width: 2;
    fill-opacity: 0.5;
}
.Omniverse-bubble-legend-connectors {
    stroke-width: 1;
}
.Omniverse-bubble-legend-labels {
    fill: $neutral-color-80;
}

/* Loading */
.Omniverse-loading {
    position: absolute;
    background-color: $background-color;
    opacity: 0.5;
    text-align: center;
    z-index: 10;
    transition: opacity 250ms;
}
.Omniverse-loading-hidden {
    height: 0 !important;
    opacity: 0;
    overflow: hidden;
    transition: opacity 250ms, height 250ms step-end;
}
.Omniverse-loading-inner {
    font-weight: bold;
    position: relative;
    top: 45%;
}

/* Plot bands and polar pane backgrounds */
.Omniverse-plot-band, .Omniverse-pane {
    fill: $neutral-color-100;
    fill-opacity: 0.05;
}
.Omniverse-plot-line {
    fill: none;
    stroke: $neutral-color-40;
    stroke-width: 1px;
}

/* Omniverse More and modules */
.Omniverse-boxplot-box {
    fill: $background-color;
}
.Omniverse-boxplot-median {
    stroke-width: 2px;
}
.Omniverse-bubble-series .Omniverse-point {
    fill-opacity: 0.5;
}
.Omniverse-errorbar-series .Omniverse-point {
    stroke: $neutral-color-100;
}
.Omniverse-gauge-series .Omniverse-data-label-box {
    stroke: $neutral-color-20;
    stroke-width: 1px;
}
.Omniverse-gauge-series .Omniverse-dial {
    fill: $neutral-color-100;
    stroke-width: 0;
}
.Omniverse-polygon-series .Omniverse-graph {
    fill: inherit;
    stroke-width: 0;
}
.Omniverse-waterfall-series .Omniverse-graph {
    stroke: $neutral-color-80;
    stroke-dasharray: 1, 3;
}
.Omniverse-sankey-series .Omniverse-point {
    stroke-width: 0;
}
.Omniverse-sankey-series .Omniverse-link {
    transition: fill 250ms, fill-opacity 250ms;
    fill-opacity: 0.5;
}
.Omniverse-sankey-series .Omniverse-point-hover.Omniverse-link {
    transition: fill 50ms, fill-opacity 50ms;
    fill-opacity: 1;
}
.Omniverse-venn-series .Omniverse-point {
    fill-opacity: 0.75;
    stroke: $neutral-color-20;
    transition: stroke 250ms, fill-opacity 250ms;
}
.Omniverse-venn-series .Omniverse-point-hover {
    fill-opacity: 1;
    stroke: $neutral-color-20;
}

/* Highstock */
.Omniverse-navigator-mask-outside {
    fill-opacity: 0;
}
.Omniverse-navigator-mask-inside {
    fill: $highlight-color-60; /* navigator.maskFill option */
    fill-opacity: 0.25;
    cursor: ew-resize;
}
.Omniverse-navigator-outline {
    stroke: $neutral-color-20;
    fill: none;
}
.Omniverse-navigator-handle {
    stroke: $neutral-color-20;
    fill: $neutral-color-5;
    cursor: ew-resize;
}
.Omniverse-navigator-series {
    fill: $navigator-series-fill;
    stroke: $navigator-series-border;
}
.Omniverse-navigator-series .Omniverse-graph {
    stroke-width: 1px;
}
.Omniverse-navigator-series .Omniverse-area {
    fill-opacity: 0.05;
}
.Omniverse-navigator-xaxis .Omniverse-axis-line {
    stroke-width: 0;
}
.Omniverse-navigator-xaxis .Omniverse-grid-line {
    stroke-width: 1px;
    stroke: $neutral-color-10;
}
.Omniverse-navigator-xaxis.Omniverse-axis-labels {
    fill: $neutral-color-40;
}
.Omniverse-navigator-yaxis .Omniverse-grid-line {
    stroke-width: 0;
}
.Omniverse-scrollbar-thumb {
    fill: $neutral-color-20;
    stroke: $neutral-color-20;
    stroke-width: 1px;
}
.Omniverse-scrollbar-button {
    fill: $neutral-color-10;
    stroke: $neutral-color-20;
    stroke-width: 1px;
}
.Omniverse-scrollbar-arrow {
    fill: $neutral-color-60;
}
.Omniverse-scrollbar-rifles {
    stroke: $neutral-color-60;
    stroke-width: 1px;
}
.Omniverse-scrollbar-track {
    fill: $scrollbar-track-background;
    stroke: $scrollbar-track-border;
    stroke-width: 1px;
}
.Omniverse-button {
    fill: $Omniverse-button-background;
    stroke: $Omniverse-button-border;
    cursor: default;
    stroke-width: 1px;
    transition: fill 250ms;
}
.Omniverse-button text {
    fill: $Omniverse-button-text;
}
.Omniverse-button-hover {
    transition: fill 0ms;
    fill: $Omniverse-button-hover-background;
    stroke: $Omniverse-button-hover-border;
}
.Omniverse-button-hover text {
    fill: $Omniverse-button-hover-text;
}
.Omniverse-button-pressed {
    font-weight: bold;
    fill: $Omniverse-button-pressed-background;
    stroke: $Omniverse-button-pressed-border;
}
.Omniverse-button-pressed text {
    fill: $Omniverse-button-pressed-text;
    font-weight: bold;
}
.Omniverse-button-disabled text {
    fill: $Omniverse-button-text;
}
.Omniverse-range-selector-buttons .Omniverse-button {
    stroke-width: $range-selector-button-border;
}
.Omniverse-range-label rect {
    fill: none;
}
.Omniverse-range-label text {
    fill: $neutral-color-60;
}
.Omniverse-range-input rect {
    fill: none;
}
.Omniverse-range-input text {
    fill: $range-selector-input-text;
}
.Omniverse-range-input {
    stroke-width:1px;
    stroke: $range-selector-input-border;
}
input.Omniverse-range-selector {
    position: absolute;
    border: 0;
    width: 1px; /* Chrome needs a pixel to see it */
    height: 1px;
    padding: 0;
    text-align: center;
    left: -9em; /* #4798 */
}
.Omniverse-crosshair-label text {
    fill: $background-color;
    font-size: 1.1em;
}
.Omniverse-crosshair-label .Omniverse-label-box {
    fill: inherit;
}


.Omniverse-candlestick-series .Omniverse-point {
    stroke: $neutral-color-100;
    stroke-width: 1px;
}
.Omniverse-candlestick-series .Omniverse-point-up {
    fill: $background-color;
}
.Omniverse-ohlc-series .Omniverse-point-hover {
    stroke-width: 3px;
}
.Omniverse-flags-series .Omniverse-point .Omniverse-label-box {
    stroke: $neutral-color-40;
    fill: $background-color;
    transition: fill 250ms;
}
.Omniverse-flags-series .Omniverse-point-hover .Omniverse-label-box {
    stroke: $neutral-color-100;
    fill: $highlight-color-20;
}
.Omniverse-flags-series .Omniverse-point text {
    fill: $neutral-color-100;
    font-size: 0.9em;
    font-weight: bold;
}

/* Highmaps */
.Omniverse-map-series .Omniverse-point {
    transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;
    stroke: $neutral-color-20;
}
.Omniverse-map-series .Omniverse-point-hover {
    transition: fill 0ms, fill-opacity 0ms;
    fill-opacity: 0.5;
    stroke-width: 2px;
}
.Omniverse-mapline-series .Omniverse-point {
    fill: none;
}
.Omniverse-heatmap-series .Omniverse-point {
    stroke-width: 0;
}
.Omniverse-map-navigation {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
.Omniverse-coloraxis {
    stroke-width: 0;
}
.Omniverse-coloraxis-marker {
    fill: $neutral-color-40;
}
.Omniverse-null-point {
    fill: $neutral-color-3;
}

/* 3d charts */
.Omniverse-3d-frame {
    fill: transparent;
}

/* Exporting module */
.Omniverse-contextbutton {
    fill: $context-button-background; /* needed to capture hover */
    stroke: none;
    stroke-linecap: round;
}
.Omniverse-contextbutton:hover {
    fill: $neutral-color-10;
    stroke: $neutral-color-10;
}
.Omniverse-button-symbol {
    stroke: $neutral-color-60;
    stroke-width: 3px;
}
.Omniverse-menu {
    border: 1px solid $neutral-color-40;
    background: $background-color;
    padding: 5px 0;
    box-shadow: 3px 3px 10px #888;
}
.Omniverse-menu-item {
    padding: 0.5em 1em;
    background: none;
    color: $neutral-color-80;
    cursor: pointer;
    transition: background 250ms, color 250ms;
}
.Omniverse-menu-item:hover {
    background: $highlight-color-80;
    color: $background-color;
}

/* Drilldown module */
.Omniverse-drilldown-point {
    cursor: pointer;
}
.Omniverse-drilldown-data-label text,
text.Omniverse-drilldown-data-label,
.Omniverse-drilldown-axis-label {
    cursor: pointer;
    fill: $highlight-color-100;
    font-weight: bold;
    text-decoration: underline;
}

/* No-data module */
.Omniverse-no-data text {
    font-weight: bold;
    font-size: 12px;
    fill: $neutral-color-60;
}

/* Drag-panes module */
.Omniverse-axis-resizer {
    cursor: ns-resize;
    stroke: black;
    stroke-width: 2px;
}

/* Bullet type series */
.Omniverse-bullet-target {
    stroke-width: 0;
}

/* Lineargauge type series */
.Omniverse-lineargauge-target {
	stroke-width: 1px;
	stroke: $neutral-color-80;
}
.Omniverse-lineargauge-target-line {
	stroke-width: 1px;
    stroke: $neutral-color-80;
}

/* Annotations module */
.Omniverse-annotation-label-box {
    stroke-width: 1px;
    stroke: $neutral-color-100;
    fill: $neutral-color-100;
    fill-opacity: 0.75;
}
.Omniverse-annotation-label text {
    fill: $neutral-color-10;
}

/* Gantt */
.Omniverse-treegrid-node-collapsed, .Omniverse-treegrid-node-expanded {
    cursor: pointer;
}
.Omniverse-point-connecting-path {
    fill: none;
}
.Omniverse-grid-axis .Omniverse-tick {
    stroke-width: 1px;
}
.Omniverse-grid-axis .Omniverse-axis-line {
    stroke-width: 1px;
}
