<div class="full-width normal-popup">
<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span><img src="../../../../assets/img/close-icon.svg" alt="close_icon"></span>
  </button>
</div>
<div class="modal-body text-center">
  <ng-container *ngIf="link == 'Copy Link'; else elseTemplate">
    <h4 class="popup-msg">{{content.slice(0,80)}}...</h4>
  </ng-container>
  <ng-template #elseTemplate>
    <h4 class="popup-msg">{{content}}</h4>
  </ng-template>
  
    
    <button class="btn btn-modal" (click)="close()">{{link}}</button>
</div>
</div>
<div class="full-width new-popup-feature">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span><img src="../../../../assets/img/closesmall.svg" alt="close_icon"></span>
    </button>
    <div class="error-icon-in">
        <img src="../../../../assets/img/save.svg" class="suss-im">
        <img src="../../../../assets/img/close-white-in.svg" class="error-im">
    </div>
  </div>
  <div class="modal-body ">
    <div class="full-width">
    <ng-container *ngIf="link == 'Copy Link'; else elseTemplate">
      <h4 class="popup-msg">{{content.slice(0,80)}}...</h4>
    </ng-container>
    <ng-template #elseTemplate>
      <h4 class="popup-msg">{{content}}</h4>
    </ng-template>
  </div>
    <div class="full-width btn-container-in">
      <button class="btn btn-modal" (click)="close()">{{link}}</button>
    </div>
  </div>
</div>
