<div class="full-width breadcrumbs">
        <ul>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Engagement Planning</a>
            </li>
        </ul>
    </div>
    
    <div class="full-width bg-white">
        <app-amaa-veiw></app-amaa-veiw>
    </div>
    <div class="full-width bg-white main-content">
        <div class="content">
            <tabset class="tab-block">               
                <tab heading="Budgeting">  
                    <app-budgeting></app-budgeting>
                </tab>
                <tab heading="Memorandum">
                    <app-memorandum></app-memorandum>
                </tab>
                <tab heading="Program">
                    <app-program></app-program>
                </tab>
    
    
            </tabset>
    
        </div>
    
    </div>