<div class="ful-width">
  <!-- <button class="btnclose" (click)="closeDialog()">
          <img src="../../../../../../assets/img/full-screen.svg">
        </button> -->
</div>
<div *ngIf="viewRoom">
  <div class="full-width clearfix">
    <div class="controls">
      <!-- <a
              href="/logout"
              class="logout-btn"
              style="width: auto; padding: 13px; font-size: 12px;"
              >Logout</a
            > -->
    </div>

    <div class="room" style="width: 100%;">
      <div class="room-header clearfix">
        <div class="room-about">
          <div class="room-title">Rooms</div>
          <div class="room-num-rooms">{{ rooms.length }} Room(s)</div>
        </div>
        <i class="fa fa-th-list"></i>
      </div>
      <!-- end room-header -->

      <div class="room-create clearfix" style="border-bottom: 2px solid white;">
        <input
          type="text"
          name="title"
          autofocus
          placeholder="Type a new room"
          [(ngModel)]="roomTitle"
        />
        <button (click)="addRoom(roomTitle)">Create</button>
      </div>
      <!-- end room-create -->

      <div class="room-list">
        <ul *ngIf="rooms.length; else messageBlock">
          <h4 class="room-head">Rooms</h4>
          <li *ngFor="let room of rooms">
            <a (click)="openChatroom(room._id)">
              {{
                room.title.length > 25
                  ? room.title.substr(0, 25) + "..."
                  : room.title
              }}
            </a>
            <a
              (click)="removeChatroom(room._id)"
              style="float:Right; background-color:#5a4296; border-radius: 10px; height: 25px;width: 25px; text-align: center;"
            >
              <img alt="trash_icon"
                src="../../../../../../assets/img/trash.png"
                class="img-delete"
              />
            </a>
          </li>
        </ul>
        <ng-template #messageBlock>
          <p class="message" style="text-align:center; padding:0; margin:0;">
            Create your first room!
          </p>
        </ng-template>
      </div>
      <!-- end room-list -->
    </div>
    <!-- end room -->
  </div>
</div>
<!-- end container -->
<div *ngIf="viewChatroom">
  <app-chatroom [roomId]="roomID"></app-chatroom>
</div>
