<div class="table-header">
  <div class="col-xs-6 col-lg-8 icon-list float-right no-padding" *ngIf="!isLoading">
    <a (click)="loadAddNewComponent()" class="tooltip">
      <span class="tooltiptext doble-word">Add Risk</span>
      <img src="assets/img/add_button.svg" alt="Add" />
    </a>
    <a (click)="loadReportComponent()" class="tooltip">
      <span class="tooltiptext triple-word">Generate Report</span>
      <img src="assets/img/generate-report.svg" alt="Generate Report" style="margin-top: 3px;" />
    </a>
    <div class="dropdown export-dropdown">
      <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tooltiptext">Export</span>
        <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
      </a>
      <div class="dropdown-menu export-dropdown-menu" id="risklist-export-RCM"></div>
    </div>
    <div class="filter-dropdown-column">
      <a class="tooltip m-0">
        <span class="tooltiptext">Customize Table</span>
        <img src="assets/img/settings.svg" alt="Export" (click)="SettingRiskList($event)" class="click-icon" />
      </a>
      <div class="dropdown-menu-column" id="dropDown">
        <a class="dropdown-item-column risk-hideshow" [attr.data-column]="i"
          *ngFor="let riskListColumn of showHideHeadersRL; index as i" style="margin-left: 0px; cursor: pointer;">
          <label>
            <input class="checkbox" type="checkbox" value="{{ riskListColumn }}" checked /><span
              class="filter-text">{{ riskListColumn }}</span>
          </label>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <table id="riskListTable" class="display fullDataTable table-sm-no-button" style="width: 100%;">
    <thead>
      <tr>
        <th></th>
        <th>
          <input name="select_all" value="1" id="rcmristList-select-all" type="checkbox" />
        </th>
        <th>Risk Area</th>
        <th>Risk ID</th>
        <th>Risk Name</th>
        <th>Risk Description</th>
        <th class="text-center action-block">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="riskData">
      <tr *ngFor="let risk of riskData; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">{{ risk.riskArea | titlecase }}</td>
        <td class="reorder-row">
          <a class="btn risk-btn {{ risk.buttonClass }}"
            (click)="loadMyChildComponent(risk.riskId)">{{ risk.riskId }}</a>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': risk.riskName.length > 76 }">
            <span class="read-more-text">{{ risk.riskName | titlecase }}</span>
            <span class="tooltiptext">{{ risk.riskName | titlecase }}</span>
          </div>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': risk.riskDescription.length > 164 }">
            <span class="read-more-text">{{ risk.riskDescription }}</span>
            <span class="tooltiptext">{{ risk.riskDescription }}</span>
          </div>
        </td>
        <td align="center" class="action-row">
          <div class="dropdown show action-dropdown position-relative dropup">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a (click)="loadMyChildComponent(risk.riskId)" class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a (click)="delete(risk.riskId)" class="delete-btn">
                    <img src="assets/img/delete_button.svg" alt="Delete" />
                    <span>Delete</span>
                  </a>
                </li>
                <li>
                  <a (click)="duplicate()" class="duplicate-btn">
                    <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                    <span>Duplicate</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-risk-definition-form *ngIf="loadComponent" [riskData]="selectedRiskId"
  (closedRiskDefForm)="getControlFormStatus($event)"></app-risk-definition-form>
<app-add-new-risk *ngIf="addNewRiskComponent" (closedAddNewRiskForm)="getStatusOfAddNewRiskForm($event)">
</app-add-new-risk>
<app-generate-repot-form *ngIf="addNewGenerateComponent" [selectReportData]="selectReport"></app-generate-repot-form>