<div class="auditee-chat-container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light top-menu">
    <div class="b-logo">
      <a class="navbar-brand">
        <span class="green-font">En</span>
        <span class="purple-font">IA</span>
      </a>
    </div>
  </nav>
</div>

<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleSix"
  *ngIf="pbcData && pbcData.teamAndTimeline">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="Close">

  </div>
  <div class="full-width from-heading-box relative" #myHandleSix>
    <div class="text-area-sec">
      <h4 class="field-work-h4"><span>New Document Request</span> </h4>
    </div>

    <div class="r-number">
      <!-- <p class="text-design">{{auditPBC_id}}</p> -->
    </div>
    <div class="icons-in">
      <ul>

        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"
              alt="Print"></a>
          <!-- <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print">  Print</a> -->
          <!-- print click added by Abu - 16-09-2020 start -->
          <a href="javascript:void(0);" class="dupIcoHover" (click)="print()">
            <img src="assets/img/Print2.svg" alt="Print" /> Print</a>
          <!-- print click added by Abu - 16-09-2020 end -->
        </li>

      </ul>
    </div>
  </div>

  <!-- New UI added by Abu - 17-09-2020 start -->
  <div class="scroll-container">

    <div class="full-width tab-section-container">
      <div class="full-width">
        <tabset class="tab-block">
          <tab>
            <ng-template tabHeading>
              <span>Details</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="">
                  <div class="row">
                    <div class="full-width col-sm col-md-3">
                      <div class="form-group">
                        <label>Period in Scope</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="No Date Selected" class="form-control calendar-icon"
                            bsDaterangepicker name="periodInScope" [(ngModel)]="pbcData.teamAndTimeline.periodInScope"
                            placement="bottom" [bsConfig]="{ rangeInputFormat: 'DD-MM-YYYY' }" disabled />
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm col-md-2 audit-sm-3">
                      <div class="form-group">
                        <label>Audit ID</label>
                        <div class="full-width relative">
                          <p><span class="color-text">{{pbcData.auditId}}</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm col-md-4">
                      <div class="form-group">
                        <label>Audit Title</label>
                        <div class="full-width relative">
                          <p><span class="color-text">{{pbcData.auditableEntity}} -
                              {{pbcData.category.levelFive.data}}</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm assign-width-15 no-padding">
                      <div class="assignees form-group">
                        <label>Auditee</label>
                        <div class="a-team">
                          <ul class="teamListUl">
                            <li *ngFor= "let item of pbcData.teamAndTimeline.pbc">
                              <img src="../../../../../../assets/img/profile.png">
                              <span class="color-text">{{item}}</span>

                            </li>

                          </ul>
                          <!-- <label *ngIf="!mixArr">No Preparer assigned</label> -->
                        </div>
                      </div>
                    </div>

                    <div class="full-width col-sm assign-width-15">
                      <div class="assignees form-group">
                        <label>Reviewer</label>
                        <div class="a-team">
                          <ul class="teamListUl">
                            <li>
                              <img src="../../../../../assets/img/elmar.png">
                              <span class="color-text">{{pbcData.auditPbc.Preparer}}</span>

                            </li>

                          </ul>
                          <!-- <label *ngIf="!mixArr">No Reviewer assigned</label> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mt-3 mb-3">
                    <div class="row">
                      <div class="col-sm-6 no-padding">
                        <div class="clearfix">
                          <div class="form-group pl-3 pr-3 m-0 mt-2">
                            <label>Document Request</label>
                            <textarea class="p-2" [(ngModel)]="pbcData.auditPbc.documentRequest" name="documentRequest"
                              disabled></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="clearfix">
                          <div class="form-group pl-3 pr-3 m-0 mt-2">
                            <label>Audit Scope</label>
                            <textarea class="p-2" [(ngModel)]="pbcData.auditPbc.auditScope" name="auditScope"
                              disabled></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="full-width add-new-block">
                <div class="col-lg-12 table-icon-list float-right text-right padding-right-0 mb-2">
                  <a class="tooltip" (click)="addnewPBCpopup()">
                    <span class="tooltiptext triple-word">Add New PBC</span>
                    <img src="assets/img/add_button.svg" alt="Add" />
                  </a>
                  </div>

              </div> -->

                <table id="pbcDocumentTable" class="display table-md-responsive table-sm-space-20 pbc-form-table"
                  style="width: 100%;">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="sorting_disabled text-center">
                        OK
                        <!-- <input name="select_all" value="1" id="pbc-document-select-all" type="checkbox" /> -->
                      </th>
                      <th>Due Date</th>
                      <th>Doc. Requested</th>
                      <th>Date Uploaded</th>
                      <th>Attachment</th>
                      <th>Remark</th>
                      <th class="text-center action-block sorting_disabled">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pbcData.auditPbc.documentList;let i = index">
                      <!-- <td>1</td> -->
                      <td>{{ i + 1 }}</td>
                      <!-- <tr>
                      <td>1</td>
                      <td class="dt-body-center switch-toggle-block">
                        <input name="select_all" value="1" id="pbc-switch-toggle" type="checkbox" (change)="toggleEditable($event)" />
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input type="checkbox" (change)="switchProperty($event)" class="onoffswitch-checkbox attch" id="addcontro" />
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </td>
                      <td>
                        12.12.2020
                      </td>
                      <td>
                        Vendor List <span class="lock-icon"><img src="../../../../../../assets/img/lock.svg" alt="Lock" /></span>
                      </td>
                      <td>12.12.2020</td>
                      <td>
                        <img src="assets/img/pdf-ico.svg" alt="Image" />
                      </td>
                      <td class="text-center">
                        <input class="form-control edit-input-field" type="text" value="OK" />
                      </td>
                      <td align="center">
                        <div class="dropdown show action-dropdown position-relative">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-text">
                            <ul>
                        
                              <li>
                                <a class="edit-btn">
                                  <span>Delete Attachment</span>
                                </a>
                              </li>
                    
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr> -->

                      <!-- <td class="dt-body-center switch-toggle-block">
                        <input name="select_all" value="1" id="pbc-switch-toggle"
                           type="checkbox"
                          disabled />
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input type="checkbox"
                           class="onoffswitch-checkbox attch"
                            id="addcontro-{{i}}" disabled/>
                            <label class="onoffswitch-label" for="addcontro-{{i}}">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </td> -->
                      <td class="dt-body-center switch-toggle-block">
                        <input name="select_all" value="1" id="pbc-switch-toggle-{{i}}" disabled
                          [checked]="item.isApproved || item.isRejected" [disabled]="item.isLocked || !item.dmsInfo || (item.dmsInfo && !item.dmsInfo.documentUrlToken)" type="checkbox"
                         [disabled] = "item.isLocked" [disabled] = "item.dmsInfo " />
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input type="checkbox" [disabled] = "item.isLocked "
                              [checked]="item.isApproved && !item.isRejected" class="onoffswitch-checkbox attch"
                              id="addcontro-{{i}}" disabled />
                            <label class="onoffswitch-label" for="addcontro-{{i}}">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="full-width relative">
                          <input type="text" placement="top" placeholder="Select Date"
                            class="form-control calendar-icon" bsDatepicker [(ngModel)]="item.dueDate"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" disabled />
                        </div>

                      </td>
                      <td class="text-center"> {{item.docRequested}}
                        <span *ngIf="item.isLocked" class="lock-icon"><img src="../../../../../../assets/img/lock.svg"
                            alt="Lock" /></span>
                      </td>
                      <td>{{item.dateUploadedDisplay}}</td>
                      <td>
                        <ng-container *ngIf="item.dmsInfo && item.dmsInfo.documentUrlToken; else noDocs">
                          <!-- <img src="assets/img/pdf-ico.svg" alt="Image" /> -->

                         <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion === 'pdf'">
                          <img src="assets/img/pdf-ico.svg"  alt="pdf_icon" />
                        </div> 
                         <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion === 'docx' || item.dmsInfo.extenstion === 'PPTX'">
                          <img src="../../../../../../assets/img/word.svg"alt="word_icon" />
                        </div> 
                         <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion === 'png' || item.dmsInfo.extenstion === 'jpg' || item.dmsInfo.extenstion === 'jpeg'">
                          <img src="../../../../../../assets/img/image.svg" alt="image_icon" />
                        </div>
                        <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion == 'xlsx'">
                          <img src="../../../../../../assets/img/excel.svg" alt="excel_icon" />
                        </div> 
                        </ng-container>
                        <ng-template #noDocs>
                          <div class="full-width question-container-1 mb-0">
                            <div class="full-width">
                              <div class="img-section-plus">
                                <img src="assets/img/add_button.svg">
                                <input type="file" id="myFile" class="custom-file-input auditee-pbc"
                                  (change)="PbcFileUploaded($event,i)"
                                  accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">
                              </div>

                            </div>
                          </div>
                        </ng-template>

                      </td>
                      <td class="text-center">
                        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': item.remarks.length > 10 }">
                          <input class="form-control edit-input-field" type="text" name="remarks"
                          [(ngModel)]="item.remarks" disabled />
                          <span class="tooltiptext wd-150">{{ item.remarks }}</span>
                          </div>

                      </td>
                      <td align="center">
                        <div class="dropdown show action-dropdown position-relative">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-text">
                            <ul>
                              <li *ngIf="item.dmsInfo && item.dmsInfo.documentUrlToken && !item.isLocked">
                                <a class="edit-btn" (click)="deleteFileAttachment(i)" >
                                  <span>Delete Attachment</span>
                                </a>
                              </li>


                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="full-width button-container">
              <!-- <button class="big-button orange-btn">Reject</button> -->
              <!-- <button class="big-button">Save</button>
              <button class="big-button purple-btn">Send</button> -->
              <!-- <button class="big-button green-btn right-side">Approve</button> -->

              <button class="big-button yellow-btn right-side" (click)="onSubmit()">
                Submit
              </button>
            </div>
          </tab>
          <!-- <tab>
            <ng-template tabHeading>
              <span>Overview</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="row">
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Information</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Company Name</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Location</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>B.U. Name</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Business Process Name</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Dates</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Identified On</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="Select Date" class="form-control calendar-icon" bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                        </div>
                      </div>
                    </div>




                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Submitted On</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="Select Date" class="form-control calendar-icon" bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }" />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Last Change</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="Select Date" class="form-control calendar-icon" bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="top" />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Approved On</label>
                        <div class="full-width relative">
                          <input type="text" placeholder="Select Date" class="form-control calendar-icon" bsDatepicker
                            placement="top" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>People</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Owner</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Owner ID</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Submitter</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Submitter ID</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>

                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Approved by</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Approver ID</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab> -->
        </tabset>
      </div>
    </div>
    <!-- </form> -->



    <!-- New UI added by Abu - 17-09-2020 end -->




    <!-- <div class="scroll-container">
  <form [formGroup]="PBCForm" (ngSubmit)="onSave()">
  <div class="full-width tab-section-container">
    <div class="full-width">
      <tabset class="tab-block">
        <tab>
          <ng-template tabHeading>
            <span>Details</span>
          </ng-template>
          <div class="tabContent-box">
            <div class="full-width">
              <div class="">
                <div class="row">
                  <div class="full-width col-sm">
                    <div class="form-group">
                      <label>Performance Period</label>
                      <div class="full-width relative">
                        <input type="text" 
                        placeholder="-" 
                        class="form-control calendar-icon" 
                         disabled formControlName="performance_period">
                      </div>
                    </div>
                  </div>
                  <div class="full-width col-sm">
                    <div class="form-group">
                      <label>Audit Program ID</label>
                      <div class="full-width relative">
                        <p><span>AP001</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="full-width col-sm">
                    <div class="assignees form-group">
                      <label>Preparer</label>
                      <div class="a-team">
                        <ul class="teamListUl" *ngIf="preparerArr">
                          <li *ngFor="let p of preparerArr">
                            <div class="listPeopleName">{{p | titlecase}}</div>
                            <img src="../../../../../assets/img/profile-dummy.png">
                          </li>
                         
                        </ul>
                        <label *ngIf="!mixArr">No Preparer assigned</label>
                      </div>
                    </div> 
                  </div>

                  <div class="full-width col-sm">
                    <div class="assignees form-group">
                      <label>Reviewer</label>
                      <div class="a-team">
                        <ul class="teamListUl" *ngIf="reviewerArr">
                          <li *ngFor="let r of reviewerArr">
                            <div class="listPeopleName">{{r | titlecase}}</div>
                            <img src="../../../../../assets/img/profile-dummy.png">
                          </li>
                         
                        </ul>
                        <label *ngIf="!mixArr">No Reviewer assigned</label>
                      </div>
                    </div> 
                  </div>

                </div>

                <div class="row">
                  <div class="full-width col-sm">
                    <div class="form-group">
                      <label>Sign Off Period</label>
                      <div class="full-width relative">
                        <input type="text" 
                        placeholder="Select Date" 
                        class="form-control calendar-icon" bsDatepicker
                        placement="bottom" formControlName="apbc_signoff_period" [bsConfig]="{ dateInputFormat:'DD/MM/YYYY' }">
                      </div>
                    </div>
                  </div>
                  <div class="full-width col-sm">
                    <div class="form-group">
                      <label>Audit Program Title</label>
                      <div class="full-width relative">
                        <p><span>Financial Compliance Review</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="full-width col-sm">
                    <label>PBC Name</label>
                    <input type="text" formControlName="apbc_name" class="form-control">
                    
                  </div>
                </div>



                <div class="row dvsn-section">
                  <div class="audit-scope full-width col-sm">
                    <div class="dvsn clearfix">
                      <div class="form-group">
                        <label>Work Step</label>
                        <textarea formControlName="apbc_work_step" style="border: 0;" contenteditable="true">Travel booked according to the policy</textarea>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="status-box mt-3 mb-3">
                    <div class="row">
                      <div class="col-sm-4">
                      <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" formControlName="apbc_status">
                          <option>Select an Option</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                        <div class="clearfix">
                          <div class="form-group pl-3 pr-3 m-0 mt-2">
                            <label>Document Request</label>
                            <textarea formControlName="apbc_document_req" contenteditable="true" class="p-2">Travel booking with date and costs Q2-Q4 2019</textarea>
                          </div>
                        </div>
                    </div>

                  </div>
                  </div>

              </div>



              <div class="secound">

                <div class="full-width question-container-1">
                  <div class="questions">
                    <p class="question-tag">Attachments</p>
                    <div class="button-radio">
                      <div class="onoffswitch"> 
                        <input type="checkbox" [checked]="attachedFiles?.length > 0" [disabled]="attachedFiles?.length > 0" (change)="switchProperty($event)" name="addcontrolbutton" class="onoffswitch-checkbox attch" id="addcontro">
                        <label class="onoffswitch-label" for="addcontro">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>

                    </div>
                  </div>

                </div>
              </div>


              <div class="full-width question-container-1" *ngIf='attachedFiles?.length > 0 || openAttachment'>
                <div class="attch-tooltips pdf-file" *ngFor="let item of attachedFiles; let i=index">
                  <img (click)="getDocument(item)" src="../../../../../assets/img/pdf.svg" alt="" width="35px" *ngIf="item.extension === 'pdf'">
                  <img  (click)="getDocument(item)" src="../../../../../assets/img/word.svg" alt="" width="35px" *ngIf="(item.extension === 'docx')|| (item.extension === 'doc')">
                  <img (click)="getDocument(item)" src="../../../../../assets/img/excel.svg" alt="" width="35px" *ngIf="(item.extension === 'xlsx')||(item.extension === 'csv')">
                  <img (click)="getDocument(item)" src="../../../../../assets/img/search_icon.svg" alt="" width="35px" *ngIf="(item.extension === 'png')||(item.extension === 'jpeg')">
                  <label>{{ item.relativePath }}</label>
                  <div class="user-text">
                     </div>
                      <div class="user-text">
                        <span class="close-icon" id="remove-user"> Remove
                        
                          <img (click)= "removeAttachment(item,i)" alt="delete" src="../../../../../assets/img/close-form.svg">
                        </span>
                        </div>
                </div>
                <div class="add-file">
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                  >
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <label for="upload-photo"><img src="../../../../../assets/img/plus.png" (click)="openFileSelector()" alt="" width="20px">Add New</label>
                       
                      </ng-template>
                  </ngx-file-drop>
                  </div>
              </div>
            </div>

          </div>
          <div class="full-width button-container">
            <button class="big-button" type="submit">Save</button>
            <button class="big-button purple-btn">Delegate</button>
            <button class="big-button orange-btn">Reject</button>
            <button class="big-button green-btn right-side">Approve</button>
            <button class="big-button yellow-btn right-side">Submit</button>

          </div>
        </tab>
        <tab>
          <ng-template tabHeading>
            <span>Overview</span>
          </ng-template>
          <div class="tabContent-box">
            <div class="full-width">
              <div class="row">
                <div class="three-share">
                  <div class="full-width heading-sec-form">
                    <h4 class="headind-form">
                      <span>Information</span>
                    </h4>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Company Name</label>
                      <input
                      class="form-control"
                      type="text"
                    />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Location</label>
                      <input
                      class="form-control"
                      type="text"
                    />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>B.U. Name</label>
                      <input
                      class="form-control"
                      type="text"
                    />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Business Process Name</label>
                      <input
                      class="form-control"
                      type="text"
                    />
                    </div>
                  </div>
                </div>
                <div class="three-share">
                  <div class="full-width heading-sec-form">
                    <h4 class="headind-form">
                      <span>Dates</span>
                    </h4>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Identified On</label>
                      <div class="full-width relative">
                        <input
                          type="text"
                          placeholder="Select Date"
                          class="form-control calendar-icon"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                          placement="bottom"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Submitted On</label>
                      <div class="full-width relative">
                        <input
                          type="text"
                          placeholder="Select Date"
                          class="form-control calendar-icon"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                          
                        />
                      </div>
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Last Change</label>
                      <div class="full-width relative">
                        <input
                          type="text"
                          placeholder="Select Date"
                          class="form-control calendar-icon"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                          placement="top"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Approved On</label>
                      <div class="full-width relative">
                        <input
                          type="text"
                          placeholder="Select Date"
                          class="form-control calendar-icon"
                          bsDatepicker
                          placement="top"
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="three-share">
                  <div class="full-width heading-sec-form">
                    <h4 class="headind-form">
                      <span>People</span>
                    </h4>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Owner</label>
                      <input
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Owner ID</label>
                      <input
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Submitter</label>
                      <input
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Submitter ID</label>
                      <input
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>

                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Approved by</label>
                      <input
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="full-width">
                    <div class="form-group">
                      <label>Risk Approver ID</label>
                      <input
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</form>
</div> -->
  </div>