.auditable-view-block {
    h6 {
        font-size: 14px;
        font-weight: 700;
        color: #644c9f;
        width: 100%;
        margin-bottom: 10px;
        float: left;
    }
    li
    {
        margin-right: 0;
        &.select-auditable-block {
            width: 30%;
            select {
                width: 85%;
                margin-top: 10px;
                color: #644c9f;
                font-weight: 600;
                option {
                    color:#6d6d6d;
                    font-weight:normal;
                }
            }
        }
        &.audit-team-block{
            width: 13%;
            margin-right: 0;
            .progress-bar-block{
                .image-people{
                  float: left;
                  list-style: none;
                  padding: 0px;
                  margin: 0px;
                  padding-right: 5px;
                  li{
                    float: left;
                    padding-top: 0px;
                    margin-right: -5px;
                    width: auto;
                  }
                }
              }
        }
        &.meeting-notes-sec{
            width: 57%;
            h6 {
                padding-left: 14px;
            }
            // .full-sec{
            //     width: 100%;
            //     float: left;
            //     border-left: 1px solid #e8e7e7;
            //     border-right: 1px solid #e8e7e7;
            //     position: relative;
            //     &:before{
            //         content: "";
            //         position: absolute;
            //         left: 50%;
            //         width: 1px;
            //         height: 100%;
            //         background-color: #e8e7e7;
            //     }
            // }
            .haldside{
                width: 20%;
                float: left;
                border-right: 1px solid #e8e7e7;
                &:last-child{
                    border-right: 0px;
                }
                .labelsec{
                    padding-left: 14px;
                    float: left;
                    width: 60px;
                    font-size: 10px;
                    color: #464646;
                    line-height: 14px;
                    font-weight: 600;
                }
                .date-sec{
                    float: left;
                    width: calc(~'100% - 60px');
                    text-align: center;
                    color: #464646;
                    font-weight: 700;
                    padding-top: 9px;
                }
            }
        }
    }
}
.stepper-block {
    margin-top:10px;
    float: left;
    width: 100%;
}
.md-stepper-horizontal {
    display:table;
    width:100%;
    margin:0 auto;
    background-color:#fbfbfb;
    border:1px solid #ddd;
    padding: 10px 20px 10px 44px;
    border-radius:2px;
    // box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
    .md-step {
        display:table-cell; 
        position:relative;
        padding: 0;
        width: 25%;
        .md-step-title {
            margin-top:0px;
            font-size:14px;
            font-weight:700;
            text-align: left;
            color:rgba(0,0,0,.26);
            margin-left: -10%;
        }
        &.review-block {
            .md-step-title {
                margin-left: -5%;
            }
        }
        &.complete-block {
            .md-step-title {
                margin-left: -30%;
            }
        }
        &.active {
            .md-step-circle-block {
                border: 1px solid #664da0;
                padding: 2px;
                width: 20px;
                height: 20px;
                .md-step-circle {
                    background-color: #664da0;
                }
            }
            .md-step-bar-left, .md-step-bar-right {
                border-top-color: #664da0;
            }
            .md-step-bar-right {
                margin-left: 19px;
            } 
            .md-step-title {
                color: #664da0;
            }
        }
        &.done {
            .md-step-circle-block {
                .md-step-circle {
                    background-color: #98aa3a;
                }
            }
            .md-step-bar-left, .md-step-bar-right {
                border-top-color: #98aa3a;
            }
            .md-step-title {
                color: #98aa3a;
            }
        }
        // &:hover, &:active {
        //     background-color:rgba(0,0,0,0.04);
        // }
        &:hover {
            .md-step-circle {
                background-color:#757575;
            }
        }
        &:active {
            border-radius: 15% / 75%;
        }
        &:first-child {
            &:active {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .md-step-bar-left {
                display: none;
            }
        } 
        &:last-child {
            &:active {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .md-step-bar-right {
                display: none;
            }
        } 
        .md-step-circle-block {
            width: 15px;
            height: 20px;
            padding:2px 0px;
            margin: 0;
            border-radius: 50%;
            text-align: center;
            .md-step-circle {
                background-color: #999999;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                display: inline-block;
                vertical-align: top;
            }
        }
        .md-step-bar-left, .md-step-bar-right {
            position:absolute;
            top:10px;
            height:2px;
            border-top:2px solid #DDDDDD;
        }
        .md-step-bar-left {
            left: 0;
            right: 50%;
            margin-right: 9px;
            display: none;
        }
        .md-step-bar-right {
            right: 0;
            left: 0;
            margin-left: 15px;
            top: 8px;
        }
    }
}

@media screen and (max-width: 1340px){

    .auditable-view-block li.meeting-notes-sec .haldside .labelsec{
        width: 100%;
        padding-left: 14px;
    }
    .auditable-view-block li.meeting-notes-sec .haldside .date-sec{
        width: 100%;
        text-align: left;
        padding-left: 14px;
        padding-top: 0px;
    }
}