<!-- New UI added by Abu - 17-09-2020 start -->

<div class="full-width container-side">
  <ul class="block-ul auditable-view-block">
    <li class="select-auditable-block">
      <!-- <h6>Select Auditable entity</h6> -->
      <div class="full-width">
        <div class="form-group">
          <select class="form-control" [disabled]="sharedFlagObj.disableAuditDropDown"(change)="getAuditInfo($event.target.value)">
            <option value="">Select Audit</option>
            <option *ngFor="let audit of auditList" [value]="audit.auditId">{{audit.auditId +"-" + audit.auditableEntity + "-"+ audit.siteName + "-"+ audit.businessProcess }}</option>
          </select>
        </div>
      </div>
    </li>
    <li class="audit-team-block">
      <h6>Team</h6>
      <div class="progress-bar-block">
        <ul *ngIf="isAuditSelected" class="image-people">
          <li class="user-icon multi-user-icon" *ngFor="let auditTeam of auditInfo.auditTeam">
            <!-- Tooltip added by Abu 24-09 Start-->            
            <div class="user-text">
              <span class="d-block">{{auditTeam}}</span>
            </div>
            <!-- Tooltip added by Abu 24-09 End-->
            <img src="../../../../../assets/img/img-list.png">
          </li>
          <!-- <li>
            <img src="../../../../../assets/img/img-list.png">
          </li>
          <li>
            <img src="../../../../../assets/img/img-list.png">
          </li> 
          <li>
            <img src="../../../../../assets/img/img-list.png">
          </li> -->
        </ul>

      </div>
    </li>
    <li class="meeting-notes-sec">
      <h6>Dates</h6>
      <div class="full-sec">
        <div class="haldside">
          <div class="labelsec">
            Opening Meeting
          </div>
          <div *ngIf="isAuditSelected" class="date-sec">
            {{auditInfo.openingMeetingDate | date:'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="haldside">
          <div class="labelsec">
              Update meeting 1
          </div>
          <div *ngIf="isAuditSelected" class="date-sec">
            {{auditInfo.updateMeetingDate | date:'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="haldside">
          <div class="labelsec">
              Update meeting 2
          </div>
          <div *ngIf="isAuditSelected" class="date-sec">
            {{auditInfo.updateMeetingDate2 | date:'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="haldside">
          <div class="labelsec">
              Closing Meeting
          </div>
          <div *ngIf="isAuditSelected" class="date-sec">
              {{auditInfo.closingMeetingDate | date:'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="haldside">
            <div class="labelsec">
              Final Report
            </div>
            <div *ngIf="isAuditSelected" class="date-sec">
              {{auditInfo.finalMeetingDate | date:'dd-MM-yyyy'}}
            </div>
          </div>
      </div>
    </li>

  </ul>

  <div class="stepper-block">
    <div class="md-stepper-horizontal orange">
      <div class="md-step" [ngClass]="progressSettings.preparation">
        <div class="md-step-circle-block">
          <span class="md-step-circle"></span>
        </div>
        <div class="md-step-title">Preparation</div>
        <!-- <div class="md-step-bar-left"></div> -->
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" [ngClass]="progressSettings.fieldwork">
        <div class="md-step-circle-block">
          <span class="md-step-circle"></span>
        </div>
        <div class="md-step-title">Fieldwork</div>
        <!-- <div class="md-step-bar-left"></div> -->
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step" [ngClass]="progressSettings.reporting">
        <div class="md-step-circle-block">
          <span class="md-step-circle"></span>
        </div>
        <div class="md-step-title">Reporting</div>
        <!-- <div class="md-step-bar-left"></div> -->
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step review-block" [ngClass]="progressSettings.review">
        <div class="md-step-circle-block">
          <span class="md-step-circle"></span>
        </div>
        <div class="md-step-title">Review</div>
        <!-- <div class="md-step-bar-left"></div> -->
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step complete-block" [ngClass]="progressSettings.complete">
        <div class="md-step-circle-block">
          <span class="md-step-circle"></span>
        </div>
        <div class="md-step-title">Complete</div>
        <!-- <div class="md-step-bar-left"></div> -->
        <div class="md-step-bar-right"></div>
      </div>
    </div>


  </div>
</div>

<!-- New UI added by Abu - 17-09-2020 end -->



<!-- <div class="full-width container-side">
  <ul class="block-ul">
    <li class="box-li">
      
        <div class="full-width box-container orange-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{noOfAudits}}</p>
            </div>
            <div class="text-container">
              <p class="text">Audits {{year}}</p>
            </div>
          </div>
        </div>

    </li>
    <li class="box-li">
      
        <div  class="full-width box-container blue-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{annCount}}</p>
            </div>
            <div class="text-container">
              <p class="text">Announced</p>
            </div>
          </div>
        </div>

    </li>
    <li class="box-li">
      
        <div class="full-width box-container yellow-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{memoCount}}</p>
            </div>
            <div class="text-container">
              <p class="text">Memo Sent</p>
            </div>
          </div>
        </div>
  
    </li>
    <li class="box-li">
      
      <div class="full-width box-container orange-border">
        <div class="box-haif-number">
          <div class="number-container">
            <p class="number">{{omCount}}</p>
          </div>
          <div class="text-container">
            <p class="text">Opening Meeting</p>
          </div>
        </div>
      </div>

  </li>
    <li class="box-li">
      <div class="full-width box-container yellow-border">
        <div class="box-haif-number"></div>
      </div>
    </li>
  </ul>
</div> -->