<div class="pop-up-form" ngDraggable [position]="" [handle]="myHandleTwo">
    <div class="close-form" (click)="closeModal(true)">
        <img src="../../../../../assets/img/close-form.svg">
  
    </div>
    <div class="full-width from-heading-box relative" #myHandleTwo>
        <div class="text-area-sec">
            <h4 class="field-work-h4"> <span>Team and Timeline :</span></h4>
        </div>
  
        <div class="r-number">
            <p class="text-design"></p>
        </div>
  
        <div class="icons-in">
            <ul>
                <!-- <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/duplicate-form.svg"></a>
                    <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg"
                            alt="Duplicate"> Duplicate</a>
                </li>
                <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/upload-form.svg"></a>
                    <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export">
                        Export</a>
                </li> -->
                <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/print-form.svg"></a>
                    <a href="javascript:void(0);" class="dupIcoHover" (click)="printTeamTimeline()"><img src="assets/img/Print2.svg" alt="Print">
                        Print</a>
                </li>
                <!-- <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/share-form.svg"></a>
                    <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg"
                            alt="Share"></a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="scroll-container">
      <form [formGroup]="teamAndTimeLineForm" (ngSubmit)="onSave()">
            <div class="full-width tab-section-container">
                <div class="full-width">
                    <tabset class="tab-block">
                        <tab>
                            <ng-template tabHeading>
                                <span>Team & Timeline</span>
                            </ng-template>
                            <div class="tabContent-box">
                                <div class="full-width">
                                    <div class="role-box">
                                        <h2>Timeline</h2>
  
                                        <div class="row">
                                            <div class="full-width">
                                              <div class="full-width col-sm col-wd-30">
                                                <div class="form-group">
                                                    <label>Period in Scope</label>
                                                    <div class="full-width relative">
                                                        <input (keydown)="blockInput($event)" type="text" placeholder="Select Date"
                                                        formControlName="periodInScope"
                                                            class="form-control calendar-icon" placement="bottom"
                                                            bsDaterangepicker
                                                            [minDate]="minDate"
                                                            [bsConfig]="{
                                                              rangeInputFormat: 'DD-MM-YYYY',
                                                              dateInputFormat: 'DD-MM-YYYY'
                                                            }">
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width col-sm col-wd-30">
                                              <div class="form-group">
                                                <label>Opening Meeting</label>
                                                <div class="full-width relative">
                                                    <input  type="text" (keydown)="blockInput($event)" placeholder="Select Date" formControlName="openingMeetingDate"
                                                        class="form-control calendar-icon" placement="bottom"
                                                        bsDatepicker
                                                        [minDate]="minDate"
                                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                </div>
                                              </div>
                                          </div>
                                                <div class="full-width col-sm col-wd-30">
                                                    <div class="form-group">
                                                        <label>Closing Meeting</label>
                                                        <div class="full-width relative">
                                                            <input  type="text" (keydown)="blockInput($event)" placeholder="Select Date"
                                                            formControlName="closingMeetingDate"
                                                                class="form-control calendar-icon" placement="bottom"
                                                                bsDatepicker
                                                                [minDate]="minDate"
                                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width">
                                              <div class="full-width col-sm col-wd-30">
                                                <div class="form-group">
                                                    <label>Update Meeting 1</label>
                                                    <div class="full-width relative">
                                                        <input  type="text" (keydown)="blockInput($event)" placeholder="Select Date"  formControlName="updateMeetingDate"
                                                            class="form-control calendar-icon" placement="bottom"
                                                            bsDatepicker
                                                            [minDate]="minDate"
                                                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width col-sm col-wd-30">
                                              <div class="form-group">
  
                                                <label>Update Meeting 2</label>
                                                  <div class="full-width relative">
                                                      <input  type="text" placeholder="Select Date"
                                                      formControlName="updateMeeting2"
                                                          class="form-control calendar-icon" (keydown)="blockInput($event)" placement="bottom"
                                                          bsDatepicker
                                                          [minDate]="minDate"
                                                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                  </div>
  
                                                 
                                              </div>
                                          </div>
                                                <div class="full-width col-sm col-wd-30">
                                                    <div class="form-group">
                                                        <label>Final Report</label>
                                                        <div class="full-width relative">
                                                            <input  type="text" (keydown)="blockInput($event)" placeholder="Select Date"
                                                            formControlName="finalMeetingDate"
                                                            class="form-control calendar-icon" placement="bottom"
                                                                bsDatepicker
                                                                [minDate]="minDate"
                                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-width">
                                    <div class="role-box">
                                        <h2>Team</h2>
  
                                        <div class="row">
                                            <div class="full-width">
                                                <div class="full-width col-sm col-wd-35">
                                                    <div class="assignees">
                                                      <label>Select Audit Lead</label>
                                                      <ul>
                                                        <li class="user-icon multi-user-icon" *ngFor="let name of auditLeadList">
                                                          <div class="user-text">
                                                            <span class="d-block">{{name}}</span>
                                                            <!-- Remove user added by Abu 24-09 Start -->
                                                            <span class="close-icon" (click)="removeOnClick(name, 'auditLead')">Remove
                                                                <img  src="../../../../../assets/img/close-form.svg">
                                                            </span>
                                                            <!-- Remove user added by Abu 24-09 end -->
                                                          </div>
                                                          <img src="../../../../../assets/img/profile.png">
                                                      </li>                      
                                                      </ul>
                                                      <button class="tooltip" *ngIf="btnFirst" (click)="autocompleteClick()">
                                                        <span class="tooltiptext doble-word">Add User</span>
                                                        <img id="plusBtn" name="auditLead" (click)=auditTeamValidation($event) src="../../../../../assets/img/add_assignee.svg">
                                                      </button>
                                                      
                                                    
                                                        <div class="ngAutocomplete" *ngIf="autoComplete">
                                                            <ng-autocomplete
                                                              [data]="auditTeam.auditleadList"
                                                              [searchKeyword]="keyword" 
                                                              (selected)='selectEventAuditLeadList($event)'
                                                              (inputChanged)='onChangeSearch($event)'
                                                              (inputFocused)='onFocused($event)'
                                                              [itemTemplate]="itemTemplate"
                                                              [notFoundTemplate]="notFoundTemplate">
                                                            </ng-autocomplete>
                                                            <button class="close" (click)="autocompleteClickTwo()">
                                                              <img src="../../../../../assets/img/close-form.svg">
                                                            </button>
                                                      
                                                          </div>
                                                          <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.name"></a>
                                                          </ng-template>
                                                        
                                                          <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                          </ng-template>
                                                    </div>
                                                    
                                                </div>
                                                    <div class="full-width col-sm col-wd-30">
                                                        <div class="assignees">
                                                        <label>Select Auditors</label>
                                                        <ul>
                                                          <li class="user-icon multi-user-icon" *ngFor="let name of auditorList">
                                                            <div class="user-text">
                                                              <span class="d-block">{{name}}</span>
                                                              <!-- Remove user added by Abu 24-09 Start -->
                                                              <span class="close-icon" (click)="removeOnClick(name, 'auditor')">Remove
                                                                <img  src="../../../../../assets/img/close-form.svg">
                                                            </span>
                                                            <!-- Remove user added by Abu 24-09 end -->
                                                            </div>
                                                            <img src="../../../../../assets/img/profile.png">
                                                        </li>                      
                                                        </ul>
                                                        <button class="tooltip" *ngIf="btnThree" (click)="autocompleteClickThree()">
                                                            <span class="tooltiptext doble-word">Add User</span>
                                                            <img id="plusBtn" name="auditor" (click)=auditTeamValidation($event) src="../../../../../assets/img/add_assignee.svg">
                                                            
                                                          </button>
                                                          
                                                       
                                                    
                                                    <div class="ngAutocomplete" *ngIf="autoCompleteTwo">
                                                      <ng-autocomplete
                                                        [data]="auditTeam.auditorList"
                                                        [searchKeyword]="keyword" 
                                                        (selected)='selectEventAuditor($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)'
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate">
                                                      </ng-autocomplete>
                                                      <button class="close" *ngIf="btnFour" (click)="autocompleteClickFour()">
                                                        <img src="../../../../../assets/img/close-form.svg">
                                                      </button>
                                                    </div>
                                                      <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.name"></a>
                                                      </ng-template>
                                                    
                                                      <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                      </ng-template>
                                                   </div>
                                                      </div>
                                                      <div class="full-width col-sm col-wd-35">
                                                        <div class="assignees">
                                                        <label>Select PBC Contacts</label>
                                                        <ul>
                                                          <li class="user-icon multi-user-icon" *ngFor="let name of pbcContactList">
                                                            <div class="user-text">
                                                              <span class="d-block">{{name}}</span>
                                                              <!-- Remove user added by Abu 24-09 Start -->
                                                              <span class="close-icon" (click)="removeOnClick(name, 'pbcContact')">Remove
                                                                <img  src="../../../../../assets/img/close-form.svg">
                                                            </span>
                                                            <!-- Remove user added by Abu 24-09 end -->
                                                            </div>
                                                            <img src="../../../../../assets/img/profile.png">
                                                        </li>                      
                                                        </ul>
                                                        <button class="tooltip" *ngIf="btnFive" (click)="autocompleteClickFive()">
                                                            <span class="tooltiptext doble-word">Add User</span>
                                                            <img id="plusBtn" name="pbcContact" (click)=auditTeamValidation($event) src="../../../../../assets/img/add_assignee.svg">
                                                            
                                                          </button>
                                                          
                                                       
                                                    
                                                        <div class="ngAutocomplete" *ngIf="autoCompleteThree">
                                                            <ng-autocomplete
                                                              [data]="auditTeam.pbcContact"
                                                              [searchKeyword]="keyword" 
                                                              (selected)='selectEventPbcContact($event)'
                                                              (inputChanged)='onChangeSearch($event)'
                                                              (inputFocused)='onFocused($event)'
                                                              [itemTemplate]="itemTemplate"
                                                              [notFoundTemplate]="notFoundTemplate">
                                                            </ng-autocomplete>
                                                            <button class="close" *ngIf="btnSix" (click)="autocompleteClickSix()">
                                                              <img src="../../../../../assets/img/close-form.svg">
                                                            </button>
                                                          </div>
                                                            <ng-template #itemTemplate let-item>
                                                              <a [innerHTML]="item.name"></a>
                                                            </ng-template>
                                                          
                                                            <ng-template #notFoundTemplate let-notFound>
                                                              <div [innerHTML]="notFound"></div>
                                                            </ng-template>
                                                          
                                                      </div>
                                                    </div>
                                                      <!-- Added auditee select by Abu 24-09 Start  -->
                                                      <div class="full-width col-sm last-select-block mt-4">
                                                        <div class="assignees">
                                                        <label>Select Auditee</label>
                                                        <ul>
                                                          <li class="user-icon multi-user-icon" *ngFor="let name of auditeeList">
                                                            <div class="user-text">
                                                              <span class="d-block">{{name}}</span>
                                                                <!-- Remove user added by Abu 24-09 Start -->
                                                                <span class="close-icon" (click)="removeOnClick(name, 'auditee')">Remove
                                                                    <img  src="../../../../../assets/img/close-form.svg">
                                                                </span>
                                                                <!-- Remove user added by Abu 24-09 end -->
                                                            </div>
                                                            <img src="../../../../../assets/img/profile.png">
                                                        </li>                      
                                                        </ul>
                                                        <button class="tooltip" *ngIf="btnSeven" (click)="autocompleteClickSeven()">
                                                            <span class="tooltiptext doble-word">Add User</span>
                                                            <img id="plusBtn" name="auditee" (click)=auditTeamValidation($event) src="../../../../../assets/img/add_assignee.svg">
                                                          </button>
                                                         
                                                       
                                                    
                                                        <div class="ngAutocomplete"  *ngIf="autoCompleteFour">
                                                            <ng-autocomplete
                                                              [data]="auditTeam.auditeeList"
                                                              [searchKeyword]="keyword" 
                                                              (selected)='selectEventAuditeeList($event)'
                                                              (inputChanged)='onChangeSearch($event)'
                                                              (inputFocused)='onFocused($event)'
                                                              [itemTemplate]="itemTemplate"
                                                              [notFoundTemplate]="notFoundTemplate">
                                                            </ng-autocomplete>
                                                            <button class="close" *ngIf="btnEight" (click)="autocompleteClickEight()">
                                                              <img src="../../../../../assets/img/close-form.svg">
                                                            </button>
                                                          </div>
  
                                                            <ng-template #itemTemplate let-item>
                                                              <a [innerHTML]="item.name"></a>
                                                            </ng-template>
                                                          
                                                            <ng-template #notFoundTemplate let-notFound>
                                                              <div [innerHTML]="notFound"></div>
                                                            </ng-template>
                                                      </div>
                                                      
                                                    </div>
                                                      <!-- Added auditee select by Abu 24-09 End  -->
                                                  </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                           
                            <div class="full-width button-container">
                                <button class="big-button right-side" type="submit">Save</button>
                                <!-- <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button> -->
  
                            </div>
                        </tab>
  
                    </tabset>
                </div>
            </div>
        </form>
    </div>
  </div>