.col-wd-30 {
    width: 30%;
}
.col-wd-35 {
    width: 35%;
}
.role-box {
    .last-select-block {
        .assignees { 
            label {
                width: 88px;
            }
        }
        .ng-complete-in {
            width:33%;
        }
    }
    .assignees {
        width: 100%;
        label {
            float: left;
        margin-right: 20px;
        margin: 6px 13px 0 0;
        padding: 0;
        /* width: 100%; */
        color: #4a4b4b;
        font-weight: 600;
        font-size: 12px;
        }
        .user-icon {
            .user-text {
                width: 80px;
              z-index: 999;
            }
            .close-icon {
                cursor: pointer;
                img {
                    width: 17px;
                    height: 17px;
                    border: 1px solid #fff;
                    float: none;
                    margin: -1px 0px 0px 3px;
                    padding: 2px;
                }
            }
        }
        
    }
}
.ngAutocomplete {
    width: 99px;
    float: left;
    position: relative;
    padding-left: 10px;
}
.role-box .assignees button.close {
    left: inherit;
    right: 6px;
    -webkit-transform: inherit;
    transform: inherit;
}
.ng-autocomplete{
    width: 100% !important;
    position: relative;
}

.tooltip.rotate{
    img{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}