<div class="full-width box-container orange-border">
    <div class="box-haif-number">
        <div class="number-container">
        <p class="number">{{totalRisks}}</p>
        </div>
        <div class="text-container">
        <p class="text">Risks</p>
        </div>
    </div>
</div>
