<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg">

  </div>
  <form [formGroup]="riskForm" (ngSubmit)="onSave()" class="v-scroll-form" style="height: 100%; width: 100%; float: left;">
   
      <div class="full-width from-heading-box relative">
        <div class="text-area-sec">
          <h4>Reports</h4>  
        </div>
      </div>

      <div class="scroll-container" *ngIf="notPdf">

        <div class="full-width tab-section-container">
          <div class="full-width">

            <div class="full-width accordian-container">
              <div class="accordion form-accordian" id="accordionExample">
                <div class="card according-wing">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-h2">
                      <button class="btn btn-link relative" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                        <div class="headind-box">
                          <h3>Select Columns To Display</h3>
                        </div>
                        <div class="img-toggle">
                          <img src="../../../../../assets/img/round-img.svg">
                        </div>

                      </button>
                    </h2>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body checkboxsec">

                      <div class="full-width">

                        <div class="row mt-2 mb-3">
                          <div class="col-md-2">
                            <div class="check-container">
                              <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <span>Risk Area</span>
                          </div>
                          <div class="col-md-2">
                            <div class="check-container">
                              <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <span>Risk Process</span>
                          </div>
                          <div class="col-md-3">
                            <div class="check-container">
                              <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <span>Risk Department</span>
                          </div>
                          <div class="col-md-2">
                            <div class="check-container">
                              <label class="checkbox">
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <span>Risk Status</span>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <div class="check-container">
                              <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <span>Risk Source</span>
                          </div>
                          <div class="col-md-2">
                            <div class="check-container">
                              <label class="checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                            <span>Risk Owner</span>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>



              <div class="accordion form-accordian" id="accordionExampleOne">
                <div class="card according-wing">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0 text-h2">
                      <button class="btn btn-link relative" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                        <div class="headind-box">
                          <h3>Report Parameters
                          </h3>
                        </div>
                        <div class="img-toggle">
                          <img src="../../../../../assets/img/round-img.svg">
                        </div>

                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                    data-parent="#accordionExampleOne">
                    <div class="card-body">
                      <div class="full-width">
                        <div class="row">
                          <div class="col-md-2 mt-3 pad-lt-rt-no">
                            <h6 class="row-head">Risk Identified Data Range</h6>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>From</label>
                              <div class="full-width relative">
                                <input
                                  type="text"
                                  formControlName="riskSubmittedDate"
                                  placeholder="Select Date"
                                  bsDatepicker
                                  class="form-control calendar-icon"
                                 
                                  placement="top"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>To</label>
                              <div class="full-width relative">
                                <input
                                  type="text"
                                  formControlName="riskSubmittedDate"
                                  placeholder="Select Date"
                                  bsDatepicker
                                  class="form-control calendar-icon"
                                  
                                  placement="top"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-2 mt-2">
                          <div class="col-md-2 pad-lt-rt-no">
                            <h6 class="row-head">Risk Area</h6>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <!-- <select class="form-control">
                                <option selected>Select Option</option>
                                <option>
                                  Select
                                </option>
                              </select> -->
                              <select
                              class="form-control form-control-sm"
                              formControlName="riskArea"
                            >
                             
                              <option
                                *ngFor="let area of riskArea"
                                [value]="area.riskArea"
                                >{{ area.riskArea }}</option
                              >
                            </select>
                            </div>
                          </div>
                          <div class="col-md-2 pad-lt-rt-no">
                            <h6 class="row-head">Risk Process</h6>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <!-- <select class="form-control">
                                <option selected>Select Option</option>
                                <option>
                                  Select
                                </option>
                              </select> -->
                              <select class="form-control"  formControlName="riskProcess">
                                <option *ngFor="let process of riskProcess" [value]="process.processName">
                                  {{process.processName}}</option>

                            </select>
                            </div>
                          </div>
                          <div class="col-md-2 pad-lt-rt-no">
                            <h6 class="row-head">Risk Department</h6>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <!-- <select class="form-control">
                                <option selected>Select Option</option>
                                <option>
                                  Select
                                </option>
                              </select> -->
                              <select class="form-control" formControlName="riskDepartment">
                                <option selected *ngFor="let dept of riskDepartment" [value]="dept.departmentName"> {{dept.departmentName}}</option>

                            </select>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-2 pad-lt-rt-no">
                            <h6 class="row-head">Risk Status</h6>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <!-- <select class="form-control">
                                <option selected>Select Option</option>
                                <option>
                                  Select
                                </option>
                              </select> -->
                              <select
                              class="form-control"
                              formControlName="riskStatus"
                            >
                             
                              <option
                                *ngFor="let status of masterRiskStatus"
                                [value]="status.status"
                                >{{ status.status }}</option
                              >
                            
                            </select>
                            </div>
                          </div>
                          <div class="col-md-2 pad-lt-rt-no">
                            <h6 class="row-head">Risk Source</h6>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <!-- <select class="form-control">
                                <option selected>Select Option</option>
                                <option>
                                  Select
                                </option>
                              </select> -->
                              <select
                              formControlName="riskSource"
                              class="form-control"
                            >
                              <!-- <option>Select Option</option> -->
                              <option
                                *ngFor="let source of masterRiskSource"
                                [value]="source.sourceStatus"
                                >{{ source.sourceStatus }}</option
                              >
                            </select>
                            </div>
                          </div>
                          <div class="col-md-2 pad-lt-rt-no">
                            <h6 class="row-head">Risk Owner</h6>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <select class="form-control" formControlName="riskOwner">
                                <!-- <option selected>Select Option</option>
                                <option>
                                  Select
                                </option> -->

                                <option
                                *ngFor="let user of getAllUsers"
                                [value]="user.username"
                                >{{ user.username }}
                              </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="full-width button-container">
            <button type="submit" class="big-button yellow-btn right-side">SUBMIT</button>
            <button class="big-button right-side" (click) = "riskForm.reset()" >CLEAR</button>
          </div>
        </div>



      </div>
      
<div class="scroll-container" *ngIf = "isPdf">
<div class="full-width">
  <button class="btn btn risk-btn link btnLink" (click)="back()">Back</button>
</div>
  <div class="full-width">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
  </div>
</div>

    </form>
</div>
<!-- 
<div class="scroll-container" *ngIf = "isPdf">

  <div class="full-width">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
  </div>
</div> -->