.row-head {
    font-size: 14px;
    margin: 8px 0 0 0;
}

.checkboxsec {
    .check-container {
        width: 20px;
    }
}

.pad-lt-rt-no {
    padding-right: 0px;
}
.btnLink{
    margin: 20px;
    float: right;
}