.low {
  background-color: #97a849;
  border: 1px solid #97a849;
}

.medium {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.high {
  background-color: #de6441;
  border: 1px solid #de6441;
}
