<div class="pop-up-form" ngDraggable [position]="position">
    <div class="close-form" (click)="closeModal()">
        <img src="../../../../../assets/img/close-form.svg" />
    </div>
    <div class="full-width from-heading-box relative">
        <div class="text-area-sec">
            <h4>
                Risk Assessment :
                <span class="violet-color">{{ name }}</span>
            </h4>
        </div>

        <div class="r-number">
            <p class="text-design">{{ level }}</p>
        </div>
        <div class="icons-in">
            <ul>
                <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/duplicate-form.svg" /></a>
                    <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg"
                            alt="Duplicate" />
                        Duplicate</a>
                </li>
                <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/upload-form.svg" /></a>
                    <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export" />
                        Export</a>
                </li>
                <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/print-form.svg" /></a>
                    <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print" />
                        Print</a>
                </li>
                <li class="duplicate-btn-form">
                    <a class="dupIco"><img href="javascript:void(0);"
                            src="../../../../../assets/img/share-form.svg" /></a>
                    <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg"
                            alt="Share" /></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="scroll-container">
        <div class="full-width tab-section-container">
            <form [formGroup]="assessmentForm">
                <div class="full-width">
                    <tabset class="tab-block" #auditDetails>
                        <tab>
                            <ng-template tabHeading>
                                <span class="tabOne">Details</span>
                            </ng-template>
                            <div class="tabContent-box">
                                <div class="full-width">
                                    <div class="row">
                                        <div class="col-12 p-0 author-schedule-details">
                                            <div class="col-12 col-sm-6 col-lg-6 float-left">
                                                <h6>Lead Auditor</h6>
                                                <h4>Gillian John</h4>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-6 float-right schedule-right">
                                                <h6>Rotation Schedule</h6>
                                                <h4>
                                                    Every {{ rotationYr }} years
                                                    <span>(next audit:{{ aftrYr }})</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="risk-result-block col-12">
                                            <div class="grey-box">
                                                <div class="col-12 col-lg-9 float-left left-block">
                                                    <div class="row">
                                                        <div
                                                            class="col-12 col-lg-12 p-0 risk-block-details separator-line">
                                                            <div
                                                                class="col-12 col-sm-12 col-md-3 col-lg-3 float-left box-title">
                                                                <h2>Impact</h2>
                                                            </div>

                                                            <div
                                                                class="col-12 col-sm-2 col-md-2 col-lg-3 float-left text-center">
                                                                <p>Financial Risk</p>
                                                                <input (blur)="impact1Blur()"
                                                                    formControlName="impact_financialRisk"
                                                                    (input)="onImpact1Change($event.target.value)"
                                                                    type="number" name="finance-risk"
                                                                    class="w-50 text-center p-1" id="finance-risk-text"
                                                                    min="1" max="10" />
                                                                <!-- <p>6.0</p> -->
                                                            </div>

                                                            <div
                                                                class="col-12 col-sm-2 col-md-2 col-lg-3 float-left text-center">
                                                                <p>Compliance Risk</p>
                                                                <input type="number"
                                                                    formControlName="impact_complianceRisk"
                                                                    (blur)="impact2Blur()"
                                                                    (input)="onImpact2Change($event.target.value)"
                                                                    name="finance-risk" min="1" max="10"
                                                                    class="w-50 text-center p-1" />
                                                                <!-- <p>4.0</p> -->
                                                            </div>

                                                            <div
                                                                class="col-12 col-sm-2 col-md-2 col-lg-3 float-left text-center">
                                                                <p>Overall Impact</p>
                                                                <p>
                                                                    <a [class]="impactBtnColor">{{
                                        overallImpact
                                      }}</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-lg-12 p-0 risk-block-details">
                                                            <div
                                                                class="col-12 col-sm-12 col-md-3 col-lg-3 float-left box-title">
                                                                <h2>Likelihood</h2>
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-2 col-md-3 col-lg-3 float-left text-center">
                                                                <p>Process Risk</p>
                                                                <input type="number" (blur)="likli1Blur()"
                                                                    (input)="onLikeli1Change($event.target.value)"
                                                                    name="finance-risk" value="6.0"
                                                                    class="w-50 p-1 text-center"
                                                                    formControlName="likelihood_processRisk" min="1"
                                                                    max="10" />
                                                                <!-- <p>6.0</p> -->
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-2 col-md-3 col-lg-3 float-left text-center">
                                                                <p>Internal Controls</p>
                                                                <input type="number" (blur)="likli2Blur()"
                                                                    (input)="onLikeli2Change($event.target.value)"
                                                                    name="finance-risk" value="4.0"
                                                                    class="w-50 p-1 text-center"
                                                                    formControlName="likelihood_internalControls"
                                                                    min="1" max="10" />
                                                                <!-- <p>4.0</p> -->
                                                            </div>
                                                            <div class="col-12 col-sm-2 col-md-3 col-lg-3 float-left">
                                                                <p>Overall Likelihood</p>
                                                                <p>
                                                                    <a [class]="likliBtnColor">{{
                                        overallLikelihood
                                      }}</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-lg-3 float-left right-block">
                                                    <p>Overall Risk Score</p>
                                                    <p>
                                                        <a [class]="overallRiskScoreBtn">{{
                                  overallRiskScore
                                }}</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="full-width accordian-container">
                                <div class="accordion form-accordian" id="accordionExample">
                                    <div class="card according-wing">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 text-h2">
                                                <button class="btn btn-link relative" type="button"
                                                    data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <div class="headind-box">
                                                        <h3>Issues</h3>
                                                    </div>
                                                    <div class="img-toggle">
                                                        <img src="../../../../../assets/img/round-img.svg" />
                                                    </div>
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <table
                                                    class="table table-responsive table-borderless audit-issue-table">
                                                    <tbody *ngIf="issueList">
                                                        <!-- <tr>
                                  <td>
                                    <a href="#" class="btn completed-btn"
                                      >Completed</a
                                    >
                                  </td>
                                  <td>
                                    <span class="issue-number">I-001</span>
                                  </td>
                                  <td>
                                    Improper Invertory Valuation
                                  </td>
                                </tr> -->
                                                        <tr *ngFor="let issue of issueList">
                                                            <td>
                                                                <a href="#" class="btn inprogress-btn">Inprogress</a>
                                                            </td>
                                                            <td>
                                                                <span class="issue-number">{{
                                      issue.issueId
                                    }}</span>
                                                            </td>
                                                            <td>
                                                                {{ issue.issueName }}
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="issueList?.length == 0">
                                                            <td>

                                                            </td>
                                                            <td>
                                                                <span class="issue-number">NO ISSUES FOUND</span>
                                                            </td>
                                                            <td>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="previous-audit-block">
                                    <div class="duplicate-checkbox float-right">
                                        <span>Duplicate</span>
                                        <div class="check-container">
                                            <label class="checkbox">
                                                <input type="checkbox" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="accordion form-accordian" id="accordionExampleOne">
                                        <div class="card according-wing">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0 text-h2">
                                                    <button class="btn btn-link relative" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        <div class="headind-box">
                                                            <h3>Previous Audit</h3>
                                                        </div>
                                                        <div class="img-toggle">
                                                            <img src="../../../../../assets/img/round-img.svg" />
                                                        </div>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                                data-parent="#accordionExampleOne">
                                                <div class="card-body">
                                                    <div class="full-width table-style">
                                                        <div class="full-width">
                                                            <h4>{{ RAauditName }}</h4>
                                                            <table class="table">
                                                                <thead *ngIf="previousYrData.length !=0">
                                                                    <tr>
                                                                        <th width="20%" scope="col">Period</th>
                                                                        <th width="80%" scope="col">Category</th>
                                                                    </tr>
                                                                </thead>
                                                                <thead *ngIf="previousYrData.length ==0">
                                                                    <tr>
                                                                        <th width="80%" scope="col"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let pd of previousYrData">
                                                                        <td width="20%">
                                                                            <a href="">{{pd.year}}</a>
                                                                        </td>
                                                                        <td width="80%">{{pd.auditOwner}}</td>
                                                                    </tr>
                                                                    <tr *ngIf="previousYrData?.length==0">
                                                                        <td>
                                                                            <span class="issue-number">NO PREVIOUS YEAR
                                                                                AUDITS FOUND</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="full-width button-container">
                                <button class="big-button" (click)="onSave()">Save</button>
                                <button class="big-button purple-btn">Delegate</button>
                                <button class="big-button orange-btn">Reject</button>
                                <button class="big-button green-btn right-side">Approve</button>
                                <button class="big-button yellow-btn right-side">Submit</button>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span>Mitigating Factors</span>
                            </ng-template>
                            <div class="tabContent-box">
                                <div class="full-width rightSide-align">
                                    <ul class="report-ul">
                                        <li>
                                            <div class="img-box">
                                                <img src="../../../../../assets/img/newspaper.png" />
                                            </div>
                                            <a>View Report</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="full-width tab-inside relative">
                                    <div class="select-button">
                                        <select class="form-control">
                                            <option>Add Activity</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <tabset class="tab-small">
                                        <tab>
                                            <ng-template tabHeading>
                                                <span>Controls</span>
                                            </ng-template>
                                            <div class="full-width table-style table-inside-tabs">
                                                <div class="full-width overflow-auto">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Control ID</th>
                                                                <th scope="col">Control Name</th>
                                                                <th scope="col">Description</th>
                                                                <th scope="col">Key Control</th>
                                                                <th scope="col">Catagory</th>
                                                                <th scope="col">Control Objective</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>C1.013</td>
                                                                <td>Control Name</td>
                                                                <td>Description will</td>
                                                                <td>Yes</td>
                                                                <td>Control Catagory</td>
                                                                <td>Control Object</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </tab>
                                        <tab>
                                            <ng-template tabHeading>
                                                <span>Activities</span>
                                            </ng-template>
                                            <div class="full-width table-style table-inside-tabs">
                                                <div class="full-width overflow-auto">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Mitigation Plan</th>
                                                                <th scope="col">Work Steps</th>
                                                                <th scope="col">Legal Reference</th>
                                                                <th scope="col">Convert to Opportunity</th>
                                                                <th scope="col">Business Process</th>
                                                                <th scope="col">Additional Notes</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Mitigation Plan</td>
                                                                <td>Work Steps</td>
                                                                <td>Legal Reference</td>
                                                                <td>Yes/No</td>
                                                                <td>Business Process</td>
                                                                <td>Additional Notes</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </tab>
                                        <tab>
                                            <ng-template tabHeading>
                                                <span>Process</span>
                                            </ng-template>
                                            Process
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <span>Overview</span>
                            </ng-template>
                            <div class="tabContent-box">
                                <div class="full-width">
                                    <div class="row">
                                        <div class="three-share">
                                            <div class="full-width heading-sec-form">
                                                <h4 class="headind-form">
                                                    <span>Information</span>
                                                </h4>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Company Name</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Location</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>B.U. Name</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Business Process Name</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three-share">
                                            <div class="full-width heading-sec-form">
                                                <h4 class="headind-form">
                                                    <span>Dates</span>
                                                </h4>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Identified On</label>
                                                    <div class="full-width relative">
                                                        <input type="text" placeholder="Select Date"
                                                            class="form-control calendar-icon" bsDatepicker
                                                            placement="left" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Approved On</label>
                                                    <div class="full-width relative">
                                                        <input type="text" placeholder="Select Date"
                                                            class="form-control calendar-icon" bsDatepicker
                                                            placement="left" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Assessed On</label>
                                                    <div class="full-width relative">
                                                        <input type="text" placeholder="Select Date"
                                                            class="form-control calendar-icon" bsDatepicker
                                                            placement="left" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Modified On</label>
                                                    <div class="full-width relative">
                                                        <input type="text" placeholder="Select Date"
                                                            class="form-control calendar-icon" bsDatepicker
                                                            placement="left" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three-share">
                                            <div class="full-width heading-sec-form">
                                                <h4 class="headind-form">
                                                    <span>People</span>
                                                </h4>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment Submitter</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment Submit ID</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment Modified By</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment Approved By</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment Approver ID</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three-share">
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment ID</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three-share">
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Risk Assessment ID</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three-share">
                                            <div class="full-width">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="form-control">
                                                        <option>Select Option</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </form>
        </div>
    </div>
</div>