<div class="full-width container-side">
    <ul class="block-ul">
        <li class="box-li">
            <div class="full-width box-container orange-border">
                <div class="box-haif-number">
                    <div class="number-container">
                    <p class="number">{{controlCount}}</p>
                    </div>
                    <div class="text-container">
                    <p class="text">Controls</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="box-li">
            <div class="full-width box-container blue-border">
                <div class="box-haif-number">
                    <div class="number-container">
                        <p class="number">{{performed}},{{count}}</p>
                    </div>
                    <div class="text-container">
                    <p class="text">Perform, pending</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="box-li">
            <div class="full-width box-container yellow-border">
                <div class="box-haif-number">
                    <div class="number-container">
                    <p class="number">{{IssueCount}}</p>
                    </div>
                    <div class="text-container">
                    <p class="text">Issues</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="box-li">
            <div class="full-width box-container orange-border">
                <div class="box-haif-number">
                   
                </div>
            </div>
        </li>
        <li class="box-li">
            <div class="full-width box-container yellow-border">
                <div class="box-haif-number">
                   
                </div>
            </div>
        </li>
    </ul>
    </div>

