<div class="outer-spc">
  <div class="row">
    <div class="col-md">
    <div class="clearfix l-align">
      <div class="f-l">
        <p>Assigned</p>
        <p>18</p>
      </div>
      <div class="f-r">
      <p>Overdue 02</p>
    </div>
    </div>

   <div class="clearfix g-blc">
      <div class="full-width accordian-container">
        <div class="accordion form-accordian" id="accordionExampleAssignedOne">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#collapseaccordOne"
                aria-expanded="true"
                aria-controls="collapseaccordOne">
                  <div class="headind-box">
                    <p>CONTROL EXECUTION</p> <p>02</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="collapseaccordOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedOne">
              <div class="card-body">



        <div class="progaccordion" id="accordionExamples">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#collapseProgOne"
                aria-expanded="true" aria-controls="collapseProgOne">
                <p>CE-111 Mortgage Exposure</p>
                </button>
              </h2>
            </div>
        
            <div id="collapseProgOne" class="collapse-bg collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">

                <div class="progress-bar-block fright">
                <div class="overall-progress-bar">
                  <label>Control Execution</label>
                  <div class="progress">
                      <div class="progress-bar" role="progressbar"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                        <span class="spec">75<b>%</b></span>
                      </div>
                  </div>
              </div>
            </div>


            <div class="progress-bar-block fright">
              <div class="overall-progress-bar">
                <label>Actions</label>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width: 35%; background-color: #ffcc00;">
                      <span class="spec" style="background-color: #ffcc00;" >35<b>%</b></span>
                    </div>
                </div>
            </div>
          </div> 



<div class="progress-bar-block fright">
            <div class="overall-progress-bar">
              <label>Approval</label>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 65%; background-color: #ffcc00;">
                    <span class="spec" style="background-color: #ffcc00;" >65<b>%</b></span>
                  </div>
              </div>
          </div>
        </div> 

              </div>
              <div class="b-pane">
                <div class="pnt-icon">
                  <a class="tooltip">
                      <span class="tooltiptext">Print</span>
                      <img src="assets/img/print_button.svg" alt="Print" />
                    </a>
                </div>
  
  
                <div class="re-sign">
                  <select class="form-control search-select">
                    <option>Re-asign</option>
                  <option>John Mcmiller</option>
                  <option>Adam Smith</option>
                  <option>Megan H</option>
                  </select>
                  </div>
  
  
                  <div class="opn-form">
                    <a href="">Open Form</a>
                  </div>
  
                </div>
            </div>





          </div>
        
        
        </div>






                <div>
                <p>CE-214 F/X Exposure</p>
              </div>
              <div>
                <p>CE-054 Model Review</p>
              </div>
              <div>
                <p>CE-211 Overvalue of Credit</p>
              </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion form-accordian" id="accordionExampleAssignedTwo">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#collapseaccordTow"
                aria-expanded="true"
                aria-controls="collapseaccordTow">
                  <div class="headind-box">
                    <p>ACCTIONS</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="collapseaccordTow" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedTwo">
            </div>
          </div>
        </div>


        <div class="accordion form-accordian" id="accordionExampleAssignedThree">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#collapseaccordThree"
                 aria-expanded="true"
                 aria-controls="collapseaccordThree">
                  <div class="headind-box">
                    <p>CONTROL TESTING</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="collapseaccordThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedThree">
            </div>
          </div>
        </div>

        <div class="accordion form-accordian" id="accordionExampleAssignedFour">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#collapseaccordFour"
                aria-expanded="true"
                aria-controls="collapseaccordFour">
                  <div class="headind-box">
                    <p>ISSUES</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
            <div id="collapseaccordFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleAssignedFour">
            </div>



          </div>
        </div>


        </div>
    </div> 

    </div>

    <div class="col-md">
      <div class="clearfix l-align">
      <div class="f-l">
        <p>Work in Progress</p>
        <p>12</p>
      </div>
      <div class="f-r">
      <p>Overdue 02</p>
    </div>
    </div>

   <div class="clearfix g-blc">
      <div class="full-width accordian-container">
        <div class="accordion form-accordian" id="accordionExampleWorkOne">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#accordcollapseOne"
                aria-expanded="true"
                aria-controls="accordcollapseOne">
                  <div class="headind-box">
                    <p>CONTROL EXECUTION</p> <p>02</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="accordcollapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleWorkOne">
              <div class="card-body">
                <div class="pie-kart">
                  <p>CE-634 F/X Model Review</p>
                </div>
                
                <p>CE-255 Notificatiion System</p>
                <p class="wrk-prog">CE-009 Capital Adequacy</p>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion form-accordian" id="accordionExampleWorkTwo">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#accordcollapseTwo"
                aria-expanded="true"
                aria-controls="accordcollapseTwo">
                  <div class="headind-box">
                    <p>ACTIONS</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="accordcollapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleWorkTwo">
            </div>
          </div>
        </div>


        <div class="accordion form-accordian" id="accordionExampleWorkThree">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#accordcollapseThree"
                aria-expanded="true"
                aria-controls="accordcollapseThree">
                  <div class="headind-box">
                    <p>CONTROL TESTING</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="accordcollapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleWorkThree">
            </div>
          </div>
        </div>



        </div>
    </div>

    </div>

    <div class="col-md">
    <div class="clearfix l-align">
      <div class="f-l">
        <p>Completed</p>
        <p class="collect-button">9</p>
      </div>
      <div class="f-r">
      
    </div>
    </div>
    

    <div class="clearfix g-blc">
      <div class="full-width accordian-container">
        <div class="accordion form-accordian" id="accordionExampleCompletedOne">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#accordcollapseFive"
                aria-expanded="true"
                aria-controls="accordcollapseFive">
                  <div class="headind-box">
                    <p>CONTROL EXECUTION</p> <p>02</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="accordcollapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleCompletedOne">
              <div class="card-body">
                <div class="pie-kart">
                  <p class="wrk-prog">CE-451 Risk Review</p>
                  <p>CE-998 Leverage Ratio</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion form-accordian" id="accordionExampleCompletedTwo">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#accordcollapseSix"
                aria-expanded="true"
                aria-controls="accordcollapseSix">
                  <div class="headind-box">
                    <p>ACTIONS</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="accordcollapseSix" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleCompletedTwo">
            </div>
          </div>
        </div>


        <div class="accordion form-accordian" id="accordionExampleCompletedThree">
          <div class="card according-wing">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-h2">
                <button class="btn btn-link relative"
                type="button"
                data-toggle="collapse"
                data-target="#acordcollapseSeven"
                aria-expanded="true"
                aria-controls="acordcollapseSeven">
                  <div class="headind-box">
                    <p>CONTROL TESTING</p> <p>03</p>
                  </div>
                  <div class="img-toggle">
                    <img src="../../../../assets/img/round-img.svg" />
                  </div>
                </button>
              </h2>
            </div>
    
            <div id="acordcollapseSeven" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExampleCompletedThree">
            </div>
          </div>
        </div>


        </div>
    </div>

    </div>


  </div>
</div>