<div class="popup-left-block">
  <div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleOneThree" id="newWorkStepForm">
    <div class="close-form" (click)="closeModal()">
      <img src="../../../../../assets/img/close-form.svg">

    </div>
    <div class="full-width from-heading-box relative" #myHandleOneThree>
      <div class="text-area-sec">
        <h4 class="field-work-h4">
          <span>WorkStep:</span> {{workstepForm.workStepName}}</h4>
      </div>

      <div class="r-number">
        <ng-container *ngIf="workstepForm.workStepId; else noWorkstepId">
          <p class="text-design">{{workstepForm.workStepId}}</p>
        </ng-container>
        <ng-template #noWorkstepId>
          <p class="text-design">WS---</p>
        </ng-template>
      </div>
      <div class="icons-in">
        <ul>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print"> Print</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="scroll-container" id="scroll-id">
      <!-- <form> -->

      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="new-risk-assessment-form new-work-step-form">
                  <div class="full-width risk-accordion-sec">
                    <div class="accordion" id="accordionExample">
                      <div class="section-in">
                        <div class="card">
                          <div class="card-header bg-gray relative" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="textportion">Information</span>
                                <span class="imgportion"><img
                                    src="../../../../../../assets/img/round-circle.svg"></span>
                              </button>
                            </h2>
                          </div>

                          <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                              <div class="full-width section-inside pr-0">
                                <div class="row col-lg-12 p-0 m-0">
                                  <div class="col col-lg-1 no-padding">
                                    <h4>Issues</h4>
                                    <button class="btn btn-infom yes" [ngClass]="{'d-none': !workstepForm.hasIssues}"
                                      *ngIf="workstepForm.hasIssues">Yes</button>
                                    <button class="btn btn-infom no" [ngClass]="{'d-none': workstepForm.hasIssues}"
                                      *ngIf="!workstepForm.hasIssues">No</button>
                                  </div>
                                  <div class="col col-lg-2">
                                    <h4>Audit ID</h4>
                                    <p class="color-text mb-0">{{workstepForm.auditId.split("-").join(" ")}}</p>
                                  </div>
                                  <div class="col col-lg-3 no-padding">
                                    <h4>Audit Title</h4>
                                    <p class="color-text mb-0">{{auditableEntity}}</p>
                                  </div>
                                  <ng-container *ngIf="workstepForm.preparer.username; else noPreparer">
                                    <div class="col col-lg-3 add-user-button no-padding">
                                      <div class="prepare-left">
                                        <h4>Preparer</h4>
                                        <img class="add-user-icon"
                                          [src]="baseProfileUrl + workstepForm.preparer.profileUrl">
                                        {{workstepForm.preparer.username}}
                                        <p></p>
                                      </div>
                                      <div class="prepare-right" *ngIf="workstepForm.preparer.preparedOn">
                                        Prepared on
                                        <div class="full-width relative">
                                          <input type="text" [(ngModel)]="workstepForm.preparer.preparedOn"
                                            placeholder="10.12.2020" class="form-control" bsDatepicker
                                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>
                                  <ng-template #noPreparer>
                                    <div class="col col-lg-3 add-user-button no-padding">
                                      <div class="prepare-left">
                                        <h4>Preparer</h4>
                                        <button>
                                          <img class="add-user-icon" src="../../../../../assets/img/add_assignee.svg">
                                        </button>
                                        <p>Add Preparer</p>
                                      </div>
                                      <div class="prepare-right">
                                      </div>
                                    </div>
                                  </ng-template>



                                  <div class="col col-lg-3 add-user-button no-padding">
                                    <div class="prepare-left" *ngIf="(isAuditor && !isNew) || (!isAuditor)">
                                      <h4>Reviewer</h4>
                                      <img class="add-user-icon"
                                        [src]="baseProfileUrl + workstepForm.reviewer.profileUrl">
                                      {{workstepForm.reviewer.username}}
                                      <p></p>
                                    </div>
                                    <div class="prepare-right" *ngIf="workstepForm.reviewer.reviewedOn">
                                      Reviewer on
                                      <div class="full-width relative">
                                        <input type="text" [(ngModel)]="workstepForm.reviewer.reviewedOn"
                                          placeholder="10.12.2020" class="form-control" bsDatepicker
                                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="full-width accordion-sec">
                    <div class="accordion" id="accordionExampleOne">
                      <div class="section-in">
                        <div class="card">
                          <div class="card-header bg-gray relative" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                <!-- <span class="textportion">Risk Definition</span> -->
                                <span class="imgportion"><img
                                    src="../../../../../../assets/img/round-circle.svg"></span>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="bg-gray collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExampleOne">
                            <div class="card-body">
                              <div class="full-width section-inside">
                                <div class="row" *ngIf="isNew">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="full-width">
                                      <div class="form-group">
                                        <label>Work Step Name</label>
                                        <input class="form-control" type="text" name="workstepName"
                                          [(ngModel)]="workstepForm.workStepName">

                                      </div>
                                      <div class="text-danger error-text" *ngIf="errorTarget == 'workStepName'">
                                        Please enter workstep name
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                      <div class="form-group p-b-12">
                                        <label>Task Description</label>
                                        <div class="full-width relative wysiwyg-div height-112">
                                          <angular-editor [(ngModel)]="workstepForm.taskDescription"
                                            [config]="editorConfig"></angular-editor>
                                        </div>
                                        <div class="text-danger error-text error-position"
                                          *ngIf="errorTarget == 'taskDescription'">
                                          Please fill the task description
                                        </div>
                                      </div>
                                    </div>

                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                      <div class="form-group p-b-12">
                                        <label>Work Performed</label>
                                        <div class="full-width relative wysiwyg-div height-112">
                                          <angular-editor [(ngModel)]="workstepForm.workPerformed"
                                            [config]="editorConfig"></angular-editor>
                                        </div>
                                        <div class="text-danger error-text error-position"
                                          *ngIf="errorTarget == 'workPerformed'">
                                          Please fill the work Performed
                                        </div>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="col-md-4 col-sm-4 col-xs-12 document-upload-box no-padding">
                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                      <div class="form-group p-b-12">
                                        <label>Reference Documents</label>
                                        <div class="list-of-uploads">
                                          <div class="uploadList height-112 box-scroll">
                                            <ul>
                                              <li
                                                *ngFor="let item of workstepForm.referenceDocuments; let i = index,'reference'">
                                                <div class="w-60">
                                                  <div class="iconimg">
                                                    <img src="../../../../../assets/img/pdf.svg" alt="" width="35px"
                                                      *ngIf="item.extension === 'pdf'">
                                                    <img src="../../../../../assets/img/word.svg" alt="" width="35px"
                                                      *ngIf="
                                                                          item.extension === 'docx' || item.extension === 'doc'
                                                                        " />
                                                    <img src="../../../../../assets/img/excel.svg" alt="" width="35px"
                                                      *ngIf="
                                                                          item.extension === 'xlsx' || item.extension === 'csv'
                                                                        " />
                                                    <img src="../../../../../assets/img/search_icon.svg" alt=""
                                                      width="35px" *ngIf="
                                                                          item.extension === 'png' || item.extension === 'jpeg'
                                                                        " />

                                                  </div>
                                                  <!-- WP 101 Contract 121  -->{{ item.documentName| slice:0:40 }}..
                                                </div>
                                                <div class="w-30">
                                                  {{item.dateUploadedDisplay}}
                                                </div>
                                                <div class="w-10 text-right box-dropdown">
                                                  <div class="dropdown show action-dropdown position-relative ">
                                                    <a class="btn dropdown-toggle" href="#" role="button"
                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      <span class="dot"></span>
                                                      <span class="dot"></span>
                                                      <span class="dot"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-text">
                                                      <ul>
                                                        <li>
                                                          <a class="delete-btn" (click)="onSaveOrEditWorkpaper(item)">
                                                            <span>{{item.dmsRepoDetail.workPaperNumber ? "Edit workpaper" : "Save as workpaper" }}</span>
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a class="delete-btn" (click)="deleteFile(i,'reference', item)">
                                                            <span>Remove</span>
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a class="delete-btn" (click)="renameDocument(item.dmsRepoDetail)">
                                                            <span>Rename</span>
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a class="delete-btn"
                                                            (click)="downloadFile(item.documentUrlToken,item.dmsRepoDetail.fileName)">
                                                            <span>Download</span>
                                                          </a>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>

                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                      <div class="form-group p-b-12">
                                        <label>Working Papers</label>
                                        <div class="list-of-uploads">
                                          <div class="uploadList height-112 box-scroll">
                                            <ul>
                                              <li
                                                *ngFor="let item of workstepForm.workingPapers;let i = index,'workingpaper'">
                                                <div class="w-60">
                                                  <div class="iconimg">
                                                    <img src="../../../../../assets/img/pdf.svg" alt="" width="35px"
                                                      *ngIf="item.extension === 'pdf'">
                                                    <img src="../../../../../assets/img/word.svg" alt="" width="35px"
                                                      *ngIf="
                                                                          item.extension === 'docx' || item.extension === 'doc'
                                                                        " />
                                                    <img src="../../../../../assets/img/excel.svg" alt="" width="35px"
                                                      *ngIf="
                                                                          item.extension === 'xlsx' || item.extension === 'csv'
                                                                        " />
                                                    <img src="../../../../../assets/img/search_icon.svg" alt=""
                                                      width="35px" *ngIf="
                                                                          item.extension === 'png' || item.extension === 'jpeg'
                                                                        " />

                                                  </div>
                                                  <!-- WP 101 Contract 121  -->{{ item.documentName | slice:0:40 }}..
                                                </div>
                                                <div class="w-30">
                                                  {{item.dateUploadedDisplay}}
                                                </div>
                                                <div class="w-10 text-right box-dropdown">
                                                  <div class="dropdown show action-dropdown position-relative ">
                                                    <a class="btn dropdown-toggle" href="#" role="button"
                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      <span class="dot"></span>
                                                      <span class="dot"></span>
                                                      <span class="dot"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-text">
                                                      <ul>
                                                        <li>
                                                          <a class="delete-btn" (click)="onSaveOrEditWorkpaper(item)">
                                                            <span>{{item.dmsRepoDetail.workPaperNumber ? "Edit workpaper" : "Save as workpaper" }}</span>
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a class="delete-btn" (click)="deleteFile(i,'workingpaper',item)">
                                                            <span>Remove</span>
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a class="delete-btn" (click)="renameDocument(item.dmsRepoDetail)">
                                                            <span>Rename</span>
                                                          </a>
                                                        </li>
                                                        <li>
                                                          <a class="delete-btn"
                                                            (click)="downloadFile(item.documentUrlToken,item.dmsRepoDetail.fileName)">
                                                            <span>Download</span>
                                                          </a>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>


                                              </li>
                                              <!-- <li *ngFor="let wp of workstepForm.workpapers">
                                                                          <div class="iconimg">
                                                                            <img src="../../../../../../assets/img/pdf-ico.svg" class="mCS_img_loaded">
                                                                        </div> {{wp.workpaperName}}
                                                                        </li> -->
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="col-md-2 col-sm-2 col-xs-12 upload-file-doc-block no-padding">
                                    <div
                                      class="full-width col-md-12 col-sm-12 col-xs-12 no-padding question-container-1">
                                      <div class="add-file" (click)="addnewFile()">
                                        <label for="upload-photo"><img src="../../../../../assets/img/plus.png" alt=""
                                            width="16px">Add New</label>
                                      </div>
                                    </div>

                                    <div
                                      class="full-width col-md-12 col-sm-12 col-xs-12 no-padding question-container-1">
                                      <div class="add-file" (click)="addnewFileOne()">
                                        <label for="upload-photo"><img src="../../../../../assets/img/plus.png" alt=""
                                            width="16px">Add New</label>
                                      </div>
                                    </div>

                                  </div>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                  <div class="full-width accordion-sec" *ngIf="workstepForm.rejectionReason">
                    <div class="accordion" id="accordionExampleSix">
                      <div class="section-in">
                        <div class="card">
                          <div class="card-header bg-gray relative" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                <span class="textportion">Rejection Comments</span>
                                <span class="imgportion"><img
                                    src="../../../../../../assets/img/round-circle.svg"></span>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseSix" class="bg-gray collapse show" aria-labelledby="headingSix"
                            data-parent="#accordionExampleSix">
                            <div class="card-body">
                              <div class="full-width">
                                <div class="full-width left-rht">
                                  <p class="rejected-dt">{{workstepForm.rejectionReason}}</p>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="full-width accordion-sec">
                <div class="accordion" id="accordionExampleTwo">
                  <div class="section-in">
                    <div class="card">
                      <div class="card-header bg-gray relative" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                            <span class="textportion">Conclusion</span>
                            <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="bg-gray collapse show" aria-labelledby="headingTwo"
                        data-parent="#accordionExampleTwo">
                        <div class="card-body">
                          <div class="full-width">
                            <div class="row">
                              <div class="col-xs-12 col-lg-12">
                                <div class="full-width col-md-12 col-sm-12 col-xs-12">
                                  <div class="form-group text-right issue-btn-block" *ngIf="isAuditor"
                                    style="position: relative;z-index: 999;">
                                    <label>Issue Found</label>
                                    <button disabled="true" class="btn btn-yes"
                                      [ngClass]="{'active': this.workstepForm.hasIssues}"
                                      (click)="hasIssue(true)">Yes</button>
                                    <button class="btn btn-no" [ngClass]="{'active': !this.workstepForm.hasIssues}"
                                      (click)="hasIssue(false)">No</button>
                                    <div class="text-danger error-text" *ngIf="showIssueError">
                                      Please select issues Yes/No
                                    </div>
                                  </div>
                                  <!-- <div class="form-group text-right issue-btn-block">
                                                          <label class="isuue-font">Issue Found</label>
                                                          <div class="custom_radio">
                                                            <div class="radio-left relative">
                                                                <input type="radio" id="featured-3" name="Issue">
                                                                <label class="yes" for="featured-3">Yes</label>
                                                            </div>
                                                            <div class="radio-left">
                                                                <input type="radio" id="featured-4" name="Issue">
                                                                <label class="no" for="featured-4">No</label>
                                                              </div>
                                                            </div>
                                                      
                                                        </div> -->
                                  <div class="form-group">
                                    <label>Summary</label>
                                    <div class="full-width relative wysiwyg-div height-112">
                                      <angular-editor [(ngModel)]="workstepForm.summary" [config]="editorConfig">
                                      </angular-editor>
                                      <div class="text-danger error-text" *ngIf="errorTarget == 'summary'">
                                        Please fill the Summary
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Added new accordion for preparer - Oct 5 Start -->
              <div class="full-width accordion-sec" *ngIf="!isAuditor && (!workstepForm.preparer.username || workstepForm.preparer.username.length <= 0)">
                <div class="accordion" id="accordionExampleThree">
                  <div class="section-in">
                    <div class="card">
                      <div class="card-header bg-gray relative" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                            <span class="textportion">Select Preparer</span>
                            <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                          </button>
                        </h2>
                      </div>
                      <div id="collapseFour" class="bg-gray collapse show" aria-labelledby="headingThree"
                        data-parent="#accordionExampleThree">
                        <div class="card-body">
                          <div class="full-width">
                            <div class="row">
                              <div class="col-xs-12 col-lg-12">
                                <div class="full-width col-md-12 col-sm-12 col-xs-12">
                                  <ul class="select-preparer-list" *ngIf="preparerList?.length > 0">
                                    <li *ngFor="let p of preparerList;let i = index">
                                      <input type="checkbox" class="plist" id="preparer{{i}}"
                                        (change)="onPreparerChange($event,p,i)" />
                                      <label for="preparer{{i}}">
                                        <img class="add-user-icon mCS_img_loaded" [src]="baseProfileUrl + p.path">
                                        <p>{{p.preparer}}</p>
                                      </label>
                                    </li>
                                  </ul>
                                </div>
                                <div class="text-danger error-text" *ngIf="errorTarget == 'preparerList'">
                                  Please select preparer
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Added new accordion for preparer - Oct 5 End -->

              <div class="full-width button-container text-center">

                <button class="big-button yellow-btn animation-save left-side" (click)="saveWorkStep('wip')">
                  <span>Save</span>
                  <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                    Saving workstep...</span>
                  <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                    Saved</span>
                </button>
                <button *ngIf="!this.isAuditor && this.workstepForm.preparer.status == 'completed'"
                  class="big-button orange-btn left-side" (click)="rejetWorkStep()">REJECT</button>


                <button disabled="true" class="big-button purple-btn">Open Issue</button>

                <ng-container
                  *ngIf="!this.isAuditor && this.workstepForm.preparer.status == 'completed'; else submitTemplate">
                  <button class="big-button green-btn right-side animation-submit" (click)="approveWorkStep()">
                    <span>Approve</span>
                    <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                      Approving...</span>
                    <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                      Approved </span>
                  </button>
                </ng-container>
                <ng-template #submitTemplate>
                  <button class="big-button right-side animation-submit" (click)="submitWorkStep()">
                    <span>Submit</span>
                    <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                      Submitting...</span>
                    <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                      submitted </span>
                  </button>
                </ng-template>
              </div>
            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Add Issues</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width table-style action-issue-table-block">
                  <div class="full-width overflow-auto mt-2">
                    <table id="issueActionTable" class="display table-dashboard issue-first-table" style="width:100%">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Status</th>
                          <th scope="col" class="text-center">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>OP001</td>
                          <td>Procurement</td>
                          <td>Resolved</td>
                          <td align="center">
                            <a class="remove-btn">
                              <img src="assets/img/delete_button.svg" alt="Remove">
                              <span>Remove</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>OP001</td>
                          <td>Procurement</td>
                          <td>Resolved</td>
                          <td align="center">
                            <a class="remove-btn">
                              <img src="assets/img/delete_button.svg" alt="Remove">
                              <span>Remove</span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="full-width overflow-auto mt-3 action-selection-table-block position-relative">
                  <div class="full-width action-header">
                    <h4>Issues Selection</h4>
                    <button type="button" class="float-right mr-3 green-btn">Add Selected Issue</button>

                  </div>
                  <table id="issueActionSelectedTable" class="display table-dashboard issue-second-table" style="width:100%">
                    <thead>
                      <tr>
                        <th></th>
                        <th>
                          <input name="select_all" value="1" id="issueActionSelected-select-all" type="checkbox" />
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td></td>
                        <td>ID001</td>
                        <td>Procurement</td>
                        <td>Identified</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td></td>
                        <td>ID001</td>
                        <td>Procurement</td>
                        <td>Identified</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td></td>
                        <td>ID001</td>
                        <td>Procurement</td>
                        <td>Identified</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td></td>
                        <td>ID001</td>
                        <td>Procurement</td>
                        <td>Identified</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>


          </tabset>
        </div>
      </div>
      <!-- </form> -->
    </div>

    <div class="new-chat-popup-maincontainer add-document-new" *ngIf="searchDocument">
      <div class="close-form" (click)="closeSearch()">
        <img src="../../../../../assets/img/close-form.svg">
      </div>
      <div class="intray-search">
        <div class="for-auditor-search">
          <div class="dataTables_filter form-group">
            <label>
              <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
                [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
            </label>
          </div>
          <div class="search-filter-box">

            <tabset class="tab-block filteroptions" #staticTabs>
              <tab>
                <ng-template tabHeading>
                  <h3>All Results</h3>
                </ng-template>
                <div class="multiSearchFilters">
                  <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings" name="files">
                  </ng-multiselect-dropdown>
                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <h3>PBC</h3>
                </ng-template>
                <div class="multiSearchFilters">
                  <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <h3>DMS</h3>
                </ng-template>
                <div class="multiSearchFilters">
                  <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings" name="dms">
                  </ng-multiselect-dropdown>
                </div>
              </tab>
            </tabset>

            <div *ngIf="onfileChangeOut">
              <div class="upload-submit text-center">
                <button type="submit" class="btn btn-primary upload-selected-btn"
                  (click)="getSelectedDocs($event,'referenceDoc')">Upload
                  Selected Documents</button>
              </div>
              <div class="filteroptions upload-load-file-block rf-document">
                <h3>Upload from Local machine</h3>
                <div class="button-style mr-left-rght">
                  <label for="myFile">Browse and Upload</label>
                  <input type="file" id="myFile" class="custom-file-input"
                    (change)="onFilechanged($event,'referenceDoc')"
                    accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">
                </div>
              </div>
            </div>
            <div *ngIf="onfileChangeIn">
              <div class="upload-submit text-center">
                <button type="submit" class="btn btn-primary upload-selected-btn"
                  (click)="getSelectedDocs($event,'workPaper')">Upload
                  Selected Documents</button>
              </div>
              <div class="filteroptions upload-load-file-block wkp-document">
                <h3>Upload from Local machine</h3>
                <div class="button-style mr-left-rght">
                  <label for="myFile">Browse and Upload</label>
                  <input type="file" id="myFile" class="custom-file-input" (change)="onFilechanged($event ,'workPaper')"
                    accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="for-auditor-search" style="display: none;">
          <div class="search-filter-box">
            <div class="filteroptions">
              <h3>Upload file from Local machine</h3>
              <div class="button-style mr-left-rght">
                <label for="myFile">Browse and Upload</label>
                <input type="file" id="myFile" class="custom-file-input" (change)="onFilechanged($event ,'workPaper')"
                  accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="save-as-work-paper rename-doc-block" *ngIf="renameDoc">
    <div class="rename-inner-block">
      <h6>Rename the document</h6>
      <div class="form-group">
        <label>Rename</label>

        <input class="form-control file-name-txt" [(ngModel)]="oldFileName"   type="text" />
        <input class="form-control file-ext"  [(ngModel)]="renameFileExtension" type="text" readonly />
      </div>
      <div class="form-group">
        <label>Comment</label>
        <textarea class="form-control" type="text"  placeholder="Enter your comment"></textarea>
      </div>
      <div class="form-group text-center mt-3">
        <button type="button" class="btn btn-cancel" (click)="closeRenameDoc()">Cancel</button>
        <button type="button" class="btn btn-ok"  (click)="onRenameButton(oldFileName)"> OK</button>
      </div>
    </div>
    <div class="bg-blur"></div>
  </div>
    </div>
  <div *ngIf="previewMode" class="popup-right-block">
    <app-pdf-annotation *ngIf="previewMode" [documentNo]="documentNumber" [path]="documentUrl" [filename]="doucmentName"
      [docType]="docType" [wpNumber]="workpaperNum" [auditId]="auditId" (close)="onAnnotationComponenetClose($event)">
    </app-pdf-annotation>
  </div>

</div>