.error-text {
    font-size: 12px;
    color: red !important;
    font-weight: 600;
}

.risk-accordion-sec .btn-infom.yes{
    background-color:#dd6838;
    border: 1px solid #dd6838;
}
.risk-accordion-sec .btn-infom.no {
    background-color:#98aa3a;
    border: 1px solid #98aa3a;
}
.prepared-dt{
    width: 40%;
    float: right;
    p{
        text-align: left;
        margin-bottom: 0px;
        font-size: 10px;
        color: #494949;
        font-weight: 600;
        margin-top: 13px;
    }
}
.left-side{
    float: left;
}
.popup-left-block {
    width: 822px;
}
.popup-right-block {
    position: fixed;
    bottom: 0;
    left: auto;
    height: calc(100% - 100px);
    right: 822px;
    z-index: 999;
    background: #fff;
    border: 1px solid rgba(112,112,112,.5);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.16);
    width: 467px;
}

.save-as-work-paper {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 0px;
    border-bottom: 2px solid #ddd;
    h6 {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    input {
        width: calc(~"100% - 44px");
        display: inline-block;
        height: 34px;height: 34px;
        border-radius: 0px;
        vertical-align: top;
        margin-right: 4px;
    }
    .btn {
        &.btn-ok {
            background: #664da0;
            border-radius: 0;
            color: #fff;
            width: 40px;
            height: 34px;
        }
    }
    &.rename-doc-block {
     .rename-inner-block   {
                /* top: 0; */
    width: 100%;
    /* left: 0; */
    background: #fff;
    padding: 14px;
    z-index: 999;
    position: relative;
    height: 100%;
    display: inline-block;
        }
        .bg-blur {
            background: rgba(0,0,0,0.4);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
        }
        input {
            width: 100%;
            &.file-name-txt {
                width: calc(~"100% - 60px");
                border-right: 0;
                margin: 0;
            }
            &.file-ext {
                width: 60px;
                border-left: 0;
                margin: 0;
            }
        }
        .btn {
            width: 80px;
            outline: none;
            &.btn-cancel {
                background: #ddd;
                border-radius: 0;
                margin-right: 10px;
            }
        }
    }
}

.risk-accordion-sec .btn-infom.yes{
    background-color:#dd6838;
    border: 1px solid #dd6838;
}
.rejected-dt{
    color: #494949;
    font-size: 12px;
}
.left-rht{
    padding: 0px 15px;
}
.add-user-button {
    .prepare-left {
        width: 54%;
    }
    .prepare-right {
        width: 45%;
        input {
            padding: 4px;
            height: 20px;
            font-size: 11px;
            width: 62px;
            margin: 0;
            border-color: #644c9f;
            color: #644C9F;
        }
    }
} 

.p-b-12 {
    padding-bottom: 15px;
}
.error-position {
    position: absolute;
    bottom: 1px;
}

.issue-btn-block {
    margin-bottom: -12px;
    position: relative;
    z-index: 99;
    label {
        display: inline;
        margin-right: 6px;
        &.isuue-font{
            line-height: 25px;
        }
    }
    button {
        padding: 0;
        border: 1px solid #644C9F;
        width: 40px;
        font-size: 12px;
        background: #f5f5f5;
        &.btn-yes {
            &.active {
                background: #dd6838;
                color: #fff;
            }
        }
        &.btn-no {
            border-left: 0px;
            &.active {
                background: #98aa3a;
                color: #fff;
            }
        }
    }
} 