<div class="full-width breadcrumbs">
    <ul>
        <li>
            <a>Home</a>
        </li>
        <li>
            <a>Risk & Control Management</a>
        </li>
    </ul>
</div>

<div class="full-width bg-white">
    <app-rcm-view></app-rcm-view>
</div>
<div class="full-width bg-white main-content">
    <div class="content">
        <tabset class="tab-block" #staticTabs>
            <tab heading="Risk List">
                <app-risk-list></app-risk-list>
            </tab>
            <tab heading="Control List">
                <app-control-list></app-control-list>
            </tab>
            <tab heading="Risk Control Matrix">
                <app-risk-control-matrix></app-risk-control-matrix>
            </tab>
            <tab heading="Control Execution Workflow">
                <app-control-work-flow></app-control-work-flow>
            </tab>

        </tabset>

    </div>

</div>