<div class="pop-up-form">
    <div class="close-form" (click)="closeModal()">
      <img src="../../../../../assets/img/close-form.svg">
  
    </div>
    <form [formGroup]="riskForms" (ngSubmit)="onSave()" style="height:100%;width:100%;float:left">
    <div class="full-width from-heading-box relative">
      <div class="text-area-sec">
        <h4>Risk Assessment :
          <span>{{RiskListData?.riskName}}</span>
        </h4>
      </div>
  
      <div class="r-number">
        <p class="text-design">{{RiskListData?.riskAssessmentId[0]}}</p>
    </div>
    <div class="icons-in">
        <ul>
            <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);"
                        src="../../../../../assets/img/duplicate-form.svg"></a>
                <a href="javascript:void(0);"  class="dupIcoHover"><img src="assets/img/Duplicate-white.svg"
                        alt="Duplicate"> Duplicate</a>
            </li>
            <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);"
                        src="../../../../../assets/img/upload-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg"
                        alt="Export"> Export</a>
            </li>
            <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);"
                        src="../../../../../assets/img/print-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print">
                    Print</a>
            </li>
            <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);"
                        src="../../../../../assets/img/share-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg"
                        alt="Share"></a>
            </li>
        </ul>
    </div>
  </div>
  
  <div class="scroll-container">
  
    <div class="full-width tab-section-container">
        <div class="full-width">
            <tabset class="tab-block" #RiskAssessmentForm>
                <tab>
                    <ng-template tabHeading>
                        <span class="tabOne">Details</span>
                    </ng-template>
                    <div class="tabContent-box">
                        <div class="full-width">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Risk Description</label>
                                            <textarea formControlName="riskDescription"
                                                class="form-control risk-description-text" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Source</label>
                                            <input type="text" formControlName="riskSource"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Process</label>
                                            <input type="text" formControlName="riskProcess"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Catagory</label>
                                            <input type="text" formControlName="riskCategory"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Risk Area</label>
                                            <input type="text" formControlName="riskArea" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Period in Scope</label>
                                            <input type="text" formControlName="periodInScope"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="full-width">
                                        <div class="form-group">
                                            <label>Potential Outcome</label>
                                            <input type="text" formControlName="riskPotentialoutcome"
                                                class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-width accordian-container">
                      <div class="accordion form-accordian" id="accordionExample">
                          <div class="card according-wing">
                              <div class="card-header" id="headingOne">
                                  <h2 class="mb-0 text-h2">
                                      <button class="btn btn-link relative" type="button"
                                          data-toggle="collapse" data-target="#collapseOne"
                                          aria-expanded="true" aria-controls="collapseOne">
  
                                          <div class="headind-box">
                                              <h3>Assessment</h3>
                                          </div>
                                          <div class="img-toggle">
                                              <img src="../../../../../assets/img/round-img.svg">
                                          </div>
  
                                      </button>
                                  </h2>
                              </div>
  
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                  data-parent="#accordionExample">
                                  <div class="card-body">
                                      <div class="full-width report-box rightSide-align">
                                          <ul class="report-ul">
                                              <li>
                                                  <div class="img-box">
                                                      <img src="../../../../../assets/img/newspaper.png">
                                                  </div>
  
                                                  <a>Risk Register</a><br>
                                            
                                                
  
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="full-width">
                                          <div class="buttons-question">
                                              <div class="division-3">
                                                  <div class="question-sec">
                                                      Is Auditable
                                                  </div>
                                                  <div class="button-radio">
                                                      <div class="onoffswitch">
                                                          <input type="checkbox" formControlName="isAuditable"
                                                              name="cAuditablebutton"
                                                              class="onoffswitch-checkbox"
                                                              id="Auditableswitch">
                                                          <label class="onoffswitch-label"
                                                              for="Auditableswitch">
                                                              <span class="onoffswitch-inner"></span>
                                                              <span class="onoffswitch-switch"></span>
                                                          </label>
                                                      </div>
  
                                                  </div>
                                              </div>
                                              <div class="division-3">
                                                  <div class="question-sec">
                                                      Field Audit
                                                  </div>
                                                  <div class="button-radio">
                                                      <div class="onoffswitch">
                                                          <input type="checkbox" formControlName="fieldAudit"
                                                              name="fieldauditbutton"
                                                              class="onoffswitch-checkbox"
                                                              id="fieldauditswitch">
                                                          <label class="onoffswitch-label"
                                                              for="fieldauditswitch">
                                                              <span class="onoffswitch-inner"></span>
                                                              <span class="onoffswitch-switch"></span>
                                                          </label>
                                                      </div>
  
                                                  </div>
                                              </div>
                                              <div class="division-4">
                                                  <div class="question-sec">
                                                      Automated Controls
                                                  </div>
                                                  <div class="button-radio">
                                                      <div class="onoffswitch">
                                                          <input type="checkbox"
                                                              formControlName="automatedControls"
                                                              name="Automatedbutton"
                                                              class="onoffswitch-checkbox"
                                                              id="Automatedswitch">
                                                          <label class="onoffswitch-label"
                                                              for="Automatedswitch">
                                                              <span class="onoffswitch-inner"></span>
                                                              <span class="onoffswitch-switch"></span>
                                                          </label>
                                                      </div>
  
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-container-box">
                                              <div class="form-group">
                                                  <select class="form-control form-control-sm"
                                                      formControlName="riskDepartment">
                                                      <option value=""> Select Risk Department </option>
                                                      <option value="Finance"> Finance</option>
                                                      <option value="health, safety & environment"> Health,
                                                          Safety &
                                                          Environment</option>
                                                      <option value="human resources"> Human Resources
                                                      </option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="full-width table-style table-speace">
                                          <div class="full-width overflow-auto">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th scope="col">Risk Area</th>
                                                          <th scope="col">Risk ID</th>
                                                          <th scope="col">Risk Title</th>
                                                          <th scope="col">Description</th>
                                                          <th scope="col">Intrinsic Risk</th>
                                                          <th scope="col">Residual Risk</th>
                                                          <th scope="col">Control Risk</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>{{RiskListData?.riskArea }} </td>
                                                          <td>{{RiskListData?.riskId }}</td>
                                                          <td>{{RiskListData?.riskName }}</td>
                                                          <td>{{RiskListData?.riskDescription }}</td>
                                                          <td>
                                                              <button
                                                      class="btn btn-primary year-button  btn-with-head"
                                                      [ngClass]="{'low':intriiskAvg === 1, 'medium':intriiskAvg === 2, 'high':intriiskAvg === 3}">
                                                                  <span *ngIf="intriiskAvg == 1"> LOW </span>
                                                                  <span *ngIf="intriiskAvg == 2"> MEDIUM </span>
                                                                  <span *ngIf="intriiskAvg == 3"> HIGH </span>
                                                              </button>
                                                          </td>
                                                          <td>
                                                              <button
                                                      class="btn btn-primary year-button  btn-with-head"
                                                      [ngClass]="{'low':risidualAvg === 1, 'medium':risidualAvg === 2, 'high':risidualAvg === 3}">
                                                                  <span *ngIf="risidualAvg == 1"> LOW </span>
                                                                  <span *ngIf="risidualAvg == 2"> MEDIUM </span>
                                                                  <span *ngIf="risidualAvg == 3"> HIGH </span>
                                                              </button>
                                                          </td>
                                                          <td><button
                                                                  class="btn btn-primary year-button low">LOW</button>
                                                          </td>
  
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion form-accordian" id="accordionExampleOne">
                          <div class="card according-wing">
                              <div class="card-header" id="headingTwo">
                                  <h2 class="mb-0 text-h2">
                                      <button class="btn btn-link relative" type="button"
                                          data-toggle="collapse" data-target="#collapseTwo"
                                          aria-expanded="false" aria-controls="collapseTwo">
  
                                          <div class="headind-box">
                                              <h3>Intrinsic Risk <button
                                                      class="btn btn-primary year-button  btn-with-head"
                                                      [ngClass]="{'low':intriiskAvg === 1, 'medium':intriiskAvg === 2, 'high':intriiskAvg === 3}">
                                                      <span *ngIf="intriiskAvg == 1"> LOW </span>
                                                      <span *ngIf="intriiskAvg == 2"> MEDIUM </span>
                                                      <span *ngIf="intriiskAvg == 3"> HIGH </span>
                                                  </button>
                                              </h3>
                                          </div>
                                          <div class="img-toggle">
                                              <img src="../../../../../assets/img/round-img.svg">
                                          </div>
  
                                      </button>
                                  </h2>
                              </div>
                              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                  data-parent="#accordionExampleOne">
                                  <div class="card-body">
                                      <div class="full-width table-style">
                                          <div class="full-width overflow-auto">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th scope="col">Type of Risk</th>
                                                          <th scope="col">Likelihood</th>
                                                          <th scope="col" class="text-center">Impact</th>
                                                          <th scope="col" class="text-center">Result</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody formArrayName="intrinsicRisk"
                                                      *ngFor="let group of getIntrinsicRisk.controls; let i=index">
  
                                                      <tr [formGroupName]="i">
                                                          <td>
                                                              <div class="check-container">
                                                                  <label class="checkbox">
                                                                      <input type="checkbox">
                                                                      <span class="checkmark"></span>
                                                                  </label>
                                                              </div>
  
                                                              <span>{{group.get('riskType').value }}</span>
                                                          </td>
                                                          <td>
  
                                                              <select  class="form-control table-select"
                                                                  formControlName="likelyhood"
                                                                  
                                                                  (click)="getRiskResult(group.get('likelyhood').value, group.get('impact').value, i, 'intrinsic')">
                                                                  <option value="0">Select option</option>
                                                                  <!-- <option value="0" disabled selected>Select your option</option> -->
                                                                  <option *ngFor="let select" [value]="select"> {{ select }}</option>
                                                                  <option [value]="likelyhood.value"
                                                                      *ngFor="let likelyhood of likelyhoods"
                                                                      [attr.class]="likelyhood.name">
                                                                      {{likelyhood.name}} </option>
                                                              </select>
                                                          </td>
                                                          <td class="center-input">
  
                                                              <select class="form-control table-select "
                                                                  formControlName="impact"
                                                                  (click)="getRiskResult(group.get('likelyhood').value, group.get('impact').value, i, 'intrinsic')">
                                                                  <option value="0">Select
                                                                      option</option>
                                                                      <option *ngFor="let select" [value]="select"> {{ select }}</option>
                                                                
                                                                      <option [value]="impact.value"
                                                                      *ngFor="let impact of impacts"
                                                                      [attr.class]="impact.name">
                                                                      {{impact.name}} </option>
                                                              </select>
                                                          </td>
                                                          <td class="text-center">
                                                              <!-- <button class="btn btn-primary year-button high"
                                                              >HIGH</button> -->
  
                                                              <!-- <input type="checkbox"
                                                              formControlName="result"
                                                              name="Automatedbutton"
                                                              class="onoffswitch-checkbox"
                                                              [value]="Automatedswitch"> -->
                                                              <!-- {{group.get('result').value}} -->
                                                              <button type="button"
                                                                  class="btn btn-primary year-button  btn-with-head"
                                                                  [ngClass]="{'low': group.get('result').value === 1, 'medium': group.get('result').value === 2, 'high': group.get('result').value === 3}">
                                                                  <!-- [attr.class]="getRiskResult(group.get('likelyhood').value, 
                                                                 group.get('impact').value, i, 'intrinsic')['btnColor']" -->
                                                                  <!-- {{ getRiskResult(group.get('likelyhood').value, group.get('impact').value, i, 'intrinsic')
                                                                  ['btnName'] }}  -->
  
                                                                  <!-- {{ group.get('result').value == 1   }} -->
                                                                  <span
                                                                      *ngIf="group.get('result').value == 1">
                                                                      LOW </span>
                                                                  <span
                                                                      *ngIf="group.get('result').value == 2">
                                                                      MEDIUM </span>
                                                                  <span
                                                                      *ngIf="group.get('result').value == 3">
                                                                      HIGH </span>
  
                                                                  <!-- {{ ( group.get('likelyhood').value > group.get('impact').value) ? group.get('likelyhood').value : group.get('impact').value  }} -->
                                                              </button>
                                                          </td>
  
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="accordion form-accordian" id="accordionExampleTwo">
                          <div class="card according-wing">
                              <div class="card-header" id="headingThree">
                                  <h2 class="mb-0 text-h2">
                                      <button class="btn btn-link relative" type="button"
                                          data-toggle="collapse" data-target="#collapseThree"
                                          aria-expanded="false" aria-controls="collapseThree">
                                          <div class="headind-box">
                                              <h3>Residual Risk <button
                                                      class="btn btn-primary year-button  btn-with-head"
                                                      [ngClass]="{'low':risidualAvg === 1, 'medium':risidualAvg === 2, 'high':risidualAvg === 3}">
                                                      <span *ngIf="risidualAvg == 1"> LOW </span>
                                                      <span *ngIf="risidualAvg == 2"> MEDIUM </span>
                                                      <span *ngIf="risidualAvg == 3"> HIGH </span>
                                                  </button>
                                              </h3>
                                          </div>
                                          <div class="img-toggle">
                                              <img src="../../../../../assets/img/round-img.svg">
                                          </div>
                                      </button>
                                  </h2>
                              </div>
                              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                  data-parent="#accordionExampleTwo">
                                  <div class="card-body">
                                      <div class="full-width table-style">
                                          <div class="full-width overflow-auto">
                                              <table class="table">
  
                                                  <thead>
                                                      <tr>
                                                          <th scope="col">Type of Risk</th>
                                                          <th scope="col">Likelihood</th>
                                                          <th scope="col" class="text-center">Impact</th>
                                                          <th scope="col" class="text-center">Result</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody formArrayName="residualRisk"
                                                      *ngFor="let group of getResidualRisk.controls; let i=index">
  
                                                      <tr [formGroupName]="i">
                                                          <td>
                                                              <div class="check-container">
                                                                  <label class="checkbox">
                                                                      <input type="checkbox">
                                                                      <span class="checkmark"></span>
                                                                  </label>
                                                              </div>
  
  
                                                              <span> {{group.get('riskType').value }}</span>
                                                          </td>
                                                          <td>
  
                                                              <select
                                                                  (click)="getRiskResult(group.get('likelyhood').value, group.get('impact').value, i, 'residual')"
                                                                  class="form-control  table-select"
                                                                  formControlName="likelyhood">
                                                                  <option value="0">Select option</option>
                                                                  <option *ngFor="let select" [value]="select"> {{ select }}</option>

                                                                  <option [value]="likelyhood.value"
                                                                      *ngFor="let likelyhood of likelyhoods"
                                                                      [attr.class]="likelyhood.name">
                                                                      {{likelyhood.name}} </option>
                                                              </select>
                                                          </td>
                                                          <td class="center-input">
  
                                                              <select class="form-control table-select"
                                                                  formControlName="impact"
                                                                  (click)="getRiskResult(group.get('likelyhood').value, group.get('impact').value, i, 'residual' )">
                                                                  <option value="0">Select option</option>
                                                                  <option *ngFor="let select" [value]="select"> {{ select }}</option>
                                                                
                                                                  <option [value]="impact.value"
                                                                      *ngFor="let impact of impacts"
                                                                      [attr.class]="impact.name">
                                                                      {{impact.name}} </option>
                                                              </select>
                                                          </td>
                                                          <td class="text-center">
  
                                                              <button type="button"
                                                                  class="btn btn-primary year-button  btn-with-head"
                                                                  [ngClass]="{'low': group.get('result').value === 1, 'medium': group.get('result').value === 2, 'high': group.get('result').value === 3}">
                                                                  <!-- [attr.class]="getRiskResult(group.get('likelyhood').value,
                                                            group.get('impact').value, i, 'residual')['btnColor']" -->
                                                                  <!-- {{ getRiskResult(group.get('likelyhood').value, group.get('impact').value, i, 'residual')['btnName']}}  -->
                                                                  <!-- {{ group.get('result').value }} -->
  
                                                                  <span
                                                                      *ngIf="group.get('result').value == 1">
                                                                      LOW </span>
                                                                  <span
                                                                      *ngIf="group.get('result').value == 2">
                                                                      MEDIUM </span>
                                                                  <span
                                                                      *ngIf="group.get('result').value == 3">
                                                                      HIGH </span>
  
                                                              </button>
                                                          </td>
                                                      </tr>
  
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  
  
              <div class="full-width button-container">
                  <button class="big-button">Save</button>
                  <button class="big-button purple-btn">Delegate</button>
                  <button class="big-button orange-btn">reject</button>
                  <button class="big-button green-btn right-side">Approve</button>
                  <button class="big-button yellow-btn right-side">Submit</button>
  
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                  <span>Mitigating Factors</span>
              </ng-template>
              <div class="tabContent-box">
                  <div class="row full-width">
                      <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                        <label>Control List</label>
                        <select
                          class="form-control"
                          (change)="addControl($event.target.value)"
                        >
                          <option selected [value]="">Select Control</option>
                          <option
                            *ngFor="let controls of filteredControls"
                            [value]="controls.controlId"
                          >
                            {{ controls.controlName }}
                          </option>
                        </select>
                      </div>
                    </div>
                  <!-- <div class="full-width rightSide-align">
                      <ul class="report-ul">
                          <li>
                              <div class="img-box">
                                  <img src="../../../../../assets/img/newspaper.png">
                              </div>
                              <a>View Report</a>
                          </li>
                      </ul>
                  </div> -->
                  <div class="full-width tab-inside relative mob-static">
                      <!-- <div class="select-button">
                          <select class="form-control">
                              <option>Add Controls</option>
                              <option>C.002</option>
                              <option>C.021</option>
  
                          </select>
                      </div> -->
                      <tabset class="tab-small">
                          <tab>
                              <ng-template tabHeading>
                                  <span>Controls</span>
                              </ng-template>
                              <div class="full-width table-style table-inside-tabs">
                                  <div class="full-width overflow-auto">
                                      <table class="table">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Control ID</th>
                                                  <th scope="col">Control Name</th>
                                                  <th scope="col">Description</th>
                                                  <th scope="col">Key Control</th>
                                                  <th scope="col">Catagory</th>
                                                  
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let control of assignedControls">
                                                  <td>{{ control.controlId }}</td>
                                                  <td>{{ control.controlName }}</td>
                                                  <td>{{ control.controlDescription }}</td>
                                                  <td>{{ control.controlType }}</td>
                                                  <td>{{ control.controlDepartment }}</td>
  
                                                  <td class="edit-delete-icon normal-table">
                                                      <a class="delete-btn">
                                                        <img
                                                          src="assets/img/delete_button.svg"
                                                          alt="Delete"
                                                        />
                                                      </a>
                                                    </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </tab>
                          <tab>
                              <ng-template tabHeading>
                                  <span>Activities</span>
                              </ng-template>
                              <div class="full-width table-style table-inside-tabs">
                                  <div class="full-width overflow-auto">
                                      <table class="table">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Mitigation Plan</th>
                                                  <th scope="col">Work Steps</th>
                                                  <th scope="col">Legal Reference</th>
                                                  <th scope="col">Convert to Opportunity</th>
                                                  <th scope="col">Business Process</th>
                                                  <th scope="col">Additional Notes</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>Mitigation Plan</td>
                                                  <td>Work Steps</td>
                                                  <td>Legal Reference</td>
                                                  <td>Yes/No</td>
                                                  <td>Business Process</td>
                                                  <td>Additional Notes</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </tab>
                          <tab>
                              <ng-template tabHeading>
                                  <span>Process</span>
                              </ng-template>
                              Process
                          </tab>
                      </tabset>
                  </div>
  
              </div>
          </tab>
            <tab>
              <ng-template tabHeading>
                  <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                  <div class="full-width">
                      <div class="row">
                          <div class="three-share">
                              <div class="full-width heading-sec-form">
                                  <h4 class="headind-form">
                                      <span>Information</span>
                                  </h4>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Company Name</label>
                                      <input class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Location</label>
                                      <input class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>B.U. Name</label>
                                      <input class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Business Process Name</label>
                                      <input class="form-control" type="text">
                                  </div>
                              </div>
  
  
                          </div>
                          <div class="three-share">
                              <div class="full-width heading-sec-form">
                                  <h4 class="headind-form">
                                      <span>Dates</span>
                                  </h4>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Identified On</label>
                                      <div class="full-width relative">
                                          <input type="text" formControlName="riskIdentifiedDate"
                                              placeholder="Select Date"
                                              class="form-control calendar-icon">
                                      </div>
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Approved On</label>
                                      <div class="full-width relative">
                                          <input type="text" placeholder="Select Date"
                                              formControlName="riskLastApprovedDate"
                                              class="form-control calendar-icon">
                                      </div>
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Assessed On</label>
                                      <div class="full-width relative">
                                          <input type="text" placeholder="Select Date"
                                              formControlName="riskLastApprovedDate"
                                              class="form-control calendar-icon" disabled>
                                      </div>
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Modified On</label>
                                      <div class="full-width relative">
                                          <input type="text" placeholder="Select Date"
                                              formControlName="riskLastApprovedDate"
                                              class="form-control calendar-icon">
                                      </div>
                                  </div>
                              </div>
  
                          </div>
                          <div class="three-share">
                              <div class="full-width heading-sec-form">
                                  <h4 class="headind-form">
                                      <span>People</span>
                                  </h4>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Assessment Submitter</label>
                                      <input class="form-control" formControlName="riskSubmitter"
                                          type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Assessment Submit ID</label>
                                      <input class="form-control" formControlName="riskOwnerId"
                                          type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Assessment Modified By</label>
                                      <input class="form-control" formControlName="riskOwnerId"
                                          type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Assessment Approved By</label>
                                      <input class="form-control" formControlName="riskApprovedBy"
                                          type="text">
                                  </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Assessment Approver ID</label>
                                      <input class="form-control" formControlName="riskApproverId"
                                          type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="three-share">
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk ID</label>
                                      <input class="form-control" formControlName="riskId" type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="three-share">
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Risk Assessment ID</label>
                                      <input class="form-control" formControlName="riskAssementId"
                                          type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="three-share">
                              <div class="full-width">
                                  <div class="form-group">
                                      <label>Status</label>
                                      <select class="form-control">
                                        <option value="">Select</option>
                                          <option>Active</option>
                                          <option>Inactive</option>
  
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  
          </tab>
  
      </tabset>
  
  </div>
  </div>
  
  </div>
  </form>
  </div>