.form-accordian .table-select .lw-bg,
.form-accordian .table-select .lw-bg:hover {
    background-color: #98AA3A;
    color: #fff;
}
.form-accordian .table-select .md-bg,
.form-accordian .table-select .md-bg:hover {
    background-color: #fc0;
    color: #fff;
}
.form-accordian .table-select .vh-bg,
.form-accordian .table-select .vh-bg:hover {
    background-color: #dd6838;
    color: #fff;
}

