<div class="full-width breadcrumbs">
    <ul>
        <li>
            <a>Home</a>
        </li>
        <li>
            <a>Audit Universe</a>
        </li>
    </ul>
</div>

<div class="full-width bg-white">
    <div class="row">
        <div class="col">
            <app-audit-view *ngIf="auditMasters && auditMasters.length > 0" [auditMasters]="auditMasters"></app-audit-view>
        </div>
    </div>
</div>
<div class="full-width bg-white main-content">
    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <app-audit-chart></app-audit-chart>
            </div>
            <div class="col-xs-12 col-lg-6">
                <app-audit-universe-table  *ngIf="auditMasters && auditMasters.length > 0" [auditMasters]="auditMasters"></app-audit-universe-table>
            </div>
        </div>
    </div>

</div>