<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>

  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4>Edit Audit</h4>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
  
      <div class="full-width tab-section-container">
        <div class="full-width">
              <div class="tabContent-box tab-collapse-in">
                <div class="full-width accordion-sec">
                  <div class="accordion" id="accordionExample">
                    <div class="section-in">
                      <div class="card">
                        <div class="card-header bg-gray relative" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <span class="textportion">Information</span>
                              <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                            </button>
                          </h2>
                        </div>
                    
                        <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <div class="full-width section-inside">
                              <ul class="content-labels full-width list-of-admins">
                                 
                                <li>
                                  <p class="label-txt">Audit ID</p>
                                  <p class="op-id">OP 014</p>
                                </li>
                                <li class="col-wd-30">
                                  <p class="label-txt">Audit Title</p>
                                  <p class="op-id">Accounts Payable Katanga</p>
                                </li>
                                <li class="col-wd-16">
                                  <p class="label-txt">Created On</p>
                                  <p class="op-id">12.08.2020</p>
                                </li>
                                <li class="col-wd-16">
                                  <p class="label-txt">Updated On</p>
                                  <p class="op-id">12.08.2020</p>
                                </li>
                                <li class="float-right">
                                  <p class="label-txt">Created By</p>
                                  <div class="full-width">
                                    <div class="imageicon">
                                      <img src="../../../../../assets/img/review-1.png">
                                    </div>
                                    <div class="name">
                                      <div class="namecenter">
                                          Thomas
                                      </div>
                                      
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="full-width accordion-sec">
                      <div class="accordion" id="accordionExampleOne">
                      <div class="section-in">
                          <form>
                              <div class="tabContent-box">
                                  <div class="full-width">
                                    <div class="row">
                                      <div class="three-share">

                                        <div class="full-width">
                                          <div class="form-group">
                                            <label>Company Name</label>
                                            <select class="form-control">
                                              <option></option>
                                              <option value="Mining & Co.">Mining & Co.</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="full-width">
                                          <div class="form-group">
                                            <label>Commodity Name</label>
                                            <select class="form-control">
                                              <option></option>
                                              <option value="Mining & Co.">Mining & Co.</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="full-width">
                                          <div class="form-group">
                                            <label>Region Name</label>
                                            <select class="form-control">
                                              <option></option>
                                              <option value="Mining & Co.">Mining & Co.</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="full-width">
                                          <div class="form-group">
                                            <label>Location</label>
                                            <select class="form-control">
                                              <option></option>
                                              <option value="Mining & Co.">Mining & Co.</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="three-share">
                                          <div class="full-width">
                                            <div class="form-group">
                                              <label>Site Name</label>
                                              <select class="form-control">
                                                  <option></option>
                                                <option value="Mining & Co.">Mining & Co.</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="full-width">
                                            <div class="form-group">
                                              <label>Auditable Entity</label>
                                              <input class="form-control" type="text"/>
                                            </div>
                                          </div>
                                          <div class="full-width">
                                            <div class="form-group">
                                              <label>Business Process Name</label>
                                              <select class="form-control">
                                                  <option></option>
                                                <option value="Mining & Co.">Mining & Co.</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="full-width">
                                            <div class="form-group">
                                              <label>Rotation (in years)</label>
                                              <input class="form-control" type="text"/>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="three-share">
                                          <div class="d-flex align-content-end flex-wrap remote-onsite-switch">
                                            <span class="left-text">Remote</span>
                                            <label class="switch">
                                              <input type="checkbox" />
                                              <span class="slider-switch-btn round"></span>
                                            </label>
                                            <span class="right-text">On-site</span>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="full-width button-container">
                                      <button class="big-button">Save</button>
                                    </div>
                              </div>
                              
                          </form>
                      </div>
                      </div>
                      </div>


              </div>
             
            
     
         
        </div>
      </div>

  </div>
</div>
