.left-padd{
    padding-left: 15px;
}
.four-share {
    width: 66.66%;
    float: left;
}
.remote-onsite-switch {
    height: 100%;
    padding-bottom: 10px;
    .left-text, .right-text {
        font-weight: 700;
    }
} 