<div class="full-width breadcrumbs">
    <ul>
        <li><a>Home</a></li>
        <li><a>Control Testing</a></li>
    </ul>
</div>
<div class="full-width bg-white">
    <app-control-assessment-dynamic-view></app-control-assessment-dynamic-view>
</div>
<div class="full-width bg-white main-content">
    <div class="content">
        <tabset class="tab-block">
            <tab heading="Control List">
                <app-control-list></app-control-list>
            </tab>
            <tab heading="Control Testing Matrix">
                <app-control-assessment-control-list></app-control-assessment-control-list>
            </tab>
        </tabset>

    </div>

</div>
<!-- <div class="full-width bg-white main-content control-table-section">
    <div class="content relative">
        <app-control-assessment-control-list></app-control-assessment-control-list>
    </div>
</div> -->
