.cnl.orange-btn {
    background-color: #dd6838;
    color: #ffffff;
}
.pop-up-form .questions .question-tag {
    float: left;
    margin-right: 10px;
}
.form-group textarea {
    height: 7em;
}
.form-group input {
    padding: 7px;
}
.pop-up-form .half-tab .form-group .potential-text {
    padding: 7px 0px 0px 7px;
    font-size: 11px;
}
.m-response {
    height: 64px !important;
}