
.fixdilog{
    width:98%;
    height: 100%;
  }
  .head5{
    //    color:#58448c;
       padding-right: 30px;
       /* #664da0 */
       font-size: 20px;
font-weight: 700;
color: #664da0;
   }
.headrow{
    background:  #f5f5f5;
    padding-top: 14px;
    color:#5b5c60;
    // box-shadow: 3px 5px 3px #DCDCDC;
    margin-bottom: 14px;
border: 1px solid rgba(112, 112, 112, .35);

  }
  .topheading{
    font-size: 20px
  }
  .strhead{
    font-size: 20px;
    font-weight: 600;
    color: #5c5d60;
  }
  .secbg{
      background:#f5f5f5;
      padding:20px;
  }
  .secbg2{
    background:#fcfcfc;
    padding:10px;
  }
  .margin_right{
    margin-right: -7px;
    margin-left: 10px;
  }
  .iconClass{
    font-size: 25px;
    color:#5c5d60;
   
    display: inline-block;
    vertical-align: middle;
  }
  .margin_bottom{
  margin-bottom: -20px;
  }
  .border {
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 9px;
  
  
  }
  .border1 {
   border-top-color: #735FA5;
    }
    .border3 {
      border-radius: 0px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin: 0px;
      padding: 15px;
    }
  .btn-save {
     color: #fff;
     background-color: #1b8ac7;
     border-color: #1b8ac7;
     border-radius: 22px;
     font-size: 18px;
     padding: 9px;
     width: 125px;
   }
   
  .btn-delegate {
     color: #fff;
     background-color: #664da0;
     border-color: #664da0;
     border-radius: 22px;
     font-size: 18px;
     padding: 9px;
     width: 125px;
   }
  .btn-reject {
     color: #fff;
     background-color: #dd6738;
     border-color: #dd6738;
     border-radius: 22px;
     font-size: 18px;
     padding: 9px;
     width: 125px;
   }
   .btn-submit {
     color: #fff;
     background-color: #fdcd00;
     border-color: #fdcd00;
     border-radius: 22px;
     font-size: 18px;
     padding: 9px;
     width: 125px;
   }
   .btn-approve {
     color: #fff;
     background-color: #98aa3a;
     border-color: #98aa3a;
     border-radius: 22px;
     font-size: 18px;
     padding: 9px;
     width: 125px;
   }
   .btn-high{
      color: #fff;
     background-color: #dd6738;
     border-color: #dd6738;
     
   }
   .btn-medium{
       color:#fff;
       background-color: #fdcd00;
       border-color: #fdcd00;
       float: center;
   }
   .btn-low{
      color: #fff;
      background-color: #98aa3a;
      border-color: #98aa3a;
   }

  .btnclose{
   
    padding: -15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #664da0;
    border-color: #664da0;
    width: 43px;
    height: 44px;
    border-color: #664da0;
    margin: -30px;
   margin-top: -2px;
   margin-right: -30px;
  position: absolute;
    
  }
  
  .button1 {
    /* border-radius: 4px; */
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button {
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 2px;
    width: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .striped-border {
      border: 1px dashed #000;
      width: 50%;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
  }
  h6 {
      width: 85%; 
      text-align: left; 
      border-bottom: 1px solid #58448c;
      line-height: 1.1em;
      margin: 10px 0 20px; 
      color:#58448c;
   } 
   .bluetext{
     color:#007bff;
   }
   h6 span { 
       background:#f5f5f5; 
       padding:0 10px; 
   }
   h2 {
      width: 100%; 
      text-align: left; 
      border-bottom: 1px solid #000; 
      line-height: 0.1em;
      margin: 10px 0 20px; 
   } 
   
   h2 span { 
       background:#fff; 
       padding:0 10px; 
   }
  
  
  a p{
    color:#007bff;
  }
  .txt-blue{
    color:#007bff;
  }

  ::ng-deep .mat-tab-label{
    font-size:18px;
    color:#654F9A;
    min-width: 0px;
 
  }
  
  ::ng-deep .mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    font-size: 14px;
    color:#664da0;
  }
  .table{
    border-radius:20px 
  }

.space{
  margin-right: 70px;
  }
.spacep10{
margin-left: 18px;
}
  ::ng-deep .mat-expansion-panel{
     background:#fbfbfb;
    border-radius: 20px;
  }
  ::ng-deep .mat-accordion {
    border-radus:20px;
  }
  ::ng-deep .mat-expansion-panel{
  border-radus:20px;
  }
  
  /* ::ng-deep .mat-accordion > first-child,
  .mat-accordion > :first-child:not(.mat-expansion-panel)  {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  } */
  ::ng-deep .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 10px;
    border-top-left-radius: 4px;
  }
  ::ng-deep .mat-accordion > last-child,
  .mat-accordion > *:last-child:not(.mat-expansion-panel)  {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 20px;
  }
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  ::ng-deep .mat-tab-header, .mat-tab-nav-bar {
      border-bottom: 1px solid #735FA5;
      width: 44%;
  }
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: #735FA5;
  }
  label{
      font-size: 12px;
      color:#636262;
      display: inline-block;
      margin-bottom: 0px; 
  }
  .form-group {
       margin-bottom: 0rem;
          
  }
  .form-control {
     
      font-size: 12px;
      font-weight: 400;
     
  } 


  .checked {
      background: rgb(0, 0, 0);
      border-color: red;
  }
  .switch-medium[_ngcontent-nrd-c3] {
      width: 50px;
      height: 30px;
      /* border-radius: 30px; */
  }
  .icon-text{
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
      font-size: 12px;
  }
  .mat-header-cell {
      font-size: 14px;
      font-weight: 600;
  }
  
  /*--table*--*/
  .table td, .table th {
      padding: .75rem;
      vertical-align: top;
      border-top: 0 px ;
      vertical-align: top;
      border-top: 0px solid #dee2e6;
  }
  .table th{   color:#828282;}
  .overview_1{
      padding-right: 45px;
      padding-left: 10px;
  }
  .formspace{
    padding-right:60px;
  
  }
  .radio {
   
  display: block;
   position: relative;
   padding-left: 27px;
   margin-bottom: 5px;
   cursor: pointer;
   font-size: 13px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none
  }
  .radio1 {
    display: block;
     position: relative;
     padding-left: 27px;
     margin-bottom: 5px;
     cursor: pointer;
     font-size: 13px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
    }
  /* Hide the browser's default radio button */
  .radio input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
  }
  .radio1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
   }
   
  /* Create a custom radio button */
  .checkround {
  
   position: absolute;
   top: 3px;
   left: 0;
   height: 18px;
   width: 18px;
   background-color: #fff ;
   border-color:#97A849;
   border-style:solid;
   border-width:1px;
    border-radius: 50%;
  }
  
  
  /* When the radio button is checked, add a blue background */
  .radio input:checked ~ .checkround {
   background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkround:after {
   content: "";
   position: absolute;
   display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio input:checked ~ .checkround:after {
   display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio .checkround:after {
    left: 2px;
   top: 2px;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: #98aa3a;
   
  
  }
  .anytext{
  font-size:14px;
  }
  .ortext{
    font-size:14px;
    color: #828282;
  }

  ::ng-deep .mat-dialog-container {
      display: block;
      padding: 2px;
      border-radius:2px;
      box-sizing: border-box;
      overflow: auto;
      outline: 0;
      width: 100%;
      height: 100%;
      min-height: inherit;
      max-height: inherit;
    }
    

    .onoffswitch {
      position: relative;
       width: 60px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  
  .onoffswitch-checkbox {
      display: none;
  }
  
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #999999; 
      border-radius: 16px;
  }
  
  .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
      -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }
  
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; 
      float:  left;
       width: 50%; 
      height: 19px; 
      padding: 0; 
      line-height: 23px;
      font-size: 10px; 
     color: white;
       font-weight: bold;
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box;
       box-sizing: border-box;
  }
  
  .onoffswitch-inner:before {
      content: "YES";
      padding-left: 10px;
      background-color: #98aa3a; color: #FFFFFF;
  }
  
  .onoffswitch-inner:after {
      content: "NO";
      padding-right: 7px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
  }
  
  .onoffswitch-switch {
      display: block; 
      width: 16px; 
      margin: 4px;
      background: #FFFFFF;
      border: 2px solid #999999; 
      border-radius: 20px;
      position: absolute; top: 0; bottom: 0; 
      right: 32px;
      -moz-transition: all 0.3s ease-in 0s; 
      -webkit-transition: all 0.3s ease-in 0s;
      -o-transition: all 0.3s ease-in 0s; 
      transition: all 0.3s ease-in 0s; 
  }
  
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; 
  }
.span1{
  font-size: 12px;
  color: #636262;
  display: inline-block;
  margin-bottom: 0px;
  float:right;
}