
<!--corrective action-->
<div class="fixdilog">
  <div class="row">
    <button class="btnclose">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="row headrow">
    <div class="col-md-6">
      <p class="strhead">&nbsp;&nbsp;&nbsp;
        <span class=""> Corrective Action </span>
      </p>
    </div>
    <div class="col-md-6">
      <h4 class="float-right head5"> C 009</h4>
    </div>

  </div>


  <div class="container" class="margin_right">


    <!-- <form [formGroup]="RiskForm" (ngSubmit)="onSubmit()"> -->

    <div label="Details">
      <div class="secbg border">
        <div class="row">
          <div class="col-md-3">
            <div lcass="form-group">
              <label>Performance Period</label>
              <input type="text" class="form-control form-control-sm" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>SignOff Period</label>
              <input type="text" class="form-control form-control-sm" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Status</label>
              <select formControlName="status" class="form-control form-control-sm">
                <option value="">Select Staus</option>
                <option value="Staus Active">Status Active</option>
                <option value="Status Inactive">Status Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Status</label>
              <select formControlName="status" class="form-control form-control-sm">
                <option value="">Select Staus</option>
                <option value="Staus Active">Status Active</option>
                <option value="Status Inactive">Status Inactive</option>
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="comment">Corrective Action</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description" formControlName="Description"></textarea>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="comment">Guidance</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description" formControlName="Description"></textarea>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="comment">Comments</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description" formControlName="Description"></textarea>

            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-2">
            <label>Attachments</label>
          </div>
          <div class="col-md-2" style="padding-top:5px;">

            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>

        </div>
        <br>
        <div class="row">

          <div class="form-group">
            <input type="file" name="image" class="form-control form-control-sm" />
          </div>
        </div>

      </div>
      <br>
      <div class="row">

        <div class="col-md-2 spacep10">
          <button type="submit" value="submit" class="button btn-save btn-lg">
            <span>Save</span>
          </button>
        </div>
        <div class="col-md-2">
          <button type="button" class="button btn-delegate btn-lg btn">
            <span>Delegate</span>
          </button>
        </div>
        <div class="col-md-2 space">
          <button type="button" class="button btn-reject">
            <span>Reject</span>
          </button>
        </div>
        <div class="col-md-2 ">

          <button type="button" class="button btn-submit btn-lg ">
            <span>Submit</span>
          </button>
        </div>
        <div class="col-md-2">
          <button type="button" class="button btn-approve btn-lg">
            <span>Approve</span>
          </button>
        </div>

      </div>


    </div>

    <!-- </form> -->
  </div>
</div>