
    <div class="full-width tabContent-box-inner export-right-20">
      <tabset class="tab-block">        
        <tab>
          <ng-template tabHeading>
            <span>Completed</span>
          </ng-template>
         
          <div class="row multiple-search filter-search-block">
            <div class="col-xs-8 col-lg-8">
                <div id="riskListTable_filter" class="dataTables_filter company-search">
                    <label class=""><input type="search" class="" placeholder="Search" aria-controls="riskListTable">
                     <img (click)="FilterBtn()" [ngClass]="{ 'd-none': FilterBtnFlag }" class="search-filer-img" src="../../../../../assets/img/search_filter.svg">
                     <span (click)="FilterBtnClose()" [ngClass]="{ 'd-block': FilterBtnFlag }"  class="colseFileText">Close Filter</span>
                    </label>
                    <div class="search-filter-box" [ngClass]="{ 'd-block': FilterBtnFlag }">
                      <div class="all-filter">
                        <span class="applied-filters">Applied Filters</span>
                        <span class="sortlisted-filters">Bermuda <img class="closeFilter" src="../../../../../assets/img/close-icon.svg"></span>
                        <span class="clear-Filter">Clear Filter</span>
                      </div>
                      <div class="filteroptions">
                        <h3>Country</h3>
                        <div class="multiSearchFilters">
                        <input class="searchFilterOptions" type="text">
                        <ul>
                          <li>
                            <label class="filterCheckbox">Bermuda
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">DRC
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Indonesia
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">South Africa
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">India
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">USA
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                        </ul>
                        </div>
                      </div>
                      <div class="filteroptions">
                        <h3>Firm</h3>
                        <div class="multiSearchFilters">
                        <input class="searchFilterOptions" type="text">
                        <ul>
                          <li>
                            <label class="filterCheckbox">Marin CHE
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Marin COD
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Marin Holding
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Marin IDN
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Marin FFU
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Marin TTF
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                        </ul>
                        </div>
                      </div>
                      <div class="filteroptions">
                        <h3>Department</h3>
                        <div class="multiSearchFilters"> 
                          <input class="searchFilterOptions" type="text">
                        <ul>
                          <li>
                            <label class="filterCheckbox">Audit IDN
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Audit IQ
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Audit CHE
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Audit IDN
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Audit FFU
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                          <li>
                            <label class="filterCheckbox">Audit TTF
                              <input type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                        </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xs-4 col-lg-4 table-icon-list float-right text-right">
              <a href="#" class="tooltip">
                <span class="tooltiptext">Print</span>
                <img src="assets/img/print_button.svg" alt="Print" />
              </a>
              <div class="dropdown export-dropdown">
                <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="tooltiptext">Export</span>
                </a>
                <div class="dropdown-menu export-dropdown-menu"></div>
            </div>
            </div>
          </div>

            <table id="newControlExcution" class="display" style="width: 100%;">
                <thead>
                  <tr>
                    <th></th>
                    <th>
                      <input name="select_all" value="1" id="new-control-testing-select-all" type="checkbox" />
                    </th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Peroid Coverd</th>
                    <th>Date Completed</th>
                    <th>Company</th>
                    <th>Department</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i = index">
                    <td>{{ i + 1 }}</td>
                    <td></td>
                    <td class="reorder-row">
                      <a> Name </a>
                    </td>
                    <td class="reorder-row">
                    
                      <a class="btn risk-btn link">CR-01</a>
              
                    </td>
                    <td class="reorder-row">1 Years</td>
                    <td class="reorder-row">
                      <a class="btn btn-primary risk-btn very-high" >AA-11</a>
                    </td>
                    <td>asd</td>
                    <td>asd</td>
                   
                  </tr>
                </tbody>
              </table>


        </tab>
        <tab>
            <ng-template tabHeading>
              <span>Ongoing</span>
            </ng-template>
            <div class="tabContent-box tabContent-box-inner">
             ongoing
            </div>
          </tab> 
          <tab>
            <ng-template tabHeading>
              <span>Upcomming</span>
            </ng-template>
            <div class="tabContent-box tabContent-box-inner">
             upcomming
            </div>
          </tab> 
      </tabset>
    </div>
  
