.error-text {
    font-size: 12px;
    color: red !important;
    font-weight: 600;
}
.issue-form-padding {
    .form-group {
        padding-bottom: 15px;
        margin-bottom: 0px;
    }
}
.error-position {
    position: absolute;
    bottom: -1px;
}
.left-side{
    float: left;
}
.add-user-button {
    .prepare-left {
        width: 54%;
    }
    .prepare-right {
        width: 45%;
        input {
            padding: 4px;
            height: 20px;
            font-size: 11px;
            width: 62px;
            margin: 0;
            border-color: #644c9f;
            color: #644C9F;
        }
    }
} 
.no-cursor {
    input {
        pointer-events: none;
    }
}
.onoffswitch-label {
    border-color: #e0e0e0;
}
.onoffswitch-checkbox:checked+.onoffswitch-label  {
    border-color: #98aa3a;
}

.tab-block {
    .nav {
        li {
            &:first-child {
                text-align: center;
            }
        }
    }
}