.assignees {
    margin: 0px 0 0;
    padding: 0;

    p {
      margin: 0;
      padding: 0;
      line-height: 30px;
    }

    ul {
      width: auto;
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0 -2px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
          border: 1px solid #ddd;
        }
      }
    }

    button {
      float: left;
      outline: none;
      border: none;
      background: none;
      padding: 0;
      margin: 0 5px;

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        float: left;
      }
    }
}

.interview-text {
background: #fff;
padding: 10px 5px;
border: 1px solid #cbcbcb;
border-radius: 3px;
margin-top: 20px;
position: relative;

.form-group {
  label {
    position: absolute;
    background-color: #fff;
    top: -10px;
    left: 5px;
    display: block;
    width: auto;
    padding: 3px 10px;
    margin: 0;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
  font-size: 8px;
  font-weight: 800;
  color: #6d6d6d;
}
th {
  text-align: left;
  padding: 8px;
  font-size: 8px;
  font-weight: 600;
  color: #6d6d6d;    
}
}
@media (max-width:767px) {
.out-scope .xs-out-scope {
  margin-bottom: 20px;
}
}
