<div
  class="pop-up-form"
  id="opening-meeting-popup"
  ngDraggable
  [position]="position"
>
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Opening Meeting:</span>{{ auditName }}
      </h4>
    </div>
    <div class="r-number">
      <p class="text-design">{{ aomId }}</p>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="openMeetUpForm">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="period_in_scope"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="performance_period"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Opening Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="opening_meeting"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Closing Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="closing_meeting"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row dvsn-section">
                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Audit Scope</label>
                            <textarea
                              formControlName="aom_scope"
                              style="
                                min-height: 250px;
                                height: 100%;
                                border: 0;
                              "
                              contenteditable="true"
                            >
The audit will focus on:
Obtain an understanding of the P2P process (i.e. sourcing strategy, procurement, supplier evaluation and monitoring, payment process).
Assess the effectiveness and efficiency of the end-to-end P2P process and review the compliancewith existing policies and procedures, including
Tender process;
Supplier evaluation, selection and approval;
Supplier due diligence;
Etc.
Review of the supplier master data maintenance.
Review of functional segregation of duties for the P2P process.
Assess ICS regarding the completeness, appropriate design, and effectiveness of the existing P2P controls in place.
Review of contract management process.
Review of exemptions to the P2P process.
Identify control gaps within the P2P process and define remediation plan for identified issues
</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="xs-out-scope out-scope-text clearfix">
                            <div class="form-group">
                              <label>Agenda</label>
                              <textarea
                                formControlName="aom_agenda"
                                class="border-0 p-3"
                                contenteditable="true"
                              >
Please find the below agenda:
Audit Scope
Interview Plan
Q&amp;A</textarea
                              >
                            </div>
                          </div>
                        </div>

                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Q&amp;A</label>
                              <textarea
                                formControlName="aom_qa"
                                class="border-0 p-3"
                                contenteditable="true"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="full-width">
                    <div class="assignees">
                      <p>Audit Team</p>
                      <div class="a-team">
                        <ul class="teamListUl" *ngIf="auditTeam">
                          <li *ngFor="let at of auditTeam">
                            <div class="listPeopleName">{{at  | titlecase}}</div>
                            <img src="../../../../../assets/img/profile-dummy.png">
                          </li>
                        </ul>
                        <label *ngIf="!auditTeam">No team assigned</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="full-width col-sm p-0">
                <div class="interview-text clearfix">
                  <div class="form-group">
                    <label>Interview Schedule</label>
                    <table>
                      <tr>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Subject/Topic</th>
                        <th>Location</th>
                        <th>Present from Auditee</th>
                        <th>Present from Auditor</th>
                        <th>Comment</th>
                      </tr>
                      <tr>


                      </tr>

                      <tr>
                        <td></td>
                        <td>9:00</td>
                        <td>Arrival for opening meeting</td>
                       
                      </tr>
                      <tr>
                        <td></td>
                        <td>9:30 - 10:00</td>
                        <td>Kick - off meeting</td>
                        
                      </tr>
                      <tr>
                        <td></td>
                        <td>11:00 - 12:00</td>
                        <td>Presentation of Ingeus AG</td>
                      </tr>
                      <tr>
                        <td>23.01.2018</td>
                        <td>13:30 - 14:30</td>
                        <td>Revenue and compliance</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>16:00 - 17:00</td>
                        <td>Suppliers and payables</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>15:00 - 16:00</td>
                        <td>Payroll</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9:30 - 10:30</td>
                        <td>Financial Close</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>11:00 - 12:00</td>
                        <td>Ethical Compliance</td>
                      </tr>
                      <tr>
                        <td>24.01.2018</td>
                        <td>13:30 - 14:30</td>
                        <td>Contract Management</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div> -->
              </div>

              <div class="full-width button-container">
                <button class="big-button" (click)="onSave()">Save</button>
                <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button
                  class="big-button yellow-btn right-side"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Interview Schedule</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <table
                    id="interveiwSchduleTable"
                    class="display fullDataTable"
                    style="width: 100%;"
                  >
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Subject/Topic</th>
                        <th>Location</th>
                        <th>Present from Auditee</th>
                        <th>Comment</th>
                        <th class="text-center action-block">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of interviewList; let i = index">
                        <td>{{ a.day | date: "dd/MM/yyyy" }}</td>
                        <td>{{ a.time }}</td>
                        <td>{{ a.subject }}</td>
                        <td>{{ a.location }}</td>
                        <td>{{ a.pfa }}</td>
                        <td>{{ a.comment }}</td>
                        <td align="center">
                          <div
                            class="dropdown show action-dropdown position-relative"
                          >
                            <a
                              class="btn dropdown-toggle"
                              data-boundary="dd"
                              role="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <span class="dot"></span>
                              <span class="dot"></span>
                              <span class="dot"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-text">
                              <ul>
                                <li>
                                  <a class="edit-btn">
                                    <img
                                      src="assets/img/edit_button.svg"
                                      alt="Edit"
                                    />
                                    <span>Edit</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="delete-btn">
                                    <img
                                      src="assets/img/delete_button.svg"
                                      alt="Delete"
                                    />
                                    <span>Delete</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="duplicate-btn">
                                    <img
                                      src="assets/img/duplicate-form.svg"
                                      alt="Duplicate"
                                    />
                                    <span>Duplicate</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                             
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
