.radioSelect .checkbox-container {
    width: 21%;
}

.radioSelect .form-container-box {
    width: 57%;
}


.switch {
  float: left;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  border: none;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
width: 14px;
left: 4px;
bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #98aa3a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #98aa3a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleOpts {
  margin: 0;
  padding: 0;
  float: left;
  width: auto;
  color: #8c8c8c;
  font-size: 11px;
font-weight: 400;
}

.toggleBox {
  margin-top: 8px;

  .form-group {
    width: 30%;
float: right;

    .custom-radio{
      font-size: 11px;
font-weight: 400;
padding-left: 22px;
margin-bottom: 0;
margin-left: 15px;

.checkmark {
  height: 16px;
width: 16px;

&:after {
  top: 3px;
left: 3px;
width: 8px;
height: 8px;
border-radius: 50%;
background: #959595
}
}
    }
  }


}