<div class="search-popup-open" (click)="toggleSearch()" [ngClass]="status ? 'close' : 'open'">
  <span class="plus-icon"></span>
</div>

<div class="new-chat-popup-maincontainer">

  <div *ngIf="fileCountFlag;else other_content" style="display: none;">

  </div>

  <ng-template #other_content>
    <!-- <h3>No documents in this room</h3> -->
  </ng-template>


  <div class="new-current-userlist">
    <div class="form-group search-intray-file">
      <input type="search" name="search" [(ngModel)]="searchData" (keyup)="onSearchKeyPress()"
        [disabled]="disableSearch" placeholder="Start typing the filename to search for files" class="form-control" />
    </div>
    <ul class="mainListcontainer">
      <!-- <li *ngFor="let filename of files">
        <div class="new-doc-ico" (click)="NewChatRoomBtn(filename)">
          <img src="../../../../../../assets/img/pdf-ico.svg" />
          <p>{{filename.name}} {{filename.isOpen ? '(opened)' : ''}}</p>
        </div>
        <div class="new-icon-delete" *ngIf="!(filename.isOpen)" (click)=deleteFile(filename)>
          <a>
            <img src="../../../../../assets/img/delete-bin.svg" />
          </a> 
        </div>
      </li> 
      <li>
         <div class="new-doc-ico">
          <img src="../../../../../../assets/img/pdf-ico.svg" />
          <p>Message Template v2.pdf <span class="lock-icon"></span></p>
        </div>
        <div class="save-delete-btn">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text dropdown-menu-right">
              <ul>
                <li>
                  <a class="edit-btn" (click)="openSaveAsWP()">
                    <span>Save As Workpapper</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn">
                    <span>Delete document</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn">
                    <span> Rename document</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn">
                    <span>Download document</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="new-doc-ico">
          <img src="../../../../../../assets/img/pdf-ico.svg" />
          <p>Audit Announcement Message Template v2.pdf <span class="global-btn">Global</span></p>
        </div>
        <div class="save-delete-btn">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text dropdown-menu-right">
              <ul>
                <li>
                  <a class="edit-btn" (click)="openSaveAsWP({name : 'download.pdf', wpNumber : 'WP-2123'})">
                    <span>Save As Workpapper</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn">
                    <span>Delete the document</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn" (click)="renameDocument({name : 'download.pdf', wpNumber : 'WP-2123'})">
                    <span> Rename document</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn" href="{{f.downldUrl}}">
                    <span>Download document</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li> -->
      <li *ngFor="let f of intrayFilteredList">
        <div *ngIf="((f.isAuditee != true && f.workPaperNumber != '') || (f.isAuditee != true && f.workPaperNumber == '') || (f.isAuditee == true && f.workPaperNumber == '') )">
        <div class="new-doc-ico" *ngIf="f.format === 'pdf'">
          <img src="../../../../../../assets/img/pdf-ico.svg" alt="pdf_icon" />
          <p>
            <a class="hover-file auditee-title-text tooltip">
              <span class="title-text">{{f.fileName}}</span>
              <span class="tooltiptext" *ngIf="f.fileName?.length > 26">{{f.fileName}}</span>
            </a>
            <span *ngIf="f.checkoutStatus === '2' && f.checkOutBy != currentUser" class="lock-icon"><img src="../../../../../../assets/img/lock.svg" alt="Lock" /></span></p>
        </div>
        <div class="new-doc-ico" *ngIf="f.format === 'docx' || f.format === 'PPTX'">
          <img src="../../../../../../assets/img/word.svg" alt="word_icon"/>
          <p>
            <a class="hover-file auditee-title-text tooltip">
              <span class="title-text">{{f.fileName}}</span>
              <span class="tooltiptext" *ngIf="f.fileName?.length > 26">{{f.fileName}}</span>
            </a>
            <span *ngIf="f.checkoutStatus === '2' && f.checkOutBy != currentUser" class="lock-icon"><img src="../../../../../../assets/img/lock.svg" alt="Lock" /></span></p>
        </div>
        <div class="new-doc-ico" *ngIf="f.format === 'png' || f.format === 'jpg' || f.format === 'jpeg'">
          <img src="../../../../../../assets/img/image.svg" alt="image_icon"/>
          <p>
            <a class="hover-file auditee-title-text tooltip">
              <span class="title-text">{{f.fileName}}</span>
              <span class="tooltiptext" *ngIf="f.fileName?.length > 26">{{f.fileName}}</span>
            </a>
            <span *ngIf="f.checkoutStatus === '2' && f.checkOutBy != currentUser" class="lock-icon"><img src="../../../../../../assets/img/lock.svg" alt="Lock" /></span></p>
        </div>
          <div class="new-doc-ico" *ngIf="f.format == 'xlsx'">
          <img src="../../../../../../assets/img/excel.svg" alt="excel_icon"/>
          <p>
            <a class="hover-file auditee-title-text tooltip">
              <span class="title-text">{{f.fileName}}</span>
              <span class="tooltiptext" *ngIf="f.fileName?.length > 26">{{f.fileName}}</span>
            </a> 
            <span *ngIf="f.checkoutStatus === '2' && f.checkOutBy != currentUser" class="lock-icon"><img src="../../../../../../assets/img/lock.svg" alt="Lock" /></span></p>
        </div>
        <div class="save-delete-btn">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text dropdown-menu-right">
              <ul >
                <li *ngIf="router.url.split('?')[0] != '/auditee-chatroom'">
                  <a class="edit-btn" (click)="openSaveAsWP(f)">
                    <span>{{f.workPaperNumber ? 'Edit Workpaper' : 'Save As Workpaper'}}</span>
                  </a>
                </li>
                <li *ngIf="router.url.split('?')[0] != '/auditee-chatroom' && (f.workPaperNumber == '' || f.workPaperNumber == 'undefined')">
                  <a class="delete-btn" (click)="deleteFile(f)">
                    <span>Delete document</span>
                  </a>
                </li>
                <li *ngIf="router.url.split('?')[0] != '/auditee-chatroom' && ( f.workPaperNumber == '' || f.workPaperNumber == 'undefined')">
                  <a class="delete-btn" (click)="renameDocument(f)">
                    <span> Rename document</span>
                  </a>
                </li>
                <li *ngIf="(f.workPaperNumber == '' || f.workPaperNumber == 'undefined')">
                  <a class="delete-btn" href="{{f.downldUrl}}" *ngIf="f.format !='jpeg'&&f.format !='jpg' && f.format !='png'">
                    <span>Download document</span>
                  </a>
                  <a class="delete-btn" *ngIf="f.format =='jpeg'||f.format =='jpg' || f.format =='png'" (click)="downloadFile(f.downldUrl , f.fileName)" >
                    <span>Download document</span>
                  </a>
                  
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        
      </li>
      <!-- <li>
        <div class="new-doc-ico" *ngIf="dropdownFirmList.length === 0">
          
          <p>No Records Found :(</p>
        </div>
      </li> -->
    </ul>
  </div>

  <div class="save-as-work-paper" *ngIf="saveasWorkPaper">
    <h6>Save the document as work paper</h6>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="WP101_enter the new document name" />
      <button type="submit" class="btn btn-ok" (click)="closeSaveAsWP()">OK</button>
    </div>
  </div>

  <div class="intray-search" *ngIf="searchshow">
    <div class="for-auditor-search">
      <div class="dataTables_filter form-group" *ngIf="searchForAuditor">
        <label>
          <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
            [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
        </label>
      </div>
      <div class="search-filter-box">

        <tabset class="tab-block filteroptions" #staticTabs *ngIf="searchForAuditor">
          <tab>
            <ng-template tabHeading>
              <h3>All Results</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>PBC</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>DMS</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
        </tabset>



        <!-- <div class="filteroptions">
          <h3>PBC</h3>
          <div class="multiSearchFilters">
            <ng-multiselect-dropdown
            [placeholder]="''" [data]="dropdownList"
              [(ngModel)]="selectedItems"
              [settings]="dropdownSettings"
            >
            </ng-multiselect-dropdown>
          </div>
        </div> 
        <div class="filteroptions">
          <h3>DMS</h3>
          <div class="multiSearchFilters">
            <ng-multiselect-dropdown [placeholder]="''" 
            [data]="dropdownFirmList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
          >
          </ng-multiselect-dropdown>
          </div>
        </div> -->

        <div class="upload-submit text-center" *ngIf="searchForAuditor">
          <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
        </div>
        <div class="filteroptions upload-load-file-block">
          <h3>Upload from Local machine</h3>
          <div class="button-style">
            <label for="myFile">Browse and Upload</label>
            
          <input type="file" id="myFile" class="custom-file-input" (change)="onFilechanged($event)" accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.tif,.mp,.mpeg,.pdf,.zip,.gif,.png,.mpeg4,.mp4,.mkv,.txt">
        </div>
        </div>
      </div>
    </div>
    <div class="for-auditor-search" style="display: none;">
      <div class="search-filter-box">
        <div class="filteroptions">
          <h3>Upload file from Local machine</h3>
          
            <input type="file" class="custom-file-input">
         
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="full-width add-room-container nobt file-upload relative drag-bottom">
    <div class="inputcontainer ">
      <input type="text" class="form-control" placeholder="Upload Documents" />
    </div>
    <div class="plus-icon">
      <button class="btn plus-btn">
        <img src="../../../../../assets/img/add-icon-plus.svg" />
      </button>
    </div>
    <input type="file" (change)="onFilechanged($event)" class="form-control-clickin"
      placeholder="Upload file with extensions-docx,pdf,png,jpg,xlsx" />
  </div> -->


  <div class="save-as-work-paper rename-doc-block" *ngIf="renameDoc">
    <h6>Rename the document</h6>
    <div class="form-group">
      <label>Rename</label>
      
      <input class="form-control file-name-txt" [(ngModel)]="renameFileName" type="text" (keypress)="omit_special_char($event)" />
      <input class="form-control file-ext" [(ngModel)]="renameFileExtension" type="text" readonly/>
    </div>
    <div class="form-group">
      <label>Comment</label>
      <textarea class="form-control" type="text" placeholder="Enter your comment" [(ngModel)]="comments"></textarea>
    </div>
    <div class="form-group text-center mt-3">
      <button type="submit" class="btn btn-cancel" (click)="closeRenameDoc()">Cancel</button>
      <button type="submit" class="btn btn-ok" (click)="upadateFileName()">OK</button>
    </div>
   
  </div>

</div>

<div class="pdf-annotation-block" *ngIf="previewMode">
  <!-- Loader Starts -->
  <div [class.hidden]="!show">
    <div *ngIf="show" class="form-overlay">
      <div class="lds-dual-ring"></div>
    </div>
  </div>
  <!-- Loader ends-->

  <app-pdf-annotation *ngIf="previewMode" [auditName]="auditName" [documentNo]="documentNo" [path]="fullPath" [filename]="title"  [wpNumber]="workPaperNumber" [auditId]="auditId" [roomName]="roomName" [checkInBy]="checkInBy" [userType]="userType"(close)="onClose($event)">
  </app-pdf-annotation>
</div>

<div class="new-vedio-chat new-docRoom" [ngClass]="{ 'd-block': NewChatRoomValidateFlag }">
  <div class="new-pop-top-bar">
    <img src="../../../../../assets/img/new-white-video_call_2.svg" alt="video_icon">
    <p>Video Chat</p>
    <span (click)="NewCloseDocRoom()"><img src="../../../../../assets/img/close-icon.svg" alt="close_icon"></span>
  </div>
  <!-- <app-pdf-annotation *ngIf="previewMode" [_auditName]="auditName" [documentNo]="documentNo" [path]="fullPath" [filename]="title"  [wpNumber]="workPaperNumber" [_auditId]="auditId"(close)="onClose($event)">
  </app-pdf-annotation> -->
</div>