.form-control-clickin{
    position: absolute;
    width: 92%;
    height: 30px;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 10;
    margin: 0 auto;
    right: 0;
    cursor: pointer;
}

.add-room-container{
    padding: 10px;
    padding-top: 0px;
    &.nobt{
        padding-bottom: 0px;
    }
    .inputcontainer{
        width: calc(100% - 55px);
        float: left;
        .form-control{
            margin-top: 0px;
            border-radius: 0px;
            height: 30px;
            padding: 0px 8px;
            border: 1px dashed #707070;
            background-color:  rgba(255, 255, 255, .6);
        }
    }
    .plus-icon{
        width: 25px;
        float: left;
        border-left: 1px solid transparent;
        .plus-btn{
            width: 24px;
            height: 30px;
            background-color: #664da0;
            color: #ffffff;
            padding: 0px;
            text-align: center;
            border-radius: 0px;
        }
    }
    &.file-upload {
        input {
            &::-webkit-file-upload-button {
                visibility: hidden;
              }
              &::before {
                content: 'Documents in the room';
                display: inline-block;
                padding: 3px 0;
                outline: 0;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                width: 100%;
                background: #f8f8f8;
                color: #495057;
              }  
        }
        
    }

    &.intray-sec{
        max-height: 110px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}


.drag-bottom {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.new-chat-popup-maincontainer .new-current-userlist ul.mainListcontainer{
    height: 376px;
}
.hover-file {
    .title-text {
        max-width: 203px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
        color: #644c9f;
    }
    &.tooltip {
        .tooltiptext {
            transform: none;
            top: 23px;
            left: 0;
            width: 100% !important;
            background: #664da0!important;
            color: #fff!important;
            font-size: 12px;
            font-weight: 600;
            padding-left:8px;
            padding-right: 8px;
            &:after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent #664da0;
            }    
        }
        &:hover {
            .tooltiptext {
                visibility: visible;
            }
        }
    }
}

.new-chat-popup-maincontainer .new-current-userlist ul li .new-doc-ico p{
    width: calc(~"100% - 30px");
}