.auditUniverse {
  float: left;
  width: 600px;
  height: 600px;
  margin-left: -10;
  max-width: 100%;

  h5 {
    font-size: 20px;
    color:#5a4296 ;
    font-weight: 600;
  }

}

@media (max-width:767px) {
  .Omniverse-container {
    display: flex !important;
    width: 100% !important;
  }
  // .auditUniverse {
  //   float: left;
  //   display: flex !important;
  //   width: 100% !important;
  //   height: auto;
  // }
}