

.year-button.very-low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.year-button.very-high {
  background-color: #de6441;
  border: 1px solid #de6441;
}
@-moz-document url-prefix() { 
    .range-control {
      overflow: hidden;
      width: 81px;
      height: 7px;
      -webkit-appearance: none;
      background-color: #dcdcdc;
      border-radius: 3.5px;
      border: 1px solid #c9c9c9;
      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        height: 12px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
      }
      &::-webkit-slider-thumb {
        width: 3px;
        -webkit-appearance: none;
        height: 12px;
        cursor: pointer;
        background: #434343;
        box-shadow: -80px 0 0 80px #dd6838 !important;
      }
      &.very-high::-webkit-slider-thumb {
        box-shadow: -80px 0 0 80px #dd6838 !important;
      }
      &.medium::-webkit-slider-thumb {
        box-shadow: -80px 0 0 80px #98aa3a !important;
      }
      &.very-low::-webkit-slider-thumb {
        box-shadow: -80px 0 0 80px #ffcc00 !important;
      }
    }
  }