<div class="table-header table-xs-header">
  <div class="row">
    <div class="col-xs-12 col-lg-4 control-risk-switch">

    </div>

   <div class="col-xs-12 col-lg-8 icon-list text-right">
     <div class="full-width">
      <a (click)="addNewActionForm()" class="tooltip">
        <span class="tooltiptext doble-word">Add Action</span>

        <img src="assets/img/add_button.svg" alt="Add">
      </a>
      <a (click)="popupAction()" class="tooltip">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print">
      </a>
      <div class="dropdown export-dropdown">
        <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="tooltiptext">Export</span>
          <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
        </a>
        <div class="dropdown-menu export-dropdown-menu controllist-export-RCM"></div>
      </div>
    </div>
  </div>
  </div>
</div>


<table id="actionListCM" class="display fullDataTable table-md-responsive" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>
          <input type="checkbox" name="select_all" value="1" id="cmactionList-select-all">
      </th>
      <th>Area</th>
      <th>Action ID</th>
      <th>Action Name</th>
      <th>Action Description</th>
      <th>Executed BY</th>
      <th>Date Executed</th>
      <th> Approved</th>
      <th>Date Approved</th>

      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let action of actionTableList;let i = index">
      <td>{{i + 1}}</td>
      <td></td>
      <td class="reorder-row">{{action.area}}</td>
      <td class="reorder-row">
        <a (click)="loadMyChildComponent(action.actionId)"  class="btn risk-btn link">{{action.actionId}}</a>
        </td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': action.actionName.length > 44 }">
          <span class="read-more-text">{{action.actionName}}</span>
          <span class="tooltiptext">{{action.actionName}}</span>
        </div>
      </td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': action.actionDescription.length > 68 }">
          <span class="read-more-text">{{action.actionDescription}}</span>
          <span class="tooltiptext">{{action.actionDescription}}</span>
        </div>
      </td>
      <td class="reorder-row">{{action.executedBy}}</td>  
    
      <td class="reorder-row">{{action.newModifiedDate}}</td> 
        <td class="reorder-row">{{action.approvedBy}}</td>
      <td class="reorder-row">{{action.lastModifiedDate}}</td>   
      <!-- <td align="center">
        <div class="dropdown show action-dropdown position-relative ">
            <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                    <a  class="edit-btn">
                        <img src="assets/img/edit_button.svg" alt="Edit">
                        <span>Edit</span>
                    </a>
                </li>
                <li>
                    <a  class="delete-btn">
                        <img src="assets/img/delete_button.svg" alt="Delete">
                        <span>Delete</span>
                   </a>
                </li>
            </ul>
            </div>
          </div>
       </td> -->
       <td align="center">
        <div class="dropdown show action-dropdown position-relative ">
            <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                    <a (click)="loadMyChildComponent(action.actionId)" class="edit-btn">
                        <img src="assets/img/edit_button.svg" alt="Edit">
                        <span>Edit</span>
                    </a>
                </li>
                <li>
                    <a  class="delete-btn">
                        <img src="assets/img/delete_button.svg" alt="Delete">
                        <span>Delete</span>
                   </a>
                </li>
            </ul>
            </div>
          </div>
       </td>
      </tr>
  </tbody>
</table>


<app-add-new-action *ngIf="addNewActionFormComponent" (closedAddActionForm)="getStatusOfAddNewActionForm($event)" ></app-add-new-action>
<!-- <app-add-new-action *ngIf="addNewActionFormComponent" (closedAddNewActionForm)="getStatusOfAddNewActionForm($event)"></app-add-new-action> -->
<app-issue-definition-form [actionData]="selectedactionkId" *ngIf="loadComponent" (closedAddDefinationActionForm)="getAddressOfAddNewActionForm($event)"></app-issue-definition-form>
<app-print-popup-cm *ngIf="printAction"></app-print-popup-cm>