<div class="full-width breadcrumbs">
  <ul>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>Engagement Planning</a>
    </li>
  </ul>
</div>

<div class="full-width bg-white">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <app-field-rcm-view></app-field-rcm-view>
    </div>
  </div>
</div>
<div class="full-width bg-white main-content">
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-sm">
        <div class="full-width">
          <app-fields-panes></app-fields-panes>
        </div>
      </div>

    </div>
  </div>

</div>
