@media (max-width:767px) {
  .col-sm-9 select.form-control.search-select {
    width: 100%;
    max-width: 100%;
  }
}

.userImgTb{
padding-left: 0px;
width: 100%;
float: left;
}

.user-icon {
  float: left;
  .user-text {
    float: left;

      .close-icon {
        cursor: pointer;
          img {
            width: 17px;
            height: 17px;
            border: 1px solid #fff;
            float: none;
            margin: -1px 0px 0px 3px;
            padding: 2px;
          }
        }
  }
}

.imgTb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.leftside{
  float: left;
  position: relative;
}
.morePeople{
  float: left;
  position: relative;
  border-radius: 50%;
  .countpeople{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #14304e;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .userImgTb {
    &.assignee-block {
      .user-icon {
        .dropdown-menu {
          left:-45%;
        }
      }
    }
    .dropdown, .user-icon {
      list-style: none;
      margin: 0px;
      padding: 0px;
      a {
        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        min-width: 1px;
        width: 60px;
      background-color: #664da0;
      box-shadow: 0 1px 6px rgba(0,0,0,0.16);
      color: #fff;
      text-align: center;
      font-size: 12px;
      border-radius: 6px;
      padding: 5px 0;
      left: -25%;
      margin-top: 4px;
    //   &::after {
    //     content: "";
    // position: absolute;
    // top: -7px;
    // left: 45%;
    // transform: translateX(-50%);
    // border-width: 0 7px 7px 7px;
    // border-style: solid;
    // border-color:transparent transparent #664da0 transparent;
    //   }
      li {
        float: none;
        text-align: center;
        display: inline-block;
        width: 100%;
      }
  
      }
      // &:hover>.dropdown-menu {
      //   display: block;
      // }
    }
    // .morePeople {
      
    //     &:hover>.dropdown-menu {
    //       display: block;
    //     }
      
    // }
   
  }
 
}