<div class="row multiple-search">
  <div class="col-sm-12 col-md-12 col-lg-10 table-select-search">
      <div class="full-width">
    <label>Control Selection</label>
    
    <select class="form-control search-select">
      <option>Country</option>
      <option>Country 1</option>
      <option>Country 2</option>
      <option>Country 3</option>
      <option>Country 4</option>
    </select>


    <select class="form-control search-select">
      <option>City</option>
      <option>Africa</option>
      <option>N.T</option>
      <option>Spain</option>
      <option>UK</option>
      <option>USA</option>
    </select>

    <select class="form-control search-select">
      <option>Company</option>
      <option>Africa</option>
      <option>N.T</option>
      <option>Spain</option>
      <option>UK</option>
      <option>USA</option>
    </select>

    <select class="form-control search-select">
      <option>Business Unit</option>
      <option>N.T</option>
      <option>Spain</option>
      <option>UK</option>
      <option>USA</option>
    </select>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-2 table-icon-list float-right text-right">
<div class="full-width">
    <a class="tooltip">
      <img src="assets/img/print_button.svg" alt="Print" />
      <span class="tooltiptext">Print</span>
    </a>
    <div class="dropdown export-dropdown">
      <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tooltiptext">Export</span>
        <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
      </a>
      <div class="dropdown-menu export-dropdown-menu controlworkFlow-export-RCM"></div>
    </div>
    <div class="filter-dropdown-column">
        <a class="tooltip m-0">
          <span class="tooltiptext">Customize Table</span>
          <img
            src="assets/img/settings.svg"
            alt="Customize Table" (click)="SettingControlWorkFlow($event)"
            class="click-icon"
          />
        </a>
        <div class="dropdown-menu-column" id="dropDown">
          <a
            class="dropdown-item-column"
            [attr.data-column]="i"
            *ngFor="let controlFlowlist of showHideHeadersControlWF; index as i"
            style="margin-left:0px; cursor: pointer;"
          >
            <label>
              <input
                class="checkbox"
                type="checkbox"
                value="{{ controlFlowlist }}"
                checked
              /><span class="filter-text">{{ controlFlowlist }}</span>
            </label>
          </a>
        </div>
      </div>
  </div>
</div>
</div>

<table id="controlWorkFlowRCM" class="display fullDataTable table-md-responsive" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>
        <input type="checkbox" name="select_all" value="1" id="rcmControlWF-select-all">
       
      </th>
      <!-- <th>Area</th> -->
      <th>Ctl ID</th>
      <th>Control Name</th>
      <th>Control Desc</th>
      <th>Work Flow ID</th>
      <th>Work Flow Name</th>
      <th>Frequency</th>
      <th>Scope Period</th>
      <th>Assignee</th>
      <th>Approver</th>
      <th class="text-center action-block">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let control of controlList; let i = index">

      <td>{{ i + 1 }}</td>
      <td></td>
      <!-- <td class="reorder-row">Credit Risks</td> -->
   
      <td class="reorder-row">
        <a class="btn risk-btn link" (click)="loadMyCityId(control.controlId)">{{ control?.controlId }}</a>
      </td>
      <td class="reorder-row">{{ control?.controlName }}</td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': control?.controlDescription.length > 24 }">
          <span class="read-more-text"> {{ control?.controlDescription }}</span>
          <span class="tooltiptext wd-150">{{ control?.controlDescription }}</span>
        </div>
        
      </td>
      
      <td class="reorder-row">
        <a class="btn btn-primary risk-btn medium" style="width: 70px;"
        (click)="controlWF(control.controlWFId)"
             *ngIf="control.controlWFId">{{control.controlWFId}}</a>

                <a class="btn btn-primary risk-btn medium" style="width: 70px;"
                (click)="controlWF(control)"
                     *ngIf="!control.controlWFId">ADD</a>
             </td>
      <td class="reorder-row" *ngIf="control.controlWFId">{{control.workflowName}}</td>
      <td class="reorder-row" *ngIf="!control.controlWFId">-</td>

      <td class="reorder-row" *ngIf="control.controlWFId">{{control.frequency}}</td>

      <td class="reorder-row" *ngIf="!control.controlWFId">-</td>
    
      <td class="reorder-row" *ngIf="control.controlWFId">{{control.period}}</td>

      <td class="reorder-row" *ngIf="!control.controlWFId">-</td>

     
    <td *ngIf="control.controlWFId">      
        <ul *ngIf = 'control.assignee.length>0' class="userImgTb assignee-block">
        <li class="user-icon" *ngFor="let user of control.assignee | slice : 0 : 1,let i=index">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="../../../../../assets/img/profile-dummy.png" class="imgTb">
          </a>
          <ul class="dropdown-menu">
            <li class="user-icon" >
              {{user}}
            </li>
          </ul>
     
        </li>
        <li  *ngIf = 'control.assigneeCount!=0' class="user-icon">
          <div class="morePeople">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="countpeople">
               + {{control.assigneeCount}} 
              </span>
            </a>
            <ul class="dropdown-menu">
              
            <li class="user-icon"  *ngFor="let user of control.assignee | slice : 1,let i=index">
                {{user}}
     
              </li>

            </ul>
        
          </div>
        </li>
      </ul> 
      </td>
  

      <td class="reorder-row" *ngIf="!control.controlWFId">-</td>

      <!-- <td  *ngIf="control.controlWFId">      
        <ul *ngIf = 'control.approver.length>0' class="userImgTb" >
          <li class="dropdown" *ngFor="let user of control.approver | slice : 0 : 1,let i=index">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="../../../../../assets/img/profile-dummy.png" class="imgTb">
            </a>
            <ul class="dropdown-menu">
              <li class="user-icon">
                {{user}}
              </li>
            </ul>
          </li>
          <li  *ngIf = 'control.approverCount!=0' class="user-icon">
            <div class="morePeople">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="countpeople">
                 + {{control.approverCount}} 
                </span>
              </a>
              <ul class="dropdown-menu">
                
              <li class="user-icon"  *ngFor="let user of control.approver | slice : 1,let i=index">
                  {{user}}
       
                </li>
  
              </ul>
          
            </div>
          </li>
      </ul> 
      </td> -->
   
      <td *ngIf="control.controlWFId">      
        <ul *ngIf = 'control.approver.length>0' class="userImgTb approver-block">
        <li class="user-icon" *ngFor="let user of control.approver | slice : 0 : 1,let i=index">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="../../../../../assets/img/profile-dummy.png" class="imgTb">
          </a>
          <ul class="dropdown-menu">
            <li class="user-icon" >
              {{user}}
            </li>
          </ul>
     
        </li>
        <li  *ngIf = 'control.approverCount!=0' class="user-icon">
          <div class="morePeople">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="countpeople">
               + {{control.approverCount}} 
              </span>
            </a>
            <ul class="dropdown-menu">
              
            <li class="user-icon"  *ngFor="let user of control.approver | slice : 1,let i=index">
                {{user}}
     
              </li>

            </ul>
        
          </div>
        </li>
      </ul> 
      </td>
      <td class="reorder-row" *ngIf="!control.controlWFId">-</td>

      <td align="center" class="action-row">
        <div class="dropdown show action-dropdown position-relative ">
          <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </a>

          <div class="dropdown-menu dropdown-menu-text">
            <ul>
              <li>
                <a (click)="controlWF(control.controlWFId)" class="edit-btn">
                  
                  <img src="assets/img/edit_button.svg" alt="Edit" />
                  <span>Edit</span>
                </a>
              </li>
              <li>
                <a class="delete-btn">
                  <img src="assets/img/delete_button.svg" alt="Delete" />
                  <span>Delete</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-wf-control-form *ngIf="formControlFlowRCM"   [controlId]="selectedControlkId"
(closedControlDefForm)="getControlFormStatus($event)"></app-wf-control-form>
<app-control-definition-form
  *ngIf="loadcityId"
  [controlData]="selectedControlId"
  (closedControlDefForm)="getControlFormStatus($event)"
></app-control-definition-form>
<!-- <app-control-execution-popup *ngIf="formControlExecution"></app-control-execution-popup> -->