<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="Close" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4>
        Create Audit:
        <span class="semibold">{{ auditInfo?.audits }}</span>
      </h4>
    </div>

    <div class="toggle-opt">
      <div class="control-risk-switch">
        <span class="left-text">Standard</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider-switch-btn round"></span>
        </label>
        <span class="right-text">Advanced</span>
      </div>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
              alt="Upload"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
              alt="print"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <div class="full-width tab-section-container">
      <div class="full-width">
        <tabset class="tab-block" #copyAuditForm>
          <tab>
            <ng-template tabHeading>
              <span class="tabOne">Copy</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width box-container-audit">
                <ul class="list-audit-new">
                  <li>
                    <div class="heading-list yellow">Planning</div>
                    <div class="full-width">
                      <div class="right">
                        <div class="roundedOne">
                          <input
                            type="checkbox"
                            [(ngModel)]="planningSelected"
                            name="allPlanning"
                            value="m1"
                            (change)="checkUncheckAll()"
                          />
                          <label for="allPlanning"></label>
                        </div>
                        <div class="text-in">All</div>
                      </div>
                    </div>
                    <div
                      class="full-width listing-details"
                      *ngFor="let item of planningchecklist"
                    >
                      <div class="roundedOne">
                        <input
                          type="checkbox"
                          [(ngModel)]="item.isSelected"
                          name="item.value"
                          value="{{ item.id }}"
                          (change)="isAllSelected()"
                        />
                        <label for="item.value"> </label>
                      </div>
                      <div class="text-in">
                        {{ item.value }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="heading-list purple">Fieldwork</div>
                    <div class="full-width">
                      <div class="right">
                        <div class="roundedOne">
                          <input
                            type="checkbox"
                            [(ngModel)]="fieldSelected"
                            name="allFieldwork"
                            value="m1"
                            (change)="checkUncheckAllField()"
                          />
                          <label for="allFieldwork"></label>
                        </div>
                        <div class="text-in">All</div>
                      </div>
                    </div>
                    <div
                      class="full-width listing-details"
                      *ngFor="let item of fieldworkchecklist"
                    >
                      <div class="roundedOne">
                        <input
                          type="checkbox"
                          [(ngModel)]="item.isSelected"
                          name="item.value"
                          value="{{ item.id }}"
                          (change)="isAllSelectedFrom()"
                        />
                        <label for="item.value"> </label>
                      </div>
                      <div class="text-in">
                        {{ item.value }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="heading-list green">Reporting</div>
                    <div class="full-width">
                      <div class="right">
                        <div class="roundedOne">
                          <input
                            type="checkbox"
                            [(ngModel)]="reportSelected"
                            name="allFieldwork"
                            value="m1"
                            (change)="checkUncheckAllReport()"
                          />
                          <label for="allFieldwork"></label>
                        </div>
                        <div class="text-in">All</div>
                      </div>
                    </div>
                    <div
                      class="full-width listing-details"
                      *ngFor="let item of reportCheckList"
                    >
                      <div class="roundedOne">
                        <input
                          type="checkbox"
                          [(ngModel)]="item.isSelected"
                          name="item.value"
                          value="{{ item.id }}"
                          (change)="isAllSelectedReport()"
                        />
                        <label for="item.value"> </label>
                      </div>
                      <div class="text-in">
                        {{ item.value }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="heading-list blue">Follow up</div>
                    <div class="full-width">
                      <div class="right">
                        <div class="roundedOne">
                          <input
                            type="checkbox"
                            value="None"
                            id="allThree"
                            name="check"
                          />
                          <label for="allThree"></label>
                        </div>
                        <div class="text-in">All</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="full-width button-container">
              <button class="big-button" (click)="onSave()">Save</button>
              <button class="big-button purple-btn">Delegate</button>
              <button class="big-button orange-btn">Reject</button>
              <button class="big-button green-btn right-side">Approve</button>
              <button class="big-button yellow-btn right-side">Submit</button>
            </div>
          </tab>

          <tab>
            <ng-template tabHeading>
              <span>Overview</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="row">
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Information</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Company Name</label>
                        <select class="form-control">
                          <option>Select Company Name</option>
                          <option>Company Name one</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Location</label>
                        <select class="form-control">
                          <option>Select Location</option>
                          <option>Location one</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>B.U. Name</label>
                        <select class="form-control">
                          <option>Select B.U. Name</option>
                          <option>B.U. Name one</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Business Process Name</label>
                        <select class="form-control">
                          <option>Select Business Process Name</option>
                          <option>Business Process Name one</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Dates</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Identified On</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            placement="top"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Submitted On</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            placement="top"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Last Change</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            placement="top"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Approved On</label>
                        <div class="full-width relative">
                          <input
                            type="text"
                            placeholder="Select Date"
                            class="form-control calendar-icon"
                            bsDatepicker
                            placement="top"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>People</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Owner</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Owner ID</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Submitter</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Submitter ID</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>

                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Approved by</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Audit Approver ID</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
