<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Audit Announcement :</span>{{ auditName }}
      </h4>
    </div>

    <div class="r-number">
      <p class="text-design">{{ aaId }}</p>
    </div>

    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
          /></a>

          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="auditAnnouncementForm">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Opening Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              class="form-control calendar-icon"
                              formControlName="opening_meeting"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="period_in_scope"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="performance_period"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row dvsn-section">
                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Text</label>
                            <textarea
                              formControlName="aa_text"
                              style="
                                border: 0;
                                line-height: initial;
                                min-height: 70px;
                                height: 100%;
                              "
                              contenteditable="true"
                            >
Dear colleagues, As already mentioned, I invite you to participate in the kick-off meeting of the planned internal audit on the xyz. This audit is an important part of the continuous efforts to improve our organization. The objective of this meeting is to provide you with further information (please also see attached Planning Memorandum), and clarify your open questions. Please feel free to designate key persons of your team, if required.</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row agenda-section dvsn-section">
                      <div class="xs-audit-scope audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Agenda</label>
                            <textarea
                              formControlName="aa_agenda"
                              style="
                                border: 0;
                                line-height: initial;
                                min-height: 125px;
                                height: 100%;
                              "
                              contenteditable="true"
                            >
Please find below, the agenda:
                                Audit Scope
                                Relevant Audit Tasks
                                Audit Process
                                Interview Plan
                                Next Steps
                           Q&amp;A</textarea
                            >
                          </div>
                        </div>
                      </div>

                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Text 2</label>
                            <textarea
                              formControlName="aa_text2"
                              style="
                                border: 0;
                                line-height: initial;
                                min-height: 125px;
                                height: 100%;
                              "
                              contenteditable="true"
                            >
Further, may I ask you to support us with following documents/preparation (please see also attached pdf) required for start of the audit fieldwork until 15 October 2020, eob:</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Closing</label>
                              <textarea
                                formControlName="aa_closing"
                                style="min-height: 70px; height: 100%;"
                                class="border-0 p-3"
                                contenteditable="true"
                              >
In the meantime, if you have any questions about this audit, please do not hesitate to contact me.
                              
Best regards</textarea
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="secound">
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="attachedFiles?.length > 0"
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />

                            <!-- <input type="checkbox" [disabled]="isAttachment" (change)="switchProperty($event)" name="addcontrolbutton" class="onoffswitch-checkbox attch" id="addcontro" checked > -->
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                    <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />

                      <label>{{ item.relativePath }}</label>

                      <!-- <div class="user-text">
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div> -->

                      <!-- <div class="user-text">
                        <span class="close-icon">Remove
                          <img  (click)= "removeAttachment(item,i)" src="../../../../../assets/img/close-form.svg"></span>
                        </div> -->
                    </div>

                    <div class="add-file">
                      <ngx-file-drop
                        dropZoneLabel="Drop files here"
                        (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)"
                        (onFileLeave)="fileLeave($event)"
                      >
                        <ng-template
                          ngx-file-drop-content-tmp
                          let-openFileSelector="openFileSelector"
                        >
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()"
                              alt=""
                              width="20px"
                            />Add New</label
                          >
                        </ng-template>
                      </ngx-file-drop>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" (click)="onSave()">Save</button>
                <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button
                  class="big-button yellow-btn right-side"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
