<div class="chat-container">
   <div class="full-width">
       <div class="chat-container-box">
           <div class="chat-inside">
                <div class="chat-options">
                    <p>Video Chat</p>
                    <div class="img-full">
                        <img alt="full_screen" src="../../../assets/img/full_screen.svg">
                    </div>
                </div>
                <img alt="video_chat" src="../../../assets/img/video-chat.png" class="img-resp">
           </div>
       </div>
       <div class="chat-container-box">
            <div class="chat-inside">
                 <div class="chat-options">
                     <p>Whiteboard</p>
                     <div class="img-full">
                         <img alt="full_screen" src="../../../assets/img/full_screen.svg">
                     </div>
                 </div>
            </div>
        </div>
        <div class="chat-container-box">
                <div class="chat-inside">
                     <div class="chat-options">
                         <p>Screenshot</p>
                         <div class="img-full">
                             <img alt="full_screen" src="../../../assets/img/full_screen.svg">
                         </div>
                     </div>
                     <img alt="screen_shot" src="../../../assets/img/screen-shot.png" class="img-resp">
                </div>
            </div>
            <div class="intray-container">
                <div class="intray-box">
                        <div class="chat-options">
                                <p>In Tray</p>
                                <div class="img-full">
                                    <img alt="full_screen" src="../../../assets/img/full_screen.svg">
                                </div>
                            </div>
                    <div class="list-of-intray">
                        <ul class="list-ul-intray">
                            <li><a>
                                <img alt="excel_png" src="../../../assets/img/excel.png" class="left-align">
                                Risk assessment_r_009_fi..._12_12_2019.xlsx
                            </a></li>
                            <li><a>
                                    <img alt="excel_png2" src="../../../assets/img/excel.png" class="left-align">
                                    Risk assess...2_12_2019.xlsx
                                </a></li>
                                <li><a>
                                        <img alt="word_png" src="../../../assets/img/word.svg" class="left-align">
                                        Risk ass..ersio_12_12_2019.docx
                                    </a></li>
                                    <li><a>
                                            <img alt="pdf_png" src="../../../assets/img/pdf-small.svg" class="left-align">
                                            Risk assessment_r_009_final_versio.pdf
                                        </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="text-chat-container">
                <div class="text-chat-box">
                        <div class="chat-options">
                                <p>Chat</p>
                                <div class="img-full">
                                    <img alt="full_screen" src="../../../assets/img/full_screen.svg">
                                </div>
                            </div>
                            <div class="chat-room">
                                <ul class="chat-ul">
                                    <li class="admin">Please send the latest file <span class="time">10:22am</span></li>
                                    <li class="user"><span class="time">10:25am</span>Sure will send in a bit</li>
                                    <li class="admin">Thanks I got it <span class="time">10:27am</span></li>
                                </ul>
                            </div>

                            <div class="chat-input">
                                <div class="full-width relative">
                                <input class="form-control" type="text">
                                <button class="btn btn-send"><img alt="send_message" src="../../../assets/img/send.svg"></button>
                                </div>
                            </div>
                </div>
            </div>
   </div>
</div>

 
