<div class="row multiple-search">
  <div class="col-sm-8 col-lg-8 table-select-search">
    <div class="row">
      <div class="form-group col-sm-5 col-lg-3 no-padding secionIn">
        <select class="form-control search-select wd-100">
          <option>Year</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
        </select>
      </div>
      <div class="form-group col-sm-5 col-lg-3 no-padding">
        <select class="form-control search-select wd-100">
          <option>Site</option>
          <option>N.T</option>
          <option>Spain</option>
          <option>UK</option>
          <option>USA</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-lg-4 table-icon-list float-right text-right">
    <div class="full-width">
      <a href="#" class="tooltip">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print" />
      </a>
      <div class="dropdown export-dropdown">
        <a
          class="tooltip btn"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="tooltiptext">Export</span>
        </a>
        <div class="dropdown-menu export-dropdown-menu"></div>
      </div>
      <div class="filter-dropdown-column">
        <a class="tooltip m-0">
          <span class="tooltiptext">Customize Table</span>
          <img
            src="assets/img/settings.svg"
            alt="Customize Table"
            (click)="SettingbudgetingList($event)"
            class="click-icon"
          />
        </a>
        <div class="dropdown-menu-column" id="dropDown">
          <a
            class="dropdown-item-column budgetEP-hideshow"
            [attr.data-column]="i"
            *ngFor="let budgetingListColumn of showHideHeadersBEP; index as i"
            style="margin-left: 0px; cursor: pointer"
          >
            <label>
              <input
                class="checkbox"
                type="checkbox"
                value="{{ budgetingListColumn }}"
                checked
              /><span class="filter-text">{{ budgetingListColumn }}</span>
            </label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <table id="budgetTable" class="display fullDataTable" style="width: 100%">
    <caption></caption>
    <thead>
      <tr>
        <th id=""></th>
        <th id="">
          <input
            type="checkbox"
            name="select_all"
            value="1"
            id="budget-select-all-EP"
          />
        </th>
        <th id="">Auditable Entity</th>
        <th id="">Scope</th>
        <th id="">Audit ID</th>
        <th id="">Audit Lead</th>
        <th id="">Audit Team</th>
        <th id="">Budget in Hr(s)</th>
        <th id="">Start Date</th>
        <th id="">Res Planning</th>
        <th class="text-center action-block" id="">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of auditList; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">{{ response.auditableEntity }}</td>
        <td class="reorder-row">{{ response.scope }}</td>
        <td class="reorder-row">
          <a
            class="btn risk-btn link"
            *ngIf="response.auditId"
            href="javascript:void(0);"
            >{{ response.auditId }}</a
          >
        </td>
        <td class="text-center reorder-row">
          <div class="tooltips">
            <img
              alt="Add"
              *ngIf="response.auditLeader"
              class="user"
              src="assets/img/user.png"
            />
            <span class="tooltiptext" *ngIf="response.auditLeader">{{
              response.auditLeader
            }}</span>
            <span class="tooltiptext" *ngIf="!response.auditLeader"
              >Lead is not added!</span
            >
          </div>
        </td>
        <td class="reorder-row">
          <ul class="audit-team">
            <div class="tooltips">
              <li *ngIf="response.auditTeam">
                <img src="assets/img/user.png" alt="User" />
                <span
                  *ngIf="response.auditTeam.length > 0"
                  class="tooltiptext"
                  >{{ response.auditTeam }}</span
                >
                <span *ngIf="response.auditTeam.length == 0" class="tooltiptext"
                  >Team is not added!</span
                >
              </li>
            </div>
          </ul>
        </td>
        <td class="reorder-row">{{ response.budget }}</td>
        <td class="reorder-row">{{ response.startDate }}</td>
        <td class="text-center">
          <a
            class=""
            href="javascript:void(0);"
            *ngIf="!response.rpId && response.auditId"
            (click)="actionRes(response)"
          >
            <img src="assets/img/add_button.svg" alt="Add"
          /></a>
          <a
            class="btn risk-btn link"
            href="javascript:void(0);"
            *ngIf="response.rpId"
            (click)="actionRes(response)"
            >{{ response.rpId }}</a
          >
        </td>

        <td>
          <div class="dropdown show action-dropdown position-relative">
            <a
              class="btn dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a href="javascript:void(0);" class="duplicate-btn">
                    <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                    <span>Duplicate</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-res-planning-form
  [auditData]="selecteddata"
  *ngIf="loadComponent"
  (closedForm)="getRpForm($event)"
>
</app-res-planning-form>
