@media (max-width: 991px) {
  .table-select-search .form-group:first-child {
    padding-right: 0px;
    margin-right: 10px;
  }
  .table-select-search .form-group:last-child {
    padding-left: 0px;
  }
  // .table-select-search {
  //   margin-bottom: 10px;
  // }
  .table-icon-list {
    align-self: center;
  }
}
.padding-left-0{
  padding-left: 0px;
}
.secionIn.form-group{
  padding-left: 8px;
}