<div class="modal-header">

  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span><img src="../../../../assets/img/close-icon.svg"></span>
  </button>
</div>
<div class="modal-body text-center modal-calendar-view">
  <div class="calendar-view">
    <div class="calendar-inner-content">
      <h1>{{name}}</h1>
      <ngx-ts [items]="items" [periods]="periods" [sections]="sections" [showBusinessDayOnly]="false"
        [allowDragging]="false"></ngx-ts>
    </div>
  </div>
</div>