.action-dropdown .dropdown-menu.dropdown-menu-text ul li a span {
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.action-dropdown .dropdown-menu.dropdown-menu-text ul li a img {
  width: 12px;
  float: left;
}
.padding-right-0 {
  padding-right: 0px;
}
.tooltip {
  cursor: pointer;
}
.align {
  text-align: center;
}


.action-dropdown .dropdown-menu.dropdown-menu-text ul li a span {
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.action-dropdown .dropdown-menu.dropdown-menu-text ul li a img {
  width: 12px;
  float: left;
}
.padding-right-0{
  padding-right: 0px;
}
.tooltip{
  cursor: pointer;
}
table.dataTable.multi-table-au thead th.dt-body-center, table.dataTable.multi-table-au tr.odd td:first-child, table.dataTable.multi-table-au tr.even td:first-child {
  display: none;
}

.multiple-search .table-select-search label {
  &.switch {
      position: relative;
      display: inline-block;
      margin: 12px 12px 0;
      border-radius: 9px;
      border: 1px solid #707070;
      width: 43px;
      height: 18px;
      float: none;
      padding: 0;
      font-weight: 800;
  }
}

.multiple-search .control-risk-switch span {
  font-weight: 700;
}

.table-calendar {
  .form-control.calendar-icon {
      width: 98px;
      font-size: 13px;
      font-weight: 400;
      height: 24px;
      padding: 4px;
  }
}
.table-switch {
  .switch {
      width: 43px;
      height: 20px;
      margin: 0px;
      .slider-switch-btn {
          background-color: #c1c1c1;
          border-color: #c1c1c1;
          &:before {
              height: 18px;
              width: 18px;
              left: 0px;
              bottom: 0px;
             
          }
      }
  }
  input:checked+.slider-switch-btn {
      background-color: #98aa3a;
      border-color: #98aa3a;
  }
}


table.dataTable thead th, table.dataTable tbody td {
  padding: 8px 18px 8px 8px;
}