<div class="audit-table-header no-padding">
  <div class="full-width multiple-search">

    <!-- toggle button added by Abu - 17-09-2020 start -->
    <div class="col-sm-8 col-lg-7 table-select-search control-risk-switch float-left no-padding">
      <span class="left-text">Multi</span>
      <label class="switch">
        <input type="checkbox" (change)="switchProperty($event)" [checked]="marked" />
        <span class="slider-switch-btn round"></span>
      </label>
      <span class="right-text">Current</span>
    </div>
    <!-- toggle button added by Abu - 17-09-2020 end -->
    <div class="col-sm-4 col-lg-5 table-icon-list float-right text-right padding-right-0">
      <a class="tooltip" (click)="multiAudits.length > 0 && duplicateAudit()" *ngIf="multitbl">
        <span class="tooltiptext triple-word">Duplicate Audit</span>
        <img src="assets/img/Duplicate.svg" alt="Add" />
      </a>
      <a class="tooltip" (click)="createAudit()">
        <span class="tooltiptext triple-word">Add New Audit</span>
        <img src="assets/img/add_button.svg" alt="Add" />
      </a>
      <a class="tooltip" onclick="window.print()">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print" />
      </a>
      <div class="dropdown export-dropdown">
        <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="tooltiptext">Export</span>
        </a>
        <div class="dropdown-menu export-dropdown-menu"></div>
      </div>
    </div>
  </div>
</div>

<table id="audituniverseTbl" class="display table-md-responsive table-sm-space-20" style="width: 100%" *ngIf="multitbl">
  <caption></caption>
  <thead>
    <tr>
      <th id=""></th>
      <th id="">
        <input name="select_all" value="1" id="audit-universe-select-all" (change)="onAllAuditCheck($event)" type="checkbox" />
      </th>
      <!-- table new row added by Abu - 17-09-2020 start -->
      <th id="">Auditable Area</th>
      <th id="">Process</th>
      <!-- table new row added by Abu - 17-09-2020 end -->
      <th id="">Rotation</th>
      <th id="">Last Audit</th>
      <th class="text-center action-block" id="">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mAudit of multiAudits;let i = index" (click)="onRowClick(mAudit)">
      <td>{{i+1}}</td>
      <td id="{{i}}"></td>
      <td>
        {{mAudit.auditableEntity}} - {{mAudit.category.levelFive.data}}
      </td>
      <td>
        {{mAudit.category.businessProcess}}
      </td>
      <td>{{mAudit.rotation}} Years</td>
      <td>
        <!-- btn-primary very-high -->
        <a class="btn risk-btn"
          [ngClass]="[mAudit.draftReport.rating == 'good' ? 'medium' : mAudit.draftReport.rating == 'some improvement required' ? 'low' : 'btn-primary very-high']"
          (click)="pdfClick()">{{mAudit.year}}</a>

      </td>
      <td class="align">
        <div class="dropdown show action-dropdown position-relative">
          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </a>
          <div *ngIf="!(mAudit.year + mAudit.rotation == minDate.getFullYear())" class="dropdown-menu dropdown-menu-text">
            <ul>
              <li>
                <a class="duplicate-btn" (click)="addToCurrentYear(mAudit)">
                  <img src="assets/img/add_button.svg" alt="Add" />
                  <span>Add to current Year</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>


<!-- Current table added by Abu - 17-09-2020 start -->

<table id="currentaudituniverseTbl" class="display table-md-responsive table-sm-space-20 multi-table-au"
  style="width: 100%;" *ngIf="currenttbl">
  <thead>
    <tr>
      <th></th>
      <th>
        <input name="select_all" value="1" id="current-audit-universe-select-all" type="checkbox" />
      </th>
      <th>Auditable Area</th>
      <th>Process</th>
      <th>Start</th>
      <th>Confirm</th>
      <th class="text-center action-block">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cAudit of currentAudits;let i = index">
      <td>{{i+1}}</td>
      <td></td>
      <td>
        {{cAudit.auditableEntity}} - {{cAudit.category.levelFive.data}}
      </td>
      <td>
        {{cAudit.category.businessProcess}}
      </td>
      <td>
        <div class="full-width relative table-calendar">
          <input type="text" id="{{i}}" autocomplete="off" placeholder="Select Date" class="form-control calendar-icon" bsDatepicker [minDate]="minDate" [ngModel]="cAudit.startDate" (keydown)="blockInput($event)" (bsValueChange)="onStartDateChange($event,i)"
            [disabled]="cAudit.isActive" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }">
        </div>
      </td>
      <td>
        <div class="control-risk-switch float-left no-padding table-switch">
          <label class="switch">
            <input type="checkbox" (change)="onIsActiveChange($event,i)" name="isActive{{i}}"
              [(checked)]="cAudit.isActive" />
            <span class="slider-switch-btn round"></span>
          </label>
        </div>
      </td>
      <td class="text-center">
        <div class="dropdown show action-dropdown position-relative">
          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-text">
            <ul>
              <li>
                <a class="edit-btn" (click)="editAudit(cAudit)">
                  <img src="assets/img/edit_button.svg" alt="Edit" />
                  <span>Edit</span>
                </a>
              </li>
              <li>
                <a class="delete-btn" (click)="deleteAudit(cAudit)">
                  <img src="assets/img/delete_button.svg" alt="Delete" />
                  <span>Delete</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Current table added by Abu - 17-09-2020 end -->

<app-audit-pdf *ngIf="loadPdf"></app-audit-pdf>
<app-create-audit-form *ngIf="createAuditComponent" [auditId]="selectedAuditId" [auditMasters]="auditMasters"
  (closeCreateAuditForm)="onCloseCreateAudit($event)">
</app-create-audit-form>