.modal-content{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;width:204%;height:200%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}