<div class="chat-container">
  <div class="full-width">
    <div class="chat-container-box">
      <div class="chat-inside">
        <div class="chat-options">
          <p>Video Chat</p>
          <div class="img-full">
            <img src="../../../assets/img/full_screen.svg" />
          </div>
        </div>
        <img src="../../../assets/img/video-chat.png" class="img-resp" />
      </div>
    </div>
    <div class="chat-container-box">
      <div class="chat-inside">
        <div class="chat-options">
          <p>Whiteboard</p>
          <div class="img-full">
            <a (click)="openWhiteboard()">
              <img src="../../../assets/img/full_screen.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-container-box">
      <div class="chat-inside">
        <div class="chat-options">
          <p>Screenshot</p>
          <div class="img-full">
              <a (click)="showScreenshot()">
            <img src="../../../assets/img/full_screen.svg" />
            </a>
          </div>
        </div>
        <img src="../../../assets/img/screen-shot.png" class="img-resp" />
      </div>
    </div>
    <div class="intray-container">
      <div class="intray-box">
        <div class="chat-options">
          <p>In Tray</p>
          <div class="img-full">
            <a (click)="openAttachment()">
              <img src="../../../assets/img/full_screen.svg" />
            </a>
          </div>
        </div>
        <div class="list-of-intray">
          <app-in-tray></app-in-tray>
        </div>
      </div>
    </div>
    <div class="text-chat-container">
      <div class="text-chat-box">
        <div class="chat-options">
          <p>Chat</p>
          <div class="img-full">
            <a (click)="showChat()">
              <img src="../../../assets/img/full_screen.svg" />
            </a>
          </div>
        </div>
        <app-chat-system></app-chat-system>
      </div>
    </div>
  </div>
</div>

<app-chat-popup  *ngIf="loadChat"></app-chat-popup>

