<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg">

  </div>



  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4>Issue: <b>Add New Issue </b></h4>
    </div>

    <div class="r-number">
      <p class="text-design"></p>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate">
            Duplicate</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export"> Export</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print"> Print</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="IssueForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block" #addNewIssue>
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="half-tab">
                    <div class="full-width">

                      <div class="form-group">
                        <label>Issue Name</label>
                        <input class="form-control" formControlName="issueName" type="text">
                      </div>
                      <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" formControlName="issueStatus">
                          <option value="">Select</option>

                          <option *ngFor="let status of issueStatusMaster" [value]="status.status">{{status.status}}
                          </option>
                          <!-- <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option> -->
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control description-text" formControlName="issueDescription"></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="full-width">
                        <div class="form-group">
                          <label>Issue Type</label>
                          <select class="form-control" formControlName="issueType">
                            <option value="">Select</option>

                            <option *ngFor="let status of issueTypeMaster" [value]="status.issueType">
                              {{status.issueType}}</option>
                            <!-- <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option> -->
                          </select>
                        </div>
                      </div>
                    </div>


                    <div class="full-width">
                      <div class="form-group">
                        <label>Action</label>
                        <input type="text" formControlName="action" id="control">
                      </div>
                    </div>


                  </div>
                  <div class="half-tab secound">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Review Comments</label>
                        <textarea class="form-control potential-text" formControlName="reviewComments"
                          placeholder="Write Response"></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Recommendation</label>
                        <textarea class="form-control potential-text" formControlName="recommendation"
                          placeholder="Write Recommendation!"></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Management Response</label>
                        <textarea class="form-control potential-text m-response" formControlName="managementResponse"
                          placeholder="Write Response"></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Priority</label>
                        <select class="form-control" formControlName="issuePriority">
                          <option value="">Select</option>

                          <option *ngFor="let status of issuePriorityMaster" [value]="status.issuePriority">
                            {{status.issuePriority}}</option>
                          <!-- <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                            <option>VeryHigh</option> -->
                        </select>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
              <div class="full-width button-container">
                <button class="big-button">Save</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
              <button class="big-button orange-btn">Reject</button>
              <button class="big-button green-btn right-side">Approve</button>
              <button class="big-button yellow-btn right-side">Submit</button> -->

              </div>
            </tab>
            <!-- <tab> -->
            <!-- <ng-template tabHeading> -->
            <!-- ######## updated 05-03-2020 starts ########-->
            <!-- <span>Actions</span> -->
            <!-- ######## updated 05-03-2020 ends ########-->
            <!-- </ng-template> -->
            <!-- <div class="tabContent-box">
              <div class="full-width table-style">
                <div class="full-width">
                  <table class="table">
                    <thead>
                    
                      <tr>
                        <th scope="col">Action ID</th>
                        <th scope="col">Action Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action Type</th>
                        <th scope="col">Department</th>
                        <th scope="col">Key Action</th>
                      </tr>
                     
                    </thead>
                    <tbody>
                      
                       <tr *ngFor="let action1 of assignedAction">
                        <td>{{action1.actionId}}</td>
                        <td>{{action1.actionName}}</td>
                        <td>{{action1.actionDescription}}</td>
                        <td>{{action1.area}}</td>
                        <td>{{action1.area}}</td>
                        <td>{{action1.keyAction}}</td>
                      </tr>
                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->
            <!-- </tab> -->

            <tab>
              <ng-template tabHeading>
                <span>Actions</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="row full-width">

                </div>
                <div class="full-width table-style">
                  <div class="full-width table-style mt-4">
                    <div class="full-width action-header">
                      <h4>Actions part of the Issue</h4>
                    </div>
                  </div>
                  <div class="full-width overflow-auto">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Action ID</th>
                          <th scope="col">Action Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Area</th>
                          <th scope="col">Status</th>
                          <th scope="col" class="text-center">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let action of assignedActions">
                          <td>{{action.actionId}}</td>
                          <td>{{action.actionName}}</td>
                          <td>{{action.actionDescription}}</td>
                          <td>{{action.area}}</td>
                          <td>{{action.actionStatus}}</td>
                          <td class="edit-delete-icon normal-table">
                            <a (click)="deleteAction(action.actionId)" class="delete-btn">
                              <img src="assets/img/delete_button.svg" alt="Delete" />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="full-width overflow-auto">
                  <div class="full-width action-header">
                    <h5 class="float-left">Action Selection</h5>
                    <!-- <button class="float-right" (click)="removeAction()">Remove Selected From Wf</button> -->
                    <button type="button" class="float-right mr-3 green-btn" (click)="addActions()">Add Selected To
                      Issue</button>

                  </div>
                  <table id="addnewissueTable" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>
                          <!-- <input name="select_all" value="1" id="matrix-select-all" type="checkbox" /> -->
                        </th>
                        <th>Area</th>
                        <th>Action ID</th>
                        <th>Action Name</th>
                        <th>Action Description</th>
                        <th>Approver</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let action of filteredActions">
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" value={{action.actionId}}>
                            <span class="checkmark"></span>
                          </label>

                        </td>
                        <td>{{action.area}}</td>
                        <td>
                          <a class="undeline-anchor" href="javascript:void(0);">{{action.actionId}}</a>
                        </td>
                        <td>{{action.actionName}}</td>
                        <td>{{action.actionDescription}}</td>
                        <td>{{action.approvedBy}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Controls</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="row full-width">

                </div>
                <div class="full-width table-style">
                  <div class="full-width table-style mt-4">
                    <div class="full-width action-header">
                      <h4>Control part of the Issue</h4>
                    </div>
                  </div>
                  <div class="full-width overflow-auto">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Control ID</th>
                          <th scope="col">Control Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Control Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Key Control</th>
                          <th scope="col" class="text-centerng">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let control of assignedControls">
                          <td>{{ control.controlId }}</td>
                          <td>{{ control.controlName }}</td>
                          <td>{{ control.controlDescription | slice:0:65}}</td>
                          <td>{{ control.controlType }}</td>
                          <td>{{ control.controlDepartment }}</td>
                          <td>Key Control</td>
                          <td class="edit-delete-icon normal-table">
                            <a class="delete-btn"
                            >
                              <img
                                src="assets/img/delete_button.svg"
                                alt="Delete"
                                (click)="deleteControl(control.controlId)"
                              />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="full-width overflow-auto">
                  <div class="full-width action-header">
                    <h5 class="float-left">Control Selection</h5>
                    <!-- <button class="float-right" (click)="removeAction()">Remove Selected From Wf</button> -->
                    <button type="button" class="float-right mr-3 green-btn" (click)="addControl()">Add Selected To Issue</button>

                  </div>
                  <table id="issuecontrolCMTable" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>
                          <!-- <input name="select_all" value="1" id="matrix-select-all" type="checkbox" /> -->
                        </th>
                        <th>Area</th>
                        <th>Control ID</th>
                        <th>Control Name</th>
                        <th>Control Description</th>
                        <th>Approver</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let control of filteredControls">
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" value={{control.controlId}}>
                            <span class="checkmark"></span>
                          </label>
          
                        </td>
                        <td></td>
                        <td>
                          <a class="undeline-anchor" href="javascript:void(0);">{{control.controlId}}</a>
                        </td>
                        <td>{{control.controlName}}</td>
                        <td>{{control.controlDescription}}</td>
                        <td>{{control.controlApprovedBy}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>

                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input type="text" placeholder="Select Date" formControlName="dateIdentified"
                              class="form-control calendar-icon" bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">

                          <label>Approved On</label>

                          <div class="full-width relative">
                            <input type="text" placeholder="Select Date" formControlName="dateApproved"
                              class="form-control calendar-icon" bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }">
                          </div>
                        </div>
                      </div>


                      <div class="full-width">
                        <div class="form-group">
                          <label>Area</label>
                          <select class="form-control form-control-sm" formControlName="area">
                            <option value="">Select</option>

                            <!-- <option value="" [disabled]="true">Select Risk Area </option> -->
                            <option *ngFor="let area of area" [value]="area.area">{{area.area}}</option>


                          </select>
                        </div>
                      </div>

                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified By</label>
                          <input class="form-control" formControlName="identifiedBy" type="text">
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identifier ID</label>
                          <input class="form-control" formControlName="identifierId" type="text">
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">

                          <label>Approved By</label>

                          <input class="form-control" formControlName="approvedBy" type="text">
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">

                          <label>Approved ID</label>

                          <input class="form-control" formControlName="approverId" type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>

</div>