<div class="pop-up-form pop-full-height" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg">

  </div>
    <div class="full-width from-heading-box relative">
      <div class="text-area-sec">
        <h4>Risk:
          <span class="semibold">Interest Rate Changes</span>
        </h4>
      </div>

      <div class="r-number">
        <p class="text-design">R-544</p>
      </div>
      <!-- <div class="icons-in">
        <ul>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate"> Duplicate</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export"> Export</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print"> Print</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
          </li>
        </ul>
      </div> -->
      <div class="newIconsIn">
        <ul>
          <li>
            <a href="javascript:void(0);"><b>Duplicate</b></a>
          </li>
          <li>
            <a class="export" href="javascript:void(0);"><b>Export</b></a>
          </li>
          <li>
            <a class="print" href="javascript:void(0);"><b>Print</b></a>
          </li>
          <li>
            <a class="share" href="javascript:void(0);"><b>Share</b></a>
          </li>
        </ul>
      </div>
    </div>
  

    <div class="scroll-container"  style="display: none;">
<div class="full-width tab-section-container">
    <div class="content">
      <tabset class="tab-block">

        <tab>
          <ng-template tabHeading>
            <span>Details</span>
          </ng-template>
          
            <app-risk-details></app-risk-details>
          
        </tab>

        <tab>
          <ng-template tabHeading>
            <span>Risk Assessments</span>
          </ng-template>
          <div class="tabContent-box">
            <app-risk-assessments></app-risk-assessments>
          </div>
        </tab>



        <tab>
          <ng-template tabHeading>
            <span>Linked Items</span>
          </ng-template>
          <div class="tabContent-box">
            <app-linked-items></app-linked-items>
          </div>
        </tab>


        <tab>
          <ng-template tabHeading>
            <span>Admin</span>
          </ng-template>
          <div class="tabContent-box">
            <app-risk-admin></app-risk-admin>
          </div>
          </tab>
        </tabset>
       
</div>

</div>

</div>


<div class="scroll-container">
  <div class="full-width tab-section-container">
      <div class="content">
        <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Assessment</span>
              </ng-template>
              
                <app-assessment></app-assessment>
             
              </tab>
              <tab>
                <ng-template tabHeading>
                  <span>Past Assessments</span>
                </ng-template>
                <div class="tabContent-box">
                  <app-past-assessments></app-past-assessments>
                </div>
                </tab>
              <tab>
                <ng-template tabHeading>
                  <span>Mitigating Factors</span>
                </ng-template>
                <div class="tabContent-box">
                  <app-mitigating-factors></app-mitigating-factors>
                </div>
                </tab>
                <tab>
                  <ng-template tabHeading>
                    <span>Admin</span>
                  </ng-template>
                  <div class="tabContent-box">
                    <app-risk-admin></app-risk-admin>
                  </div>
                  </tab>
          </tabset>
  </div>
  
  </div>
  
</div>

<div class="scroll-container" style="display: none;">
  <div class="full-width tab-section-container">
      <div class="content">
        <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <app-risk-details></app-risk-details>
              </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <span>Past Testing</span>
                </ng-template>
                <div class="tabContent-box">
                  <app-risk-past-testing></app-risk-past-testing>
                </div>
                </tab>
              <tab>
                <ng-template tabHeading>
                  <span>Issues</span>
                </ng-template>
                <div class="tabContent-box">
                  <app-risk-issues></app-risk-issues>
                </div>
                </tab>
                <tab>
                  <ng-template tabHeading>
                    <span>Admin</span>
                  </ng-template>
                  <div class="tabContent-box">
                    <app-control-testing-admin></app-control-testing-admin>
                  </div>
                  </tab>
          </tabset>
  </div>
  
  </div>
  
</div>

</div>
