<div class="chat-popup-maincontainer">
  <div class="chat-bar-section">
    <div class="full-width heading-tag">
      <h4 class="heading-menu">
        <span>{{ rooms?.length }}</span> Rooms
      </h4>
    </div>
    <div class="main-section full-width">
      <div class="current-rom full-width">
        <h4 class="section">Current Rooms</h4>
      </div>
      <div class="full-width room-list intray-sec">
        <ul>
          <li *ngFor="let room of rooms">
            <a (click)="openRoom(room._id)">
              {{
                room?.title?.length > 25
                  ? room.title.substr(0, 25) + "..."
                  : room?.title
              }}
            </a>

            <div class="icon-delete">
              <a (click)="removeChatroom(room._id,room.title)">
                <img src="../../../../../assets/img/delete-bin.svg" alt="delete_icon" />
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="full-width add-room-container nobt">
        <div class="inputcontainer">
          <input type="text" class="form-control" placeholder="Create a new room" [(ngModel)]="roomTitle" />
        </div>
        <div class="plus-icon">
          <button class="btn plus-btn" (click)="addRoom(roomTitle)">
            <img src="../../../../../assets/img/add-icon-plus.svg" alt="plus_icon"/>
          </button>
        </div>
      </div>

      <div class="current-rom full-width">
        <h4 class="section">Documents in the room</h4>
      </div>

      <div class="current-userlist current-docs intray-sec full-width">
        <ul>
          <!-- <li>Shanik <span>Owner</span></li> -->
          <li *ngFor="let filename of files">
            <div class="doc-ico" (click)="openAttachment(filename)">
              <img src="../../../../../../assets/img/pdf-ico.svg" alt="pdf_icon" />
              {{filename.name}} {{filename.isOpen ? '(opened)' : ''}}
            </div>
            <div class="icon-delete" *ngIf="!(filename.isOpen)">
              <a (click)="deleteFile(filename.name)">
                <img src="../../../../../assets/img/delete-bin.svg" alt="delete_icon" />
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="full-width add-room-container nobt file-upload relative">
        <div class="inputcontainer ">
          <input type="text" class="form-control" placeholder="Upload Documents" />
        </div>
        <div class="plus-icon">
          <button class="btn plus-btn">
            <img src="../../../../../assets/img/add-icon-plus.svg" alt="add_icon" />
          </button>
        </div>
        <input type="file" (change)="onFilechanged($event)" class="form-control-clickin"
          placeholder="Upload file with extensions-docx,pdf,png,jpg,xlsx" />
      </div>
      <div class="current-rom full-width">
        <h4 class="section">Current Users</h4>
      </div>
      <div class="current-userlist full-width intray-secOne">
        <ul>
          <li>{{ room?.owner }} <span>Owner</span></li>
          <li *ngFor="let user of onlineUsers">
            {{ user }}
            <div class="icon-delete">
              <a (click)="removeUser(user)">
                <img src="../../../../../assets/img/delete-bin.svg" alt="delete_icon" />
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="full-width drop-down-list">
        <select class="form-control" (change)="selectUsers($event.target.value)">
          <option>Add User</option>
          <option *ngFor="let user of usernames"><a>{{ user?.username }}</a>
          </option>
        </select>
      </div>

    </div>
  </div>

  <div class="chat-section-container full-width">
    <div class="full-width heading-tag">
      <h4 class="heading-menu">

        {{ room?.title }}<span> ({{ room?.fileName?.length }} Files)</span>


        <!-- {{ roomDetails?.title
        }}<span> ({{ roomDetails?.usernames?.length }} Participants)</span> -->

      </h4>
    </div>
    <app-pdf-annotation *ngIf="previewMode" [closeForm]="true" [path]="fullPath" (close)="onClose($event)"
      [filename]="title" (closefile)="closeFile($event)" (closeOpenFileFlag)="closeAlreadyOpenFile($event)"></app-pdf-annotation>

  </div>
</div>