
body{
    font-family: @primary_font !important; 
}
.navbar{
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: 0 0 5px #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
.navbar-brand{
   width: 218px; 
}
.input-search{
    position: relative;
}
.input-search .icon-search{
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    z-index: 2;
}
.input-search .form-control{
    padding-left: 30px;
    font-size: 16px;
    color: #5c5d60;
    border: 0px;
    background-color: transparent;
    position: relative;
    z-index: 10;
    transition: 500ms all;
}

.input-search .form-control:focus{
    background-color: #fff;
    padding-left: 10px;
    border: 1px solid #664da0;
    outline: 0px;
    box-shadow: none;
}

.input-search .form-control::-webkit-input-placeholder { /* Edge */
  color: #dee2ec;
}

.input-search .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #dee2ec;
}

.input-search .form-control::placeholder {
  color: #dee2ec;
}

.navbar .dropdown-toggle::after{
    display: none;
}
.name-profile{
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0px 25px;
}
.top-menu li.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top-menu li.nav-item:after{
    content: "";
    position: absolute;
    left: 0px;
    top: -8px;
    height: 60px;
    width: 1px ;
    background-color: #dee2ec;
}
.top-menu .navbar-nav li.nav-item:nth-child(5) a{
    padding-left: 13px;
    padding-right: 13px;
}
.top-menu .navbar-nav li.nav-item:last-child a{
    padding-right: 0px;
    padding-left: 0px;
}
.top-menu .navbar-nav li.nav-item:last-child:after{
    display: none;
}
.notificaion-bell{
    position: relative;
}
.notificaion-bell .notification-round{
    background-color: #dd6838;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 2;
    display: none;
}
.notificaion-bell.in .notification-round{
    display: block;
}
.navbar-light .navbar-nav .nav-link{
    cursor: pointer;
}
#menu-expand{
    position: relative;
}
.expansion-div{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 10;
    width: 285px;
    background-color: rgba(223, 223, 223, .78);
    border-radius: 22.5px;
    padding-left: 3px;
    display: none;
}
.expansion-div.toggled{
    display: block;
}

.expansion-div ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.expansion-div ul li{
    float: left;
    margin-left: 1px;
}
.hover-in span{
    display: inline-block;
}
.hover-span{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
}
.hover-in{
    position: relative;
    cursor: pointer;
}
.hover-in:hover .hover-span{
opacity: 1;
}

.hover-image:hover .hover-icon{
opacity: 1;
}

.mail-icon svg, .main-icon svg{
    width: 23px;
}
.bell-icon svg{
    width: 18px;
}
.hover-image a:hover .cls-1{fill:#98aa39}
.left-line{
    float: left;
}

.more-options{
    position: fixed;
    right: 12px;
    top: 0;
    z-index: 1040;
    padding-top: 6px;
    .icon-fixed{
        width: 46px;
        float: left;
        position: relative;
        cursor: pointer;
        img{
            max-width: 100%;
        }
        .main-icon{
            opacity: 1;
        }
        .hover-icon{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            opacity: 0; 
            text-align: center;
        }
        &:hover{
            .main-icon{
                opacity: 0;
            } 
            .hover-icon{
                opacity: 1;
            }
        }
    }

}

.navbar-brand{
    font-size: @font_31;
    font-weight: @bold;
    line-height: 37px;
    .green-font{
       color: @green;
    }
    .purple-font{
        color: @primary_color;
    }
}

.top-menu .navbar-nav li.nav-item:last-child .dropdown-menu a{
    padding: 5px 10px;
}

@media screen and (max-width: 991px){
    .navbar-nav {
        flex-direction: initial;
        float: right;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
    }
    .navbar{
        border-bottom: 1px solid #dee2ec;
    }
    .top-menu li.nav-item:after{
        top: 0px;
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 10px 25px;
    }
    .expansion-div{
        top: 6px;
    }
    .hover-icon{
        top: 10px;
        width: 46px;
    }
    .navbar{
        padding-right: 12px;
    }
    .more-options{
        right: 72px;
    }
 }


 .navbar-brand.two-in{
    display: none !important;
}
.enrico-logo .navbar-brand.two-in{
  display: block !important;
}
.enrico-logo .navbar-brand.all-in{
  display: none !important;
}