.container-equal{
    position: relative;
    width: 100%;
    float: left;
}
.back-drop-container{
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    z-index: 99;
    left: 0;
    top: 0;
    display: none;
    &.show-drop{
        display: block;
    }
}
.sidebar-container{
    width: 240px;
    height: 100vh;
    position: fixed !important;
    padding-top: 59px;
    z-index: 10;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all 1s ease;
}
.main-content-area{
    width: 100%;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-top: 59px;
    padding-left: 240px;
    background-color: rgb(231, 231, 236);
    height:100vh;
    overflow: hidden;
    overflow-y: visible;
    float: left;
    transition: 1s all;
    
    @media screen and (max-width: 767px){
        width: 100%;
        float: left;
        padding-left: 12px;
    }
}
.main-content-area.toggled{
    padding-left: 75px;
}
.menu-list{
    padding-top: 13px;
    padding-bottom: 20px;
    background-color: #5a4296;
    width: 230px;
    min-height: calc(~"100vh - 59px");
    transition: all 1s ease;
}
.menu-list ul.nav li{
    position: relative;
}

.menu-list ul.nav li a.nav-link{
    color: #fff;
    font-size: 14px;
    padding: 10px 17px;
    position: relative;
}
.menu-list ul.nav li a.nav-link span.content{
    padding-left: 2px;
}
.right{
    float: right;
}
.menu-list ul.nav li .first .nav li a.nav-link{
    padding-left: 25px;
    padding-top: 11px !important;
    padding-bottom: 10px !important;
}

.menu-list ul.nav li a.nav-link.active-class:before{
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    top: 0;
}
.menu-list ul.nav li a.nav-link.active-class{
    background-color: rgba(255, 255, 255, .16);
}
.menu-list ul.nav li:hover a.nav-link{
    background-color: rgba(255, 255, 255, .16);
}


.menu-list ul.nav li.admin-nav{
    margin-top: 65px;
}

.expand-container{
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}


.menu-list ul.nav li ul.flex-column.pl-2.nav{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px !important;
}
a.nav-link.text-truncate.collapsed .right.content img{
    transform: rotate(0deg);
}
a.nav-link.text-truncate .right.content img{
    transform: rotate(180deg);
}

.menu-list ul.nav li  ul.flex-column.pl-2.nav li a.active{
    background-color: rgba(255,255,255,.16);
}
// .menu-list ul.nav li a.nav-link.text-truncate:focus {
//     background-color: rgba(255,255,255,.16);
// }
.menu-list ul.nav li .first.collapse.show ul.flex-column.pl-2.nav li a{
    background-color: rgba(255,255,255,.16);
}
.menu-list ul.nav li  ul.flex-column.pl-2.nav li a.active:before{
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    top: 0; 
}


.collapse.first.menu-sublinks{
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    float: left;
    background: rgb(106, 82, 165);
    width: 210px;
    display: none;
    &.show{
        display: block;
    }
}

.menu-list ul.nav li:hover .collapse.first .flex-column.pl-2.nav li.nav-item a.nav-link{
background-color: transparent;
}
.menu-list ul.nav li:hover .collapse.first .flex-column.pl-2.nav li.nav-item a.nav-link:hover{
    background-color: rgba(255,255,255,.16);
    }
.menu-list ul.nav li:hover .collapse.first 
.flex-column.pl-2.nav li.nav-item a.nav-link.active{
    background-color: rgba(255,255,255,.16);
    }

    .menu-list ul.nav li:hover .collapse.first .flex-column.pl-2.nav li.nav-item a.nav-link.list-heading{
        background-color: rgba(255,255,255,.16);
        display: none;
        font-weight: 600;
    }
    .sidebar-container.toggled .menu-list ul.nav li:hover .collapse.first .flex-column.pl-2.nav li.nav-item a.nav-link.list-heading{
        display: block;
    }

 @media screen and (min-width: 1200px){
    .sidebar-container.toggled{
        width: 75px;
        .expand-container{
            img{
                transform: rotate(180deg);
            }
        }
       }
       .sidebar-container.toggled .menu-list{
           width: 65px;
       }
       .sidebar-container.toggled  .menu-list ul.nav li span.content{
          display: none !important;
       }
    //    .sidebar-container.toggled:hover{
    //        width: 240px;
    //    }
    //    .sidebar-container.toggled:hover .menu-list{
    //        width: 230px;
    //    }
    //    .sidebar-container.toggled:hover  .menu-list ul.nav li span.content{
    //        display: inline !important;
    //     }

    .sidebar-container.toggled.hover-big  .menu-list ul.nav li span.content{
        display: inline !important;
     }
    .sidebar-container.toggled.hover-big  .menu-list ul.nav li span.content.hide-element{
        display: none !important;
     }
     .sidebar-container.hover-big .menu-list ul.nav li{
        .onlyOneLink{
            display: none !important;
        }
     }

     .sidebar-container.toggled.hover-big .menu-list ul.nav li:hover {
        .onlyOneLink{
            display: block !important;
        }
     }
     .sidebar-container .menu-list ul.nav li{
        a.collasped-behaviour{
            display: none !important;
        }
        a.normal-behaviour{
            display: block !important;
        }
     }
     .sidebar-container.toggled .menu-list ul.nav li{
        a.collasped-behaviour{
            display: block !important;
        }
        a.normal-behaviour{
            display: none !important;
        }
     }
  
 }

 @media screen and (max-width: 1199px) and (min-width: 768px){
    .sidebar-container.toggled{
        width: 75px;
        .expand-container{
            img{
                transform: rotate(180deg);
            }
        }
       }
       .sidebar-container.toggled .menu-list{
           width: 65px;
       }
       .sidebar-container.toggled  .menu-list ul.nav li span.content{
          display: none !important;
       }

       .sidebar-container.toggled.hover-big  .menu-list ul.nav li span.content{
        display: inline !important;
     }
    .sidebar-container.toggled.hover-big  .menu-list ul.nav li span.content.hide-element{
        display: none !important;
     }
     .sidebar-container.hover-big .menu-list ul.nav li{
        .onlyOneLink{
            display: none !important;
        }
     }
     .sidebar-container.toggled.hover-big .menu-list ul.nav li:hover {
        .onlyOneLink{
            display: block !important;
        }
     }

     .sidebar-container .menu-list ul.nav li{
        a.collasped-behaviour{
            display: none !important;
        }
        a.normal-behaviour{
            display: block !important;
        }
     }
     .sidebar-container.toggled .menu-list ul.nav li{
        a.collasped-behaviour{
            display: block !important;
        }
        a.normal-behaviour{
            display: none !important;
        }
     }
 }

@media screen and (min-width: 768px){
    .menu-list ul.nav li:hover .collapse.first{
        display: block;
     }
     .menu-list ul.nav li:hover a.nav-link span.right.content img{
        transform: rotate(-90deg);
    }
}

 @media screen and (max-width: 767px){

    .sidebar-container.toggled{
        width: 25px;
        .menu-list{
            opacity: 0;
            width: 0px;
        }
    }
    .main-content-area.toggled{
        padding-left: 12px;
    }

    .sidebar-container.toggled .menu-list ul.nav li span.content{
        display: none !important;
    }
    .sidebar-container .menu-list ul.nav li{
        a.collasped-behaviour{
            display: none !important;
        }
        a.normal-behaviour{
            display: block !important;
        }
     }
     .sidebar-container.toggled .menu-list ul.nav li{
        a.collasped-behaviour{
            display: block !important;
        }
        a.normal-behaviour{
            display: none !important;
        }
     }
     .sidebar-container.toggled.hover-big .menu-list ul.nav li .onlyOneLink ul.flex-column li a span.content  {
        display: block !important;
    }
    .sidebar-container.toggled.hover-big .menu-list ul.nav li .menu-sublinks ul.flex-column li a span.content  {
        display: block !important;
    } 
    .sidebar-container{
        .expand-container{
            img{
                transform: rotate(0deg);
            }
        }
       }
    .sidebar-container.toggled{
        .expand-container{
            img{
                transform: rotate(180deg);
            }
        }
       }
       .collapse.first.menu-sublinks{
           position: relative;
           left: 0;
           width: 100%;
           &.onlyOneLink{
               display: none !important;
           }
       }
       .menu-list{
        height: calc(100vh - 59px);
        overflow: hidden;
        overflow-y: visible;
       }
       
       .collapse.first.menu-sublinks.show-section{
           display: block;
       }
       .menu-list ul.nav li .collapse.first .flex-column.pl-2.nav li.nav-item a.nav-link.list-heading{
           display: none;
       }

 }


