.extrapadding{
    padding: 0px 15px;
}
.cursor-in{
    cursor: pointer;
}

.greenText{ background-color: #98aa3a;  
    color: #fff;  }

.redText{   background-color: #dd6838;
  color: #fff;}

.yellowText{ background-color: #ffcc00;
  color: #fff;}

.purpleText{
    background-color: #664da0;
  color: #fff;
}
select.form-control.purple{
    background-color: #664da0;
    color: #fff;
}

select.form-control.green{
    background-color: #98aa3a;
    color: #fff;
}

select.form-control.orange{
    background-color: #dd6838;
    color: #fff;
}

select.form-control.yellow{
    background-color: #ffcc00;
    color: #fff;
}
.pane {
    .pbc {
        width: 100%;
        .pbc-btn {
            display: inline-block;

            .link {
                width: auto;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

    } 
}
@media (max-width:991px) {
    .pane .pbc {
        width: 100%;
    }
}

.pane {
    &.engagement-plaaning-pane {
        .l-pane {
            width: 16.3%;
            float: left;
            margin-right: 1.5rem;
            .audit-memo {
                width: 100%;
            }
        }
        .m-pane {
            width: 54%;
        }
        .r-pane {
            &.max-width-210 {
                width: 14%;
                max-width: 100%;
                margin-right: 1.5rem;
                &:last-child {
                    margin-right:0px;
                }
            }
        }
        .draft-report{
            &.audit-team {
                width: 100%;
                height: 174px;
                border-color:#664da0;
                &:hover {
                    background-color: #664da0;
                    h4 {
                        color:#fff;
                    }
                }
                h4 {
                    color: #664da0;
                }
            }
        }  
        .fw {
            width:65%;
            height: 174px;
            border-color: #dd6838;
            &:hover {
                background-color: #dd6838;
                h4 {
                    color:#fff;
                }
            }
            h4 {
                font-weight: 700;
                color: #dd6838;
            }
        }
        .opening-meeting {
            border-color: #dd6838;
            width: 100%;
            &:hover {
                background-color: #dd6838;
                h4 {
                    color:#fff;
                }
            }
            h4 {
                color: #dd6838;
            }
        }
        .pbc {
            height:144px;
        }
        .draft-report {
            height: 130px;
            width: 100%;
        }
        .closing-meeting {
            width: 100%;
            height: 188px;
            border-color: #dd6838;
            &:hover {
                background-color: #dd6838;
                h4 {
                    color:#fff;
                }
            }
            h4 {
                color: #dd6838;
            }
        }
        .final-report {
            height: 188px;
            width: 100%;
        }
        .follow-up {
            height: 130px;
            width: 100%;
        }
        .two-pane-block {
            width: 31.33%;
            float: left;
            margin-right: 20px;
            .audit-announcement {
                width: 100%;
            }
        }
    }
}
.select-tick-icon {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 40px;
    border-right-width: 0px;
    border-top: 28px solid #98aa3a;
    position: absolute;
    top: 0px;
    right: 0;
    &:after {
        left: -18px;
        top: -27px;
        width: 7px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 0;
        margin-left: 4px;
        content: '\00D7';
        display: block;
        background: 0 15px no-repeat #98aa3a;
        font-size: 15px;
        color: transparent;
        line-height: 15px;
        background-size: 15px 15px;
        position: absolute;
    }
}

@media screen and (max-width: 1199px) {
    .pane {
        &.engagement-plaaning-pane {
            .l-pane {
                width: 16.3%;
                margin-right: 14px;
            }
            .m-pane {
                width: 48%;
                margin-right: 14px !important;
            }
            .two-pane-block {
                width: 43%;
                margin-right: 12px;
                h4 {
                    width: 130px;
                }
            }
            .fw {
                width: 54%;
            } 
            .r-pane.max-width-210 {
                float: left;
                top:0px;
                width: 15%;
                margin-right: 14px;
            }
        }
    }
}
@media screen and (max-width:991px) {
    .pane {
        &.engagement-plaaning-pane {
          .l-pane {
            width: 25%;
          }
          .m-pane {
            width: 69%;
            margin-right: 0 !important;
            top: 0;
            .two-pane-block {
              width: 45%;
              margin-right: 20px;
            }
            .fw {
              width: 50%;
            }
            
          }
        }
      }
}

.overlay-popup{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.41);
}

    .disabled-sec{
        pointer-events: none;
        opacity: 0.5;
    }