<!-- <form [formGroup]="mainFieldWorkForm" (ngSubmit)="onUpdate()">
  <div class="row">
    <div class="xs-w-100 col-md pr-md-0">
      <div class="full-width">
        <div class="form-group">
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>

    <div class="xs-w-100 col-md-4 col-lg pr-md-0 pr-lg-0">
      <div class="full-width">
        <div class="form-group">
          <select
            #mySelect
            class="form-control"
            (change)="getAuditInfo(mySelect.value)"
            formControlName="audit_id"
          >
            <option value="">Select Audit</option>
            <option
              *ngFor="let al of auditDropdown; let i = index"
              [value]="al.auditId"
            >
              {{ al.auditId }} - {{ al.auditableEntity }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="xs-w-100 col-md-4 col-lg pr-lg-0">
      <div class="full-width">
        <div class="form-group">
          <select
            class="form-control"
            #myProcess
            (change)="changeSubprocess(myProcess.value)"
            formControlName="subprocess"
          >
            <option value="">Subprocess</option>

            <option
              *ngFor="let sp of subprocesses; let i = index"
              [value]="sp.afw_subprocess"
            >
              {{ sp.afw_subprocess }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="xs-w-100 col-md-4 col-lg pr-md-0 pr-lg-0">
      <div class="full-width">
        <div class="form-group">
          <select
            class="form-control"
            #myRisk
            (change)="changeRisk(myRisk.value)"
          >
            <option>Risk</option>
            <ng-container *ngFor="let rs of risks; let i = index">
              <option [value]="rs.afw_risk">{{ rs.afw_risk }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>

    <div class="xs-w-100 col-md col-lg pr-md-0 pr-lg-0">
      <div class="full-width">
        <div class="form-group">
          <select class="form-control" formControlName="year">
            <option>Year</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
          </select>
        </div>
      </div>
    </div>

    <div class="xs-w-100 col-md col-lg pr-md-0 pr-lg-0">
      <div class="full-width">
        <div class="form-group">
          <select class="form-control" formControlName="template">
            <option>Templates</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
    </div>
    <div class="xs-w-100 col-md pr-md-0 col-lg">
      <div class="full-width">
        <a class="btn btn-create-new" (click)="toggleDisplay()">Update Audit</a>
      </div>
    </div>
  </div>

  <div class="p-3 sec-more" *ngIf="!isDisplay">
    <div class="row">
      <div class="full-width col-md-3 col-lg pr-md-0 pr-lg-0">
        <div class="form-group">
          <label>Period in Scope</label>
          <div class="full-width relative">
            <input
              type="text"
              placeholder="Select Date"
              class="form-control calendar-icon"
              bsDaterangepicker
              placement="right"
              formControlName="periodInScope"
              [bsConfig]="{
                rangeInputFormat: 'DD-MM-YYYY',
                dateInputFormat: 'DD-MM-YYYY'
              }"
            />
          </div>
        </div>
      </div>
      <div class="full-width col-md-3 col-lg pr-md-0 pr-lg-0">
        <div class="form-group">
          <label>Performance Period</label>
          <div class="full-width relative">
            <input
              type="text"
              placeholder="Select Date"
              class="form-control calendar-icon"
              bsDaterangepicker
              placement="right"
              formControlName="performancePeriod"
              [bsConfig]="{
                rangeInputFormat: 'DD-MM-YYYY',
                dateInputFormat: 'DD-MM-YYYY'
              }"
            />
          </div>
        </div>
      </div>

      <div class="full-width col-md-3 col-lg pr-lg-0">
        <div class="form-group">
          <label>Opening Meeting</label>
          <div class="full-width relative">
            <input
              type="text"
              placeholder="Select Date"
              class="form-control calendar-icon"
              bsDatepicker
              placement="top"
              formControlName="openingMeetingDate"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
            />
          </div>
        </div>
      </div>

      <div class="full-width col-md-3 col-lg pr-md-0 pr-lg-0">
        <div class="form-group">
          <label>Update Meeting</label>
          <div class="full-width relative">
            <input
              type="text"
              placeholder="Select Date"
              class="form-control calendar-icon"
              bsDatepicker
              placement="top"
              formControlName="updateMeetingDate"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
            />
          </div>
        </div>
      </div>

      <div class="full-width col-md-3 col-lg pr-md-0 pr-lg-0">
        <div class="form-group">
          <label>Closing Meeting</label>
          <div class="full-width relative">
            <input
              type="text"
              placeholder="Select Date"
              class="form-control calendar-icon"
              bsDatepicker
              placement="top"
              formControlName="closingMeetingDate"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
            />
          </div>
        </div>
      </div>
      <div
        class="full-width col-md col-lg pr-md-0 pr-lg-0 justify-content-center align-items-center align-self-end mb-1"
      >
        <button class="btn btn-create-new" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form> -->

<!-- New UI added by Abu - 17-09-2020 start -->
<div class="pane d-flex engagement-plaaning-pane relative">
  <div class="overlay-popup" (click)='overlayClick()' *ngIf="overlayLayout"></div>
  <div class="l-pane">
      <div class="audit-box">
          <div class="audit-team draft-report position-relative " [ngClass]="[ disableTimeLine ? 'disabled-sec' : '']" (click)="teamandtimeline()">
              <img alt="" src="../../../../../assets/img/team-timeline.svg" width="50px"
                  class="icon">
              <h4>Team <br /> & <br />Timeline</h4>
              <span [ngClass]= "isCompletedStatusObj.teamAndTimeline == true ? 'select-tick-icon' : '' "></span>
          </div>

          <div class="audit-memo position-relative" (click)="auditplanningmodle()" (disabled)="true">

              <img src="../../../../../assets/img/concept.svg" class="icon" width="50px">
              <h4>Audit Planning Memorandum</h4>
              <span [ngClass]= "isCompletedStatusObj.planningMemorandum == true ? 'select-tick-icon' : '' "></span>
          </div>
      </div>


  </div>


  <div class="m-pane mr-4 full-width">
      <div class="two-pane-block">

          <div class="opening-meeting position-relative" (click)="openmeetingmodle()">

              <img src="../../../../../assets/img/opening-meeting.svg" alt="Opening Meeting" class="icon"
                  width="50px">
              <h4>Opening Meeting</h4>
              <span [ngClass]= "isCompletedStatusObj.openingMeeting == true ? 'select-tick-icon' : '' "></span>
          </div>
          <div class="audit-announcement position-relative" (click)="auditannouncementmodle()">
              <img src="../../../../../assets/img/promotion.svg" class="icon" width="50px">
              <h4>Audit Announcement</h4>
              <span [ngClass]= "isCompletedStatusObj.auditAnnouncement == true ? 'select-tick-icon' : '' "></span>
          </div>
      </div>
      <div class="fw d-table p-3 position-relative">
          <div class="d-flex justify-content-between align-items-stretch flex-row-reverse mb-2" [ngClass]="[ disableFieldWork ? 'disabled-sec' : '']">
              <img alt="" src="../../../../../assets/img/audit-program.svg" width="35px" class="icon cursor-in"
                  (click)="fieldworkNew()">
              <h4 class="cursor-in" (click)="fieldWorkPopup()">Audit<br /> Program</h4>
          </div>
          <div class="d-flex">
              <div class="fw-btn extrapadding">
                  <div class="row">
                      <a class="btn risk-btn medium mr-3 d-block mb-2 pr-2 pl-2"
                          (click)="recalculationmodle(fw.auditFw_id)"
                          *ngFor="let fw of fieldworkArr">{{fw.auditFw_id}}-{{fw.afw_name | slice:0:20}}...</a>
                  </div>
              </div>
          </div>
          <span [ngClass]= "isCompletedStatusObj.auditProgram == true ? 'select-tick-icon' : '' "></span>
      </div>



      <div class="pbc d-table p-3 position-relative">
          <div class="d-flex justify-content-between align-items-stretch flex-row-reverse">
              <img (click)="pbcNewmodle()" src="../../../../../assets/img/report.svg" class="icon cursor-in"
                  width="35px">
              <h4>PBC</h4>
          </div>

          <div class="pbc-btn" *ngIf="PBCArr">
              <a class="link mr-3" (click)="pbcmodle(pbc.auditPBC_id)"
                  *ngFor="let pbc of PBCArr">&nbsp;{{pbc.auditPBC_id}}-{{pbc?.pbc_name | slice:0:10}} ...&nbsp; </a>

          </div>
          <span [ngClass]= "isCompletedStatusObj.auditPbc== true ? 'select-tick-icon' : '' "></span>
      </div>


  </div>

  <div class="r-pane max-width-210">
      <div class="draft-report draFt position-relative" (click)="draftmodle()" [ngClass]="[ disableReporting ? 'disabled-sec' : '']">
          <img alt="" src="../../../../../assets/img/draft.svg" width="50px" class="icon">
          <h4>Draft Report</h4>
          <span class="select-tick-icon" style="display: none;"></span>
      </div>
      <div class="closing-meeting position-relative" (click)="closingmeetingmodle()">
          <img alt="" src="../../../../../assets/img/closing-meeting.svg" alt="Closing Meeting" width="50px"
              class="icon">
          <h4>Closing Meeting</h4>
          <span [ngClass]= "isCompletedStatusObj.closingMeeting == true ? 'select-tick-icon' : '' "></span>
      </div>

  </div>
  <div class="r-pane max-width-210">
      <div class="draft-report final-report position-relative" [ngClass]="[ disableReporting ? 'disabled-sec' : '']">
          <img alt="" src="../../../../../assets/img/final-report.svg" width="50px" class="icon">
          <h4>Final Report</h4>
      </div>
      <div class="draft-report follow-up position-relative" [ngClass]="[ disableReporting ? 'disabled-sec' : '']">
          <img alt="" src="../../../../../assets/img/followup.svg" width="50px" class="icon">
          <h4>Follow up</h4>
      </div>

  </div>
</div>
<!-- New UI added by Abu - 17-09-2020 end -->
<!-- Team and timeline form added by Abu - 17-09-2020 Start -->
<app-team-timeline-form *ngIf="teamtimelineloadComponent"
(closedTeamAndTimelineForm)="getTeamAndTimelineFormStatus($event)"
></app-team-timeline-form>
<!-- Team and timeline form form added by Abu - 17-09-2020 end -->
<app-audit-plan-memo-popup
  *ngIf="auditloadComponent"
  [selectAudit]="selectAuditId"
  (closedMemoForm)="getMemoFormStatus($event)"
></app-audit-plan-memo-popup>
<app-open-meet-popup
  *ngIf="openloadComponent"
  [selectAudit]="selectAuditId"
  (closedOpenMeetForm)="getOpenMeetFormStatus($event)"
></app-open-meet-popup>
<app-audit-announcement-popup
  *ngIf="auditannouncementloadComponent"
  [selectAudit]="selectAuditId"
  (closedAnnouncementForm)="getAnnouncementFormStatus($event)"
></app-audit-announcement-popup>
<app-pbc-popup
  *ngIf="pbcloadComponent"
  [PBCFormData]="selectedPBC"
  (closedPBCForm)="getPBCFormStatus($event)"
>
</app-pbc-popup>
<app-pbc-new-popup
  *ngIf="pbcNewloadComponent"
  (closePbcNewForm)="getPbcNewFormStatus($event)"
  [selectAudit]="selectedAuditId"
></app-pbc-new-popup>
<app-fw-recalculation-popup
  *ngIf="recalculationloadComponent"
  [WfFormData]="selectedFieldWork"
  (closedFWForm)="getFWFormStatus($event)"
></app-fw-recalculation-popup>
<app-fw-recalcultion-new-popup
  *ngIf="recalculationNewloadComponent"
  (closedNFWForm)="getNFWFormStatus($event)"
>
</app-fw-recalcultion-new-popup>
<app-issue-budget-setup-popup
  *ngIf="budgetloadComponent"
  [IFormData]="selectedIssue"
></app-issue-budget-setup-popup>
<app-issue-budget-setup-new-popup
  *ngIf="budgetloadNewComponent"
  (closeIssueForm)="getIssueFormStatus($event)"
>
</app-issue-budget-setup-new-popup>
<app-draft-popup
  *ngIf="draftloadComponent"
  [selectAudit]="selectAuditId"
  (closedDRForm)="getDRFormStatus($event)"
></app-draft-popup>
<app-closing-meeting-popup
  *ngIf="cmloadComponent"
  [selectAudit]="selectAuditId"
  (closedCMForm)="getCMFormStatus($event)"
></app-closing-meeting-popup>
<app-fw-ct-popup *ngIf="fwCtPopup"></app-fw-ct-popup>
<app-audit-team-detail-popup
  [auditData]="selecteddata"
  *ngIf="loadAuditComponent"
  (closedForm)="getRpForm($event)"
></app-audit-team-detail-popup>