<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4>Audit Calendar</h4>
    </div>
  </div>
  <div class="modal-calendar-view">
    <div class="calendar-view">
      <div class="calendar-inner-content">
        <h1>OP001</h1>
        <ngx-ts
          [items]="items"
          [periods]="periods"
          [sections]="sections"
          [events]="events"
          [showBusinessDayOnly]="false"
          [allowDragging]="false"
        ></ngx-ts>
      </div>
    </div>
  </div>
</div>
