.linkin{
    color:#644C9F;
}
.input-msg{
    font-size: 15px;
    color: #464646;
    margin-bottom: 4px;
}
.confirm-area{
    background-color: #FBFBFB;
    height: 131px;;
}
.popup-msg{
    margin-bottom: 15px;
}
