<div class="full-width new-popup-feature">
  <div class="modal-header">
    <h4 class="modal-title pull-left confirm-colour">{{title}}</h4>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span><img src="../../../../assets/img/close-icon.svg" alt="close_icon"></span>
    </button> -->
    <div class="error-icon-in">
      <img src="../../../../assets/img/save.svg" class="suss-im">
      <img src="../../../../assets/img/close-white-in.svg" class="error-im">
    </div>
  </div>
  <div class="modal-body">
    <div class="full-width">
      <h4 class="popup-msg">Are you sure you want to reject the workstep?
        <!-- :<span class="linkin"> {{content}} - 
          Determine the statements are valid or not{{content}}</span> -->
      </h4>
      <h4 class="popup-msg issue-popup-msg d-none">Are you sure you want to reject the Issue?</h4>
      <h4 class="input-msg">Enter your comments for rejection</h4>
      <div class="form-group">
        <textarea class="confirm-area" [(ngModel)]="rejectionComments" name="rejectionComments"></textarea>
      </div>
    </div>
    <div class="full-width text-right">

      <button class="btn btn-modal-no cancelbrn-add" (click)="close()">{{action}}</button>
      <button class="btn btn-modal" (click)="confirm()">{{link}}</button>
    </div>
  </div>
</div>