<div class="pop-up-form">
        <div class="close-form" (click)="closeModal()">
          <img src="../../../../../assets/img/close-form.svg">
      
        </div>
        <div class="full-width from-heading-box relative">
          <div class="text-area-sec">
            <h4>Control Testing :
              <span class="semibold"> Model Overview</span>
            </h4>
          </div>
          <div class="r-number">
              <p class="text-design">C-054</p>
            </div>
     
          <!-- <div class="icons-in">
            <ul>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate"> Duplicate</a>
              </li>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export"> Export</a>
              </li>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print"> Print</a>
              </li>
              <li class="duplicate-btn-form">
                <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
                <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
              </li>
            </ul>
          </div> -->
          <div class="newIconsIn">
            <ul>
              <li>
                <a href="javascript:void(0);"><b>Duplicate</b></a>
              </li>
              <li>
                <a class="export" href="javascript:void(0);"><b>Export</b></a>
              </li>
              <li>
                <a class="print" href="javascript:void(0);"><b>Print</b></a>
              </li>
              <li>
                <a class="share" href="javascript:void(0);"><b>Share</b></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="scroll-container">
      
          <div class="full-width tab-section-container">
            <div class="full-width">
              <tabset class="tab-block">
                <tab>
                  <ng-template tabHeading>
                    <span class="tabOne">Details</span>
                  </ng-template>
                  <div class="full-width">
                   <app-new-control-testing-details></app-new-control-testing-details>
                  </div>
      
      
                </tab>
    
                <tab>
                  <ng-template tabHeading>
                    <span>Past Testing</span>
                  </ng-template>
                  <div class="tabContent-box export-right-20">
                   <app-new-control-testing-past-testing></app-new-control-testing-past-testing>
                  </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                      <span>Issues</span>
                    </ng-template>
                    <div class="tabContent-box export-right-20">
                     <app-new-control-testing-issue></app-new-control-testing-issue>
                    </div>
                  </tab>
    
                  <tab>
                    <ng-template tabHeading>
                      <span>Admin</span>
                    </ng-template>
                    <div class="tabContent-box">
                      <app-new-control-testing-admin></app-new-control-testing-admin>
                    </div>
                  </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    