<div class="full-width container-side">
    <ul class="block-ul">
      <li class="box-li">
        
          <div class="full-width box-container orange-border">
            <div class="box-haif-number">
              <div class="number-container">
              <p class="number">{{issueCount}}</p>
              </div>
              <div class="text-container">
                <p class="text">Issues</p>
              </div>
            </div>
          </div>
  
      </li>
      <li class="box-li">
        
          <div  class="full-width box-container blue-border">
            <div class="box-haif-number">
              <div class="number-container">
              <p class="number">{{actionCount}}</p>
              </div>
              <div class="text-container">
                <p class="text">Actions</p>
              </div>
            </div>
          </div>
  
      </li>


      <li class="box-li">
        
        <div class="full-width box-container orange-border">
          <div class="box-haif-number">
            <div class="number-container">
            <p class="number"> {{ dashboardCount.critical }} </p>
            </div>
            <div class="text-container">
              <p class="text">Critical</p>
            </div>
          </div>
        </div>

    </li>
    <li class="box-li">
      
        <div  class="full-width box-container blue-border">
          <div class="box-haif-number">
            <div class="number-container">
            <p class="number"> {{ dashboardCount.normal }} </p>
            </div>
            <div class="text-container">
              <p class="text">Normal</p>
            </div>
          </div>
        </div>

    </li>

    <li class="box-li chart-in">
      <!-- <div class="full-width box-container orange-border">
        <div class="box-haif-number"></div>
      </div> -->
      <div class="full-width box-container">
        <div class="box-haif-number">
          <div [hidden]="!doughnutChart" class="full-width">
            <div class="doughnut-section">
              <canvas
                width="90"
                height="90"
                id="doughnut"
                style="position: absolute;"
                >{{ doughnutChart }}</canvas
              >
              <p class="namedoughnut">Actions</p>
            </div>
            <div
              class="details-doughnut"
              style="
                font-weight: 600;
              "
            >
              <div>
                <span style="color: #6f42c1; font-weight: 700;">{{
                  capital
                }}</span>
                Capital
              </div>
              <div>
                <span style="color: #dc3545; font-weight: 700;">{{
                  credit
                }}</span>
                Credit
              </div>
              <div>
                <span style="color: #ffc107; font-weight: 700;">{{
                  market
                }}</span>
                Market
              </div>
              <div>
                <span style="color: #98aa3a; font-weight: 700;">{{
                  sec
                }}</span>
                Security
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
 

    <li class="box-li chart-in">
      <!-- <div class="full-width box-container orange-border">
        <div class="box-haif-number"></div>
      </div> -->
      <div class="full-width box-container">
        <div class="box-haif-number">
          <div [hidden]="!doughnutChart" class="full-width">
            <div class="doughnut-section">
              <canvas
                width="90"
                height="90"
                id="doughnut1"
                style="position: absolute;"
                >{{ doughnutChart }}</canvas
              >
              <p class="namedoughnut">Issues </p>
            </div>
            <div
              class="details-doughnut"
              style="
                font-weight: 600;
              "
            >
              <div>
                <span style="color: #6f42c1; font-weight: 700;">{{
                  capitalIssue
                }}</span>
                Capital
              </div>
              <div>
                <span style="color: #dc3545; font-weight: 700;">{{
                  creditIssue
                }}</span>
                Credit
              </div>
              <div>
                <span style="color: #ffc107; font-weight: 700;">{{
                  marketIssue
                }}</span>
                Market
              </div>
              <div>
                <span style="color: #98aa3a; font-weight: 700;">{{
                  securityIssue
                }}</span>
                Security
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    </ul>
  </div>