.text-center {
    text-align: center;
  }
  
  .shadow-lg {
    border-radius: 4.5px;
    border: 1px solid #dd6838;
    box-shadow: none !important;
    margin-bottom: 0px !important;
    //box-shadow: 0 2px 0 #dd6838;
  }
  
  .shadow-yellow {
    border-radius: 4.5px;
    border: 1px solid #fc0;
    //box-shadow: 0 2px 0 #fc0;
    box-shadow: none !important;
    margin-bottom: 0px !important;
  }
  
  .shadow-blue {
    border-radius: 4.5px;
    border: 1px solid #664da0;
    //box-shadow: 0 2px 0 #664da0;
    box-shadow: none !important;
    margin-bottom: 0px !important;
  }

.container-side .block-ul li .box-haif-number {
    height: 100%;
}

.container-side .box-container {
  height: 94px;
}

.container-side .box-haif-number {
  height: 100%;
}
.container-side {
  padding:  15px 20px;
  height: auto;
  background: #fff;
}

.container-side .block-ul li{
  width: 145px;
  &.chart-in{
    width: 180px;
  }
}
.doughnut-section{
  width: 100px;
  float: left;
}
.details-doughnut{
  width: calc(~"100% - 100px");
  float: left;
  padding-left: 7px;
  padding-top: 7px;
}
.namedoughnut{
  width: 90px;
  text-align: center;
  margin-top: 93px;
  font-size: 14px;
  font-weight: 600;
  color: #5c5d60;
  margin-bottom: 0;
  line-height: 18px;
}

@media (max-width:767px) {
  .container-side .block-ul li{
    width: 100%;

    &.chart-in{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}