<div class="full-width container-side">
        <ul class="block-ul company-structure">
          <!-- <li class="box-li">
            <div class="box-haif-number">
              <div  class="full-width">
                <div class="full-width relative">
                  <canvas  id="bar"
                    >{{ pieChart }}</canvas>
                </div>
              </div>
            </div>
          </li> -->
          <li class="block-li">
            <h3>Control Execution</h3>
            <div class="box"> 
              <canvas  id="bar">{{ pieChart }}</canvas>
            </div>
          </li>
          <li class="block-li">
            <h3>Actions</h3>
            <div class="box"> 
              <canvas  id="actionbar">{{ pieActionChart }}</canvas>
            </div>
          </li>
          <li class="block-li">
            <h3>Approval</h3>
            <div class="box">
              <canvas  id="approvalbar">{{ pieApprovalChart }}</canvas>
            </div>
          </li>

          <li class="block-li">
            <h3>% Delay vs On Time</h3>
            <div class="box">              
                <table class="simple-table">
                  <tr>
                      <td>
                        Control Execution
                      </td>
                      <td style="text-align: right;font-weight: 700;">
                        10%
                      </td>
                  </tr>
                  <tr>
                    <td>
                      Actions
                    </td>
                    <td style="text-align: right;font-weight: 700;">
                      5%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Approval
                    </td>
                    <td style="text-align: right;font-weight: 700;">
                      2%
                    </td>
                  </tr>                  
                </table>
            </div>
      
          </li>
      
     
        </ul>
        <div class="rightDiv">
            <ul class="coinsectionUl">
                <li>
                    <div class="list-of-coin" >
                      <div class="full-width">
                       <div class="full-width img-contain">
                         <img src="../../../../../../assets/img/coins.svg">
                       </div>
                       <div class="full-width spec-coin">
                        <div class="coin-nav">
                          <div class="coinTarget">
                            <span class="coinsValue count">2,130</span>
                          </div>
                        </div>
                        <!-- <p class="count">2,130</p> -->
                        <p class="detail-sec">Coins</p>
                       </div>
                      </div>
                      <div class="hoverIcon" (click)="redeemScreen()">
                          <img src="../../../../../../assets/img/gift-box.svg">
                          <p>Redeem</p>
                      </div>
                    </div>
                </li>
                <li>
                  <div class="list-of-coin">
                     <div class="full-width img-contain">
                       <img src="../../../../../../assets/img/level.svg">
                     </div>
                     <div class="full-width spec-coin">
                      <p class="count">3</p>
                      <p class="detail-sec">Level</p>
                     </div>
                  </div>
              </li>
              <li>
                <div class="list-of-coin">
                   <div class="full-width img-contain">
                     <img src="../../../../../../assets/img/trophies.svg">
                   </div>
                   <div class="full-width spec-coin">
                    <p class="count">5</p>
                    <p class="detail-sec">Trophies</p>
                   </div>
                </div>
            </li>
            <li>
              <div class="list-of-coin">
                 <div class="full-width img-contain">
                   <img src="../../../../../../assets/img/rank.svg">
                 </div>
                 <div class="full-width spec-coin">
                  <p class="count">9</p>
                  <p class="detail-sec">Rank<br/>ZH</p>
                 </div>
              </div>
          </li>
          <li>
            <div class="list-of-coin">
               <div class="full-width img-contain">
                 <img src="../../../../../../assets/img/group_rank.svg">
               </div>
               <div class="full-width spec-coin">
                <p class="count">9</p>
                <p class="detail-sec">Group Rank</p>
               </div>
            </div>
        </li>
              </ul>
              <div class="redeem-section" *ngIf="reedeemSection">
                <div class="full-width">
                    <h4 class="heading-redeem"><img src="../../../../../../assets/img/backbtn.svg" 
                      class="rightPosition" (click)="backtoscreen()">
                      Click on an icon to redeem it</h4>
                </div>
                 <div class="full-width">
                   <ul class="redeem-list">
                      <li (click)="showChildModal()">
                        <div class="full-width">
                          <img src="../../../../../../assets/img/gift.svg">
                          <p class="redemm-name">Gift Voucher</p>
                          <p class="redeem-point">1,000</p>
                        </div>
                      </li>
                      <li>
                          <div class="full-width">
                            <img src="../../../../../../assets/img/headphones.svg">
                            <p class="redemm-name">HeadPhones</p>
                            <p class="redeem-point">1,500</p>
                          </div>
                      </li>
                      <li class="disabled">
                          <div class="full-width">
                            <img src="../../../../../../assets/img/ipod.svg">
                            <p class="redemm-name">iPod</p>
                            <p class="redeem-point">2,500</p>
                          </div>
                      </li>
                      <li class="disabled">
                          <div class="full-width">
                            <img src="../../../../../../assets/img/mobile_phone.svg">
                            <p class="redemm-name">Mobile Phone</p>
                            <p class="redeem-point">3,500</p>
                          </div>
                      </li>
                   </ul>
                 </div>
                 <div class="full-width">
                   <p class="coindetails">next reward opens at 2,500 coins</p>
                 </div>
              </div>
        </div>
        
          <div class="collect-button" style="display: none;">
            Collect
          </div>
     
      </div>
    
 

