.container-side .block-ul.company-structure{
    width: auto;
    li {
        width: 203px;
        float: left;
        h3{
            font-size: 12px;
            font-weight: 700;
            color: #644c9f;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            float: left;
        }
        .box{
            background-color: #ffffff;
            border-radius: 3.5px;
            border: 1px solid rgba(112, 112, 112, .44);
            box-shadow: 0 2px 0 #644c9f;
            width: 100%;
            min-height: 114px;
            padding: 5px;
            float: left;

            .simple-table {
                width: 100%;
                margin-top: 20px;
                float: left;

                tr {
                    width: 100%;
                    margin-bottom: 4px;
                    float: left;

                    td{
                        float: left;
                        width: 50%;
                        font-size: 12px;
                        font-weight: 600;
                        color: #464646;
                    }
                }
            }
        }
    }
}

.container-side{
    .rightDiv{
        float: right;
        position: relative;
        margin-top: 13px;

    .coinsectionUl{
        float: right;
        list-style: none;
        padding: 0px;
        margin: 0px;
        
        position: relative;
        li{
            float: left;
            margin-right: 3px;
            .list-of-coin{
                background-image: linear-gradient(-39.68deg, #5e4195 0%, #7035e5 100%);
                border-radius: 4px;
                width: 63px;
                height: 125px;
                padding: 1px;
                position: relative;
                .img-contain{
                    padding-top: 15px;
                    text-align: center;
                    min-block-size: 64px;
                }
                .spec-coin{
                    text-align: center;
                    .count{
                        font-size: 20px;
                        font-weight: 700;
                        color: #ffffff;
                        margin-bottom: 2px;
                        line-height: 20px;
                    }
                    .detail-sec{
                        font-size: 12px;
                        color: #ffffff;
                        margin-bottom: 0px;
                        line-height: 13px;
                        letter-spacing: -.276px;
                    }
                }

                .hoverIcon{
                   width: 100%;
                   height: 100%;
                   background-image: linear-gradient(-39.68deg, rgba(94, 65, 149, 0.71) 0%, rgba(112, 53, 229, 0.71) 100%);
                   position: absolute;
                   left: 0;
                   top: 0;
                   z-index: 10;
                   border-radius: 4px;
                   display: flex;
                   justify-content: flex-end;
                   align-items: center;
                   text-align: center;
                   flex-direction: column;
                   opacity: 0;
                   transition: 500ms all;
                   cursor: pointer;
                   p{
                    font-size: 12px;
                    color: #ffffff;
                    line-height: 13px;
                    letter-spacing: -.276px;
                    margin-top: 5px;
                    font-weight: 600;
                   }
                }
                &:hover{
                    .hoverIcon{
                        opacity: 1;
                    }
                }
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    .redeem-section{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        background-image: linear-gradient(136.15deg, #5e4195 0%, #7035e5 100%);
        border-radius: 4px;
        padding: 5px 8px;
        
        .heading-redeem{
            margin-top: 0px;
            position: relative;
            font-weight: 600;
            color: #fff;
            font-size: 14px;
            text-align: center;
            img.rightPosition{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10px;
                cursor: pointer;
            }
        }
        .redeem-list{
            width: 100%;
            float: left;
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                width: 25%;
                float: left;
                padding: 5px;
                text-align: center;
                position: relative;
                cursor: pointer;
                padding-bottom: 0px;
                min-height: 88px;
                .redemm-name{
                    font-size: 10px;
                    color: #ffffff;
                    margin-bottom: 0px;
                }
                .redeem-point{
                    font-size: 20px;
                    font-weight: 700;
                    color: #ffffff;
                    margin-bottom: 0px;
                    line-height: 20px;
                }
                &.disabled{
                    cursor: default;
                    .full-width{
                        opacity: 0.5;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        .coindetails{
            font-size: 10px;
            color: #fff;
            text-align: center;
        }
    }
}
}

