<div class="full-width accordion-sec">
<div class="accordion" id="accordionExample">
  <div class="section-in">
    <div class="card">
      <div class="card-header bg-gray relative" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="textportion">Information</span>
            <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="full-width section-inside">
            <ul class="information-list">
              <li>
                <span class="text-list">Assign to Risk</span>
                <button class="btn btn-infom yes">Yes</button>
              </li>
              <li>
                  <span class="text-list">Assign to Workflow</span>
                  <button class="btn btn-infom yes">Yes</button>
                </li>
                <li>
                    <span class="text-list">Open Issues</span>
                    <button class="btn btn-infom no">No</button>
                  </li>
                  <li>
                      <span class="text-list">Last Testing</span>
                      <button class="btn btn-infom date">14.03.2019</button>
                    </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="full-width accordion-sec">
    <div class="accordion" id="accordionExampleOne">
      <div class="section-in">
        <div class="card">
          <div class="card-header bg-gray relative" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span class="textportion">Control Definition</span>
                <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
              </button>
            </h2>
          </div>
      
          <div id="collapseTwo" class="bg-gray collapse show" aria-labelledby="headingTwo" data-parent="#accordionExampleOne">
            <div class="card-body">
              <div class="full-width section-inside">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="full-width">
                          <div class="form-group">
                            <label>Control Name</label>
                            <input
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="full-width">
                            <div class="form-group">
                              <label>Control Type</label>
                              <select
                                class="form-control"
                              >
                                <option>Select Option</option>
                                <option>Finance</option>
                                <option>Finance</option>
                                <option>Finance</option>
                                <option>Finance</option>
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                              <div class="form-group">
                                <label>Control Objective</label>
                                <textarea
                                  class="form-control potential-text"
                                ></textarea>
                              </div>
                            </div>
                            <div class="full-width bt-5">
                                <label class="label">Reference Document</label>
                                <div class="full-width">
                                  <div class="list-of-uploads">
                                    <div class="uploadList">
                                      <ul>
                                        <li>
                                          <div class="iconimg">
                                            <img src="../../../../../../assets/img/pdf-ico.svg">
                                          </div>
                                          Policy
                                        </li>
                                        <li>
                                            <div class="iconimg">
                                              <img src="../../../../../../assets/img/pdf-ico.svg">
                                            </div>
                                            Policy
                                          </li>
                                          <li>
                                              <div class="iconimg">
                                                <img src="../../../../../../assets/img/pdf-ico.svg">
                                              </div>
                                              Policy
                                            </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="addnew-sec">
                                    <div class="centerin">
                                        <img src="../../../../../../assets/img/plus.png">
                                        <p class="addnew">Add new</p>
                                        <input type="file" class="uploadsc">
                                    </div>
                                    
                                  </div>
                                </div>
                            </div>
                            <div class="full-width">
                                <div class="form-group">
                                  <label>Reference ID's (Legal / Internal)</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="full-width">
                      <div class="half-sec">
                        <div class="toggle-opt">
                            <div class="control-Audit-switch">
                              <span class="left-text"> Remote</span>
                              <label class="switch">
                                <input type="checkbox" />
                                <span class="slider-switch-btn round"></span>
                              </label>
                              <span class="right-text">Onsite</span>
                            </div>
                          </div>
                      </div>
                      <div class="half-sec">
                         <div class="full-width select-tag">
                           <div class="nexttoinput">
                             <span>Status</span>
                           </div>
                            <div class="selectbox">
                                <div class="form-group">
                                <select
                                class="form-control green"
                              >
                                <option class="green">Active</option>
                                <option class="yellow">On Hold</option>
                                <option class="orange">Deleted</option>
                              </select>
                              </div>
                            </div>
                         </div>
                      </div>
                    </div>
                    <div class="full-width">
                        <div class="half-sec">
                          <div class="toggle-opt">
                              <div class="control-Audit-switch">
                                <span class="left-text"> Manual</span>
                                <label class="switch">
                                  <input type="checkbox" />
                                  <span class="slider-switch-btn round"></span>
                                </label>
                                <span class="right-text">Automatic</span>
                              </div>
                            </div>
                        </div>
                        <div class="half-sec">
                          <div class="full-width right-disabled">
                              <div class="toggle-opt">
                                  <div class="control-Audit-switch">
                                    <span class="left-text"> Key Control</span>
                                    <label class="switch">
                                      <input type="checkbox" />
                                      <span class="slider-switch-btn round"></span>
                                    </label>
                                    
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                       
                              <label class="controllb">Control Guidance 
                               <span class="relative hoverbox"><img src="../../../../../../assets/img/explain.svg">
                                  <div class="popovercontent">
                                    <h4>What is Control Guidance</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing 
                                      and typesetting industry. Lorem Ipsum has been the 
                                      industry's standard dummy text ever since the 1500s, 
                                      when an unknown printer took a galley of type and 
                                      scrambled it to make a type specimen book. It has 
                                      survived not only five centuries</p>
                                      <a>Read More</a>
                                  </div>
                              </span>
                              </label>
                           <div class="full-width relative wysiwyg-div">
                          <angular-editor id="editor1"  [config]="editorConfig"></angular-editor>
                        </div>
                        
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="full-width accordion-sec">
        <div class="accordion" id="accordionExampleThree">
          <div class="section-in">
            <div class="card">
              <div class="card-header bg-gray relative" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                    <span class="textportion">Control Execution Specifics</span>
                    <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                  </button>
                </h2>
              </div>
          
              <div id="collapseThree" class="bg-gray collapse show" aria-labelledby="headingThree" data-parent="#accordionExampleThree">
                <div class="card-body">
                  <div class="full-width section-inside">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="full-width">
                              <div class="form-group">
                                <label>Attachment</label>
                                <select
                                  class="form-control"
                                >
                                  <option>Attach Supporting Documents (required)</option>
                                  <option>No Attachment Allowed</option>
                                  <option>Optional</option>
                                  <option>Attach Sample(required)</option>
                                  <option>Attach Proof(required)</option>
                                 
                                </select>
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="full-width">
                              <div class="form-group">
                                <label>Result</label>
                                <select
                                  class="form-control"
                                >
                                  <option>Fullfilled / Partially Fulfilled / Not Fulfilled</option>
                                 <option>Ok / Not Ok </option>
                                 <option>Completed / Action Raised / Requires Attention </option>
                                </select>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="full-width button-container btnright">
            <button class="big-button saveBt">Save</button>
          </div>