.container-side .block-ul.admin-stracture li h3{
    font-size: 12px;
    font-weight: 700;
    color: #644c9f;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    float: left;
}
.container-side .block-ul.admin-stracture li.box-li{
    padding-top: 0px;
}
.container-side .block-ul.admin-stracture li.box-li .box{
    background-color: #ffffff;
    border-radius: 3.5px;
    border: 1px solid rgba(112, 112, 112, 0.44);
    box-shadow: 0 2px 0 #644c9f;
    width: 100%;
    padding: 5px;
    float: left;
}
.container-side .block-ul.admin-stracture li.box-li:first-child{
    width: 240px;
}
.container-side .block-ul.admin-stracture li.box-li.sec-in-chart{
    width: 200px; 
}
.container-side .block-ul.admin-stracture li.box-li.count-risk{
    width: 202px;
    .orangebox{
        box-shadow: 0px 2px 0px #DD6838;
        border: 1px solid #DD6838;
        border-radius: 5px; 
        height: 115px;
        .center-inside{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            height: 100%;
            h4{
                font-size:40px;
                color: #5C5D60;
                font-weight: 700;
                margin-bottom: 0px;
            }
            p{
                margin-bottom: 0px;
                font-size: 18px;
                color: #5C5D60;
                font-weight: 700;
            }
        }
    }
}

.graph-details-content{
    padding-left: 100px;
    max-width: 100%;
    padding-top: 10px;
    font-weight: 600;
    padding-bottom: 11px;

}
.count-sc{
    min-width: 18px;
    display: inline-block;
}
.container-side .block-ul.admin-stracture li.meeting-notes-sec{
    width: 300px;
    .full-sec{
        width: 100%;
        float: left;
        border-left: 1px solid #e8e7e7;
        border-right: 1px solid #e8e7e7;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: #e8e7e7;
        }
    }
    .haldside{
        width: 50%;
        float: left;
        min-height: 35px;
        .labelsec{
            padding-left: 14px;
            float: left;
            width: 100%;
            font-size: 10px;
            color: #464646;
            line-height: 14px;
            font-weight: 600;
        }
        .date-sec{
            float: left;
            width: 100%;
            text-align: left;
            color: #464646;
            font-weight: 700;
            padding-top: 0px;
            padding-left: 14px;
        }
    }
}

.canvas-pop{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 55;
}
.count-bar{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container-side{
    .block-ul.admin-stracture{
        .box.new-dsign-graph{
            margin-top: 4px;
            padding-top: 20px !important;
            position: relative;
            .head-top{
                position: absolute;
                left: 0px;
                top: -7px;
                text-align: left;
                padding-left: 10px;
                margin-bottom: 0px;
             span{
                 padding: 1px 6px;
                 font-size: 12px;
                 color: #644C9F;
                 background-color: #fff;
                 border: 1px solid #C0C0C0;
                 border-radius: 5px;
             }
            }
            }
            .box-li.sec-in-chart{
                .box.new-dsign-graph.issue-boxin{
                    box-shadow: 0px 2px 0px #DD6838;
                    border: 1px solid #DD6838;
                }
            }
    }
  
}

.progress-container{
    padding-top: 22px;
}