<div class="full-width container-side">
  <ul class="block-ul admin-stracture">
    <!-- <li class="box-li">
      <div class="box-haif-number">
        <div [hidden]="!pieChart" class="full-width">
          <div class="full-width relative">
            <canvas width="100" height="100" id="pie"
              style="position: absolute; left: 0; top: 0;">{{ pieChart }}</canvas>
          </div>
          <div class="full-width" style="
              padding-left: 115px;
              max-width: 100%;
              padding-top: 10px;
              font-weight: 600;
            "></div>
          <div class="col-md-6" style="
              margin-left: 100px;
              max-width: 100%;
              padding-top: 10px;
              font-weight: 600;
            ">
            <div>
              <span style="color: #dd4f36; font-weight: 700;">{{
                highRisk
              }}</span>
              High
            </div>
            <div>
              <span style="color: #ffcc00; font-weight: 700;">{{
                mediumRisk
              }}</span>
              Medium
            </div>
            <div>
              <span style="color: #98aa3a; font-weight: 700;">{{
                lowRisk
              }}</span>
              Low
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="box-li">
      <div class="box-haif-number">
        <div [hidden]="!doughnutChart" class="full-width">
          <div class="full-width relative">
            <canvas width="100" height="100" id="doughnut"
              style="position: absolute; left: 0; top: 0;">{{ doughnutChart }}</canvas>
          </div>
          <div class="full-width" style="
              padding-left: 115px;
              max-width: 100%;
              padding-top: 10px;
              font-weight: 600;
            "></div>
          <div class="col-md-6" style="
              margin-left: 100px;
              max-width: 100%;
              padding-top: 10px;
              font-weight: 600;
            ">
            <div>
              <span style="color: #6f42c1; font-weight: 700;">{{
                riskCount
              }}</span>
              Risk
            </div>
            <div>
              <span style="color: #dc3545; font-weight: 700;">{{
                issueCount
              }}</span>
              Issues
            </div>
            <div>
              <span style="color: #ffc107; font-weight: 700;">{{
                controlCount
              }}</span>
              Controls
            </div>
            <div>
              <span style="color: #98aa3a; font-weight: 700;">{{
                actionCount
              }}</span>
              Actions
            </div>
          </div>
        </div>
      </div>
    </li> -->

    <li class="box-li">

      <div class="box new-dsign-graph">
        <h3 class="head-top"><span>My Tasks</span></h3>
        <div class="full-width relative">
          <div class="canvas-pop">
            <canvas width="86" height="86" id="pie">{{ pieChart }}</canvas>
            <div class="count-bar">
                {{assignedCount + wipCount + wipCount + completedCount}}
              </div>
          </div>
          <div class="full-width graph-details-content">

            <div>
              <span class="count-sc" style="color: #ffcc00; font-weight: 700;">
                {{assignedCount}}
              </span>
              Assigned
            </div>
            <div>
              <span class="count-sc" style="color: #5a4296; font-weight: 700;">
                {{wipCount}}
              </span>
              Work in Progress
            </div>
            <div>
              <span class="count-sc" style="color: #98aa3a; font-weight: 700;">
                {{completedCount}}
              </span>
              Completed
            </div>

          </div>
        </div>
      </div>
    </li>
    <li class="box-li sec-in-chart">
        <div class="box new-dsign-graph issue-boxin">
            <h3 class="head-top"><span>Issues</span></h3>
        <div class="full-width relative">
          <div class="canvas-pop">
            <canvas width="86" height="86" id="chart">{{ doughnutChartSec }}</canvas>
            <div class="count-bar">
              {{highIssueCount + mediumIssueCount + lowIssueCount}}
            </div>
          </div>
          <div class="full-width graph-details-content">

            <div>
              <span class="count-sc" style="color: #dd6838; font-weight: 700;">
                {{highIssueCount}}
              </span>
              High
            </div>
            <div>
              <span class="count-sc" style="color: #ffcc00; font-weight: 700;">
                {{mediumIssueCount}}
              </span>
              Medium
            </div>
            <div>
              <span class="count-sc" style="color: #98aa3a; font-weight: 700;">
                {{lowIssueCount}}
              </span>
              Low
            </div>

          </div>
        </div>
      </div>
    </li>
    <li class="meeting-notes-sec">
      <div class="full-sec">
        <div class="haldside">
          <div class="labelsec">
            Update Meeting
          </div>
          <div class="date-sec">
            {{datesObj.updateMeetingDate ? (datesObj.updateMeetingDate | date:'dd-MM-yyyy' ) : "-"}}

          </div>
        </div>
        <div class="haldside">
          <div class="labelsec">
            Closing Meeting
          </div>
          <div class="date-sec">
            {{datesObj.closingMeetingDate ? (datesObj.closingMeetingDate | date:'dd-MM-yyyy' ) : "-"}}
          </div>
        </div>
      </div>
      <div class="progress-container full-width">
        <div class="full-width">
          <div class="halfin text-left bar-sec">
            Steps<br /> Completed
          </div>
          <div class="halfin text-right bar-det">
            {{completedCount}}/{{wipCount + assignedCount + completedCount}}
          </div>
        </div>
        <div class="full-width">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
              [style.width]="progressPercent + '%'"
              
              >

            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>