.img-res{
max-width: 100%;
}
.imgBoxin{
    padding: 10px;
    border: 1px solid rgba(203, 203, 203, 0.24);
    width: 100%;
    float: left;
}
.auditView{
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    list-style: none;
    li{
        float: left;
        margin-right:15px;
        &:first-child{
            width: 215px;
        }
        &:nth-child(2){
           float: left;
        }
        &:nth-child(3){
            width: 214px; 
        }
        &:nth-child(4){
            width: 198px; 
            cursor: pointer;
        }
        p{
            margin-bottom: 3px;
            color: #5a4296;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
        }
    }
}