.closeAtoCom {
  position: absolute;
  top: 0px;
  right: -2px;
  z-index: 9;
  background: none;
  border: none;
  outline: none;
  width: auto;

  img {
    width: 10px;
  }
}
.right-float {
  float: right;
  position: relative;
  .new-inactive {
    width: 22px;
    height: 22px;
    margin-top: 3px;
    margin-right: 0px;
    border-radius: 0px;
  }
  .hover-content {
    position: absolute;
    right: 8px;
    width: 77px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6d6d6d;
    font-size: 11px;
    border: 1px solid #7070707a;
    top: 100%;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 600;
    display: none;
    z-index: 9999;
    text-align: center;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #bbbbbb;
      position: absolute;
      right: 10px;
      top: -5px;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #ffffff;
      position: absolute;
      right: 11px;
      top: -4px;
    }
    &.members {
      width: 100px;
      right: 0px;
    }
  }
  &:hover {
    .hover-content {
      display: flex;
      &.members {
        display: none;
      }
    }
  }
}
.img-first {
  float: left;
  &:hover {
    .hover-content.members {
      display: flex;
    }
  }
}

.img-f1.in-active {
  display: none;
}
.invite-people {
  position: absolute;
  width: 434px;
  position: absolute;
  left: -45%;
  top: 36px;
  z-index: 999;
  border: 1px solid #6d6d6d7d;
  background-color: #fff;
  padding-left: 18px;
  padding-right: 18px;
  &.send-detail {
    background-color: #dd6838;
    border: 0px;
  }
  .error-mesg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 3px 18px;
    background-color: #dd6838;
    color: #fff;
    font-size: 12px;
  }
  &.secound {
    padding-left: 10px;
    padding-right: 5px;
    .tooltip {
      padding-top: 6px;
      margin-left: -5px;
    }
    .tooltip .tooltiptext.triple-word {
      min-width: 60px;
    }
  }
}
.btn-mail {
  font-size: 12px;
  background-color: #644c9f;
  border: 1px solid #644c9f;
  border-radius: 3px;
  padding: 3px 6px;
  color: #fff;
}
.btn-sec {
  width: 45px;
  float: left;
  margin-top: 8px;
}
.input-sec {
  width: calc(~"100% - 45px");
  float: left;
  .form-control {
    padding-left: 0px;
    border: 0px;
    color: #464646;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.invite-people .text-detail {
  color: #fff;
  font-size: 12px;
  margin: 4px 0px;
}

.date-details {
  position: relative;
  text-align: center;
  span {
    font-size: 11px;
    color: #adadad;
    padding: 4px 12px;
    border: 1px solid #ced4da;
    border-radius: 12px;
    font-weight: 600;
    background-color: #fff;
    z-index: 10;
    position: relative;
  }
  &:before {
    content: "";
    position: absolute;
    width: calc(~"100% + 20px");
    height: 1px;
    left: -10px;
    top: 11px;
    background-color: #ced4da;
    z-index: 5;
  }
}

.right-float {
  float: right;
  position: relative;
  .hover-content {
    position: absolute;
    right: -5px;
    width: 77px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6d6d6d;
    font-size: 11px;
    border: 1px solid #7070707a;
    top: 100%;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 600;
    display: none;
    z-index: 9999;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #bbbbbb;
      position: absolute;
      right: 10px;
      top: -5px;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #ffffff;
      position: absolute;
      right: 11px;
      top: -4px;
    }
    &.members {
      width: 100px;
      right: 0px;
    }
  }
  &:hover {
    .hover-content {
      display: flex;
      &.members {
        display: none;
      }
    }
  }
}
.close-icon-pop {
  cursor: pointer;
}

.new-in-tray {
  .new-active {
    opacity: 0.2;
  }
}
.img-first {
  float: left;
  &:hover {
    .hover-content.members {
      display: flex;
    }
  }
}
.left-side-15 {
  margin-left: 15px;
}
.stop-session {
  float: right;
  padding-top: 6px;
  z-index: 10;
  img {
    max-width: 29px;
  }
}
.hovercontentIn {
  position: absolute;
  right: -2px;
  width: 77px;
  height: 26px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #6d6d6d;
  font-size: 11px;
  border: 1px solid #7070707a;
  top: 100%;
  margin-top: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-weight: 600;
  opacity: 0;
  z-index: 9999;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #bbbbbb;
    position: absolute;
    right: 10px;
    top: -5px;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #ffffff;
    position: absolute;
    right: 11px;
    top: -4px;
  }
}
.stop-session:hover {
  .hovercontentIn {
    opacity: 1;
  }
}

.new-chatContainer .chat-showing ul li {
  margin-bottom: 10px;
}
