<div
  class="draggable-div old-chat"
  ngDraggable
  *ngIf="router.url != '/auditee-ChatRoom'"
>
  <div
    (click)="openPopupChat()"
    class="chat-popup"
    [ngClass]="{ 'd-none': validateFlag }"
  >
    <img src="../../../../../assets/img/phone_call.svg" alt="phone_icon" />
  </div>

  <div
    (click)="closePopupChat()"
    class="chat-popup-close"
    [ngClass]="{ 'd-block': validateFlag }"
  >
    <img src="../../../../../assets/img/close-form.svg" alt="close_icon" />
  </div>

  <ul class="chat-popup-options" [ngClass]="{ openPallet: validateFlag }">
    <li (click)="selectTab(0)">
      <img
        src="../../../../../assets/img/chat_comment.svg"
        alt="chat_comment_icon"
      />
    </li>
    <li (click)="selectTab(1)">
      <img
        src="../../../../../assets/img/chat-adduser.svg"
        alt="chat_adduser_icon"
      />
    </li>

    <li (click)="selectTab(2)">
      <img
        src="../../../../../assets/img/chat-whiteboard.svg"
        alt="whiteboard_icon"
      />
    </li>
    <li (click)="selectTab(3)">
      <img
        src="../../../../../assets/img/chat-export.svg"
        alt="chat_export_icon"
      />
    </li>
  </ul>

  <ul class="chat-popup-options" [ngClass]="{ openPallet: validateFlag }">
    <li (click)="selectTab(0)">
      <img
        src="../../../../../assets/img/chat_comment.svg"
        alt="chat_comment_icon"
      />
    </li>
    <li (click)="selectTab(1)">
      <img
        src="../../../../../assets/img/chat-adduser.svg"
        alt="chat_adduser_icon"
      />
    </li>

    <li (click)="selectTab(2)">
      <img
        src="../../../../../assets/img/chat-whiteboard.svg"
        alt="chat_whiteboard_icon"
      />
    </li>
    <li (click)="selectTab(3)">
      <img
        src="../../../../../assets/img/chat-export.svg"
        alt="chat_export_icon"
      />
    </li>
  </ul>
</div>

<div class="quick-action-btns" [ngClass]="{ 'd-block': validateActionBtnFlag }">
  <div class="minimize-close">
    <ul>
      <li>
        <img
          [ngClass]="{ 'd-none': validateFlagMinimize }"
          (click)="minimizeActionBtnExport()"
          class="minimize"
          alt="minimize_icon"
          src="../../../../../assets/img/Line_56.svg"
        />
        <img
          [ngClass]="{ 'd-inline-block': validateFlagMaximize }"
          (click)="maximizeActionBtnExport()"
          class="maximize"
          alt="export_icon"
          src="../../../../../assets/img/export-white.svg"
        />
      </li>
      <li (click)="closeActionBtnExport()">
        <img src="../../../../../assets/img/close-form.svg" alt="close_icon" />
      </li>
    </ul>
  </div>
  <tabset class="quick-action-tab-btns" #staticTabs>
    <tab>
      <ng-template tabHeading>
        <div class="full-width" (click)="tabOne()">
          <span class="full-width">
            <img
              class="ico-green"
              alt="speech_bubble_icon"
              src="../../../../../assets/img/chat_comment_oval_speech_bubble.svg"
            />
            <img
              class="ico-white"
              alt="comment_icon"
              src="../../../../../assets/img/chat_comment_oval_white.svg"
            />
            <strong>Chat</strong>
          </span>
        </div>
      </ng-template>
      <!-- <app-chat-popup></app-chat-popup> -->
    </tab>
    <tab>
      <ng-template tabHeading>
        <img
          class="ico-green"
          alt="video_icon"
          src="../../../../../assets/img/phone_call-vedio-call.svg"
        />
        <img
          class="ico-white"
          alt="phone_icon"
          src="../../../../../assets/img/phone_call-white.svg"
        />
        <strong>Video/Screenshare</strong>
      </ng-template>
      <app-video-call
        [auditeeMailId]="owner"
        [auditId]="auditId"
        [windowType]="windowType"
        *ngIf="NewVedioValidateFlag == 'ValidatorToken'"
      ></app-video-call>
    </tab>

    <tab>
      <ng-template tabHeading>
        <img
          class="ico-green"
          alt="whiteboard_icon"
          src="../../../../../assets/img/whiteboard_3.svg"
        />
        <img
          class="ico-white"
          alt="whiteboard2_icon"
          src="../../../../../assets/img/Whiteboard-white.svg"
        />
        <strong>Whiteboard</strong>
      </ng-template>
      <app-whiteboard></app-whiteboard>
    </tab>
    <tab>
      <ng-template tabHeading>
        <img
          class="ico-green"
          src="../../../../../assets/img/export.svg"
          alt="export_icon"
        />
        <img
          class="ico-white"
          alt="export2_icon"
          src="../../../../../assets/img/export-white.svg"
        />
        <strong>In-Tray</strong>
      </ng-template>
      <app-action-in-tray></app-action-in-tray>
    </tab>
  </tabset>
</div>

<div class="new-draggable-div" ngDraggable *ngIf="chatBall">
  <div
    class="new-chat-popup"
    (click)="NewOpenPopupChat()"
    [ngClass]="{ 'd-none': validateFlag }"
  >
    <img src="../../../../../assets/img/collab.svg" alt="collab_icon" />
    <div class="nottification-Box">
      <div class="center-box">0</div>
    </div>
  </div>
</div>

<div class="new-chat-tray" [ngClass]="{ 'd-block': NewValidateFlag }">
  <div class="new-top-bar">
    <div class="new-title">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            *ngIf="auditorChat"
            class="nav-item nav-link active auditor-title-text tooltip"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            (click)="NewCloseInTray()"
          >
            <span class="left" *ngIf="auditorChat">{{
              collabChatRoomData.title
            }}</span>
            <span class="countbar" *ngIf="auditorChat"
              ><span class="cntr">{{ auditorPendingTasks }}</span>
            </span>
            <span
              class="tooltiptext"
              *ngIf="collabChatRoomData.title?.length > 13"
            >
              {{ collabChatRoomData.title }}
            </span>
          </a>
          <a
            *ngIf="auditeeChat"
            class="nav-item nav-link auditee-title-text tooltip"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            (click)="NewCloseInTray()"
          >
            <ng-container *ngIf="auditorChat; else auditeeView">
              <span class="left" *ngIf="auditeeChat"
                >AUDITEE_{{ collabChatRoomData.title }}
              </span>
              <span class="countbar" *ngIf="auditeeChat"
                ><span class="cntr">{{ auditeePendingTasks }}</span></span
              >
              <span
                class="tooltiptext"
                *ngIf="collabChatRoomData.title?.length > 13"
              >
                AUDITEE_{{ collabChatRoomData.title }}
              </span>
            </ng-container>
            <ng-template #auditeeView>
              <span class="left" *ngIf="auditeeChat"
                >AUDITEE_{{ collabChatRoomData.title }}
              </span>
              <span class="countbar" *ngIf="auditeeChat"
                ><span class="cntr">{{ auditeePendingTasks }}</span></span
              >
            </ng-template>
          </a>
        </div>
      </nav>
    </div>
    <div class="new-action-control">
      <span class="close-icon-pop" (click)="NewClosePopupChat()"
        ><img src="../../../../../assets/img/close-form.svg" alt="close_icon"
      /></span>
      <span class="new-minimize" (click)="NewMinimizeActionBtn()"
        ><img src="../../../../../assets/img/Line_56.svg" alt="minimize_icon"
      /></span>
      <span class="new-maximize" (click)="NewMaximizeActionBtn()"
        ><img src="../../../../../assets/img/Line_56.svg" alt="maximize_icon"
      /></span>
    </div>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div
      *ngIf="auditorChat"
      [ngClass]="{ 'show active': auditorChat }"
      class="tab-pane fade"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="new-secandary-bar">
        <ul class="new-chat-options">
          <li class="new-vedio-call" (click)="NewVedioCallBtn('auditor')">
            <img
              class="new-inactive"
              alt="video_icon"
              src="../../../../../assets/img/new-video_call.svg"
            />
            <img
              class="new-active"
              alt="active_video_icon"
              src="../../../../../assets/img/new-active-video_call.svg"
            />
            <div class="hover-details">Video Call</div>
          </li>
          <li class="new-white-board" (click)="NewWhiteBoardBtn()">
            <img
              class="new-inactive"
              alt="new_whiteboard_icon"
              src="../../../../../assets/img/new-whiteboard.svg"
            />
            <img
              class="new-active"
              alt="active_Whiteboard_icon"
              src="../../../../../assets/img/new-active-whiteboard.svg"
            />
            <div class="hover-details">White Board</div>
          </li>

          <li class="new-in-tray" (click)="NewInTrayBtn()">
            <img
              class="new-inactive"
              alt="inactive_intray_icon"
              src="../../../../../assets/img/Intray-new.svg"
            />
            <img
              class="new-active"
              alt="active_intray_icon"
              src="../../../../../assets/img/Intray-new.svg"
            />
            <div class="hover-details">In-Tray</div>
          </li>
        </ul>
        <!-- <app-audit-chat-popup-sec> </app-audit-chat-popup-sec> -->

        <!-- COde from app-audit-chat-popup-->

        <div class="new-group-control">
          <!-- <p>{{ (roomDetails && roomDetails?.title ) ? (roomDetails?.title | slice:0:22) : roomDetails }} {{(roomDetails?.title && roomDetails?.title.length >= 21) ? '...' : '' }}</p> -->

          <div class="right-float">
            <div class="img-first relative img-f1">
              <img
                (click)="HoverBarBtn()"
                class="new-grpIco"
                alt="group_icon"
                src="../../../../../assets/img/new-group-ico.svg"
              />
              <div class="hover-content members">Group Members</div>
            </div>

            <img
              (click)="HoverCloseBarBtn()"
              class="new-grpCloseIco"
              alt="close_icon"
              src="../../../../../assets/img/close.svg"
            />
          </div>
          <!-- <div class="right-float">
            <a (click)="exportAuditorChat()">
              <img
                class="new-inactive"
                src="../../../../../assets/img/export-black.svg"
              />
            </a>
            <div class="hover-content">
              Export Chat
            </div>
          </div> -->
          <div
            class="new-group-hover-bar"
            [ngClass]="{ 'd-block': NewHoverBarValidateFlag }"
          >
            <!-- <div class="tooltip">
              <span class="tooltiptext triple-word">{{
                owner + " (Host)"
              }}</span>
              <img src="../../../../../assets/img/profile.png" />
              <span class="online green"></span>
            </div> -->
            <div class="tooltip" *ngFor="let host of collabChatRoomData.hosts">
              <span class="tooltiptext doble-word"
                >{{ host.username }}
                <!-- <span class="close-icon" id="remove-user">
                  <img
                    (click)="removeUser(host.username)"
                    src="../../../../../assets/img/close-form.svg"
                /></span> -->
              </span>

              <img
                src="../../../../../assets/img/profile.png"
                alt="profile_icon"
              />
              <span *ngIf="host.status" class="online green"></span>
              <span *ngIf="host.status === false" class="online gray"></span>
            </div>
            <!-- <button
              (click)="openSearch()"
              [ngClass]="{ 'd-none': validateFlag }"
              class="tooltip add-userbtn"
            >
              <img src="../../../../../assets/img/add_assignee.svg" />
            </button> -->

            <div class="new-autoCompleteDropdown">
              <!-- <img class=""src="../../../../../assets/img/close.svg"> -->
              <div class="ngAutocomplete" *ngIf="validateFlag">
                <ng-autocomplete
                  [data]="hostList"
                  (selected)="selectEvent($event)"
                  [searchKeyword]="keyword"
                  (inputChanged)="onChangeSearch($event)"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                >
                </ng-autocomplete>
                <button
                  (click)="closeSearch()"
                  class="closeAtoCom"
                  *ngIf="validateFlag"
                >
                  <img
                    src="../../../../../assets/img/close-icon.svg"
                    alt="close_icon"
                  />
                </button>
              </div>
              <ng-template
                #itemTemplate
                let-item
                style="color: black !important"
              >
                <a [innerHTML]="item.username"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="full-width new-chatContainer">
        <div class="chat-showing full-width" id="_message_div" #_message_div>
          <ul>
            <li class="date-details">
              <span>{{ createdAt | date: "EEEE, d MMMM" }}</span>
            </li>
            <ng-container *ngFor="let msg of auditorChatHistory">
              <li
                class="left-side"
                *ngIf="msg.username == owner; else userText"
              >
                <div class="chatname">
                  <h4>
                    <span> {{ msg.createdAt | date: "HH:mm" }} </span>
                    You
                  </h4>
                </div>
                <div class="chatportion user-side">
                  {{ msg.message }}
                </div>
              </li>
              <ng-template #userText>
                <li class="right-side">
                  <div class="chatname">
                    <h4>
                      {{ msg.username
                      }}<span>{{ msg.createdAt | date: "HH:mm" }}</span>
                    </h4>
                  </div>
                  <div class="chatportion admin-side">
                    {{ msg.message }}
                  </div>
                </li>
              </ng-template>
            </ng-container>
          </ul>
        </div>
        <div class="full-width chat-send-input">
          <div class="full-width relative outerborder">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="message"
              (keyup.enter)="submitMessageAuditor(message)"
            />
            <button class="btn btnsend" (click)="submitMessageAuditor(message)">
              <img
                class="new-sendmail"
                alt="sendmail_icon"
                src="../../../../../assets/img/sent_mail.svg"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{ 'show active': !auditorChat }"
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="new-secandary-bar">
        <ul class="new-chat-options">
          <li class="new-vedio-call" (click)="NewVedioCallBtn('auditee')">
            <img
              class="new-inactive"
              alt="inactive_video_icon"
              src="../../../../../assets/img/new-video_call.svg"
            />
            <img
              class="new-active"
              alt="active_video_icon"
              src="../../../../../assets/img/new-active-video_call.svg"
            />
            <div class="hover-details">Video Call</div>
          </li>
          <li class="new-white-board" (click)="NewWhiteBoardBtn()">
            <img
              class="new-inactive"
              alt="new_Whiteboard_icon"
              src="../../../../../assets/img/new-whiteboard.svg"
            />
            <img
              class="new-active"
              alt="active_whiteboard_icon"
              src="../../../../../assets/img/new-active-whiteboard.svg"
            />
            <div class="hover-details">White Board</div>
          </li>

          <li class="new-in-tray" (click)="NewInTrayBtn()">
            <img
              class="new-inactive"
              alt="inactive_intray_icon"
              src="../../../../../assets/img/Intray-new.svg"
            />
            <img
              class="new-active"
              alt="active_intray_icon"
              src="../../../../../assets/img/Intray-new.svg"
            />
            <div class="hover-details">In-Tray</div>
          </li>
        </ul>

        <div class="new-group-control">
          <div class="right-float left-side-15">
            <div class="img-first relative img-f1" *ngIf="gropmain">
              <img
                (click)="auditeGroupBtn()"
                class="new-grpIco"
                alt="new_group_icon"
                src="../../../../../assets/img/new-group-ico.svg"
              />
              <div class="hover-content members">Group Members</div>
            </div>

            <img
              (click)="CloseauditeGroupBtn()"
              *ngIf="gropClose"
              alt="close_icon"
              src="../../../../../assets/img/close.svg"
            />
          </div>
          <div class="right-float left-side-15">
            <div class="img-first relative" *ngIf="firstImg">
              <img
                src="../../../../../assets/img/invite-auditte.svg"
                (click)="showMail()"
                alt="auditee_invite_icon"
              />
              <div class="hover-content members">Invite Auditee</div>
            </div>
            <img
              *ngIf="secoundImg"
              alt="close_invite_icon"
              src="../../../../../assets/img/invite-auditte-close.svg"
              (click)="hideMail()"
            />
          </div>
          <div class="right-float">
            <a (click)="exportAuditeeChat()">
              <img
                class="new-inactive"
                alt="export_icon"
                src="../../../../../assets/img/export-black.svg"
              />
            </a>

            <div class="hover-content">Export Chat</div>
          </div>
          <div class="invite-people" *ngIf="isShown">
            <div class="full-width" *ngIf="inputDetail">
              <form>
                <div class="input-sec">
                  <input
                    type="email"
                    name="email"
                    [(ngModel)]="inviteMailId"
                    class="form-control"
                    placeholder="Enter the email id of the auditee to be invited."
                  />
                </div>
                <div class="btn-sec">
                  <button
                    type="submit"
                    class="btn btn-mail"
                    [disabled]="!inviteMailId"
                    (click)="sendMail()"
                  >
                    Invite
                  </button>
                </div>
                <div class="error-mesg" *ngIf="invalidMail">
                  Please enter a valid email
                </div>
              </form>
            </div>
            <p class="text-detail" *ngIf="resultSend">
              {{ resultMessage }}
            </p>
          </div>
          <div class="invite-people secound" *ngIf="auditgp">
            <div class="full-width">
              <div
                class="tooltip"
                *ngFor="let participant of collabChatRoomData.participants"
              >
                <span class="tooltiptext doble-word"
                  >{{ participant.username }}
                </span>

                <img
                  src="../../../../../assets/img/profile.png"
                  alt="profile_icon"
                />
                <span *ngIf="participant.status" class="online green"></span>
                <span
                  *ngIf="participant.status === false"
                  class="online gray"
                ></span>
              </div>
              <div class="stop-session relative">
                <a (click)="closeSession()">
                  <img
                    src="../../../../../assets/img/stop.svg"
                    alt="stop_icon"
                  />
                  <div class="hovercontentIn">Stop Session</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full-width new-chatContainer">
        <div class="chat-showing full-width" id="_message_div1" #_message_div1>
          <ul>
            <li class="date-details">
              <span>{{ createdAt | date: "EEEE, d MMMM" }}</span>
            </li>
            <ng-container *ngFor="let msg of auditeeChatHistory">
              <li *ngIf="msg.newJoined" class="date-details">
                <span>{{ msg.message }}</span>
              </li>
              <li
                class="left-side"
                *ngIf="!msg.newJoined && msg.username == owner; else userText"
              >
                <div class="chatname" *ngIf="msg.message">
                  <h4>
                    <span> {{ msg.createdAt | date: "HH:mm" }} </span>
                    You
                  </h4>
                </div>
                <div class="chatportion user-side" *ngIf="msg.message">
                  {{ msg.message }}
                </div>
              </li>
              <ng-template #userText>
                <li class="right-side" *ngIf="!msg.newJoined">
                  <div class="chatname" *ngIf="msg.message">
                    <h4>
                      {{ msg.username
                      }}<span>{{ msg.createdAt | date: "HH:mm" }}</span>
                    </h4>
                  </div>
                  <div class="chatportion admin-side" *ngIf="msg.message">
                    {{ msg.message }}
                  </div>
                </li>
              </ng-template>
            </ng-container>

            <li *ngIf="endSession" class="date-details">
              <span> Session Ended!</span>
            </li>
          </ul>
        </div>
        <div class="full-width chat-send-input">
          <div class="full-width relative outerborder">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="message"
              (keyup.enter)="submitMessageAuditee(message)"
            />
            <button class="btn btnsend" (click)="submitMessageAuditee(message)">
              <img
                class="new-sendmail"
                alt="mail_sent_icon"
                src="../../../../../assets/img/sent_mail.svg"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="new-vedio-chat" [ngClass]="{ 'd-block': NewVedioValidateFlag }">
  <div class="new-pop-top-bar">
    <img
      src="../../../../../assets/img/new-white-video_call_2.svg"
      alt="video_icon"
    />
    <p>Video Chat</p>
    <span (click)="NewCloseVedioCall()"
      ><img src="../../../../../assets/img/close-form.svg" alt="close_icon"
    /></span>
  </div>
  <app-video-call
    [auditeeMailId]="owner"
    [auditId]="auditId"
    [windowType]="windowType"
    *ngIf="NewVedioValidateFlag == 'ValidatorToken'"
  ></app-video-call>
</div>

<div
  class="new-vedio-chat new-intray"
  [ngClass]="{ 'd-block': NewInTrayValidateFlag }"
  *ngIf="NewInTrayValidateFlag"
>
  <div class="new-pop-top-bar">
    <img
      src="../../../../../assets/img/Intray-new-white.svg"
      alt="new_intray_icon"
    />
    <p>In-Tray</p>
    <span (click)="NewCloseInTray()"
      ><img src="../../../../../assets/img/close-form.svg" alt="close_icon"
    /></span>
    <!-- <span>
        <img src="../../../../../assets/img/add-icon-plus.svg" />
      </span> -->
  </div>
  <app-intray-documents-window
    [auditId]="auditId"
    [roomName]="roomName"
    *ngIf="NewInTrayValidateFlag == 'ValidatorToken'"
  ></app-intray-documents-window>
  <!-- <div class="new-chat-popup-maincontainer">

    <h3>Documents in the room</h3>

    <div class="new-current-userlist">
      <ul>
        <li>
          <div class="new-doc-ico" (click)="NewChatRoomBtn()">
            <img src="../../../../../../assets/img/pdf-ico.svg" />
            <p>Audit Announcement Message Template v2.pdf</p>
          </div> 
          <div class="new-icon-delete">
            <a>
              <img src="../../../../../assets/img/delete-bin.svg" />
            </a>
          </div>
        </li>

        <li>
          <div class="new-doc-ico">
            <img src="../../../../../../assets/img/pdf-ico.svg" />
            <p>Message Template v2.pdf</p>
          </div> 
          <div class="new-icon-delete">
            <a>
              <img src="../../../../../assets/img/delete-bin.svg" />
            </a>
          </div>
        </li>

        <li>
          <div class="new-doc-ico">
            <img src="../../../../../../assets/img/pdf-ico.svg" />
            <p>Audit Announcement.pdf</p>
          </div> 
          <div class="new-icon-delete">
            <a>
              <img src="../../../../../assets/img/delete-bin.svg" />
            </a>
          </div>
        </li>

        <li>
          <div class="new-doc-ico">
            <img src="../../../../../../assets/img/pdf-ico.svg" />
            <p>Audit Announcement Message Template v2.pdf</p>
          </div> 
          <div class="new-icon-delete">
            <a>
              <img src="../../../../../assets/img/delete-bin.svg" />
            </a>
          </div>
        </li>

        <li>
          <div class="new-doc-ico">
            <img src="../../../../../../assets/img/pdf-ico.svg" />
            <p>Audit Announcement Message Template v2.pdf</p>
          </div> 
          <div class="new-icon-delete">
            <a>
              <img src="../../../../../assets/img/delete-bin.svg" />
            </a>
          </div>
        </li>
      </ul>
    </div>

  </div> -->
</div>

<div
  class="new-vedio-chat new-WhiteBoard"
  [ngClass]="{ 'd-block': NewWhiteBoardValidateFlag }"
>
  <div class="new-pop-top-bar">
    <img
      src="../../../../../assets/img/new-white-whiteboard.svg"
      alt="whiteboard_icon"
    />
    <p>Whiteboard</p>
    <span (click)="NewCloseWhiteBoard()"
      ><img src="../../../../../assets/img/close-form.svg" alt="close_icon"
    /></span>
  </div>
  <app-whiteboard-new></app-whiteboard-new>
</div>

<!-- <div class="new-vedio-chat new-docRoom" [ngClass]="{ 'd-block': NewChatRoomValidateFlag }">
  <div class="new-pop-top-bar">
      <<img src="../../../../../assets/img/new-white-video_call_2.svg">
      <p>Video Chat</p> 
      <span (click)= "NewCloseDocRoom()"><img src="../../../../../assets/img/close-icon.svg"></span>
  </div>
  <app-pdf-annotation></app-pdf-annotation>
</div> -->
