.agenda-section {
    margin-top: 20px;
}

@media (max-width:480px) {
    .pop-up-form .tab-section-container .tabContent-box .xs-audit-scope {
        margin-bottom: 20px;
    }
}
.btnLink{
    margin: 20px;
    float: right;
}
.duplicate-btn-form a.dupIcoHover:not([href]):hover{
    color: #fff;
}

.mar-bt-20{
    margin-bottom: 15px;
}
.medium {
	background-color:  #97a849;
	border: 1px solid #97a849;
}

.low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.critical {
  background-color: #de6441;
  border: 1px solid #de6441;
}

.user-text{
  visibility: hidden;
  width: 80px;
  background-color: #664da0;
  box-shadow: 0 1px 6px rgba(0,0,0,.16);
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 43%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.attch-tooltips:hover{
  .user-text{
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      img{
          margin: auto;
          display: inline-block;
          width: 12px;
          padding-bottom: 0px;
      }
  }
}

.selectcnl option {
background-color: #fff;
color: #6d6d6d;
}