<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleFive">
  <div class="close-form" (click)="closeModal(true)">
    <img src="../../../../../assets/img/close-form.svg" alt="Close" />
  </div>
  <div class="full-width from-heading-box relative" #myHandleFive>
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Audit Announcement :</span>
      </h4>
    </div>

    <div class="r-number">
      <p class="text-design"></p>
    </div>

    <div class="icons-in">
      <ul>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
              alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li> -->
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
              alt="Print"
          /></a>
          <!-- <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          > -->
          <!-- print click added by Abu - 16-09-2020 start -->
          <a href="javascript:void(0);" class="dupIcoHover" (click)="print()"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
           <!-- print click added by Abu - 16-09-2020 end -->
        </li>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="auditAnnouncementForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="periodInScope"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Opening Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="openingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Closing meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              [value]="closingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row dvsn-section">
                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Text</label>
                            <textarea
                              formControlName="text"
                              style="
                                border: 0;
                                line-height: initial;
                                min-height: 70px;
                                height: 100%;
                              "
                              contenteditable="true"
                            >
Dear colleagues, As already mentioned, I invite you to participate in the kick-off meeting of the planned internal audit on the xyz. This audit is an important part of the continuous efforts to improve our organization. The objective of this meeting is to provide you with further information (please also see attached Planning Memorandum), and clarify your open questions. Please feel free to designate key persons of your team, if required.</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row agenda-section dvsn-section">
                      <div class="xs-audit-scope audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Agenda</label>
                            <textarea
                              formControlName="agenda"
                              style="
                                border: 0;
                                line-height: initial;
                                min-height: 125px;
                                height: 100%;
                              "
                              contenteditable="true"
                            >
Please find below, the agenda:
                                Audit Scope
                                Relevant Audit Tasks
                                Audit Process
                                Interview Plan
                                Next Steps
                           Q&amp;A</textarea
                            >
                          </div>
                        </div>
                      </div>

                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Text 2</label>
                            <textarea
                              formControlName="text2"
                              style="
                                border: 0;
                                line-height: initial;
                                min-height: 125px;
                                height: 100%;
                              "
                              contenteditable="true"
                            >
Further, may I ask you to support us with following documents/preparation (please see also attached pdf) required for start of the audit fieldwork until 15 October 2020, eob:</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Closing</label>
                              <textarea
                                formControlName="closing"
                                style="min-height: 70px; height: 100%"
                                class="border-0 p-3"
                                contenteditable="true"
                              >
In the meantime, if you have any questions about this audit, please do not hesitate to contact me.
                              
Best regards</textarea
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="secound">
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="
                                attachedFiles?.length > 0 ||
                                closeAttachment == false
                              "
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Search popup open added by Abu - 18-09-2020 start -->

                   <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                   <div class="add-file" (click)="addnewFile()">
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png" alt=""
                              width="20px"
                            />Add New</label
                          >     
                    </div>
                    <div
                    class="attch-tooltips pdf-file"
                    *ngFor="let item of attachedFiles; let i = index"
                  >
                    <img
                      
                      src="../../../../../assets/img/pdf.svg"
                      alt=""
                      width="35px"
                      *ngIf="item.extension === 'pdf'"
                    />
                    <img
                      
                      src="../../../../../assets/img/word.svg"
                      alt=""
                      width="35px"
                      *ngIf="
                        item.extension === 'docx' || item.extension === 'doc'
                      "
                    />
                    <img
                      
                      src="../../../../../assets/img/excel.svg"
                      alt=""
                      width="35px"
                      *ngIf="
                        item.extension === 'xlsx' || item.extension === 'csv'
                      "
                    />
                    <img
                      
                      src="../../../../../assets/img/search_icon.svg"
                      alt=""
                      width="35px"
                      *ngIf="
                        item.extension === 'png' || item.extension === 'jpeg'
                      "
                    />

                    <label>{{ item.documentName| slice:0:10 }}..</label>

                    <div
                      class="user-text"
                    >
                      <span class="close-icon" id="remove-user">
                        Remove
                        <img
                          (click)="removeAttachment(item, i)"
                          alt="delete"
                          src="../../../../../assets/img/close-form.svg"
                        />
                      </span>
                    </div>
                  </div>
                  </div>

                  <!-- Search popup open added by Abu - 18-09-2020 end -->


                  <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                   

                    <!-- <div class="add-file">
                      <ngx-file-drop
                        dropZoneLabel="Drop files here"
                        (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)"
                        (onFileLeave)="fileLeave($event)"
                      >
                        <ng-template
                          ngx-file-drop-content-tmp
                          let-openFileSelector="openFileSelector"
                        >
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()"
                              alt=""
                              width="20px"
                            />Add New</label
                          >
                        </ng-template>
                      </ngx-file-drop>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <button class="big-button purple-btn right-side">Send</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button> -->
              </div>
            </tab>
            <!-- <tab>
              <ng-template tabHeading>
                <span>Proposed Interview Schedule</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <table
                    id="interveiwSchduleTableTwo"
                    class="display fullDataTable"
                    style="width: 100%"
                  >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Subject/Topic</th>
                        <th>Location</th>
                        <th>Present from Auditee</th>
                        <th>Comment</th>
                        <th class="text-center action-block">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <td id="">15/04/2020</td>
                        <td id="">10:00</td>
                        <td id="">Arrival for OM</td>
                        <td id="">Zurich</td>
                        <td id="">Amelia</td>
                        <td id="" id="">NICE</td>
                        <td id="" class="align">
                          <div
                            class="dropdown show action-dropdown position-relative"
                          >
                            <a
                              class="btn dropdown-toggle"
                              data-boundary="dd"
                              role="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <span class="dot"></span>
                              <span class="dot"></span>
                              <span class="dot"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-text">
                              <ul>
                                <li>
                                  <a class="edit-btn" (click)="editTable(a, i)">
                                    <img
                                      src="assets/img/edit_button.svg"
                                      alt="Edit"
                                    />
                                    <span>Edit</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="delete-btn">
                                    <img
                                      src="assets/img/delete_button.svg"
                                      alt="Delete"
                                    />
                                    <span>Delete</span>
                                  </a>
                                </li>
                                <li>
                                  <a class="duplicate-btn">
                                    <img
                                      src="assets/img/duplicate-form.svg"
                                      alt="Duplicate"
                                    />
                                    <span>Duplicate</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="full-width button-container">
                <a class="big-button" (click)="addStepOne()" type="submit"
                  >Add Step</a
                >
              </div>
            </tab> -->
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" [value]="companyName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" [value]="location" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" [value]="buName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" [value]="bProcessName" disabled/>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent on</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{
                                dateInputFormat: 'DD-MM-YYYY',
                                adaptivePosition: true
                              }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared By</label>
                          <input class="form-control" formControlName="preparedBy" type="text" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent By</label>
                          <input class="form-control" type="text" disabled />
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>


<!-- Search popup added by Abu - 18-09-2020 Start -->
  <div class="new-chat-popup-maincontainer add-document-new p-0" *ngIf="editsearchDocument">
    <div class="close-form" (click)="closeSearch()">
      <img src="../../../../../assets/img/close-form.svg">    
    </div>
    <div class="intray-search">
      <div class="for-auditor-search">
        <div class="dataTables_filter form-group">
          <label>
            <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
              [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
          </label>
        </div>
        <div class="search-filter-box">
  
          <tabset class="tab-block filteroptions" #staticTabs>
            <tab>
              <ng-template tabHeading>
                <h3>All Results</h3>
              </ng-template>
              <div class="multiSearchFilters">
                <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings">
                </ng-multiselect-dropdown> 
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <h3>PBC</h3>
              </ng-template>
              <div class="multiSearchFilters">
                <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings">
                </ng-multiselect-dropdown>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <h3>DMS</h3>
              </ng-template>
              <div class="multiSearchFilters">
                <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings">
                </ng-multiselect-dropdown>
              </div>
            </tab>
          </tabset>
  
          <div class="upload-submit text-center">
            <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
          </div>
          <div class="filteroptions upload-load-file-block">
            <h3>Upload from Local machine</h3>
            <div class="button-style mr-left-rght">
              <label for="myFile">Browse and Upload</label>
            <input type="file" class="custom-file-input" id="myFile" class="custom-file-input" (change)="onFilechanged($event)" accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">
          </div>
          </div>
        </div>
      </div>
      <div class="for-auditor-search" style="display: none;">
        <div class="search-filter-box">
          <div class="filteroptions">
            <h3>Upload file from Local machine</h3>
            <input type="file" class="custom-file-input">
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Search popup added by Abu - 18-09-2020 end -->
</div>