<div class="full-width box-container yellow-border">
  <div class="box-haif-number">
    <div class="number-container">
      <p class="number">{{ totalUnassignedControls }}</p>
    </div>
    <div class="text-container">
      <p class="text">Unassigned <br />Control</p>
    </div>
  </div>
</div>
