<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="Close" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4 class="field-work-h4"><span>WorkStep:</span> {{ fwName }}</h4>
    </div>

    <div class="r-number">
      <p class="text-design">{{ auditFw_id }}</p>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
              alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
              alt="Print"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="fieldWorkForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              formControlName="performance_period"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Audit Program ID</label>
                          <div class="full-width relative">
                            <p>AP001</p>
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="assignees form-group">
                          <label>Tester</label>
                          <div class="a-team">
                            <ul class="teamListUl" *ngIf="testerArr">
                              <li *ngFor="let t of testerArr">
                                <div class="listPeopleName">
                                  {{ t | titlecase }}
                                </div>
                                <img
                                  src="../../../../../assets/img/profile-dummy.png"
                                  alt=""
                                />
                              </li>
                            </ul>
                            <label *ngIf="!mixArr">No tester assigned</label>
                          </div>
                        </div>
                      </div>

                      <div class="full-width col-sm">
                        <div class="assignees form-group">
                          <label>Reviewer</label>
                          <div class="a-team">
                            <ul class="teamListUl" *ngIf="reviewerArr">
                              <li *ngFor="let r of reviewerArr">
                                <div class="listPeopleName">
                                  {{ r | titlecase }}
                                </div>
                                <img
                                  src="../../../../../assets/img/profile-dummy.png"
                                  alt=""
                                />
                              </li>
                            </ul>
                            <label *ngIf="!mixArr">No Reviewer assigned</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Sign Off Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placement="bottom"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="afw_signoff_period"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Audit Program Title</label>
                          <div class="full-width relative">
                            <p>Financial Compliance Review</p>
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm"></div>
                    </div>

                    <div class="row dvsn-section">
                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>WorkStep Procedure</label>
                            <textarea
                              formControlName="afw_test_procedure"
                              class="border-0"
                              contenteditable="true"
                            >
Check lists of all suppliers with automatic payment release versus previous years lists and sample results</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="status-box mt-3 mb-3">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Status</label>
                            <select
                              class="form-control"
                              formControlName="afw_status"
                            >
                              <option>Select an Option</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="clearfix">
                            <div class="form-group pl-3 pr-3 m-0 mt-2">
                              <label>Results</label>
                              <textarea
                                formControlName="afw_results"
                                contenteditable="true"
                                class="p-3"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="secound">
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="attachedFiles?.length > 0"
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="full-width question-container-1"
                    *ngIf="attachedFiles?.length > 0 || openAttachment"
                  >
                    <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />
                      <label>{{ item.relativePath }}</label>
                      <div class="user-text"></div>
                      <div class="user-text">
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div>
                    </div>
                    <div class="add-file">
                      <ngx-file-drop
                        dropZoneLabel="Drop files here"
                        (onFileDrop)="dropped($event)"
                      >
                        <ng-template
                          ngx-file-drop-content-tmp
                          let-openFileSelector="openFileSelector"
                        >
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()"
                              alt=""
                              width="20px"
                            />Add New</label
                          >
                        </ng-template>
                      </ngx-file-drop>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
