<div class="sidebar-container toggled" [class.toggled]="classToggled">
    <div class="menu-list">
    <ul class="nav flex-column flex-nowrap navHover">
           <li class="nav-item">
                <a class="nav-link text-truncate collasped-behaviour"  [routerLink]="['/rcm/dashboard']" routerLinkActive='active-class' data-toggle="collapse" data-target="#" (click)="liClick()"> 
                    <span>
                      <img src="../../../assets/img/dashboard.svg" alt="dashboard_icon">
                    </span>
                    <span class="content d-sm-inline hide-element">
                       Dashboard
                     </span>
                   </a>
               <a class="nav-link text-truncate normal-behaviour"  [routerLink]="['/rcm/dashboard']" routerLinkActive='active-class' (click)="liClick()"> 
                 <span>
                   <img src="../../../assets/img/dashboard.svg" alt="dashboard_icon">
                 </span>
                 <span class="content d-sm-inline hide-element">
                    Dashboard
                  </span>
                </a>
                <div class="collapse first menu-sublinks onlyOneLink" id="submenu6" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                      <li class="nav-item">
                        <a class="nav-link py-0"  [routerLink]="['/rcm/dashboard']" routerLinkActive='active' (click)="liClick()">
                         <span class="content">Dashboard</span>
                          </a>
                      </li>
                     
                    </ul>
                </div>
           </li>
           <li class="nav-item">
              <a class="nav-link collapsed text-truncate clickSubmenu"  [routerLink]="['/rcm/internal-audit']" routerLinkActive='active-class' data-toggle="collapse" data-target="#">
                  <span>
                      <img src="../../../assets/img/business-universe.svg" alt="universe_icon">
                    </span>
                    <span class="content d-sm-inline hide-element">
                        Internal Audit
                     </span>
                     <span class="right content hide-element">
                        <img src="../../../assets/img/ic-expand-white.svg" alt="expand_icon">
                     </span>
              </a>
              <div class="collapse first menu-sublinks" id="submenu1" aria-expanded="false">
                  <ul class="flex-column pl-2 nav">
                    <li class="nav-item">
                        <a class="nav-link py-0 list-heading">
                          <span>Internal Audit</span>
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-0"  [routerLink]="['/rcm/internal-audit/audit-universe']" routerLinkActive='active' (click)="liClick()">
                       <span class="content">Audit Universe</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link py-0"  [routerLink]="['/rcm/internal-audit/annual-audit-planning']" routerLinkActive='active' (click)="liClick()">
                         <span class="content">Annual Audit Planning</span>
                          </a>
                      </li> -->

                      <!-- <li class="nav-item">
                        <a class="nav-link py-0"  [routerLink]="['/rcm/internal-audit/engagement-planning']" routerLinkActive='active' (click)="liClick()">
                         <span class="content">Agile Audit Space</span>
                          </a>
                      </li> -->

                      <li class="nav-item">
                        <a class="nav-link py-0"  [routerLink]="['/rcm/internal-audit/engagement-planning']" routerLinkActive='active' (click)="liClick()">
                         <span class="content">Engagement Planning</span>
                          </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link py-0"  [routerLink]="['/rcm/agile-audit-space']" routerLinkActive='active' (click)="liClick()">
                         <span class="content">Agile Audit Space</span>
                          </a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link py-0"  [routerLink]="['/rcm/internal-audit/reporting']" routerLinkActive='active' (click)="liClick()">
                           <span class="content">Reporting</span>
                            </a>
                    </li>
                   
                  </ul>
              </div>
          </li>
          <li class="nav-item">
                <a class="nav-link text-truncate collasped-behaviour" [routerLink]="['/rcm/risk-and-control-management']" routerLinkActive='active-class' data-toggle="collapse" data-target="#" (click)="liClick()"> 
                    <span>
                      <img src="../../../assets/img/risk-control.svg" alt="rcm_icon">
                    </span>
                    <span class="content d-sm-inline hide-element">
                        Risk & Control Management
                     </span>
                   </a>
              <a class="nav-link text-truncate normal-behaviour" [routerLink]="['/rcm/risk-and-control-management']" routerLinkActive='active-class' (click)="liClick()"> 
                <span>
                  <img src="../../../assets/img/risk-control.svg" alt="risk_icon">
                </span>
                <span class="content d-sm-inline hide-element">
                    Risk & Control Management
                 </span>
               </a>
               <div class="collapse first menu-sublinks onlyOneLink" id="submenu8" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                  <li class="nav-item">
                    <a class="nav-link py-0"  [routerLink]="['/rcm/risk-and-control-management']" routerLinkActive='active' (click)="liClick()">
                     <span class="content">Risk & Control Management</span>
                      </a>
                  </li>
                 
                </ul>
            </div>
          </li>
          <li class="nav-item">
                <a class="nav-link text-truncate collasped-behaviour" [routerLink]="['/rcm/risk-assessment']" routerLinkActive='active-class' data-toggle="collapse" data-target="#" (click)="liClick()"> 
                    <span>
                      <img src="../../../assets/img/risk-assessment.svg" alt="risks_icon">
                    </span>
                    <span class="content d-sm-inline hide-element">
                        Risk Assessment
                     </span>
                   </a>
              <a class="nav-link text-truncate normal-behaviour" [routerLink]="['/rcm/risk-assessment']" routerLinkActive='active-class' (click)="liClick()"> 
                <span>
                  <img src="../../../assets/img/risk-assessment.svg" alt="riskss_icon">
                </span>
                <span class="content d-sm-inline hide-element">
                    Risk Assessment
                 </span>
               </a>
               <div class="collapse first menu-sublinks onlyOneLink" id="submenu3" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                  <li class="nav-item">
                    <a class="nav-link py-0"  [routerLink]="['/rcm/risk-assessment']" routerLinkActive='active' (click)="liClick()">
                     <span class="content">Risk Assessment</span>
                      </a>
                  </li>
                 
                </ul>
            </div>
          </li>
          <li class="nav-item">
                <a class="nav-link text-truncate collasped-behaviour" [routerLink]="['/rcm/control-testing']" routerLinkActive='active-class' data-toggle="collapse" data-target="#" (click)="liClick()"> 
                    <span>
                      <img src="../../../assets/img/control-testing.svg" alt="controltesting_icon">
                    </span>
                    <span class="content d-sm-inline hide-element">
                        Control Testing
                     </span>
                   </a>
              <a class="nav-link text-truncate normal-behaviour" [routerLink]="['/rcm/control-testing']" routerLinkActive='active-class' (click)="liClick()"> 
                <span>
                  <img src="../../../assets/img/control-testing.svg" alt="controltesting1_icon">
                </span>
                <span class="content d-sm-inline hide-element">
                    Control Testing
                 </span>
               </a>
               <div class="collapse first menu-sublinks onlyOneLink" id="submenu4" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                  <li class="nav-item">
                    <a class="nav-link py-0"  [routerLink]="['/rcm/control-testing']" routerLinkActive='active' (click)="liClick()">
                     <span class="content">Control Testing</span>
                      </a>
                  </li>
                 
                </ul>
            </div>
          </li>
          <li class="nav-item">
                <a class="nav-link text-truncate collasped-behaviour" [routerLink]="['/rcm/case-management']" routerLinkActive='active-class' data-toggle="collapse" data-target="#" (click)="liClick()"> 
                    <span>
                      <img src="../../../assets/img/case-management.svg" alt="case_mgmt_icon">
                    </span>
                    <span class="content d-sm-inline hide-element">
                        Case Management
                     </span>
                   </a>
              <a class="nav-link text-truncate normal-behaviour" [routerLink]="['/rcm/case-management']" routerLinkActive='active-class' (click)="liClick()"> 
                <span>
                  <img src="../../../assets/img/case-management.svg" alt="casemgmt_icon">
                </span>
                <span class="content d-sm-inline hide-element">
                    Case Management
                 </span>
               </a>
               <div class="collapse first menu-sublinks onlyOneLink" id="submenu5" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                  <li class="nav-item">
                    <a class="nav-link py-0"  [routerLink]="['/rcm/case-management']" routerLinkActive='active' (click)="liClick()">
                     <span class="content"> Case Management</span>
                      </a>
                  </li>
                 
                </ul>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link collapsed text-truncate"  [routerLink]="['/rcm/risk-library']" routerLinkActive='active-class' data-toggle="collapse" data-target="#submenu3">
                <span>
                    <img src="../../../assets/img/library.png">
                  </span>
                  <span class="content d-sm-inline">
                      Risk Library
                   </span>
                   <span class="right content">
                      <img src="../../../assets/img/ic-expand-white.svg">
                   </span>
            </a>
            <div class="collapse first" id="submenu3" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item"><a class="nav-link " [routerLink]="['#']" routerLinkActive='active-class'>
                      <span class="content">Risk Library Tree</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link "  [routerLink]="['#']" routerLinkActive='active-class'><span class="content">Add Category</span></a>
                    </li>
                </ul>
            </div>
        </li> -->
          <li class="nav-item admin-nav">
              <a class="nav-link collapsed text-truncate clickSubmenuOne"  [routerLink]="['/rcm/admin']" routerLinkActive='active-class' data-toggle="collapse" data-target="#">
                  <span>
                      <img src="../../../assets/img/admin.svg" alt="admin_icon">
                    </span>
                    <span class="content d-sm- hide-element">
                        Admin
                     </span>
                     <span class="right content hide-element">
                        <img src="../../../assets/img/ic-expand-white.svg" alt="expand_icon">
                     </span>
              </a>
              <div class="collapse first menu-sublinks" id="submenu2" aria-expanded="false">
                  <ul class="flex-column pl-2 nav">
                      <li class="nav-item">
                          <a class="nav-link py-0 list-heading">
                            <span>Admin</span>
                          </a>
                      </li>
                      <li class="nav-item"><a class="nav-link py-0" routerLinkActive='active-class' (click)="liClick()">
                        <span class="content">List-1</span></a></li>
                      <li class="nav-item">
                          <a class="nav-link py-0" [routerLink]="['#']" routerLinkActive='active-class' (click)="liClick()"><span class="content">List-2</span></a>
                      </li>
                  </ul>
              </div>
          </li>
   
        
       </ul>
      
        </div>
        <div class="expand-container">
          <img src="../../../assets/img/expand.svg" (click)="toggleField()" alt="toggle_icon">
      </div>
  </div>
  