@media (max-width:767px) {

    .buttons-question {
        width: 100%;
    }

    .division-3, .division-4 {
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-between;
        display: flex;
    }
}