<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="Close" />
  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Issue: </span> <b>{{ issueName }}</b>
      </h4>
    </div>

    <div class="r-number">
      <p class="text-design">{{ issueId }}</p>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
              alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
              alt="Print"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="fwIssueForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block" #issueBudgetSetup>
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="half-tab">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Status</label>
                        <select
                          class="form-control"
                          formControlName="issueStatus"
                          *ngIf="issueStatusMaster"
                        >
                          <option value="">Select status</option>
                          <option
                            *ngFor="let iStatus of issueStatusMaster"
                            [value]="iStatus.status"
                          >
                            {{ iStatus.status }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea
                          formControlName="issueDescription"
                          class="form-control description-text"
                        ></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Issue Type</label>
                        <select
                          class="form-control"
                          formControlName="issueType"
                          *ngIf="issueTypeMaster"
                        >
                          <option value="">Select issue type</option>
                          <option
                            *ngFor="let iType of issueTypeMaster"
                            [value]="iType.issueType"
                          >
                            {{ iType.issueType }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="full-width">
                      <div class="form-group">
                        <label>Control</label>
                        <input type="text" id="control" />
                      </div>
                    </div>
                  </div>
                  <div class="half-tab secound">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Review Comments</label>
                        <textarea
                          formControlName="reviewComments"
                          class="form-control potential-text"
                          placeholder="Write Response"
                        ></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Recommendation</label>
                        <textarea
                          formControlName="recommendation"
                          class="form-control potential-text"
                          placeholder="Write Recommendation!"
                        ></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Management Response</label>
                        <textarea
                          formControlName="managementResponse"
                          class="form-control potential-text m-response mb-1"
                          placeholder="Write Response"
                        ></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Priority</label>
                        <select
                          class="form-control"
                          formControlName="issuePriority"
                          *ngIf="issuePriorityMaster"
                        >
                          <option value="">Select issue priority</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button>
              </div>
            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Actions</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="row full-width">
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label>Action List</label>
                    <select
                      class="form-control"
                      (change)="addActions($event.target.value)"
                    >
                      <option selected [value]="">Select Action</option>
                      <option
                        *ngFor="let actions of filteredActions"
                        [value]="actions.actionId"
                      >
                        {{ actions.actionId }}-{{ actions.actionName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="full-width table-style">
                  <div class="full-width overflow-auto">
                    <table class="table">
                      <caption></caption>
                      <thead>
                        <tr>
                          <th scope="col">Action ID</th>
                          <th scope="col">Action Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Area</th>
                          <th scope="col">Status</th>
                          <th scope="col" class="text-centerng">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let actions of assignedActions">
                          <td>{{ actions.actionId }}</td>
                          <td>{{ actions.actionName }}</td>
                          <td>{{ actions.actionDescription }}</td>
                          <td>{{ actions.area }}</td>
                          <td>{{ actions.actionStatus }}</td>
                          <td class="edit-delete-icon normal-table">
                            <a
                              (click)="deleteAction(actions.actionId)"
                              class="delete-btn"
                            >
                              <img
                                src="assets/img/delete_button.svg"
                                alt="Delete"
                              />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Controls</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="row full-width">
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label>Control List</label>
                    <select
                      class="form-control"
                      (change)="addControl($event.target.value)"
                    >
                      <option selected [value]="">Select Control</option>
                      <option
                        *ngFor="let controls of filteredControls"
                        [value]="controls.controlId"
                      >
                        {{ controls.controlId }}-{{ controls.controlName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="full-width table-style">
                  <div class="full-width overflow-auto">
                    <table class="table">
                      <caption></caption>
                      <thead>
                        <tr>
                          <th scope="col">Control ID</th>
                          <th scope="col">Control Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Control Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Key Control</th>
                          <th scope="col" class="text-centerng">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let control of assignedControls">
                          <td>{{ control.controlId }}</td>
                          <td>{{ control.controlName }}</td>
                          <td>{{ control.controlDescription }}</td>
                          <td>{{ control.controlType }}</td>
                          <td>{{ control.controlDepartment }}</td>
                          <td>Key Control</td>
                          <td class="edit-delete-icon normal-table">
                            <a
                              (click)="deleteControl(control.controlId)"
                              class="delete-btn"
                            >
                              <img
                                src="assets/img/delete_button.svg"
                                alt="Delete"
                              />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              formControlName="dateIdentified"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <!-- ######## updated 05-03-2020 start ########-->
                          <label>Approved On</label>
                          <!-- ######## updated 05-03-2020 ends ########-->
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified By</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identifier ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <!-- ######## updated 05-03-2020 start ########-->
                          <label>Approved By</label>
                          <!-- ######## updated 05-03-2020 ends ########-->
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <!-- ######## updated 05-03-2020 start ########-->
                          <label>Approved ID</label>
                          <!-- ######## updated 05-03-2020 ends ########-->
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
