.elements-section {
    float: left;
    margin: 30px 0 0 0;
    padding: 30px 30px;
    width: 100%;
    background: #ffffff;
}



.big-button {
    margin: 0;
    padding: 13px 30px;
    width: auto;
    border-radius: 22.5px;
    background-color: @primary_blue;
    color: @white;
    font-size: @font_15;
    font-weight: @semibold;
    text-transform: uppercase;
    outline: none;
    border: none;

        &:focus {
            outline: none;
        }

        &:hover {
            box-shadow: 0px 0px 10px @primary_blue;
        }

    &.purple-btn {
        background: @primary_color;

        &:hover {
            box-shadow: 0px 0px 10px @primary_color;
        }
    }

    &.orange-btn {
        background: @orange;

        &:hover {
            box-shadow: 0px 0px 10px @orange;
        }
    }


    &.yellow-btn {
        background: @yellow;

        &:hover {
            box-shadow: 0px 0px 10px @yellow;
        }
    }

    &.green-btn {
        background: @green;

        &:hover {
            box-shadow: 0px 0px 10px @green;
        }
    }

}


.form-group{

    label {
        margin: 0 0 3px 0;
        padding: 0px;
        width: 100%;
        color: @font_grey;
        font-weight: @semibold;
        font-size: @font_12;
    }

    textarea {
        margin: 0;
        padding: 5px;
        background-color: @white;
        border-radius: 2.75px;
        border: 1px solid @form-close-bg;
        font-size: @font_12;
        color:@text_gray;
        width: 100%;
        outline: none;
        resize: none;

        &:focus {
            outline: none;
            border-color:@form-close-bg;
            box-shadow: none;
        }
    }


    select {
        margin: 0;
        padding: 0;
        background-color: @white;
        border-radius: 2.75px;
        border: 1px solid @form-close-bg;
        font-size: @font_12;
        color: @text_gray;
        width: 100%;
        outline: none;

        &:focus {
            outline: none;
            border-color:@form-close-bg;
            box-shadow: none;
        }
    }

    textarea{
        margin: 0;
        padding: 0;
        resize: none;

    }
    input {
        margin: 0;
        padding: 5px;

        background-color: @white;
        border-radius: 2.75px;
        border: 1px solid @form-close-bg;
        font-size: @font_12;
        color: @text_gray;
        width: 100%;
        outline: none;
        &:focus {
            outline: none;
            border-color:@form-close-bg;
            box-shadow: none;
        }

    }

        
 




    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: @green;
          }

        &:focus + .slider {
            box-shadow: 0 0 1px @green;
          }

        &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

    }

    /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @font_grey;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: @white;
        -webkit-transition: .4s;
        transition: .4s;
      }

    /* Rounded sliders */
    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }

    }    

  }


  }





/* The custom radio */
.custom-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    /* Show the indicator (dot/circle) when checked */
  &:checked ~ .checkmark:after {
    display: block;
  }

  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: @text_gray;
  }

  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: @white;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: @text_gray;
    border-radius: 50%;

    /* Create the indicator (the dot/circle - hidden when not checked) */
  &:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Style the indicator (dot/circle) */
  &:after {
    top: 4px;
    left: 4px;
    width: 13px;
    height: 13px;
     border-radius: 50%;
    background: @green;
}


  }


  }
  

}

// toggle button

.onoffswitch {
    position: relative; width: 43px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid @switch-border; border-radius: 20px;
    margin-bottom: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 19px;
    font-size: @font_10; color: white; font-weight: @bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 4px;
    background-color: @green; color: @white;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 2px;
    background-color: @white; color: @text_gray;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 16px; margin: 3px;
    background: @white;
    position: absolute; top: 0; bottom: 0;
    right: 20px;
    border: 2px solid @switch-border; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.right-side{
    float: right;
}