.login-body-bg {
  background-color: @bg_gray;
  height: 100%;
  position: relative;
}
.login-box {
  height: 100vh;
}

.login-bg {
  background-image: linear-gradient(269.89deg, #644c9f 0%, #4f368d 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .06);
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.login-left-pane  {
  position: absolute;
  top: 40%;
  transform: translateY(-45%);
  left: 0;
  right: 0;
  margin: auto;
}
.carousel {
  outline: none;
}

.carousel-indicators {
  outline: none;
  top: 105%;
  position: absolute;
  transform: translateY(105%);
}

.login-white-bg {
  background-color: #fff;
  position: relative;

  .form-signin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

.login-logo {
  text-align: center
}

.login-white-bg h4 {
  margin-bottom: 30px;
  font-size: @font_25;
  color: @font_grey;
}

.login-logo img {
  display: inline-block;
}

.carousel-control-prev {
  display: none !important;
}

.first-slide-content {
  padding: 0px 100px;
  margin-top: 30px;
}

.first-slide-content h4 {
  color: @white;
  margin-bottom: 20px
}

.first-slide-content p {
  color: @white;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  border-radius: 50%;
  background-color: @indicator-circle;
}

.carousel-indicators .active {
  background-color: @white;
}

.carousel-indicators li {
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    background-color: @white;
  }
}

.carousel-indicators li {
  &:after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    content: "";
    background-color: @white;
  }
}

.form-control:focus {
  border-color: @primary_color;
  box-shadow: none;
}

.form-signin {
  width: 400px;
  margin: auto
}

.login-btn {
  background-color: @primary_color;
  border: none;
  border-radius: 4px;
  height: 50px;
  overflow: hidden;
  font-size: @font_15;
}

.btn-primary:focus,
.btn-primary:hover {
  border: none;
  background-color: @primary_color;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: @primary_color;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}

.rstr a {
  font-size: @font_15;
  color: @anchor_blue;
}

.acnt a {
  font-size: @font_15;
  color: @font_grey;
}

.frgt a {
  font-size: @font_10;
  color: @font_grey;
}

.form-control {
  margin-top: 5px;
}

.email {
  margin-bottom: 15px;
  font-size: @font_12;
}

.email-psw {
  font-size: @font_12;
}

.login-form {
  padding: 40px 0px;
}

.carousel-control-next-icon {
  opacity: 0;
}

.carousel-inner {
  img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .form-signin {
    width: auto;
    margin: auto
  }

  .first-slide-content {
    padding: 20px;
    margin-top: 10px;
  }

  .login-white-bg .form-signin {
    top: 0;
    transform: translateY(0%);
    background-color: @white;
  }

  .login-box {
    display: inline-block;
  }
  .login-left-pane {
    position: inherit;
    top: 0;
    transform: translateY(0%);
}
  .carousel-inner img {
    width: 100%;
  }

  .carousel-indicators {
    top: 100%;
    transform: translateY(100%);
  }
}