.pop-up-form{
    position: fixed;
    top:237px;
    right: 1px;
    width: 822px;
    height: calc(~"100% - 237px");
    border: 1px solid @black_35;
    background-color: @white;
    z-index: 9999;
    .scroll-container{
        width: 100%;
        height: calc(~"100% - 48px");
        overflow: hidden;
        overflow-y: visible;
    }
    .from-heading-box{
        background-color: @form-bg;
        border: 1px solid @black_35;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        h4{
            font-size: 20px;
            color: @gray-text;
            margin: 11px 0px;
            text-align: left;
            span{
                font-weight: @semibold;
            }
        }
        .r-number{
           display: inline-block;
           padding: 8px 20px;
            .text-design{
            font-size: @primary_font;
            font-weight: @bold;
            color: @primary_color;
            margin-bottom: 0px;
            }
        }
    }
    .text-area-sec{
        float: left;
    }
    .icons-in{
        float: right;
        ul{
            padding: 0px;
            margin: 0px;
            li{
                float: left;
                list-style: none;
                a{
                    float: left;
                    padding: 10px 7px;
                    cursor: pointer;
                }
            }
        }
    }

    .close-form{
        background-color: @form-close-bg;
        width: 36px;
        height: 35px;
        position: absolute;
        left: -36px;
        top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            transition: 500ms all;
        }
        &:hover{
            background-color: @primary_color;
            img{
               transform: rotate(90deg);
            }
        }
    }
    .tab-section-container{
        padding: 20px;
        .tabContent-box{
            background-color: @tab-bg;
            border: 1px solid @form-close-bg;  
            width: 100%;
            float: left;
            padding: 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            .report-ul{
                float: right;
                padding: 0px;
                margin: 0px;
                li{
                    float: left;
                    position: relative;
                    padding-left: 22px;
                    padding-right: 22px;
                    list-style: none;
                    a{
                        font-size: @font_12;
                        display: inline-block;
                        color: @anchor_blue;
                        text-decoration: underline;
                        cursor: pointer;
                        font-weight: @bold;
                    }
                    .img-box{
                        position: absolute;
                        left: 0;
                        top: -1px;
                        height: 100%;
                        img{
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    .report-box{
        padding-bottom: 20px;
    }
    .checkbox-container{
        width: calc(~"100% - 260px");
        float: left;
        padding-top: 6px;
        .form-group .custom-radio .checkmark{
            width: 17px;
            height: 17px;
        }
        .form-group .custom-radio .checkmark:after{
            width: 9px;
            height: 9px;
            top: 2px;
            left: 2px;
        }
        .form-group .custom-radio{
            font-size: @font_12;
            padding-left: 25px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        .form-group{
            margin-bottom: 0px;
        }
       
    }
    .seperator{
        float: left;
        width: 50px;
        font-size: @font_12;
        text-align: center;
        padding-top: 6px;
    }
    .form-container-box{
        float: left;
        width: 210px;
    }
    .switch-container-list{
        float: left;
        width: calc(~"100% - 210px");
        padding-top: 4px;
    }
    .label-in{
        margin: 0 0 3px 0;
        padding: 0px;
        width: 100%;
        color: @font_grey;
        font-weight: @semibold;
        font-size: @font_12;
        float: left;
    }
    .half-tab{
        width: 50%;
        float: left;
        padding-right: 40px;
        &.secound{
            padding-left: 40px;
        }
        .form-group{
            margin-bottom: 5px;
            select{
                -webkit-appearance: none;
                background-image: url(../img/select-down.svg);
                background-position: right 5px center;
                padding-right: 20px;
                padding-left: 6px ;
                background-repeat: no-repeat;
            }
            .description-text{
                height: 115px;
            }
            .potential-text{
                height: 55px;
            }
            .control-guide{
                height: 167px;
            }
            .control-objective{
                height: 79px;
            }
        }
    }
    .toggle-container{
        width: calc(~"100% - 210px");
        float: left;
    }
    .button-radio{
        width: 43px;
        float: left;
    }
    .questions{
        width: calc(~"100% - 43px");
        float: left;
        .question-tag{
            margin-bottom: 0px;
            font-size: @font_12;
            font-weight: @semibold;
        }
    }
    .question-container{
        margin-bottom: 5px;
    }
    .question-container-1{
        margin-bottom: 10px;
    }
    .top-sec{
        margin-top: 5px;
    }
    .button-container{
        margin-top: 16px;
        margin-bottom: 0px;
        .purple-btn, .yellow-btn{
            margin: 0 11px;
        }
    }
    .table-style{
        .table{
            border-color: @form-close-bg;
        }
        .table th{
            border-top: 0px;
            color: @text_gray;
        }
        .table td{
            color: @text_gray;    
        }
    
    }

    .three-share{
        width: 33.3333333333%;
        float: left;
        padding: 0px 15px;
        .headind-form{
            font-size: @font_15;
            color: @primary_color;
            position: relative;
            span{
                background: @infoBox-Bg; 
                position: relative;
                z-index: 10;
            }
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: @primary_color;
                left: 0;
                bottom: 3px;
                z-index: 1;
            }
        }
    }
    .heading-sec-form{
        margin-bottom: 10px;
    }
}

.report-ul{
    float: right;
    padding: 0px;
    margin: 0px;
    li{
        float: left;
        position: relative;
        padding-left: 22px;
        padding-right: 22px;
        list-style: none;
        a{
            font-size: @font_12;
            display: inline-block;
            color: @anchor_blue;
            text-decoration: underline;
            cursor: pointer;
            font-weight: @bold;
        }
        .img-box{
            position: absolute;
            left: 0;
            top: -1px;
            height: 100%;
            img{
                width: 16px;
            }
        }
    }
}
.form-group{
    margin-bottom: 5px;
}   
.relative{
    position: relative;
}
.form-control.calendar-icon{
    background-image: url(../img/booking.svg);
    background-position: right 5px center;
    background-repeat: no-repeat;
    padding-right: 30px;
}
.form-group.rigtSide-container{
    label{
        width: auto;
    }
}
.right-side-span{
    position: relative;
    padding-left: 15px;
    float: right;
    font-size: @font_10;
    color: @anchor_blue;
    padding-top: 5px;
    cursor: pointer;
    text-decoration: underline;
    img{
        position: absolute;
        left: 0;
        top: 7px;
    }
}
.question-top{
    margin-top: 10px;
}
.question-top-2{
    margin-top: 5px;
}
.link{
    border-radius: 2.5px;
    border: 1px solid #5a4296;
    width: 56px;
    height: 20px;
    line-height: 18px;
    vertical-align: middle;
    padding: 0 12px;
    font-size: 13px;
    white-space: nowrap;
    color: #5a4296;
    cursor: pointer;
    &:not([href]){
        color: #5a4296; 
    }
    &:hover {
        background-color: #5a4296;
        color: #fff !important;
        text-decoration: none;
    }

}
.form-control.risk-description-text{
    height: 148px;
}
.tabContent-box{
    &.section-seperate{
        margin-top: 25px;
        border-radius: 7.5px;
        position: relative;
        .headind-box{
            position: absolute;
            top: -13px;
            left: 15px;
            background-color: @white;
            padding-right: 10px;
            h3{
                font-size: @secondary_font;
                color: @text_gray;
            }
        }
    }
}
.buttons-question{
    width: calc(~"100% - 210px");
    float: left;
}
.division-3{
    width: 30%;
    float: left;
    padding-right: 10px;
    padding-top: 4px;
}
.division-4{
    width: 40%;
    float: left;
    padding-right: 10px;
    padding-top: 4px;
}
.question-sec{
    float: left;
    padding-right: 10px;
}
.table-speace{
    margin-top: 20px;
    table{
        th{
            white-space: nowrap;
        }
        td{
            .year-button{
                height: 25px;
                line-height: 15px;
                line-height: 17px;
            }
        }
    }
}

.btn-with-head{
    margin-left: 10px;
}
.check-container{
    width: 30px;
    float: left;
    padding-top: 3px;
}

select{
    -webkit-appearance: none;
    background-image: url(../img/select-down.svg);
    background-position: right 5px center;
    padding-right: 20px !important;
    padding-left: 6px !important;
    background-repeat: no-repeat;
}
.table-select{
    width: 79px;
    height: 24px;
    padding: 0px;
    padding-left: 5px;
    font-size: @font_12;
    color: @gray-text;
    margin: 0px;
}
.center-input{
    .table-select{
        margin: 0 auto;
    } 
}
.text-center{
    text-align: center;
}
.table-style{
    table{
    tr:nth-child(even){
        background-color: rgba(157,157,157,.05);
    }
}
}
.table-inside-tabs{
    margin-top: 15px;
}
.table-style{
    tr{
        th, td{
            font-size: @font_12;
        }
    }
}
.select-button{
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}
.rightSide-align{
    .report-ul{
        li{
            padding-right: 0px !important;
        }
    }
}
.form-group{
    width: 100%;
    float: left;
}

.according-wing{
    margin-top: 20px;
}
.accordian-container{
    .form-accordian{
        .headind-box{
            position: absolute;
            top: -22px;
            left: 0px;
            background-color: @white;
            padding-right: 10px;
            h3{
                font-size: @secondary_font;
                color: @text_gray;
                font-weight: @regular;
            }
        }
    }
    .card-header{
        background-color: @tab-bg;
        border-bottom: 0px;
        padding: 5px 15px;
    }
    .card{
        background-color: @tab-bg; 
    }
    .card-body{
        width: 100%;
        float: left;
        padding: 0px 15px;
    }
    .img-toggle{
        position: absolute;
        right: -10px;
        top: -22px;
        img{
            transform: rotate(0deg);
        }
    }
    .collapsed{
        .img-toggle{
            img{
                transform: rotate(180deg);
            }
        }
    }
    .btn.btn-link{
        width: 100%;
        padding: 0px;
        height: 100%;
    }
    .accordian-container .card-header{
        padding: 0px 15px;
    }
    .card-header {
        h2.text-h2{
            font-size: 20px;
            line-height: 5px;
        }
    }
    .accordion>.card{
        overflow: visible;
    }

    .accordion>.card>.card-header{
        margin-bottom: 0px;
    }
    .accordion>.card:not(:last-of-type){
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
}
