<div class="top-tab">
  <div class="full-width container-side">
    <ul class="block-ul">
      <li class="box-li">
        <div class="full-width box-container orange-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{ totalAudit }}</p>
            </div>
            <div class="text-container">
              <p class="text">Active Audits</p>
            </div>
          </div>
        </div>
      </li>

      <li class="box-li">
        <div class="full-width box-container blue-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">0</p>
            </div>
            <div class="text-container">
              <p class="text">Completed</p>
            </div>
          </div>
        </div>
      </li>

      <li class="box-li">
        <div class="full-width box-container yellow-border">
          <div class="box-haif-number">
            <div class="number-container">
              <p class="number">{{ noOfAudits }}</p>
            </div>
            <div class="text-container">
              <p class="text">Audits {{ year }}</p>
            </div>
          </div>
        </div>
      </li>
      <li (click)="auditDetails()" class="card calendar-view">
        <div class="calendar-inner-content">
          <h1>OP001</h1>
          <ngx-ts
            [items]="items"
            [periods]="periods"
            [sections]="sections"
            [events]="events"
            [showBusinessDayOnly]="false"
            [allowDragging]="false"
          ></ngx-ts>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-audit-calndar-details *ngIf="showPopup"></app-audit-calndar-details>
