<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span><img src="../../../../assets/img/close-icon.svg"></span>
    </button>
  </div>
  <div class="modal-body">   
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>WP Number</label>
            <input
            class="form-control"
            type="text"
            value={{workPaperNumber}}
            disabled
          />
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Audit ID</label>
            <input
            class="form-control"
            type="text"
            value={{auditId}}
            disabled
          />
          </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
              <label>File Name</label>
              <input
              id="fileName"
              class="form-control"
              type="text"
              value={{fileName}}
            />
          </div>
        </div>
    </div>



    <div class="full-width text-center pb-3 pt-3">
      <button class="btn btn-modal" (click)="confirm()">{{link}}</button>
      <button class="btn btn-modal-no" (click)="close()">{{action}}</button>
    </div>
  

  </div>


