.container-equal{
    position: relative;
    width: 100%;

}
.sidebar-container{
    width: 240px;
    height: 100vh;
    position: fixed !important;
    padding-top: 59px;
    z-index: 10;
    left: 0;
    top: 0;
    overflow: hidden;
    overflow-y: visible;
    z-index: 99;
}
.main-content-area{
    width: 100%;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-top: 59px;
    padding-left: 240px;
    background-color: rgb(231, 231, 236);
    height:100vh;
    overflow: hidden;
    overflow-y: visible;
    @media screen and (max-width: 767px){
        width: 100%;
        float: left;
        padding-left: 12px;
    }
}
.main-content-area.toggled{
    padding-left: 75px;
}
.menu-list{
    padding-top: 13px;
    padding-bottom: 20px;
    background-color: #5a4296;
    width: 230px;
    min-height: calc(~"100vh - 59px");
}
.menu-list ul.nav li{
    position: relative;
}

.menu-list ul.nav li a.nav-link{
    color: #fff;
    font-size: 14px;
    padding: 10px 17px;
    position: relative;
}
.menu-list ul.nav li a.nav-link span.content{
    padding-left: 2px;
}
.right{
    float: right;
}
.menu-list ul.nav li .first .nav li a.nav-link{
    padding-left: 35px;
    padding-top: 10px !important;
}

.menu-list ul.nav li a.nav-link.active-class:before{
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    top: 0;
}
.menu-list ul.nav li a.nav-link.active-class{
    background-color: rgba(255, 255, 255, .16);
}
.menu-list ul.nav li:hover a.nav-link{
    background-color: rgba(255, 255, 255, .16);
}
.menu-list ul.nav li:hover a.nav-link:before{
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    top: 0;
}

.menu-list ul.nav li.admin-nav{
    margin-top: 65px;
}

.expand-container{
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}




 @media screen and (min-width: 1200px){
    .sidebar-container.toggled{
        width: 75px;
       }
       .sidebar-container.toggled .menu-list{
           width: 65px;
       }
       .sidebar-container.toggled  .menu-list ul.nav li span.content{
          display: none !important;
       }
       .sidebar-container.toggled:hover{
           width: 240px;
       }
       .sidebar-container.toggled:hover .menu-list{
           width: 230px;
       }
       .sidebar-container.toggled:hover  .menu-list ul.nav li span.content{
           display: inline !important;
        }
 }

 @media screen and (max-width: 1199px) and (min-width: 768px){
    .sidebar-container.toggled{
        width: 75px;
       }
       .sidebar-container.toggled .menu-list{
           width: 65px;
       }
       .sidebar-container.toggled  .menu-list ul.nav li span.content{
          display: none !important;
       }
 
 }
 


 @media screen and (max-width: 767px){
    .menu-list{
        opacity: 0;
        width: 0px;
    }
    .sidebar-container{
        width: 25px;
    }
    .toggled.sidebar-container{
        width:240px;
    }
    .toggled.sidebar-container .menu-list{
        opacity: 1;
        width: 230px;
    }
 }
