<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandle">
  <div class="close-form" (click)="closeModal(false)">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>

  <div class="full-width from-heading-box relative" #myHandle>
    <div class="text-area-sec">
      <h4>{{auditId ? 'Edit Audit' : 'Create Audit'}}</h4>
    </div>
    <div class="icons-in">
      <ul> 
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg" /></a>
          <a href="javascript:void(0);" (click)="printAuditForm()" class="dupIcoHover"><img src="assets/img/Print2.svg"
              alt="Print" /> Print</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">

    <div class="full-width tab-section-container">
      <div class="full-width">
        <div class="tabContent-box tab-collapse-in">
          <div class="full-width accordion-sec">
            <div class="accordion" id="accordionExample">
              <div class="section-in">
                <div class="card">
                  <div class="card-header bg-gray relative" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="textportion">Information</span>
                        <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                      </button>
                    </h2>
                  </div>

                  <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="full-width section-inside">
                        <ul class="content-labels full-width list-of-admins">

                          <li>
                            <p class="label-txt">Audit ID</p>
                            <p class="op-id">{{auditModel.auditId}}</p>
                          </li>
                          <li class="col-wd-30">
                            <p class="label-txt">Audit Title</p>
                            <p class="op-id">{{auditModel.auditTitle}}</p>
                          </li>
                          <li class="col-wd-16">
                            <p class="label-txt">Created On</p>
                            <p class="op-id">{{auditModel.createdOn}}</p>
                          </li>
                          <li class="col-wd-16">
                            <p class="label-txt">Updated On</p>
                            <p class="op-id">{{auditModel.updatedOn}}</p>
                          </li>
                          <li class="float-right">
                            <p class="label-txt">Created By</p>
                            <div class="full-width">
                              <div class="imageicon">
                                <img src="../../../../../assets/img/review-1.png">
                              </div>
                              <div class="name">
                                <div class="namecenter">
                                  {{auditModel.createdBy}}
                                </div>

                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="full-width accordion-sec">
            <div class="accordion" id="accordionExampleOne">
              <div class="section-in">
                <form #f="ngForm" novalidate>
                  <div class="tabContent-box">
                    <div class="full-width">
                      <div class="row">
                        <div class="three-share">

                          <div class="full-width">
                            <div class="form-group">
                              <label>{{masterLabels.levelOneLabel}}</label>
                              <select required [disabled]="disableEditFields" class="form-control" name="levelOneMasterDd" #levelOneMasterDd="ngModel" [(ngModel)]="auditModel.category.levelOne.id" (change)="onLevelChange(levelOneMasterDd.value,'one')">
                                <option value="">Select</option>
                                <option *ngFor="let cm of levelOneMaster" [value]="cm.id">{{cm.name}}</option>
                                <!-- <option value="Mining & Co.">Mining & Co.</option> -->
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                            <div class="form-group">
                              <label>{{masterLabels.levelTwoLabel}}</label>
                              <select [disabled]="disableEditFields" class="form-control" #levelTwoMasterDd="ngModel" name="levelTwoMasterDd" [(ngModel)]="auditModel.category.levelTwo.id"  required (change)="onLevelChange(levelTwoMasterDd.value,'two')">
                                <option value="">Select</option>
                                <option *ngFor="let cm of levelTwoMaster" [value]="cm.id">{{cm.name}}</option>
                                <!-- <option value="Mining & Co.">Mining & Co.</option> -->
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                            <div class="form-group">
                              <label>{{masterLabels.levelThreeLabel}}</label>
                              <select [disabled]="disableEditFields" class="form-control" #levelThreeMasterDd="ngModel" name="levelThreeMasterDd" [(ngModel)]="auditModel.category.levelThree.id"  required (change)="onLevelChange(levelThreeMasterDd.value,'three')">
                                <option value="">Select</option>
                                <option *ngFor="let cm of levelThreeMaster" [value]="cm.id">{{cm.name}}</option>
                                <!-- <option value="Mining & Co.">Mining & Co.</option> -->
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                            <div class="form-group">
                              <label>{{masterLabels.levelFourLabel}}</label>
                              <select [disabled]="disableEditFields" class="form-control" #levelFourMasterDd="ngModel" [(ngModel)]="auditModel.category.levelFour.id" required name="levelFourMasterDd" (change)="onLevelChange(levelFourMasterDd.value,'four')">
                                <option value="">Select</option>
                                <option *ngFor="let cm of levelFourMaster" [value]="cm.id">{{cm.name}}</option>
                                <!-- <option value="Mining & Co.">Mining & Co.</option> -->
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="three-share">
                          <div class="full-width">
                            <div class="form-group">
                              <label>{{masterLabels.levelFiveLabel}}</label>
                              <select [disabled]="disableEditFields" class="form-control" #levelFiveMasterDd="ngModel" [(ngModel)]="auditModel.category.levelFive.id" required name="levelFiveMasterDd" (change)="onLevelChange(levelFiveMasterDd.value,'five')">
                                <option value="">Select</option>
                                <option *ngFor="let cm of levelFiveMaster" [value]="cm.id">{{cm.name}}</option>
                                <!-- <option value="Mining & Co.">Mining & Co.</option> -->
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                            <div class="form-group">
                              <label>Auditable Entity</label>
                              <select [disabled]="disableEditFields" class="form-control" #auditableEntityDd="ngModel" [(ngModel)]="auditModel.auditableEntity" required name="auditableEntityDd">
                                <option value="">Select</option>
                                <option *ngFor="let cm of auditableEntityMaster" [value]="cm">{{cm}}</option>
                                <!-- <option value="Mining & Co.">Mining & Co.</option> -->
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                            <div class="form-group">
                              <label>Business Process Name</label>
                              <select [disabled]="disableEditFields" class="form-control" required #businessProcess="ngModel" [(ngModel)]="auditModel.category.businessProcess" name="business">
                                <option value="">Select</option>
                                <option *ngFor="let bp of businessMaster" [value]="bp">{{bp}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="full-width">
                            <div class="form-group">
                              <label>Rotation (in years)</label>
                              <input class="form-control" type="text" (keypress)="onRotationChange($event)" [(ngModel)]="auditModel.rotation" #rotation="ngModel" required name="rotation" />
                            </div>
                          </div>
                        </div>
                        <div class="three-share">
                          <div class="d-flex align-content-end flex-wrap remote-onsite-switch">
                            <span class="left-text">Remote</span>
                            <label class="switch">
                              <input type="checkbox" (change)="switchProperty($event)" [checked]="auditModel.isOnsite" />
                              <span class="slider-switch-btn round"></span>
                            </label>
                            <span class="right-text">On-site</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="full-width button-container">
                      <button type="submit" [disabled]="disableSubmit" class="big-button" (click)="onSave(f)">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>