@media (max-width: 991px) {
.table-select-search .form-group:first-child {
    padding-right: 0px;
    margin-right: 10px;
  }
  .table-select-search .form-group:last-child {
    padding-left: 0px;
  }
  .btn-create-audit {
    margin-bottom: 10px;
}
  .table-select-search {
    margin: 10px 0px;
  }
  .table-icon-list {
    margin-bottom: 10px;
    align-self: center;
  }
}