<div class="audit-table-header no-padding">
  <div class="full-width multiple-search">
    <div class="col-sm-8 col-lg-8 table-select-search">
      <div class="form-group col-sm-5 col-lg-3 no-padding">
        <div class="full-width">
          <div class="search-select"></div>
        </div>
      </div>

      <div class="form-group col-sm-5 col-lg-3 no-padding">
        <div class="search-select wd-100"></div>
      </div>
    </div>

    <div
      class="col-sm-4 col-lg-4 table-icon-list float-right text-right padding-right-0"
    >
      <a class="tooltip cursor" (click)="createAudit()">
        <span class="tooltiptext triple-word">Add New Audit</span>
        <img src="assets/img/add_button.svg" alt="Add" />
      </a>
      <a href="#" class="tooltip cursor">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print" />
      </a>
      <div class="dropdown export-dropdown">
        <a
          class="tooltip btn"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="tooltiptext">Export</span>
        </a>
        <div class="dropdown-menu export-dropdown-menu"></div>
      </div>
    </div>
  </div>
</div>

<table
  id="annualAuditPlanningTable"
  class="display fullDataTable"
  style="width: 100%"
>
  <thead>
    <tr>
      <th id=""></th>
      <th id="">
        <input
          name="select_all"
          value="1"
          id="annual-audit-plan-select-all"
          type="checkbox"
        />
      </th>
      <th id="">Auditable Entity</th>
      <th id="">Risk Level</th>
      <th id="">Onsite</th>
      <th id="">Last Audit</th>
      <th id="">Current Audit</th>
      <th id="" class="text-center action-block">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of tableData; let i = index">
      <tr *ngIf="data.auditableEntity">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">
          {{ data.auditableEntity }} - {{ data.name }}
        </td>
        <td class="reorder-row">
          <a
            [ngClass]="{
              'very-high': data.overallRisk >= 15,
              'very-low': data.overallRisk >= 8 && data.overallRisk <= 14,
              medium: data.overallRisk > 0 && data.overallRisk <= 7
            }"
            class="btn risk-btn"
            (click)="loadRiskLevel(data)"
            >{{ data.riskLevel }}</a
          >
        </td>
        <td class="reorder-row">
          <div *ngIf="data.onsite; else onsiteFalse">Yes</div>
          <ng-template #onsiteFalse> No </ng-template>
        </td>
        <td class="reorder-row">
          <a
            class="btn btn-primary risk-btn very-high"
            (click)="pdfClick()"
            *ngIf="data.oldAuditId?.auditId"
            >{{ data?.lastAudit }}</a
          >
          <label *ngIf="!data.oldAuditId">-</label>
        </td>
        <td class="reorder-row">
          <a
            disabled
            class="btn btn-primary risk-btn very-high"
            *ngIf="data.newAuditId?.auditId"
            >{{ data.newAuditId?.auditId }}</a
          >
          <label *ngIf="!data.newAuditId">-</label>
        </td>
        <td>
          <div class="dropdown action-dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a
                    (click)="loadMyChildComponent(data.riskLevel)"
                    class="edit-btn"
                  >
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a href="" class="delete-btn">
                    <img src="assets/img/delete_button.svg" alt="Delete" />
                    <span>Delete</span>
                  </a>
                </li>
                <li>
                  <a
                    *ngIf="data.oldAuditId"
                    (click)="copyData(data?._id, data.oldAuditId?._id)"
                    class="duplicate-btn"
                  >
                    <img src="assets/img/duplicate-form.svg" alt="Delete" />
                    <span>Duplicate</span>
                  </a>
                  <a
                    *ngIf="!data.oldAuditId"
                    (click)="showMsg()"
                    class="duplicate-btn"
                  >
                    <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                    <span>Duplicate</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<app-audit-report *ngIf="pdfView"></app-audit-report>
<app-create-audit-form *ngIf="loadComponent"></app-create-audit-form>
<app-copy-audit-form
  *ngIf="copyComponent"
  [copyForm]="selectedAuditId"
  (copyFormStatus)="checkCopyFormStatus($event)"
></app-copy-audit-form>
<app-audit-planning-details
  *ngIf="newAuditDetailComponent"
  (closedAssessForm)="getNewAssessFormStatus($event)"
  [objIdToFind]="objId"
></app-audit-planning-details>
<app-audit-planning-details-edit
  *ngIf="editAuditDetailComponent"
></app-audit-planning-details-edit>
