<div class="full-width">
    <div class="row">
      <div class="three-share">
        <div class="full-width heading-sec-form">
          <h4 class="headind-form">
            <span>Information</span>
          </h4>
        </div>
        <div class="full-width">
          <div class="form-group">
            <label>Company Name</label>
            <input class="form-control" type="text" value="Morgan Chase" disabled>
          </div>
        </div>
        <div class="full-width radioSelect">
            <label class="label-in">Department</label>
            <div class="checkbox-container">
              <div class="form-group">
                <label class="custom-radio"
                  >Any
                  <input
                    type="radio"
                    checked="checked"
                    name="department"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="seperator">
              <span>- OR -</span>
            </div>
            <div class="form-container-box">
              <div class="form-group">
                <select class="form-control" disabled>
                  <option value="">Select Process</option>
                  <option>Finance</option>
                </select>
              </div>
            </div>
          </div>
          <div class="full-width radioSelect">
            <label class="label-in">Process</label>
            <div class="checkbox-container">
              <div class="form-group">
                <label class="custom-radio"
                  >Any
                  <input
                    type="radio"
                    checked="checked"
                    name="process"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="seperator">
              <span>- OR -</span>
            </div>
            <div class="form-container-box">
              <div class="form-group">
                <select class="form-control" >
                  <option value="">Select Process</option>
                  <option>Select Process 2</option>
                </select>
              </div>
            </div>
          </div>
        
      </div>
      <div class="three-share">
        <div class="full-width heading-sec-form">
          <h4 class="headind-form">
            <span>Dates</span>
          </h4>
        </div>
        <div class="full-width">
          <div class="form-group">
            <label>Added On</label>

            <div class="full-width relative">
              <input type="text" placeholder="Select Date"  class="form-control calendar-icon" bsDatepicker 
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" disabled>
            </div>
          </div>
        </div>
        <div class="full-width">
          <div class="form-group">
             <!-- ######## updated 05-03-2020 start ########-->
            <label>Approved On</label>
             <!-- ######## updated 05-03-2020 ends ########-->
            <div class="full-width relative">
          
              <input type="text" placeholder="Select Date"  class="form-control calendar-icon" bsDatepicker 
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" disabled>
            </div>
          </div>
          <div class="full-width">
            <div class="form-group">
                <!-- ######## updated 05-03-2020 start ########-->
               <label>Last Changed On</label>
                <!-- ######## updated 05-03-2020 ends ########-->
               <div class="full-width relative">
             
                 <input type="text" placeholder="Select Date"  class="form-control calendar-icon" bsDatepicker 
                 [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" disabled>
               </div>
             </div>
          </div>
        </div>

      </div>
      <div class="three-share">
        <div class="full-width heading-sec-form">
          <h4 class="headind-form">
            <span>People</span>
          </h4>
        </div>
        <div class="full-width">
          <div class="form-group">
            <label>Control Owner</label> 
            <input class="form-control"  type="text" value="Stanley" disabled>
          </div>
         </div>
       
        <div class="full-width">
          <div class="form-group">
            <label>Control Owner ID</label>
            <input class="form-control" type="text" value="C-2234" disabled>
          </div>
        </div>
        <div class="full-width">
          <div class="form-group">
             <!-- ######## updated 05-03-2020 start ########-->
            <label>Approved By</label>
             <!-- ######## updated 05-03-2020 ends ########-->
            <!-- <input class="form-control" formControlName="" type="text"> -->
            <input class="form-control"  type="text" value="David" disabled>
          </div>
        </div>
        <div class="full-width">
          <div class="form-group">
             <!-- ######## updated 05-03-2020 start ########-->
            <label>Approved ID</label>
             <!-- ######## updated 05-03-2020 ends ########-->
             <input class="form-control"  type="text" value="C-6734" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
