.inTray {
  height: 150px;
  background-color: azure;
  overflow-y: scroll;
}
.file {
  color: blue;
  text-decoration: underline;
  font-size: 20px;
}
.userList {
  color: black;
  font-size: larger;
  height: 20px;
  background-color: antiquewhite;
}
.rooms {
  margin: 6px;
}
.title {
  color: white;
  font-size: 35px;
  margin-left: 10px;
}
.my-panel {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  opacity: 8;
  box-shadow: 5px;
  background-color: aqua;
}
.users {
  background-color: azure;
  float: right;
  width: 40%;
  height: 100%;
  min-height: 400px;
  border-color: #664da0;
  margin: 5px;
}

.btnclose {
  padding: -15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #664da0;
  border-color: #664da0;
  width: 43px;
  height: 44px;
  margin: -51px;
  margin-top: -23px;
  margin-right: -30px;
  position: absolute;
}
.header {
  background-color: #664da0;
  height: 50px;
}
.container {
  display: inline-block;
  background-color: azure;
  margin: 5px;
  padding: 5px;
  width: 57%;
  height: 100%;
  min-height: 400px;
  border-color: #664da0;
}
.mainContainer {
  border-width: 2px;
  border-color: black;
  background-color: #f2f5f8;
  width: 100%;
  height: 100%;
}

.dot-green {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  border-radius: 50%;
  background: green;
  display: inline-block;
}

.dot-red {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  border-radius: 50%;
  background: red;
  display: inline-block;
}
.users-list li img.img-delete {
  width: 16px;
  height: inherit;
  border-radius: 0px;
  border: 0px;
}
.onlineUsers {
  font-size: 14px;
  color: #020202;
  font-weight: bold;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 0px;
}
ul li {
  list-style-type: none;
}
