<div *ngIf="inTray" class="mainContainer">
  <div class="header">
    <span class="title">{{ roomDetails.title }}</span>
    <button
      type="button"
      class="btn btn-success rooms"
      (click)="roomsOpen()"
      style="float:right"
    >
      Rooms
    </button>
    <!-- <div class="dropdown rooms" style="float:right">
      <button
        class="btn btn-success dropdown-toggle"
        type="button"
        data-toggle="dropdown"
      >
        Add Users <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="userList" *ngFor="let user of systemUsers">
          <a (click)="selectUsers(user.username)">{{ user.username }}</a>
        </li>
      </ul>
    </div> -->
    <button
      type="button"
      class="btn btn-success rooms"
      (click)="childModal.show()"
      style="float:right"
    >
      File Upload
    </button>
  </div>
  <div class="container">
    <div *ngFor="let myFile of roomDetails.fileName">
      <!-- <i
        class="fa fa-paperclip"
        style="color:brown;margin-left: 1px;"
        aria-hidden="true"
      ></i> -->
      <!-- <a (click)="removeFile(myFile)"
      style="float:left; background-color:#5a4296; border-radius: 10px; height: 25px;width: 25px; text-align: center;margin:10px;"
    >
      <img
        src="../../../../../../assets/img/trash.png"
        class="img-delete"
      />
    </a> -->
      <a class="btn btn-link file" (click)="openAttachment(myFile)">{{
        myFile
      }}</a>
      <a (click)="removeFile(myFile)" style="float:Right">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
   
    </div>
  </div>
  <div class="users">
    <div class="users-list">
      <ul class="list">
        <li>
          <span class="dot-green"></span>
          <span class="onlineUsers">{{ roomDetails.owner }}</span>
          <span style="float:Right;color:black;">Owner</span>
        </li>
        <li *ngFor="let user of roomDetails.usernames">
          <span class="dot-red" *ngIf="!user.online"></span>
          <span class="dot-green" *ngIf="user.online"></span>
          <span class="onlineUsers">{{ user }}</span>
          <!-- <a
            (click)="removeUser()"
            style="float:Right; background-color:#5a4296; border-radius: 10px; height: 25px;width: 25px; text-align: center;"
          >
            <img
              src="../../../../../../assets/img/trash.png"
              class="img-delete"
            />
          </a> -->
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="viewFileRoom">
  <app-file-room></app-file-room>
</div>

<div
  class="modal fade"
  bsModal
  #childModal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-nested-name2"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name2" class="modal-title pull-left">
          File Upload
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="childModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div>
            <ngx-file-picker
              [adapter]="adapter"
              [enableCropper]="false"
              [uploadType]="'multi'"
              [totalMaxSize]="30"
              [fileMaxCount]="3"
              [fileMaxSize]="30"
              (validationError)="onValidationError($event)"
              [showPreviewContainer]="true"
              (uploadSuccess)="onFileAdded($event, roomDetails._id)"
              [itemTemplate]="itemTemplate"
            >
            </ngx-file-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


