<div class="chat-popup-maincontainer">
  <div class="chat-bar-section">
    <div class="full-width heading-tag">
      <h4 class="heading-menu">
       <span>{{ rooms?.length }}</span> Rooms 
      </h4>
    </div>
    <div class="main-section full-width">
      <div class="current-rom full-width">
        <h4 class="section">Current Rooms</h4>
      </div>
      <div class="full-width room-list">
        <ul>
          <li *ngFor="let room of rooms">
            <a (click)="openChatroom(room._id)">
              {{
                room?.title?.length > 25
                  ? room.title.substr(0, 25) + "..."
                  : room.title
              }}
            </a>
            <div class="icon-delete">
              <a (click)="removeChatroom(room._id,room.title)">
                <img src="../../../../../assets/img/delete-bin.svg" alt="delete_icon" />
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="full-width add-room-container">
        <div class="inputcontainer">
          <input
            type="text"
            class="form-control"
            placeholder="Create a new room"
            [(ngModel)]="roomTitle"
          />
          <!-- (keyup.enter)="addRoom(roomTitle)" -->
        </div>
        <div class="plus-icon">
          <button class="btn plus-btn" (click)="addRoom(roomTitle)">
            <img src="../../../../../assets/img/add-icon-plus.svg" alt="add_icon" />
          </button>
        </div>
      </div>
      <div class="current-rom full-width">
        <h4 class="section">Current Users</h4>
      </div>
      <div class="current-userlist full-width">
        <ul>
          <li>{{ roomDetails?.owner }} <span>Owner</span></li>
          <li *ngFor="let user of onlineUsers">
            {{ user }}
            <div class="icon-delete">
              <a (click)="removeUser(user)">
                <img src="../../../../../assets/img/delete-bin.svg" alt="delete_icon"/>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="full-width drop-down-list">
        <select
          class="form-control"
          (change)="selectUsers($event.target.value)"
        >
          <option>Add User</option>
          <option *ngFor="let user of usernames"
            ><a>{{ user?.username }}</a>
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="chat-section-container full-width">
    <div class="full-width heading-tag">
      <h4 class="heading-menu">

        {{ roomDetails?.title}}<span> ({{ roomDetails?.usernames?.length }} Participants)</span>


        <!-- {{ roomDetails?.title
        }}<span> ({{ roomDetails?.usernames?.length }} Participants)</span> -->

      </h4>
    </div>
    <div class="full-width chatContainer">
      <div class="chat-showing full-width" id="message_div">
        <ul>
          <ng-container *ngFor="let msg of messages">
            <li class="left-side" *ngIf="msg.username == owner; else userText">
              <div class="chatname">
                <h4>
                  {{ msg.username
                  }}<span> {{ msg.createdAt | date: "HH:mm" }}</span>
                </h4>
              </div>
              <div class="chatportion user-side">
                {{ msg.message }}
              </div>
            </li>
            <ng-template #userText>
              <li class="right-side">
                <div class="chatname">
                  <h4>
                    {{ msg.username
                    }}<span>{{ msg.createdAt | date: "HH:mm" }}</span>
                  </h4>
                </div>
                <div class="chatportion admin-side">
                  {{ msg.message }}
                </div>
              </li>
            </ng-template>
            <ng-template #messageBlock>
              <p
                class="message"
                style="text-align:center; padding:0; margin:0;"
              >
                Create your first room!
              </p>
            </ng-template>
          </ng-container>
        </ul>
      </div>
      <div class="full-width chat-send-input">
        <div class="full-width relative">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="message"
            (keyup.enter)="submitMessage(message)"
          />
          <button class="btn btnsend" (click)="submitMessage(message)">
            <img src="../../../../../assets/img/sent_mail.svg" alt="sendmail_icon" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
