<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleOne">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>
  <div class="full-width from-heading-box relative" #myHandleOne>
    <div class="text-area-sec"> 
      <h4>Audit Report</h4>
    </div>

    <div class="r-number">
      <p class="text-design">2018</p>
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img
              src="../../../../../../assets/img/Duplicate-white.svg"
              alt="Duplicate"
            />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../../assets/img/upload-form.svg"
              alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="../../../../../../assets/img/Export2.svg" alt="Export" />
            Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../../assets/img/print-form.svg"
              alt="Print"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover" (click)="printAuditpdf()"
            ><img src="../../../../../../assets/img/Print2.svg" alt="Print" />
            Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share
            <img src="../../../../../../assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <div class="full-width">
      <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        style="display: block"
      ></pdf-viewer>
    </div>
  </div>
</div>
