body,
html {
    font-family: @primary_font !important; 
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-weight: @light;
    font-size: @common_size;
    -ms-overflow-style: scrollbar;
}
html,body,div,span,applet,object,button,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,fn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,article,footer,aside,nav {
    font-family: @primary_font; 
}
body.modal-open{
    padding: 0px !important;
}

h1{
    font-size: 42px;
    font-weight: @light;
    margin: 0px;
}
h2{
    font-size: 35px;
    font-weight: @light;
    margin: 0px;
}
h3{
    font-size: 24px;
    font-weight: @semibold;
    margin: 0px;
}
h4{
    font-size: 20px;  
    font-weight: @regular;
    margin: 0px;
}
h5{
    font-size: 22px;
    font-weight: @bold;
    margin: 0px;
}
h6{
    font-size: 20px;
    margin: 0px;
}
b{
    font-weight: @bold;
}
.visibility-hidden{
    visibility: hidden;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding-left{
    padding-left: 0px;
}
.display-table{
    display: table;
}
.left-15{
    left:15px !important;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    .content-wrapper {
        overflow-x: hidden;
    }
  }
.sidemenu-active{
    .content-wrapper{
        padding-left: 70px;
    }
}



.clear-padding{
    padding-left: 0px;
    padding-right: 0px;
}






@media screen and (max-width:1199px) {
    /*Write css here Medium devices or liquid responsive design - Optional */
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 26px;
    }
    .content-wrapper {
        padding-left: 70px;
    }
    .sidemenu-active .content-wrapper{
        padding-left: 180px;
    }
}

@media screen and (max-width: 991px) {
    /*Write css here for Ipad Potrait*/
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    /*Write css here for Mobile Landscape & Potrait	*/
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }
    .content-wrapper {
        padding-left: 0px;
    }
    .sidemenu-active .content-wrapper {
        padding-left: 180px;
    }

}

@media screen and (max-width: 480px) {
    /*Write css here for Mobile Potrait	*/
   
}


.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: @drk_black_50;
    z-index: 9999;  

    .wait{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 17px;
        color: #FFF;
        text-align: center;
        margin-top: 20px;
        font-weight: @regular;
    }

      .lds-dual-ring {
        display: inline-block;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid @primary_color;
        border-color: @primary_color transparent @primary_color transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
  
  }
  
  .form-overlay span {
      padding: 5px;
      border-radius: 5px;
      color: #000;
      background-color: #fff;
      position:relative;
      top:50%;
  }