<div class="new-risk-assessment-form">
    <div class="full-width risk-accordion-sec">
        <div class="accordion" id="accordionExample">
          <div class="section-in">
            <div class="card">
              <div class="card-header bg-gray relative" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="textportion">Information</span>
                    <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="full-width section-inside">
                      <div class="col wd-60 no-padding">
                        <ul class="information-list">
                      <li>
                        <span class="text-list">Rotation Schedule</span>
                        <button class="btn btn-infom btn-blue">3</button>
                      </li>
                          <li>
                              <span class="text-list">Last Testing</span>
                              <button class="btn btn-infom date">14.03.2019</button>
                            </li>
                            <li class="pr-0">
                                <span class="text-list">Open Issues</span>
                                <button class="btn btn-infom no">No</button>
                              </li>
                           
                        </ul>
                      </div>
                      <div class="col wd-40">
                          <h4>List Risk Assessment</h4>
                        <ul class="information-list">
                      
                          <li>
                              <span class="text-list">Date</span>
                              <button class="btn btn-infom date">14.03.2019</button>
                            </li>
                            <li class="pr-0">
                              <span class="text-list">Result</span>
                              <button class="btn btn-infom btn-small btn-medium">MEDIUM</button>
                            </li>
    
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        
    <div class="full-width accordion-sec">
        <div class="accordion" id="accordionExampleOne">
            <div class="section-in">
                <div class="card">
                    <div class="card-header bg-gray relative" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="textportion">Risk Definition</span>
                                <span class="imgportion"><img
                                        src="../../../../../../assets/img/round-circle.svg"></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExampleOne">
                        <div class="card-body">
                            <div class="full-width section-inside">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="full-width col-md-6 col-sm-6 col-xs-12 pl-0">
                                            <div class="form-group">
                                                <label>Risk Response</label>
                                                <select class="form-control">
                                                    <option>Select Option</option>
                                                    <option>Mitigrate</option>
                                                    <option>Mitigrate</option>
                                                    <option>Mitigrate</option>
                                                    <option>Mitigrate</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="full-width col-md-6 col-sm-6 col-xs-12 pr-0">
                                            <div class="form-group">
                                                <label>Risk Type</label>
                                                <select class="form-control">
                                                    <option>Select Option</option>
                                                    <option>Preventive</option>
                                                    <option>Corrective</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="full-width">
                                            <div class="form-group">
                                                <label>Risk Category</label>
                                                <ng-multiselect-dropdown [placeholder]="'Select an Option'"
                                                    [data]="dropdownList" [(ngModel)]="selectedItems"
                                                    [settings]="dropdownSettings">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                        <div class="full-width">
                                            <div class="form-group">
                                                <label>Risk Area</label>
                                                <select class="form-control">
                                                    <option>Select Option</option>
                                                    <option>Opeations EMEA</option>
                                                    <option>Internal Audit US</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="full-width">
                                            <div class="form-group">
                                                <label>Reference Numbers (Legal, Internal)</label>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="full-width">
                                            <label class="label">Reference Document</label>
                                            <div class="full-width">
                                                <div class="list-of-uploads">
                                                    <div class="uploadList ht-160">
                                                        <ul>
                                                            <li>
                                                                <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                            </li>
                                                            <li>
                                                                <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                            </li>
                                                            <li>
                                                                <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="full-width bt-5">

                                            <label class="controllb">Risk Cause / Event 
                                                <span class="relative hoverbox"><img src="../../../../../../assets/img/explain.svg">
                                                   <div class="popovercontent">
                                                     <h4>What is Control Guidance</h4>
                                                     <p>Lorem Ipsum is simply dummy text of the printing 
                                                       and typesetting industry. Lorem Ipsum has been the 
                                                       industry's standard dummy text ever since the 1500s, 
                                                       when an unknown printer took a galley of type and 
                                                       scrambled it to make a type specimen book. It has 
                                                       survived not only five centuries</p>
                                                       <a>Read More</a>
                                                   </div>
                                               </span>
                                               </label>
                                            <div class="full-width relative wysiwyg-div height-112">
                                                <angular-editor [config]="editorConfig"></angular-editor>
                                            </div>

                                        </div>
                                        <div class="full-width bt-5">

                                            <label class="controllb">Impact / Opportunity 
                                                <span class="relative hoverbox"><img src="../../../../../../assets/img/explain.svg">
                                                   <div class="popovercontent">
                                                     <h4>What is Control Guidance</h4>
                                                     <p>Lorem Ipsum is simply dummy text of the printing 
                                                       and typesetting industry. Lorem Ipsum has been the 
                                                       industry's standard dummy text ever since the 1500s, 
                                                       when an unknown printer took a galley of type and 
                                                       scrambled it to make a type specimen book. It has 
                                                       survived not only five centuries</p>
                                                       <a>Read More</a>
                                                   </div>
                                               </span>
                                               </label>
                                            <div class="full-width relative wysiwyg-div height-112">
                                                <angular-editor [config]="editorConfig"></angular-editor>
                                            </div>

                                        </div>
                                        <div class="full-width">

                                            <label class="controllb">Risk Assessment Guidance 
                                                <span class="relative hoverbox"><img src="../../../../../../assets/img/explain.svg">
                                                   <div class="popovercontent">
                                                     <h4>What is Control Guidance</h4>
                                                     <p>Lorem Ipsum is simply dummy text of the printing 
                                                       and typesetting industry. Lorem Ipsum has been the 
                                                       industry's standard dummy text ever since the 1500s, 
                                                       when an unknown printer took a galley of type and 
                                                       scrambled it to make a type specimen book. It has 
                                                       survived not only five centuries</p>
                                                       <a>Read More</a>
                                                   </div>
                                               </span>
                                               </label>
                                            <div class="full-width relative wysiwyg-div height-112">
                                                <angular-editor [config]="editorConfig"></angular-editor>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    </div>

    <div class="full-width accordion-sec">
        <div class="accordion" id="accordionExampleTwo">
            <div class="section-in">
                <div class="card">
                    <div class="card-header bg-gray relative" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <span class="textportion">Risk Assessment</span>
                                <span class="imgportion"><img
                                        src="../../../../../../assets/img/round-circle.svg"></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="bg-gray collapse show" aria-labelledby="headingTwo"
                        data-parent="#accordionExampleTwo">
                        <div class="card-body">
                            <div class="full-width section-inside btn-seperate-style">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 select-list-status">
                                        <div class="full-width select-tag mt-0">
                                            <div class="nexttoinput">
                                                <span>Control Risk</span>
                                            </div>
                                            <div class="selectbox">
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option class="very-low-color">Very Low</option>
                                                        <option class="low-color">Low</option>
                                                        <option class="medium-color">Medium</option>
                                                        <option class="high-color">High</option>
                                                        <option class="very-high-color">Very High</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="full-width" style="display:none">
                                            <div class="row report-status-box">
                                                <div class="col">
                                                <div class="impact-box report-status-details col col-6 col-md-6 no-padding">
                                                    <div class="col no-padding">
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col col-8 col-md-8 no-padding report-status-tab">
                                                            <div class="col no-padding status-head">Impact</div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                Financial
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                Legal
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                ESG
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding status-overall">
                                                                Overall
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review">
                                                        <div class="col col-4 col-md-4 no-padding risk-name-report">
                                                            Inherent Risk
                                                        </div>
                                                        <div class="col col-8 col-md-8 no-padding">
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                <div class="selectbox">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Select</option>
                                                                            <option class="very-low-color">Very Low
                                                                            </option>
                                                                            <option class="low-color">Low</option>
                                                                            <option class="medium-color">Medium</option>
                                                                            <option class="high-color">High</option>
                                                                            <option class="very-high-color">Very High
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                <div class="selectbox">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Select</option>
                                                                            <option class="very-low-color">Very Low
                                                                            </option>
                                                                            <option class="low-color">Low</option>
                                                                            <option class="medium-color">Medium</option>
                                                                            <option class="high-color">High</option>
                                                                            <option class="very-high-color">Very High
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                <div class="selectbox">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Select</option>
                                                                            <option class="very-low-color">Very Low
                                                                            </option>
                                                                            <option class="low-color">Low</option>
                                                                            <option class="medium-color">Medium</option>
                                                                            <option class="high-color">High</option>
                                                                            <option class="very-high-color">Very High
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding group-btn-block">
                                                                <button class="btn btn-infom medium-color">MEDIUM</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review even-block">
                                                        <div class="col col-4 col-md-4 no-padding risk-name-report">
                                                            Residual Risk
                                                        </div>
                                                        <div class="col col-8 col-md-8 no-padding">
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                <div class="selectbox">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Select</option>
                                                                            <option class="very-low-color">Very Low
                                                                            </option>
                                                                            <option class="low-color">Low</option>
                                                                            <option class="medium-color">Medium</option>
                                                                            <option class="high-color">High</option>
                                                                            <option class="very-high-color">Very High
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                <div class="selectbox">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Select</option>
                                                                            <option class="very-low-color">Very Low
                                                                            </option>
                                                                            <option class="low-color">Low</option>
                                                                            <option class="medium-color">Medium</option>
                                                                            <option class="high-color">High</option>
                                                                            <option class="very-high-color">Very High
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                <div class="selectbox">
                                                                    <div class="form-group">
                                                                        <select class="form-control">
                                                                            <option>Select</option>
                                                                            <option class="very-low-color">Very Low
                                                                            </option>
                                                                            <option class="low-color">Low</option>
                                                                            <option class="medium-color">Medium</option>
                                                                            <option class="high-color">High</option>
                                                                            <option class="very-high-color">Very High
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding group-btn-block">
                                                                <button class="btn btn-infom low-color">LOW</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="occurrence-box report-status-details col col-3 col-md-3 no-padding">
                                                    
                                                    <div class="col no-padding report-status-tab">
                                                        <div class="col no-padding status-head">Occurrence</div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Likelihood
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Speed
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding status-overall">
                                                            Overall
                                                        </div>

                                                    </div>

                                                    <div class="col no-padding status-review">
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            <div class="selectbox">
                                                                <div class="form-group">
                                                                    <select class="form-control">
                                                                        <option>Select</option>
                                                                        <option class="very-low-color">Very Low</option>
                                                                        <option class="low-color">Low</option>
                                                                        <option class="medium-color">Medium</option>
                                                                        <option class="high-color">High</option>
                                                                        <option class="very-high-color">Very High
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            <div class="selectbox">
                                                                <div class="form-group">
                                                                    <select class="form-control">
                                                                        <option>Select</option>
                                                                        <option class="very-low-color">Very Low</option>
                                                                        <option class="low-color">Low</option>
                                                                        <option class="medium-color">Medium</option>
                                                                        <option class="high-color">High</option>
                                                                        <option class="very-high-color">Very High
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding group-btn-block">
                                                            <button class="btn btn-infom medium-color">MEDIUM</button>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review even-block">
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            <div class="selectbox">
                                                                <div class="form-group">
                                                                    <select class="form-control">
                                                                        <option>Select</option>
                                                                        <option class="very-low-color">Very Low</option>
                                                                        <option class="low-color">Low</option>
                                                                        <option class="medium-color">Medium</option>
                                                                        <option class="high-color">High</option>
                                                                        <option class="very-high-color">Very High
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            <div class="selectbox">
                                                                <div class="form-group">
                                                                    <select class="form-control">
                                                                        <option>Select</option>
                                                                        <option class="very-low-color">Very Low</option>
                                                                        <option class="low-color">Low</option>
                                                                        <option class="medium-color">Medium</option>
                                                                        <option class="high-color">High</option>
                                                                        <option class="very-high-color">Very High
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding group-btn-block">
                                                            <button class="btn btn-infom low-color">LOW</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="final-result-box report-status-details col col-3 col-md-3 no-padding">
                                                    <div class="col no-padding">
                                                        <div class="col col-12 no-padding report-status-tab">
                                                            <div class="col no-padding status-head">Risk Levels</div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review">
                                                        <div class="col col-7 col-md-7 no-padding risk-name-report inRisklevel">
                                                            Inherent Risk
                                                        </div>
                                                        <div class="col col-5 col-md-5 no-padding">
                                                            <div class="col col-12 col-md-12 no-padding group-btn-block blockrisk">
                                                                <button class="btn btn-infom medium-color">MEDIUM</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review">
                                                        <div class="col col-7 col-md-7 no-padding risk-name-report inRisklevel">
                                                            Residual Risk
                                                        </div>
                                                        <div class="col col-5 col-md-5 no-padding">
                                                            <div class="col col-12 col-md-12 no-padding group-btn-block blockrisk">
                                                                <button class="btn btn-infom low-color">LOW</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="full-width">
                                            <div class="row report-status-box">
                                                <div class="col">
                                                <div class="impact-box report-status-details col col-5 col-md-5 no-padding">
                                                    <div class="col no-padding">
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            &nbsp;
                                                        </div>
                                                        <div class="col col-8 col-md-8 no-padding report-status-tab">
                                                            <div class="col no-padding status-head">Impact</div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                Financial
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                Legal
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding">
                                                                ESG
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding status-overall">
                                                                Overall
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review">
                                                        <div class="col col-4 col-md-4 no-padding risk-name-report">
                                                            Inherent Risk
                                                        </div>
                                                        <div class="col col-8 col-md-8 no-padding">
                                                            <div class="col col-3 col-md-3 no-padding number-status-block">
                                                                <div class="input-group inline-group plus-minus-block">
                                                                    <div class="input-block-position">
                                                                        <input class="form-control quantity very-low-quantity" min="0" name="quantity" value="1" type="number">
                                                                    <div class="input-group-append plus-block">
                                                                      <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                      <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                    </div>
                                                                    </div>                                                                    
                                                                  </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding number-status-block">
                                                                <div class="input-group inline-group plus-minus-block">
                                                                    <div class="input-block-position">
                                                                        <input class="form-control quantity low-quantity" min="0" name="quantity" value="2" type="number">
                                                                    <div class="input-group-append plus-block">
                                                                      <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                      <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                    </div>
                                                                    </div>                                                                    
                                                                  </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding number-status-block">
                                                                <div class="input-group inline-group plus-minus-block">
                                                                    <div class="input-block-position">
                                                                        <input class="form-control quantity medium-quantity" min="0" name="quantity" value="5" type="number">
                                                                    <div class="input-group-append plus-block">
                                                                      <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                      <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                    </div>
                                                                    </div>                                                                    
                                                                  </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding group-btn-block number-result-block">
                                                                <button class="btn btn-infom medium-color">5</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review even-block">
                                                        <div class="col col-4 col-md-4 no-padding risk-name-report">
                                                            Residual Risk
                                                        </div>
                                                        <div class="col col-8 col-md-8 no-padding">
                                                            <div class="col col-3 col-md-3 no-padding number-status-block">
                                                                <div class="input-group inline-group plus-minus-block">
                                                                    <div class="input-block-position">
                                                                        <input class="form-control quantity very-low-quantity" min="0" name="quantity" value="1" type="number">
                                                                    <div class="input-group-append plus-block">
                                                                      <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                      <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                    </div>
                                                                    </div>                                                                    
                                                                  </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding number-status-block">
                                                                <div class="input-group inline-group plus-minus-block">
                                                                    <div class="input-block-position">
                                                                        <input class="form-control quantity very-high-quantity" min="0" name="quantity" value="7" type="number">
                                                                    <div class="input-group-append plus-block">
                                                                      <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                      <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                    </div>
                                                                    </div>                                                                    
                                                                  </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding number-status-block">
                                                                <div class="input-group inline-group plus-minus-block">
                                                                    <div class="input-block-position">
                                                                        <input class="form-control quantity high-quantity" min="0" name="quantity" value="6" type="number">
                                                                    <div class="input-group-append plus-block">
                                                                      <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                      <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                    </div>
                                                                    </div>                                                                    
                                                                  </div>
                                                            </div>
                                                            <div class="col col-3 col-md-3 no-padding group-btn-block number-result-block">
                                                                <button class="btn btn-infom low-color">2</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="occurrence-box report-status-details col col-3 col-md-3 no-padding">
                                                    
                                                    <div class="col no-padding report-status-tab">
                                                        <div class="col no-padding status-head">Occurrence</div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Likelihood
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Speed
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding status-overall">
                                                            Overall
                                                        </div>

                                                    </div>

                                                    <div class="col no-padding status-review">
                                                        <div class="col col-4 col-md-4 no-padding number-status-block">
                                                            <div class="input-group inline-group plus-minus-block">
                                                                <div class="input-block-position">
                                                                    <input class="form-control quantity low-quantity" min="0" name="quantity" value="2" type="number">
                                                                <div class="input-group-append plus-block">
                                                                  <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                  <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                </div>
                                                                </div>                                                                    
                                                              </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding number-status-block">
                                                            <div class="input-group inline-group plus-minus-block">
                                                                <div class="input-block-position">
                                                                    <input class="form-control quantity high-quantity" min="0" name="quantity" value="6" type="number">
                                                                <div class="input-group-append plus-block">
                                                                  <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                  <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                </div>
                                                                </div>                                                                    
                                                              </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding group-btn-block number-result-block">
                                                            <button class="btn btn-infom medium-color">5</button>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review even-block">
                                                        <div class="col col-4 col-md-4 no-padding number-status-block">
                                                            <div class="input-group inline-group plus-minus-block">
                                                                <div class="input-block-position">
                                                                    <input class="form-control quantity very-high-quantity" min="0" name="quantity" value="6" type="number">
                                                                <div class="input-group-append plus-block">
                                                                  <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                  <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                </div>
                                                                </div>                                                                    
                                                              </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding number-status-block">
                                                            <div class="input-group inline-group plus-minus-block">
                                                                <div class="input-block-position">
                                                                    <input class="form-control quantity medium-quantity" min="0" name="quantity" value="5" type="number">
                                                                <div class="input-group-append plus-block">
                                                                  <button class="btn btn-outline-secondary btn-plus">+</button>
                                                                  <button class="btn btn-outline-secondary btn-minus">-</button>
                                                                </div>
                                                                </div>                                                                    
                                                              </div>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding group-btn-block number-result-block">
                                                            <button class="btn btn-infom low-color">2</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="final-result-box report-status-details final-number-result-box col col-1 col-md-1 no-padding">
                                                    <div class="col no-padding">
                                                        <div class="col col-12 no-padding report-status-tab">
                                                            <div class="col no-padding status-head">Risk Levels</div>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review">
                                                        <div class="col col-12 col-md-12 no-padding group-btn-block">
                                                            <button class="btn btn-infom medium-color">5</button>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review">
                                                        
                                                            <div class="col col-12 col-md-12 no-padding group-btn-block">
                                                                <button class="btn btn-infom low-color">2</button>
                                                            </div>
                                                        
                                                    </div>
                                                </div>

                                                <div class="impact-result-box report-status-details col col-3 col-md-3 no-padding">
                                                    
                                                    <div class="col no-padding report-status-tab">
                                                        <div class="col no-padding status-head">EBIT Impact [CHF]</div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Pessmistic
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Expected
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding">
                                                            Optimistic
                                                        </div>

                                                    </div>

                                                    <div class="col no-padding status-review">
                                                        <div class="col col-4 col-md-4 no-padding impact-quantity-result">
                                                            <input class="form-control negative-value" value="-400"/>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding impact-quantity-result">
                                                            <input class="form-control negative-value" value="-100"/>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding impact-quantity-result">
                                                            <input class="form-control positive-value" value="100"/>
                                                        </div>
                                                    </div>
                                                    <div class="col no-padding status-review even-block">
                                                        <div class="col col-4 col-md-4 no-padding impact-quantity-result">
                                                            <input class="form-control negative-value" value="-400"/>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding impact-quantity-result">
                                                            <input class="form-control negative-value" value="200"/>
                                                        </div>
                                                        <div class="col col-4 col-md-4 no-padding impact-quantity-result">
                                                            <input class="form-control positive-value" value="0"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="full-width">
                                            <div class="form-group">
                                                <label>Comments</label>
                                                <textarea type="text" class="form-control"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="full-width">
                                            <label class="label">Attachments</label>
                                            <div class="full-width">
                                                <div class="list-of-uploads ">
                                                    <div class="uploadList ht-85">
                                                        <ul>
                                                            <li>
                                                                <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                            </li>
                                                            <li>
                                                                <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                            </li>
                                                            <li>
                                                                <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width button-container">
        <button class="big-button">Save</button>
        <button class="big-button purple-btn">Delegate</button>
        <button class="big-button orange-btn">Reject</button>
        <button class="big-button dark-yellow-btn">OPEN ISSUE</button>
        <button class="big-button green-btn right-side">Approve</button>
        <button class="big-button yellow-btn right-side">Submit</button>
       
      </div>
</div>

