.report-status-box .status-review .risk-name-report.inRisklevel{
    padding: 8px 5px;
}
.btn-seperate-style .report-status-box .report-status-details .group-btn-block{
    padding: 6px 6px;
}
.btn-seperate-style .report-status-box .report-status-details .group-btn-block.blockrisk{
    padding: 4px 6px;
}