<div class="full-width breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
  </ul>
</div>

<div class="t-grid full-width bg-white p-3">
  <div class="t-grid-row row">

    <div class="t-grid-cell h-100 col-sm-12 col-lg-7">

      <ul class="action_ul">
        <li>
          <div class="full-width box-container orange-border">
            <div class="box-haif-number">
              <div class="number-container">
                <p class="number">{{criticalCount}}</p>
              </div>
              <div class="text-container">
                <p class="text">Critical Actions</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="full-width box-container blue-border">
            <div class="box-haif-number">
              <div class="number-container">
                <p class="number">{{actionCount}}</p>
              </div>
              <div class="text-container">
                <p class="text">Total Actions</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="full-width box-container yellow-border">
            <div class="box-haif-number">
              <div class="number-container">
                <p class="number">{{overdueCount}}</p>
              </div>
              <div class="text-container">
                <p class="text">Overdue Actions</p>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="info-boxes">
        <h3 class="main_heading">Geographical Audit Information
          <a (click)="reloadData()" class="iconClick">
            <img src="../../../../../assets/img/refresh-icon.svg" alt="refresh-icon"></a>
        </h3>
        <div class="map-container">
          <div class="map-pstn">

            <div>
              <countries-map countryLabel='' valueLabel='' class="maps" noDataColor='#C7C9D9' maxColor='#0085E5'
                minColor='#5a4296' [data]="mapData" exceptionColor='#FFEE58' (chartReady)="ready()" captionBelow=false showCaption=false
                (chartSelect)="select($event)"></countries-map>
            </div>
          </div>
        </div>
        <ul class="achivements text-center">
          <li>
            <p>Audits</p>
            <span>{{auditCount}}</span>
          </li>
          <li>
            <p>Pending</p>
            <span>{{pendingCount}}</span>
          </li>
          <li>
            <p>Scheduled</p>
            <span>{{scheduledCount}}</span>
          </li>
        </ul>
      </div>

    </div>


    <div class="t-grid-cell h100 col-sm-12 col-lg-5">
      <div class="info-boxes">
        <h3 class="regular-heading">Messages <span class="new-notify">9 New</span></h3>
        <ul class="message-list">
          <li class="orange">
            <p>Please contact me</p>
            <span>25 mins ago</span>
          </li>
          <li class="green">
            <p>Sign a contract</p>
            <span>45 mins ago</span>
          </li>
          <li class="yellow">
            <p>Please review audit report</p>
            <span>1 day ago</span>
          </li>
        </ul>
      </div>


      <div class="info-boxes mt-3">
        <h3 class="bold-heading">Ongoing Audits In Chosen Geography</h3>
        <div class="table-responsive dashboard-responsive">
          <table id="dashboardauditListTable" class="display table-dashboard table-fixed" style="width:100%" aria-describedby="mydesc">
            <thead>
              <tr>
                <th id></th>
                <th id>Audit ID</th>
                <th id>Scope</th>
                <th id>Audit Lead</th>
                <th id="">Start Date</th>
              </tr>
            </thead>

            <tbody class="tb-style">
              <tr *ngFor='let responseAudit of auditList'>
                <td></td>
                <td>{{responseAudit.auditId}}</td>
                <td>{{responseAudit.scope}}</td>
                <td>{{responseAudit.auditLead}}</td>
                <td>{{responseAudit.startDate}}</td>
              </tr>
            </tbody>

          </table>
      </div>
    </div>

      <div class="info-boxes mt-3">
        <h3 class="bold-heading">Overdue Actions In Chosen Geography</h3>
        <div class="table-responsive dashboard-responsive">
          <table id="dashboardactionListTable" class="display table-dashboard table-fixed" style="width:100%" aria-describedby="mydesc">
            <thead class="th-style">
              <tr>
                <th id ></th>
                <th id>Action ID</th>
                <th id>Action Name</th>
                <th id="">Rating</th>
                <th  id class="text-left">Due Date</th>
              </tr>
            </thead>
            <tbody class="tb-style">
              <tr *ngFor='let response of actionList'>
                <td ></td>
                <td>{{response.actionId}}</td>
                <td>{{response.actionName}}</td>
                <td>{{response.rating}}</td>
                <td *ngIf="response.signOffPeriod">{{(response.signOffPeriod).substring(0,10)}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>





 
</div>


<div class="full-width bg-white mt-3 p-3">
  <div class="row">
    <div class="col-md-7">
      <div class="roles">
        <ul>
          <li class="yellowbox">
            <ul>
              <li style=" padding:0; border:none">
                <img src="../../../../../assets/img/it-icon.svg" alt="it-icon"/>
                <p>IT</p>
              </li>
              <li style=" padding:0; border:none; float: right">
                <p style="font-size:40px">{{itCount}}</p>
              </li>
            </ul>

          </li>
          <li class="purplebox">
            <ul>
              <li style=" padding:0; border:none; float: left">
                <img src="../../../../../assets/img/money.svg" alt="money"/>
                <p>Finance</p>
              </li>
              <li style=" padding:0; border:none; float: right">
                <p style="font-size:40px">{{financialCount}}</p>
              </li>
            </ul>
          </li>
          <li class="meduimbluebox">
            <ul>
              <li style=" padding:0; border:none">
                <img src="../../../../../assets/img/compliance.svg" alt="compliance"/>
                <p>HR</p>
              </li>
              <li style=" padding:0; border:none ;float: right">
                <p style="font-size:40px">{{complianceCount}}</p>
              </li>
            </ul>

          </li>
          <li class="navybluebox">
            <ul>
              <li style=" padding:0; border:none">
                <img src="../../../../../assets/img/supervisor.svg" alt="supervisor" />
                <p>Regulatory</p>
              </li>
              <li style=" padding:0; border:none ;float: right">
                <p style="font-size:40px">{{superviosryCount}}</p>
              </li>
            </ul>
          </li>
          <li class="greenbox">
            <ul>
              <li style=" padding:0; border:none; width:50%">
                <img src="../../../../../assets/img/risk.svg" alt="risk" />
                <p>Environment</p>
              </li>
              <li style=" padding:0; border:none; float: right">
                <p style="font-size:40px">{{rmCount}}</p>
              </li>
            </ul>

          </li>
          <li class="orangebox">
            <ul>
              <li style=" padding:0; border:none">
                <img src="../../../../../assets/img/distribution.svg" alt="distribution" />
                <p>Site</p>
              </li>
              <li style=" padding:0; border:none;float: right">
                <p style="font-size:40px">{{distributionCount}}</p>
              </li>
            </ul>

          </li>
          <li class="lightbluebox">
            <ul>
              <li style=" padding:0; border:none">
                <img src="../../../../../assets/img/process.svg" alt="process"/>
                <p>Logistics</p>
              </li>
              <li style=" padding:0; border:none ;float: right">
                <p style="font-size:40px">{{operationsCount}}</p>
              </li>
            </ul>

          </li>


          <li class="yellowbox">
            <ul>
              <li style=" padding:0; border:none">
                <img src="../../../../../assets/img/proces1s.svg" alt="proces1s"/>
                <p>Governance</p>
              </li>
              <li style=" padding:0; border:none; float: right">
                <p style="font-size:40px">{{govCount}}</p>
              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <canvas id="bubble" width="210" height="210">{{ bubbleChart }}</canvas>
      </div>
    </div>
  </div>
</div>