.cm-country-name{
  display: none;
}
.main_heading{
  position: relative;
  padding-right: 48px;
}
.iconClick{
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.table-responsive{
 height: initial !important;
 max-height: initial !important;
}
.major-block.cm-caption-container {
  display: none;
}
table {
    table-layout: fixed ;
    width: 100% ;
  }

  th, td {
    width: 25% ;
  }

table {
    .th-style {
        display: table;
        width: calc(100% - 0px);
    }
}
.mapContainerSection{
    width: 670px;
    margin: 0 auto;
}

table.dataTable.display tbody tr.odd {
  background-color: transparent !important;
}
@media (max-width: 991px) {
  .map-container {
      display: inline;
  }
  .map-pstn {
      padding-top: 5%;
  }
  table.td-style {
      height: 156px;
  }
}


@media (max-width: 768px) {
  .action_ul {
    display: inline-block;
  }
  .roles ul {
    margin: 0px;
  }
  .roles ul li {
    margin: 0 0 6% 0;
    width: 100%;
}
  .action_ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  .action_ul li:last-child {
    width: 100%;
    margin-bottom: 0px;
  }
  .roles ul li ul li {
    width: 45%;
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .map-pstn {
      padding-top: 10%;
  }
}

@media (max-width: 1200px) {
  // table.dataTable thead th {
  //     padding: 8px 0px 8px 16px;
  // }
  .tb-style {
      height: 106px !important;
  }
}
@media (min-width: 1200px) {
  .map-pstn {
      padding-top: 4%;
  }
}
@media (min-width: 1399px) {
  .tb-style {
    height: 175px !important;
   }
}
@media (min-width: 1499px) {
  .tb-style {
    height: 194px !important;
   }
}
@media (min-width: 1599px) {
  .tb-style {
    height: 214px !important;
   }
   .map-container {
    padding-top: 0;
}
}
@media (min-width: 1699px) {
  .tb-style {
    height: 233px !important;
   }
}
@media (min-width: 1899px) {
  .tb-style {
    height: 287px !important;
   }

}