// .add-new-button {
//     position: relative;
//     .dropdown {
//         display: none;
//         position: absolute;
//         width: 100px;
//         right: 0;
//         margin: .125rem 0 0;
//         /* font-size: 1rem; */
//         color: #212529;
//         text-align: left;
//         list-style: none;
//         background-color: #fff;
//         background-clip: padding-box;
//         border: 1px solid rgba(0,0,0,.15);
//         border-radius: .25rem;
//         padding: 0;
//         top: 22px;
//         li {
//             text-align: right;
//             padding: 4px 10px;
//         }
//     }
//     &:hover {
//         .dropdown {
//             display: block;
//         }
//     }
// }
.add-new-audits-drop {
    display: inline-block;
    .dropdown-menu {
        min-width: 79px;
        padding: 0;
        margin-top: 0;
        height: auto;
        left: auto !important;
        right: 10px;
        top: 2px !important;
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            li {
                border-bottom: 1px solid #ddd;
                a {
                    cursor: pointer;
                    margin: 0;
                    width: 100%;
                    display: inline-block;
                    padding: 6px;
                    font-size: 12px;
                    color: #212529;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.audit-view-block {
    margin-top: 12px;
    .control-risk-switch {
        span {
            font-weight: 700;
        }
    }
    .button-radio {
        label {
            font-weight: 700;   
        }
    }
     
    .onoffswitch {
        display: inline-block;
        vertical-align: middle;
        margin-left: 12px;
    }
    .icon-list {
        a {
            cursor: pointer;
            margin-left: 15px;
        }
    }
}
.agile-audit-block{
    padding: 0px;
    position: relative;

    .progress-bar-block {
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px 15px;
        width: 35%;
        text-align: right;
        .overall-progress-bar {
            display: inline-block;
            margin-right: 16px;
            width: 74%;
            text-align: left;
            vertical-align: middle;
            .progress {
                overflow: visible;
                margin-bottom: 0px;
                height: 6px;
                .progress-bar {
                  background-color: #98aa3a;
                  position: relative;
                  border-radius: 4px;
                  overflow:visible;
                  span {
                    background-color: #98aa3a;
                    position: absolute;
                    bottom: -5px;
                    font-size: 6px;
                    line-height: 10px;
                    right: 0;
                    border-radius: 50%;
                    padding: 3px;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    border: 1px solid;
                    &.spec{
                        width: 22px;
                        height: 22px;
                        bottom: -8px;
                        font-size: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-weight: 600;
                        b{
                            font-size: 6px;
                        }
                    }
                  }
                //   span:after {
                //     bottom: 100%;
                //     left: 50%;
                //     border: solid transparent;
                //     content: " ";
                //     height: 0;
                //     width: 0;
                //     position: absolute;
                //     pointer-events: none;
                //     border-color: rgba(255, 255, 255, 0);
                //     border-bottom-color: #98aa3a;
                //     border-width: 5px;
                //     margin-left: -5px;
                //   }
                }
              }
        label {
            font-size: 10px;
            margin: 0;
        }
    }
    }
}

.calendar-view {
    .no-data-found {
        height: 116px;
        display: inline-grid;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .calendar-inner-content {
        h1 {
            position: absolute;
            left: 4px;
            top: 4px;
            font-size: 11px;
            color: #fff;
            z-index: 9;
            font-weight: 700;
        }
    }
    .time-sch-wrapper {
        .time-sch-header-wrapper {
            padding: 4px 4px;
            margin: 0 !important;
            background: #745daa;
            color: @white;
            height: 22px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            h3 {
                font-size: 11px;
                float: right;
                font-weight: 400;
                padding-right: 25px;
                width: 168px;
            }
            .time-sch-period-container {
                display: none;
            }
            .time-sch-time-container {
                padding: 0;
                width: 80%;
                button {
                    &:first-child, &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        position: absolute;
                        left: 0;
                        top: -2px;
                        color: rgba(255, 255, 255, 0.52);
                    }
                    &:nth-child(4) {
                        position: absolute;
                        right: 0;
                        top: -2px;
                        color: rgba(255, 255, 255, 0.52);
                    }
                    border: 0px;
                    font-size: 11px;
                    padding: 0px;
                    margin: 0px;
                    color: @white;
                    height: auto;
                    font-weight: 700;
                }
            }
        }
        .time-sch-table-wrapper {
            .time-sch-table {
                .time-sch-section {
                    width: 50px;
                    border-bottom-width: 0px;
                    text-indent: -9999px;
                }
                td {
                    border-right-width: 0px;
                    border-left-width: 0px;
                    font-size: 10px;
                    &.time-sch-section {
                        border-right-width: 1px;
                        
                    }
                }
            }
            .time-sch-content-wrap {
                .time-sch-table {
                    tr {
                        height: 25px !important;
                        td {
                            border: 0px;
                            &.time-sch-section {
                                border-right: 1px solid #c1c1c1;
                                border-bottom-width: 1px;
                                text-indent: 0;
                            }
                        }
                    }
                    
                }
                .time-sch-section-wrapper {
                    .time-sch-section-container {
                        height: 25px !important;
                        margin: 0 4px;
                    }
                    .time-sch-item {
                        height: 12px !important;
                        top: 6px !important;
                        border-radius: 12px;
                        border: 0px;
                        min-height: 1px;
                        &.schedule-green {
                            background-color: #98aa3a;
                        }
                        &.schedule-orange {
                            background-color: #ffcc00;
                        }
                        &.schedule-blue {
                            background-color: #664da0;
                        } 
                        &.schedule-red {
                            background-color: #dd6838;
                        }                     
                        div {
                            display: none;
                        }
                    }
                    .time-sch-current-time {
                        display: none;
                    }
                }
            }
        }    
    }
   
}

.tab-spc {
  .content {
   .tab-container {
     ul {
       li {
         a {
          padding: 10px 25px ;
         }
       }
     }
   } 
  }
}
