.duplicate-btn-form {
    position: relative;
    width: auto;
    text-align: center;
    min-width: auto;

    &:hover {
        min-width: 70px;
    }

    .dupIco {
        text-decoration: none;  
        transition: all 0.25s ease-out;
        transition-delay: 2s;
        img{width: 16px;}
        
        }

    .dupIcoHover {
        position: absolute;
        top: 8px;
        left: 0;
        margin: 0;
        padding: 7px 2px !important;
        background: @primary_color;
        border-radius: 5px;
        color: @white;
        text-decoration: none;
        min-width: 70px;
        font-size: @font_10;
        z-index: 999;
        line-height: 12px;
        visibility: hidden;
        // display: none;
        opacity: 0;
        //transition: all 0.25s ease;

            img {
                width: 16px;
                margin-top: -2px;
            }

        }

        &:hover .dupIcoHover {
            opacity: 1;
            transition: all 0.5s ease;
            visibility: visible;
        } 

        // &:last-child .dupIcoHover {
        //     left: -46px;
        // }

        // &:nth-last-child(2) .dupIcoHover {
        //     left: -43px;
        // }


        &:nth-last-child(3) {
            .dupIcoHover {
                min-width: 63px;
            }
        }

        &:nth-last-child(2) {
            .dupIcoHover {
                min-width: 56px;
            }
        }

        &:nth-last-child(1) {
            .dupIcoHover {
                min-width: 56px;
            }
        }




}


// New Hover Icon Css

.newIconsIn {
    float: right;
    width: 28%;
    padding: 10px 5px;

    ul {
        float: left;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;

        li {
            margin-right: 5px;
            display: inline-block;


            &:last-child {
                margin-right: 0;
            }

            a {
                float: left;
                height: 28px;
                width: 29px;
                border-radius: 5px;
                color: #fff;
                text-decoration: none;
                font-size: 10px;
                line-height: 28px;
                background: transparent url(../img/duplicate-form.svg) 8px 5px no-repeat;
                background-size: 15px;
                overflow: hidden;
                transition: all 0.5s ease;

                &.export {
                    background: transparent url(../img/upload-form.svg) 8px 5px no-repeat;
                    background-size: 14px;

                    &:hover {
                        background: @primary_color url(../img/Export2.svg) 8px 5px no-repeat;
                        background-size: 14px;
                    }
                }

                &.print {
                    background: transparent url(../img/print-form.svg) 8px 5px no-repeat;
                    background-size: 17px;

                    &:hover {
                        background: @primary_color url(../img/Print2.svg) 8px 7px no-repeat;
                        background-size: 15px;
                    }
                }

                &.share {
                    background: transparent url(../img/share-form.svg) 8px 5px no-repeat;
                    background-size: 17px;

                    &:hover {
                        background: @primary_color url(../img/share2.svg) 8px 6px no-repeat;
                        background-size: 15px;
                    }
                }

                b {
                    display: none;
                    float: left;
                    padding: 0 0 0 30px;
                }

                &:hover {
                    background: @primary_color url(../img/Duplicate-white.svg) 8px 5px no-repeat;
                    background-size: 14px;
                    width: 80px;
                }
            }
        }
    }

}

.newIconsIn ul li a:hover b {
    display: block;
}

// New Hover Icon Css