.progress-container{
    padding-top: 26px;
    .progress{
        height: 11px;
        border-radius: 12px;
        background-color: #C1C1C1;
        .progress-bar{
            background-color: #98AA3A;
            border-radius: 12px;
        }
    }
    .halfin{
        width: 50%;
        float: left;
        &.bar-sec{
            color: #644C9F;
            font-size: 15px;
            font-weight: 600;
            line-height: 16px;
        }
        &.bar-det{
            color: #464646;
            font-size: 27px;
            font-weight: 600;
        }
    }
}
.accordian-container{
    .inneraccordianIn {
        padding-top: 0px;
        .btn-link.btn-block{
            border: 1px solid #644C9F !important;
            background-color: #fff;
            position: relative;
            padding: 14px 8px;
            padding-right: 78px;
            padding-left: 30px;
            color: #464646;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            .idnum{
                color: #644C9F;
            }
            .count-number{
                position: absolute;
                right: 10px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 10px;
                    color: #fff;
                    padding: 1px 6px;
                    border-radius: 5px;
                    background-color: #644C9F;
                }
            }
            .imgleft{
                width: 17px;
                position: absolute;
                left: 14px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                }
            }
            .contentleft{
                width:100%;
                float: left;
                padding-left: 10px;
            }
        }
        .collapse-lines{
            border:1px solid #644C9F;
            border-top: 0px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #fff;
        }
        .btn.btn-link.btn-block.text-left{
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom: 0px !important;;
            &.collapsed{
                border-radius: 5px;
                border: 1px solid #644C9F!important;
            }
        }
        .card-body.card-sec{
           // background-color: #fff;
            padding-top: 0px;
            margin: 0px;
           
        }
        .audit-program{
            padding: 0px;
            margin: 0px;
            width: 100%;
            float: left;
            padding-left: 32px;
            padding-right: 10px;
            li{
                width: 100%;
                list-style-type: none;
                float: left;
                position: relative;
                color: #464646;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 20px;
                span{
                    color: #644C9F;
                    &.cursor-pointer{
                        cursor: pointer;
                    }
                }
                .radio-container{
                    position: absolute;
                    right: 0;
                    width: 12px;
                    top: 9px;
                    .form-group{
                        margin-bottom: 0px;
                        .custom-radio{
                            padding-left: 0px;
                            .checkmark{
                                width: 12px;
                                height: 12px;
                                background-color: #fff;
                                border: 1px solid #707070;
                                &:after{
                                    width: 12px;
                                height: 12px;
                                top: -1px;
                                left: -1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .opn-wrkbtn{
            background-color: #644C9F;
            color: #fff;
            width: 100%;
            padding: 8px 8px;
            font-weight: 600;
            border-radius: 0px;
        }
        .delete-workstep{
            width: 50%;
            background-color: #DD6838;
            color: #fff;
            width: 50%;
            padding: 8px 8px;
            font-weight: 600;
            border-radius: 0px;
            border-bottom-left-radius: 3px;
        }

        .btn-without-delete{
            .delete-workstep{
                display: none;
            }
            .opn-wrkbtn{
                width: 100%;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        .btn-with-delete{
            .delete-workstep{
                display: inline-block;
            }
            .opn-wrkbtn{
                width: 50%;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 3px;
            }
        }
        .card{
            margin-bottom: 14px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }

    .issues-container{
        .inneraccordianIn{
            .btn.btn-link.btn-block.text-left{
                color: #DD6838;
                border: 1px solid #DD6838!important;
                border-bottom: 0px !important;
                &.collapsed{
                    border-radius: 5px;
                    border: 1px solid #DD6838!important;
                }
            }
            .btn-link.btn-block .idnum{
                color: #DD6838;
            }
            .contentabt{
                color: #DD6838;
            }
            .collapse-lines{
                border: 1px solid #DD6838;
                border-top: 0px;
            }
            .audit-program li {
                color: #DD6838;
                span{
                    color: #DD6838;
                }
            }
            .opn-wrkbtn{
                background-color: #DD6838;

            }
           
        }
    }
}

.newin .accordian-container .form-accordian .headind-box{
padding-right: 0px;
}
.accordian-container .accordion>.card:not(:last-of-type){
    border-bottom: 0px;
}
.card.according-wing{
    margin-top: 0px;
}




.pop-up-form .tab-section-container .tabContent-box.tab-collapse-in{
background-color: transparent;
padding: 0px;
border: 0px;
}
.pop-up-form .tab-section-container{
    .tabContent-box.tab-collapse-in{
        .section-inside{
            .content-labels{
                padding: 0px;
                margin: 0px;
                float: left;
                list-style: none;
               
                li{
                    min-width: 100px;
                    padding-right: 10px;
                    float: left;
                    .label-txt{
                        font-size: 12px;
                        color: #494949;
                        font-weight: 600;
                        margin-bottom: 6px;
                    }
                    .op-id{
                        margin-bottom: 0px;
                        color: #644C9F;
                        font-weight: 600;
                    }
                }
            }
            .list-of-admins{
                padding: 0px;
                margin: 0px;
                float: right;
                list-style: none;
                li{
                    padding-left: 10px;
                    float: left; 
                   
                    .label-txt{
                        font-size: 12px;
                        color: #494949;
                        font-weight: 600;
                        margin-bottom: 6px;
                    }
                    .imageicon{
                        width: 40px;
                        height: 25px;
                        float: left;
                        img{
                            max-width: 25px;
                        }
                    }
                    .name{
                        float: left;
                        font-size: 12px;
                        color: #494949;
                        height: 25px;
                        .namecenter{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }
                    &.add-in{
                        min-width: 120px;
                        padding-right: 10px;
                        .imageicon{
                            width: 30px;
                            img{
                                max-width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .height-sep .angular-editor .angular-editor-wrapper .angular-editor-textarea{
        height: 74px !important;
    }
    .hoveriterm{
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: #644C9F;
        padding: 1px 0px;
        text-align: center;
        color: #ffff;
        img{
            display: inline-block;
            margin: inherit;
            padding-bottom: 0px;
            width: 15px;
        }
    }
    .attch-tooltips:hover{
        .hoveriterm{
            opacity: 1;
        }
    }
}

.new-work-step-form {
    h4 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    button {
        &.btn-infom {
            float: left !important;
            margin: 0px !important;
        }
    }
    p {
        &.color-text {
            font-size: 14px;
            color: #644C9F;
            font-weight: 600;
        }
    }
    .angular-editor {
        margin-top: -5px;
    }
    .add-user-button {
        .add-user-icon {
            width: 22px;
            margin-right: 2px;
        }
        p {
            display: inline-block;
            font-size: 12px;
        }
        .prepare-left {
            width: 60%;
            font-size: 11px;
        }
        .prepare-right {
            width: 40%;
            font-size: 12px;
        }
        .prepare-left, .prepare-right {
            display: inline-block;
            vertical-align: middle;
            button {
                background: transparent;
                border: 0px;
                margin: 0px;
                margin-right: 4px;
                padding: 0px;
            }
            p {
                margin-bottom: 0px;
                font-weight: 600;
                display: inline-block;
                max-width: 70%;
                vertical-align: middle;
                line-height: normal;
            }
        }
    } 
    .accordion-sec .list-of-uploads .uploadList {
        &.height-112 {
            height: 112px;
            overflow-y: auto;
            &.box-scroll {
                /* width */
                &::-webkit-scrollbar {
                    width: 6px;
                    
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                    border-radius: 4px!important;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #cbcbcb;
                    border-radius: 4px!important;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #cbcbcb; 
                }
            }
        }
        // ul {
        //     li {

        //     }
        // }
        .w-60 {
            width: 60%;
            float: left;
        }
        .w-40 {
            width: 40%;
            float: left;
        }
        .w-30 {
            width: 30%;
            float: left;
        }
        .w-10 {
            width: 10%;
            float: right;
            padding-right:6px;
            &.box-dropdown {
                .dropdown-toggle {
                    padding: 0px;
                    .dot {
                        background-color: #6d6d6d;
                        width: 4px;
                        height: 4px;
                        margin-bottom: 1px;
                    }
                }
                .dropdown-menu-text {
                    width: 125px;
                    border: 1px solid #707070;
                    right: -12px;
                    margin-top: 4px;
                    padding: 0;
                    -webkit-transform: none!important;
                    transform: none!important;
                    top: 25px!important;
                    position: absolute !important;
                    left: auto !important;
                    text-align: right;
                    &:before {
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #707070;
                        content: "";
                        position: absolute;
                        right: 6px;
                        top: -10px;
                    }
                    &:after {
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid #fff;
                        content: "";
                        position: absolute;
                        right: 8px;
                        top: -8px;
                    }
                    ul {
                        li {
                            padding: 2px 8px;
                            line-height: normal;
                            height: auto;
                            margin: 0;
                            border:0px;
                            a {
                                padding: 2px 4px;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .document-upload-box {
        max-width: 38%;
        flex: 0 0 38%;
    }
    .upload-file-doc-block {
        max-width: 12%;
        flex: 0 0 12%;
    }
    .edit-work-step-block {
        .prepare-right {
            input {
                padding: 4px;
                height: 20px;
                font-size: 11px;
                width: 62px;
                margin: 0;
                border-color: #644c9f;
                color: #644C9F;
            }
        }
        .add-user-button {
            .prepare-left {
                width: 50%;
                p {
                    font-weight: normal;
                }
            }
            .prepare-right {
                width: 45%;
                p {
                    font-weight: normal;
                }
            }
            .add-user-icon {
                margin-right: 5px;
            }
        }
    }
    .issue-btn-block {
        margin-bottom: -12px;
        position: relative;
        z-index: 99;
        label {
            display: inline;
            margin-right: 6px;
            &.isuue-font{
                line-height: 25px;
            }
        }
        button {
            padding: 0;
            border: 1px solid #644C9F;
            width: 40px;
            font-size: 12px;
            background: #f5f5f5;
            &.btn-yes {
                &.active {
                    background: #dd6838;
                    color: #fff;
                }
            }
            &.btn-no {
                border-left: 0px;
                &.active {
                    background: #98aa3a;
                    color: #fff;
                }
            }
        }
    } 
    .btn-red {
        background-color: #dd6838 !important;
        border-color: #dd6838!important;
    }
}
.pop-up-form {
  .new-work-step-form {
    .question-container-1 {
        margin-bottom: 10px;
        height: 134px;
        margin: 0;
        vertical-align: middle;
        float: none;
        display: flex;
        align-items: center;
        .add-file {
            margin: 16px 0 0;
            width: 80px;
            .ngx-file-drop__drop-zone {
                height: auto;
            }
            label {
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }
        }

    }
}
}

.tab-block {
    &.tab-spec {
      .pop-up-form {
        ul.nav-tabs{ 
          li { 
          &:first-child {
            a {
              padding-left: 0px;
            }
          }
          a {
          padding: .5rem 1rem;
          font-size: 18px;
        }
      }
    }
      }
      
  }
  }
.new-chat-popup-maincontainer {
    &.add-document-new {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        .close-form {
            left: auto;
            right: 5px;
            z-index: 99999;
            border-radius: 22px;
            width: 22px;
            height: 22px;
            padding: 2px;
            top: 4px;
            img {
                width: 12px;
            }
        }
        .intray-search {
            z-index: 9999;
            background: rgba(0,0,0,0.1);
            height: 100%;
            .dataTables_filter label {
                margin: 0px;
            }
            .search-filter-box {
                height: auto;
                .filteroptions{
                &.tab-block .multiSearchFilters {
                height: auto;
                max-height: 200px;
            }
            &.upload-load-file-block {
                border-top: 1px solid #ddd;
                background: #f5f5f5;
                padding-top: 8px;
                padding-bottom: 8px;
                text-align: center;
                display: inline-block;
                h3 {
                    width: auto;
                    float: none;
                    vertical-align: middle;
                    margin: 0;
                    padding-right: 8px;
                    display: inline-block;
                }
                .custom-file-input {
                    float: none;
                    vertical-align: middle;
                }
            }
            }
        }
        }
        .multiSearchFilters {
            .btn {
                &.btn-small {
                    float: right;
                    padding: 0px 4px;
                    border: 1px solid #644c9f;
                    font-size: 10px;
                    line-height: normal;
                    color: #644c9f;
                    margin: 3px 0;
                }
            }
        }
        .multiselect-item-checkbox input[type=checkbox] + div {
            position: relative;
            padding-left: 2em;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            margin: 0;
            color: #000;
            display: inline-block;
        }
        .multiselect-item-checkbox input[type=checkbox] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .multiselect-item-checkbox input[type=checkbox] + div:before {
            box-sizing: content-box;
            content: "";
            color: #337ab7;
            position: absolute;
            top: 50%;
            left: 0;
            width: 14px;
            height: 14px;
            margin-top: -9px;
            border: 2px solid #337ab7;
            text-align: center;
            transition: .4s;
        }
        .multiselect-item-checkbox input[type=checkbox] + div:after {
            box-sizing: content-box;
            content: "";
            position: absolute;
            transform: scale(0);
            transform-origin: 50%;
            transition: transform .2s ease-out;
            background-color: transparent;
            top: 50%;
            left: 4px;
            width: 8px;
            height: 3px;
            margin-top: -4px;
            border-style: solid;
            border-color: #fff;
            border-width: 0 0 3px 3px;
            -o-border-image: none;
            border-image: none;
            transform: rotate(-45deg) scale(0);
        }
        .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
            -webkit-animation: .2s ease-in borderscale;
            animation: .2s ease-in borderscale;
            background: #337ab7;
        }
        .multiselect-item-checkbox input[type=checkbox]:checked + div:after {
            content: "";
            transition: transform .2s ease-out;
            transform: rotate(-45deg) scale(1);
        }
        
    }
   
}
  .dropdown-menu.dropdown-menu-text.dropdownSearch{
    right: -135px;
    left: inherit !important;
    margin-top: 14px;
    width: 280px;
    .form-group{
        margin-bottom: 0px;
         select{
             border: 0px;
         }
    }
  }

.pop-up-form .question-container-1 .add-file {
    border: 1px solid #dddddd;
    border-style: dashed;
    display: inline-block;
    padding: 10px;
    background: #fff;
    border-width: 2px;
    margin-left: 30px;
    &.upload-file-plus {
        border: 0;
        padding: 0;
        margin: 0;
        line-height: normal;
        background: transparent;
        .ngx-file-drop__drop-zone {
            height: auto;
        }
    }
}
.pop-up-form .question-container-1 .add-file img {
    display: table;
    text-align: center;
    margin: auto;
}
.fixedtopBar{
    transition: 1000ms all;
}
.main-content-area .fixedtopBar{
    position: fixed;
    text-align: center;
    top: 59px;
    left: 240px;
    width: calc(~"100% - 269px");
    z-index: 10;
    padding: 30px 15px;
    background-color: #fff;
    right: 0; 
}

.main-content-area.toggled .fixedtopBar{
    position: fixed;
    text-align: center;
    top: 59px;
    left: 75px;
    width: calc(~"100% - 104px");
    z-index: 10;
    padding: 30px 15px;
    background-color: #fff;
    right: 0;

}

@media  print{
    .sidebar-container.toggled{
        display: none;
    }
    .fixed-top{
        display: none;
    }
    .main-content-area{
        overflow: inherit;
        height: auto;
        width: 100%;
        padding: 0px;
        padding-left: 0px !important;
    }
    .new-draggable-div.ng-draggable{
        display: none;
    }
}

.scrtabs-tab-container .scrtabs-tab-scroll-arrow{
    position: absolute;
    top: 0;
    z-index: 10;
    background: #fff;
    &.scrtabs-tab-scroll-arrow-left{
      left: 0;
    }
    &.scrtabs-tab-scroll-arrow-right{
      right: 20px;
    }
  }
  .ng-complete-in {
      margin-top: 7px;
  }

  .ng-complete-in .autocomplete-container .input-container{
    background-color: #fff;
    border-radius: 2.75px;
    border: 1px solid #cbcbcb;
    font-size: 12px;
    color: #6d6d6d;
}
.ng-complete-in .ng-autocomplete .autocomplete-container{
    border: 0px;
}

.dropdown-menu-text.dropdownSearch .ng-autocomplete .autocomplete-container{
    border: 0px;
  }
  .dropdown-menu-text.dropdownSearch .autocomplete-container .input-container input{
      background-image: url("../img/search_icon.svg");
      background-position: top 8px left 6px;
      background-repeat: no-repeat;
      padding-left: 22px !important;
  }
  .custom_radio{
      float: right;
  }
  .radio-left{
    float: left;
    overflow: hidden;
    input[type="radio"]{
        position: absolute;
        opacity: 0;
        left: -99999px;
    }
    label{
        float: left;
        width: 50px;
        height: 25px;
        text-align: center;
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #494949;
        border: 1px solid #644C9F;
        background-color: #F2F2F2;
        margin: 0px !important;
        cursor: pointer;
    }
}
.custom_radio .radio-left input[type="radio"]:checked + label.no{
 background-color: #98AA3A;
 color: #fff;
 border: 1px solid #98AA3A;
}
.custom_radio .radio-left input[type="radio"]:checked + label.yes{
    background-color:#dd6838;
    color: #fff;
    border: 1px solid #dd6838;
   }


   .big-button.animation-save{
    margin-left: 0px !important;
    transition: 1000ms all;
    span:nth-of-type(2){
        display: none;
     }
     span:nth-of-type(3){
        display: none;
     }
     img{
         max-width: 13px;
         margin-right: 5px;
         &.rotate-in{
            animation: loading 500ms linear infinite;
            -webkit-animation: loading 500ms linear infinite;
         }
     }
     &.active-btn{
         cursor: not-allowed;
        span:nth-of-type(2){
            display: inline-block;
         }
         span:nth-of-type(1){
            display: none;
         }
     }
     &.active-out{
        cursor: not-allowed;
       span:nth-of-type(3){
           display: inline-block;
        }
        span:nth-of-type(1){
           display: none;
        }
        span:nth-of-type(2){
            display: none;
         }
    }
    &.left-side{
        float: left;
    }
}

.big-button.animation-submit{
    margin-left: 0px !important;
    transition: 1000ms all;
    span:nth-of-type(2){
        display: none;
     }
     span:nth-of-type(3){
        display: none;
     }
     img{
         max-width: 13px;
         margin-right: 5px;
         &.rotate-in{
            animation: loading 500ms linear infinite;
            -webkit-animation: loading 500ms linear infinite;
         }
     }
     &.active-btn{
         cursor: not-allowed;
        span:nth-of-type(2){
            display: inline-block;
         }
         span:nth-of-type(1){
            display: none;
         }
     }
     &.active-out{
        cursor: not-allowed;
       span:nth-of-type(3){
           display: inline-block;
        }
        span:nth-of-type(1){
           display: none;
        }
        span:nth-of-type(2){
            display: none;
         }
    }
}
@keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loading {
    100% {
      transform: rotate(360deg);
    }
  }

  #issueActionTable .action-dropdown .dropdown-menu.dropdown-menu-text {
    position: absolute !important;
    transform: none !important;
    top: 30px !important;
    right: 0px !important;
    left: auto !important;
  }
  .add-user-circle {
    width: 21px;
    height: 21px;
    background: #FFFFFF;
    border: 1px dashed #5C5D60;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  .error-popup-design.issue-reject-popup {
    .new-popup-feature {
        .modal-body {
            .popup-msg {
                display: none;
                &.issue-popup-msg {
                    display: block !important;
                }
            }
        } 
    } 
} 