.toggle-opt {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 4px;
}

.action-header {
  h5 {
    font-size: @font_15;
    font-weight: @bold;
  }

  h4 {
    font-size: @primary_font;
    font-weight: @regular;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 75%;
      left: 40%;
      transform: translateY(-75%);
      height: 1px;
      width: 60%;
      background: @form-close-bg;
    }
  }

  button {
    border: 1px solid @font_grey;
    outline: none;
    color: @secondary_black;
    padding: 5px 10px;
    background: @white;
    border-radius: 5px;

    &:hover {
      background: @orange;
      border: 1px solid @orange;
      color: @white;
    }

    &.green-btn {
      &:hover {
        background: @green;
        border: 1px solid @green;
      }
    }


  }
}


.role-box {
  margin: 25px 0 0 0;
  padding: 15px;
  width: 100%;
  float: left;
  border: 1px solid @form-close-bg;
  border-radius: 5px;
  position: relative;
  background: @infoBox-Bg;

  h2 {
    color: @text_gray;
    font-size: @font_18;
    font-weight: @semibold;
    background: @tab-bg;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 999;

    span {
      color: @primary_color;
      font-size: @font_12;
      font-weight: @bold;
      border: 1px solid @primary_color;
      padding: 1px 4px;
      border-radius: 5px;

    }

  }



  .assignees {
    margin: 0px 0 0;
    padding: 0;
    width: 50%;
    float: left;
    

    p {
      color: @gray-text;
      font-size: @font_12;
      font-weight: @semibold;
      width: 100%;
      float: left;
      margin: 0;
      padding: 0;
      line-height: 30px;
    }

    ul {
      width: auto;
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;
      padding-left: 8px;

      li {
        float: left;
        margin: 0 -8px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
          border: 1px solid @gray-text;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }

    button {
      float: left;
      outline: none;
      border: none;
      background: none;
      padding: 0;
      margin: 0 5px;

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        float: left;
      }

      &.close {
        margin: 4px 0 0 5px;
        padding: 2px;
        width: 20px;
        height: 20px;
        background: @orange;
        color: @white;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }


    &.asini {
      width: 20%;
      float: left;
      margin: 0;

      ul {
        width: 100%;
        float: left;

        li {
          width: auto;
          float: left;
          padding: 0;
          border: none;
        }

      }

    }




  }



  .duration {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    position: relative;


    .duration-inner {
      text-align: center;
      width: 28%;
      float: left;

      span {
        width: 100%;
        color: @gray-text;
        font-size: @font_10;
        font-weight: @semibold;
        float: left;
        margin: 0;
        padding: 0;
        line-height: 100%;
      }

      .article {
        padding: 0px 5px 0 10px;
        margin: 0 0 10px 0;
        border: 1px solid @form-close-bg;
        border-radius: 5px;
        text-align: center;
        float: left;
        background: @white;
        z-index: 99;
        position: relative;

        p {
          width: 100%;
          color: @gray-text;
          font-size: @font_10;
          font-weight: @semibold;
          float: left;
          margin: 0;
          padding: 0;
          line-height: 100%;
        }

        b {
          width: 100%;
          color: @primary_color;
          font-size: @secondary_font;
          float: left;
          margin: 0;
          padding: 0;
          line-height: 100%;
        }

      }

      .form-group {
        margin: 0;

        input {
          margin: 0;
          padding: 0px;
          background-color: transparent;
          border-radius: 0;
          border: 0px;

        }
      }

      .code-preview {
        top: 3px;
        left: -11px;
        margin: 0;
        padding: 2px 10px;
        z-index: -1;
      }
    }


    .foloting-days {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-55%, -50%);
      text-align: center;
      width: 20%;

      &:after {
        content: "";
        width: 400%;
        position: absolute;
        top: 27%;
        left: -35%;
        transform: translate(-27%);
        border-top: 1px dotted @text_gray;
      }



      p {
        margin: 0;
        padding: 2px 5px;
        width: 100%;
        color: @gray-text;
        font-size: @font_10;
        font-weight: @semibold;
        display: inline-block;
        line-height: 100%;
        background: @white;
        z-index: 999;
        position: relative;
        border: 1px solid @text_gray;
        text-align: center;
      }

      span {
        width: 100%;
        color: @gray-text;
        font-size: @font_10;
        font-weight: @semibold;
        display: inline-block;
        margin: 0;
        padding: 0;
        line-height: 100%;
        margin-bottom: 10px;
        text-align: center;
      }

    }

  }

  .excution-details {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    float: left;
    list-style: none;

    li {
      margin: 0;
      padding: 10px 0;
      width: 100%;
      float: left;
      border-bottom: 1px solid @bg_gray;

      &:last-child {
        border-bottom: none;
      }

      &.yellow {
        b {
          background: @yellow
        }

        span {
          color: @yellow;
          border: 1px solid @yellow;
        }
      }

      &.orange {
        b {
          background: @orange
        }

        span {
          color: @orange;
          border: 1px solid @orange;
        }
      }

      &.purple {
        b {
          background: @primary_color
        }

        span {
          color: @primary_color;
          border: 1px solid @primary_color;
        }
      }

      b {
        margin: 0 25px 0 0;
        padding: 0;
        width: 25px;
        height: 25px;
        float: left;
        border-radius: 50%;
        color: @white;
        font-size: @font_10;
        font-weight: @bold;
        line-height: 25px;
        text-align: center;
        background: @meduim-blue;
      }

      button {
        margin: 0 8px 0 0;
        padding: 0;
        float: left;
        width: auto;
        outline: none;
        border: none;
        background: transparent;

        img {
          margin: 0;
          padding: 0;
          width: 25px;
          height: 25px;
          float: left;
          border-radius: 50%;
        }
      }

      p {
        margin: 0;
        padding: 0;
        width: 20%;
        float: left;
        font-size: @font_12;
        font-weight: @bold;
        color: @text_gray;
        line-height: 24px;
      }

      span.p-0 {
        margin: 0;
        padding: 2px 10px;
        width: 120px;
        text-align: center;
        float: right;
        font-size: @font_12;
        font-weight: @bold;
        color: @meduim-blue;
        border: 1px solid @meduim-blue;
        border-radius: 5px;
        line-height: 24px;
      }

    }

  }



  .budget-details {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    float: left;
    list-style: none;

    li {
      margin: 0;
      padding: 10px 0;
      width: 100%;
      float: left;
      border-bottom: 1px solid @bg_gray;
      line-height: 30px;

      &:last-child {
        border-bottom: none;
      }


      &.blue {
        h6 {
          color: @primary_blue;
          border: 1px solid @primary_blue
        }
      }

      &.green {
        h6 {
          color: @green;
          border: 1px solid @green
        }
      }



      h6 {
        margin: 7px 25px 0 0;
        padding: 0;
        float: left;
        background-color: @white;
        border-radius: 1.5px;
        border: 1px solid @yellow;
        width: 72px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: @font_10;
        font-weight: @semibold;
        color: @yellow;
      }

      b {
        margin: 0;
        padding: 0;
        float: left;
        width: 20%;
        font-size: @font_12;
        font-weight: @bold;
        color: @primary_color;
      }

      p {
        margin: 0 5px 0 0;
        padding: 0;
        float: left;
        width: auto;
        font-size: @font_12;
        font-weight: @semibold;
        color: @gray-text;
      }

      span {
        background-color: @white;
        border-radius: 4.5px;
        border: 1px solid @primary_color;
        width: 40px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        float: right;
        font-size: 12px;
        font-weight: @bold;
        color: @primary_color;
      }

      article {
        margin: 0;
        padding: 0;
        float: left;
        width: 30%;

        .proImg {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
          border: 1px solid @gray-text;
          margin: 0 5px 0 0;
        }

        button {
          float: left;
          outline: 0;
          border: none;
          background: transparent;
          padding: 0;
          margin: 0 5px;

          img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            float: left;
          }


        }


      }





    }

  }



  .autoSearch {
    margin: 4px 0 0 10px;
    padding: 5px;
    float: left;
    width: 35%;
    height: 25px;
    line-height: 25px;
    border-radius: 2px;
    outline: none;
    border: 1px solid @text_gray;
  }











}



.catalog {
  margin: -26px 0 0 0;
  padding: 0 5px;
  float: right;
  width: 52%;
  list-style: none;
  text-align: right;

  li {
    margin: 0 15px 0 0;
    padding: 0;
    display: inline-block;
    width: auto;


    b {
      margin: 0 5px 0 0;
      padding: 0;
      width: 20px;
      height: 20px;
      float: left;
      border-radius: 50%;
      color: @white;
      font-size: @font_10;
      font-weight: @semibold;
      line-height: 20px;
      text-align: center;
      background: @meduim-blue;
      border: 1px solid @white;
    }

    p {
      margin: 0;
      padding: 0;
      width: auto;
      float: left;
      font-size: @font_10;
      font-weight: @semibold;
      color: @floter-grey;
      line-height: 19px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.yellow {
      b {
        background: @yellow
      }

      span {
        color: @yellow;
        border: 1px solid @yellow;
      }
    }

    &.orange {
      b {
        background: @orange
      }

      span {
        color: @orange;
        border: 1px solid @orange;
      }
    }

    &.purple {
      b {
        background: @primary_color
      }

      span {
        color: @primary_color;
        border: 1px solid @primary_color;
      }
    }

  }

}


.action-buttons {
  .add-step {
    background: @primary_color;
    border-radius: 22.5px;
    width: 130px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: @font_15;
    font-weight: @bold;
    color: @white;
    float: left;
    outline: none;
    border: none;
  }

  .save {
    background-color: @primary_blue;
    border-radius: 22.5px;
    width: 97px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: @font_15;
    font-weight: @bold;
    color: @white;
    float: right;
    outline: none;
    border: none;
  }
}
.user-icon {
	position: relative;
  display: inline-block;
  
	.user-text {
		visibility: hidden;
		width: 60px;
    background-color: #664da0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
		color: #ffffff;
    text-align: center;
    font-size: 12px;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 130%;
    left: 43%;
    transform: translateX(-50%);
		opacity: 0;
    transition: opacity 0.3s;
    
		&::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 7px;
      border-style: solid;
      border-color: #664da0 transparent transparent transparent;
    }
	}
	&:hover {
		.user-text {
			visibility: visible;
			opacity: 1;
		}
  }
  

	.user-remove {
		visibility: hidden;
		width: auto;
    background-color: #664da0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
		color: #ffffff;
    text-align: center;
    font-size: 12px;
		border-radius: 6px;
		padding: 5px 7px;
		position: absolute;
		z-index: 1;
    left: 43%;
    transform: translateX(-50%);
		opacity: 0;
    transition: opacity 0.3s;
    top: 103%;
    
		// &::after {
    //   content: "";
    //   position: absolute;
    //   top: 100%;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   border-width: 7px;
    //   border-style: solid;
    //   border-color:#636e72 transparent transparent transparent;
    // }
    img {
      width: 20px !important;
      height: 20px !important;
      border: 0px !important;
      margin: 0px !important;
      filter: brightness(0) invert(1);
      -webkit-filter: brightness(0) invert(1);
    }
	}
	&:hover {
		.user-remove {
			visibility: visible;
      opacity: 1;
      cursor: pointer;
		}
	}



}

.role-box {
  .assignees {
    position: relative;

    button.close {
      position: absolute;
      top: 0;
      left: 83%;
      transform: translateX(-100%);
      z-index: 99999;
    }
  }
}
.excution-details {
  li {
    .assignees {
      &.asini {
        .user-icon {
          .user-text {
            &::after {
              right: 12px;
              left: auto;
            }
          }
        }
      }
    }
      .user-icon {
        position: relative;

          .user-text {
            left: 100%;
            transform: translateX(-100%);
            color: #ffffff !important;

            &::after {
              content: "";
              border-width: 5px;

            }

          }
     }
  }
}


.pop-up-form .table-style .table.bold-head th {
  font-size: 13px;
  font-weight: 700;
  color: #484848;
}




@-moz-document url-prefix() {
  .risk-btn {
    border-radius: 2.5px;
    border: 1px solid #dd6838;
    width: 56px;
    height: 20px;
    overflow: hidden;
    line-height: 18px;
    vertical-align: middle;
    padding: 0;
    font-size: 13px;
 }
  .risk-btn.very-high {
    border-color: #dd6838;
    color: #dd6838;
    background-color: transparent;
 }
  .risk-btn.very-high:hover {
    background: #dd6838;
    color: #fff;
    border: 1px solid #dd6838;
 }
  .risk-btn.very-high:not(:disabled):not(.disabled):active {
    border: 1px solid #dd6838;
    color: #dd6838;
    background-color: transparent;
 }
  .risk-btn.medium {
    border-color: #98aa3a;
    color: #98aa3a;
    background-color: transparent;
 }
  .risk-btn.medium:hover {
    background: #98aa3a;
    color: #fff;
    border: 1px solid #98aa3a;
 }
  .risk-btn.medium:not(:disabled):not(.disabled):active {
    border: 1px solid #98aa3a;
    color: #98aa3a;
    background-color: transparent;
 }
//   .risk-btn.low {
//     border-color: ;
//     color: ;
//     background-color: transparent;
//  }
//   .risk-btn.low:hover {
//     background: ;
//     color: ;
//     border: 1px solid ;
//  }
  .risk-btn.low:not(:disabled):not(.disabled):active {
    border: 1px solid #98aa3a;
    color: #98aa3a;
    background-color: transparent;
 }
  
}
.pop-up-form {
  .tabContent-box {
    .question-container-1 {
    .pdf-file {
      margin-top: 0px;
      position: relative;
      
      label {
        width: 100px;
        text-align: center;
      }
    }
  }
}
}

.attch-tooltips {
  position: relative;
  display: inline-block;
}
.attch-remove img {
  width: 30px;
  filter: brightness(0) invert(1);
      -webkit-filter: brightness(0) invert(1);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      cursor: pointer;
}
.attch-tooltips .attch-remove {
  visibility: hidden;
  background-color: #664da0;
  color: #333333;
  text-align: center;
  border-radius: 6px;
  top: 47%;
  transform: translateY(-50%);
  border: 1px solid #dddddd;
  position: absolute;
  z-index: 1;
  transition: opacity .3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  align-self: center;
}

.attch-tooltips:hover .attch-remove {
  visibility: visible;
  left: 0px;
  opacity: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
}

// .user-icon {
//   &.multi-user-icon {
//     display: none !important;
//   }
// }
