.chat-popup{background-color:#5b4398;border-radius:50%;border:1px solid #707070;width:81px;height:81px;line-height:81px;text-align:center;position:fixed;bottom:15px;left:auto;right:15px;z-index:9999999}.chat-popup img{height:40px;width:40px;display:inline-block}