.chat-container{
    position: absolute;
    top: 80px;
    right: 0;
    max-width: 100%;
    top: 31px;
    height: 142px;
    background-color: @white;
    border-radius: 2.5px;
    border: 1px solid @black_35;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    z-index: 10;
    padding: 4px 0px;
    text-align: right;
}

.chat-hide{
    display: none;
    &.toggled{
        display: block;
    }
}
.chat-container-box{
    width: 139px;
    display: inline-block;
    padding: 0px 8px;
    .chat-inside{
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: 1px solid @switch-border;  
        position: relative;
        overflow: hidden;
        .chat-options{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: @bg-chat;
            z-index: 10;
            p{
                margin-bottom: 0px;
                font-size: @font_12;
                color: @gray-text;
                font-weight: @regular;
            }
            .img-full{
                position: absolute;
                right: 3px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .img-resp{
            width: 100%;
        }
    }
}
.intray-container{
    width: 244px;
    display: inline-block;
    padding: 0px 8px;
    .intray-box{
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: 1px solid @switch-border;  
        position: relative;
        overflow: hidden;
        .chat-options{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: left;
            background-color: @bg-chat;
            z-index: 10;
            padding-left: 7px;
            p{
                margin-bottom: 0px;
                font-size: @font_12;
                color: @gray-text;
                font-weight: @regular;
            }
            .img-full{
                position: absolute;
                right: 3px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .list-of-intray{
            padding: 0px 7px;
            padding-top: 33px;
            width: 100%;
            float: left;
            .list-ul-intray{
                padding: 0px;
                width: 100%;
                float: left;
                margin: 0px;
                list-style: none;
                li{
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    a{
                        float: left;
                        width: 100%; 
                        padding-left: 16px;
                        position: relative;
                        font-size: @font_10;
                        text-decoration: underline;
                        color: @color-intray;
                        text-align: left;
                        .left-align{
                            position: absolute;
                            left: 0;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
}
.text-chat-container{
    width: 430px;
    display: inline-block;
    padding: 0px 8px; 
    .text-chat-box{
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: 1px solid @switch-border;  
        position: relative;
        overflow: hidden;
        .chat-options{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: left;
            background-color: @bg-chat;
            z-index: 10;
            padding-left: 7px;
            p{
                margin-bottom: 0px;
                font-size: @font_12;
                color: @gray-text;
                font-weight: @regular;
            }
            .img-full{
                position: absolute;
                right: 3px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .chat-room{
            padding: 0px 7px;
            margin-top: 24px;
            width: 100%;
            float: left;
            .chat-ul{
                padding: 0px;
                width: 100%;
                float: left;
                margin: 0px;
                list-style: none;
                li{
                    float: left;
                    margin-bottom: 5px;
                    width: 100%;
                    font-size: @font_12;
                    color: @gray-text;
                    &.admin{
                        padding-left: 15px;
                        position: relative;
                        text-align: left;
                        &:before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 5px;
                            background-color: @chat-admin;
                            border-radius: 50%;
                            border: 1px solid @border-admin;
                            width: 8px;
                            height: 8px;
                        }
                        .time{
                            padding-left: 10px;
                            font-size: @font_10;
                            color: @gray-text;
                        }
                    }
                    &.user{
                        padding-right: 15px;
                        position: relative;
                        text-align: right;
                        &:before{
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 5px;
                            background-color: @chat-user;
                            border-radius: 50%;
                            border: 1px solid @border-user;
                            width: 8px;
                            height: 8px;
                        }
                        .time{
                            padding-right: 10px;
                            font-size: @font_10;
                            color: @gray-text;
                        }
                    }
                } 
            }
        }
    }
}
.chat-input{
    padding: 0px 7px;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
    .btn-send{
        position: absolute;
        right: 5px;
        top: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border: 0px;
    }
    .form-control{
        height: 29px;
        margin-top: 0px;
    }
}













// new chat

.chat-popup-maincontainer{
    margin: 0;
    padding: 0;
    float: left;    
    width: 100%;
    height: 100%;
   
    .chat-section-container{
        width: 73%;
        float: left;
        background-color: #ffffff;
        
        .heading-tag{
            background-color:  @primary_color;
            position: relative;
            padding-right: 30px;           
        }

        .chatContainer{
            height: 540px;
            overflow: hidden;
            overflow-y: visible;
            padding: 10px;
            position: relative;

            .chat-send-input{
                position: absolute;
                left: 0;
                bottom: 0px;
                padding: 0px 10px;
                padding-bottom: 10px;
                background-color: @white;
                z-index: 15;
                input.form-control{
                    height: 36px;
                    margin-top: 0px;
                   
                }
                .btnsend{
                    border-radius: 1.5px;
                    border: 1px solid #664da0;
                    padding: 3px 7px;
                    position: absolute;
                    position: absolute;
                    top: 4px;
                    right: 3px;
                }
            }
            .chat-showing{
                position: absolute;
                right: 0;
                padding: 0px 10px;
                bottom: 0px;
                padding-top: 15px;
                padding-bottom: 65px;
                max-height: 100%;
                z-index: 10;
                width: 100%;
                overflow: hidden;
                overflow-y: visible;
                ul{
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                    width: 100%;
                    float: left;
                    li{
                        float: left;
                        width: 100%;
                        color: #5c5d60;
                        &.left-side{
                            padding-left: 60px;
                            text-align: right;
                        }
                        &.right-side{
                            padding-right: 60px;
                        }
                        .chatportion{
                            max-width: 100%;
                            padding: 8px 10px;
                            color: #5c5d60;
                            min-height: 43px;
                            min-width: 70px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            &.user-side{
                                background-color:  rgba(1,57,187,.1);
                                float: right;
                                padding-left: 40px;
                                border-radius: 10px;
                                border-top-right-radius: 0px;
                            }
                            &.admin-side{
                               background-color:  rgba(92,93,96,.13);
                               float: left;
                               padding-right: 40px;
                               border-radius: 10px;
                               border-top-left-radius: 0px;
                            }
                        }
                        .chatname{
                            h4{
                                font-weight: 600;
                                color: #5c5d60; 
                                font-size: 14px;
                                margin-bottom: 3px;
                            }
                            span{
                                font-size: 10px;
                                color: #8b8b8b;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
    .chat-bar-section{
        width: 27%;
        float: left;
        background-color: #eeeeee; 
        
        .main-section{
            height: 535px;
        }
        .heading-tag{
            background-color:  rgba(102,77,160,.77);
           
        }
        .current-rom{
            padding: 10px;
            .section{
                font-size: @font_12;
                color: @gray-text;
            }
        }
        .room-list{
            max-height: 200px;
            overflow: hidden;
            overflow-y: visible;
           ul{
               width: 100%;
               float: left;
               padding: 0px;
               margin: 0px;
               li{
                   list-style: none;
                   float: left;
                   width: 100%;
                   padding: 8px 10px;
                   font-weight: @bold;
                    color: @primary_color;
                    font-size: @common_size;
                    position: relative;
                    padding-right: 20px;
                    .icon-delete{
                        position: absolute;
                        right: 10px;
                        top: 0;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &.active{                        
                        background-color: rgba(92, 93, 96, .41);
                    }
               }
           }
           &.intray-sec{
               max-height: 100px;
               padding-bottom: 0px;
               margin-bottom: 10px;
           }

        }
        .add-room-container{
            padding: 10px;
            padding-top: 0px;
            &.nobt{
                padding-bottom: 0px;
            }
            .inputcontainer{
                width: calc(~"100% - 25px");
                float: left;
                .form-control{
                    margin-top: 0px;
                    border-radius: 0px;
                    height: 30px;
                    padding: 0px 8px;
                    border: 1px dashed #707070;
                    background-color:  rgba(255, 255, 255, .6);
                }
            }
            .plus-icon{
                width: 25px;
                float: left;
                border-left: 1px solid transparent;
                .plus-btn{
                    width: 24px;
                    height: 30px;
                    background-color: @primary_color;
                    color: @white;
                    padding: 0px;
                    text-align: center;
                    border-radius: 0px;
                }
            }
            &.file-upload {
                input {
                    &::-webkit-file-upload-button {
                        visibility: hidden;
                      }
                      &::before {
                        content: 'Documents in the room';
                        display: inline-block;
                        padding: 3px 0;
                        outline: 0;
                        white-space: nowrap;
                        -webkit-user-select: none;
                        cursor: pointer;
                        width: 100%;
                        background: #f8f8f8;
                        color: #495057;
                      }  
                }
                
            }

            &.intray-sec{
                max-height: 110px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
        .current-userlist{
            padding: 10px;
            padding-top: 0px;
            overflow: hidden;
            overflow-y: visible;
            max-height: 200px;

            ul{
                margin: 0px;
                padding: 0px;
                width: 100%;
                float: left;

                li{
                    list-style: none;
                    width: 100%;
                    float: left;
                    font-size: 14px;
                    font-weight: 600;
                    color: #5c5d60;
                    padding-left: 15px;
                    position: relative;
                    margin-bottom: 5px;
                    padding-right: 10px;
                    span{
                        color: @light_grey;
                        padding-left: 15px;
                    }
                    &:before{
                        content: "";
                        background-color: #98aa3a;
                        border-radius: 50%;
                        width: 9px;
                        height: 9px;
                        position: absolute;
                        left: 0;
                        top: 6px;
                    }


                    .icon-delete {
                        position: absolute;
                        top: 0;
                        left: auto;
                        right: 0;
                    }

                }
            }

            &.current-docs {

                ul {
                    li {
                        &:before{
                            display: none;
                        }
                        .doc-ico {
                            float: left;
                            margin: 0 5px 0 0;
                            padding: 0;
                            width: auto;
                        }

                    .icon-delete{
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }

            }
            &.intray-sec{
                max-height: 100px;
                padding-bottom: 0px;
                margin-bottom: 10px;
                ul{
                    li{
                        padding-left: 0px;
                    }
                }
            }

        }



        &.intray-secOne{
            max-height: 100px;
            padding-bottom: 0px;
            margin-bottom: 10px;
        
        }
    }

}
.drop-down-list{
    padding: 10px;
    padding-top: 0px;
    .form-control{
        margin-top: 0px;
        border: 1px dashed #707070;
        height: 30px;
        background-color:  rgba(255, 255, 255, .6);
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.heading-tag{
    .heading-menu{
        font-size: @tertiary_font;
        color: @white;
        padding: 14px;
    }
}
}