.draggable-div{
    position: fixed;
    bottom: 20px;
    left: auto;
    right: 45px;
    z-index: 9999;
}
.chat-popup {
    background-color: @primary_color;
    border-radius: 50%;
    border: 1px solid @switch-border;
    box-shadow: 0px 0px 20px @switch-border;
    width: 60px;
    height: 60px;
    line-height: 56px;
    text-align: center;
 
        &.minimize {
            display: none;
        }

    &:hover {cursor: pointer;}
                                                                                                                                                                    

    img {
        height: 30px;
        width: 30px;       
        display: inline-block; 
    }

}


.chat-popup-close {
    background-color: @primary_color;
    border-radius: 50%;
    border: 1px solid @switch-border;
    box-shadow: 0px 0px 20px @switch-border;
    width: 60px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    display: none;


    &:hover {cursor: pointer;}
                                                                                                                                                                    

    img {
        height: 30px;
        width: 30px;       
        display: inline-block; 
    }

}





.chat-popup-options {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 60px;
    left: auto;
    right: 10px;
    z-index: 9999999;
    list-style: none;

    li{
        margin: 12px 0;
        padding: 0;
        background-color: @white;
        border-radius: 50%;
        border: 1px solid @primary_color;
        width: 43px;
        height: 43px;
        position: relative;
        display: none;
    }

    &.openPallet {
        li {
            display: block;
        }
    }

    img{
        height: 23px;
        width: 23px;       
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.quick-action-tab-btns {
    
    ul.nav-tabs {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        background-color: #ffffff;    

        li.nav-item {
            margin: 0;
            padding: 0;
            float: left;
            width: 25%;
            

            &.active {                
                

                a.nav-link {
                    background: #664da0!important;
                    border-color: 1px solid #664da0!important;
                    color: #ffffff!important;

                    .ico-green {display: none;margin-right: 5px;}
                    .ico-white {display: inline-block;margin-right: 5px;}


                }

            }

            a.nav-link {
                font-size: 15px;
                font-weight: 600;
                color: #98aa3a!important;                            
                border: 1px solid #664da0!important;
                width: 100%;        
                height: 36px;
                text-align: center;
                border-radius: 0!important; 
                

                .ico-green {display: inline-block;margin-right: 5px;}
                .ico-white {display: none;margin-right: 5px;}

                b {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                }


            }

            



        }

    }


}


.quick-action-btns {
    background-color: #ffffff;
    border: 1px solid rgba(1, 57, 187, .2);
    box-shadow: 0 0 6px rgba(0, 0, 0, .49);
    width: 935px;
    height: 620px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 0px;
    z-index: 9999;
    display: none;

    .minimize-close {
        position: absolute;
        top: -25px;
        left: auto;
        right: 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                background-color: #5c5d60;
                border: 1px solid #707070;
                width: 55px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                display: inline-block;

                img {
                    width: 15px;
                    height: 15px;
                }

                &:hover {
                    cursor: pointer;
                }

            }

        }

    }


    &.minimize {
        bottom: -580px;
    }

}


.minimize {
    display: inline-block;
}

.maximize {
    display: none;
}




// New Draggable Popup

.new-draggable-div {
    position: fixed;
    bottom: 20px;
    left: auto;
    right: 45px;
    z-index: 9999;

    .new-chat-popup {
        background-color: @primary_color;
        border-radius: 50%;
        border: 1px solid @switch-border;
        box-shadow: 0px 0px 20px @switch-border;
        width: 60px;
        height: 60px;
        line-height: 52px;
        text-align: center;
    
        &:hover {cursor: pointer;}                                                                                                                                                                        
    
        img {
            height: 35px;
            width: 35px;       
            display: inline-block; 
        }
        .nottification-Box{
            width: 29px;
            height: 29px;
            border-radius: 50%;
            border: 1px solid #644C9F;
            background-color: #fff;
            color: #464646;
            font-size: 12px;
            position: absolute;
            left: -7px;
            top: -8px;
            .center-box{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    
    }
}













.new-vedio-chat {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 435px; 
    z-index: 99999;
    background-color: #fff;
    border-radius: 2.5px;
    border: 1px solid rgba(112, 112, 112, .5);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .16);
    width: 460px;
    height: 539px;
    display: none;

    &.new-WhiteBoard {
        width: 870px;
    }

    &.new-intray {
        width: 302px;
    }

    &.new-docRoom {
        width: 610px;
        right: 616px;

        .new-pop-top-bar {
            background-color: #ffffff !important;
            border: 1px solid #ffffff !important;
        }
    }
    &.new-intray {
        .new-pop-top-bar {
            span {
                width: 25px;
                margin-top:6px;
                img {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }

    .new-pop-top-bar {
        background-color: #664da0;
        border: 1px solid #664da0;
        width: 100%;
        height: 36px;
        padding: 5px;

        img{
            width: 25px;
            height: 25px;
            margin-right: 10px; 
            float: left;
        }
        p{
            font-weight: 600;
            color: #fff;
            width: auto;
            margin: 2px 0 0 0;
            padding: 0;
            float: left;
        }

        span{
            float: right;
            width: 30px;         
            margin: 4px 0 0 0;

            img {
                width: auto;
                height: auto;

                &:hover {
                    cursor: pointer;
                }
            }
            
        }

    }
}





.new-chat-tray {
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 0px;
    z-index: 99999;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid rgba(112, 112, 112, .35);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .16);
    width: 435px;
    height: 539px;
    display: none;

    &.minimize-tray {
        bottom: -502px;
    }
    .left{
        float: left;
    }
.countbar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
  
    color: #464646;
    margin-left: 10px;
    float: left;
    span.cntr{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    }
}
    .new-top-bar {
        background-color: #664da0c2;
        border: 1px solid transparent;
        width: 100%;
        height: 36px;

        .new-title {
            float: left;
            width: calc(~"100% - 60px");

            img{
                width: 20px;
                height: 20px;
                margin-right: 5px;
                float: left;
            }
            p{
                font-weight: 600;
                color: #fff;
                width: auto;
                margin: 0;
                padding: 0;
                float: left;
            }
            .nav-tabs {
                .nav-item {
                     &.auditor-title-text, &.auditee-title-text {
                        .left {
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        } 
                        &.tooltip {
                            .tooltiptext {                                                        
                                top: 40px;
                                left: -55px;
                                bottom: auto;
                                width: 100%!important;
                                z-index: 9;
                                font-size: 12px;
                                border: 0!important;
                                transform: none;
                                background: #fff !important;
                                color: #664da0 !important;
                                z-index: 99999;
                                padding-left:10px;
                                padding-right:10px;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    bottom: 100%;
                                    left: 50%;
                                    margin-left: -5px;
                                    border-width: 8px;
                                    border-style: solid;
                                    border-color: transparent transparent #fff transparent;
                                }
                            }
                        }                     
                    }
                    &.auditor-title-text {
                        max-width: 40%;
                        &.tooltip {
                            .tooltiptext {
                                left: 90px;
                                &:after {
                                    left: 8%;
                                }
                            }
                        }
                        .left {
                            max-width: 102px;
                        }   
                    }
                    &.auditee-title-text {
                        max-width: 60%;
                        .left {
                            max-width: 172px;
                        }   
                    }
                }
            }
        }

        .new-action-control {
            float: left;
            width: 60px;
            padding: 5px 0px;

            span{
                float: right;
                width: 30px;


                &.new-minimize {
                    display: block;

                    img{
                        width: auto;
    
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                &.new-maximize {
                    display: none;

                    img{
                        width: auto;                        
    
                        &:hover {
                            cursor: pointer;
                        }
                    }              
                
            }
        }

    }

    }
    .nav-tabs .nav-link{
        background-color: #664DA075;
        color: #FFFFFF;
        font-size: 15px;
        border: 0px;
        padding: 6px 8px;
        border-radius: 0px;
        font-weight: 500;
        .countbar{
            border: 1px solid #98AA3A;
        }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        background-color: #644c9f;
        color: #FFFFFF;
        font-size: 15px;
        border: 0px;
        .countbar{
            border: 1px solid #FFCC00;
        }
    }
    .nav-tabs{
        border: 0px;
    }
    .nav-tabs .nav-item{
        margin-bottom: 0px;
    }

    



    .new-secandary-bar {
        background-color: #ddd8ea;
        border: 1px solid #ddd8ea;
        width: 100%;
        height: 42px;
        padding: 5px;


        .new-chat-options {
            float: left;
            width: 30%;
            padding: 0;
            margin: 0;
            
            position: relative;

            li {
                float: left;
                width: auto;
                list-style: none;
                padding: 0;
                margin: 6px 8px 0 0;
                position: relative;
                .hover-details{
                    position: absolute;
                    left: 0px;
                    width: 77px;
                    height: 26px;
                    color: #6D6D6D;
                    font-size: 11px;
                    border: 1px solid #bbbbbb   ;
                    top: 100%;
                    margin-top: 5px;
                    border-radius: 3px;
                    background-color: #fff;
                    font-weight: 600;
                    display: none;
                    z-index: 9999;
                    text-align: center;
                    padding-top: 4px;
                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid #bbbbbb;
                        position: absolute;
                        left: 5px;
                        top: -5px;
                    }
                    &:after{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-bottom: 4px solid #ffffff;
                        position: absolute;
                        left: 6px;
                        top: -3px;
                    }
                }
                img{
                    width: 22px;
                    height: 22px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &.new-vedio-call {
                    .new-inactive{display: block;}
                    .new-active{display: none;}
                }

                &.new-in-tray {
                    .new-inactive{display: block;}
                    .new-active{display: none;}
                }

                &.new-white-board {
                    .new-inactive{display: block;}
                    .new-active{display: none;}
                }

                &:hover{
                    .hover-details{
                        display: block;
                    }
                }
            }
        }


        .new-group-control {
            float: right;
            width: 70%;
            position: relative;

            p{
                font-weight: 600;
                color: #644c9f;
                width: auto;
                margin: 6px 0 0 0;
                float: left;
            }

            img {
                border-radius: 50%;
                width: 29px;
                height: 29px;
                float: right;

                &:hover {
                    cursor: pointer;
                }
            }
        }






    }



    .new-group-hover-bar {
        background-color: #F9F9F9;
        border: 1px solid #F9F9F9;
        width: 434px;
        height: 35px;
        padding: 5px;
        display: none;
        position: absolute;
        left: -45%;
        top: 36px;
        z-index: 999;


        img {
            width: 25px !important;
            height: 25px !important;
            float: left !important;
            padding: 0;
            margin: 0 -5px 0 0;
        }

        .add-userbtn {
            float: right;
            margin-right: 0;
            background: none;
            border: none;
            width: 25px;
            padding: 0;
            outline: none;
        }

        .new-autoCompleteDropdown {
            position: absolute;
            top: 2px;
            right: 0;
            width: 40%;

            .ng-autocomplete {
                width: 100% !important;
            }

            // .closeAtoCom {
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            // }
        }

    }

    




}


.new-chat-tray.minimize-tray .new-minimize {
    display: none !important;
}

.new-chat-tray.minimize-tray .new-maximize {
    display: block !important;
}

.new-chat-tray .new-secandary-bar .new-chat-options li.new-vedio-call.active-vedio .new-inactive{
    display: none;
}

.new-chat-tray .new-secandary-bar .new-chat-options li.new-vedio-call.active-vedio .new-active{
    display: block;
}

.new-chat-tray .new-secandary-bar .new-chat-options li.new-in-tray.active-InTray .new-inactive{
    display: none;
}

.new-chat-tray .new-secandary-bar .new-chat-options li.new-in-tray.active-InTray .new-active{
    display: block;
}

.new-chat-tray .new-secandary-bar .new-chat-options li.new-white-board.active-WhiteBoard .new-inactive{
    display: none;
}

.new-chat-tray .new-secandary-bar .new-chat-options li.new-white-board.active-WhiteBoard .new-active{
    display: block;
}

// .new-chat-tray .new-secandary-bar .new-group-control:hover .new-group-hover-bar {
//     display: block;
// }

.search-popup-open {
    position: absolute;
    top: 10px;
    right: 44px;
    text-shadow: none;
    opacity: 1;
    cursor: pointer;
    background: #dbd0f6;
    width: 18px;
    height: 16px;
    padding: 3px 4px;
    border-radius: 4px;
    .plus-icon {
        background: url(../img/plus@2x.png) no-repeat 0px 0px;
        background-size: 10px;
        width: 11px;
    height: 11px;
    float: left;
    }  
    &.close {
        .plus-icon {
            transform: rotate(-135deg);
            background-position-x: 1px;
            background-position-y: 1px;
        }
    }
}
    
.new-chat-popup-maincontainer {
    margin: 0;
    padding: 15px;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;

    h3 {
        margin: 0 0 20px 0;
        padding: 0;
        float: left;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        color: #6d6d6d;
    }

    .new-current-userlist {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        .search-intray-file {
            margin-bottom: 18px;
            input {
                padding: 10px;
                height: auto;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            float: left;
            width: 100%;
            list-style: none;
            overflow-y:auto;
            li{
                margin: 0;
                padding: 0 0 10px 0;
                float: left;
                width: 100%;

                .new-doc-ico {
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 94%;

                    &:hover {
                        cursor: pointer;
                    }
                    .lock-icon {
                        display: inline-block;
                        margin-left: 6px;
                        img {
                            width: 12px;
                            height: 12px;
                        }
                    }
                    img{
                        margin: 0 5px 0 0;
                        float: left;
                        width: 20px;
                        height: 20px;
                    }
                    p{
                        margin: 0;
                        float: left;
                        width: 90%;
                        font-size: 14px;
                        font-weight: 600;
                        color: #644c9f;
                        line-height: 110%;
                    }
                    .global-btn {
                        background: #98aa3a;
                        padding: 2px 8px;
                        font-size: 10px;
                        display: inline-block;
                        border-radius: 4px;
                        margin-left: 4px;
                        color: #fff;
                        margin-top: 2px;
                    }
                }
                .save-delete-btn {
                    float: right;
                    .dropdown {
                        &.action-dropdown {
                            a {
                                .dot {
                                    width: 4px;
                                    height: 4px;
                                    margin-bottom: 1px;
                                    background-color: #6d6d6d;
                                }
                            }
                            .dropdown-menu {
                                &.dropdown-menu-text {
                                    width: 142px;
                                    margin-right: -6px;
                                    margin-top:5px;
                                    ul {
                                        text-align: right;
                                        li {
                                            padding: 0px 10px;
                                        }
                                        &:before {
                                            content:"";
                                            position: absolute;
                                            right: 5px;
                                            top: -7px;
                                            width: 0;
                                            height: 0;
                                            border-style: solid;
                                            border-width: 0 7px 7px 7px;
                                            border-color: transparent transparent #fff transparent;
                                            z-index:9999;
                                        }
                                        &:after {
                                            content:"";
                                            position: absolute;
                                            right: 2px;
                                            top: -10px;
                                            width: 0;
                                            height: 0;
                                            border-style: solid;
                                            border-width: 0 10px 10px 10px;
                                            border-color: transparent transparent #ddd transparent;
                                            z-index:9998;
                                        }
                                    }
                                }
                            }
                        }
                        .dropdown-toggle {
                            padding: 3px;
                        }
                    }
                }
                .new-icon-delete{
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 10%;
                    
                    a{  
                        float: right;

                        &:hover{cursor: pointer;}

                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }

                }

            }
        }

    }
    .save-as-work-paper {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        background: #fff;
        padding: 14px;
        border-bottom: 2px solid #ddd;
        h6 {
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        input {
            width: calc(~"100% - 44px");
            display: inline-block;
            height: 34px;height: 34px;
            border-radius: 0px;
            vertical-align: top;
            margin-right: 4px;
        }
        .btn {
            &.btn-ok {
                background: #664da0;
                border-radius: 0;
                color: #fff;
                width: 40px;
                height: 34px;
            }
        }
        &.rename-doc-block {
            input {
                width: 100%;
                &.file-name-txt {
                    width: calc(~"100% - 60px");
                    border-right: 0;
                    margin: 0;
                }
                &.file-ext {
                    width: 60px;
                    border-left: 0;
                    margin: 0;
                }
            }
            .btn {
                width: 80px;
                outline: none;
                &.btn-cancel {
                    background: #ddd;
                    border-radius: 0;
                    margin-right: 10px;
                }
            }
        }
    }
    .intray-search {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        .dataTables_filter {
            width:100%;
            margin: 0px;
            input {
                width: 100%;
            }
        }
        .search-filter-box {
            display: inline-block;
            position: relative;
            width: 100%;
            border: 0;
            padding: 0;
            height: 475px;
            top: 0;
            margin: 0;
            padding: 0;
            overflow-y: auto;
            .filteroptions {
                width: 100%;
                border-radius: 0;
                margin: 0;
                margin-top: 0px;
                padding:0px;
                display: grid;
                &.tab-block {
                    ul {
                        &.nav-tabs {
                            li {
                                min-width: auto;
                                margin: 0;
                                float: left;
                                height: 30px;
                                a {
                                    float: left;
                                    padding: 8px 14px;
                                    &.active {
                                        h3 {
                                            font-weight: 800;
                                        }
                                    }
                                    &:before {
                                        bottom: 0;
                                        height: 3px;
                                    }
                                    h3 {
                                        margin: 0;
                                        font-weight: 400;
                                    }
                                }
                            }
                        } 
                    }
                    .multiSearchFilters {
                        border: 0px;
                        padding: 5px 0;
                        height: 296px;
                        overflow-y: auto;
                    }
                }
                &.upload-load-file-block {
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 16px;
                }
                h3 {
                    margin-bottom: 4px;
                    font-size: 13px;
                    font-weight: 700;
                    color: #664da0;
                    padding: 0 2px;
                }
                .multiSearchFilters {
                    .multiselect-dropdown {
                        .dropdown-list {
                            ul {
                                &.item1 {
                                    display: none;
                                }
                                &.item2 {
                                    height: 100%;
                                    max-height: max-content !important;
                                }
                                li {
                                    margin-bottom: 0;
                                    padding: 8px 20px;
                                    &:nth-child(even) {
                                        background: #fdfdfd;
                                    } 
                                    &.multiselect-item-checkbox input[type=checkbox]+div {
                                        padding-left: 25px;
                                        font-size: 13px;
                                        &::before {
                                            width: 11px;
                                            height: 11px;
                                            margin-top: -7px;
                                            outline: none;
                                            transition: .25s all ease-in-out;
                                        }
                                    }
                                    &.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
                                        border: 0;
                                          background: none;
                                    }
                                    &.multiselect-item-checkbox input[type=checkbox]:checked+div:after {
                                        left: 0;
                                        top: 6px;
                                        width: 5px;
                                        height: 10px;
                                        border: solid #98aa3a;
                                        border-width: 0 2px 2px 0;
                                        -webkit-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                        border-radius: 0;
                                        margin-left: 4px;
                                    }
                                }
                            }
                            .filter-textbox {
                                input {
                                    height: 22px;
                                    margin-bottom: 10px;
                                    margin-top: 2px;
                                    &::-webkit-input-placeholder {
                                        color:transparent;
                                     }
                                     
                                     &:-moz-placeholder { /* Firefox 18- */
                                        color:transparent; 
                                     }
                                     
                                     &::-moz-placeholder {  /* Firefox 19+ */
                                        color:transparent; 
                                     }
                                     
                                     &:-ms-input-placeholder {  
                                        color:transparent;
                                     }
                                }
                            } 
                        }
                    } 
                } 
            }
            .upload-submit {
                margin-top: 10px;
                margin-bottom: 5px;
                display: inline-block;
                width: 100%;
                .upload-selected-btn {
                    font-size: 12px;
                    border: 0;
                    background-color: #664da0;
                    padding: 4px 8px;
                    text-align: center;
                }
            }
        }
    }
    .button-style{
        width: 105px;
        height: 24px;
        margin-top: 6px;
        background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    
    text-align: center;
    position: relative;
    label{
        cursor: pointer;
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        padding: 4px 8px;
    }
    &.mr-left-rght{
        margin: 0 auto;
        margin-top: 6px;
    }
    }
    .custom-file-input {
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       visibility: hidden;
        cursor: pointer;
      }
    //   .custom-file-input::-webkit-file-upload-button {
    //     visibility: hidden;
    //   }
    //   .custom-file-input::before {
    //     content: 'Browse and Upload';
    //     color: #000;
    //     display: inline-block;
    //     background: #fff;
    //     border: 1px solid #ddd;
    //     border-radius: 3px;
    //     padding: 5px 8px;
    //     outline: 0;
    //     white-space: nowrap;
    //     -webkit-user-select: none;
    //     cursor: pointer;
    //     font-weight: 700;
    //     font-size: 10px;
    //     z-index: 999;
    //   }
    //   .custom-file-input:hover::before {
    //     border-color: black;
    //   }
      .custom-file-input:active {
        outline: 0;
      }
      .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }


}
    



.new-group-hover-bar .tooltip .tooltiptext {
    top: -27px;
    left: 22%;
    transform: none;
}

.new-group-hover-bar .tooltip .close-icon {
    float: right;
    width: 15px;
    text-align: right;
    margin: 3px 0 0 0;

    img {
        width: 12px!important;
        height: 12px!important;
    }
}



.new-chatContainer{
    height: 458px;
    width: 100%;
    overflow: hidden;
    overflow-y: visible;
    padding: 10px;
    position: relative;
    margin: 0;

    .chat-send-input{
        position: absolute;
        left: 0;
        bottom: 0px;
        padding: 0px 10px;
        padding-bottom: 10px;
        background-color: @white;
        z-index: 15;

        .outerborder {
            border: 1px solid #ced4da;

            &:focus {
                border-color: #664da0;
            }

        input.form-control{
            height: 36px;
            margin-top: 0px;
            border: none;
            width: 88%;
           
        }
        .btnsend{
            border-radius: 1.5px;
            border: 1px solid #664da0;
            padding: 3px 7px;
            position: absolute;
            position: absolute;
            top: 4px;
            right: 3px;
        }

    }
    }
    .chat-showing{
        position: absolute;
        right: 0;
        padding: 0px 10px;
        bottom: 0px;
        padding-top: 15px;
        padding-bottom: 65px;
        max-height: 100%;
        z-index: 10;
        width: 100%;
        overflow: hidden;
        overflow-y: visible;
        ul{
            padding: 0px;
            margin: 0px;
            list-style: none;
            width: 100%;
            float: left;
            li{
                float: left;
                width: 100%;
                color: #5c5d60;
                margin-bottom: 10px;
                &.left-side{
                    padding-left: 60px;
                    text-align: right;
                    margin-bottom: 20px;
                }
                &.right-side{
                    padding-right: 60px;
                    margin-bottom: 20px;
                }
                .chatportion{
                    max-width: 100%;
                    padding: 8px 10px;
                    color: #5c5d60;
                    min-height: 43px;
                    min-width: 70px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    &.user-side{
                        background-color:  rgba(1,57,187,.1);
                        float: right;
                        padding-left: 40px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                    }
                    &.admin-side{
                       background-color:  rgba(92,93,96,.13);
                       float: left;
                       padding-right: 40px;
                       border-radius: 10px;
                       border-top-left-radius: 0px;
                    }
                }
                .chatname{
                    h4{
                        font-weight: 600;
                        color: #5c5d60; 
                        font-size: 14px;
                        margin-bottom: 3px;
                    }
                    span{
                        font-size: 10px;
                        color: #8b8b8b;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}



.new-chat-tray .new-secandary-bar .new-group-control img.new-grpCloseIco{
    display: none;
}

.new-chat-tray .new-secandary-bar .new-group-control img.new-grpCloseIco.active {
    display: block;
}



.new-chat-tray .new-secandary-bar .new-group-control img.new-grpIco.in-active {
    display: none;
}

.new-chat-tray .new-secandary-bar .new-group-control img.new-grpIco.active {
    display: block;
}

// .new-chat-tray .new-secandary-bar .new-group-control img.new-sendmail {
//     height: 20px;
// }
.new-draggable-div{
    display: none;
}
.admin-chat .new-draggable-div{
    display: block;
}
.admin-chat .old-chat{
    display: none;
}

.new-group-hover-bar .user-tooltip {
    left: auto !important;
    right: 0;
}


.daysAB {
    width: 21%;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    color: #018ac7;


        &::-webkit-input-placeholder {
        color: #018ac7 !important;
        }
         
        &:-moz-placeholder { /* Firefox 18- */
        color: #018ac7 !important;  
        }
         
        &::-moz-placeholder {  /* Firefox 19+ */
        color: #018ac7 !important;  
        }
         
        &:-ms-input-placeholder {  
        color: #018ac7 !important;  
        }

}
.pdf-annotation-block {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 734px;
    z-index: 99999;
    background-color: #fff;
    border-radius: 2.5px;
    border: 1px solid rgba(112,112,112,.35);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.16);
    width: 460px;
    height: 539px;
    .form-overlay {
        position: absolute;
        background-color: rgba(180, 159, 159, 0.3);
        .lds-dual-ring {
            margin:0px;
            border:0px;
            left: 40%;
        }
    }
}
.upload-success-msg {
    float: left;
    padding-left: 10px;
    font-size: @font_12;
    color: #fff;
    background-color: #98aa3a; 
    font-weight: @bold;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 10px;
  }

  .online{
    position: absolute;
    width: 7px;
    height: 7px;
    right: 4px;
    bottom: -3px;
    border-radius: 50%;
        &.green{
            background-color: green;
        }
        &.gray{
            background-color: #828184;
        }
  }
  .no-data {
      h5 {
        margin: 5px 0; 
        float: left;
        font-size: 16px;
        font-weight: 600;
        color: #644c9f;
      }
  }


  
  @media screen and (max-width: 1320px) {
    .new-vedio-chat.new-WhiteBoard {
        width: calc(~"100% - 460px");
    }
  }