.full-width{
    width: 100%;
    float: left;
}
.bg-white{
background-color: @white;
border-radius: 2.5px;
border: 1px solid rgba(112, 112, 112, .35);
box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
.dashboard{
    float: left;
    width: 100%;
}

.breadcrumbs{
    margin: 5px 0px;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        li{
            float: left;
            margin-right: 15px;
            position: relative;
            a{
                font-size: @font_10;
                text-decoration: underline;
                color:@breadcramb;
                font-weight: @semibold;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                color:@breadcramb;
                }
            }
            &:before{
                content: "";
                color: @gray-text;
                position: absolute;
                right: -14px;
                top: 8px;
                font-size: 12px;
                width: 10px;
                background-image: url("../img/right.png");
                background-size: 7px;
                height: 10px;
                background-repeat: no-repeat;
            }
            &:last-child{
                a{
                    color: @gray-text;
                    text-decoration: none;
                    cursor:default;
                    font-weight: @regular;
                }
                &:before{
                    display: none;
                }
            }
       
        }
    }
}

.container-side{
    padding: 15px 20px;
    height: 100%;
    .block-ul{
        position: relative;
        width: 100%;
        float: left;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        
        li{
            padding-top: 7px;
            padding-bottom: 7px;
            margin-right: 15px;
            float: left;
            width: 195px;
            &.pie-chart-view {
                width: 225px;
                .task-list-color {
                    display: inline-block;
                    width: 100%;
                    padding: 0;
                    margin-bottom: 2px;
                    text-align: center;
                    li {
                        font-size: 10px;
                        display: inline-block;
                        width: auto;
                        margin: 0px 3px;
                        padding: 0;
                        color: #000;
                        span {
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-bottom: 1px;
                            &.color-blue {
                                background-color: #5a4296;
                            }
                            &.color-yellow {
                                background-color: #ffcc00;
                            }
                            &.color-red {
                                background-color: #dd4f36;
                            }
                            &.color-gray {
                                background-color: #5c5d60;
                            }
                        }
                    }
                   
                }
            }
            &.table-view {
                width: 250px;
                padding: 0;
                .box-view-table {
                    height: 116px;
                    tr {
                        &:nth-child(even) {background-color: #f9f9f9}
                        td {
                            padding: 4px 15px;
                            font-weight: 700;
                            font-size: 12px;
                            color: #464646;
                            &.meeting-date {
                                color: #745daa;
                            }
                        }
                    }
            }
            }
            &.calendar-view {
                width: 250px;
                padding: 0;
            }
            .box-container{
                height: 94px;
            }
            .orange-border{
                background-color: @white;
                border-radius: 4.5px;
                border: 1px solid @orange;
                box-shadow: 0 2px 0 @orange;
              
            }
            .blue-border{
                background-color: @white;
                border-radius: 4.5px;
                border: 1px solid @primary_color;
                box-shadow: 0 2px 0 @primary_color;
            }
            .yellow-border{
                background-color: @white;
                border-radius: 4.5px;
                border: 1px solid @yellow;
                box-shadow: 0 2px 0 @yellow;  
            }
            .number-container{
                padding-top: 13px;
                text-align: center;
            } 
            .text-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                height: 35px;
            }
            .box-haif-number{
                height: 100%;
            
                .number{
                    font-size: @big_font;
                    font-weight: @bold;
                    color: @gray-text;
                    margin-bottom: 0px;
                    line-height: 40px;
                }
                .text{
                    font-size: @secondary_font;
                    font-weight: @bold;
                    color: @gray-text;
                    margin-bottom: 0px;
                    line-height: 18px;
                }
            }

            @media screen and (max-width: 991px){
                float: left;
            }
            @media screen and (max-width: 768px){
                
                &:first-child{
                    width: 100%;
                }
                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 100%;
                }
                &:nth-child(4){
                    width: 100%;
                }
                &:nth-child(5){
                    width: 100%;
                } 
            }
        }

        @media screen and (max-width: 991px){
            display: inline-block;
            justify-content: inherit;
        }
    }
}
.heading-title {
    border-top: 1px solid rgba(112, 112, 112, .49);
    position: relative;
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-radius: 0;
    &:before {
       content: '';
       background-color: #ffffff;
       border-radius: 50%;
       border: 1px solid rgba(112, 112, 112, .49);
       width: 15px;
       height: 15px;
       position: absolute;
       right: 0;
       top: -8px
    }
    h2 {
        font-size: 18px;
        color: #6d6d6d;
        font-weight: 700;
        margin: 0;
        position: absolute;
        left: 0;
        top: -12px;
        span {
            padding: 10px 10px 10px 0;
            background-color: #ffffff;
            font-weight: normal;
        }
    }
}
.common-accordian{
    margin-top: 30px;
    .toggle-image-container{
        position: absolute;
        right: -1px;
        top: 10px;
    }
    .btn-full{
        width: 100%;
        float: left;
        padding: 0px;
        background-color: transparent;
        h3{
            text-align: left;
            font-size: @secondary_font;
            color: @text_gray;
            position: relative;
            span{
                padding: 10px 10px 10px 0;
                background-color: @white;
                font-weight: @regular;
                position: relative;
                z-index: 3;
                display: inline-block;
            }
            &.strip-line{
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 22px;
                    width: 100%;
                    height: 1px;
                    background-color: @border-colour-light;
                }
            }
        }
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    .card-header{
        padding: 0px;
        background-color: transparent;
        border: 0px;
    }
    .card{
        border: 0px;
    }
    .card-body{
       padding: 10px 0px;
       .table-bordered{
           border-color: @border-colour-light;
           th, td{
            border-color: @border-colour-light;
           }
       }
    }
}

.v-scroll-form{
 width: 100%;
 height: 100%;
 float: left;;
}

.btn-create-audit{
    padding: 8px 12px;
    font-weight: @semibold;
    color: @white;
    background-color: @primary_color;
    border-radius: 4.5px;
    border: 1px solid @white;
    &:hover{
        color: @white;
    }
}
.toggle-opt{
    .left-text{
        font-size: 10px;
        font-weight: 600;
        color: #494949;
        vertical-align: top;
    }
    .right-text{
        font-size: 10px;
        font-weight: 600;
        color: #494949;
        vertical-align: top;
    }
}
.semibold{
    font-weight: @semibold;
}
.box-container-audit{
    margin-top: 30px;
}
.list-audit-new{
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    list-style: none;
    li{
        background-color: @white;
        border-radius: 4.5px;
        border: 1px solid @switch-border;
        width: 283px;
        height: 200px;
        position: relative;
        margin-right: 30px;
        float: left;
        margin-bottom: 40px;
        padding: 15px;
        overflow: hidden;
        overflow: visible;
        .heading-list{
            position: absolute;
            left: 10px;
            padding: 3px 25px;
            border: 1px solid @switch-border;
            top: -15px;
            border-radius: 4.5px;
            font-size: @secondary_font;
            font-weight: @semibold;
            color: @white;
            line-height: 22px;
            &.yellow{
                background-color: @yellow;
            }
            &.orange{
                background-color: @orange;
            }
            &.green{
                background-color: @green;
            }
            &.purple{
                background-color: @primary_color;
            }
            &.blue{
                background-color: @primary_blue;
            }
        }
    }
    .right{
        float: right;
    }
    .text-in{
        float: left;
        font-size: @font_15;
        font-weight: @semibold;
        color: @gray-text;
        line-height: 24px;
      }
    .roundedOne {
        width: 28px;
        height: 28px;
        position: relative;
        float: left;
      }
      .roundedOne label {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        left: 4px;
        top: 4px;
        background-color: @white;
        border-radius: 50px;
        border: 1px solid @switch-border;
      }
      .roundedOne label:after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: @primary_color;
        opacity: 0;
        border-radius: 50px;
      }
      .roundedOne label:hover::after {
        opacity: 0.3;
      }
      .roundedOne input[type=checkbox] {
        opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 4px;
    top: 4px;
    z-index: 10;
    width: 16px;
    height: 16px;
    cursor: pointer;
      }
      .roundedOne input[type=checkbox]:checked + label:after {
        opacity: 1;
      }
}
.search{
    width: 283px;
    float: left;
    position: relative;
    input.form-control{
        padding-left: 10px;
    }
}

.theme-green .bs-datepicker-head{
    background-color: @primary_color;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after{
    background-color: @primary_color;
}

.max-width-210{
    max-width: 210px;
}

.sec-more.p-3{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.cursor{
    cursor: pointer;
}
.modalPopupOne bs-datepicker-container, .modalPopupOne bs-daterangepicker-container{
    z-index: 99999;
}


bs-datepicker-container, bs-daterangepicker-container{
    z-index: 9999;

}

.edit-delete-icon.normal-table{
text-align: center;
.edit-btn{
    margin-right: 10px;
}
}

.cm-country-name, .cm-value-label{
    display: none;
  }

  .pop-up-form .question-container-1 .ngx-file-drop__drop-zone{
      height: 55px;
      border: 0px dotted #0782d0;
      border-radius: 0px; 
  }
  .pop-up-form .question-container-1 .ngx-file-drop__content{
      height: 100%;
      color: @font_grey;
  }

  .tooltip {
    &.last-icon-list {
        .tooltiptext {
            left:-200%;
        }
      }
  }
  .mCSB_inside > .mCSB_container {
      margin-right: 10px !important;
  }
  .mCSB_scrollTools {
    .mCSB_dragger {
        height: 150px !important;
        .mCSB_dragger_bar {
            background-color: #5c5c5c !important;
            width: 8px !important;
            border-radius: 4px !important;
        }
    } 
    .mCSB_draggerRail{
        width: 0 !important;
    } 
  } 


  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #cbcbcb!important;
  }
  .navbar-nav .nav-item.dropdown.dropdownAuditList{
    display: none !important;
  }
  .admin-chat .navbar-nav .nav-item.dropdown.dropdownAuditList {
    display: block !important;
}

.padding-right-0{
    padding-right: 0px;
}
.padding-left-0{
    padding-left: 0px;
  }
  .tooltip{
      cursor: pointer;
  }

  .multiselect-dropdown .dropdown-btn{
    background-color: #fff;
    border-radius: 2.75px;
    border: 1px solid #cbcbcb;
    font-size: 12px;
    color: #6d6d6d;
    width: 100%;
    outline: 0;
    padding: 5px 6px !important;
    padding-right: 20px !important;
    position: relative;
    
}
.multiselect-dropdown .dropdown-btn .dropdown-down{
    background-image: url(../img/select-down.svg);
    position: absolute;
    right: 5px;
    width: 10px !important;
    height: 10px !important;
    background-repeat: no-repeat;
    top: 13px !important;
    border: 0px !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-up{
    background-image: url(../img/select-down.svg);
    position: absolute;
    right: 5px;
    width: 10px !important;
    height: 10px !important;
    background-repeat: no-repeat;
    top: 13px !important;
    border: 0px !important;
}

.form-group select option {
    border: 0px !important;
}
.multiselect-dropdown .dropdown-btn{
    padding: 5px 6px;
}
.multiselect-dropdown .dropdown-btn .selected-item{
 font-size: 11px;
}

.audit-galaxy-block {
    p {
        &.heading {
            margin-bottom: 3px;
            color: #5a4296;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
        }
    }
    .imgBoxin {
        padding: 0px;
    border: 1px solid rgba(203,203,203,.24);
    width: 100%;
    float: left;
    div {
        &:first-child {
            left: 0px !important;
            padding: 0 10px;
        }
    }
    }
}

.angular-editor-toolbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.wysiwyg-div{
    .angular-editor .angular-editor-wrapper .angular-editor-textarea{
        padding: 5px;
    background-color: #fff !important;
    border-radius: 2.75px;
    border: 1px solid #cbcbcb !important;
    font-size: 12px;
    color: #6d6d6d;
    width: 100%;
    outline: 0;
    padding-top: 40px !important;
    ul, ol {
        padding-left: 10px;
    }
}
}

// .navbar {
//     z-index: 10000;
// }

.navbar-expand-lg .navbar-nav .dropdown-menu {
    z-index: 10000;
}

.teamListUl{
    li{
        position: relative;
        .listPeopleName{
            padding: 5px 3px;
            min-width: 60px;
            position: absolute;
            bottom:100%;
            margin-bottom: 7px;
            background-color: @primary_color;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
            color: @white;
            text-align: center;
            font-size: @font_12;
            border-radius: 6px;
            opacity: 0;
            &:after{
                content: "";
                position: absolute;
                left: 9px;
                bottom: -6px;
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;    
                border-top: 6px solid @primary_color;
            }
        }
        &:hover{
            .listPeopleName{
                opacity: 1;
            }
        }
    }
}

.modal.fade.show .scale-in{
    animation: b 1s ease-in-out;
}


@keyframes b {
    0% {
      transform:  scale(0);
    }
 
    100% {
      transform:  rotate(1);
    }
  }

  .modal.fade.show .animation-svg{
    animation: a 5s ease-in-out infinite;
    animation-delay: 2s;
}


@keyframes a {
    0% {
      transform:  rotate(0);
    }
    2.5% {
      transform:  rotate(15deg) scale(1.2);
    }
    5% {
      transform:  rotate(0) scale(1.2);
    }
    7.5% {
      transform:  rotate(15deg) scale(1.2);
    }
    10% {
      transform:  rotate(0) scale(1);
    }
    100% {
      transform:  rotate(0);
    }
  }

  .error-message {
    font-size: 12px;
    color: red;
    margin:0px;
  }


