.outer-spc {
    padding: 15px;

.l-align {

    .f-l {
        float: left;
        p {
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            padding-right: 8px;
        }
        p:nth-child(2) {
            background-color: #9f90c4;
            padding: 0px 9px 0px 6px;
            border-radius: 8px;
            color: #fff;  
            font-weight: 300;
            font-size: 14px;
            align-self: center;
        }
    }

    .f-r {
        float: right;
    p {
        background-color: #dd6838;
        padding: 3px 8px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 10px;
        align-self: center;
        margin-bottom: 0px;
        margin-top: 5px;
    }
 }
}
 .g-blc {
     padding: 10px;
     background-color: #ececec;
     border: 1px solid #d3d3d3;
     border-radius: 5px;
    
 }
}

.accordian-container .form-accordian .headind-box {
    background-color: #ececec;
    display: flex;
    top: -14px;

    p {
        margin: 0px;
        color: #6d6d6d;
        font-weight: 600;
    }
    p:nth-child(2) {
        margin-left: 10px;
        background-color: #9f90c4;
        padding: 0px 9px 0px 6px;
        border-radius: 8px;
        color: #fff;
        font-weight: 300;
    }
}
.accordion {
    padding: 8px 0px;
}
.accordian-container .img-toggle {
    position: absolute;
    right: -4px;
    top: -14px;
}
.accordian-container .card {
    background-color: transparent;
    border: 0px;
}
.accordian-container .card-body {
    padding: 0px;
    margin: 20px 0px 10px;
}
.accordian-container .card-body p {
    margin: 0px;
    padding: 10px;
    background-color: #fff;
    color: #745daa;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid  #745daa;
}
.accordian-container .card-body .wrk-prog {
  color:#dd6838;
  border: 1px solid  #dd6838;
}

.accordian-container .card-body .pie-karts p {
    margin: 0px;
    padding: 10px;
    background-color: #fff;
    color:#dd6838;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid  #dd6838;
}

.accordian-container .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: 0px;
    line-height: 0px;
}
.accordian-container .card-header h2.text-h2 {
    font-size: 20px;
    line-height: 0px;
    height: 0px;
}
.accordian-container .btn.btn-link {
    border: 1.25px solid #d3d3d3;
}

.progaccordion {
  background: #fff;
  margin-bottom: 5px;

    .card {
      
      border: 1px solid #745daa;

      .card-header {
        border: 0px;
        padding: 10px 10px;
        h2 {
          display: flex;
        }
        p {
          border: 0px;
          text-align: left;
          margin-bottom: 0px;
          padding: 0px;
          font-weight: 300;

          &:hover {
            text-decoration: none;
          }
        }
        button {
          border: 0px;

          &:hover {
            text-decoration: none;
          }

          &:focus {
            text-decoration: none;
          }
          .btn.btn-link {
            text-decoration: none;
          }
        }
      }
      .collapse-bg {
        padding: 0px 10px 0px;
      }
      .progress-bar-block {
        position: inherit;
        width: 100%;
        padding: 5px 0px;
      }
        .card-body {
          .overall-progress-bar {
            display: flex;
            width: 100%;
            align-items: center;

            label {
                width: 45%;
                font-size: 14px;
            }
            .progress {
              width: 100%;
            }
        }
        .collapse {
          background-color: #fff;
        }
    }

    
}

.b-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #6b6161;
  background-color: #f1f1f1;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0px;

  .pnt-icon {
    padding-left: 10px;
    width: 40%;
  }
  .re-sign {
    border-left: 1px solid #b9b9b9;
    padding-left: 5px;

    .form-control {
      border: 0px;
      padding: 0px;
      margin: 0px;
      background-color: #f1f1f1;
    }
  }
  .opn-form {
    background-color: #644c9f;  
    padding: 7px 10px;
    a {
      color: #fff;

      &:hover {
        text-emphasis: none;
      }
    }
  }
}
}

.tab-block ul.nav-tabs {
    border-bottom: 1px solid #cbcbcb;
    padding: 0px;
}



.position-relative {
  position: relative;
}

// Custom Filter Css

.search-filer-img {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  padding: 6px;

  &:hover {
    cursor: pointer;
  }

}

.colseFileText {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  padding: 6px;
  font-size: 13px;
  color: #828282;
  display: none;

  &:hover {
    cursor: pointer;
  }

}
.filter-search-block {
  .dataTables_filter {
    margin:0px;
    label {
      margin: 0px;
    }
  }
  .search-filter-box {
    left: auto;
    right: auto;
    z-index: 9;
    position: fixed;
    top: auto;
  }
}
.search-filter-box {
  position: absolute;
  top: 30px;
  left: auto;
  right: 0;
  padding: 5px;
  width: 530px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 2.75px;
  display: none;
}

.all-filter {
  padding: 3px;
  margin: 0 0 15px 0;
  width: 100%;
  float: left;
  background: #f6f6f6;
}

.clear-Filter {
    padding: 2px;
    float: right;
    font-size: 12px;
    color: #664da0;
    width: auto;
    text-decoration: underline;
    font-weight: 700;

  &:hover {
    cursor: pointer;
  }

}

.applied-filters {
   padding: 2px;
    float: left;
    font-size: 12px;
    color: #ababab;
    width: auto;
    font-weight: 700;
}

.sortlisted-filters {
  padding: 2px 5px;
  margin: 0 0 0 3px;
  float: left;
  font-size: 12px;
  color: #6d6d6d;
  background: #eee;
  width: auto;
  font-weight: 400;
}

.closeFilter {
  float: right;
    padding: 0;
    margin: 5px 0 0 5px;
    width: 10px;

    &:hover {
      cursor: pointer;
    }

}

.filteroptions {
    float: left;
    padding: 5px;
    width: 31%;
    background-color: #fff;    
    border-radius: 2.75px;
    margin: 0 3% 0 0;

    &:last-child {margin-right: 0;}

    h3 {
      float: left;
      width: 100%;
      margin: 0 0 4px 0;
      font-size: 12px;
      font-weight: 700;
      color: #644c9f;
    }

    .multiSearchFilters {
      float: left;
      padding: 5px;
      width: 100%;
      background-color: #fff;    
      border-radius: 2.75px;
      border: 1px solid #cbcbcb;

    .searchFilterOptions {
      float: left;
      width: 100%;
      margin: 5px 0;
      padding: 3px;
      background-color: #fff;
      border: 1px solid #cbcbcb;
      border-radius: 2.75px;
      outline: 0;
      height: 20px;
    }

    ul {
      float: left;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      height: 95px;
      overflow-y: scroll;

      /* width */
&::-webkit-scrollbar {
  width: 3px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

      li {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;




        /* The filterCheckbox */
.filterCheckbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:before {
    display: none;
  }
}

/* Hide the browser's default checkbox */
.filterCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.filterCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filterCheckbox input:checked ~ .checkmark {
  background-color: #664da0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filterCheckbox input:checked ~ .checkmark:after {
  display: none; // set it block to see tick mark
}

/* Style the checkmark/indicator */
.filterCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



      }
    }
    }
}

// Custom Filter Css