
.agile-audit-block {
    .company-search {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 15px;
      margin-top: 7px;
    }
  }


    .dataTables_filter {
        float: left;
        margin-top: 10px;
        width: 400px;
        text-align: left;
        label {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background: url('../img/search_icon.svg') no-repeat;
            width: 11px;
            height: 11px;
            top: 10px;
            left: 12px;
          }
        }
        input {
            padding: 6px 6px 6px 30px;
            font-size: 10px;
            margin-left: 0px;
            background-color: #ffffff;
            border: 1px solid #cbcbcb;
            border-radius: 2.75px;
            width: 400px;
            height: 30px;
            &:hover{
              outline: none;
              box-shadow: none;
            }
            &:focus{
              outline: none;
              border: 1px solid #664da0;
            }
        }
    }
    .tab-block.tab-spec ul.nav-tabs li a {
      font-size: 14px;
      font-weight: 700;
  }
.filteroptions {
  .multiSearchFilters {
    .multiselect-dropdown {
        .dropdown-btn {
            display: none;
        }
        .dropdown-list {
            display: block !important;
            position: relative;
            box-shadow: none;
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 0px;
            ul {
                display: inline-block;
                height: auto;
                &.item1 {
                  .multiselect-item-checkbox {
                    display: none;
                  }
                  
                }
                &.item2 {
                  height: 95px;
                  overflow-y: auto;
                    li {
                        padding: 0px;
                        margin-bottom: 5px;
                        &.multiselect-item-checkbox {
                            input[type=checkbox] + div {
                                padding-left: 26px;
                                font-size: 13px;
                                &::before {
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    border: 1px solid #cbcbcb;
                                    border-radius: 2px;
                                }
                            }
                            input[type=checkbox]:checked + div:before {
                                background: #664da0;
                            }
                            input[type=checkbox]:checked + div:after {
                                border: 0px;
                            }
                        } 
                    }
                }
            }
            .filter-textbox {
                margin: 0px;
                padding: 0px;
                border: 0px;
                input {
                    float: left;
                        width: 100%;
                        margin: 5px 0;
                        padding: 3px;
                        background-color: #fff;
                        border: 1px solid #cbcbcb;
                        border-radius: 2.75px;
                        outline: 0;
                        height: 20px;
                }
            }
        }
    }
}
}
  