@media screen and (min-width:1025px) {
    table.dataTable.table-fixed {
        &.table-dashboard {
            thead th, tbody td {
                width: 25% !important;
            }
        }
    }
}
.info-boxes {
    margin: 0;
    padding: 0;
    background-color: @infoBox-Bg;
    border-radius: 3.5px;
    border: 1px solid @infoBoxBorder-grey;
    width: 100%;
    float: left;

    .regular-heading {
        margin: 0;
        padding: 8px 15px;
        width: 100%;
        font-size: @secondary_font;
        color: @infoBoxHeader;
        font-weight: @regular;
        border-bottom: 3px solid @primary_color;
        line-height: 100%;

        .new-notify {
            margin: 0 0 0 8%;
            padding: 3px 12px;
            width: auto;
            border-radius: 25px;
            color: @white;
            font-weight: @regular;
            font-size: @font_12;
            background: @primary_color;
        }
    }

    .bold-heading {
        margin: 0;
        padding: 8px 6px;
        width: 100%;
        font-size: @secondary_font;
        color: @infoBoxHeader;
        font-weight: @bold;
        // border-bottom: 1px solid @primary_color;
        line-height: 100%;
    }

    .main_heading {
        margin: 0;
        padding: 10px 15px;
        width: 100%;
        color:@secondary_black;
        font-weight: @regular;
        border-bottom: 1px solid @infoBoxBorder-grey;
        line-height: 100%;
    }

    .message-list {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        float: left;

        li {
            margin: 0;
            padding: 5px 0;
            width: 100%;
            float: left;
            border-bottom: 1px solid @infoBoxBorder-grey;
            position: relative;

            &:last-child {
                border-bottom: none;
            }

            

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 4px;
                background: @white;
            }           



            p {
            margin: 0;
            padding: 0 0 0 7%;
            width: 75%;
            float: left;
            }

            span {
            margin: 0;
            padding: 0;
            width: 25%;
            float: left;
            font-size: @font_10;
            color: @light_grey;
            line-height: 21px;
            }
        }

        .orange {
            &:before {
                background: @orange;
            }            
        }

        .green {
            &:before {
                background: @green;
            }            
        }

        .yellow {
            &:before {
                background: @yellow;
            }            
        }
        
    }

    .achivements {
        margin: 15px 0;
        padding: 0;
        width: 100%;
        float: left;

        li {
            margin: 0;
            padding: 0;
            width: 25%;
            display: inline-block;

                p {
                    margin: 0 0 5px 0;
                    padding: 0;
                    width: 100%;
                    float: left;
                    font-size: @font_19;
                    font-weight: @bold;
                    color: @secondary_black;
                    line-height: 100%;
                    }

                span {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    float: left;
                    font-size: @font_36;
                    font-weight: @bold;
                    color: @primary_color;
                    line-height: 100%;
                    }

            }
    }

    .table {
        thead {
            th {
                font-weight: @regular;
                border-bottom: 3px solid @primary_color;
            }            
        }

        tbody {

            td {
                color: @secondary_black;
                font-weight: @semibold;
                border-top: none;
            }
        }
    }


    .map-container {
        justify-content: center;
        align-items: center;
        //min-height: 435px;
    }

}



.roles {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        float: left;  
        list-style: none;      

        li {
            padding: 10px;
            margin: 0 2% 2% 0;
            width: 23.5%;
            float: left;
            border: 1px solid @secondary_black;   
            background-color: @white;
            border-radius: 3.5px;  

            &:nth-child(4n+0) {
                margin-right: 0;
            }

            &:nth-last-child(1) , &:nth-last-child(2) , &:nth-last-child(3) , &:nth-last-child(4) {
                margin-bottom: 0;
            }
            
            img {
                padding: 0;
                margin: 0 0 5px 0;
                float: left;
                height: 35px;
                width: auto;
            }

            p {
                padding: 0;
                margin: 0;
                float: left;
                width: 100%;
                font-size: @common_size;
                font-weight: @bold;
                color: @secondary_black;
            }

            &.purplebox {
                border: 1px solid @primary_color;

                p {color: @primary_color}
            }

            &.navybluebox {
                border: 1px solid @navy_blue;

                p {color: @navy_blue}
            }

            &.greenbox {
                border: 1px solid @green;

                p {color: @green}
            }

            &.orangebox {
                border: 1px solid @orange;

                p {color: @orange}
            }

            &.lightbluebox {
                border: 1px solid @light_blue;

                p {color:@light_blue}
            }

            &.meduimbluebox {
                border: 1px solid @meduim-blue;

                p {color: @meduim-blue}
            }

            &.yellowbox {
                border: 1px solid @yellow;

                p {color: @yellow}
            }

        }
    }
}

.heat-map {
    width: 90%;
    margin: 15px 0;
    height: 170px;
}

.geo_map {
    width: 100%;
    margin: 20px 0;
    height: 420px;
}


.action_ul {
    list-style: none;
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
    display: flex;
    padding: 0;

    li{
        width: 174px;
        margin: 0 2% 0 0;
        float: left;
        display: flex;

        &:last-child {
            margin-right: 0;
            width: 219px;
        }
    }
}


.orange-border{
    background-color: @white;
    border-radius: 4.5px;
    border: 1px solid @orange;
    box-shadow: 0 2px 0 @orange;
}
.blue-border{
    background-color: @white;
    border-radius: 4.5px;
    border: 1px solid @primary_color;
    box-shadow: 0 2px 0 @primary_color;
}
.yellow-border{
    background-color: @white;
    border-radius: 4.5px;
    border: 1px solid @yellow;
    box-shadow: 0 2px 0 @yellow;
}
.number-container{
    padding-top: 13px;
    text-align: center;
    
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 35px;
    

}

.number {
    font-size: 40px;
    font-weight: 700;
    color: #5c5d60;
    margin-bottom: 0;
    line-height: 40px;
}

.text {
    font-size: 18px;
    font-weight: 700;
    color: #5c5d60;
    margin-bottom: 0;
    line-height: 18px;
}






@media screen and (max-width: 767px) {

    .main_heading {font-size: 20px;}
    .geo_map {height: 220px;}
    .info-boxes .achivements li{width: 30%;}
    .info-boxes .achivements li p{font-size: 16px;}
    .info-boxes .achivements li span{font-size: 24px;}
    .info-boxes .regular-heading .new-notify{font-size: 10px;}
    .roles ul li {margin: 0 6% 6% 0;width: 47%;}

    .roles ul li:nth-child(4n+0) , .roles ul li:nth-child(4n+2) {
        margin-right: 0;
    }

    .roles ul li:nth-last-child(3), .roles ul li:nth-last-child(4) {margin-bottom: 6%;}
    .roles ul{margin: 0 0 15px 0;}
}

.table-responsive {
    max-height: 285px;
    .dataTables_scrollHeadInner {
        width: 100% !important;
    }
    .dataTables_wrapper {
        padding: 0 6px 11px 6px;
        table.dataTable thead {
            .sorting_asc, .sorting, .sorting_desc {
                background-position: center right 12px;
            }
        } 
        .dataTables_scroll {
            .dataTables_scrollHead {
                padding-right: 15px;
            }
        }
        .dataTables_length {
            bottom: 11px;
        }
    }
}