.table-full-width table.dataTable thead th{
 // white-space: nowrap;
}
table.dataTable{
  &.table-fixed {
    table-layout: fixed;
    word-wrap:break-word;
    thead th, tbody td {
      padding-right: 20px;
    }
  }
}
@media screen and (min-width:479px) {
  table.dataTable{
    &.table-fixed {
      width: 100% !important;
    }
  }
}

table.fullDataTable {
  clear: both;
 // table-layout: fixed;
}

.main-content {
    padding: 20px;
    margin-top: 5px;
}
// .dt-buttons {
//   display: none;
// }
.table-header {
  position: absolute;
  right: 0;
  width: calc(~"100% - 170px");
  top: 20px;
  z-index: 9;
  .control-risk-switch {
    margin-top: 8px;
    .left-text, .right-text {
      font-size: 12px;
      line-height: normal;
      vertical-align: top;
    }
  }
  .icon-list {
    text-align: right;
    a {
      cursor: pointer;
      margin-left: 15px;
    }
    .export-dropdown {
      margin-left: 15px;
      display: inline-block;
      padding: 0;
      width:21px;
      a {
        margin: 0px;
        padding: 0px;
      }
      .export-dropdown-menu {
        min-width: 80px;
        .dt-buttons {
          // display: block;
          .btn-export {
            width: 100%;
            background: no-repeat;
            border: 0;
            border-bottom: 1px solid #ddd;
            padding: 6px;
            font-size: 12px;
            color: #212529;
            margin: 0;
            border-radius: 0;
            box-shadow: none;
            -webkit-appearance: none;
          }
        }
      }
    }
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      float: right;
      li {
        float: left;
        position: relative;
        width: auto;
        text-align: center;
        &:first-child {
          &:hover {
            min-width: 58px;
          }
        }
        &:last-child {
          &:hover {
            min-width: 70px;
          }
        }
        &:hover {
          min-width: 62px;
          .btn-icon-hover {
            display: block;
          }
        }
        a {
          margin-left: 0;
          padding: 10px 7px;
          cursor: pointer
        }
        .btn-icon-hover {
          position: absolute;
          top: -4px;
          left: 0;
          margin: 0;
          padding: 5px 10px!important;
          background: #664da0;
          border-radius: 5px;
          color: #fff;
          text-decoration: none;
          min-width: 1px;
          font-size: 10px;
          z-index: 999;
          line-height: 12px;
          display: none;
          img {
            width: 16px;
            height: 20px;
            margin-right: 2px;
            vertical-align: middle;
          }
          span {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
table.dataTable.display tbody tr.odd>.sorting_1 {
  background-color: transparent;
}
table.dataTable.display tbody tr.even>.sorting_1 {
  background-color: transparent;
}
.DTFC_RightWrapper {
  .DTFC_RightHeadWrapper {
    .display.DTFC_Cloned {
      th {
        padding-right: 8px;
      }
    }
  }
  .DTFC_RightBodyWrapper {
    .display.DTFC_Cloned {
      // margin-top:-2px !important;
      thead {
        tr {
          height: 0px !important;
        }
      }
      td {
        padding-right: 8px;
      }
    }
  }
  .display {
    tr {
      &.odd.hover, &.even.hover {
        background-color: whitesmoke !important;
        td {
          border-left: 0px !important;
          
        }
      }
    }
  }
}
.dataTables_wrapper {
    &.no-footer {
      .dataTables_scrollBody {
        border-bottom: 0px;
        overflow-y: overlay !important;
        .filter-dropdown {
          display: none;
          .dropdown-menu {
            display: none !important;
          }
        }
       
      }
    }
    .dataTables_scroll {
      div.dataTables_scrollBody {
       // margin-top: -2px;
      }
      .dataTables_scrollHeadInner {
        //min-width: 100%;
      }
    }
  }
.dataTables_scrollHead {
  //width: 100% !important;
 // overflow: initial !important;
  .dataTables_scrollHeadInner {
   // width: 100% !important;
  }
  table.dataTable {
  // width: 100% !important;
    &.no-footer {
     // min-width: 100%;
      thead {
        .filter-btn {
          display: block;
          position: relative;
          z-index: 9999;
          padding: 0 !important;
          width: 100%;
          // width: 10px;
          // height: 10px;
          // border: 0;
          // background-image: url(../img/plus@2x.png);
          // position: absolute;
          // right: 9px;
          // background-size: 100%;
          // background-position: right;
          // padding: 0 !important;
          // top: 12px;
          // text-indent: -1000px;
          // z-index: 99999;
          // background-color: red;
        }
      }
  }
  }
}
table.dataTable {
  thead {
    .sorting {
      background-image: url(../img/sort_both.svg);
      background-position: center right 6px;
    }
    .sorting_asc {
      background-image: url(../img/sorting_asc.svg);
      background-position: center right 6px;
    }
    .sorting_desc {
      background-image: url(../img/sorting_desc.svg);
      background-position: center right 6px;
    }
    // th {    
    //     &.DTCR_tableHeaderHover {
    //       cursor: url(../img/resizing.svg), auto !important;
    //     }
    // }
  }
  thead th {
    font-size: 13px;
    font-weight: 700;
    color: #484848;
    border-top: 1px solid #644c9f;
    border-bottom:  2px solid #644c9f;
    white-space: nowrap;
    position: relative;

    &.action-block, td:last-child.sorting_disabled {
     // width: 45px !important;
      text-align: center;
      pointer-events: none;
    }
    &.no-sorting {
      background-image: none;
      padding-right: 0px;
      &.checkbox-width {
        width: 15px !important;
      }
    }
    &.no-column-filter {
      input, select, .checkmark {
        display: none;
      }
    }
} 
tfoot th {
  &.no-column-filter {
    input, select, .checkmark {
      display: none;
    }
  }
}
tr {
  cursor: url('../img/resizing.svg'), auto;
   &.odd > .sorting_1, &.even > .sorting_1 {
     background-color: transparent;

       &.odd.hover:first-child {
         td {
           border-top: none !important;
         }
       }
   }
   border: 1px solid transparent;
   &.odd.hover, &.even.hover {
     border: 1px solid transparent;
     background-color: whitesmoke !important;
     td {
       border-top: 1px solid #644c9f !important;
       border-bottom: 1px solid #644c9f;
       &:first-child {
         border-left: 1px solid #644c9f;
       }
       &:last-child {
         border-right: 1px solid #644c9f;
       }
     }
   }
   td {
     border-top: 1px solid transparent !important;
     border-bottom: 1px solid transparent;
     &:first-child{
       border-top: 1px solid transparent;
       border-left: 1px solid transparent;
     }
     &:last-child {
       border-top: 1px solid transparent;
       border-right: 1px solid transparent;
     }
    &.checkbox-width-td {
       width: 15px !important;
       padding-right: 0px !important;
     }
     &.edit-delete-icon {
       padding-right: 0px;
       a {
         &:first-child {
           margin-right: 10px;
         }
       }
     }
   }
 
 }

&.order-column {
  &.stripe {
    tbody {
      tr {
        &.odd > .sorting_1 {
          background-color: transparent;
        }
      }
    }
  }
}
tbody {
  tr {
    position: relative;
  }
  td {
    font-size: 13px;
    font-weight: @regular;
    line-height: 16px;
    // word-break: break-word;
    .edit-delete {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
    }
  }

}
thead th, tbody td {
  padding: 8px 32px 8px 8px;
  
}
&.no-footer {
  border-bottom: 0px;
  // margin-bottom: 10px;
}
}
table.dataTable.dt-checkboxes-select tbody tr, table.dataTable thead th.dt-checkboxes-select-all, table.dataTable tbody td.dt-checkboxes-cell {
  width: 15px !important;
  
}
table.dataTable thead th.dt-checkboxes-select-all {
  pointer-events: none;
}
.dataTables_wrapper  {
    .dataTables_filter {
        float: left;
        margin-top: 20px;
        width: 245px;
        text-align: left;
        label {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background: url('../img/search_icon.svg') no-repeat;
            width: 11px;
            height: 11px;
            top: 10px;
            left: 12px;
          }
        }
        input {
            padding: 6px 6px 6px 30px;
            font-size: 10px;
            margin-left: 0px;
            background-color: #ffffff;
            border: 1px solid #cbcbcb;
            border-radius: 2.75px;
            width: 170px;
            height: 30px;
            &:hover{
              outline: none;
              box-shadow: none;
            }
            &:focus{
              outline: none;
              box-shadow: none;
              border: 1px solid @primary_color;
            }
        }
    }
    .dataTables_paginate {
        .paginate_button {
          width: auto;
          height: 20px;
          padding: 0 6px;
          line-height: normal;
            min-width: 1px;
            padding: 2px 8px;
            font-size: 10px;
            border: 1px solid #efefef;
            &:hover {
              background: #664da0;
              color: #fff;
              border: 1px solid #664da0;
            }
            &.previous, &.next {
              background-color: #ffffff;
              border-radius: 1.5px;
              border: 1px solid #efefef;
              width: auto;
              height: 20px;
              line-height: normal;
              &.disabled {
                opacity: 0.4;
                pointer-events: none;
              }
              &:hover {
                background: #644c9f;
                color: #fff !important;
               }
            }
            &.previous {
              margin-right: 4px;
            }
            &.next {
              margin-left: 4px;
            }
            &.current {
              background: #644c9f;
              border-radius: 1.5px;
              border: 1px solid #644c9f;
              width: auto;
              height: 20px;
              padding: 0 6px;
              line-height: 18px;
               color: #fff !important;
               &:hover {
                background: #644c9f;
                color: #fff !important;
               }
            }
        }
    }
    .dataTables_info  {
        padding-left: 140px;
        padding-top: 0px;
        font-size: 10px;
        font-weight: 700;
        margin-top: 7px;
    }
    .dataTables_length {
        position: absolute;
        bottom: 0px;
        font-size: 10px;
        font-weight: 700;
        label {
          margin-bottom: 0px;
        }
        select {
          margin: 0 6px;
          padding: 0 2px;
          background-color: #ffffff;
          border-radius: 1.5px;
          border: 1px solid #efefef;
          width: auto;
          height: 24px;
        }
    }

}
div.dataTables_scrollHead.overflow-table-active {
  overflow: initial !important;
}

.risk-btn {
  border-radius: 2.5px;
  border: 1px solid #dd6838;
  width: 56px;
  height: 20px;
  overflow: hidden;
  line-height: 18px;
  vertical-align: middle;
  padding: 0;
  font-size: 13px;
  &.very-high {
    border-color: #dd6838;
    color: #dd6838;
    background-color: transparent;
    &:hover {
      background: #dd6838;
      color: #fff;
      border: 1px solid #dd6838;
     }
     &:not(:disabled):not(.disabled):active{
      border:1px solid #dd6838;
      color: #dd6838;
      background-color: transparent;
     }
  }
  &.medium {
    border-color: #98aa3a;
    color: #98aa3a;
    background-color: transparent;
    &:hover {
      background: #98aa3a;
      color:  #fff;
      border: 1px solid #98aa3a;
     }
     &:not(:disabled):not(.disabled):active{
      border:1px solid #98aa3a;
      color: #98aa3a;
      background-color: transparent;
     }
  }
  &.very-low {
    border-color:   #ffcc00;
    color: #ffcc00;
    background-color: transparent;
    &:hover {
      background: #ffcc00;
      color:  #fff;
      border: 1px solid #ffcc00;
     }
     &:not(:disabled):not(.disabled):active{
      border:1px solid #ffcc00;
      color: #ffcc00;
      background-color: transparent;
     }
  }
  &.low{
    border-color: @yellow;
    color: @yellow;
    background-color: transparent;
    &:hover {
      background: @yellow;
      color:  @white;
      border: 1px solid @yellow;
     }
     &:not(:disabled):not(.disabled):active{
      border:1px solid#98aa3a;
      color: #98aa3a;
      background-color: transparent;
     }
  }
    

}
.year-button{
      border-radius: 2.5px;
      width: 70px;
      height: 20px;
      overflow: hidden;
      line-height: 18px;
      vertical-align: middle;
      padding: 0;
      font-size: 13px;
      background-color: transparent;
      color: @white;
      text-transform: uppercase;
      &.medium{
        background-color: @yellow;
        border: 1px solid @yellow;
        &:not(:disabled):not(.disabled):active{
          background-color: @yellow;
        }
      }
      &.high{
        background-color: @orange;
        border: 1px solid @orange;
        &:not(:disabled):not(.disabled):active{
          background-color: @orange;
        }
      }
      &.low{
        background-color: @green;
        border: 1px solid @green;
        &:not(:disabled):not(.disabled):active{
          background-color: @green;
        }
      }
}
table.display.button-table{
  tr{
    th{
      &.year-th{
        width: 80px !important;
      }
    }
  }
}
.undeline-anchor{
  color: @anchor_blue;
  text-decoration: underline;
}
.table-caseid{
  thead {
    th{
      border-top: 1px solid @border-colour-light;
      border-bottom: 1px solid @border-colour-light;
      color: @text_gray;
      font-size: 13px;
      font-weight: @bold;
      padding: 8px 16px;
    }
  }
  
  td{
    font-weight: @regular;
    border-top: 0px;
    border-bottom: 1px solid @border-colour-light; 
    color: @text_gray;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    p{
      margin-bottom: 0px;
    }
  }
}
/* The container */
.odd {
  .dt-body-center {
    input:checked:after {
      background-color: #f9f9f9;
    }
  }
}
.dt-body-center {
 background: none !important;
 text-align:center;
 padding-right: 8px!important;
 width: 15px!important;
  input {
    width: 15px;
    height: 15px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: auto;
    margin-right: auto;
    &:focus {
      outline: none;
    }
    &:after {
      content: '\00D7';
        display: block;
        background: white;
        cursor: pointer;
        font-size: 15px;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        color: transparent;
        transition: .25s all ease-in-out;
        border-radius: 3px;
        line-height: 15px;
        background-position: 0 15px;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        border:1px solid #cbcbcb;
        cursor: pointer;
        pointer-events: auto;
    }
    &:checked:after {
      left: 0px;
      top: 0;
      width: 8px;
      height: 15px;
      border: solid #98aa3a;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 0px;
      margin-left:4px;
    }
  }
}
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border:1px solid @form-close-bg;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: transparent;
    border: 0px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 3px;
    top: 0px;
    width: 8px;
    height: 16px;
    border: solid @green;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .range-control {
    overflow: hidden;
    width: 81px;
    height: 7px;
    -webkit-appearance: none;
    background-color: #dcdcdc;
    border-radius: 3.5px;
    border: 1px solid #c9c9c9;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      height: 12px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    &::-webkit-slider-thumb {
      width: 3px;
      -webkit-appearance: none;
      height: 12px;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px #dd6838;
    }
    &.very-high::-webkit-slider-thumb {
      box-shadow: -80px 0 0 80px #dd6838;
    }
    &.medium::-webkit-slider-thumb {
      box-shadow: -80px 0 0 80px #98aa3a;
    }
    &.very-low::-webkit-slider-thumb {
      box-shadow: -80px 0 0 80px #ffcc00;
    }
  }
  
}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color:#dd6838;
}
input[type="range"]::-moz-range-high {
background-color: #9a905d;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #dd6838; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #9a905d;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 12px;
  border-radius: 9px;
  border: 1px solid #707070;
  width: 43px;
  height: 18px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
}



.slider-switch-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #664da0;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}



input:checked + .slider-switch-btn {
  background-color: #664da0;
}

input:focus + .slider-switch-btn {
  box-shadow: 0 0 1px #664da0;
}

input:checked + .slider-switch-btn:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}


.multiple-search {
  margin-top:16px;
  margin-bottom: 10px;
  &.filter-search-block {
    .table-icon-list {
      margin-top: 5px;
    }
  }
  .table-select-search {
    label {
      float: left;
      width: auto;
      font-size: 13px;
      font-weight: 700;
      color: #484848;
      margin-bottom: 0px;
      margin-right: 12px;
      padding: 10px 0;
    }
    select {
      width: 20%;
      margin-left: 8px;
      float: left;
    }
  }
  .table-icon-list {
    margin-top: 10px;
    .export-dropdown {
      margin-left: 15px;
      display: inline-block;
      padding: 0;
      width: 21px;
      a {
        margin: 0px;
        padding: 0px;
      }
      .export-dropdown-menu {
        min-width: 80px;
        .dt-buttons {
          display: block;
          .btn-export {
            width: 100%;
            background: no-repeat;
            border: 0;
            border-bottom: 1px solid #ddd;
            padding: 6px;
            font-size: 12px;
            color: #212529;
            margin: 0;
            border-radius: 0;
            box-shadow: none;
            -webkit-appearance: none;
          }
        }
      }
    }
  }
 
}
.table-select-search {
  .form-group {
    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      padding-left: 8px;
    }
  }
}
.table-icon-list {
  a {
    margin-left: 15px;
  }
}
.tab-block {
  .tab-pane {
    position: relative;
  }
}
.control-table-section{
  .dataTables_wrapper .dataTables_filter{
    margin-top: 0px;
  }
  .table-header{
    top: 3px;
  }
}
.btn-case{
border-radius: 4.5px;
border: 1px solid @white;
width: 40px;
height: 20px;
color: @white;
padding: 0px;
font-size: @font_12;
line-height: 12px;
&.yellow{
  background-color: @yellow;
}
&.orange{
  background-color: @orange;
}
&.green{
  background-color: @green;
}
}
.action-dropdown {
  a {
    &:after, &::before {
      display: none !important;
    }
    &:focus {
      box-shadow: none;
    }
    .dot {
      background-color: #5a4296;
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      margin-bottom: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .dropdown-menu {
    min-width: 84px;
    padding: 14px;
    margin-top: 0;
    height: 50px;
    position: fixed !important;
    left: 0;
    top: 0;
    right: auto;
    &.dropdown-menu-text {
      min-width: 79px;
      padding: 0px;
      margin-top: 0px;
      height: auto;
    //   transform: none !important;
    // bottom: 100%;
    // top: auto !important;
    // left: auto !important;
    // right: -5px;

      // left: 6% !important;
      ul {
        padding: 0;
        list-style: none;
        margin: 0;
        li {
          border-bottom: 1px solid #dddddd;
          a {
            cursor: pointer;
            margin: 0;
            width: 100%;
            display: inline-block;
            padding: 6px;
            font-size: 12px;
            color: #212529;
            img {
              width:12px;
            }
            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
    
    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: -7px;
    //   border-left: 6px solid transparent;
    //   border-right: 6px solid transparent;
    //   border-bottom: 6px solid #dcdcdc;
    //   left: 50%;
    // }
    a {
      cursor: pointer;
      color: #212529;
      &.edit-btn {
        margin-right:12px;
      }
    }
   
   
  }


}

.filter-dropdown {
  .dropdown-menu {
    display:none
  }
  &.show-dropdown-menu {
    .dropdown-menu {
      display: block
    }
  }
  margin-top: 0px;
  margin-left: 0;
  float: right;
  width: 12px;
    height: 12px;
    margin-right: 0;
    position: absolute;
    top: 44%;
    right: 16px;
  //display: none;
  button {
    border: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    background: transparent;
    padding: 0;
    z-index: 0;
   
    &:hover, &:focus, &:not(:disabled):not(.disabled):active {
      background-color: transparent;
      outline: none;
    }
    &.dropdown-toggle {
      &::after {
        position:absolute;
        right: 6px;
        top: 10px;
      }
    }
  }
  .dropdown-menu {
    z-index: 9999;
    overflow-y: auto;
    max-height: 225px;
    min-width: 150px;
    right: -4px;
    left: auto;
  }
  .dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
    &:active {
      background-color: transparent;
    }
    label {
      margin-bottom: 0px;
      line-height: 14px;
      width: 100%;
      .checkbox {
        float: left;
        padding: 0;
        margin-bottom: 0;
        width: 12px;
        height: 12px;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:checked {
          &:after {
            width: 6px;
            height: 12px;
            border: solid #98aa3a;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 0;
            margin-left: 4px;
          }
        }
        &:after {
          content: '';
            display: block;
            background: white;
            font-size: 15px;
            top: 0;
            left: 0;
            height: 12px;
            width: 12px;
            color: transparent;
            -webkit-transition: .25s all ease-in-out;
            transition: .25s all ease-in-out;
            border-radius: 3px;
            line-height: 15px;
            background-position: 0 15px;
            background-repeat: no-repeat;
            background-size: 15px 15px;
            border: 1px solid #cbcbcb;
            cursor: pointer;
            pointer-events: auto;
        }
        .checkmark {
          width: 12px;
          height: 12px;
          padding: 0;
          &:after {
            width: 6px;
            height: 12px;
          }
        }
      }
      span.filter-text {
        display: inline-block;
        padding-left: 6px;
        font-size: 12px;
        vertical-align: top;
        line-height: 12px;
        width: calc(100% - 12px);
    
      }
    }
    
  }
  .filter-icon {
    background: url(../../../assets/img/filter-icon.jpg) no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
  }
}


.dataTables_scrollBody {
 // overflow: hidden !important;
 // max-height: initial !important;
 .display {
   thead {
     tr {
       height: 0px !important;
     }
   }
 }
}



.dropdown-menu-column {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  // display: none;
  float: left;
  min-width: 11rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;  
  display: none;
  &.show-bar{
      display: block;
  }
}

.filter-dropdown-column {
  float: right;
  margin-left: 15px;
  .tooltip {
    .tooltiptext {
      white-space: nowrap;
    left: -200%;
    }    
  }
}
.click-icon{
  cursor: pointer;
}

.dropdown-item-column {
  display: block;
  width: 100%;
  padding: 3px 10px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.filter-dropdown-column .dropdown-item-column label {
  margin-bottom: 0;
  line-height: 14px;
  width: 100%;
  position: relative;
}

.filter-dropdown-column .dropdown-item-column label .checkbox {
  float: left;
  padding: 0;
  margin-bottom: 0;
  width: 12px;
  height: 12px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}


.filter-dropdown-column .dropdown-item-column label .checkbox:after {
  content: '';
  display: block;
  background: 0 15px no-repeat #fff;
  font-size: 15px;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  color: transparent;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  border-radius: 3px;
  line-height: 15px;
  background-size: 15px 15px;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  pointer-events: auto;

}

.filter-dropdown-column .dropdown-item-column label span.filter-text {
  display: inline-block;
  padding-left: 18px;
  font-size: 12px;
  vertical-align: top;
  line-height: 12px;
  width: calc(88%);
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.filter-dropdown-column .dropdown-item-column label .checkbox:checked:after {
  width: 6px;
  height: 12px;
  border: solid #98aa3a;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0;
  margin-left: 4px;
}

.year-button.very-low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.year-button.very-high {
  background-color: #de6441;
  border: 1px solid #de6441;
}
 #interveiwSchduleTable .action-dropdown .dropdown-menu.dropdown-menu-text {
   transform: inherit !important;
    left: auto !important;
    top: auto !important;
}
.table-dashboard {
  tr {
    &.odd:hover, &.even:hover {
      border: 1px solid transparent;
      background-color: whitesmoke !important;
      td {
        border-top: 1px solid #644c9f !important;
        border-bottom: 1px solid #644c9f;
        &:first-child {
          border-left: 1px solid #644c9f;
        }
        &:last-child {
          border-right: 1px solid #644c9f;
        }
      }
    }
  }
}
.dt-buttons {
  position: initial !important;
  .buttons-collection {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    position: absolute;
    right: 21px;
    top: 15px;
    z-index: 99;
    border-radius: 0px;
    overflow: initial;
    &:hover, &:active, &:focus {
      background: none !important;
      border: 0  !important;
      box-shadow: none  !important;
    }
  }
}
.export-right-20 {
  .dt-buttons {
    .buttons-collection {
      right: -14px;
      top: -40px;
    }
  }
}
div.dt-button-background {
  position: relative !important;
}
div.dt-button-collection {
  padding: 0;
    margin: 0;
    width: 80px;
    border-radius: 0px;
    button {
      width: 100%;
      background: none;
      border: 0;
      border-bottom: 1px solid #ddd;
      padding: 6px;
      font-size: 12px;
      color: #212529;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      -webkit-appearance: none;
      margin-bottom: 0px !important;
      &:hover, &:active {
        background: none !important;
        box-shadow: none !important;
        color: #212529;
      }
    }
}
button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
  background: none;
  border: 0px;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}
.sticky-table.sticky-ltr-cells {
  border: 0px;
  max-height: 100vh;
  overflow: visible;
  position: relative;
  table {
    border-collapse: initial;
  }
  .sticky-cell-opposite {
    outline: none;
    background-color: #fdfdfd;
    border-color: #f1f1f1;
    padding-right: 10px;
    z-index: auto;
  }
  .action-block {
    &.sticky-cell-opposite {
      border-color: #644c9f;
    }
  }
} 
#controlWorkFlowRCM_wrapper {
  .dt-buttons .buttons-collection {
    top:-44px;
  }
}
#budgetTable_wrapper, #activeAuditTable_wrapper, #costReportingTable_wrapper {
  .dt-buttons .buttons-collection {
    top:-40px;
  }
}
#audituniverseTbl_wrapper, #annualAuditPlanningTable_wrapper {
  .dt-buttons .buttons-collection {
    top:-38px;
    right: 0px;
    .tooltip {
      padding-right: 0px;
    }
  }
}
#riskListAssementTable_wrapper, #issueListCM_wrapper, #actionListCM_wrapper, #actionwfmartix_wrapper {
  .dt-buttons {
    .buttons-collection {
      right: -8px;
    }
  }
}
//#issueActionTable_wrapper .dataTables_length
#controlWFTable_wrapper .dt-buttons, #pbcDocumentTable_wrapper  .dt-buttons, #issueActionTable_wrapper .dt-buttons, #issueActionSelectedTable_wrapper  .dt-buttons {
  display: none !important;
}
#issueActionTable_wrapper.dataTables_wrapper .dataTables_filter {
  margin-top: 0px;
}
// #issueActionTable_wrapper.dataTables_wrapper .dataTables_info,
// #issueActionTable_wrapper.dataTables_wrapper .dataTables_paginate {
//   display: none;
// }
// #issueActionTable_wrapper.dataTables_wrapper  .dataTables_length {
//   bottom: 10px;
// }
// #issueActionTable_wrapper.dataTables_wrapper .dataTables_paginate {
//   margin-top: -18px;
// }
// #issueActionTable_wrapper.dataTables_wrapper .dataTables_info {
//   margin-top: -11px;
//   margin-bottom: 15px;
// }
.dataTables_scrollBody {
  .issue-first-table {
    padding-bottom: 20px;
  }
}
table.dataTable.issue-first-table tr, table.dataTable.issue-second-table tr {
  cursor: default;
}
.dataTable {
  .remove-btn {
    cursor: pointer;
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 4px 6px;
    font-size: 12px;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 79px;
    img {
      width: 12px;
      margin-right: 4px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
  }
}

.dataTables_wrapper {
  #issueActionSelectedTable_filter {
    &.dataTables_filter {
      margin-top: 0;
    }
  } 
}
.action-selection-table-block {
  .action-header {
    h4 {
      margin-bottom: 8px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500;
      color: #6d6d6d;
      &:before {
        top: 69%;
        left: 20%;
        width: 80%;
      }
    }
    button {
      position: absolute;
      top: 42px;
      right: -14px;
      cursor: pointer;
      z-index: 9;
    }
  } 
  .action-dropdown .dropdown-menu.dropdown-menu-text {
    position: absolute !important;
    top: 38px !important;
    right: 16px;
    left: auto !important;
  }
}
.action-issue-table-block {
  .action-header h4:before {
    background: none;
  }
}


.saving-report-block {
  padding: 15px;
  .header-button {
    h3 {
      float: left;
    }
    .button-right {
      float: right;
      button {
        width: auto;
        padding: 2px 12px;
        height: auto;
        margin-left: 12px;
        &.save-report {
          background-color: #5a4296;
          color: #fff;
        }
      }
    }
  }
}
#controlWorkFlowRCM_filter, #costReportingTable_filter, #activeAuditTable_filter, #budgetTable_filter {
  display: none;
}
.read-more {
    &.tooltip {
      z-index:auto;
      .read-more-text {
        overflow: hidden; 
        text-overflow: ellipsis; 
        display: -webkit-box; 
        line-height: 16px;  
        max-height: 32px;
        word-break: break-word;      
        /* The number of lines to be displayed */ 
        -webkit-line-clamp: 2;  
        -webkit-box-orient: vertical;       
      }
      &:hover {
        .tooltiptext { 
          visibility: hidden;
        }
      }
      &.readmore-tooltip {
        &:hover {
          .tooltiptext { 
            visibility: visible;
          }
        }
        .tooltiptext {
          top: auto;
          left: 0;
          transform: translateY(100%);
          bottom: -7px;
          width: 100%!important;
          z-index: 9;
          &.wd-100 {
            width: 100px !important;
            left: -50%;
          }
          &.wd-150 {
            width: 150px !important;
            left: -50%;
          }
          &.wd-200 {
            width: 200px !important;
            left: -50%;
          }
          &:after {
            content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent #664da0 transparent;
          }
        }
      }
      
    }
  
}
// .pop-full-height {
//   &.pop-up-form {
//     .scroll-container {
//       .mCSB_inside>.mCSB_container {
//         height: 100%;
//       }
//       }
//   } 
// }
@media screen and (min-width:1024px) {
  table.dataTable {
    thead {
      th {
        &.action-block {
          width: 45px!important;
        }
        td:last-child.sorting_disabled {
          width: 45px!important;
        }
      }
    }
  } 
}


#currentaudituniverseTbl_wrapper .dt-buttons .buttons-collection{
  top: -38px;
  right: 0;
  .tooltip {
    padding-right: 0;
  }
}

.table-full-width {
    &.audit-body-content {
        .main-content-area {
            height:auto;
        }
    }
}
#audituniverseTbl_wrapper, #currentaudituniverseTbl_wrapper {
  .action-dropdown .dropdown-menu.dropdown-menu-text {
    transform: none !important;
    top: 32px !important;
    left: auto !important;
    position: absolute !important;
    right: 0;
  }
}
#audituniverseTbl_wrapper {
table {
  tr:last-child {
    .action-dropdown .dropdown-menu.dropdown-menu-text {
      top: -28px!important;
    }
  }
}
}
#currentaudituniverseTbl_wrapper {
table {
  tr:last-child {
    .action-dropdown .dropdown-menu.dropdown-menu-text {
      top: -58px!important;
    }
  }
  tr:first-child{
    .action-dropdown .dropdown-menu.dropdown-menu-text {
      top: 32px!important;
    }
   
  }
}
}
#audituniverseTbl_wrapper .action-dropdown .dropdown-menu.dropdown-menu-text {
  min-width: 127px;
}
