.tooltips {
    position: relative;
    display: inline-block;
  }

  .tooltips img {
    width: 30px;
    border-radius: 50%;
  }

  .tooltips .tooltiptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    border-radius: 6px;
    padding: 4px 15px 7px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #dddddd;
    position: absolute;
    z-index: 1;
    transition: opacity .3s;
    opacity: 0;
  
        &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #dddddd transparent transparent;
        }
  
  }

  .tooltips:hover .tooltiptext {
  visibility: visible;
  left: 50px;
  opacity: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
}


.audit-team {
    margin: 0 auto;
    padding: 0;
    width: auto;
    display: inline-block;
    list-style: none;

        li {
            margin: 0 -2px;
            padding: 0;
            width: auto;
            float: left;

            img {
                margin: 0;
                padding: 0;
                width: 30px;
                border-radius: 50%;
            }

        }

}

.duplicate-btn {
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;

    .dupIco{display: block;text-decoration: none;}

    .dupIcoHover {
        margin: 0;
        padding: 3px;
        background: @primary_color;
        border-radius: 5px;
        color: @white;
        text-decoration: none;
        display: inline-block;
        min-width: 100px;
        font-size: @common_size;
        opacity: 0;

        img {
            margin-right: 3px;
            display: inline-block;
            color: @white;
            width: 15px;
        }

        &:hover {
            color: #ffffff;
        }
    }

    &:hover {

        .dupIco {display: none;}

        .dupIcoHover {opacity: 1;
            transition: all 0.5s ease;}

    }

}

