.full-width {
  .btn-create-new {
    padding: 5px 12px;
    font-weight: @semibold;
    color: @white;
    background-color: @primary_color;
    border-radius: 4.5px;
    border: 1px solid #fff;
  }
}

.pane {
  padding-top: 20px;

  .audit-memo {
    border-radius: 4.5px;
    border: 1px solid @primary_color;
    width: 190px;
    height: 144px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-direction: column;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;


    &:hover {
      background-color: @primary_color;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }
    }

    h4 {
      font-size: @font_18;
      color: @primary_color;
      font-weight: @semibold;
      padding-top: 20px;
    }
  }

  .opening-meeting {
    background-color: #ffffff;
    border-radius: 4.5px;
    border: 1px solid @primary_color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 190px;
    height: 79px;
    overflow: hidden;
    margin-bottom: 16px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;

    &:hover {
      background-color: @primary_color;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }
    }


    h4 {
      font-size: @font_18;
      color: @primary_color;
      font-weight: @semibold;
      text-align: left;
    }
  }


  .audit-announcement {
    background-color: #ffffff;
    border-radius: 4.5px;
    border: 1px solid @primary_color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 190px;
    height: 79px;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    margin-bottom: 16px;
    &:hover {
      background-color: @primary_color;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }
    }

    h4 {
      font-size: @font_18;
      color: @primary_color;
      font-weight: @semibold;
      text-align: left;
    }
  }


  .pbc {
    background-color: #ffffff;
    border-radius: 4.5px;
    border: 1px solid @primary_color;
    width: 100%;
    height: 105px;
    overflow: hidden;
    margin-top: 17px;

    &:hover {
      background-color: @primary_color;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }


      .link {
        background-color: #fff;
        color: @primary_color;

        &:hover {
          color: @primary_color  !important;
        }
      }

    }

    h4 {
      font-size: @font_18;
      color: @primary_color;
      font-weight: @semibold;
      text-align: left;
    }

    .pbc-btn {
      display: table-footer-group;
    }
  }

  .fw {
    border: 1px solid @green;
    width: 400px;
    height: 212px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 17px;

    &:hover {
      background-color: @green;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }

      .medium {
        background-color: #fff;
        color: @green;

        &:hover {
          color: @green  !important;
        }
      }

    }


    h4 {
      font-size: @font_18;
      color: @green;
    }
  }

  .fw-btn {
    .risk-btn {
      height: auto;
      width: auto;
      text-align: left;
    }
  }

  .fw-btn1 {
    .risk-btn {
      height: auto;
      width: auto;
      text-align: left;
    }
  }

  .fw-btn2 {
    .risk-btn {
      height: auto;
      width: auto;
      text-align: left;
    }
  }

  .issue-d {
    display: table-footer-group;
  }

  .issue {
    border: 1px solid @orange;
    width: 400px;
    height: 154px;
    border-radius: 6px;
    overflow: hidden;

    &:hover {
      background-color: @orange;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }

      .very-high {
        background-color: #fff;
        color: @orange;

        &:hover {
          color: @orange  !important;
        }
      }

    }



    h4 {
      font-size: @font_18;
      color: @orange;
    }
  }


  .draft-report {
    border-radius: 4.5px;
    border: 1px solid @meduim-blue;
    width: 180px;
    height: 154px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 17px;
    cursor: pointer;
    &.audit-team{
      height: 212px;
    }

    &:hover {
      background-color: @meduim-blue;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }
    }


    h4 {
      font-size: @font_18;
      color: @meduim-blue;
      font-weight: @semibold;
      padding-top: 20px;
    }
  }

  .closing-meeting {
    border-radius: 4.5px;
    border: 1px solid @yellow;
    width: 180px;
    height: 163px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 0px;
    cursor: pointer;

    &:hover {
      background-color: @yellow;

      h4 {
        color: #fff;
      }

      .icon {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        /* Safari/Chrome */
      }
    }


    h4 {
      font-size: @font_18;
      color: @yellow;
      font-weight: @semibold;
      padding-top: 20px;
    }
  }

}

.dvsn-section {
  margin-top: 10px;

  .assignees {
    margin: 15px 0 0;
    padding: 0;

    p {
      color: @gray-text;
      font-size: @font_12;
      font-weight: @semibold;
      margin: 0;
      padding: 0;
      line-height: 30px;
    }

    ul {
      width: auto;
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0 -2px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
          border: 1px solid @gray-text;
        }
      }
    }

    button {
      float: left;
      outline: none;
      border: none;
      background: none;
      padding: 0;
      margin: 0 5px;

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        float: left;
      }
    }
  }

  .dvsn {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
  }

  .audit-scope {
    position: relative;

    .form-group {

      label {
        position: absolute;
        background-color: #fff;
        top: -10px;
        left: 20px;
        display: block;
        width: auto;
        padding: 3px 10px;
        margin: 0;
      }

      p {
        margin: 10px 0px 0px 0px;
      }
    }
  }
}

.out-scope {
  position: relative;
  margin: 25px 0px 10px 0px;


  .out-scope-text {
    background: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
  }

  .form-group {

    label {
      position: absolute;
      background-color: #fff;
      top: -12px;
      left: 22px;
      display: block;
      width: auto;
      padding: 3px 10px;
      margin: 0;
    }

    p {
      margin: 10px 0px 0px 0px;
    }
  }

}

.pop-up-form .from-heading-box h4.field-work-h4 span {
  font-weight: 600;
  color: #745daa
}

.pop-up-form .from-heading-box h4.field-work-h4 {
  font-weight: 600;
}

.d-box,
.d-box1,
.d-box2 {
  position: relative;

  .form-group {
    margin: 0;


    label {
      position: absolute;
      top: 0;
      transform: translateY(-13px);
      width: auto;
      left: 10px;
      padding: 5px;
      background-color: #fff;
      margin: 0%;
    }
  }
}

.assignees {
  margin: 0px 0 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
    line-height: 30px;
  }

  ul {
    width: auto;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 -2px;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
        border: 1px solid #ddd;
        margin-right: 5px;
      }
    }
  }
}

.assignees {
  margin: 0px 0 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
    line-height: 30px;
  }

  ul {
    width: auto;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 -2px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
        border: 1px solid #ddd;
      }
    }
  }

  button {
    float: left;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0 5px;

    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      float: left;
    }
  }
}

.interview-text {
  background: #fff;
  padding: 10px 5px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  margin-top: 20px;
  position: relative;

  .form-group {
    label {
      position: absolute;
      background-color: #fff;
      top: -10px;
      left: 5px;
      display: block;
      width: auto;
      padding: 3px 10px;
      margin: 0;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    text-align: left;
    padding: 8px;
    font-size: 8px;
    font-weight: 800;
    color: #6d6d6d;
  }

  th {
    text-align: left;
    padding: 8px;
    font-size: 8px;
    font-weight: 600;
    color: #6d6d6d;
  }
}

.assignees {
  margin: 0px 0 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
    line-height: 30px;
  }

  ul {
    width: auto;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 -2px;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: left;
        border: 1px solid #ddd;
        margin-right: 5px;
      }
    }
  }
}

.status-box {
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}

.agenda-section {
  margin-top: 20px;
}

.issue-pane {
  position: relative;

  .form-group {
    label {
      position: absolute;
      width: auto;
      top: 0;
      transform: translateY(-13px);
      left: 10px;
      background-color: #fff;
      padding: 5px;
    }
  }
}

.max-w210{
  max-width: 210px;
}
.c-new {
  border: 1px solid #cbcbcb;
}

@media (max-width: 1199px) {
  .pane {
    &.engagement-plaaning-pane {
      display: inline-block !important;
    }
  }
  .pane {
    display: inline !important;
    position: relative;
    top: 15px;
  }
  .pane .l-pane, .pane .m-pane {
    float: left;
  }
  .max-width-210 {
    max-width: initial;
    position: relative;
    top: 15px;
  }
  .main-content {
    padding-bottom: 40px;
  }
}

@media (max-width:991px) {
  .l-pane {
    width: 100%;
  }
  .pane .audit-memo {
    width: 100%;
    margin-right: 19px;
  }
  .pane .opening-meeting {
    width: 49%;
    justify-content: space-around;
    float: left; 
    margin-left: 1%;
  }
  .pane .audit-announcement {
    width: 49%;
    justify-content: space-around;
    float: left;
    margin-right: 1%;
  }
  .pane .pbc {
    width: 100%;
  }
  .pane .m-pane {
    position: relative;
    top: 20px;
    width: 100%;
    margin-right: 15px !important;
  }
  .pane .fw{
    width:calc(~"100% - 200px");
    float: left;
    margin-left: 20px;
  } 
  .pane .issue {
    width: 100%;
  }
  .pane .draft-report, .pane .closing-meeting {
    margin-right: 0px;
  }
  .pane .draft-report.draFt{
    margin-top: 20px;
    margin-right: 20px;
  }
  .max-width-210 {
    top: 20px;
  }
  .main-content {
    padding-bottom: 60px;
  }
  .pane .closing-meeting{
    margin-top: 20px;
    height: 154px;
  }
}

@media (max-width:767px) {
  .pane .audit-memo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0px;
  }
  .pane .audit-announcement, .pane .opening-meeting {
    width: 100%;
    margin-right: 0 !important;
    justify-content: space-between;
    padding: 14px;
    margin-left: 0px;
  }
  .pane .closing-meeting, .pane .draft-report {
    width: 100%;
    margin-top: 0px;
  }
  .pane .m-pane {
    width: 100%;
    margin-bottom: 17px;
  }
  .pane .fw{
    width: 100%;
    margin-left: 0px;
  }
  .pane .pbc {
    margin-bottom: -3px;
    margin-top: 15px;
  }
  .main-content .xs-w-100 {
    width: 100%;
  }
  .pop-up-form .form-container-box {
    width: 100%;
}
}

@media (max-width: 640px) {
  .issue-pane {
    top: 20px;
}
}