.modal-dialog{
    margin-top: 15px;
    margin-bottom: 0px;
    max-width: 500px;
    &.sucess-class{
        .modal-header{
            background-color: @green;
            color: @white;
        }
    }
    &.error-class{
        .modal-header{
            background-color: @orange;
            color: @white;
        }
    }
    .modal-content{
        border: 0px;
        border-radius: 5px;
        border: 1px solid #707070;
    }
    .modal-header{
        border-radius: 0px;
    }
    .btn-modal{
        margin: 0px 5px;
        margin-top: 10px;
        background-color: @primary_color;
        border: 1px solid @primary_color;
        color: @white;
        padding: 8px 25px;
        
    }
    .btn-modal-no{
        margin: 0px 5px;
        margin-top: 10px;
        background-color: @white;
        border: 1px solid @primary_color;
        color: @primary_color;
        padding: 8px 25px;
        
    }
}
.schedule-calendar-modal {
    &.modal-dialog {
        max-width: 675px;
    }
}
.modal-backdrop{
    z-index: 99999;
}
.modal{
    z-index: 99999;
}

.modal-calendar-view {
    display: inline-block;
    width: 100%;
    .calendar-view {
    .calendar-inner-content {
        position: relative;
        h1 {
            left: 14px;
            top: 12px;
            font-size: 18px;
            color: #745daa;
            font-weight: 600;
        }
        .time-sch-wrapper {
            border: 0px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            .time-sch-header-wrapper {
                padding: 12px;
                height: auto;
                display: inline-block;
                width: 100%;
                background: none;
                h3 {
                    margin-right: 32px !important;
                     width: 198px;
                     font-size: 14px;
                     background-color: #745daa;
                     padding: 5px;
                     border-radius: 20px;
                }
                .time-sch-time-container {
                    width: 262px;
                    button {
                        font-size: 14px;
                        color: rgba(116, 93, 170, 0.6);
                        &:nth-child(3), &:nth-child(4) {
                            top: 2px;
                        }
                        &:focus {
                            outline: none;
                            border: 0;
                            box-shadow: none;
                        }
                    }
                }
            
            } 
            .time-sch-content-wrap {
                .time-sch-table {
                    td {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .time-sch-section-wrapper {
                    left: 125px !important;
                    .time-sch-item {
                        height: 22px!important;
                        top: 18px !important;
                        .time-sch-item-content {
                            display: block;
                            font-size: 12px;
                            padding: 2px 0px;
                            text-align:center;
                        }
                    }
                    .time-sch-section-container {
                        height: 60px !important;
                    }
                }
            }
            .time-sch-table-wrapper {
                .time-sch-table {
                    .time-sch-section {
                        width: 125px;
                    }
                    tr {
                        td {
                            padding-left: 18px;
                            padding-right: 18px;
                            text-transform: uppercase;
                        }
                    }
                }
                .time-sch-content-wrap {
                    .time-sch-table {
                        tr {
                            height: 60px!important;
                            border-bottom: 1px solid #f4f4f4;
                            td {
                                padding-left: 0px;
                                padding-right: 0px;
                                text-transform: none;
                                &.time-sch-section {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                } 
                .time-sch-table {
                    td {
                        font-size: 14px;
                        font-weight: 700;
                        padding: 6px 0;
                    }
                } 
            } 
        } 
    }
    } 
}


.modal-dialog.modal-redeem{
    height: 100%;
    width: 411px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    .modal-content{
        background-color: transparent;
    }
    
    .modal-body{
        background-color: #ffffff;
        border-radius: 4.5px;
        border: 1px solid #707070;
        padding: 40px 40px;
    }
    .redemm-pop{
        font-size: 29px;
        color: #604999;
        text-align: center;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .continue-p{
        font-size: 15px;
        text-align: center;
        line-height: 15px;
        margin-bottom: 30px;
        font-weight: 500;
    }
    .combinedbutton{
        text-align: center;
        margin-bottom: 0px;
        .btn.common-style{
            padding: 6px 20px;
            font-size: 12px;
            color: #fff;
            border-radius: 5px;
            margin: 0px 3px;
            &.btn-cancel{
                background-color: #858585;
            }
            &.btn-redeem{
                background-color: #604999;
            }
        }
    }
    .cong-head{
        font-size: 25px;
        color: #604999;
    }
    .modal-body.redeem-cong{
        padding: 30px;
        text-align: center;
        .svg-image{
            position: absolute;
            width: 411px;
            height: 500px;
            left: 0px;
            top: -50px;
            z-index: 10;
        }
        .contentSection{
            position: relative;
            z-index: 20;
        }
        img.imggift{
            width: 114px;
        }
        .cong-head{
            font-size: 25px;
            color: #604999;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .coinP{
            font-size: 25px;
            font-weight: 700;
            color: #604999;
        }
        .detailsCoin{
            font-size: 16px;
            color: #604999; 
            margin-bottom: 30px;
        }
    }
}



.new-popup-feature{
    display: none;
}
.error-popup-design{
    .new-popup-feature{
        display: block;
        .modal-header{
            padding-top: 25px;
            padding-left: 55px;
            padding-right: 15px;
            padding-bottom: 0px;
            border: 0px;
            position: relative;
            .modal-title{
                font-size: 18px;
                color: #DD6838;
                &.confirm-colour{
                    color: #644C9F;
                }
            }
            .error-icon-in{
                position: absolute;
                left: 15px;
                top:28px;
                background: #DD6838;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .suss-im{
                    display: none;
                }
                .error-im{
                    display: inline-block;
                }
            }
             .close{
                 padding: 0px;
                 margin: 0px;
                 line-height: 25px;
             }
        }
        .modal-body{
            padding-left: 55px;
            padding-top: 10px;
            padding-right: 15px;
            padding-bottom: 25px;
            width: 100%;
            float: left;
            .popup-msg{
                font-size: 14px;
                color: #464646;
            }
        }
        .btn-container-in{
            margin-top: 25px;
        }
      
    }
   .btn-modal{
        margin:0px;
        padding: 1px 15px;
    }
    .btn-modal-no{
        margin:0px;
        padding: 1px 15px;
        margin-right: 10px;
    }
    .normal-popup{
        display: none;
    }
    &.modal-dialog{
        width: 400px;
        &.extra-popup{
            width: 645px;
        }
    }

    &.confirm-popup{
        .new-popup-feature{
            .modal-header{
                .modal-title{
                    color: #98AA3A;
                }
                .error-icon-in{
                    background-color: #98AA3A;
                    .suss-im{
                        display: inline-block;
                    }
                    .error-im{
                        display: none
                    }
                }
            }
        }

    }
    &.nobtnIn{
        .btn-container-in{
            display: none;
        }
    }
}

.error-popup-design.extra-popup .new-popup-feature .modal-body{
padding-left: 16px;
}



.bigger-popup.modal-dialog{
    width: 80%;
    max-width: 80%;
    .modal-header{
        position: relative;
        border-bottom: 0px;
        .buttonclse{
            position: absolute;
            right: 20px;
            top: 18px;
            padding: 0px;
        }
    }
}