.risk-accordion-sec{
    margin-top: 20px;
    .accordion{
        padding-bottom: 0px;
    }
    .btn.btn-link.btn-block{
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
        left: 0;
        top: -22px;
        padding-left: 12px;
        padding-right: 15px;
    }

    .bg-gray{
        background-color: @infoBox-Bg;
    }
    .textportion{
        padding: 0px 10px 0px 3px;
        background-color: @white;
        float: left;
        font-size: @secondary_font;
        color: @text_gray;
    }
    .imgportion{
        padding: 3px 0px 0px 3px;
        float: right; 
    }
    .card-header{
        border-bottom: 0px;
    }
    .information-list{
        padding-left: 0px;
        margin: 0px;
        width: 100%;
        float: left;
        list-style: none;
        li{
            float: left;
            padding-right: 28px;
            padding-top: 10px;
        }
    }
    .card-body{
        padding: 0px;
    }
    .section-inside{
        padding: 0px 15px;
        padding-bottom: 15px;
        .wd-60 {
            width: 60%;
            display: inline-block;
            float: none;
            vertical-align: middle;
        }
        .wd-40 {
            width: 40%;
            float: none;
            padding-left: 34px;
            vertical-align: middle;
            display: inline-block;
            h4 {
                font-size: 12px;
                font-weight: 600;
                color: #494949;
                margin: 0px;
                margin-top: -15px;
            }
            .information-list {
                padding-left: 0px;
            }
        }
    }
    .btn-infom{
        padding: 4px 10px;
        font-size: @font_10;
        float: right;
        margin-left: 10px;
        &.yes{
            background-color: @green;
            border: 1px solid @green;
            color: @white;
        }
        &.very-low{
            background-color:#fc0;
            border: 1px solid #fc0;
            color: @white;
        }
        &.no{
            background-color: #d9d9d9;
            border: 1px solid #d9d9d9;
            color:@white;
        }
        &.date{
            background-color: @white;
            color: @primary_color;
            border: 1px solid @primary_color;
        }
    }
    .text-list{
        font-size: @font_12;
        color: @floter-grey;
    }
    .form-control.potential-text{
        height: 55px;
    }
.label{
    margin: 0 0 3px;
    padding: 0;
    width: 100%;
    color: @font_grey;
    font-weight: 600;
    font-size: 12px;
}
.list-of-uploads{
    width: 100%;
    float: left;
    padding-right: 0px;
    .uploadList{
        background-color: @white;
        border-radius: 2.75px;
        border: 1px solid @form-close-bg;
        width: 100%;
        height: 100px;  
        overflow: hidden; 
        padding: 7px 10px;
        overflow-y: visible;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            width: 100%;
            float: left;
            li{
                width: 100%;
                float: left;
                position: relative;
                padding-left: 10px;
                font-size: @font_10;
                color: @floter-grey;
                margin-bottom: 5px;
                .iconimg{
                    position: absolute;
                    left: 0;
                    top: 0;
                    img{
                        width: 6px;
                    }
                }
            }
        }
    }
}
.addnew-sec{
    background-color: @white;
    border: 1px dashed @form-close-bg;
    width: 72px;
    height: 55px;
    float: left;
    img{
        width: 20px;
    }
    .addnew{
        font-size: @font_13;
        font-weight: @semibold;
        color: @gray-text;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .centerin{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        height: 100%;
        
        .uploadsc{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}
.bt-5{
    margin-bottom: 5px;
}
.toggle-opt{
    margin-top: 17px;
    .control-Audit-switch{
        .left-text{
            font-size: 12px;
            font-weight: 600;
            color: @floter-grey;
        }
        .right-text{
            font-size: 12px;
            font-weight: 600;
            color: @floter-grey; 
        }
    }
}
.half-sec{
    width: 50%;
    float: right;
}
.selectbox{
    width: 79px;
    height: 24px;
    float: left;
}
.select-tag{
    margin-top: 23px;
    select{
        option.orange{
            background-color: @orange;
            color: @white;
        }
        option.yellow{
            background-color: @yellow;
            color: @white;
        }
        option.green{
            background-color: @green;
            color: @white;
        }
        &.green{
            border-color: @green;
            color: @green;  
        }
        &.yellow{
            border-color: @yellow;
            color: @yellow;  
        }
        &.green{
            border-color: @green;
            color: @green;  
        }
    }
}
.nexttoinput{
    width: calc(~"100% - 79px");
    float: left;
    text-align: right;
    padding-right: 15px;
    font-size: 12px;
    color: @floter-grey;
    margin-top: 6px;
}
.right-disabled{
    text-align: right;
    .switch{
        margin-right: 0px;
        border-color: #d9d9d9;
    }
    .toggle-opt{
        padding-right: 0px;
        .slider-switch-btn{
            background-color: #d9d9d9;
            border-color: #d9d9d9;
        }
        input:checked+.slider-switch-btn{
            background-color: @green;
        }
    }
}
.controllb{
    font-size: 12px;
font-weight: 600;
color: @floter-grey;
margin-bottom: 0px;
float: left;
width: 100%;
}

.popovercontent{
    width: 220px;
    position: absolute;
    right: -230px;
    top: -5px;
    z-index: 50;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    display: none;
    h4{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    p{
        font-size: 10px;
        margin-bottom: 5px;
    }
    a{
        color: @anchor_blue;
        text-decoration: underline;
        float: right;
        font-size: 10px;
    }
    &:before{
        content: "";
        position: absolute;
        left: -10px;
        top: 3px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 10px solid #cbcbcb;
        border-bottom: 8px solid transparent;
    }

    &:after{
        content: "";
        position: absolute;
        left: -9px;
        top: 3px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 10px solid @white;
        border-bottom: 8px solid transparent;
    }
}
.hoverbox{
    cursor: pointer;
    &:hover{
        .popovercontent{
         display: block;
        }  
    }
}
.form-group{
    .potential-text.control-testong-obj{
        height: 97px;
        font-size: 10px;
    }
}


.onlylist{
    .list-of-uploads{
        width: 100%;
        padding-right: 0px;
    }
}
.seperate-container{
    border: 1px solid #cbcbcb;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 2.75px;
}
.questions.newform-questions{
    .onoffswitch-inner:before{
        content: "";
    }
    .onoffswitch-inner:after{
        content: "";
        background-color: #d9d9d9;
    }
    .onoffswitch-switch{
        border: 1px solid #b7b7b7;
        background-color: #ffffff;
    }
    .onoffswitch-label{
        border-color: transparent;
    }
}
.questionsec{
    margin-top: 15px;
}
.rangesec{
    margin-top: 15px;
    margin-bottom: 25px;
}
.form-group{
    .form-control.commentsec{
        height: 75px;
    }
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;
    color: #494949;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 12px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmarkInner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 11px;
    width: 11px;
    background-color: #ffffff;
    border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */


/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmarkInner:after {
    content: url("../img/tik.svg");
    position: absolute;
    display: none;
    top: 0px;
    left: 0;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmarkInner:after {
    display: block;
}
.container-checkbox input:checked ~ .checkmarkInner:before {
    display: none;
}

/* Style the checkmark/indicator */


}
.button-container.btnright{
    .saveBt{
        float: right;
    }

}

.new-risk-assessment-form {
    .accordion-sec {
        .list-of-uploads {
            width: 100%;
            .uploadList {
                &.ht-160 {
                    height:160px;
                }
                &.ht-85 {
                    height:85px;
                }
            }
        }
    }
}
.select-list-status {
    .nexttoinput {
        width: auto !important;
    }
    .report-status-box {
        .selectbox {
            width: 100% !important;
            padding: 6px 2px;
            display: table;
            background: #fff;
            border-top: 1px solid #cbcbcb;
            border-bottom: 1px solid #cbcbcb;
        }
        .even-block {
            .selectbox {
                background-color: #f6f6f6;
                border-top: 0px;
            }
            .group-btn-block {
                border-bottom: 1px solid #cbcbcb;
            }
        }
    } 
    .selectbox {
        width: 160px !important;
    }
    option {
        color:#fff;
    }
    .form-control {
        &.very-low-color {
            background-color: transparent;
            border-color: #cbd49c;
            color: #cbd49c;
        }
        &.low-color {
            background-color: transparent;
            border-color: #92a435;
            color: #92a435;
        }
        &.medium-color {
            background-color: transparent;
            border-color: #ffcc00;
            color: #ffcc00;
        }
        &.high-color {
            background-color: transparent;
            border-color: #f37c4f;
            color: #f37c4f;
        }
        &.very-high-color {
            background-color: transparent;
            border-color: #dd6838;
            color: #dd6838;
        }
    }
    .very-low-color {
        background-color: #cbd49c;
    }
    .low-color {
        background-color: #92a435;
    }
    .medium-color {
        background-color: #ffcc00;
    }
    .high-color {
        background-color: #f37c4f;
    }
    .very-high-color {
        background-color: #dd6838;
    }
}
.height-112 {
    .angular-editor {
        .angular-editor-wrapper {
            .angular-editor-textarea {
                height: 110px !important;
            }
        }
    }
}
.report-status-box {
    margin-top:25px;
    margin-bottom: 10px;
    .col {
        float:left;
        .select-list-status {
            .selectbox {
                padding: 5px;
            }
        }
    }
    .selectbox {
        .form-group {
            margin-bottom:0px;
            select {
                height: 20px;
                font-size: 10px;
                padding-left: 0 !important;
                background-position: right 2px center;
                padding-right: 12px!important;
                padding-left: 6px!important;
                background-repeat: no-repeat;
                background-size: 10px;
            }
        }
    }
    .report-status-details {
        padding-right: 2px;
        margin: 0px;
        &.occurrence-box {
            .status-review {
                border-left:1px solid #cbcbcb;
            }
        }
        &.final-result-box {
            border: 1px solid #9a9a9a;
            background: #fff;
            border-radius: 4px;
            display: inline-block;
            .report-status-tab {
                border: 0px;
                .status-head {
                    background: transparent;
                    height: 55px;
                    font-size: 12px;
                    font-weight: 700;
                    color: #494949;
                }
            }
            .status-review {
                .risk-name-report {
                    border: 0px;
                    font-weight: 400;
                }
                .group-btn-block {
                    border: 0;
                    padding: 0 5px;
                    .btn-infom {
                        height: 25px;
                    }
                }
            }
            &.final-number-result-box {
                .report-status-tab {
                    height: 58px;
                    .status-head {
                        padding: 8px 2px;
                        line-height: normal;
                    }
                }
                .status-review {
                    .group-btn-block {
                        padding-top: 5.5px;
                        padding-bottom: 5.5px;
                        text-align: center;
                        .btn-infom {
                            height: 20px;
                            width: 32px;
                            float: none;
                            font-size: 12px;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
        &.impact-result-box {
            padding-left: 2px;
            padding-right: 0;
            .status-review {
                border:1px solid #cbcbcb;
                border-top:0px solid #cbcbcb;
                &.even-block {
                    background-color: #f6f6f6;
                }
                .impact-quantity-result {
                    text-align: center;
                    padding: 5.5px 2px;
                    .form-control {
                        text-align: center;
                        line-height: normal;
                        display: inline-block;
                        margin: 0;
                        width: 40px;
                        height: 20px;
                        padding: 2px;
                        font-size: 12px;
                        &.positive-value {
                            border-color: #745daa;
                            color: #745daa;
                        }
                        &.negative-value {
                            border-color: #f37c4f;
                            color: #f37c4f;
                        }
                    }
                }
            }
        }
        .group-btn-block {
            padding: 7px 6px;
            border-left: 1px solid #cbcbcb;
            border-right: 1px solid #cbcbcb;
            border-radius: 0;
            background-color: @white;
            &.number-result-block {
                padding-top: 5.5px;
                padding-bottom: 5.5px;
            }
            .btn-infom {
                height: 20px;
                padding-top: 2px;
                padding-bottom: 2px;
                width: 100%;
                margin: 0px;
                color: @white;
                padding-left: 0;
                border: 0;
                padding-right: 0;
                box-shadow: none;
                &.very-low-color {
                    background-color: #cbd49c;
                }
                &.low-color {
                    background-color: #92a435;
                }
                &.medium-color {
                    background-color: #ffcc00;
                }
                &.high-color {
                    background-color: #f37c4f;
                }
                &.very-high-color {
                    background-color: #dd6838;
                }
            }
            &.number-result-block {
                text-align: center;
                .btn-infom {
                    width: 32px;
                    float: none;
                    font-size: 12px;
                    border-radius: 0;
                }
            }
        }
    }
    .report-status-tab {
        border: 1px solid #9a9a9a;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        .col {
            border-right:1px solid #9a9a9a;
            text-align: center;
            font-size: 12px;
            color: #494949;
            padding-top: 4px;
            padding-bottom: 4px;
            &.status-head {
                background: #9a9a9a;
                text-align: center;
                color: #fff;
                font-size: 12px;
                padding: 6px 2px;
                font-weight: 700;
                border-right:0px;
            }
            &.status-overall {
                background-color: #745daa;
                color: #fff;
                border-right: 0px;
            }
        }
        
    }
    .status-review {
        // border:1px solid #cbcbcb;
        border-right-width: 0px;
        // &:first-child {
        //     .selectbox {
        //         border-top:1px solid #cbcbcb !important;
        //     }
        // }
        &.even-block {
            border-top: 0px;
            .risk-name-report {
                background-color: #f6f6f6;
                border-top:0px;
            }
            .number-status-block {
                background-color: #f6f6f6;
            }
        }
        .risk-name-report {
            padding: 7px 5px;
            font-size: 12px;
            font-weight: 700;
            color: #494949;
            background-color: @white;
            border: 1px solid #cbcbcb;
            border-right-width: 0px
        }
    }
}
.btn-infom {
    &.btn-small {
        padding-top:2px;
        padding-bottom:2px;
    }
    &.btn-blue {
        background-color: #5a4296;
        color: @white;
    }
    &.btn-very-low {
        background-color: #cbd49c;
        color: @white;
    }
    &.btn-low {
        background-color: #92a435;
        color: @white;
    }
    &.btn-medium {
        background-color: #ffcc00;
        color: @white;
    }
    &.btn-high {
        background-color: #f37c4f;
        color: @white;
    }
    &.btn-very-high {
        background-color: #dd6838;
        color: @white;
    }
}
.even-block {
    .number-status-block {
        border-top: 0px;
    }
}
.number-status-block {
    text-align: center;
    padding: 5.5px 2px;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}
.plus-minus-block {   
    display: inline-block;
    width: auto;
    .input-block-position {
        position: relative;
    }
        .form-control {
            width: 40px;
            height: 20px;
            padding: 2px 4px;
            padding-right: 15px;
            text-align: left;
            border-radius: 2px;
            font-size: 12px;
            margin:0px;
            display: inline-block;
            border-color: #5c5d60;
            &.very-low-quantity {
                border-color: #cbd49c;
                color: #cbd49c;
            }
            &.low-quantity {
                border-color: #92a435;
                color: #92a435;
            }
            &.medium-quantity {
                border-color: #ffcc00;
                color: #ffcc00;
            }
            &.high-quantity {
                border-color: #f37c4f;
                color: #f37c4f;
            }
            &.very-high-quantity {
                border-color: #dd6838;
                color: #dd6838;
            }
          }
          .input-group-append {
            position: absolute;
            width: 15px;
            height: 17px;
            right: 1px;
            top: auto;
            bottom: 2px;
            display: inline-block;
            background-color: #f5f5f5;
            border-left:1px solid #cbcbcb;
            .btn-plus, .btn-minus {
                padding: 0;
                border-radius: 0;
                display: inline-block;
                line-height: 6px;
                height: 9px;
                 width: 100%;
                 display: block;
                font-size: 10px;
                padding: 0px;
                margin:0px;
                border: 0px;
                box-shadow: none;
                background-color: transparent;
                color:#494949;
            }
            .btn-plus {
                border-bottom: 1px solid #cbcbcb;
                line-height: 5px;
            }
            .btn-minus {
                border-top: 0;
                 height: 9px;
            }
          }
          .form-control[type="number"]::-webkit-inner-spin-button,
          .form-control[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
      
}
