.accordion-sec{
    margin-top: 20px;
    .accordion{
        padding-bottom: 0px;
    }
    .btn.btn-link.btn-block{
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
        left: 0;
        top: -22px;
        padding-left: 12px;
        padding-right: 15px;
    }

    .bg-gray{
        background-color: @infoBox-Bg;
    }
    .textportion{
        padding: 0px 10px 0px 3px;
        background-color: @white;
        float: left;
        font-size: @secondary_font;
        color: @text_gray;
    }
    .imgportion{
        padding: 3px 0px 0px 3px;
        float: right; 
    }
    .card-header{
        border-bottom: 0px;
    }
    .information-list{
        padding-left: 0px;
        margin: 0px;
        width: 100%;
        float: left;
        list-style: none;
        li{
            float: left;
            padding-right: 28px;
            padding-top: 10px;
        }
    }
    .card-body{
        padding: 0px;
    }
    .section-inside{
        padding: 0px 15px;
        padding-bottom: 15px;
    }
    .btn-infom{
        padding: 4px 10px;
        font-size: @font_10;
        float: right;
        margin-left: 10px;
        &.yes{
            background-color: @green;
            border: 1px solid @green;
            color: @white;
        }
        &.no{
            background-color: #d9d9d9;
            border: 1px solid #d9d9d9;
            color:@white;
        }
        &.date{
            background-color: @white;
            color: @primary_color;
            border: 1px solid @primary_color;
      
        }
    
    }

   .green-date{
        background-color: transparent;
    color: @green;
    border: 1px solid @green;
    padding: 0px 10px;
    font-weight: @semibold;
    font-size: @font_10;
    margin-left: 5px;
    }
    .text-list{
        font-size: @font_12;
        color: @floter-grey;
    }
    .form-control.potential-text{
        height: 55px;
        &.commentsecexe{
            height: 92px;
        }
    }
.label{
    margin: 0 0 3px;
    padding: 0;
    width: 100%;
    color: @font_grey;
    font-weight: 600;
    font-size: 12px;
}
.list-of-uploads{
    width: calc(~"100% - 72px");
    float: left;
    padding-right: 10px;
    .uploadList{
        background-color: @white;
        border-radius: 2.75px;
        border: 1px solid @form-close-bg;
        width: 100%;
        height: 55px;  
        overflow: hidden; 
        padding: 7px 10px;
        overflow-y: visible;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            width: 100%;
            float: left;
            li{
                width: 100%;
                float: left;
                position: relative;
                padding-left: 10px;
                font-size: @font_10;
                color: @floter-grey;
                margin-bottom: 5px;
                .iconimg{
                    position: absolute;
                    left: 0;
                    top: 0;
                    img{
                        width: 6px;
                    }
                }
            }
        }
    }
}
.addnew-sec{
    background-color: @white;
    border: 1px dashed @form-close-bg;
    width: 72px;
    height: 55px;
    float: left;
    img{
        width: 20px;
    }
    .addnew{
        font-size: @font_13;
        font-weight: @semibold;
        color: @gray-text;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .centerin{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        height: 100%;
        
        .uploadsc{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}
.bt-5{
    margin-bottom: 5px;
}
.toggle-opt{
    margin-top: 17px;
    .control-Audit-switch{
        .left-text{
            font-size: 12px;
            font-weight: 600;
            color: @floter-grey;
        }
        .right-text{
            font-size: 12px;
            font-weight: 600;
            color: @floter-grey; 
        }
    }
}
.half-sec{
    width: 50%;
    float: left;
}
.selectbox{
    width: 79px;
    height: 24px;
    float: left;
}
.select-tag{
    margin-top: 23px;
    select{
        option.orange{
            background-color: @orange;
            color: @white;
        }
        option.yellow{
            background-color: @yellow;
            color: @white;
        }
        option.green{
            background-color: @green;
            color: @white;
        }
        &.green{
            border-color: @green;
            color: @green;  
        }
        &.yellow{
            border-color: @yellow;
            color: @yellow;  
        }
        &.green{
            border-color: @green;
            color: @green;  
        }
    }
}
.nexttoinput{
    width: calc(~"100% - 79px");
    float: left;
    text-align: right;
    padding-right: 15px;
    font-size: 12px;
    color: @floter-grey;
    margin-top: 6px;
}
.right-disabled{
    text-align: right;
    .switch{
        margin-right: 0px;
        border-color: #d9d9d9;
    }
    .toggle-opt{
        padding-right: 0px;
        .slider-switch-btn{
            background-color: #d9d9d9;
            border-color: #d9d9d9;
        }
        input:checked+.slider-switch-btn{
            background-color: @green;
        }
    }
}
.controllb{
    font-size: 12px;
font-weight: 600;
color: @floter-grey;
margin-bottom: 0px;
float: left;
width: 100%;
}

.popovercontent{
    width: 220px;
    position: absolute;
    right: -230px;
    top: -5px;
    z-index: 50;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    display: none;
    h4{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    p{
        font-size: 10px;
        margin-bottom: 5px;
    }
    a{
        color: @anchor_blue;
        text-decoration: underline;
        float: right;
        font-size: 10px;
    }
    &:before{
        content: "";
        position: absolute;
        left: -10px;
        top: 3px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 10px solid #cbcbcb;
        border-bottom: 8px solid transparent;
    }

    &:after{
        content: "";
        position: absolute;
        left: -9px;
        top: 3px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 10px solid @white;
        border-bottom: 8px solid transparent;
    }
}
.hoverbox{
    cursor: pointer;
    &:hover{
        .popovercontent{
         display: block;
        }  
    }
}
.form-group{
    .potential-text.control-testong-obj{
        height: 97px;
        font-size: 10px;
    }
}


.onlylist{
    .list-of-uploads{
        width: 100%;
        padding-right: 0px;
    }
}
.seperate-container{
    border: 1px solid #cbcbcb;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 2.75px;
}
.questions.newform-questions{
    .onoffswitch-inner:before{
        content: "";
    }
    .onoffswitch-inner:after{
        content: "";
        background-color: #d9d9d9;
    }
    .onoffswitch-switch{
        border: 1px solid #b7b7b7;
        background-color: #ffffff;
    }
    .onoffswitch-label{
        border-color: transparent;
    }
}
.questionsec{
    margin-top: 15px;
}
.rangesec{
    margin-top: 15px;
    margin-bottom: 25px;
}
.form-group{
    .form-control.commentsec{
        height: 75px;
    }
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;
    color: #494949;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 12px;
    font-weight: @semibold;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmarkInner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 11px;
    width: 11px;
    background-color: #ffffff;
    border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */


/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmarkInner:after {
    content: url("../img/tik.svg");
    position: absolute;
    display: none;
    top: 0px;
    left: 0;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmarkInner:after {
    display: block;
}
.container-checkbox input:checked ~ .checkmarkInner:before {
    display: none;
}

.control-exe-ul{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    li{
        width: 45%;
        float: left;
        .text-speace{
            min-width: 80px;
            float: left;
            font-size: @font_12;
            color: @floter-grey;
            font-weight: @regular;
            &.two{
                min-width: 90px;
            }
        }
        .text-details{
            float: left;
            padding-left: 10px;
            font-size: @font_12;
            color: @floter-grey; 
            font-weight: @bold;
        }
    }
}
.first-one{
    margin-bottom: 15px;
}
.question-tag{
    .greenin{
        color: @green;
        padding-left: 10px;
        font-weight: @bold;
    }
}
.new-sec{
    margin-bottom: 10px;
}

}
.button-container.btnright{
    .saveBt{
        float: right;
    }

}