@media print {
    .sidebar-container{
        display: none;
    }
    .pop-up-form .close-form{
        display: none;
    }
    .pop-up-form{
        width: 100%;
        transform: none !important;
    }
    a{
        text-decoration: none;
    }


 }

 @media print, screen and (max-width: 991px){
    .pop-up-form{
        width: 100%;
    }
}