@media only screen and (min-width: 1200px) {
    .table-responsive {
        .dataTables_scroll {
            .dataTables_scrollBody {
                overflow-x: hidden !important;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
.pop-up-form {
    top: 30px;
    right: 0;
    width: 100%;
    height: 92vh;
}

.pop-up-form .scroll-container {
    height: 73%;
}

.pop-up-form .close-form {
    left: auto;
    right: 0;
    top: -33px;
}


.catalog {
    margin: 10px 0 0 0;
    width: 100%;
}

.pop-up-form .half-tab {
    width: 100%;
    padding-right: 0px;
}

.pop-up-form .half-tab.secound {
    padding-left: 0px;
    padding-right: 0px;
}

.big-button {
    padding: 6px 12px;
    font-size: 10px;
    margin-bottom: 5px;
}

.overflow-auto {
    overflow: auto !important;
}

.pop-up-form .three-share {
    width: 100%;
    float: left;
    padding: 0 15px;
}

.tab-block ul.nav-tabs li a {
    font-size: 14px;
    padding: 7px;
}

.pop-up-form .tab-section-container .tabContent-box .report-ul li {
    // width: 100%;
    &:last-child {
        padding-right: 0px;
    }
}

.mob-static {
    position: static;
}

.tab-block ul.nav-tabs li {
    min-width: 75px;
}


.pop-up-form .from-heading-box h4 {
    font-size: 16px;
    margin: 5px 0;
}

.pop-up-form .from-heading-box .r-number .text-design {
    font-size: 14px;
}

.pop-up-form .from-heading-box .r-number {
    padding: 2px 20px;
}

.pop-up-form .icons-in ul li a {
    padding: 5px 7px;
}

.duplicate-btn-form .dupIco img {
    width: 12px;
}

.catalog li {
    margin: 0 5px 0 0;
}

.catalog li b {
    width: 17px;
    height: 17px;
    font-size: 8px;
    line-height: 17px;
}

.catalog li p {
    font-size: 9px;
    line-height: 17px;
}

.role-box .assignees {
    margin: 10px 0;
    width: 100%;
}

.role-box .duration {
    width: 100%;
}

.action-buttons .add-step {
    font-size: 12px;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.action-buttons .save {
    font-size: 12px;
    width: 75px;
    height: 30px;
    line-height: 30px;
}

.role-box .excution-details li span {
    min-width: 75px;
    font-size: 10px;
}

.pop-up-form .checkbox-container {
    width: 50%;
    margin-bottom: 5px;
}

.buttons-question {
    width: 100%;
    float: left;
}

.division-3 {
    width: 100%;
}

.division-4 {
    width: 100%;
}

.question-sec {
    width: 100%;
    margin-bottom: 5px;
}

.onoffswitch-label {
    margin-bottom: 15px;
}


.author-schedule-details .schedule-right {
    width: 100%;
    margin-top: 10px;
}

.role-box .excution-details li p {
    width: 100%;
    margin: 3px 0;
}

.role-box .budget-details li b {
    width: 100%;
}

.role-box .budget-details li p {
    width: 100%;
}

.role-box .budget-details li article {
    width: 100%;
}




}












// Global

.autocomplete-container .input-container .x i {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 0;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto !important;
    background-color: #664da0 !important;
    color: #fff !important;
    border: 1px solid #707070 !important;
    box-shadow: 0 0 5px #707070 !important;
    text-align: center;
    border-radius: 6px;
    padding: 3px 15px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 0;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    &.doble-word {
        min-width: 100px;
    }

    &.triple-word {
        min-width: 130px;
    }

    &.four-word {
        min-width: 150px;
    }


  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



  .editablevalus {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    width: 20px;
    display: inline-block;
    color: #664da0;
    font-size: 12px;
    font-weight: 700;

    &.wd-40 {
        width: 40%;
    }

    &::-webkit-input-placeholder { /* Edge */
        color: #664da0 !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        opacity: 1 !important;
      }
      
      &:-ms-input-placeholder { /* Internet Explorer */
        color: #664da0 !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        opacity: 1 !important;
      }
      
      &::placeholder {
        color: #664da0 !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        opacity: 1 !important;
      }


  }

  

//   New current responsive 


@media only screen and (max-width: 767px) {

    .list-audit-new li {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    .select-button {
        position: relative;
    }

    .role-box .assignees.asini {
        width: 60%;
    }

}