.author-schedule-details {
    h6 {
        font-size:@font_12;
        font-weight: @semibold;
    }
    h4 {
        font-size:@font_18;
        font-weight: @semibold;
        span {
            font-size: 14px;
        }
    }
    .schedule-right {
        width: auto;
    }
}
.risk-result-block {
    .grey-box {
        background-color: rgba(157,157,157,0.051);
        margin-top: 15px;
        display: inline-block;
        width: 100%;
    }
    h2 {
        font-size: @common_size;
        color: @primary_color;
        font-weight: @bold;
    }
    p {
        text-align: center;
        font-size: 13px;
        margin-bottom: 2px;
    }
    .btn {
        line-height: normal;
        padding: 4px 10px;
        border: 0;
        color: @white;
        &:hover {
            color: @white;
        }
        &.orange-color {
            background-color: @orange;
            &:active {
                background-color: @orange;    
            }
        }
        &.yellow-color {
            background-color: @yellow;
            &:active {
                background-color: @yellow;    
            }
        }
    }
    .left-block {
        border-right: 1px solid #cbcbcb;
    }
    .right-block {
        height: 100%;
        padding: 15px 0;
        p:first-child {
            margin-bottom: 20px;
        }
    }
    .separator-line {
        border-bottom: 1px solid #cbcbcb;
        
    }
    .risk-block-details {
        .float-left {
            padding-top: 15px;
            padding-bottom: 12px;
            height: 100%;
        }
        .box-title {
            border-right: 1px solid #cbcbcb;
            padding-top: 30px;
            padding-bottom: 30px;
        }
       
    }
}
.audit-issue-table {
    td {
        padding-left: 2px;
        padding-right: 2px;
        &:first-child {
            padding-right: 6px;
        }
        .issue-number {
            color: @primary_color;
            font-weight: @bold;
        }
    }
    .btn {
        font-size: 10px;
        border-radius:2px;
        border-width: 1px;
        border-style: solid;
        line-height: normal;
        padding:0px 4px;
        font-weight: @semibold;
        &.completed-btn {
            border-color:@green;
            color: @green;
        }
        &.inprogress-btn {
            border-color:@yellow;
            color: @yellow;
        }
    }
}
.previous-audit-block {
    width: 100%;
    margin-top: 15px;
    display: inline-grid;
    .duplicate-checkbox {
        width: 100%;
    text-align: right;
    margin-bottom: 10px;
    span {
        margin-right: 5px;
    }
    .check-container {
        float: right;
    }
    }
    .card-body {
        h4 {
            font-size: @font_18;
            color: @primary_color;
            font-weight: @bold;
        }
    }
}
// .search-select {
//     padding-left: 20px !important;
//     position: relative;
//     &:before {
//         position: absolute;
//         content: '';
//         background: url(../img/search_icon.svg) no-repeat;
//         width: 11px;
//         height: 11px;
//         top: 10px;
//         left: 12px;
//     }
// }