.tab-block {
    ul.nav-tabs {
        border:0px;
        display: inline-flex;
        li {
            min-width: 90px;
            a {
                font-size:18px;
                color:  #6d6d6d;
                border: 0;
                border-bottom: 1px solid #cbcbcb;
                position: relative;
                &:hover {
                    border: 0px;
                    border-bottom: 1px solid #cbcbcb;
                    color:  #745daa;
                }
                &.active {
                    color: #745daa;
                    font-weight: 700;
                    border-bottom: 0px solid #745daa;
                    &:before {
                        content: "";
                        background: #745daa;
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
            &:first-child{
                a{
                    padding-left: 0px;
                }
            }
        }
    }
    .tab-inside{
        .tab-small{
            ul.nav-tabs{
                li{
                    a{
                        font-size: @common_size;
                    }
                    &:first-child{
                        a{
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
}
.tab-arrow {
    position: absolute;
    right: 2px;
    top: 14px;
    font-size: 12px;
    width: 15px;
    background-size: 15px;
    height: 16px;
    background-repeat: no-repeat;
    
    &.tab-arrow-left {
        background-image: url(../img/right.png);
        left:2px;
        right: auto;
        transform: rotate(180deg);
    }
    &.tab-arrow-right {
        background-image: url(../img/right.png);
        left: auto;
        right: 2px;
    } 
  
  
}
.scrtabs-tabs-movable-container {
    .nav-tabs {
        display: inline-block;
         width: max-content;
        li {
            &:first-child {
                a {
                    padding-left: 20px !important;
                }
            }
            a {
                padding: 10px 20px;
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.scrtabs-tab-container {
    width: 65%;
    position: relative;
    .scrtabs-tab-scroll-arrow {
        position: relative;
    }
}
