
@media screen and (min-width:992px) and (max-width:1024px) {
    table {
        &.dataTable {
            &.table-md-responsive {
                th {
                    &.dt-body-center {
                        padding-left: 30px;
                    }
                }
            }
        }
    } 
}
@media screen and (min-width:768px) and (max-width:990px) {
    table {
        &.dataTable {
            &.table-sm-space-20 {
                th {
                    &.dt-body-center {
                        padding-left: 20px;
                        padding-right: 20px !important;
                    }
                }
            }
        }
    } 

}
@media screen and (max-width:1024px) {
    table.dataTable  {
        tbody {
            td {
                //padding-right: 8px;
                &.child {
                    padding-left: 0px;
                    padding-right: 0px;
                    .dtr-details {
                        width: 100%; 
                        li {
                            display: block;
                            width: 100%;
                            span.dtr-title {
                                width: 12%;
                                float: left;
                            }
                            span.dtr-data {
                                display: inline-block;
                            }
                            span.dtr-data {
                                .userImgTb {
                                    &.assignee-block {
                                        li {
                                            width: auto;
                                        }
                                    }
                                } 
                            }
                        }
                        .read-more {
                            &.tooltip{
                                display: block;
                                .read-more-text {
                                    overflow: auto;
                                    text-overflow: initial;
                                    display: inline-block;
                                    line-height: normal;
                                    max-height: initial;
                                    word-break: break-word;
                                    -webkit-line-clamp: initial;
                                    -webkit-box-orient: initial;
                                }
                                .tooltiptext {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .table-responsive {
        &.dashboard-responsive {
            .dataTables_scroll {
                padding-top: 0px;
            }
            .dataTables_wrapper {
                table.dataTable {
                    thead {
                        .sorting {
                            background-position: center right 4px;
                        }
                    }
                } 
                .dataTables_info {
                    float: right;
                }
                .dataTables_length {
                    bottom:34px;
                }
            }
        }
    }
}
@media screen and (max-width:991px) {
    table.dataTable {
        thead {
            th {
                &.dt-body-center {
                    padding-left: 30px;
                }
            }
        } 
    }
    table {
        &.dataTable {
           
                &.child-tile-w20 {
                    tbody {
                        td.child {
                            .dtr-details li span.dtr-title {
                                width: 20%;
                            }
                        } 
                    } 
                }
            
            &.table-sm-no-button {
                th {
                    &.dt-body-center {
                        padding-left: 8px;
                    }
                }
            }
        }
    } 
    .table-responsive {
    &.dashboard-responsive {
        .dataTables_wrapper {
            .dataTables_info {
                float: none;
                display: inline-block;
            }
            .dataTables_length {
                bottom: 11px;
            }
        }
    }
}
    .multiple-search {
        .table-select-search {
            label {
                margin-right: 0px;
            }
            select {
                margin-left: 6px;
            }
        }
    }
    #controlWorkFlowRCM_wrapper .dt-buttons .buttons-collection {
        top: -38px;
    }
}
@media screen and (max-width:767px) {
    table.dataTable {
        tbody {
            td.child {
                .dtr-details {
                    li {
                        span.dtr-title {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
    .table-responsive {
        .dataTables_wrapper {
            .dataTables_length {
                bottom: 40px;
            }
        }
    } 
    
    .dataTables_scrollHead {
        table.dataTable  {
        thead {
            th {
                //padding-right: 8px;
                // &.action-block {
                //     display:block !important;
                //     width: auto !important;
                // }
                &:first-child {
                    padding-left: 30px;
                }
            }
        }
        &.table-dashboard {
            thead {
                th {
                    &:first-child {
                        padding-left: 8px;
                    } 
                }
            }
        }
    }
    }
    .filter-dropdown {
        display: none;
    }
    .multiple-search {
        .table-select-search {
            label {
                width: 100%;
            }
            select {
                margin-left: 5px;
                width: 23.7%;
              }
        } 
    } 
   .dataTables_wrapper {
    .dataTables_paginate {
        float: right;
    }
   }

   .table-header {
       &.table-xs-header {
           width: 100%;
       }
       &.rcm-table-header {
        .control-risk-switch, .icon-list {
            width: auto;
        }
       }
   }
   #controlWorkFlowRCM_wrapper .dt-buttons .buttons-collection {
       top: -38px;
   }
   .dataTables_wrapper {
    .dataTables_info {
        width: auto;
        display: inline-block;
        text-align: left;
        padding-top: 0.755em;
    }
   }
   .case-management-tab {
    .dt-buttons .buttons-collection {
        top: 23px;
    }
    #casemanagementTable_wrapper {
        .dt-buttons .buttons-collection {
            top: 16px;
        }
    }
}
.auditUniverse  {
    &.chart-xs-12 {
        width: 100%;
        height: auto;
    }
    }
.action-header {
    h4 {
        font-size:16px;
        &:before {
            left:auto;
            right:0px;
            // width: 30%;
        }
    }
    button {
        &.mr-3 {
            margin-right: 0px !important;
        }
    }

}

}

@media screen and (max-width: 479px) {
    .dataTables_wrapper {
        .dataTables_filter {
            width: 100%;
            label, input {
                width: 100%;
            }
        }
        .dataTables_info {
            padding-left: 0px;
            float: right;
        }
        .dataTables_length {
            bottom: 28px;
            select {
                margin-left: 2px;
                margin-right: 2px;
            }
        }
        .dataTables_scroll {
            padding-top: 46px;
        }
        &#controlWorkFlowRCM_wrapper {
            .dataTables_scroll {
                padding-top: 0px;
            }
            .dt-buttons {
                .buttons-collection {
                    top:-38px;
                }
            } 
        }
    } 
    .table-header {
        top: 65px;
        width: auto;
        .control-risk-switch {
            margin-top: 4px;
        }
        &.rcm-table-header {
            width: 100%;
            .icon-list {
                width: 50%;
            }
            .control-risk-switch {
                padding-right: 0px;
                padding-left: 0px;
                width: 50%;
                margin-bottom: 10px;
              }
        }
    }
    .dt-buttons {
        .buttons-collection {
            top:60px;
        }
    } 
    .multiple-search {
        .table-select-search {
            label {
                margin-right: 0px;
            }
            select {
                width: 100%;
                margin-left: 0px;
              }
        } 
    } 
    .table-responsive {
        &.dashboard-reponsive {
            height: 100% !important;
            max-height: 100% !important;
        }
    }
    .dataTables_scrollHead {
        table.dataTable  {
        &.table-dashboard {
            &.table-fixed {
                table-layout: auto;
                // width: auto !important;
            }
            // thead {
            //     th {
            //         &:first-child {
            //             padding-left: 30px;
            //         } 
            //     }
            // }
        }
    }
    }
    table.dataTable {
    &.child-tile-w20 {
        tbody {
            td.child {
                .dtr-details li span.dtr-title {
                    width: 48%
                }
            } 
        } 
    }
}
.case-management-tab {
.dataTables_wrapper #issueListCM_length.dataTables_length {
    bottom: 48px;
}
}
.case-management-tab {
    .dt-buttons .buttons-collection {
        top: 65px;
    }
    #casemanagementTable_wrapper {
        .dt-buttons .buttons-collection {
            top: 60px;
        }
    }
}

.action-header {
    h4 {
        &:before {
            width: 30%;
        }
    }
    h5 {
        font-size: 13px;
    }
    button {
        font-size: 12px;
        padding: 4px;
    }

}

}