<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span><img src="../../../../assets/img/close-icon.svg"></span>
    </button>
  </div>
  <div class="modal-body">   
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Day</label>
            <input
            class="form-control"
            type="text"
            bsDatepicker [(ngModel)]="response.day"
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
          />
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Time</label>
            <input
            class="form-control"
            type="text"
            [(ngModel)]="response.time"
          />
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Subject/Topic</label>
          <input
          class="form-control"
          type="text"
          [(ngModel)]="response.subject"
        />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Location</label>
          <input
          class="form-control"
          type="text"
          [(ngModel)]="response.location"
        />
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Present from Auditee</label>
        <input
        class="form-control"
        type="text"
        [(ngModel)]="response.pfa"
      />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Comment</label>
        <input
        class="form-control"
        type="text"
        [(ngModel)]="response.comment"
      />
      </div>
    </div>
</div>

    <div class="full-width text-center pb-3 pt-3">
      <button class="btn btn-modal" (click)="confirm(response, isInsert)">{{link}}</button>
      <button class="btn btn-modal-no" (click)="close()">{{action}}</button>
    </div>
  

  </div>

