<div class="audit-table-header no-padding">
  <div class="row multiple-search">
    <div class="col-sm-8 col-lg-8 table-select-search">
      <div class="row">
        <div class="form-group col-sm-5 col-lg-3 no-padding">
          <div class="full-width">
            <div class="search-select one">
              <select
                class="form-control wd-100"
                #myLocations
                (change)="changeLocation(myLocations.value)"
              >
                <option value="0">Location</option>
                <option *ngFor="let l of locations" [value]="l.id">
                  {{ l.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-5 col-lg-3 no-padding">
          <div class="search-select wd-100">
            <select
              class="form-control wd-100"
              #mySites
              (change)="changeSites(mySites.value)"
            >
              <option value="0">Site</option>
              <option *ngFor="let s of sites" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 table-icon-list float-right text-right">
      <div class="full-width">
        <a class="tooltip">
          <span class="tooltiptext triple-word">Add Active Audits</span>
          <img src="assets/img/add_button.svg" alt="Add" />
        </a>
        <a href="#" class="tooltip">
          <span class="tooltiptext">Print</span>
          <img src="assets/img/print_button.svg" alt="Print" />
        </a>
        <div class="dropdown export-dropdown">
          <a
            class="tooltip btn"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="tooltiptext">Export</span>
          </a>
          <div class="dropdown-menu export-dropdown-menu"></div>
        </div>
        <div class="filter-dropdown-column">
          <a class="tooltip m-0">
            <span class="tooltiptext">Customize Table</span>
            <img
              src="assets/img/settings.svg"
              alt="Customize Table"
              (click)="SettingActiveAudit($event)"
              class="click-icon"
            />
          </a>
          <div class="dropdown-menu-column" id="dropDown">
            <a
              class="dropdown-item-column activeAudits-hideshow"
              [attr.data-column]="i"
              *ngFor="
                let auditsListColumn of showHideHeadersActiveAudit;
                index as i
              "
              style="margin-left: 0px; cursor: pointer"
            >
              <label>
                <input
                  class="checkbox"
                  type="checkbox"
                  value="{{ auditsListColumn }}"
                  checked
                /><span class="filter-text">{{ auditsListColumn }}</span>
              </label>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <table
    id="activeAuditTable"
    class="display fullDataTable table-md-responsive"
    style="width: 100%"
  >
    <caption></caption>
    <thead>
      <tr>
        <th data-priority="1"></th>
        <th data-priority="2">
          <input
            type="checkbox"
            name="select_all"
            value="1"
            id="audit-audits-select-all"
          />
        </th>
        <th data-priority="3">Auditable Entity</th>
        <th>Scope</th>
        <th>Audit ID</th>
        <th>Audit Lead</th>
        <th>Location</th>
        <th>Risk Level</th>
        <th>Progress</th>
        <th>Rating</th>
        <th>Completed</th>
        <th class="text-center action-block">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of auditList; let i = index">
        <td id="">>{{ i + 1 }}</td>
        <td id="">></td>
        <td id="">>{{ response.auditableEntity | titlecase }}</td>
        <td id="">class="reorder-row">-</td>
        <td id="">class="reorder-row">{{ response.auditId }}</td>
        <td id="">class="reorder-row">-</td>
        <td id="">
          class="reorder-row">
          <div class="tooltips">
            {{ response.name }}
          </div>
        </td>
        <td id="">class="reorder-row">{{ response.riskLevel }}</td>
        <td id="">
          class="reorder-row">
          <div class="slidecontainer">
            <input
              type="range"
              min="1"
              max="100"
              [value]="response.auditProgress"
              [ngClass]="{
                medium: response.auditProgress > 67,
                'very-low':
                  response.auditProgress > 33 && response.auditProgress <= 66,
                'very-high':
                  response.auditProgress > 0 && response.auditProgress <= 32
              }"
              class="range-control {{response.auditProgress}"
              disabled
            />
          </div>
        </td>
        <td id="">class="reorder-row">--</td>

        <td id="">
          class="chk-align">
          <label class="checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </td>
        <td id="">
          class="align">
          <div class="dropdown show action-dropdown position-relative">
            <a
              class="btn dropdown-toggle"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <li>
                  <a class="delete-btn">
                    <img src="assets/img/delete_button.svg" alt="Delete" />
                    <span>Delete</span>
                  </a>
                </li>
                <li>
                  <a class="duplicate-btn">
                    <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                    <span>Duplicate</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
