// .year-button.medium {
//   background-color:  #97a849;
//   border: 1px solid #97a849;
// }

.year-button.very-low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.year-button.very-high {
  background-color: #de6441;
  border: 1px solid #de6441;
}

.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips img {
  width: 40px;
  border-radius: 50%;
}

.tooltips .tooltiptext {
  visibility: hidden;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  border-radius: 6px;
  padding: 4px 15px 7px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #dddddd;
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 0;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #dddddd transparent transparent;
  }
}

.tooltips:hover .tooltiptext {
  visibility: visible;
  left: 50px;
  opacity: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}

.chk-align {
  padding: 8px 0px;

  .checkbox {
    .checkmark {
      top: 50%;
      left: 40%;
      margin-top: -1px;
    }
  }
}

.audit-table-header {
  // padding: 25px 0px 10px;

  .icon-list {
    a {
      margin-left: 15px;
    }
  }
}

td {
  .impr {
    padding: 2px 5px;
    border: 1px solid #dd6838;
    color: #dd6838;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    line-height: initial;
  }
}
table.dataTable tbody td {
  line-height: initial;

  table.dataTable thead th {
    padding: 6px 4px;
  }
}

.range-control.very-low::-webkit-slider-thumb {
  box-shadow: -80px 0 0 80px #fc0;
}

.link {
  line-height: initial;
}

@media (max-width: 991px) {
  .table-select-search .form-group:first-child {
    padding-right: 0px;
    margin-right: 10px;
  }
  .table-select-search .form-group:last-child {
    padding-left: 0px;
  }
  // .table-select-search {
  //   margin-bottom: 10px;
  // }
  .table-icon-list {
    align-self: center;
  }
  .icon-list {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .table-select-search .form-group:last-child {
    padding-left: 8px;
    margin-right: 10px;
  }
}

.search-select.one {
  padding-left: 8px;
}
.align {
  text-align: center;
}
