<div class="container">
  <p>
    <!-- <button type="button" class="btn btn-outline-danger paddingMargin" value="pencil" id="pencil-button">Eraser</button> -->
    <button
      type="button"
      class="btn wb-btns paddingMargin"
      value="pencil"
      id="pencil-button"
    >
      <img src="../../../../../assets/img/pencil.svg" alt="pencil_icon" /> Pencil
    </button>
    <button
      type="button"
      class="btn wb-btns paddingMargin"
      value="rect"
      id="rect-button"
      style="width: 110px;padding: 2px 5px;"
    >
      <img src="../../../../../assets/img/Rectangle_995.svg" alt="rect_icon"/> Rectangle
    </button>
    <button
      type="button"
      class="btn wb-btns paddingMargin"
      value="circle"
      id="circle-button"
    >
      <img src="../../../../../assets/img/Rectangle_995_2.svg" alt="circle_icon"/> Circle
    </button>
    <button
      type="button"
      class="btn wb-btns paddingMargin"
      value="ellipse"
      id="ellipse-button"
    >
      <img src="../../../../../assets/img/Rectangle_995_3.svg" alt="ellipse_icon"/> Ellipse
    </button>
    <button
      type="button"
      class="btn wb-btns paddingMargin"
      value="line"
      id="line-button"
    >
      <img src="../../../../../assets/img/Line_57.svg" alt="line_icon"/> Line
    </button>
    <button
      type="button"
      class="btn wb-btns paddingMargin"
      value="text"
      id="text-button"
    >
      <img src="../../../../../assets/img/text1.svg" alt="text_icon"/> Text
    </button>
    <button
      type="button"
      class="btn wb-clearall-btns paddingMargin"
      id="clear-all"
    >
      Clear All
    </button>
    <button
      type="button"
      class="btn wb-download-btns paddingMargin"
      value="text"
      id="download-button"
    >
      Download
    </button>
  </p>
  <p>
    <label for="colour" style="float:left">Colour : </label>

    <span class="form-group paddingMargin" style="width: 130px;float:left">
      <select class="form-control" id="colour-picker">
        <option value="000000" selected>Black</option>
        <option value="ff0000 ">Red</option>
        <option value="10ff00">Green</option>
        <option value="002aff">Blue</option>
        <option value="ffe100">Yellow</option>
        <option value="ff8c00">Orange</option>
        <option value="ffffff">White</option>
      </select>
    </span>

    <!-- <span class="form-group" style="width: 100px;display: inline-block;">
        <label for="draw-grid">Grid: </label>
        <select class="form-control paddingMargin" id="draw-grid">
          <option value="normal">Normal</option>
          <option value="medium" selected>Medium</option>
          <option value="large">Large</option>
          <option value="nogrid">No Grid</option>
        </select>
  </span> -->
    <label for="line-Width" style="float:left">Thickness: </label>

    <span class="form-group paddingMargin" style="width: 90px;float:left">
      <select class="form-control" id="line-Width">
        <option>2</option>
        <option>4</option>
        <option>6</option>
        <option>8</option>
        <option>10</option>
        <option>12</option>
        <option>14</option>
      </select>
    </span>
    <label for="draw-text-font-family" style="float:left">Font: </label>

    <span class="form-group paddingMargin" style="width: 130px;float:left">
      <select class="form-control" id="draw-text-font-family">
        <option value="Arial">Arial</option>
        <option value="Verdana" selected>Verdana</option>
        <option value="Times New Roman">Times New Roman</option>
        <option value="Courier New">Courier New</option>
        <option value="serif">serif</option>
        <option value="sans-serif">sans-serif</option>
      </select>
    </span>

    <label for="draw-text-font-size" style="float:left">Font Size : </label>

    <span class="form-group paddingMargin" style="width: 130px;float:left">
      <select class="form-control" id="draw-text-font-size">
        <option value="16">16 Px</option>
        <option value="18">18 Px</option>
        <option value="20">20 Px</option>
        <option value="22">22 Px</option>
        <option value="24">24 Px</option>
        <option value="26">26 Px</option>
        <option value="28">28 Px</option>
        <option value="30">30 Px</option>
        <option value="32">32 Px</option>
        <option value="34" selected>34 Px</option>
        <option value="36">36 Px</option>
        <option value="38">38 Px</option>
        <option value="40">40 Px</option>
      </select>
    </span>

    <!-- <span class="form-group paddingMargin" style="width: 90px;display: inline-block;">
    <label for="draw-text-font-size">Font Size: </label>
    <select class="form-control" id="draw-text-font-size">
      <option value="16">16 Px</option>
      <option value="18">18 Px</option>
      <option value="20">20 Px</option>
      <option value="22">22 Px</option>
      <option value="24">24 Px</option>
      <option value="26">26 Px</option>
      <option value="28">28 Px</option>
      <option value="30">30 Px</option>
      <option value="32" selected>32 Px</option>
      <option value="34">34 Px</option>
      <option value="36">36 Px</option>
      <option value="38">38 Px</option>
      <option value="40">40 Px</option>
    </select>
  </span> -->
  </p>

  <div id="container">
    <canvas  id="imageView" width="903" height="452"> </canvas>

  </div>
</div>
