
<!-- <div>
        <div class="row">
                <button class="btnclose" (click)="closeDialog()">
                    <i class="material-icons">close</i>
                </button>
              </div>
    <div> -->
        <div class="card">
            <!-- <div *ngIf="item.type =='application/pdf'; then elseBlock else thenBlock"></div> -->
            <div class="card-body">
                <!-- <ng-template #thenBlock> -->
                    <app-pdf-annotation [path]="fullPath" [filename]="title"></app-pdf-annotation>
                    <!-- </ng-template>
                    <ng-template #elseBlock>
                        <img [src]="uri+'uploads/'+item">
                    </ng-template> -->
            </div>
            
            </div>
            
            
            
    
    
    