.role-box .duration .duration-inner .article{
    width: 50px;
    height: 50px;
    padding: 0px;
    float: left;
    position: relative;
}
.role-box .tagBudget{
    color: #ffffff;
    border: none;
    background-color: #664da0;
    float: none;
    width: auto;
}
.date-format{
    width: 100%;
    height: 100%;
    float: left;
}

.details-calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    p.cmp{
        margin-bottom: 1px;
        &.month-p{
            font-size: 10px;
            color: #5c5d60;
        }
        &.date-p{
            font-size: 15px;
            color: #664da0;
            font-weight: 700;
        }
        &.year-p{
            font-size: 10px;
            color: #5c5d60; 
        }
    } 
}


.calendarIcon{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
img{
    width: 20px;
}
}
.inputAbsolute{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    cursor: pointer;
    opacity: 0;
    .form-group input{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.role-box .duration .duration-inner{
    width: 50px;
}
.user-icon {
  .user-text {
    width: 80px;
    z-index: 999;

      .close-icon {
        cursor: pointer;
          img {
            width: 17px;
            height: 17px;
            border: 1px solid #fff;
            float: none;
            margin: -1px 0px 0px 3px;
            padding: 2px;
          }
        }
  }
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
} 

.ngAutocomplete{
    width: 110px;
    float: left;
    position: relative;
    padding-left: 10px;
}
.ngAutocomplete .ng-autocomplete{
    width: 100% !important;
}

.role-box .assignees button.close{
    left: inherit;
    right: 6px;
    transform: inherit;
}
.autocomplete-container .suggestions-container{
    top: 100%;
    margin-top: 2px;
} 
