<div class="full-width breadcrumbs">
  <ul>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>Case Management</a>
    </li>
  </ul>
</div>

<div class="full-width bg-white">
    <app-case-management-dynamic-view></app-case-management-dynamic-view>
</div>
<div class="full-width bg-white main-content case-management-tab">

      <tabset class="tab-block" #staticTabs>
          <tab heading="Issue List">
              <app-issue-list></app-issue-list>
          </tab>
          <tab heading="Action List">
           <app-action-list></app-action-list>
          </tab>
          <tab heading="Issue Action Matrix" >
              <app-issue-action-matrix></app-issue-action-matrix>
          </tab>
          <tab heading="Action Workflow">
            <app-action-workflow-matrix></app-action-workflow-matrix>
        </tab>
      </tabset>


</div>

