.mainContent{
    display: inline-block;
    width: 98%;
    margin-left:10px;
    padding-top: 35px;
    margin-top: 10px;
    }
.topinfo{
    display: inline-block;
    width: 98%;
    margin-left:10px;
    padding-top: 0%;
    margin-top: 10px;
    }
.content{
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    }
.bg-white{
    background-color: #ffffff;
    }
::ng-deep .mat-tab-label{
    font-size: 20px;
    color: #6d6d6d;
    font-family: serif;
    }
::ng-deep .mat-tab-label-content{
    font-size: 20px;
    color:#5A4691;
    font-family: serif;
    }
  