<div class="full-width box-container blue-border">
    <div class="box-haif-number">
        <div class="number-container">
        <p class="number">{{totalControls}}</p>
        </div>
        <div class="text-container">
        <p class="text">Controls</p>
        </div>
    </div>
</div>
