@import 'https://fonts.googleapis.com/css?family=Unica+One';
.Omniverse-title, .Omniverse-subtitle {
  text-transform: uppercase;
}

.Omniverse-tooltip text {
  fill: #F0F0F0;
}

.Omniverse-range-selector-buttons text {
  fill: silver;
}

.Omniverse-yaxis-grid {
  stroke-width: 1px;
}

.Omniverse-axis-labels, .Omniverse-axis-title {
  fill: #E0E0E3;
}

.Omniverse-navigator .Omniverse-navigator-handle {
  fill: #666;
  stroke: #aaa;
}

.Omniverse-navigator .Omniverse-navigator-outline {
  stroke: #CCC;
}

.Omniverse-navigator .Omniverse-navigator-xaxis .Omniverse-grid-line {
  stroke: #505053;
}

.Omniverse-scrollbar .Omniverse-scrollbar-rifles {
  stroke: #fff;
}

.Omniverse-scrollbar .Omniverse-scrollbar-button {
  stroke: #606063;
  fill: #606063;
}

.Omniverse-scrollbar .Omniverse-scrollbar-arrow {
  fill: #CCC;
}

.Omniverse-scrollbar .Omniverse-scrollbar-thumb {
  fill: #808083;
  stroke: #808083;
}

.Omniverse-contextbutton .Omniverse-button-symbol {
  stroke: #DDDDDD;
}


.Omniverse-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: normal;
  z-index: 0;
  /* #1072 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Unica One", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.Omniverse-root {
  display: block;
}

.Omniverse-root text {
  stroke-width: 0;
}

.Omniverse-strong {
  font-weight: bold;
}

.Omniverse-emphasized {
  font-style: italic;
}

.Omniverse-anchor {
  cursor: pointer;
}

.Omniverse-background {
  fill: #2a2a2b;
}

.Omniverse-plot-border, .Omniverse-plot-background {
  fill: none;
}

.Omniverse-label-box {
  fill: none;
}

.Omniverse-button-box {
  fill: inherit;
}

.Omniverse-tracker-line {
  stroke-linejoin: round;
  stroke: rgba(192, 192, 192, 0.0001);
  stroke-width: 22;
  fill: none;
}

.Omniverse-tracker-area {
  fill: rgba(192, 192, 192, 0.0001);
  stroke-width: 0;
}

/* Titles */
.Omniverse-title {
  fill: #E0E0E3;
  font-size: 20px;
}

.Omniverse-subtitle {
  fill: #E0E0E3;
}

/* Axes */
.Omniverse-axis-line {
  fill: none;
  stroke: #707073;
}

.Omniverse-yaxis .Omniverse-axis-line {
  stroke-width: 0;
}

.Omniverse-axis-title {
  fill: #E0E0E3;
}

.Omniverse-axis-labels {
  fill: #E0E0E3;
  cursor: default;
  font-size: 0.9em;
}

.Omniverse-grid-line {
  fill: none;
  stroke: #707073;
}

.Omniverse-xaxis-grid .Omniverse-grid-line {
  stroke-width: 0px;
}

.Omniverse-tick {
  stroke: #707073;
}

.Omniverse-yaxis .Omniverse-tick {
  stroke-width: 0;
}

.Omniverse-minor-grid-line {
  stroke: #505053;
}

.Omniverse-crosshair-thin {
  stroke-width: 1px;
  stroke: #606063;
}

.Omniverse-crosshair-category {
  stroke: #707073;
  stroke-opacity: 0.25;
}

/* Credits */
.Omniverse-credits {
  cursor: pointer;
  fill: #666;
  font-size: 0.7em;
  transition: fill 250ms, font-size 250ms;
}

.Omniverse-credits:hover {
  fill: black;
  font-size: 1em;
}

/* Tooltip */
.Omniverse-tooltip {
  cursor: default;
  pointer-events: none;
  white-space: nowrap;
  transition: stroke 150ms;
}

.Omniverse-tooltip text {
  fill: #E0E0E3;
}

.Omniverse-tooltip .Omniverse-header {
  font-size: 0.85em;
}

.Omniverse-tooltip-box {
  stroke-width: 1px;
  fill: rgba(0, 0, 0, 0.85);
  fill-opacity: 0.85;
}

.Omniverse-tooltip-box .Omniverse-label-box {
  fill: rgba(0, 0, 0, 0.85);
  fill-opacity: 0.85;
}

div.Omniverse-tooltip {
  filter: none;
}

.Omniverse-selection-marker {
  fill: #335cad;
  fill-opacity: 0.25;
}

.Omniverse-graph {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.Omniverse-state-hover .Omniverse-graph {
  stroke-width: 3;
}

.Omniverse-point-inactive {
  opacity: 0.2;
  transition: opacity 50ms;
  /* quick in */
}

.Omniverse-series-inactive {
  opacity: 0.2;
  transition: opacity 50ms;
  /* quick in */
}

.Omniverse-state-hover path {
  transition: stroke-width 50ms;
  /* quick in */
}

.Omniverse-state-normal path {
  transition: stroke-width 250ms;
  /* slow out */
}

/* Legend hover affects points and series */
g.Omniverse-series,
.Omniverse-point,
.Omniverse-markers,
.Omniverse-data-labels {
  transition: opacity 250ms;
}

.Omniverse-legend-series-active g.Omniverse-series:not(.Omniverse-series-hover),
.Omniverse-legend-point-active .Omniverse-point:not(.Omniverse-point-hover),
.Omniverse-legend-series-active .Omniverse-markers:not(.Omniverse-series-hover),
.Omniverse-legend-series-active .Omniverse-data-labels:not(.Omniverse-series-hover) {
  opacity: 0.2;
}

/* Series options */
/* Default colors */
.Omniverse-color-0 {
  fill: #2b908f;
  stroke: #2b908f;
}

.Omniverse-color-1 {
  fill: #90ee7e;
  stroke: #90ee7e;
}

.Omniverse-color-2 {
  fill: #f45b5b;
  stroke: #f45b5b;
}

.Omniverse-color-3 {
  fill: #7798BF;
  stroke: #7798BF;
}

.Omniverse-color-4 {
  fill: #aaeeee;
  stroke: #aaeeee;
}

.Omniverse-color-5 {
  fill: #ff0066;
  stroke: #ff0066;
}

.Omniverse-color-6 {
  fill: #eeaaee;
  stroke: #eeaaee;
}

.Omniverse-color-7 {
  fill: #55BF3B;
  stroke: #55BF3B;
}

.Omniverse-color-8 {
  fill: #DF5353;
  stroke: #DF5353;
}

.Omniverse-color-9 {
  fill: #7798BF;
  stroke: #7798BF;
}

.Omniverse-color-10 {
  fill: #aaeeee;
  stroke: #aaeeee;
}

.Omniverse-area {
  fill-opacity: 0.75;
  stroke-width: 0;
}

.Omniverse-markers {
  stroke-width: 1px;
  stroke: #2a2a2b;
}

.Omniverse-point {
  stroke-width: 1px;
}

.Omniverse-dense-data .Omniverse-point {
  stroke-width: 0;
}

.Omniverse-data-label {
  font-size: 0.9em;
  font-weight: bold;
}

.Omniverse-data-label-box {
  fill: none;
  stroke-width: 0;
}

.Omniverse-data-label text, text.Omniverse-data-label {
  fill: #B0B0B3;
}

.Omniverse-data-label-connector {
  fill: none;
}

.Omniverse-halo {
  fill-opacity: 0.25;
  stroke-width: 0;
}

.Omniverse-series:not(.Omniverse-pie-series) .Omniverse-point-select,
.Omniverse-markers .Omniverse-point-select {
  fill: #606063;
  stroke: #fff;
}

.Omniverse-column-series rect.Omniverse-point {
  stroke: #2a2a2b;
}

.Omniverse-column-series .Omniverse-point {
  transition: fill-opacity 250ms;
}

.Omniverse-column-series .Omniverse-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.Omniverse-pie-series .Omniverse-point {
  stroke-linejoin: round;
  stroke: #2a2a2b;
}

.Omniverse-pie-series .Omniverse-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.Omniverse-funnel-series .Omniverse-point {
  stroke-linejoin: round;
  stroke: #2a2a2b;
}

.Omniverse-funnel-series .Omniverse-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.Omniverse-funnel-series .Omniverse-point-select {
  fill: inherit;
  stroke: inherit;
}

.Omniverse-pyramid-series .Omniverse-point {
  stroke-linejoin: round;
  stroke: #2a2a2b;
}

.Omniverse-pyramid-series .Omniverse-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.Omniverse-pyramid-series .Omniverse-point-select {
  fill: inherit;
  stroke: inherit;
}

.Omniverse-solidgauge-series .Omniverse-point {
  stroke-width: 0;
}

.Omniverse-treemap-series .Omniverse-point {
  stroke-width: 1px;
  stroke: #707073;
  transition: stroke 250ms, fill 250ms, fill-opacity 250ms;
}

.Omniverse-treemap-series .Omniverse-point-hover {
  stroke: #666;
  transition: stroke 25ms, fill 25ms, fill-opacity 25ms;
}

.Omniverse-treemap-series .Omniverse-above-level {
  display: none;
}

.Omniverse-treemap-series .Omniverse-internal-node {
  fill: none;
}

.Omniverse-treemap-series .Omniverse-internal-node-interactive {
  fill-opacity: 0.15;
  cursor: pointer;
}

.Omniverse-treemap-series .Omniverse-internal-node-interactive:hover {
  fill-opacity: 0.75;
}

.Omniverse-vector-series .Omniverse-point {
  fill: none;
  stroke-width: 2px;
}

.Omniverse-windbarb-series .Omniverse-point {
  fill: none;
  stroke-width: 2px;
}

/* Legend */
.Omniverse-legend-box {
  fill: none;
  stroke-width: 0;
}

.Omniverse-legend-item > text {
  fill: #E0E0E3;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  stroke-width: 0;
}

.Omniverse-legend-item:hover text {
  fill: #fff;
}

.Omniverse-legend-item-hidden * {
  fill: #606063 !important;
  stroke: #606063 !important;
  transition: fill 250ms;
}

.Omniverse-legend-nav-active {
  fill: #F0F0F3;
  cursor: pointer;
}

.Omniverse-legend-nav-inactive {
  fill: #606063;
}

circle.Omniverse-legend-nav-active, circle.Omniverse-legend-nav-inactive {
  /* tracker */
  fill: rgba(192, 192, 192, 0.0001);
}

.Omniverse-legend-title-box {
  fill: none;
  stroke-width: 0;
}

/* Bubble legend */
.Omniverse-bubble-legend-symbol {
  stroke-width: 2;
  fill-opacity: 0.5;
}

.Omniverse-bubble-legend-connectors {
  stroke-width: 1;
}

.Omniverse-bubble-legend-labels {
  fill: #E0E0E3;
}

/* Loading */
.Omniverse-loading {
  position: absolute;
  background-color: #2a2a2b;
  opacity: 0.5;
  text-align: center;
  z-index: 10;
  transition: opacity 250ms;
}

.Omniverse-loading-hidden {
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms, height 250ms step-end;
}

.Omniverse-loading-inner {
  font-weight: bold;
  position: relative;
  top: 45%;
}

/* Plot bands and polar pane backgrounds */
.Omniverse-plot-band, .Omniverse-pane {
  fill: #fff;
  fill-opacity: 0.05;
}

.Omniverse-plot-line {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

/* Omniverse More and modules */
.Omniverse-boxplot-box {
  fill: #2a2a2b;
}

.Omniverse-boxplot-median {
  stroke-width: 2px;
}

.Omniverse-bubble-series .Omniverse-point {
  fill-opacity: 0.5;
}

.Omniverse-errorbar-series .Omniverse-point {
  stroke: #fff;
}

.Omniverse-gauge-series .Omniverse-data-label-box {
  stroke: #606063;
  stroke-width: 1px;
}

.Omniverse-gauge-series .Omniverse-dial {
  fill: #fff;
  stroke-width: 0;
}

.Omniverse-polygon-series .Omniverse-graph {
  fill: inherit;
  stroke-width: 0;
}

.Omniverse-waterfall-series .Omniverse-graph {
  stroke: #E0E0E3;
  stroke-dasharray: 1, 3;
}

.Omniverse-sankey-series .Omniverse-point {
  stroke-width: 0;
}

.Omniverse-sankey-series .Omniverse-link {
  transition: fill 250ms, fill-opacity 250ms;
  fill-opacity: 0.5;
}

.Omniverse-sankey-series .Omniverse-point-hover.Omniverse-link {
  transition: fill 50ms, fill-opacity 50ms;
  fill-opacity: 1;
}

.Omniverse-venn-series .Omniverse-point {
  fill-opacity: 0.75;
  stroke: #606063;
  transition: stroke 250ms, fill-opacity 250ms;
}

.Omniverse-venn-series .Omniverse-point-hover {
  fill-opacity: 1;
  stroke: #606063;
}

/* Highstock */
.Omniverse-navigator-mask-outside {
  fill-opacity: 0;
}

.Omniverse-navigator-mask-inside {
  fill: rgba(255, 255, 255, 0.1);
  /* navigator.maskFill option */
  fill-opacity: 0.25;
  cursor: ew-resize;
}

.Omniverse-navigator-outline {
  stroke: #606063;
  fill: none;
}

.Omniverse-navigator-handle {
  stroke: #606063;
  fill: #505053;
  cursor: ew-resize;
}

.Omniverse-navigator-series {
  fill: #7798BF;
  stroke: #A6C7ED;
}

.Omniverse-navigator-series .Omniverse-graph {
  stroke-width: 1px;
}

.Omniverse-navigator-series .Omniverse-area {
  fill-opacity: 0.05;
}

.Omniverse-navigator-xaxis .Omniverse-axis-line {
  stroke-width: 0;
}

.Omniverse-navigator-xaxis .Omniverse-grid-line {
  stroke-width: 1px;
  stroke: #707073;
}

.Omniverse-navigator-xaxis.Omniverse-axis-labels {
  fill: #666;
}

.Omniverse-navigator-yaxis .Omniverse-grid-line {
  stroke-width: 0;
}

.Omniverse-scrollbar-thumb {
  fill: #606063;
  stroke: #606063;
  stroke-width: 1px;
}

.Omniverse-scrollbar-button {
  fill: #707073;
  stroke: #606063;
  stroke-width: 1px;
}

.Omniverse-scrollbar-arrow {
  fill: #E0E0E3;
}

.Omniverse-scrollbar-rifles {
  stroke: #E0E0E3;
  stroke-width: 1px;
}

.Omniverse-scrollbar-track {
  fill: #404043;
  stroke: #404043;
  stroke-width: 1px;
}

.Omniverse-button {
  fill: #505053;
  stroke: #606063;
  cursor: default;
  stroke-width: 1px;
  transition: fill 250ms;
}

.Omniverse-button text {
  fill: #ccc;
}

.Omniverse-button-hover {
  transition: fill 0ms;
  fill: #707073;
  stroke: #606063;
}

.Omniverse-button-hover text {
  fill: #fff;
}

.Omniverse-button-pressed {
  font-weight: bold;
  fill: #000003;
  stroke: #606063;
}

.Omniverse-button-pressed text {
  fill: #fff;
  font-weight: bold;
}

.Omniverse-button-disabled text {
  fill: #ccc;
}

.Omniverse-range-selector-buttons .Omniverse-button {
  stroke-width: 0px;
}

.Omniverse-range-label rect {
  fill: none;
}

.Omniverse-range-label text {
  fill: #E0E0E3;
}

.Omniverse-range-input rect {
  fill: none;
}

.Omniverse-range-input text {
  fill: silver;
}

.Omniverse-range-input {
  stroke-width: 1px;
  stroke: #505053;
}

input.Omniverse-range-selector {
  position: absolute;
  border: 0;
  width: 1px;
  /* Chrome needs a pixel to see it */
  height: 1px;
  padding: 0;
  text-align: center;
  left: -9em;
  /* #4798 */
}

.Omniverse-crosshair-label text {
  fill: #2a2a2b;
  font-size: 1.1em;
}

.Omniverse-crosshair-label .Omniverse-label-box {
  fill: inherit;
}

.Omniverse-candlestick-series .Omniverse-point {
  stroke: #fff;
  stroke-width: 1px;
}

.Omniverse-candlestick-series .Omniverse-point-up {
  fill: #2a2a2b;
}

.Omniverse-ohlc-series .Omniverse-point-hover {
  stroke-width: 3px;
}

.Omniverse-flags-series .Omniverse-point .Omniverse-label-box {
  stroke: #666;
  fill: #2a2a2b;
  transition: fill 250ms;
}

.Omniverse-flags-series .Omniverse-point-hover .Omniverse-label-box {
  stroke: #fff;
  fill: #707073;
}

.Omniverse-flags-series .Omniverse-point text {
  fill: #fff;
  font-size: 0.9em;
  font-weight: bold;
}

/* Highmaps */
.Omniverse-map-series .Omniverse-point {
  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;
  stroke: #606063;
}

.Omniverse-map-series .Omniverse-point-hover {
  transition: fill 0ms, fill-opacity 0ms;
  fill-opacity: 0.5;
  stroke-width: 2px;
}

.Omniverse-mapline-series .Omniverse-point {
  fill: none;
}

.Omniverse-heatmap-series .Omniverse-point {
  stroke-width: 0;
}

.Omniverse-map-navigation {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.Omniverse-coloraxis {
  stroke-width: 0;
}

.Omniverse-coloraxis-marker {
  fill: #666;
}

.Omniverse-null-point {
  fill: #f7f7f7;
}

/* 3d charts */
.Omniverse-3d-frame {
  fill: transparent;
}

/* Exporting module */
.Omniverse-contextbutton {
  fill: #505053;
  /* needed to capture hover */
  stroke: none;
  stroke-linecap: round;
}

.Omniverse-contextbutton:hover {
  fill: #707073;
  stroke: #707073;
}

.Omniverse-button-symbol {
  stroke: #E0E0E3;
  stroke-width: 3px;
}

.Omniverse-menu {
  border: 1px solid #666;
  background: #2a2a2b;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888;
}

.Omniverse-menu-item {
  padding: 0.5em 1em;
  background: none;
  color: #E0E0E3;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}

.Omniverse-menu-item:hover {
  background: #335cad;
  color: #2a2a2b;
}

/* Drilldown module */
.Omniverse-drilldown-point {
  cursor: pointer;
}

.Omniverse-drilldown-data-label text,
text.Omniverse-drilldown-data-label,
.Omniverse-drilldown-axis-label {
  cursor: pointer;
  fill: #F0F0F3;
  font-weight: bold;
  text-decoration: underline;
}

/* No-data module */
.Omniverse-no-data text {
  font-weight: bold;
  font-size: 12px;
  fill: #E0E0E3;
}

/* Drag-panes module */
.Omniverse-axis-resizer {
  cursor: ns-resize;
  stroke: black;
  stroke-width: 2px;
}

/* Bullet type series */
.Omniverse-bullet-target {
  stroke-width: 0;
}

/* Lineargauge type series */
.Omniverse-lineargauge-target {
  stroke-width: 1px;
  stroke: #E0E0E3;
}

.Omniverse-lineargauge-target-line {
  stroke-width: 1px;
  stroke: #E0E0E3;
}

/* Annotations module */
.Omniverse-annotation-label-box {
  stroke-width: 1px;
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0.75;
}

.Omniverse-annotation-label text {
  fill: #707073;
}

/* Gantt */
.Omniverse-treegrid-node-collapsed, .Omniverse-treegrid-node-expanded {
  cursor: pointer;
}

.Omniverse-point-connecting-path {
  fill: none;
}

.Omniverse-grid-axis .Omniverse-tick {
  stroke-width: 1px;
}

.Omniverse-grid-axis .Omniverse-axis-line {
  stroke-width: 1px;
}
