// Global font
@import 'https://fonts.googleapis.com/css?family=Unica+One';

// Chart background, point stroke for markers and columns etc
$background-color: #2a2a2b;

// Colors for data series and points.
$colors: #2b908f #90ee7e #f45b5b #7798BF #aaeeee #ff0066 #eeaaee #55BF3B #DF5353 #7798BF #aaeeee;

// Neutral colors
$neutral-color-100: #fff;
$neutral-color-80: #E0E0E3;
$neutral-color-60: #E0E0E3;
$neutral-color-40: #666;
$neutral-color-20: #606063;
$neutral-color-10: #707073;
$neutral-color-5: #505053;

// Colored, shades
$highlight-color-100: #F0F0F3;
$highlight-color-60: rgba(255,255,255,0.1);
$highlight-color-20: $neutral-color-10;

// Data-labels
$data-label-color: #B0B0B3;

// Fonts
$font-family: 'Unica One', Arial, Helvetica, sans-serif;
$title-font-size: 20px;

// Tooltip
$tooltip-background: rgba(0, 0, 0, 0.85);

// Range-selector
$range-selector-input-text: silver;
$range-selector-input-border: $neutral-color-5;

// Buttons
$Omniverse-button-background: $neutral-color-5;
$Omniverse-button-text:  #ccc;

$Omniverse-button-pressed-background: #000003;
$Omniverse-button-pressed-text:  $neutral-color-100;

$Omniverse-button-hover-background: $neutral-color-10;
$Omniverse-button-hover-text:  $neutral-color-100;

$context-button-background: $neutral-color-5;

// Navigator
$navigator-series-fill: #7798BF;
$navigator-series-border: #A6C7ED;

// Navigator
$scrollbar-track-background: #404043;
$scrollbar-track-border: #404043;

// Titles
.Omniverse-title, .Omniverse-subtitle {
	text-transform: uppercase;
}

// Tooltip
.Omniverse-tooltip text { 
	fill: #F0F0F0
}

// Range-selector
.Omniverse-range-selector-buttons text {
	fill: silver;
}

// Axes
.Omniverse-yaxis-grid  {
	stroke-width: 1px;
}

.Omniverse-axis-labels, .Omniverse-axis-title {
	fill: #E0E0E3;
}

// Navigator
.Omniverse-navigator .Omniverse-navigator-handle {
  fill: $neutral-color-40;
  stroke: #aaa;
}

.Omniverse-navigator .Omniverse-navigator-outline {
  stroke: #CCC;
}

.Omniverse-navigator .Omniverse-navigator-xaxis .Omniverse-grid-line {
  stroke: $neutral-color-5;
} 

// Scrollbar
.Omniverse-scrollbar .Omniverse-scrollbar-rifles {
  stroke: $neutral-color-100;
}

.Omniverse-scrollbar .Omniverse-scrollbar-button { 
  stroke: #606063;
  fill: #606063;
}

.Omniverse-scrollbar .Omniverse-scrollbar-arrow { 
  fill: #CCC;
}

.Omniverse-scrollbar .Omniverse-scrollbar-thumb { 
   fill: #808083;
   stroke: #808083;
}

// Navigation
.Omniverse-contextbutton .Omniverse-button-symbol { 
   stroke: #DDDDDD;
}

@import '../Omniverse';


