// Global font
@import 'https://fonts.googleapis.com/css?family=Signika:400,700';

// Chart background, point stroke for markers and columns etc
$background-color: none;

// Colors for data series and points.
$colors: #f45b5b #8085e9 #8d4654 #7798BF #aaeeee #ff0066 #eeaaee #55BF3B #DF5353 #7798BF #aaeeee;

// Neutral colors
$neutral-color-100: #fff;
$neutral-color-80: #000;

// Data-labels
$data-label-color: #000;

// Fonts
$font-family: 'Signika', Arial, Helvetica, sans-serif;
$title-font-size: 16px;
$legend-font-size: 13px;
$axis-labels-font-size: 12px;

// Tooltip
$tooltip-border: 0px;
$tooltip-background: $neutral-color-100;

// Buttons
$Omniverse-button-background: $neutral-color-100;
$Omniverse-button-border: #C0C0C8;
$Omniverse-button-text:  #000;

$Omniverse-button-pressed-background: #D0D0D8;
$Omniverse-button-pressed-text:  #000;

$context-button-background: $neutral-color-100;

// Navigator
$navigator-series-fill: #f45b5b;
$navigator-series-border: #f45b5b;

// Scrollbar
$scrollbar-track-border: #C0C0C8;

// General
.Omniverse-container {
  background: url(https://www.Omniverse.com/samples/graphics/sand.png);
}

// Boxplot
.Omniverse-boxplot-box {
   fill: #505053;
}

// Navigator
.Omniverse-navigator-xaxis .Omniverse-grid-line {
  stroke: #D0D0D8;
}

// Scrollbar
.Omniverse-scrollbar-track {
  stroke: #C0C0C8;
}

// Title
.Omniverse-title {
	font-weight: bold;
}

// Buttons
.Omniverse-button-box {
	stroke-width: 1px;
}

@import '../Omniverse';