<div class="auditee-chat-container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light top-menu">
    <div class="b-logo">
      <a class="navbar-brand">
        <span class="green-font">En</span>
        <span class="purple-font">IA</span>
      </a>
    </div>
  </nav>
</div>
<app-chat-popup-sec></app-chat-popup-sec>
