#container {
  position: relative;
}
#container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}
body {
  background: rgb(55, 55, 55) !important;
}
#imageViewNew { border: 1px solid #000; background-color: white !important;width: 100%;  }
#imageTemp { position: absolute; top: 1px; left: 1px;background-color: white !important;width: 100% !important;height: 100%!important; }
canvas {
  border-radius: 5px;
  cursor: url(../../../../../assets/public/img/pen.png), crosshair;
  background-color: white;
}
#text_tool {
  position: absolute;
  border: 1px dashed black;
  outline: 0;
  z-index: 1000 !important;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
.containerNew {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
  color: black;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 5px;
}
// .containerNew .btn.btn-sm:active{
// background: #06f;
// }
label {
  margin: 14px 10px;
  font-size: 10px;
  font-weight: 700;
  color: #020006;
}
// .btn.btn-outline-danger{
// padding: 2px;
// margin-right: 5px;
// }
p {
  height: 44px;
 background-color: #f2f2f2;
border: 1px solid #707070;
}
.paddingMargin {
  padding: 2px;
  margin: 5px;
  height: 30px;
  width: 90px;
}



.wb-btns {
    float: left;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #5a4296;
    font-weight: 600;
    color: #5a4296;
  }
  
  .wb-clearall-btns {
    background-color: #bcbcbc;
    border-radius: 2.5px;
    border: 1px solid #979797;
    font-weight: 600;
  color: #ffffff;
  float: left;
  }
  
  .wb-download-btns {
   font-weight: 600;
  color: #ffffff;
   background-color: #98aa3a;
  border-radius: 2.5px;
  border: 1px solid #ffffff;
  float: left;
  }
  @media screen and (max-width: 1320px) {
    .paddingMargin {
        margin-left: 4.25px;
        margin-right: 4.25px;
    }
  }
  @media screen and (max-width: 1301px) {
    .paddingMargin {
        margin-left: 4px;
        margin-right: 4px;
      &.btn {
        width: 11.4% !important;
        padding: 2px 2px !important;
      }
    }
  }