// table.dataTable tbody td {
//     padding: 8px 4px 8px 16px;
  
//     table.dataTable thead th {
//     padding: 8px 4px;
//   }
//   }

.btnClick{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    top: 0;
    z-index: 10;
}

table {
  table-layout: initial;
}
.uppercase-in{
  text-transform: uppercase;
}