<div class="table-header table-xs-header">
      <div class="col-xs-12 col-lg-8 icon-list float-right no-padding">
        <a href="#" class="tooltip">
          <span class="tooltiptext">Print</span>
          <img src="assets/img/print_button.svg" alt="Print">
        </a>
        <div class="dropdown export-dropdown">
          <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="tooltiptext">Export</span>
            <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
          </a>
          <div class="dropdown-menu export-dropdown-menu controllist-export-RCM"></div>
        </div>
        <div class="filter-dropdown-column">
      <a class="tooltip m-0" (click)="Setting($event)">
        <span class="tooltiptext">Customize Table</span>
        <img
          src="assets/img/settings.svg"
          alt="Customize Table"
          class="click-icon"
        />
      </a>
      <div class="dropdown-menu-column" id="dropDown">
        <a
          class="dropdown-item-column"
          [attr.data-column]="i"
          *ngFor="let controlColumn of showHideHeaders; index as i"
          style="margin-left:0px; cursor: pointer;"
        >
          <label>
            <input
              class="checkbox"
              type="checkbox"
              value="{{ controlColumn }}"
              checked
            /><span class="filter-text">{{ controlColumn }}</span>
          </label>
        </a>
      </div>
    </div>
      </div>

</div>
<table id="control-testing-matrix-table" class="display fullDataTable table-md-responsive" style="width:100%;">
  <thead>
    <tr>
      <th></th>
      <th>
        <input name="select_all" value="1" id="control-testing-matrix-select-all" type="checkbox" />
      </th>
      <th>Area</th>
      <th>Ctl ID</th>
      <th>Ctl Name</th>
      <th>Ctl Description</th>
      <th>Ctl Testing</th>
      <th>Ctl Risk</th>
      <th>Ctl Owner</th>
      <th>Owner BU</th>
      <th>Ctl Status</th>
      <th>Assigned to Risk</th>
      <th class="text-center action-block">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let response of ControlData;let i= index;'>
      
      <td>{{i + 1}}</td>
      <td></td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.controlDepartmentProcess.length > 20 }">
          <span class="read-more-text">{{response.controlDepartmentProcess}}</span>
          <span class="tooltiptext wd-100">{{response.controlDepartmentProcess}}</span>
        </div>
      </td>
      <td class="reorder-row"><a (click)="loadMyControlId(response.controlId)" class="btn risk-btn link">{{response.controlId}}</a>
      </td>
      <td class="reorder-row">{{response.controlName}}</td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.controlDescription.length > 40 }">
          <span class="read-more-text">{{response.controlDescription}}</span>
          <span class="tooltiptext wd-200">{{response.controlDescription}}</span>
        </div>
      </td>
      <td class="reorder-row">
        <a *ngIf="response.ctId" (click)="loadMyControlTestingId(response.ctId)" class="btn risk-btn link">{{response.ctId}}</a>
        <a *ngIf="!response.ctId" class="link" (click)="loadMyChildComponent(response, true)">
          Add
        </a>
      </td>
      <td class="reorder-row">
        <div class="slidecontainer">
          <input type="range" min="1" max="100" [value]=response.ctRisk class="range-control {{response.barColor}}"
            disabled>
        </div>
      </td>

      <td class="reorder-row">{{response.controlOwnerName}}</td>
      <td class="reorder-row">{{response.controlDepartment}}</td>
      <td class="reorder-row">{{response.controlStatus}}</td>
      <td class="text-center reorder-row"><img *ngIf="response.assignedToRisk"
          src="../../../../../assets/img/verification-mark.svg"></td>
      <td align="center">
        <div class="dropdown action-dropdown">
          <a  *ngIf="response.ctId"  class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-text">
            <ul>
              <li>
                <a (click)="loadMyChildComponent(response.ctId)" class="edit-btn">
                  <img src="assets/img/edit_button.svg" alt="Edit">
                  <span>Edit</span>
                </a>
              </li>
              <li>
                <a (click)="deleteControlTest(response.ctId, response.controlId)" class="delete-btn">
                  <img src="assets/img/delete_button.svg" alt="Delete">
                  <span>Delete</span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </td>
    </tr>


  </tbody>
</table>

<div class="full-width common-accordian">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link relative btn-full" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <h3 class="strip-line"><span>Actions</span></h3>
            <div class="toggle-image-container">
              <img src="../../../../../assets/img/round-img.svg">
            </div>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-caseid" id="case-detail-table">
            <thead>
              <tr>
                <th>Action ID</th>
                <th>Action Name</th>
                <th>Action Description</th>
                <th>Steps Completed </th>
                <th>On Track</th>
                <th>Completion</th>
                <th>Delay</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor='let response of actionList'>
                <td><a class="btn risk-btn link">{{response.actionId}}</a></td>
                <td>{{response.actionName | slice:0:65}}</td>
                <td>{{response.actionDescription | slice:0:65}}</td>
                <td>{{response.stepsCompleted}}</td>
                <td>
                  <button *ngIf="!response.onTrack" class="btn btn-case orange uppercase-in">
                    NO
                  </button>
                  <button *ngIf="response.onTrack" class="btn btn-case green uppercase-in">
                    Yes
                  </button>
                </td>
                <td *ngIf="response.dateExecuted">{{(response.dateExecuted).substring(0,10)}}</td>
                <td>{{response.delay}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-control-assessment-form *ngIf="controlTestingAssessmentForm"
  (closedControlTestForm)="getControlTestFormStatus($event)" [controlData]="selectedControlTestingId">
</app-control-assessment-form>
<app-control-definition-form *ngIf="controlAssessmentForm" (closedControlDesForm)="getControlTestFormStatus($event)"
  [controlData]="selectedControlId"></app-control-definition-form>