<div class="new-group-control">
  <!-- <p>{{ (roomDetails && roomDetails?.title ) ? (roomDetails?.title | slice:0:22) : roomDetails }} {{(roomDetails?.title && roomDetails?.title.length >= 21) ? '...' : '' }}</p> -->

  <div class="right-float">
    <div class="img-first relative img-f1">
      <img
        (click)="HoverBarBtn()"
        class="new-grpIco" alt="group_icon"
        src="../../../../../assets/img/new-group-ico.svg"
      />
      <div class="hover-content members">
        Group Members
      </div>
    </div>

    <img
      (click)="HoverCloseBarBtn()"
      class="new-grpCloseIco" alt="close_icon"
      src="../../../../../assets/img/close.svg"
    />
  </div>
  <div class="right-float">
    <img
      class="new-inactive" alt="export_icon"
      src="../../../../../assets/img/export-black.svg"
    />
    <div class="hover-content">
      Export Chat
    </div>
  </div>
  <div
    class="new-group-hover-bar"
    [ngClass]="{ 'd-block': NewHoverBarValidateFlag }"
  >
    <div class="tooltip">
      <span class="tooltiptext triple-word">{{ owner + " (Host)" }}</span>
      <img src="../../../../../assets/img/profile.png" alt="profile_icon" />
    </div>
    <div class="tooltip" *ngFor="let user of onlineUsers">
      <span class="tooltiptext doble-word"
        >{{ user }}
        <span class="close-icon" id="remove-user">
          <img
            (click)="removeUser(user)" alt="close_form_icon"
            src="../../../../../assets/img/close-form.svg"
        /></span>
      </span>
      <img src="../../../../../assets/img/profile.png" alt="profile_icon" />
    </div>
    <button
      (click)="openSearch()"
      [ngClass]="{ 'd-none': validateFlag }"
      class="tooltip add-userbtn"
    >
      <span class="tooltiptext doble-word user-tooltip">Add User</span>
      <img src="../../../../../assets/img/add_assignee.svg" alt="add_user_icon"/>
    </button>

    <div class="new-autoCompleteDropdown">
      
      <div class="ngAutocomplete" *ngIf="validateFlag">
        <ng-autocomplete
          [data]="usernames"
          (selected)="selectEvent($event)"
          [searchKeyword]="keyword"
          (inputChanged)="onChangeSearch($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <button
          (click)="closeSearch()"
          class="closeAtoCom"
          *ngIf="validateFlag"
        >
          <img src="../../../../../assets/img/close-icon.svg" alt="close_icon"/>
        </button>
      </div>
      <ng-template #itemTemplate let-item style="color: black !important;">
        <a [innerHTML]="item.username"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>

    
  </div>
</div>
