.closeAtoCom {
    position: absolute;
    top: 0px;
    right: -2px;
    z-index: 9;
    background: none;
    border: none;
    outline: none;
    width: auto;

    img {
        width: 10px;
    }

}
.right-float{
    float: right;
    position: relative;
    .new-inactive{
        width: 22px;
        height: 22px;
        margin-top: 3px;
        margin-right: 15px;
        border-radius: 0px;
    }
    .hover-content{
        position: absolute;
        right: 8px;
        width: 77px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6D6D6D;
        font-size: 11px;
        border: 1px solid #7070707A;
        top: 100%;
        margin-top: 5px;
        border-radius: 3px;
        background-color: #fff;
        font-weight: 600;
        opacity: 0;
        z-index: 9999;
        &:before{
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #bbbbbb;
            position: absolute;
            right: 10px;
            top: -5px;
        }
        &:after{
            content: "";
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid #ffffff;
            position: absolute;
            right: 11px;
            top: -4px;
        }
        &.members{
            width: 100px;
            right: 0px;
        }
    }
    &:hover{
        .hover-content{
            opacity: 1;
            &.members{
                opacity: 0;
            }
        }
    }
}
.img-first{
float: left;
&:hover{
    .hover-content.members{
        opacity: 1;
    }
}
}

.img-f1.in-active{
    display: none;
}