<div class="table-header table-xs-header" *ngIf="!isLoading">
  <div class="row">
    <div class="col-xs-6 col-lg-4 control-risk-switch">

    </div>

    <div class="col-xs-12 col-lg-8 icon-list text-right">
      <div class="full-width">
      <a (click)="addNewIssueForm()" class="tooltip">
        <span class="tooltiptext doble-word">Add Issue</span>
        <img src="assets/img/add_button.svg" alt="Add">
      </a>
      <a href="#" class="tooltip">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print">
      </a>
      <div class="dropdown export-dropdown">
        <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="tooltiptext">Export</span>
          <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
        </a>
        <div class="dropdown-menu export-dropdown-menu controllist-export-RCM"></div>
      </div>
    </div>
    </div>



  </div>
</div>

<div *ngIf="!isLoading">
  <table id="issueListCM" class="display fullDataTable table-md-responsive" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>
          <input type="checkbox" name="select_all" value="1" id="issue-listCM-select-all">
        </th>
        <th>Area</th>
        <th>Issue ID</th>
        <th>Issue Name</th>
        <th>Issue Description</th>
        <!-- <th> Identified By </th> -->
        <th>Identifier By</th>
        <th>Date Identified</th>
        <th> Approved by</th>
        <!-- <th> Approver ID
        </th> -->
        <th>Date Approved</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let issues of issueTableList ;let i = index">
        <td>{{i + 1}}</td>
        <td></td>
        <td class="reorder-row">{{issues.area}}</td>
        <td class="reorder-row">
          <a (click)="loadMyCityId(issues.issueId)" class="btn risk-btn link">{{issues.issueId}}</a>
        </td>
        <td class="reorder-row">{{issues.issueName}}</td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': issues.issueDescription.length > 66 }">
            <span class="read-more-text">{{issues.issueDescription}}</span>
            <span class="tooltiptext">{{issues.issueDescription}}</span>
          </div>
        </td>
        <!-- <td>{{issues.identifiedBy}}</td> -->
        <td class="reorder-row">{{issues.identifiedBy}}</td>

        <td class="reorder-row">{{issues.newModifiedDate}}</td>
        <td class="reorder-row">{{issues.approvedBy }}</td>
        <!-- <td>{{issues.approverId}}</td> -->
        <td class="reorder-row">{{issues.lastModifiedDate}}</td>
        <td align="center">
          <div class="dropdown show action-dropdown position-relative ">
              <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-text">
                <ul>
                  <li>
                      <a (click)="loadMyCityId(issues.issueId)" class="edit-btn">
                          <img src="assets/img/edit_button.svg" alt="Edit">
                          <span>Edit</span>
                      </a>
                  </li>
                  <li>
                      <a class="delete-btn">
                          <img src="assets/img/delete_button.svg" alt="Delete">
                          <span>Delete</span>
                     </a>
                  </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-issue-monitoring-form *ngIf="loadcityId" [issueData]="selectedIssueId"
  (closedDefinationIssueForm)="getAddressOfAddNewIssueForm($event)"></app-issue-monitoring-form>
<app-add-new-issue *ngIf="addNewIssueFormComponent" (closedAddNewIssueForm)="getStatusOfAddNewIssueForm($event)">
</app-add-new-issue>