<div class="pop-up-form" ngDraggable [position]="position">
    <div class="close-form" (click)="closeModal()">
      <img src="../../../../../assets/img/close-form.svg" />
    </div>
  
    <div class="full-width from-heading-box relative">
      <div class="text-area-sec">
        <h4>Issue: <b>Determine if the risk...</b></h4>
      </div>
  
      <div class="r-number">
        <p class="text-design">I-09</p>
      </div>
      <div class="icons-in">
        <ul>
          <!-- <li class="duplicate-btn-form">
            <a class="dupIco"
              ><img
                href="javascript:void(0);"
                src="../../../../../assets/img/duplicate-form.svg"
            /></a>
            <a href="javascript:void(0);" class="dupIcoHover"
              ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
              Duplicate</a
            >
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"
              ><img
                href="javascript:void(0);"
                src="../../../../../assets/img/upload-form.svg"
            /></a>
            <a href="javascript:void(0);" class="dupIcoHover"
              ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
            >
          </li> -->
          <li class="duplicate-btn-form">
            <a class="dupIco"
              ><img
                href="javascript:void(0);"
                src="../../../../../assets/img/print-form.svg"
            /></a>
            <a href="javascript:void(0);" class="dupIcoHover"
              ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
            >
          </li>
          <!-- <li class="duplicate-btn-form">
            <a class="dupIco"
              ><img
                href="javascript:void(0);"
                src="../../../../../assets/img/share-form.svg"
            /></a>
            <a href="javascript:void(0);" class="dupIcoHover"
              >Share <img src="assets/img/share2.svg" alt="Share"
            /></a>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="scroll-container">
    
        <div class="full-width tab-section-container">
          <div class="full-width">
            <tabset class="tab-block" #addNewIssue>
              <tab>
                <ng-template tabHeading>
                  <span>Details</span>
                </ng-template>
                <div class="tabContent-box tab-collapse-in">
                  <div class="new-risk-assessment-form new-work-step-form">
                  <div class="full-width accordion-sec">
                    <div class="accordion" id="accordionExample">
                      <div class="section-in">
                        <div class="card">
                          <div class="card-header bg-gray relative" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="textportion">Information</span>
                                <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              <div class="full-width section-inside  pr-0">
                                <div class="row col-lg-12 p-0 m-0">
                                  <div class="col col-lg-2 no-padding">
                                   <h4>Audit ID</h4>
                                   <p class="color-text mb-0">OP-034</p>
                                  </div>
                                  <div class="col col-lg-4 no-padding">
                                    <h4>Audit Title</h4>
                                    <p class="color-text mb-0">Procument</p>
                                   </div>
                                   <div class="col col-lg-3 add-user-button no-padding">
                                    <div class="prepare-left">
                                      <h4>Preparer</h4>
                                      <img class="add-user-icon" src="../../../../../assets/img/profile.png">
                                      <p>Amelia</p>
                                    </div>
                                    <div class="prepare-right">
                                      Preparer on
                                      <div class="full-width relative">
                                        <input type="text" placeholder="10.12.2020" class="form-control" bsDatepicker
                                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                                      </div>
                                    </div>
                                  </div>
    
                                  <div class="col col-lg-3 add-user-button no-padding" style="display: none;">
                                    <div class="prepare-left">
                                      <h4>Preparer</h4>
                                      <button (click)="togglePreparer()">
                                        <img class="add-user-icon" src="../../../../../assets/img/add_assignee.svg">
                                      </button>
                                      <p>Add Preparer</p>
                                    </div>
                                    <div class="prepare-right">
                                    </div>
                                  </div>
                                  <div class="col col-lg-3 add-user-button no-padding">
                                    <div class="prepare-left">
                                      <h4>Reviewer</h4>
                                      <img class="add-user-icon" src="../../../../../assets/img/elmar.png">
                                      <p>Elmar</p>
                                    </div>
                                    <div class="prepare-right">
                                      Reviewer on
                                      <div class="full-width relative">
                                        <input type="text"  placeholder="10.12.2020" class="form-control" bsDatepicker
                                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <ul class="content-labels" style="width:40%">
    
                                  <li>
                                    <p class="label-txt">Audit ID</p>
                                    <p class="op-id">{{issueForm.auditId.split("-").join(" ")}}</p>
                                  </li>
                                  <li>
                                    <p class="label-txt">Audit Title</p>
                                    <p class="op-id">{{issueForm.auditableEntity}}</p>
                                  </li>
                                </ul>
                                <ul class="list-of-admins float-left" style = "width: 50%" >
    
                                  <li style="width: 40%">
                                    <p class="label-txt">Preparer</p>
                                    <div class="full-width">
                                      <div class="imageicon">
                                        <img src="../../../../../assets/img/profile.png">
                                      </div>
                                      <div class="name">
                                        <div class="namecenter">
                                          {{issueForm.preparer}}
                                        </div>
    
                                      </div>
                                    </div>
                                  </li>
                                  <li>
                                    <p class="label-txt">Reviewer</p>
                                    <div class="full-width">
                                      <div class="imageicon">
                                        <img src="../../../../../assets/img/elmar.png">
                                      </div>
                                      <div class="name">
                                        <div class="namecenter">
                                          {{issueForm.reviewer}}
                                        </div>
    
                                      </div>
                                    </div>
                                  </li>
    
                                </ul> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
  <div class="full-width accordion-sec">
    <div class="accordion" id="accordionExampleOne">
      <div class="section-in">
        <div class="card">
          <div class="card-header bg-gray relative" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span class="textportion"></span>
                <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
              </button>
            </h2>
          </div>
      
          <div id="collapseTwo" class="bg-gray collapse show issue-form-padding" aria-labelledby="headingTwo" data-parent="#accordionExampleOne">
            <div class="card-body">
              <div class="full-width section-inside">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Issue Name<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="issue_name">
                        <div class="text-danger error-text error-position">Please enter Issue Name</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  
                        <div class="full-width">
                            <div class="form-group position-relative">
                              <label>Status<span class="text-danger">*</span></label>
                              <select
                                class="form-control"
                              >
                                <option>Select Option</option>
                                <option>Identified</option>
                                <option>Resolved</option>
                                <option>Cancelled</option>
                                <option>For Report</option>
                              </select>
                              <div class="text-danger error-text error-position">Please enter Status</div>

                            </div>
                          </div>
                          <div class="full-width">
                              <div class="form-group">
                                <label>Short Description</label>
                                <div class="full-width relative wysiwyg-div height-112">
                                    <angular-editor [config]="editorConfig"></angular-editor>
                                </div>
                              </div>
                            </div>
                            <div class="full-width">
                                    <div class="form-group">
                                      <label>Long Description</label>
                                      <div class="full-width relative wysiwyg-div">
                                          <angular-editor [config]="editorConfig"></angular-editor>
                                      </div>
                                    </div>
                                  </div>
                          
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="full-width">
                                <div class="form-group position-relative">
                                  <label>Priority<span class="text-danger">*</span></label>
                                  <select
                                    class="form-control"
                                  >
                                    <option>Select Option</option>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                   
                                  </select>
                                  <div class="text-danger error-text error-position">Please enter Status</div>

                                </div>
                              </div>
                              <div class="full-width">
                                  <div class="form-group">
                                    <label>Review Comments</label>
                                    <div class="full-width relative wysiwyg-div height-112">
                                        <angular-editor [config]="editorConfig"></angular-editor>
                                    </div>
                                  </div>
                                </div>
                                <div class="full-width">
                                        <div class="form-group">
                                          <label>Recommendation</label>
                                          <div class="full-width relative wysiwyg-div height-sep">
                                              <angular-editor [config]="editorConfig"></angular-editor>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="full-width">
                                            <div class="form-group">
                                              <label>Management Response</label>
                                              <div class="full-width relative wysiwyg-div height-sep">
                                                  <angular-editor [config]="editorConfig"></angular-editor>
                                              </div>
                                            </div>
                                          </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full-width question-container-1">
                            <div class="questions">
                              <p class="question-tag">Attachments</p>
                              <div class="button-radio">
                                <div class="onoffswitch">
                                 
        
                                   <input type="checkbox"  name="addcontrolbutton" (change)="switchProperty($event)" class="onoffswitch-checkbox attch" id="addcontro" > 
                                  <label class="onoffswitch-label" for="addcontro">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                  </label>
                                </div>
        
                              </div>
                            </div>
        
                          </div>
                          <div class="full-width question-container-1" *ngIf="openAttachment">
            
                                <div class="attch-tooltips pdf-file">
                                    <img src="../../../../../assets/img/pdf.svg" alt="" width="35px" >
                                   
                                 
                                    
              
                                    <label>form</label>
                                   
                                    <div class="hoveriterm">
                                    <span class="close-icon" id="remove-user"> Remove
                                    
                                      <img alt="delete" src="../../../../../assets/img/close-form.svg">
                                    </span>
                                    </div>
              
                                   
                                </div>
                              
                             <div class="add-file"  (click)="addnewFile()">
                        
                                     <label for="upload-photo"><img src="../../../../../assets/img/plus.png" alt=""  width="20px">Add New</label>
                                 
                               </div>
              
                         </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="full-width accordion-sec">
        <div class="accordion" id="accordionExampleSix">
          <div class="section-in">
            <div class="card">
              <div class="card-header bg-gray relative" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <span class="textportion">Rejection Comments</span>
                    <span class="imgportion"><img
                        src="../../../../../../assets/img/round-circle.svg"></span>
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="bg-gray collapse show" aria-labelledby="headingSix"
                data-parent="#accordionExampleSix">
                <div class="card-body">
                  <div class="full-width">
                    <div class="full-width left-rht">
                      <p class="rejected-dt p-3 m-0">October 5th 2020, 10:55:10 - X out of X passed. Internal Audit identified that invoices</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
         <!-- Added new accordion for preparer - Oct 5 Start -->
         <!-- <div class="full-width accordion-sec">
          <div class="accordion" id="accordionExampleThree">
              <div class="section-in">
                  <div class="card">
                      <div class="card-header bg-gray relative" id="headingThree">
                          <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                  data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                                  <span class="textportion">Select Preparer</span>
                                  <span class="imgportion"><img
                                          src="../../../../../../assets/img/round-circle.svg"></span>
                              </button>
                          </h2>
                      </div>
                      <div id="collapseFour" class="bg-gray collapse show" aria-labelledby="headingThree"
                          data-parent="#accordionExampleThree">
                          <div class="card-body">
                              <div class="full-width">
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-12">
                                        <div class="full-width col-md-12 col-sm-12 col-xs-12">
                                          <ul class="select-preparer-list">
                                            <li>
                                              <input type="checkbox" id="preparer1" />
                                              <label for="preparer1">
                                                <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                                <p>Jonas</p>
                                              </label>
                                            </li>
                                            <li>
                                              <input type="checkbox" id="preparer2" />
                                              <label for="preparer2">
                                              <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                              <p>Simon</p>
                                            </label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="preparer3" />
                                              <label for="preparer3">
                                                <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                                <p>Jackson</p>
                                                </label>
                                            </li>
                                            <li>
                                              <input type="checkbox" id="preparer4" />
                                              <label for="preparer4">
                                              <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                              <p>Amelia</p>
                                              </label>
                                          </li> 
                                          </ul>
                                            
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
        <!-- Added new accordion for preparer - Oct 5 End -->



                </div>
                <div class="full-width button-container row m-">
                
                  
              <button class="big-button yellow-btn  animation-save left-side" (click)="saveForm()">
                <span>Save</span>
                <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                Saving workstep...</span>
              <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                Saved</span>
            </button>
            <button class="big-button orange-btn left-side" (click)="rejetWorkStep()">Reject</button>
         
              <button class="big-button purple-btn">Open Issue</button>
          
          
            <!-- <button class="big-button purple-btn">Delegate</button> -->
            <!-- <button class="big-button orange-btn">Reject</button>
            <button class="big-button green-btn right-side">Approve</button> -->
            <button class="big-button green-btn right-side animation-submit" style="display: none;">
              <span>Approve</span>
              <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                Approving...</span>
              <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                Approved </span>
            </button>
            <button class="big-button animation-submit right-side" (click)="submitForm()">
                <span>Submit</span>
                      <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                        Submitting...</span>
                    <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                      submitted </span>
            </button>
                </div>

                <!-- <div class="full-width button-container">
                  <button class="big-button yellow-btn">Save</button>
                   <button class="big-button purple-btn">Delegate</button>
               <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button right-side">Submit</button>
                </div> -->
              </tab>
              <!-- <tab> -->
              <!-- <ng-template tabHeading> -->
              <!-- ######## updated 05-03-2020 starts ########-->
              <!-- <span>Actions</span> -->
              <!-- ######## updated 05-03-2020 ends ########-->
              <!-- </ng-template> -->
              <!-- <div class="tabContent-box">
                <div class="full-width table-style">
                  <div class="full-width">
                    <table class="table">
                      <thead>
                      
                        <tr>
                          <th scope="col">Action ID</th>
                          <th scope="col">Action Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Action Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Key Action</th>
                        </tr>
                       
                      </thead>
                      <tbody>
                        
                         <tr *ngFor="let action1 of assignedAction">
                          <td>{{action1.actionId}}</td>
                          <td>{{action1.actionName}}</td>
                          <td>{{action1.actionDescription}}</td>
                          <td>{{action1.area}}</td>
                          <td>{{action1.area}}</td>
                          <td>{{action1.keyAction}}</td>
                        </tr>
                     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->
              <!-- </tab> -->
              <tab>
                <ng-template tabHeading>
                  <span>Actions</span>
                </ng-template>
                <div class="tabContent-box">
                  <div class="full-width table-style action-issue-table-block">
                    <div class="full-width table-style mt-3">
                      <div class="full-width action-header">
                        <h4>Action part of Issue</h4>
                      </div>
                    </div>
                    <div class="full-width overflow-auto mt-2">
                      <table id="issueActionTable" class="display table-dashboard" style="width:100%">
                        <thead>
                          <tr>
                            <th></th>
                            <th>
                              <input name="select_all" value="1" id="issueAction-select-all" type="checkbox" />
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>  
                            <th scope="col">Description</th>
                            <th scope="col">Area</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-centerng">Action</th>
                          </tr>
                        </thead>
    
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td></td>
                            <td>Action ID</td>
                            <td>Action Name</td>
                            <td>XXXXX</td>
                            <td>Area</td>
                            <td>Yes</td>
                            <td align="center">
                              <div class="dropdown show action-dropdown position-relative ">
                                  <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-text">
                                    <ul>
                                      <li>
                                          <a class="delete-btn">
                                              <img src="assets/img/delete_button.svg" alt="Delete">
                                              <span>Delete</span>
                                         </a>
                                      </li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
    
                  <div class="full-width overflow-auto mt-3 action-selection-table-block position-relative">
                    <div class="full-width action-header">
                      <h4 class="float-left">Action Selection</h4>
                      <button type="button" class="float-right mr-3 green-btn">Add Selected To Issue</button>
              
                    </div>
                  <table id="issueActionSelectedTable" class="display table-dashboard" style="width:100%">
                    <thead>
                      <tr>
                        <th></th>
                        <th>
                          <input name="select_all" value="1" id="issueActionSelected-select-all" type="checkbox" />
                        </th>
                        <th>Area</th>
                        <th>Action ID</th>
                        <th>Action Name</th>
                        <th>Action Description</th>
                        <th>Approver</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td></td>
                        <td>Area</td>
                        <td>
                          <a class="undeline-anchor" href="javascript:void(0);">ID001</a>
                        </td>
                        <td>Name</td>
                        <td>ddd</td>
                        <td>Yes</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div> 
              </tab>
              <tab>
                <ng-template tabHeading>
                  <span>Admin</span>
                </ng-template>
                <div class="tabContent-box">
                  <div class="full-width">
                    <div class="row">
                      <div class="three-share">
                        <div class="full-width heading-sec-form">
                          <h4 class="headind-form">
                            <span>Information</span>
                          </h4>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Company Name</label>
                            <input class="form-control" type="text" />
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Location</label>
                            <input class="form-control" type="text" />
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>B.U. Name</label>
                            <input class="form-control" type="text" />
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Business Process Name</label>
                            <input class="form-control" type="text" />
                          </div>
                        </div>
                      </div>
                      <div class="three-share">
                        <div class="full-width heading-sec-form">
                          <h4 class="headind-form">
                            <span>Dates</span>
                          </h4>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Identified On</label>
                            <div class="full-width relative">
                              <input
                                type="text"
                                placeholder="Select Date"
                               
                                class="form-control calendar-icon"
                                placement="bottom"
                                bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Approved On</label>
  
                            <div class="full-width relative">
                              <input
                                type="text"
                                placeholder="Select Date"
                                
                                class="form-control calendar-icon"
                                bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                              />
                            </div>
                          </div>
                        </div>
  
                        <div class="full-width">
                          <div class="form-group">
                            <label>Area</label>
                            <select
                              class="form-control form-control-sm"
                              
                            >
                              <option value="">Select</option>
  
                 
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="three-share">
                        <div class="full-width heading-sec-form">
                          <h4 class="headind-form">
                            <span>People</span>
                          </h4>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Identified By</label>
                            <input
                              class="form-control"
                              
                              type="text"
                            />
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Identifier ID</label>
                            <input
                              class="form-control"
                              
                              type="text"
                            />
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Approved By</label>
  
                            <input
                              class="form-control"
                              
                              type="text"
                            />
                          </div>
                        </div>
                        <div class="full-width">
                          <div class="form-group">
                            <label>Approved ID</label>
  
                            <input
                              class="form-control"
                              
                              type="text"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
  
    </div>
  </div>
