<div class="calendar-inner-content relative" >
    <h1>{{name}}</h1>
    <ngx-ts *ngIf="this.displayCalendar" [items]="items" [periods]="periods" [sections]="sections" [events]="events" [showBusinessDayOnly]="false" [allowDragging]="false"></ngx-ts>
    <div class="clickSec" (click)="modalClick()">

    </div>
</div>


