<div class="full-width clearfix" *ngIf="viewFileRoom">
  <div class="controls" style="border: none; width: 100%;"></div>
  <div class="room" style="width: 100%;">
    <div class="room-header clearfix">
      <div class="room-about">
        <div class="room-title">File Rooms</div>
        <div class="room-num-rooms">Room(s)</div>
      </div>
      <i class="fa fa-th-list"></i>
    </div>
    <!-- end room-header -->
    <!-- <div class="room-create clearfix" style="border-bottom: 2px solid white;">
      <input
        type="text"
        name="title"
        autofocus
        placeholder="Type a new room"
        [(ngModel)]="roomTitle"
      />
      <button (click)="addRoom(roomTitle)">Create</button>
    </div> -->
    <!-- end room-create -->

    <div class="room-list">
      <ul *ngIf="rooms.length; else messageBlock">
        <!-- <h4>Rooms</h4> -->
        <li *ngFor="let room of rooms">
          <a (click)="openFileroom(room._id)">
            {{
              room.title.length > 25
                ? room.title.substr(0, 25) + "..."
                : room.title
            }}
          </a>
          <!-- <a
          (click)="removeFileroom(room._id)"
          style="float:Right; background-color:#5a4296; border-radius: 10px; height: 25px;width: 25px; text-align: center;"
        >
          <img
            src="../../../../../../assets/img/trash.png"
            class="img-delete"
          />
        </a> -->
        </li>
      </ul>
      <ng-template #messageBlock>
        <p class="message" style="text-align:center; padding:5px; margin:0;">
          Nothing to Show! Please create your first room from Chat!
        </p>
      </ng-template>
    </div>
    <!-- end room-list -->
  </div>
  <!-- end room -->
</div>
<div *ngIf="inTray">
  <app-tray></app-tray>
</div>
