<div class="audit-table-header no-padding">
  <div class="row multiple-search">
    <div class="col-sm-8 col-lg-8 table-select-search">
      <div class="full-width">
        <div class="form-group col-sm-5 col-lg-3 no-padding">
          <div class="full-width pne">
            <div class="search-select">
              <select class="form-control wd-100">
                <option>Location</option>
                <option>Phillipines</option>
                <option>DRC</option>
                <option>Queesnland</option>
                <option>Chile</option>
                <option>Peru</option>
                <option>Quebec</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-5 col-lg-3 no-padding">
          <div class="search-select wd-100">
            <select class="form-control wd-100">
              <option>Site</option>
              <option>Mutanda</option>
              <option>Pasar</option>
              <option>Ernest Henry</option>
              <option>Collahuasi</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 table-icon-list float-right text-right">
      <div class="full-width">
        <a class="tooltip">
          <span class="tooltiptext triple-word">Add Cost Reporting</span>
          <img src="assets/img/add_button.svg" alt="Add" />
        </a>
        <a href="#" class="tooltip">
          <span class="tooltiptext">Print</span>
          <img src="assets/img/print_button.svg" alt="Print" />
        </a>
        <div class="dropdown export-dropdown">
          <a
            class="tooltip btn"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="tooltiptext">Export</span>
          </a>
          <div class="dropdown-menu export-dropdown-menu"></div>
        </div>
        <div class="filter-dropdown-column">
          <a class="tooltip m-0">
            <span class="tooltiptext">Customize Table</span>
            <img
              src="assets/img/settings.svg"
              alt="Customize Table"
              (click)="SettingCostreporting($event)"
              class="click-icon"
            />
          </a>
          <div class="dropdown-menu-column" id="dropDown">
            <a
              class="dropdown-item-column costReporting-hideshow"
              [attr.data-column]="i"
              *ngFor="
                let costReportingListColumn of showHideHeadercostReporting;
                index as i
              "
              style="margin-left: 0px; cursor: pointer"
            >
              <label>
                <input
                  class="checkbox"
                  type="checkbox"
                  value="{{ costReportingListColumn }}"
                  checked
                /><span class="filter-text">{{ costReportingListColumn }}</span>
              </label>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table
  id="costReportingTable"
  class="display fullDataTable"
  style="width: 100%"
>
  <caption></caption>
  <thead>
    <tr>
      <th></th>
      <th>
        <input
          type="checkbox"
          name="select_all"
          value="1"
          id="cost-reporting-select-all"
        />
      </th>
      <th>Auditable Entity</th>
      <th>Scope</th>
      <th>Audit ID</th>
      <th>Budgeted Hours</th>
      <th>Actual Hours</th>
      <th>Under/Over</th>
      <th>Progress</th>
      <th>Projected Hours left</th>
      <th>Completed</th>
      <th class="text-center action-block">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let response of auditList; let i = index">
      <td id="">>{{ i + 1 }}</td>
      <td id="">></td>
      <td id="">class="reorder-row">{{ response.auditableEntity }}</td>
      <td id="">class="reorder-row">{{ response.scope }}</td>
      <td id="">
        class="reorder-row">
        <a
          (click)="loadMyCityId()"
          class="btn risk-btn link"
          *ngIf="response.auditId"
          >{{ response.auditId }}</a
        >
      </td>
      <td id="">class="reorder-row">{{ response.budget }}</td>
      <td id="">class="reorder-row">0</td>
      <td id="">class="reorder-row">--</td>
      <td id="">
        class="reorder-row">
        <div class="slidecontainer">
          <input
            type="range"
            min="1"
            max="10"
            [value]="response.riskStatus"
            [ngClass]="{
              medium: response.riskStatus > 7,
              'very-low': response.riskStatus > 3 && response.riskStatus <= 7,
              'very-high': response.riskStatus > 0 && response.riskStatus <= 3
            }"
            class="range-control {{response.riskStatus}"
            disabled
          />
        </div>
      </td>
      <td id="">class="reorder-row">0</td>
      <td id="">
        class="chk-align reorder-row">
        <label class="checkbox">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </td>
      <td id="">
        class="align">
        <div class="dropdown show action-dropdown position-relative">
          <a
            class="btn dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-text">
            <ul>
              <li>
                <a class="edit-btn">
                  <img src="assets/img/edit_button.svg" alt="Edit" />
                  <span>Edit</span>
                </a>
              </li>
              <li>
                <a class="delete-btn">
                  <img src="assets/img/delete_button.svg" alt="Delete" />
                  <span>Delete</span>
                </a>
              </li>
              <li>
                <a class="duplicate-btn">
                  <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                  <span>Duplicate</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
