.audit-table-header {
  .icon-list {
    a {
      margin-left: 15px;
    }
  }
}
.chk-align {
  .checkbox {
    .checkmark {
      top: 50%;
      left: 40%;
      margin-top: -1px;
    }
  }
}

table.dataTable tbody td {
  padding: 8px 4px 8px 8px;

  table.dataTable thead th {
    padding: 8px 4px;
  }
}

.link {
  line-height: initial;
}

@media (max-width: 991px) {
  .icon-list {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .table-select-search .form-group:first-child {
    padding: 0;
    margin-right: 10px;
  }
  .table-select-search .form-group:last-child {
    padding-left: 0px;
  }
}
.audit-table-header .multiple-search .table-select-search .pne select {
  margin-left: 0px;
}
.align {
  text-align: center;
}
