
<app-header (classGenerated)="onclassGenerated($event)"></app-header >
  <div class="container-equal">  
  
    <app-sidebar (numberGenerated)="onNumberGenerated($event)"></app-sidebar>
    <div class="main-content-area toggled" [class.toggled]="randomNumber">
      <div class="full-width relative chat-hide" [class.toggled]="randomClass">
        <app-collaboration-elements></app-collaboration-elements>
      </div>
      <router-outlet></router-outlet>
    </div>

<div class="back-drop-container"></div>
    <app-chat-popup-sec></app-chat-popup-sec>
  