.role-box .duration .duration-inner .article{
  width: 50px;
  height: 50px;
  padding: 0px;
  float: left;
  position: relative;
}

.date-format{
  width: 100%;
  height: 100%;
  float: left;
}

.details-calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
  p.cmp{
      margin-bottom: 1px;
      &.month-p{
          font-size: 10px;
          color: #5c5d60;
      }
      &.date-p{
          font-size: 15px;
          color: #664da0;
          font-weight: 700;
      }
      &.year-p{
          font-size: 10px;
          color: #5c5d60; 
      }
  } 
}


.calendarIcon{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
img{
  width: 20px;
}
}
.inputAbsolute{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  cursor: pointer;
  opacity: 0;
  .form-group input{
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
  }
}

.role-box .duration .duration-inner{
  width: 50px;
}


.user-icon {
  .user-text {
    width: 80px;
    z-index: 999;

      .close-icon {
        cursor: pointer;
          img {
            width: 17px;
            height: 17px;
            border: 1px solid #fff;
            float: none;
            margin: -1px 0px 0px 3px;
            padding: 2px;
          }
        }
  }
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
} 

.ngAutocomplete{
  width: 110px;
  float: left;
  position: relative;
  padding-left: 10px;
}
.ngAutocomplete .ng-autocomplete{
  width: 100% !important;
}

.role-box .assignees button.close{
  left: inherit;
  right: 6px;
  transform: inherit;
}
.autocomplete-container .suggestions-container{
  top: 100%;
  margin-top: 2px;
}


.editSection{
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
  right:0px;
  width: 150px;
  border: 1px solid #cbcbcb;
  padding: 10px;
  background-color: #fff;
  z-index: 99;
  &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-width: 7px;
      border-style: solid;
      border-color: #fff transparent transparent;
      transform: rotate(180deg);
  }
  &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 49%;
      border-width: 8px;
      border-style: solid;
      border-color: #cbcbcb transparent transparent;
      transform: rotate(180deg);
  }
}

button.saveTooltip{
  background: #664da0 !important;
  color: #fff;
  padding: 6px 10px !important;
  border-radius: 10px;
  font-size: 10px !important;
  float: right !important;
  margin: 0px !important;
  min-width: 55px !important;
  border: 1px solid #664da0 !important;
}
.onoffswitch-label{
  background: #98aa3a;
}
.cursorPointer{
  cursor: pointer;
}
.button-Cls{
  margin-top: 10px;
}
.cancelTooltip{
  background: #fff !important;
  color: #664da0;
  border: 1px solid #664da0 !important;
  padding: 6px 10px !important;
  border-radius: 10px;
  font-size: 10px !important;
  float: left !important;
  margin: 0px !important;
  min-width: 55px !important;
}


.user-icon .onoffswitch-inner:before{
  content: "";
}
.user-icon .onoffswitch-inner:after{
  content: "";
  background-color: #98aa3a;
}
.Before{
  padding-left: 10px;
  float: left;
}
.After{
  padding-right: 10px;
  float: left;
}
.RepetationStatus{
  position: absolute;
  left: 175px;
  top: -22px;
  padding:0px;
  color: #fff; 
  font-weight: 600;
  select:focus{
    outline: 0;
    border-color: #cbcbcb;
    box-shadow: none;
  }
}
.text-center{
  text-align: center;
}