<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg">

  </div>
  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <h4 *ngIf="!newWF">Workflow: <b>{{controlnWorkflowFormData.controlWFId }}</b> <span style="padding: 30px" >{{controlnWorkflowFormData.controlWorkFlowName}}</span></h4>
      <h4 *ngIf="newWF">New Workflow</h4>
    </div>

    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate"> Duplicate</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export"> Export</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print"> Print</a>
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
          <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
        </li>
      </ul>
    </div>
  </div>



  <div class="scroll-container">

    <div class="full-width tab-section-container">
      <div class="full-width">
        <tabset class="tab-block"#wfControlForm>
          <tab>
            <ng-template tabHeading>
              <span class="tabOne">Workflow</span>
            </ng-template>
            <div class="full-width">

              <div class="full-width">

                <ul class="catalog">
                  <li class="yellow">
                    <b>W</b>
                    <p>Warning</p>
                  </li>
                  <li class="orange">
                    <b>E</b>
                    <p>Escalation</p>
                  </li>
                  <li>
                    <b>R</b>
                    <p>Reminder</p>
                  </li>
                  <li class="purple">
                    <b>N</b>
                    <p>Notify</p>
                  </li>
                </ul>
              </div>

              <div class="role-box">
                <h2>Execution <span><input class="editablevalus" type="number" [(ngModel)]="controlnWorkflowFormData.execution"> <sup>%</sup></span></h2>
                <div class="RepetationStatus">
          
                  <select  class="form-control" #mySelect [(ngModel)]="selectedFrequency" (change)='onFrequencyChanged(mySelect.value)'>
                <option value="">Select Frequency</option>

                  <!-- <option value="" [disabled]="true"> Select Risk Department </option> -->
                  <option  
                    selected
                    *ngFor="let source of masterFrequency"
                    [value]="source.status"
                  >
                    {{ source.status }}</option>
                </select>
                  <!-- <select class="form-control" #mySelect [value]="controlnWorkflowFormData.frequency"
                  (change)='onFrequencyChanged(mySelect.value)'>
                  
                    <option *ngFor="let source of masterFrequency" [value]="source.status">
                      {{ source.status }}</option>
                  </select> -->
                </div>
                <div class="full-width">
                  <div class="assignees">
                    <p>Assignee(s)</p>
                    <ul *ngIf="controlnWorkflowFormData.exAssignee">
                      <li class="user-icon" *ngFor="let user of controlnWorkflowFormData.exAssignee,let i=index">
                          <div class="user-text">
                            <span class="d-block">{{user}}</span>
                            <span class="close-icon" id="remove-user">Remove
                            <img  (click)="removeUser(user,i)" src="../../../../../assets/img/close-form.svg"></span>
                          </div>
                          <img src="../../../../../assets/img/profile-dummy.png">
                      </li>
                      <li class="user-icon multi-user-icon">
                        <div class="user-text">
                          <span class="d-block">John</span>
                          <span class="d-block">Johny</span>
                          <span class="d-block">Tommy</span>
                          <span class="close-icon" id="remove-user">Remove
                          <img  src="../../../../../assets/img/close-form.svg"></span>
                        </div>
                        <img src="../../../../../assets/img/group-profile.png">
                    </li>                     
                    </ul>
                    <button (click)="openSearch()" [ngClass]="{'d-none' : validateFlag}" class="tooltip">
                      <span class="tooltiptext doble-word">Add User</span>
                      <img src="../../../../../assets/img/add_assignee.svg">
                    </button>
                    <div class="ngAutocomplete" *ngIf="validateFlag">
                      <ng-autocomplete  [data]="userList" (selected)='selectEvent($event)' [searchKeyword]="keyword" (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' historyIdentifier="userList" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>
                      <button (click)="closeSearch()" class="close" *ngIf="validateFlag"><img src="../../../../../assets/img/close-form.svg"></button>
                    </div>
                   

                    <ng-template #itemTemplate let-item style="color:black!important;">
                      <a [innerHTML]="item.UserName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                    <!-- <input class="autoSearch" id="findUser" *ngIf="validateFlag" type="text" (keyup)="onKey($event)"> -->
                    
                  </div>
                  <div class="duration">
                    <div class="duration-inner">
                      <div class="article">
                        <div class="date-format" *ngIf="calendarIcon">
                          <div class="calendarIcon" >
                              <img src="../../../../../assets/img/booking.svg" class="calendarImg">
                          </div>
                
                        </div>

                        <div class="details-calendar">
                          <p class="cmp month-p">{{controlnWorkflowFormData.exStart | date:'MMM'}}</p>
                          <p class="cmp date-p">{{controlnWorkflowFormData.exStart | date:'dd'}}</p>
                          <p class="cmp year-p">{{controlnWorkflowFormData.exStart | date:'yyyy'}}</p>

                      </div>

                      <div class="inputAbsolute">
                        <div class="form-group">
                          <input
                          (bsValueChange)="onValueChange($event)"
                          class="form-control calendar-icon"
                          #datepickerFull="bsDatepicker"
                          bsDatepicker 
                          [bsConfig]="{ dateInputFormat: 'MM DD YYYY' }"
                          placement="left">
                        </div>
                      </div>

                        </div>
                      <span>START</span>
                    </div>
                    <div class="foloting-days">
                      <p>{{controlnWorkflowFormData.exDuration}} Days</p>
                      <span>DURATION</span>
                    </div>
                    <div class="duration-inner float-right">
                      <div class="article">
                        <div class="date-format" *ngIf="calendarIconEnd">
                          <div class="calendarIcon" >
                              <img src="../../../../../assets/img/booking.svg" class="calendarImg">
                          </div>
                
                        </div>

                        <div class="details-calendar">
                          <p class="cmp month-p">{{controlnWorkflowFormData.exEnd | date:'MMM'}}</p>
                          <p class="cmp date-p">{{controlnWorkflowFormData.exEnd | date:'dd'}}</p>
                          <p class="cmp year-p">{{controlnWorkflowFormData.exEnd | date:'yyyy'}}</p>

                      </div>

                      <div class="inputAbsolute">
                        <div class="form-group">
                          <input
                          (bsValueChange)="onValueChangeEnd($event)"
                          class="form-control calendar-icon"
                          #datepickerFull="bsDatepicker"
                          bsDatepicker 
                          [bsConfig]="{ dateInputFormat: 'MMM D YYYY' }"
                          placement="left">
                        </div>
                      </div>
                      </div>
                      <span>END</span>
                    </div>
                  </div>
                </div>

                <div class="full-width">
                  <ul class="excution-details">
                    <li>
                      <b>R</b>
                      <div class="assignees asini">                                            
                        <ul *ngIf="controlnWorkflowFormData.exAssignee">
                          <li class="user-icon" *ngFor="let user of controlnWorkflowFormData.exAssignee,let i=index">
                            <div class="user-text">
                              <span class="d-block" style="color:#ffffff;border:none">{{user}}</span>
                            </div>
                            <img src="../../../../../assets/img/profile-dummy.png">
                          </li>
                          <li class="user-icon multi-user-icon">
                            <div class="user-text">
                              <span class="d-block" style="color:#ffffff;border:none">John</span>
                              <span class="d-block" style="color:#ffffff;border:none">Johny</span>
                              <span class="d-block" style="color:#ffffff;border:none">Tommy</span>
                            </div>
                            <img src="../../../../../assets/img/group-profile.png">
                          </li>
                        </ul>                                            
                      </div>
                      <!-- <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span>
                        <img src="../../../../../assets/img/add_assignee.svg">
                      </button> -->
                      <p>Assignee(s)</p>
                      
                      <div class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{controlnWorkflowFormData.beforefive}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="5"> days Before</span>

                          <div class="editSection" *ngIf="Editreminder">
                            <div class="full-width">
                              <div class="form-group">
                                <label for="comment">Days</label>
                                <input type="number" class="form-control">
                              </div>
                            </div>
                            <div class="full-width">
                              <div class="After">
                                <p>After</p>
                              </div>
                              <div class="button-radio">
                                <div class="onoffswitch">
                                  <input type="checkbox" name="afterBeforebutton" class="onoffswitch-checkbox attch" id="afterBefore" checked >
                                  <label class="onoffswitch-label" for="afterBefore">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                  </label>
                                </div>
        
                              </div>
                              <div class="Before">
                                  <p>Before</p>
                                </div>
                            </div>
                            <div class="full-width button-Cls">
                                <button class="cancelTooltip" (click)="cancelClick()">Cancel</button>
                              <button class="saveTooltip">Save</button>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li class="yellow">
                      <b>W</b>
                      <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span>
                        <img src="../../../../../assets/img/add_assignee.svg">
                      </button>
                      <p>Head RM / ZH</p>
                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{this.controlnWorkflowFormData.afterfive}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="5"> days After</span>
                      </p>
                    </li>
                    <li class="orange">
                      <b>E</b>
                      <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span>
                        <img src="../../../../../assets/img/add_assignee.svg">
                      </button>
                      <p>CAE</p>
                      <p>RAM</p>
                      <p>BU Head</p>
                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{this.controlnWorkflowFormData.afterfourteen}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="14"> days After</span>
                      </p>
                    </li>
                    <li class="purple">
                      <b>N</b>
                      <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span>
                        <img src="../../../../../assets/img/add_assignee.svg">
                      </button>
                      <p>CAE</p>
                      <p>RAM</p>
                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{this.controlnWorkflowFormData.afterfive}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="5"> days After</span>
                      </p>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="role-box">
                <h2>Approval <span><input class="editablevalus" type="number"
                   [(ngModel)]="controlnWorkflowFormData.approval"><sup>%</sup></span></h2>

                <div class="full-width">
                    <div class="assignees">
                      <p>Assignee(s)</p>
                      <ul *ngIf="controlnWorkflowFormData.apAssignee">
                        <li class="user-icon" *ngFor="let user of controlnWorkflowFormData.apAssignee,let i=index">
                            <div class="user-text">
                              <span class="d-block">{{user}}</span>
                              <span class="close-icon" id="remove-user">Remove
                              <img  (click)="removeUserAp(user,i)" src="../../../../../assets/img/close-form.svg"></span>
                            </div>
                            <img src="../../../../../assets/img/profile-dummy.png">
                        </li>
                        <li class="user-icon multi-user-icon">
                          <div class="user-text">
                            <span class="d-block">John</span>
                            <span class="d-block">Johny</span>
                            <span class="d-block">Tommy</span>
                            <span class="close-icon" id="remove-user">Remove
                            <img src="../../../../../assets/img/close-form.svg"></span>
                          </div>
                          <img src="../../../../../assets/img/group-profile.png">
                      </li>                      
                      </ul>
                      <button (click)="openSearchAp()" [ngClass]="{'d-none' : validateFlag2}"><img src="../../../../../assets/img/add_assignee.svg"></button>
                      <div class="ngAutocomplete" *ngIf="validateFlag2">
                        <ng-autocomplete  [data]="userList" (selected)='selectEventAp($event)' [searchKeyword]="keyword" (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' historyIdentifier="userList" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <button (click)="closeSearchAp()" class="close" *ngIf="validateFlag2"><img src="../../../../../assets/img/close-form.svg"></button>
                      </div>
                      
  
                      <ng-template #itemTemplate let-item style="color:black!important;">
                        <a [innerHTML]="item.UserName"></a>
                      </ng-template>
  
                      <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>
                      <!-- <input class="autoSearch" id="findUser" *ngIf="validateFlag" type="text" (keyup)="onKey($event)"> -->
                     
                    </div>
                    <div class="duration">
                      <div class="duration-inner">
                        <div class="article"> 
                          <div class="date-format" *ngIf="calendarIconApproval">
                            <div class="calendarIcon" >
                                <img src="../../../../../assets/img/booking.svg" class="calendarImg">
                            </div>
                  
                          </div>
                          <div class="details-calendar">
                            <!-- <h4>Test : {{controlnWorkflowFormData}} </h4> -->
                            <p class="cmp month-p">{{controlnWorkflowFormData.apStart | date:'MMM'}}</p>
                            <p class="cmp date-p">{{controlnWorkflowFormData.apStart | date:'dd'}}</p>
                            <p class="cmp year-p">{{controlnWorkflowFormData.apStart | date:'yyyy'}}</p>

                        </div>

                        <div class="inputAbsolute">
                          <div class="form-group">
                            <input
                            (bsValueChange)="onValueChangeSec($event)"
                            class="form-control calendar-icon"
                            #datepickerFull="bsDatepicker"
                            bsDatepicker 
                            [bsConfig]="{ dateInputFormat: 'MMM D YYYY' }"
                            placement="top">
                          </div>
                        </div>
                       
                        </div>
                        <span>START</span>
                      </div>
                      <div class="foloting-days">
                        <p>{{controlnWorkflowFormData.apDuration}} Days</p>
                        <span>DURATION</span>
                      </div>
                      <div class="duration-inner float-right">
                        <div class="article">
                          <div class="date-format" *ngIf="calendarIconApprovalEnd">
                            <div class="calendarIcon" >
                                <img src="../../../../../assets/img/booking.svg" class="calendarImg">
                            </div>
                  
                          </div>
                          <div class="details-calendar">
                            <p class="cmp month-p">{{controlnWorkflowFormData.apEnd | date:'MMM'}}</p>
                            <p class="cmp date-p">{{controlnWorkflowFormData.apEnd | date:'dd'}}</p>
                            <p class="cmp year-p">{{controlnWorkflowFormData.apEnd | date:'yyyy'}}</p>

                        </div>

                        <div class="inputAbsolute">
                          <div class="form-group">
                            <input
                            (bsValueChange)="onValueChangeSecEnd($event)"
                            class="form-control calendar-icon"
                            #datepickerFull="bsDatepicker"
                            bsDatepicker 
                            [bsConfig]="{ dateInputFormat: 'MMM D YYYY' }"
                            placement="top">
                          </div>
                        </div>
                       
                        </div>
                        <span>END</span>
                      </div>
                    </div>
                  </div>

                <div class="full-width">
                  <ul class="excution-details">
                    <li>
                      <b>R</b>
                      <div class="assignees asini">                                            
                        <ul *ngIf="controlnWorkflowFormData.apAssignee">
                          <li class="user-icon" *ngFor="let user of controlnWorkflowFormData.apAssignee,let i=index">
                            <div class="user-text">
                              <span class="d-block" style="color:#ffffff;border:none">{{user}}</span>
                            </div>
                            <img src="../../../../../assets/img/profile-dummy.png">
                          </li>
                          <li class="user-icon multi-user-icon">
                            <div class="user-text">
                              <span class="d-block" style="color:#ffffff;border:none">John</span>
                              <span class="d-block" style="color:#ffffff;border:none">Johny</span>
                              <span class="d-block" style="color:#ffffff;border:none">Tommy</span>
                            </div>
                            <img src="../../../../../assets/img/group-profile.png">
                          </li>
                        </ul>                                            
                      </div>
                      <!-- <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span><img src="../../../../../assets/img/add_assignee.svg"></button>-->
                      <p>Assignee(s)</p> 
                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{controlnWorkflowFormData.beforefiveAp}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="5"> days Before</span>
           
                      </p>
                    </li>
                    <li class="yellow">
                      <b>W</b>
                      <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span><img src="../../../../../assets/img/add_assignee.svg"></button>
                      <p>Auditees</p>
                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{controlnWorkflowFormData.afterfiveAp}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="5"> days After</span>
                      </p>
                    </li>
                    <li class="orange">
                      <b>E</b>
                      <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span><img src="../../../../../assets/img/add_assignee.svg"></button>
                      <p>CAE</p>
                      <p>RAM</p>

                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{controlnWorkflowFormData.afterfourteenAp}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="14"> days After</span>
                      </p>
                    </li>
                    <li class="purple">
                      <b>N</b>
                      <button class="tooltip">
                        <span class="tooltiptext doble-word">Add User</span><img src="../../../../../assets/img/add_assignee.svg"></button>
                      <p>CAE</p>
                      <p>RAM</p>
                      <p class="user-icon float-right">
                          <span class="user-text border-0 p-0">{{controlnWorkflowFormData.beforefiveAp}}</span>
                          <span class="p-0"><input class="daysAB" placeholder="5"> days After</span>
                      </p>
                    </li>
                  </ul>
                </div>


              </div>

              <div class="full-width action-buttons mt-3">
                <button class="add-step">ADD STEP</button>
                <button class="save" (click)="save()">SAVE</button>
              </div>

            </div>

          </tab>



          <tab>
            <ng-template tabHeading>
              <span>Control</span>
            </ng-template>
            <div class="tabContent-box">
              
                <div class="full-width table-style mt-4">
                    <div class="full-width action-header">
                      <h4>Control with the same Work flow</h4>
                    </div>

                    <div class="full-width overflow-auto">
                      <table class="table bold-head">
                        <thead>
                          <tr>
                            <!-- <th scope="col">Area</th> -->
                            <th scope="col">Control Id</th>
                            <th scope="col">Control Name</th>

                        
                           <th scope="col">Control Description</th>
                            <!-- <th scope="col">Approver</th> -->
                            <th scope="col" class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let control of controlList;let i = index">
                            <!-- <td>{{control.area}}</td> -->
                            <td>{{control.controlId}}</td>
                            <td>{{control.controlName}}</td>
                            <td>{{control.controlDescription |slice:0:20}}..</td>
                            <!-- <td>{{control.approvedBy}}</td> -->
                            <td class="edit-delete-icon normal-table">
                              <a *ngIf = 'i!=0'class="delete-btn">
                                <img (click)="deleteControl(control.controlId)"
                                  src="assets/img/delete_button.svg"
                                  alt="Delete"
                                />
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    
                  </div>
              <div class="full-width table-style">
                <div class="full-width action-header">
                  <h5 class="float-left">Control Selection</h5>
                  <!-- <button class="float-right" (click)="removeAction()">Remove Selected From Wf</button> -->
                  <button class="float-right mr-3 green-btn" (click)="addControl()">Add Selected To WF</button>

                </div>

                <div class="full-width overflow-auto">
                  <table id="controlWFTable" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>
                          <!-- <input name="select_all" value="1" id="matrix-select-all" type="checkbox" /> -->
                        </th>
                        <!-- <th>Area</th> -->
                        <th>Control ID</th>
                        <th>Control Name</th>
                        <th>Control Description</th>
                        <th>Approver</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of controlTableList;let i = index">
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" value={{data.controlId}}>
                            <span class="checkmark"></span>
                          </label>
  
                        </td>
                        <!-- <td>{{data.area}}</td> -->
                        <td>
                          <a class="undeline-anchor" href="javascript:void(0);">{{data.controlId}}</a>
                        </td>
                        <td>{{data.controlName}}</td>
                        <td>{{(data.controlDescription).slice(0,20)}}...</td>
                        <td>{{data.approvedBy}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                
              </div>


            </div>
            
          </tab>


          <tab>
            <ng-template tabHeading>
              <span>Overview</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="row">
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Information</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Corporate</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.corporate">
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Company name</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.companyName">
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>B.U. Name</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.buName">
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Business Process</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.businessProcess">
                      </div>
                    </div>

                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>Dates</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Added On</label>
                        <div class="full-width relative">
                          <input type="text" 
                          placeholder="Select Date" 
                          class="form-control calendar-icon" 
                          bsDatepicker
                          [(ngModel)]="controlnWorkflowFormData.addedOn"
                          placement="bottom"
                          disabled>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Approved On</label>
                        <div class="full-width relative">
                          <input type="text" 
                          placeholder="Select Date" 
                          class="form-control calendar-icon"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }">
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Last Change On</label>
                        <div class="full-width relative">
                          <input type="text" 
                          placeholder="Select Date" 
                          class="form-control calendar-icon"
                          bsDatepicker
                          [(ngModel)]="controlnWorkflowFormData.lastChangeOn"
                          disabled
                          placement="top">
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="three-share">
                    <div class="full-width heading-sec-form">
                      <h4 class="headind-form">
                        <span>People</span>
                      </h4>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Approved By</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.approvedBy">
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Approver ID</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.approvedId">
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Control Workflow Name</label>
                        <input class="form-control" type="text" [(ngModel)]="controlnWorkflowFormData.controlWorkFlowName">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>