<div class="popup-left-block">
  <div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleOneOne" id="newEditStepForm">
    <div class="close-form" (click)="closeModal()">
      <img src="../../../../../assets/img/close-form.svg">
  
    </div>
    <div class="full-width from-heading-box relative" #myHandleOneOne>
      <div class="text-area-sec">
        <h4 class="field-work-h4">
          <span>WorkStep:</span> Determine if the risk...</h4>
      </div>
  
      <div class="r-number">
        <p class="text-design">WS-A1</p>
      </div>
      <div class="icons-in">
        <ul>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg" alt="Duplicate"> Duplicate</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export">  Export</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print">  Print</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg"></a>
            <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="scroll-container">
      <form>
      
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="new-risk-assessment-form new-work-step-form">
                  <div class="full-width risk-accordion-sec">
                      <div class="accordion" id="accordionExample">
                        <div class="section-in">
                          <div class="card">
                            <div class="card-header bg-gray relative" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <span class="textportion">Information</span>
                                  <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                                </button>
                              </h2>
                            </div>
                        
                            <div id="collapseOne" class="bg-gray collapse edit-work-step-block show" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                <div class="full-width section-inside pr-0">
                                    <div class="row col-lg-12 p-0 m-0">
                                    <div class="col col-lg-1 no-padding">
                                     <h4>Issues</h4>
                                     <button class="btn btn-infom yes btn-red">Yes</button>
                                    </div>
                                    <div class="col col-lg-2">
                                     <h4>Audit ID</h4>
                                     <p class="color-text mb-0">OP 014</p>
                                    </div>
                                    <div class="col col-lg-3 no-padding">
                                        <h4>Audit Title</h4>
                                        <p class="color-text mb-0">Accounts Payable Katanga</p>
                                       </div>
                                    <div class="col col-lg-3 add-user-button no-padding">
                                        <div class="prepare-left">
                                            <h4>Preparer</h4>
                                            <img class="add-user-icon" src="../../../../../assets/img/profile-dummy.png">
                                            <p>Thomas</p>
                                            <!-- <button>
                                                <img class="add-user-icon" src="../../../../../assets/img/add_assignee.svg">
                                              </button>
                                              <p>Add Preparer</p> -->
                                        </div>
                                        <div class="prepare-right">
                                            Preparer on
                                            <div class="full-width relative">
                                              <input type="text" placeholder="10.12.2020" class="form-control" bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-3 add-user-button no-padding">
                                        <div class="prepare-left">
                                            <h4>Reviewer</h4>
                                            <img class="add-user-icon" src="../../../../../assets/img/profile-dummy.png">
                                            <p>Thomas</p>
                                        </div>
                                        <div class="prepare-right">
                                            Reviewer on
                                            <div class="full-width relative">
                                              <input type="text" placeholder="10.12.2020" class="form-control" bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                      
                  <div class="full-width accordion-sec">
                      <div class="accordion" id="accordionExampleOne">
                          <div class="section-in">
                              <div class="card">
                                  <div class="card-header bg-gray relative" id="headingOne">
                                      <h2 class="mb-0">
                                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                              data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                              <!-- <span class="textportion">Risk Definition</span> -->
                                              <span class="imgportion"><img
                                                      src="../../../../../../assets/img/round-circle.svg"></span>
                                          </button>
                                      </h2>
                                  </div>
                                  <div id="collapseTwo" class="bg-gray collapse show" aria-labelledby="headingOne"
                                      data-parent="#accordionExampleOne">
                                      <div class="card-body">
                                          <div class="full-width section-inside">
                                              <div class="row">
                                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                                      <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                                          <div class="form-group">
                                                              <label>Task Description</label>
                                                              <div class="full-width relative wysiwyg-div height-112">
                                                              <angular-editor [config]="editorConfig"></angular-editor>
                                                          </div>
                                                          </div>
                                                      </div>
                                                      
                                                      <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                                        <div class="form-group">
                                                            <label>Work Performed</label>
                                                            <div class="full-width relative wysiwyg-div height-112">
                                                            <angular-editor [config]="editorConfig"></angular-editor>
                                                        </div>
                                                        </div>
                                                    </div>
                                                      
                                                  </div>

                                                  <div class="col-md-4 col-sm-4 col-xs-12 document-upload-box no-padding">
                                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                                        <div class="form-group">
                                                            <label>Reference Documents</label>
                                                            <div class="list-of-uploads">
                                                                <div class="uploadList height-112 box-scroll">
                                                                    <ul>
                                                                      <li>
                                                                        <div class="w-60">
                                                                        <div class="iconimg">
                                                                            <img src="../../../../../../assets/img/pdf-ico.svg" class="mCS_img_loaded">
                                                                        </div> 
                                                                          WP 101 Contract 121 
                                                                      </div>
                                                                      <div class="w-30">
                                                                        02.04.2020 
                                                                      </div>
                                                                      <div class="w-10 text-right box-dropdown">
                                                                        <div class="dropdown show action-dropdown position-relative ">
                                                                          <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <span class="dot"></span>
                                                                            <span class="dot"></span>
                                                                            <span class="dot"></span>
                                                                          </a>
                                                                          <div class="dropdown-menu dropdown-menu-text">
                                                                            <ul>
                                                                              <li>
                                                                                  <a class="delete-btn">
                                                                                    <span>Save as workpaper</span>
                                                                                 </a>
                                                                              </li>
                                                                              <li>
                                                                                <a class="delete-btn">
                                                                                  <span>Remove</span>
                                                                               </a>
                                                                            </li>
                                                                            <li>
                                                                              <a class="delete-btn" (click)="renameDocument()">
                                                                                <span>Rename</span>
                                                                             </a>
                                                                          </li>
                                                                          <li>
                                                                            <a class="delete-btn">
                                                                              <span>Download</span>
                                                                           </a>
                                                                        </li>
                                                                          </ul>
                                                                        </div>
                                                                      </div>
                                                                      </div>
                                                                      </li>
                                                                        <li>
                                                                          <div class="w-60">
                                                                            <div class="iconimg">
                                                                                <img src="../../../../../../assets/img/pdf-ico.svg" class="mCS_img_loaded">
                                                                            </div> 
                                                                              WP 101 Contract 121 
                                                                          </div>
                                                                          <div class="w-30">
                                                                            02.04.2020 
                                                                          </div>
                                                                          <div class="w-10 text-right box-dropdown">
                                                                            <div class="dropdown show action-dropdown position-relative ">
                                                                              <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="dot"></span>
                                                                                <span class="dot"></span>
                                                                                <span class="dot"></span>
                                                                              </a>
                                                                              <div class="dropdown-menu dropdown-menu-text">
                                                                                <ul>
                                                                                  <li>
                                                                                      <a class="delete-btn">
                                                                                        <span>Save as workpaper</span>
                                                                                     </a>
                                                                                  </li>
                                                                                  <li>
                                                                                    <a class="delete-btn">
                                                                                      <span>Remove</span>
                                                                                   </a>
                                                                                </li>
                                                                                <li>
                                                                                  <a class="delete-btn"  (click)="renameDocument()">
                                                                                    <span>Rename</span>
                                                                                 </a>
                                                                              </li>
                                                                              <li>
                                                                                <a class="delete-btn">
                                                                                  <span>Download</span>
                                                                               </a>
                                                                            </li>
                                                                              </ul>
                                                                            </div>
                                                                          </div>
                                                                          </div>
                                                                        </li>
                                                                        </ul>
                                                                        </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding">
                                                      <div class="form-group">
                                                          <label>Working Papers</label>
                                                          <div class="list-of-uploads">
                                                            <div class="uploadList height-112 box-scroll">
                                                                <ul>
                                                                  <li>
                                                                    <div class="w-60">
                                                                      <div class="iconimg">
                                                                          <img src="../../../../../../assets/img/pdf-ico.svg" class="mCS_img_loaded">
                                                                      </div> 
                                                                        WP 101 Contract 121 
                                                                    </div>
                                                                    <div class="w-30">
                                                                      02.04.2020 
                                                                    </div>
                                                                    <div class="w-10 text-right box-dropdown">
                                                                      <div class="dropdown show action-dropdown position-relative ">
                                                                        <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                          <span class="dot"></span>
                                                                          <span class="dot"></span>
                                                                          <span class="dot"></span>
                                                                        </a>
                                                                        <div class="dropdown-menu dropdown-menu-text">
                                                                          <ul>
                                                                            <li>
                                                                                <a class="delete-btn">
                                                                                  <span>Edit workpaper</span>
                                                                               </a>
                                                                            </li>
                                                                            <li>
                                                                              <a class="delete-btn">
                                                                                <span>Remove</span>
                                                                             </a>
                                                                          </li>
                                                                          <li>
                                                                            <a class="delete-btn"  (click)="renameDocument()">
                                                                              <span>Rename</span>
                                                                           </a>
                                                                        </li>
                                                                        <li>
                                                                          <a class="delete-btn">
                                                                            <span>Download</span>
                                                                         </a>
                                                                      </li>
                                                                        </ul>
                                                                      </div>
                                                                    </div>
                                                                    </div>
                                                                  </li>
                                                                  
                                                                    </ul>
                                                                    </div>
                                                    </div>
                                                      </div>
                                                  </div>
                                                    
                                                </div>

                                                <div class="col-md-2 col-sm-2 col-xs-12 upload-file-doc-block no-padding">
                                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding question-container-1">
                                                      <div class="add-file" (click)="addnewFile()">                                                       
                                                        <label for="upload-photo"><img src="../../../../../assets/img/plus.png" alt=""  width="16px">Add New</label>
                                                       </div>
                                                      <!-- <div class="add-file">
                                                        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                                                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                                                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                                              <label for="upload-photo"><img src="../../../../../assets/img/plus.png" (click)="openFileSelector()" alt=""  width="16px">Add New</label>
                                                             
                                                            </ng-template>
                                                        </ngx-file-drop>
                                                        </div> -->
                                                    </div>
                                                    
                                                    <div class="full-width col-md-12 col-sm-12 col-xs-12 no-padding question-container-1">
                                                      <!-- <div class="add-file">
                                                        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                                                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                                                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                                              <label for="upload-photo"><img src="../../../../../assets/img/plus.png" (click)="openFileSelector()" alt=""  width="16px">Add New</label>
                                                             
                                                            </ng-template>
                                                        </ngx-file-drop>
                                                        </div> -->
                                                        <div class="add-file" (click)="addnewFile()">                                                       
                                                          <label for="upload-photo"><img src="../../../../../assets/img/plus.png" alt=""  width="16px">Add New</label>
                                                        </div>
                                                  </div>
                                                    
                                                </div>

                                               
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              
                  
                  </div>

                  <!-- Added new accordion for preparer - Oct 7 Start -->
                  <div class="full-width accordion-sec">
                      <div class="accordion" id="accordionExampleSix">
                          <div class="section-in">
                              <div class="card">
                                  <div class="card-header bg-gray relative" id="headingSix">
                                      <h2 class="mb-0">
                                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                              data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                              <span class="textportion">Rejection Comments</span>
                                              <span class="imgportion"><img
                                                      src="../../../../../../assets/img/round-circle.svg"></span>
                                          </button>
                                      </h2>
                                  </div>
                                  <div id="collapseSix" class="bg-gray collapse show" aria-labelledby="headingSix"
                                      data-parent="#accordionExampleSix">
                                      <div class="card-body">
                                          <div class="full-width">
                                            <div class="full-width left-rht">
                                                <p class="rejected-dt">October 5th 2020, 10:55:10 - X out of X passed. Internal Audit identified that invoices</p>
                                            </div>
                                            
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                    <!-- Added new accordion for preparer - Oct 7 End -->
              
                  <div class="full-width accordion-sec">
                      <div class="accordion" id="accordionExampleTwo">
                          <div class="section-in">
                              <div class="card">
                                  <div class="card-header bg-gray relative" id="headingTwo">
                                      <h2 class="mb-0">
                                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                              data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                                              <span class="textportion">Conclusion</span>
                                              <span class="imgportion"><img
                                                      src="../../../../../../assets/img/round-circle.svg"></span>
                                          </button>
                                      </h2>
                                  </div>
                                  <div id="collapseThree" class="bg-gray collapse show" aria-labelledby="headingTwo"
                                      data-parent="#accordionExampleTwo">
                                      <div class="card-body">
                                          <div class="full-width">
                                              <div class="row">
                                                  <div class="col-xs-12 col-lg-12">
                                                    <div class="full-width col-md-12 col-sm-12 col-xs-12">
                                                      <div class="form-group text-right issue-btn-block">
                                                        <!-- <label class="isuue-font">Issue Found</label>
                                                        <div class="custom_radio">
                                                          <div class="radio-left relative">
                                                              <input type="radio" id="featured-1" name="featured">
                                                              <label class="yes" for="featured-1">Yes</label>
                                                          </div>
                                                          <div class="radio-left">
                                                              <input type="radio" id="featured-2" name="featured">
                                                              <label class="no" for="featured-2">No</label>
                                                            </div>
                                                          </div> -->
                                                          <label>Issue Found</label>
                                                        <button class="btn btn-yes">Yes</button>
                                                        <button class="btn btn-no">No</button>
                                                      </div>
                                                        <div class="form-group">
                                                            <label>Summary</label>
                                                            <div class="full-width relative wysiwyg-div height-112">
                                                            <angular-editor [config]="editorConfig"></angular-editor>
                                                        </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Added new accordion for preparer - Oct 5 Start -->
                  <div class="full-width accordion-sec">
                    <div class="accordion" id="accordionExampleThree">
                        <div class="section-in">
                            <div class="card">
                                <div class="card-header bg-gray relative" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                                            <span class="textportion">Select Preparer</span>
                                            <span class="imgportion"><img
                                                    src="../../../../../../assets/img/round-circle.svg"></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="bg-gray collapse show" aria-labelledby="headingThree"
                                    data-parent="#accordionExampleThree">
                                    <div class="card-body">
                                        <div class="full-width">
                                            <div class="row">
                                                <div class="col-xs-12 col-lg-12">
                                                  <div class="full-width col-md-12 col-sm-12 col-xs-12">
                                                    <ul class="select-preparer-list">
                                                      <li>
                                                        <input type="checkbox" id="preparer1" />
                                                        <label for="preparer1">
                                                          <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                                          <p>Jonas</p>
                                                        </label>
                                                      </li>
                                                      <li>
                                                        <input type="checkbox" id="preparer2" />
                                                        <label for="preparer2">
                                                        <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                                        <p>Simon</p>
                                                      </label>
                                                    </li>
                                                    <li>
                                                      <input type="checkbox" id="preparer3" />
                                                        <label for="preparer3">
                                                          <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                                          <p>Jackson</p>
                                                          </label>
                                                      </li>
                                                      <li>
                                                        <input type="checkbox" id="preparer4" />
                                                        <label for="preparer4">
                                                        <img class="add-user-icon mCS_img_loaded" src="../../../../../assets/img/profile-dummy.png">
                                                        <p>Amelia</p>
                                                        </label>
                                                    </li> 
                                                    </ul>
                                                      
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- Added new accordion for preparer - Oct 5 End -->


              </div>
              
  
              </div>
              <div class="full-width button-container text-center">
                
               
                    <button class="big-button yellow-btn animation-save left-side" type="submit" (click)="saveAnimation()">
                      <span>Save</span>
                      <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                      Saving workstep...</span>
                    <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                      Saved</span>
                    </button>
                    <button class="big-button orange-btn left-side" (click)="rejectBtn()">REJECT</button>
               
                
                    <button class="big-button purple-btn">Open Issue</button>
               
                
                    <button class="big-button right-side animation-submit" (click)="submitAnimation()">
                        <span>Submit</span>
                        <span><img class="rotate-in" src="../../../../../assets/img/refresh-icon-white.svg">
                          Submitting...</span>
                      <span><img src="../../../../../assets/img/refresh-icon-white.svg">
                        submitted </span>
                    </button>
                   
              </div>
            </tab>

            <tab>
              <ng-template tabHeading>
                <span>Issues</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width table-style action-issue-table-block">
                  <!-- <div class="full-width table-style mt-3">
                    <div class="full-width action-header">
                      <h4>Action part of Issue</h4>
                    </div>
                  </div> -->
                  <div class="full-width overflow-auto mt-2">
                    <table id="issueActionTable" class="display table-dashboard" style="width:100%">
                      <thead>
                        <tr>
                          <th></th>
                          <th>
                            <input name="select_all" value="1" id="issueAction-select-all" type="checkbox" />
                          </th>
                          <th scope="col">ID</th>
                          <th scope="col">Name</th>  
                          <th scope="col">Description</th>
                          <th scope="col">Area</th>
                          <th scope="col">Status</th>
                          <th scope="col" class="text-centerng">Action</th>
                        </tr>
                      </thead>
  
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td></td>
                          <td>Action ID</td>
                          <td>Action Name</td>
                          <td>XXXXX</td>
                          <td>Area</td>
                          <td>Yes</td>
                          <td align="center">
                            <div class="dropdown show action-dropdown position-relative ">
                                <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="dot"></span>
                                  <span class="dot"></span>
                                  <span class="dot"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-text">
                                  <ul>
                                    <li>
                                        <a class="delete-btn">
                                            <img src="assets/img/delete_button.svg" alt="Delete">
                                            <span>Delete</span>
                                       </a>
                                    </li>
                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
  
                <div class="full-width overflow-auto mt-3 action-selection-table-block position-relative">
                  <div class="full-width action-header">
                    <!-- <h4 class="float-left">Action Selection</h4> -->
                    <button type="button" class="float-right mr-3 green-btn">Add Selected To Issue</button>
            
                  </div>
                <table id="issueActionSelectedTable" class="display table-dashboard" style="width:100%">
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <input name="select_all" value="1" id="issueActionSelected-select-all" type="checkbox" />
                      </th>
                      <th>Area</th>
                      <th>Action ID</th>
                      <th>Action Name</th>
                      <th>Action Description</th>
                      <th>Approver</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td></td>
                      <td>Area</td>
                      <td>
                        <a class="undeline-anchor" href="javascript:void(0);">ID001</a>
                      </td>
                      <td>Name</td>
                      <td>ddd</td>
                      <td>Yes</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div> 
            </tab>
  

            <!-- <tab>
              <ng-template tabHeading>
                <span>Admin</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input
                          class="form-control"
                          type="text"
                        />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Process</label>
                          <input
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sub Process Name</label>
                          <input
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk</label>
                          <input
                          class="form-control"
                          type="text"
                        />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Reviewed On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
                              
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared By</label>
                          <input
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared ID</label>
                          <input
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Reviewed By</label>
                          <input
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Reviewed ID</label>
                          <input
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container row m-">
                    <button class="big-button" type="submit">Save</button>
              </div>
            </tab> -->
          </tabset>
        </div>
      </div>
      </form>
    </div>

    <div class="new-chat-popup-maincontainer add-document-new" *ngIf="editsearchDocument">
      <div class="close-form" (click)="closeSearch()">
        <img src="../../../../../assets/img/close-form.svg">    
      </div>
      <div class="intray-search">
        <div class="for-auditor-search">
          <div class="dataTables_filter form-group">
            <label>
              <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
                [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
            </label>
          </div>
          <div class="search-filter-box">
    
            <tabset class="tab-block filteroptions" #staticTabs>
              <tab>
                <ng-template tabHeading>
                  <h3>All Results</h3>
                </ng-template>
                <div class="multiSearchFilters">
                  <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown> 
                  <!-- <div class="multiselect-dropdown">
                    <div class="dropdown-list">
                      <ul class="item2" style="max-height: 197px;">
                        <li class="multiselect-item-checkbox">
                          <input aria-label="multiselect-item" type="checkbox">
                            <div>Vendor List 2018</div>
                            <button class="btn btn-small">DMS</button>
                          </li>
                          <li class="multiselect-item-checkbox">
                            <input aria-label="multiselect-item" type="checkbox">
                              <div>Vendor List 2019</div>
                              <button class="btn btn-small">DMS</button>
                            </li>
                            <li class="multiselect-item-checkbox">
                              <input aria-label="multiselect-item" type="checkbox">
                                <div>Vendor List 2019</div>
                                <button class="btn btn-small">DMS</button>
                              </li>
                              <li class="multiselect-item-checkbox">
                                <input aria-label="multiselect-item" type="checkbox">
                                  <div>Vendor List 2019</div>
                                  <button class="btn btn-small">DMS</button>
                                </li>
                                <li class="multiselect-item-checkbox">
                                  <input aria-label="multiselect-item" type="checkbox">
                                    <div>Vendor List 2019</div>
                                    <button class="btn btn-small">DMS</button>
                                  </li>
                                  <li class="multiselect-item-checkbox">
                                    <input aria-label="multiselect-item" type="checkbox">
                                      <div>Vendor List 2019</div>
                                      <button class="btn btn-small">DMS</button>
                                    </li>
                      </ul>
                    </div>
                  </div> -->
                  
                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <h3>PBC</h3>
                </ng-template>
                <div class="multiSearchFilters">
                  <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                  <!-- <div class="multiselect-dropdown">
                    <div class="dropdown-list">
                      <ul class="item2" style="max-height: 197px;">
                        <li class="multiselect-item-checkbox">
                          <input aria-label="multiselect-item" type="checkbox">
                            <div>Vendor List 2018</div>
                            <button class="btn btn-small">PBC</button>
                          </li>
                          <li class="multiselect-item-checkbox">
                            <input aria-label="multiselect-item" type="checkbox">
                              <div>Vendor List 2019</div>
                              <button class="btn btn-small">PBC</button>
                            </li>
                      </ul>
                    </div>
                  </div> -->
                 
                </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <h3>DMS</h3>
                </ng-template>
                <div class="multiSearchFilters">
                  <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                  <!-- <div class="multiselect-dropdown">
                    <div class="dropdown-list">
                      <ul class="item2" style="max-height: 197px;">
                        <li class="multiselect-item-checkbox">
                          <input aria-label="multiselect-item" type="checkbox">
                            <div>Vendor List 2018</div>
                            <button class="btn btn-small">PBC</button>
                          </li>
                          <li class="multiselect-item-checkbox">
                            <input aria-label="multiselect-item" type="checkbox">
                              <div>Vendor List 2019</div>
                              <button class="btn btn-small">PBC</button>
                            </li>
                      </ul>
                    </div>
                  </div> -->
                </div>
              </tab>
            </tabset>
    
            <div class="upload-submit text-center">
              <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
            </div>
            <div class="filteroptions upload-load-file-block">
              <h3>Upload from Local machine</h3>
              <div class="button-style mr-left-rght">
                <label>Browse and Upload</label>
                  <input type="file" class="custom-file-input" >
              </div>
              
            </div>
          </div>
        </div>
        <div class="for-auditor-search" style="display: none;">
          <div class="search-filter-box">
            <div class="filteroptions">
              <h3>Upload file from Local machine</h3>
              <input type="file" class="custom-file-input">
            </div>
          </div>
        </div>
      </div>

    

    </div>
    <div class="save-as-work-paper rename-doc-block" *ngIf="renameDoc">
      <div class="rename-inner-block">
      <h6>Rename the document</h6>
      <div class="form-group">
        <label>Rename</label>
        
        <input class="form-control file-name-txt" type="text" />
        <input class="form-control file-ext" type="text" readonly/>
      </div>
      <div class="form-group">
        <label>Comment</label>
        <textarea class="form-control" type="text" placeholder="Enter your comment"></textarea>
      </div>
      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-cancel" (click)="closeRenameDoc()">Cancel</button>
        <button type="submit" class="btn btn-ok">OK</button>
      </div>
    </div>
      <div class="bg-blur"></div>
    </div>
  </div>
  <div *ngIf="previewMode" class="popup-right-block">
    <app-pdf-annotation *ngIf="previewMode" [documentNo]="documentNumber" [path]="documentUrl" [filename]="doucmentName" [wpNumber]="workpaperNum" [auditId]="documentAuditId" (close)="onAnnotationComponenetClose($event)">
  </app-pdf-annotation>
</div>

  