.error-text {
    font-size: 12px;
    color: red !important;
    font-weight: 600;
}

.risk-accordion-sec .btn-infom.yes{
    background-color:#dd6838;
    border: 1px solid #dd6838;
}
.prepared-dt{
    width: 40%;
    float: right;
    p{
        text-align: left;
        margin-bottom: 0px;
        font-size: 10px;
        color: #494949;
        font-weight: 600;
        margin-top: 13px;
    }
}
.left-side{
    float: left;
}

.risk-accordion-sec .btn-infom.yes{
    background-color:#dd6838;
    border: 1px solid #dd6838;
}
.rejected-dt{
    color: #494949;
    font-size: 12px;
}
.left-rht{
    padding: 0px 15px;
}
