<div class="full-width">
        <!-- <button class="btnclose" (click)="closeDialog()">
            <img src="../../../../../../assets/img/full-screen.svg">
        </button> -->
      </div>
      <div *ngIf="viewChatroom">
        <div class="full-width clearfix">
          <div class="chat">
            <div class="chat-header clearfix">
              <div class="user-icon">
                  <img src="/assets/img/user.jpg" alt="avatar" />
              </div>
              
              <div class="chat-user-name">
                <div class="chat-room">{{ roomDetails.title }}</div>
                <!-- <div class="chat-num-users">User(s)</div> -->
              </div>
              <i class="fa fa-users"></i>
            </div>
            <!-- end chat-header -->
      
            <div class="chat-history" id="message_div">
              <ul>
                <li *ngFor="let msg of messages">
                  <p class="username-chat">{{ msg.username }}: {{ msg.message }}</p>
                </li>
              </ul>
            </div>
            <!-- end chat-history -->
      
            <div class="chat-message clearfix">
              <textarea
                [(ngModel)]="message"
                name="message"
                placeholder="Type your message"
                rows="2"
              ></textarea>
              <button (click)="submitMessage(message)">Send</button>
            </div>
            <!-- end chat-message -->
          </div>
          <!-- end chat -->
      
          <div class="controls divider">
            <a class="rooms-btn" (click)="openRooms()">Rooms</a>
          </div>
      
          <div class="users-list select-tag" *ngIf="roomDetails.owner === owner">
            <select (change)="selectUsers($event.target.value)">
              <option *ngFor="let user of usernames">
                <a>{{ user.username }}</a>
              </option>
            </select>
          </div>
          <div class="users-list chat-people-list">
            <ul class="list">
              <li>
                <span class="dot-green"></span>
                <p class="onlineUsers">{{ roomDetails.owner }} </p>
                <p  style="float:Right;color:white;"> Owner </p>
              </li>
              <li *ngFor="let user of onlineUsers">
                <span class="dot-red" *ngIf="!user.online"></span>
                <span class="dot-green" *ngIf="user.online"></span>
                <p class="onlineUsers">{{ user.username }}</p>
                <a (click)="removeUser(user, roomDetails._id)" style="float:Right;cursor: pointer;">
                  <img src="../../../../../../assets/img/trash.png" class="img-delete" alt="trash_icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="viewRoom">
        <app-rooms></app-rooms>
      </div>
      