.chat-container{
    position: absolute;
    top: 80px;
    right: 0;
    max-width: 100%;
    top: 31px;
    height: 142px;
    background-color: @white;
    border-radius: 2.5px;
    border: 1px solid @black_35;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    z-index: 10;
    padding: 4px 0px;
    text-align: right;
}

.chat-hide{
    display: none;
    &.toggled{
        display: block;
    }
}
.chat-container-box{
    width: 139px;
    display: inline-block;
    padding: 0px 8px;
    .chat-inside{
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: 1px solid @switch-border;  
        position: relative;
        overflow: hidden;
        .chat-options{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: @bg-chat;
            z-index: 10;
            p{
                margin-bottom: 0px;
                font-size: @font_12;
                color: @gray-text;
                font-weight: @regular;
            }
            .img-full{
                position: absolute;
                right: 3px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .img-resp{
            width: 100%;
        }
    }
}
.intray-container{
    width: 244px;
    display: inline-block;
    padding: 0px 8px;
    .intray-box{
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: 1px solid @switch-border;  
        position: relative;
        overflow: hidden;
        .chat-options{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: left;
            background-color: @bg-chat;
            z-index: 10;
            padding-left: 7px;
            p{
                margin-bottom: 0px;
                font-size: @font_12;
                color: @gray-text;
                font-weight: @regular;
            }
            .img-full{
                position: absolute;
                right: 3px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .list-of-intray{
            padding: 0px 7px;
            padding-top: 33px;
            width: 100%;
            float: left;
            .list-ul-intray{
                padding: 0px;
                width: 100%;
                float: left;
                margin: 0px;
                list-style: none;
                li{
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    a{
                        float: left;
                        width: 100%; 
                        padding-left: 16px;
                        position: relative;
                        font-size: @font_10;
                        text-decoration: underline;
                        color: @color-intray;
                        text-align: left;
                        .left-align{
                            position: absolute;
                            left: 0;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
}
.text-chat-container{
    width: 430px;
    display: inline-block;
    padding: 0px 8px; 
    .text-chat-box{
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: 1px solid @switch-border;  
        position: relative;
        overflow: hidden;
        .chat-options{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: left;
            background-color: @bg-chat;
            z-index: 10;
            padding-left: 7px;
            p{
                margin-bottom: 0px;
                font-size: @font_12;
                color: @gray-text;
                font-weight: @regular;
            }
            .img-full{
                position: absolute;
                right: 3px;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .chat-room{
            padding: 0px 7px;
            margin-top: 24px;
            width: 100%;
            float: left;
            .chat-ul{
                padding: 0px;
                width: 100%;
                float: left;
                margin: 0px;
                list-style: none;
                li{
                    float: left;
                    margin-bottom: 5px;
                    width: 100%;
                    font-size: @font_12;
                    color: @gray-text;
                    &.admin{
                        padding-left: 15px;
                        position: relative;
                        text-align: left;
                        &:before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 5px;
                            background-color: @chat-admin;
                            border-radius: 50%;
                            border: 1px solid @border-admin;
                            width: 8px;
                            height: 8px;
                        }
                        .time{
                            padding-left: 10px;
                            font-size: @font_10;
                            color: @gray-text;
                        }
                    }
                    &.user{
                        padding-right: 15px;
                        position: relative;
                        text-align: right;
                        &:before{
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 5px;
                            background-color: @chat-user;
                            border-radius: 50%;
                            border: 1px solid @border-user;
                            width: 8px;
                            height: 8px;
                        }
                        .time{
                            padding-right: 10px;
                            font-size: @font_10;
                            color: @gray-text;
                        }
                    }
                } 
            }
        }
    }
}
.chat-input{
    padding: 0px 7px;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
    .btn-send{
        position: absolute;
        right: 5px;
        top: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border: 0px;
    }
    .form-control{
        height: 29px;
        margin-top: 0px;
    }
}