.full-width{
    width: 100%;
    float: left;
}
.bg-white{
background-color: @white;
border-radius: 2.5px;
border: 1px solid rgba(112, 112, 112, .35);
box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
.dashboard{
    float: left;
    width: 100%;
}

.breadcrumbs{
    margin: 5px 0px;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        li{
            float: left;
            margin-right: 15px;
            position: relative;
            a{
                font-size: @font_10;
                text-decoration: underline;
                color:@breadcramb;
                font-weight: @semibold;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                color:@breadcramb;
                }
            }
            &:before{
                content: "";
                color: @gray-text;
                position: absolute;
                right: -14px;
                top: 8px;
                font-size: 12px;
                width: 10px;
                background-image: url("../img/right.png");
                background-size: 7px;
                height: 10px;
                background-repeat: no-repeat;
            }
            &:last-child{
                a{
                    color: @gray-text;
                    text-decoration: none;
                    cursor:default;
                    font-weight: @regular;
                }
                &:before{
                    display: none;
                }
            }
       
        }
    }
}

.container-side{
    padding: 15px 20px;
    height: 100%;
    .block-ul{
        position: relative;
        width: 100%;
        float: left;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        
        li{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 8px;
            float: left;
            width: 200px;
            .box-container{
                height: 94px;
            }
            .orange-border{
                background-color: @white;
                border-radius: 4.5px;
                border: 1px solid @orange;
                box-shadow: 0 2px 0 @orange;
              
            }
            .blue-border{
                background-color: @white;
                border-radius: 4.5px;
                border: 1px solid @primary_color;
                box-shadow: 0 2px 0 @primary_color;
            }
            .yellow-border{
                background-color: @white;
                border-radius: 4.5px;
                border: 1px solid @yellow;
                box-shadow: 0 2px 0 @yellow;  
            }
            .number-container{
                padding-top: 13px;
                text-align: center;
            } 
            .text-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                height: 35px;
            }
            .box-haif-number{
                height: 100%;
            
                .number{
                    font-size: @big_font;
                    font-weight: @bold;
                    color: @gray-text;
                    margin-bottom: 0px;
                    line-height: 40px;
                }
                .text{
                    font-size: @secondary_font;
                    font-weight: @bold;
                    color: @gray-text;
                    margin-bottom: 0px;
                    line-height: 18px;
                }
            }

            @media screen and (max-width: 991px){
                float: left;
            }
            @media screen and (max-width: 768px){
                
                &:first-child{
                    width: 100%;
                }
                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 100%;
                }
                &:nth-child(4){
                    width: 100%;
                }
                &:nth-child(5){
                    width: 100%;
                } 
            }
        }

        @media screen and (max-width: 991px){
            display: inline-block;
            justify-content: inherit;
        }
    }
}
.heading-title {
    border-top: 1px solid rgba(112, 112, 112, .49);
    position: relative;
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-radius: 0;
    &:before {
       content: '';
       background-color: #ffffff;
       border-radius: 50%;
       border: 1px solid rgba(112, 112, 112, .49);
       width: 15px;
       height: 15px;
       position: absolute;
       right: 0;
       top: -8px
    }
    h2 {
        font-size: 18px;
        color: #6d6d6d;
        font-weight: 700;
        margin: 0;
        position: absolute;
        left: 0;
        top: -12px;
        span {
            padding: 10px 10px 10px 0;
            background-color: #ffffff;
            font-weight: normal;
        }
    }
}
.common-accordian{
    margin-top: 30px;
    .toggle-image-container{
        position: absolute;
        right: -1px;
        top: 10px;
    }
    .btn-full{
        width: 100%;
        float: left;
        padding: 0px;
        background-color: transparent;
        h3{
            text-align: left;
            font-size: @secondary_font;
            color: @text_gray;
            position: relative;
            span{
                padding: 10px 10px 10px 0;
                background-color: @white;
                font-weight: @regular;
                position: relative;
                z-index: 3;
                display: inline-block;
            }
            &.strip-line{
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 22px;
                    width: 100%;
                    height: 1px;
                    background-color: @border-colour-light;
                }
            }
        }
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    .card-header{
        padding: 0px;
        background-color: transparent;
        border: 0px;
    }
    .card{
        border: 0px;
    }
    .card-body{
       padding: 10px 0px;
       .table-bordered{
           border-color: @border-colour-light;
           th, td{
            border-color: @border-colour-light;
           }
       }
    }
}

.v-scroll-form{
 width: 100%;
 height: 100%;
 float: left;;
}