table {
  margin: 0 auto;
  clear: both;
}

.main-content {
    padding: 20px;
    margin-top: 5px;
}
.table-header {
  position: absolute;
  right: 0;
  width: calc(~"100% - 170px");
  top: 20px;
  z-index: 9;
  .control-risk-switch {
    margin-top: 8px;
    .left-text, .right-text {
      font-size: 12px;
      line-height: normal;
      vertical-align: top;
    }
  }
  .icon-list {
    text-align: right;
    a {
      margin-left: 15px;
    }
  }
}
.dataTables_wrapper {
    &.no-footer {
      .dataTables_scrollBody {
        border-bottom: 0px;
      }
    }
    .dataTables_scroll {
      div.dataTables_scrollBody {
        margin-top: -10px;
      }
      .dataTables_scrollHeadInner {
        min-width: 100%;
      }
    }
  }
 
table.dataTable {
  thead th {
    font-size: 13px;
    font-weight: 700;
    color: #484848;
    border-top: 1px solid #644c9f;
    border-bottom:  2px solid #644c9f;
    white-space: nowrap;
    &.no-sorting {
      background-image: none;
      padding-right: 0px;
      &.checkbox-width {
        width: 15px !important;
      }
    }
} 

&.display {
  tbody {
    tr {
      &.odd > .sorting_1, &.even > .sorting_1 {
        background-color: transparent;
          &.odd:first-child:hover {
            td {
              border-top: none !important;
            }
          }
      }
      &.odd:hover, &.even:hover {
        border: 1px solid transparent;
        td {
          border-top: 1px solid #644c9f;
          border-bottom: 1px solid #644c9f;
          &:first-child {
            border-left: 1px solid #644c9f;
          }
          &:last-child {
            border-right: 1px solid #644c9f;
          }
        }
      }
      td {
       &.checkbox-width-td {
          width: 15px !important;
          padding-right: 0px !important;
        }
        &.edit-delete-icon {
          padding-right: 0px;
          a {
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
&.order-column {
  &.stripe {
    tbody {
      tr {
        &.odd > .sorting_1 {
          background-color: transparent;
        }
      }
    }
  }
}
tbody {
  tr {
    position: relative;
  }
  td {
    font-size: 13px;
    font-weight: 400;
    .edit-delete {
      width: 100%;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
    }
  }

}
thead th, tbody td {
  padding: 8px 16px;
  
}
&.no-footer {
  border-bottom: 0px;
  margin-bottom: 10px;
}
}
.dataTables_wrapper  {
    .dataTables_filter {
        float: left;
        margin-top: 20px;
        width: 245px;
        text-align: left;
        label {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background: url('../img/search_icon.svg') no-repeat;
            width: 11px;
            height: 11px;
            top: 10px;
            left: 12px;
          }
        }
        input {
            padding: 6px 6px 6px 30px;
            font-size: 10px;
            margin-left: 0px;
            background-color: #ffffff;
            border: 1px solid #cbcbcb;
            border-radius: 2.75px;
            width: 170px;
            height: 30px;
            &:hover{
              outline: none;
              box-shadow: none;
            }
            &:focus{
              outline: none;
              box-shadow: none;
              border: 1px solid @primary_color;
            }
        }
    }
    .dataTables_paginate {
        .paginate_button {
          width: auto;
          height: 20px;
          padding: 0 6px;
          line-height: normal;
            min-width: 1px;
            padding: 2px 8px;
            font-size: 10px;
            border: 1px solid #efefef;
            &:hover {
              background: #664da0;
              color: #fff;
              border: 1px solid #664da0;
            }
            &.previous, &.next {
              background-color: #ffffff;
              border-radius: 1.5px;
              border: 1px solid #efefef;
              width: auto;
              height: 20px;
              line-height: normal;
              &:hover {
                background: #644c9f;
                color: #fff !important;
               }
            }
            &.previous {
              margin-right: 4px;
            }
            &.next {
              margin-left: 4px;
            }
            &.current {
              background: #644c9f;
              border-radius: 1.5px;
              border: 1px solid #644c9f;
              width: auto;
              height: 20px;
              padding: 0 6px;
              line-height: 18px;
               color: #fff !important;
               &:hover {
                background: #644c9f;
                color: #fff !important;
               }
            }
        }
    }
    .dataTables_info  {
        padding-left: 140px;
        padding-top: 0px;
        font-size: 10px;
        font-weight: 700;
    }
    .dataTables_length {
        position: absolute;
        bottom: 0px;
        font-size: 10px;
        font-weight: 700;
        select {
          margin: 0 6px;
          padding: 0 2px;
          background-color: #ffffff;
          border-radius: 1.5px;
          border: 1px solid #efefef;
          width: auto;
          height: 24px;
        }
    }

}
.risk-btn {
  border-radius: 2.5px;
  border: 1px solid #dd6838;
  width: 56px;
  height: 20px;
  overflow: hidden;
  line-height: 18px;
  vertical-align: middle;
  padding: 0;
  font-size: 13px;
  &.very-high {
    border-color: #dd6838;
    color: #dd6838;
    background-color: transparent;
    &:hover {
      background: #dd6838;
      color: #fff;
     }
  }
  &.medium {
    border-color: #98aa3a;
    color: #98aa3a;
    background-color: transparent;
    &:hover {
      background: #98aa3a;
      color:  #fff;
     }
  }
  &.low{
    border-color: @yellow;
    color: @yellow;
    background-color: transparent;
    &:hover {
      background: @yellow;
      color:  @white;
     }
  }
    

}
.year-button{
      border-radius: 2.5px;
      width: 70px;
      height: 20px;
      overflow: hidden;
      line-height: 18px;
      vertical-align: middle;
      padding: 0;
      font-size: 13px;
      background-color: transparent;
      color: @white;
      &.medium{
        background-color: @yellow;
        border: 1px solid @yellow;
      }
      &.high{
        background-color: @orange;
        border: 1px solid @orange;
      }
      &.low{
        background-color: @green;
        border: 1px solid @green;
      }
}
table.display.button-table{
  tr{
    th{
      &.year-th{
        width: 80px !important;
      }
    }
  }
}
.undeline-anchor{
  color: @anchor_blue;
  text-decoration: underline;
}
.table-caseid{
  thead {
    th{
      border-top: 1px solid @border-colour-light;
      border-bottom: 1px solid @border-colour-light;
      color: @text_gray;
    }
  }
  
  td{
    font-weight: @regular;
    border-top: 0px;
    border-bottom: 1px solid @border-colour-light; 
    color: @text_gray;
  }
}
/* The container */

.dt-checkboxes-cell {
  &:before {
    content: ' ';
    margin-top: 0px;
    margin-left: -6px;
    border: 1px solid #000;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
  }
 
}
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border:1px solid @form-close-bg;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: transparent;
    border: 0px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 3px;
    top: 0px;
    width: 8px;
    height: 16px;
    border: solid @green;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .range-control {
    overflow: hidden;
    width: 81px;
    height: 7px;
    -webkit-appearance: none;
    background-color: #dcdcdc;
    border-radius: 3.5px;
    border: 1px solid #c9c9c9;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      height: 12px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    &::-webkit-slider-thumb {
      width: 3px;
      -webkit-appearance: none;
      height: 12px;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px #dd6838;
    }
    &.very-high::-webkit-slider-thumb {
      box-shadow: -80px 0 0 80px #dd6838;
    }
    &.medium::-webkit-slider-thumb {
      box-shadow: -80px 0 0 80px #98aa3a;
    }
    &.very-low::-webkit-slider-thumb {
      box-shadow: -80px 0 0 80px #ffcc00;
    }
  }
  
}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #dd6838; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #9a905d;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 12px;
  border-radius: 9px;
  border: 1px solid #707070;
  width: 43px;
  height: 18px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
}



.slider-switch-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #664da0;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}



input:checked + .slider-switch-btn {
  background-color: #664da0;
}

input:focus + .slider-switch-btn {
  box-shadow: 0 0 1px #664da0;
}

input:checked + .slider-switch-btn:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.table-select-search {
  .form-group {
    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      padding-left: 8px;
    }
  }
}
.table-icon-list {
  a {
    margin-left: 15px;
  }
}
.tab-block {
  .tab-pane {
    position: relative;
  }
}
.control-table-section{
  .dataTables_wrapper .dataTables_filter{
    margin-top: 0px;
  }
  .table-header{
    top: 3px;
  }
}
.btn-case{
border-radius: 4.5px;
border: 1px solid @white;
width: 40px;
height: 20px;
color: @white;
padding: 0px;
font-size: @font_12;
line-height: 12px;
&.yellow{
  background-color: @yellow;
}
&.orange{
  background-color: @orange;
}
&.green{
  background-color: @green;
}
}