.tab-block {
    ul.nav-tabs {
        border:0px;
        li {
            min-width: 90px;
            a {
                font-size:18px;
                color:  #6d6d6d;
                border: 0;
                border-bottom: 1px solid #745daa;
                position: relative;
                &:hover {
                    border: 0px;
                    border-bottom: 1px solid #745daa;
                    color:  #745daa;
                }
                &.active {
                    color: #745daa;
                    font-weight: 700;
                    border-bottom: 0px solid #745daa;
                    &:before {
                        content: "";
                        background: #745daa;
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
            &:first-child{
                a{
                    padding-left: 0px;
                }
            }
        }
    }
    .tab-inside{
        .tab-small{
            ul.nav-tabs{
                li{
                    a{
                        font-size: @common_size;
                    }
                    &:first-child{
                        a{
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
}
