<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>

  <div class="full-width from-heading-box relative">
    <div class="text-area-sec">
      <!-- <h4>Corrective Action</h4> -->
      <h4>Action: <b>Add New Action </b></h4>
    </div>

    <div class="r-number">
      <!-- <p class="text-design">{{actionData}}</p> -->
    </div>
    <div class="icons-in">
      <ul>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="scroll-container">
    <form [formGroup]="actionForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block" #addNewAction>
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>

              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Action Name</label>
                          <input
                            class="form-control"
                            formControlName="actionName"
                            type="text"
                          />
                        </div>
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="performancePeriod"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="right"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Signoff Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="signOffPeriod"
                              bsDatepicker
                              placement="left"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                             
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Status</label>
                          <select
                            class="form-control"
                            formControlName="actionStatus"
                          >
                            <option value="">Select</option>
                            <option
                              *ngFor="let status of actionStatusMaster"
                              [value]="status.status"
                              >{{ status.status }}
                            </option>
                            <!-- <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option> -->
                          </select>
                        </div>
                      </div>

                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Rating</label>
                          <select
                            [ngClass]="{
                              'orange-btn':
                                actionForm.get('rating').value == 'Critical',
                              'yellow-btn':
                                actionForm.get('rating').value == 'Normal'
                            }"
                            class="cnl form-control"
                            formControlName="rating"
                          >
                            <option
                              *ngFor="let status of actionRatingMaster"
                              [value]="status.status"
                              >{{ status?.status }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Corrective Action</label>
                          <textarea
                            class="form-control potential-text"
                            formControlName="actionDescription"
                          ></textarea>
                        </div>
                      </div>

                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Guidance</label>
                          <textarea
                            class="form-control potential-text"
                            formControlName="guidance"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Comments</label>
                          <textarea
                            class="form-control potential-text"
                            formControlName="comments"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--   
                  <div class="secound">
  
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input type="checkbox" [disabled]="isAttachment" (change)="switchProperty($event)" name="addcontrolbutton" class="onoffswitch-checkbox attch" id="addcontro" checked >
                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
  
                        </div>
                      </div>
  
                    </div>
                  </div> -->

                  <!-- <div class="full-width question-container-1"  *ngIf='openAttachment'>
                    
                    <div class="attch-tooltips pdf-file" *ngFor="let item of attachedFiles; let i=index">
                        <img (click)="getDocument(item)" src="../../../../../assets/img/pdf.svg" alt="" width="35px" *ngIf="item.extension === 'pdf'">
                        <img  (click)="getDocument(item)" src="../../../../../assets/img/word.svg" alt="" width="35px" *ngIf="item.extension === 'docx'">
                        <img (click)="getDocument(item)" src="../../../../../assets/img/excel.svg" alt="" width="35px" *ngIf="(item.extension === 'xlsx')||(item.extension === 'csv')">
                        <img (click)="getDocument(item)" src="../../../../../assets/img/search_icon.svg" alt="" width="35px" *ngIf="(item.extension === 'png')||(item.extension === 'jpeg')">
  
  
                        <label>{{ item.relativePath }}</label>
                        <div class="user-text">
                          <span class="close-icon">Remove
                            <img  src="../../../../../assets/img/close-form.svg"></span>
                          </div>
                    </div>
                 <div class="add-file">
                   <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                   (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                       <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                         <label for="upload-photo"><img src="../../../../../assets/img/plus.png" (click)="openFileSelector()" alt=""  width="20px">Add New</label>
                        
                       </ng-template>
                   </ngx-file-drop>
                   </div>
  
             </div> -->
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button">Save</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side" disabled >Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button> -->
              </div>
            </tab>

            <!-- <tab> -->
            <!-- <ng-template tabHeading>
                <span>Issues</span>
              </ng-template> -->
            <!-- <div class="tabContent-box">
                <div class="full-width table-style">
                  <div class="full-width">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Issue ID</th>
                          <th scope="col">Issue Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Issue Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Key Issue</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let issue1 of assignedIssue">
                          <td>{{issue1.issueId}}</td>
                          <td>{{issue1.issueName}}</td>
                          <td>{{issue1.issueDescription}}</td>
                          <td>{{issue1.area}}</td>
                          <td>{{issue1.area}}</td>
                          <td>{{issue1.keyIsuue}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->
            <!-- </tab> -->
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Executed On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="dateExecuted"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="left"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Approver On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              formControlName="dateApproved"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="left"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Area</label>
                          <select
                            class="form-control form-control-sm"
                            formControlName="area"
                          >
                            <option value="">Select</option>

                            <!-- <option value="" [disabled]="true">Select Risk Area </option> -->
                            <option
                              *ngFor="let area of area"
                              [value]="area.area"
                              >{{ area.area }}</option
                            >
                          </select>
                        </div>
                      </div>
                      <!-- <div class="form-group">
                        <label> Area</label>
                        <select
                          class="form-control form-control-sm"
                          formControlName="riskArea"
                          [ngClass]="{
                            'is-invalid': submitted && f.riskArea.errors
                          }"
                        >
                    
                          <option
                            *ngFor="let area of riskArea"[value]="area.riskArea" >{{ area.riskArea }}</option>
                        </select>
                      </div> -->
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Executed By</label>
                          <input
                            class="form-control"
                            formControlName="dateExecuted"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Executed ID</label>
                          <input
                            class="form-control"
                            formControlName="executerId"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Approver By</label>
                          <input
                            class="form-control"
                            formControlName="dateApproved"
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Approver ID</label>
                          <input
                            class="form-control"
                            formControlName="approvedId"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
