<div class="outer-spc">
  <div class="row">
    <div class="col-md">
      <div class="clearfix l-align">
        <div class="f-l">
          <p>Assigned</p>
          <p>18</p>
        </div>
        <div class="f-r">
          <p>Overdue 02</p>
        </div>
      </div>

      <div class="clearfix g-blc">
        <div class="full-width accordian-container">
          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordOne"
                    aria-expanded="true"
                    aria-controls="collapseaccordOne"
                  >
                    <div class="headind-box">
                      <p>MEETING &amp; REPORTS</p>
                      <p>02</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="pie-kart">
                    <p>Draft Report Procurement Passar</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>

                  <p>Closing Meeting Procurement Passar</p>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordTow"
                    aria-expanded="true"
                    aria-controls="collapseaccordTow"
                  >
                    <div class="headind-box">
                      <p>PBC</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordTow"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              ></div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordThree"
                    aria-expanded="true"
                    aria-controls="collapseaccordThree"
                  >
                    <div class="headind-box">
                      <p>FIELDWORK</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordThree"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              ></div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordFour"
                    aria-expanded="true"
                    aria-controls="collapseaccordFour"
                  >
                    <div class="headind-box">
                      <p>ISSUES</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordFour"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>

                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>

                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="clearfix l-align">
        <div class="f-l">
          <p>Work in Progress</p>
          <p>12</p>
        </div>
        <div class="f-r">
          <p>Overdue 02</p>
        </div>
      </div>

      <div class="clearfix g-blc">
        <div class="full-width accordian-container">
          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseOne"
                    aria-expanded="true"
                    aria-controls="accordcollapseOne"
                  >
                    <div class="headind-box">
                      <p>MEETING &amp; REPORTS</p>
                      <p>02</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="pie-kart">
                    <p>Opening Meeting Procurement Passar</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>

                  <p>Audit Memo Procurement Passar</p>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseTwo"
                    aria-expanded="true"
                    aria-controls="accordcollapseTwo"
                  >
                    <div class="headind-box">
                      <p>PBC</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseTwo"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              ></div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseThree"
                    aria-expanded="true"
                    aria-controls="accordcollapseThree"
                  >
                    <div class="headind-box">
                      <p>FIELDWORK</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseThree"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              ></div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseFour"
                    aria-expanded="true"
                    aria-controls="accordcollapseFour"
                  >
                    <div class="headind-box">
                      <p>ISSUES</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseFour"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>

                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>

                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                    <div [hidden]="!pieChart" class="ml-4">
                      <div class="">
                        <canvas
                          width="30"
                          height="30"
                          id="pie"
                          style="position: absolute;"
                          >{{ pieChart }}</canvas
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="clearfix l-align">
        <div class="f-l">
          <p>Completed</p>
          <p>9</p>
        </div>
        <div class="f-r"></div>
      </div>

      <div class="clearfix g-blc">
        <div class="full-width accordian-container">
          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseFive"
                    aria-expanded="true"
                    aria-controls="accordcollapseFive"
                  >
                    <div class="headind-box">
                      <p>MEETING &amp; REPORTS</p>
                      <p>02</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseFive"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="pie-kart">
                    <p>Audit Announcement Procurement Passar</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseSix"
                    aria-expanded="true"
                    aria-controls="accordcollapseSix"
                  >
                    <div class="headind-box">
                      <p>PBC</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseSix"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              ></div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#acordcollapseSeven"
                    aria-expanded="true"
                    aria-controls="acordcollapseSeven"
                  >
                    <div class="headind-box">
                      <p>FIELDWORK</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="acordcollapseSeven"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              ></div>
            </div>
          </div>

          <div class="accordion form-accordian" id="accordionExample">
            <div class="card according-wing">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative"
                    type="button"
                    data-toggle="collapse"
                    data-target="#accordcollapseEight"
                    aria-expanded="true"
                    aria-controls="accordcollapseEight"
                  >
                    <div class="headind-box">
                      <p>ISSUES</p>
                      <p>03</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="accordcollapseEight"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="pie-karts">
                    <p>I-002 Expense List</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
