.outer-spc {
    padding: 15px;

.l-align {
    // display: flex;
    // justify-content: space-between;
    .f-l {
        float: left;
        p {
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            padding-right: 20px;
        }
        p:nth-child(2) {
            background-color: #9f90c4;
            padding: 0px 9px 0px 6px;
            border-radius: 8px;
            color: #fff;
            font-weight: 300;
            font-size: 14px;
            align-self: center;
        }
    }

    .f-r {
        float: right;
    p {
        background-color: #dd6838;
        padding: 0px 9px 0px 6px;
        border-radius: 5px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        align-self: center;
    }
 }
}
 .g-blc {
     padding: 10px;
     background-color: #ececec;
     border: 1px solid #d3d3d3;
     border-radius: 5px;
     height: 455px;
 }
}

.accordian-container .form-accordian .headind-box {
    background-color: #ececec;
    display: flex;
    top: -14px;

    p {
        margin: 0px;
        color: #6d6d6d;
        font-weight: 600;
    }
    p:nth-child(2) {
        margin-left: 10px;
        background-color: #9f90c4;
        padding: 0px 9px 0px 6px;
        border-radius: 8px;
        color: #fff;
        font-weight: 300;
    }
}
.accordion {
    padding: 8px 0px;
}
.accordian-container .img-toggle {
    position: absolute;
    right: -4px;
    top: -14px;
}
.accordian-container .card {
    background-color: transparent;
    border: 0px;
}
.accordian-container .card-body {
    padding: 0px;
    margin: 20px 0px 10px;
}
.accordian-container .card-body p {
    margin: 0px;
    padding: 10px;
    background-color: #fff;
    color: #745daa;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid  #745daa;
}

.accordian-container .card-body .pie-karts p {
    margin: 0px;
    padding: 10px;
    background-color: #fff;
    color:#dd6838;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid  #dd6838;
}

.accordian-container .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: 0px;
    line-height: 0px;
}
.accordian-container .card-header h2.text-h2 {
    font-size: 20px;
    line-height: 0px;
    height: 0px;
}
.accordian-container .btn.btn-link {
    border: 1.25px solid #d3d3d3;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  .row > [class*='col-'] {
       display: flex;
       flex-direction: column;
  }