<div class="full-width breadcrumbs">
  <ul>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>Annual Audit Planning</a>
    </li>
  </ul>
</div>

<div class="full-width bg-white">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <app-annual-audit-planning-view></app-annual-audit-planning-view>
    </div>
  </div>
</div>
<div class="full-width bg-white main-content">
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="full-width">
          <app-annual-audit-chart></app-annual-audit-chart>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="full-width">
          <app-annual-audit-planning-table (closedCopyAuditForm)='formClosed($event)'></app-annual-audit-planning-table>
        </div>
      </div>
    </div>
  </div>

</div>
