<div class="full-width container-side">
  <ul class="block-ul">
    <li class="box-li">
      <app-risk-count></app-risk-count>
    </li>
    <li class="box-li">
      <app-control-count></app-control-count>
    </li>
    <li class="box-li">
      <app-unassigned-controls></app-unassigned-controls>
    </li>
    <li class="box-li">
      <div class="box-haif-number">
        <div [hidden]="!pieChart" class="ml-4">
          <div class="">
            <canvas
              width="100"
              height="100"
              id="pie"
              style="position: absolute;"
              >{{ pieChart }}</canvas
            >
          </div>
          <div
            class="col-md-6"
            style="
              margin-left: 100px;
              max-width: 100%;
              padding-top: 10px;
              font-weight: 600;
            "
          >
            <div>
              <span style="color: #dd4f36; font-weight: 700;">{{
                highRisk
              }}</span>
              High
            </div>
            <div>
              <span style="color: #ffcc00; font-weight: 700;">{{
                mediumRisk
              }}</span>
              Medium
            </div>
            <div>
              <span style="color: #98aa3a; font-weight: 700;">{{
                lowRisk
              }}</span>
              Low
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="box-li">
      <div class="box-haif-number">
        <div [hidden]="!doughnutChart" class="ml-4">
          <div class="">
            <canvas
              width="100"
              height="100"
              id="doughnut"
              style="position: absolute;"
              >{{ doughnutChart }}</canvas
            >
          </div>
          <div
            class="col-md-6"
            style="
              margin-left: 100px;
              max-width: 100%;
              padding-top: 10px;
              font-weight: 600;
            "
          >
            <div>
              <span style="color: #6f42c1; font-weight: 700;">{{
                riskCount
              }}</span>
              Risk
            </div>
            <div>
              <span style="color: #dc3545; font-weight: 700;">{{
                issueCount
              }}</span>
              Issues
            </div>
            <div>
              <span style="color: #ffc107; font-weight: 700;">{{
                controlCount
              }}</span>
              Controls
            </div>
            <div>
              <span style="color: #98aa3a; font-weight: 700;">{{
                actionCount
              }}</span>
              Actions
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
