.user-text{
    visibility: hidden;
    width: 80px;
    background-color: #664da0;
    box-shadow: 0 1px 6px rgba(0,0,0,.16);
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 43%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.attch-tooltips:hover{
    .user-text{
        opacity: 1;
        visibility: visible;
        cursor: pointer;
        img{
            margin: auto;
            display: inline-block;
            width: 12px;
            padding-bottom: 0px;
        }
    }
}
