



.main-container{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    float: left;
    background-color: #fff;
}
.bg-white-same{
    background-color: #fff;
}

.full-width{
    width: 100%;
    float: left;
}
.audit-heading{
    margin-top: 163px;
    margin-bottom: 63px;
    font-size: 48px;
}
.table.table-bordered{
    border-color: #7070703B;
}
.table.table-bordered tr td{
    padding: 20px;
    font-weight: 600;
}
.table.table-bordered tr td.bg-one{
    background-color: #DCF3FE;
    color: #312F2F;
    font-size: 20px;
}
.table.table-bordered tr td.bg-two{
    background-color: #F2FBFF;
    font-size: 20px;
    color: #023498;
}
.table.table-bordered tr.first-one td{
    border-bottom-color: #023498;
}
.sub-content{
    font-size: 20px;
    color: #010E27;
    margin-top: 29px;
    margin-bottom: 75px;
    font-weight: 600;
}
.sub-head{
    font-size: 30px;
    color: #010E27;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 27px;
}
.opinion-list{
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.opinion-list li{
    float: left;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 31px;
    position: relative;
    padding-bottom: 15px;
}
.opinion-list li:before{
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.opinion-list li.green{
    color: #98AA3A;
}
.opinion-list li.green:before{
    background-color:  #98AA3A;
}
.opinion-list li.yellow{
    color: #FFCC00
}
.opinion-list li.yellow:before{
    background-color:  #FFCC00
}
.opinion-list li.red{
    color: #DD6838;
}
.opinion-list li.red:before{
    background-color:  #DD6838;
}
.logo-text{
    margin-top: 130px;
    font-size: 42px;
    margin-bottom: 57px;
    text-align: right;
    font-weight: 700;
}
.logo-text span.green{
    color: #98AA3A;
}
.logo-text span.blue{
    color:#664DA0;
}

.gray-bg{
    background-color: #FBFBFB;
    border: 1px solid #664DA069;
    padding: 20px;
    margin-bottom: 75px;
}
.summary-text{
    font-size: 18px;
    color: #010E27;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.summary-text.top-head{
    font-size: 25px;
}
.table.table-bordered.summary-table{
    border-color: #664DA069;
}
.table.table-bordered.summary-table tr td,.table.table-bordered.summary-table tr th{
    font-size: 15px;
    color: #010E27;
    padding: 15px;
    font-weight: 600;
}
.summary-div{
    min-height: 750px;
    position: relative;
    padding-bottom: 80px;
}
.reportDetails{
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px
}
.descp{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.descp li{
    background-color: #664DA0;
    float: left;
    margin-right: 12px;
    margin-bottom:10px;
}
.descp li .heading{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding: 8px 12px;
    float: left;
}
.descp li .heading.one{
    border-right: 1px solid #fff;
}
.sub-p{
    font-size: 15px;
    color: #010E27;
    margin-bottom: 20px;
    font-weight: 600;
}
.sub-p.hd{
    font-weight: 600;
}
.sub-p.hd span.right{
    float: right;
}
.sub-p.hd.bt-10{
    margin-bottom: 10px;
}
.sub-p.dis{
    margin-bottom: 30px;
}
.summery-spec-1{
    position: relative;
    width: 100%;
    float: left;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.summery-spec-1 li:first-child{
    width: 40%;
    padding-right: 8px;
}
.summery-spec-1 li:nth-child(2){
    width: 60%;
    padding-left: 8px;
}
.full-content{
    
    border: 1px solid #70707082;
    background-color: #fff;
}
.min-h-100{
  min-height: 100%;  
}
.full-content .head{
    background-color: #664DA0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
}
.contentArea{
    padding: 8px;
}
.aud-hd{
    font-size: 15px;
    color: #664DA0;
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: 600;
}
.aud-p{
    color: #010E27;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}
.aud-p.f-12{
    font-size: 12px;
}
.opinion-box{
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opinion-box .round{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin: 0px 3px;
    float: left;
}
.opinion-box .round.green{
    background-color: #98AA3A;
}
.opinion-box .round.yellow{
    background-color: #FFCC00;
}

.opinion-box .round.red{
    background-color: #DD6838;
}

.list-details{
    width: 100%;
    float: left;
    font-size: 12px;
    color: #010E27;
    font-weight: 600;
    margin-bottom: 20px;
}
.listOption{
    margin-bottom: 15px;
}
.spec-dt{
    margin-bottom: 16px;
}
.relaventDiv .aud-hd{
    margin-bottom: 15px;
}
.mb-16{
    margin-bottom: 16px;
}
.imgDiv{
    padding: 20px 15px;
    text-align: center;
}
.imgDiv img{
    max-width: 100%;
    display: inline-block;
}

.table.table-bordered.summary-table.table-issue tr td, .table.table-bordered.summary-table.table-issue tr th{
padding: 10px;
font-size: 12px;
}

.table.table-bordered.summary-table.table-issue tr td.medium-cl{
    color: #FFCC00;
}
.table.table-bordered.summary-table.table-issue tr td.high-cl{
    color: #dd6838;
}
.table.table-bordered.summary-table.table-issue tr td.low-cl{
    color: #98aa3a;
}

@media screen and (max-width: 590px){
    .summery-spec-1 li:first-child{
        width: 100%;
        padding-right: 0px;
        margin-bottom: 15px;
    } 
    .summery-spec-1 li:nth-child(2){
        width: 100%;
        padding-left: 0px;
        margin-bottom: 15px;
    }
    
}
.graph-pie{
    width: 150px;
    margin: 0 auto;
}

.legend-section{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.legent-count{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.summery-spec-1 .legent-count li{
    float: left;
    width: auto;
    padding-left: 15px;
    position: relative;
    font-weight: 600;
    padding-right: 8px;
    font-size: 12px;
}
.summery-spec-1 .legent-count li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
}
.summery-spec-1 .legent-count li.high:before{
    background-color: rgb(221, 104, 56);
}
.summery-spec-1 .legent-count li.medium:before{
    background-color: rgb(255, 204, 0);
}
.summery-spec-1 .legent-count li.low:before{
    background-color: rgb(152, 170, 58);
}
.audit-head{
    font-size: 36px;
color: #707070;
    margin-bottom: 10px;
    margin-top: 104px;
    font-weight: 600;
}
.f-width{
    max-width: 100%;
    display: inline-block;
}
.heading-container{
    margin-bottom: 86px;
}

.btn-gray{
    padding: 4px 10px;
    background-color: #f2f2f2;
    border-radius: 2.5px;
    border: 1px solid #644c9f;
    font-size: 12px;
    font-weight: 600;
    color: #494949;
    margin: 0px 6px;
}
.editBt, .Btsave{
    display: none;
}
.Btsave.active-in{
    display: inline-block;
}
.editBt.active-in{
    display: inline-block;
}
.relaventDiv{
    min-height: 250px;
}
.graph-section{
    width: 245px;
    float: left;
}
.graph-section .legent-count li{
    float: left;
    width: auto;
    padding-left: 15px;
    position: relative;
    font-weight: 600;
    padding-right: 8px;
    font-size: 12px;
}
.graph-section .legent-count li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
}
.graph-section .legent-count li.high:before{
    background-color: rgb(221, 104, 56);
}
.graph-section .legent-count li.medium:before{
    background-color: rgb(255, 204, 0);
}
.graph-section .legent-count li.low:before{
    background-color: rgb(152, 170, 58);
}
.section-left{
    float: left;
    width: calc(100% - 245px);
    padding-right: 16px;
}

.table-dt.table-bordered>tbody>tr>td, .table-dt.table-bordered>tbody>tr>th, .table-dt.table-bordered>tfoot>tr>td, .table-dt.table-bordered>tfoot>tr>th, .table-dt.table-bordered>thead>tr>td, .table-dt.table-bordered>thead>tr>th{
    border-right: 0px;
    border-left: 0px;
}
.table.table-bordered.summary-table.table-dt tr td,.table.table-bordered.summary-table.table-dt tr th{
    padding: 7px;
}
textarea.form-control.form-content{
    background-color: #ffffff;
border: 1px solid #707070;
    height: 125px;
    resize: none;
    font-size: 15px;
color: #0a0505;
    overflow-x: hidden;
}
.form-control:focus{
    border-color: #707070;
    box-shadow: none;
}
.sub-p.mr-10{
    margin-bottom: 10px;
}
.form-control[disabled], fieldset[disabled] .form-control{
    cursor: default;
}
.form-control.editing{
    border: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 15px;
    color: #010E27;
    box-shadow: none;
    padding: 0px;
    font-weight: 600;
}
.form-control.editingl[disabled]{
    cursor: default;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0px;
}
.graphDonut{
    width: 86px;
    margin: 0 auto;
}
.table-sec tr td{
    min-width: 190px;
}

.mdcl{
    color: #FFCC00; 
}
.hgcl{
    color: #dd6838;
}
.lwcl{
    color: #dd6838;
}

@media  print{
.pagebreak {clear: both; page-break-after: always; }

.graphDonut{
    width: 86px;
    margin: 0 auto;
}

.main-container{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    float: left;
}
.bg-white-same{
    background-color: #fff;
}

.full-width{
    width: 100%;
    float: left;
}
.audit-heading{
    margin-top: 163px;
    margin-bottom: 63px;
    font-size: 48px;
}
.table.table-bordered{
    border-color: #7070703B !important;
     -webkit-print-color-adjust: exact; 
}
.table.table-bordered tr td{
    padding: 20px;
    font-weight: 600;
}
.table.table-bordered tr td.bg-one{
    background-color: #DCF3FE !important;
    color: #312F2F  !important;
    font-size: 20px;
    -webkit-print-color-adjust: exact; 
}
.table.table-bordered tr td.bg-two{
    background-color: #F2FBFF !important;
    font-size: 20px;
    color: #023498 !important;
     -webkit-print-color-adjust: exact; 
}
.table.table-bordered tr.first-one td{
    border-bottom-color: #023498 !important;
}
.sub-content{
    font-size: 20px;
    color: #010E27 !important;
    margin-top: 29px;
    margin-bottom: 75px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.sub-head{
    font-size: 30px;
    color: #010E27 !important;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 27px;
     -webkit-print-color-adjust: exact; 
}
.opinion-list{
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.opinion-list li{
    float: left;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 31px;
    position: relative;
    padding-bottom: 15px;
}
.opinion-list li:before{
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.opinion-list li.green{
    color: #98AA3A !important;
     -webkit-print-color-adjust: exact; 
}
.opinion-list li.green:before{
    background-color:  #98AA3A !important;
     -webkit-print-color-adjust: exact; 
}
.opinion-list li.yellow{
    color: #FFCC00 !important;
     -webkit-print-color-adjust: exact; 
}
.opinion-list li.yellow:before{
    background-color:  #FFCC00 !important;
     -webkit-print-color-adjust: exact; 
}
.opinion-list li.red{
    color: #DD6838 !important;
     -webkit-print-color-adjust: exact; 
}
.opinion-list li.red:before{
    background-color:  #DD6838 !important;
     -webkit-print-color-adjust: exact; 
}
.logo-text{
    margin-top: 130px;
    font-size: 42px;
    margin-bottom: 57px;
    text-align: right;
    font-weight: 700;
}
.logo-text span.green{
    color: #98AA3A !important;
     -webkit-print-color-adjust: exact; 
}
.logo-text span.blue{
    color:#664DA0 !important;
     -webkit-print-color-adjust: exact; 
}

.gray-bg{
    background-color: #FBFBFB !important;
    border: 1px solid #664DA069 !important;
    padding: 20px;
    margin-bottom: 75px;
     -webkit-print-color-adjust: exact; 
}
.summary-text{
    font-size: 18px;
    color: #010E27 !important;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.summary-text.top-head{
    font-size: 25px;
}
.table.table-bordered.summary-table{
    border-color: #664DA069 !important;
     -webkit-print-color-adjust: exact; 
}
.table.table-bordered.summary-table tr td,.table.table-bordered.summary-table tr th{
    font-size: 15px;
    color: #010E27 !important;
    padding: 15px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.summary-div{
    min-height: 750px;
    position: relative;
    padding-bottom: 80px;
}
.reportDetails{
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px
}
.descp{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.descp li{
    background-color: #664DA0 !important;
    float: left;
    margin-right: 12px;
    margin-bottom:10px;
     -webkit-print-color-adjust: exact; 
}
.descp li .heading{
    font-size: 12px;
    color: #fff !important;
    font-weight: 600;
    padding: 8px 12px;
    float: left;
     -webkit-print-color-adjust: exact; 
}
.descp li .heading.one{
    border-right: 1px solid #fff !important;
     -webkit-print-color-adjust: exact; 
}
.sub-p{
    font-size: 15px;
    color: #010E27 !important;
    margin-bottom: 20px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.sub-p.hd{
    font-weight: 600;
}
.sub-p.hd span.right{
    float: right;
}
.sub-p.hd.bt-10{
    margin-bottom: 10px;
}
.sub-p.dis{
    margin-bottom: 30px;
}
.summery-spec-1{
    position: relative;
    width: 100%;
    float: left;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.summery-spec-1 li:first-child{
    width: 40%;
    padding-right: 8px;
}
.summery-spec-1 li:nth-child(2){
    width: 60%;
    padding-left: 8px;
}
.full-content{
    
    border: 1px solid #70707082 !important;
    background-color: #fff !important;
     -webkit-print-color-adjust: exact; 
}
.min-h-100{
  min-height: 100%;  
}
.full-content .head{
    background-color: #664DA0 !important;
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
     -webkit-print-color-adjust: exact; 
}
.contentArea{
    padding: 8px;
}
.aud-hd{
    font-size: 15px;
    color: #664DA0 !important;
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.aud-p{
    color: #010E27 !important;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.aud-p.f-12{
    font-size: 12px;
}
.opinion-box{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opinion-box .round{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin: 0px 3px;
    float: left;
}
.opinion-box .round.green{
    background-color: #98AA3A !important;
     -webkit-print-color-adjust: exact; 
}
.opinion-box .round.yellow{
    background-color: #FFCC00 !important;
     -webkit-print-color-adjust: exact; 
}

.opinion-box .round.red{
    background-color: #DD6838 !important;
     -webkit-print-color-adjust: exact; 
}

.list-details{
    width: 100%;
    float: left;
    font-size: 12px;
    color: #010E27 !important;
    font-weight: 600;
    margin-bottom: 20px;
     -webkit-print-color-adjust: exact; 
}
.listOption{
    margin-bottom: 15px;
}
.spec-dt{
    margin-bottom: 16px;
}
.relaventDiv .aud-hd{
    margin-bottom: 15px;
}
.mb-16{
    margin-bottom: 16px;
}
.imgDiv{
    padding: 20px 15px;
    text-align: center;
}
.imgDiv img{
    max-width: 100%;
    display: inline-block;
}




@media screen and (max-width: 590px){
    .summery-spec-1 li:first-child{
        width: 100%;
        padding-right: 0px;
        margin-bottom: 15px;
    } 
    .summery-spec-1 li:nth-child(2){
        width: 100%;
        padding-left: 0px;
        margin-bottom: 15px;
    }
    
}
.graph-pie{
    width: 150px;
    margin: 0 auto;
}

.legend-section{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.legent-count{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.summery-spec-1 .legent-count li{
    float: left;
    width: auto;
    padding-left: 15px;
    position: relative;
    font-weight: 600;
    padding-right: 8px;
    font-size: 12px;
}
.summery-spec-1 .legent-count li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
}
.summery-spec-1 .legent-count li.high:before{
    background-color: rgb(221, 104, 56) !important;
     -webkit-print-color-adjust: exact; 
}
.summery-spec-1 .legent-count li.medium:before{
    background-color: rgb(255, 204, 0) !important;
     -webkit-print-color-adjust: exact; 
}
.summery-spec-1 .legent-count li.low:before{
    background-color: rgb(152, 170, 58) !important;
     -webkit-print-color-adjust: exact; 
}
.audit-head{
    font-size: 36px;
color: #707070 !important;
    margin-bottom: 10px;
    margin-top: 104px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.f-width{
    max-width: 100%;
    display: inline-block;
}
.heading-container{
    margin-bottom: 86px;
}
.fixedtopBar{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 15px;
    background-color: #fff !important;
     -webkit-print-color-adjust: exact; 
     display: none;
}
.btn-gray{
    padding: 4px 10px;
    background-color: #f2f2f2 !important;
    border-radius: 2.5px;
    border: 1px solid #644c9f !important;
    font-size: 12px;
    font-weight: 600;
    color: #494949 !important;
    margin: 0px 6px;
     -webkit-print-color-adjust: exact; 
}
.editBt, .Btsave{
    display: none;
}
.Btsave.active-in{
    display: inline-block;
}
.editBt.active-in{
    display: inline-block;
}
.relaventDiv{
    min-height: 250px;
}
.graph-section{
    width: 245px;
    float: left;
}
.graph-section .legent-count li{
    float: left;
    width: auto;
    padding-left: 15px;
    position: relative;
    font-weight: 600;
    padding-right: 8px;
    font-size: 12px;
}
.graph-section .legent-count li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
}
.graph-section .legent-count li.high:before{
    background-color: rgb(221, 104, 56) !important;
     -webkit-print-color-adjust: exact; 
}
.graph-section .legent-count li.medium:before{
    background-color: rgb(255, 204, 0) !important;
     -webkit-print-color-adjust: exact; 
}
.graph-section .legent-count li.low:before{
    background-color: rgb(152, 170, 58) !important;
     -webkit-print-color-adjust: exact; 
}
.section-left{
    float: left;
    width: calc(100% - 245px);
    padding-right: 16px;
}

.table-dt.table-bordered>tbody>tr>td, .table-dt.table-bordered>tbody>tr>th, .table-dt.table-bordered>tfoot>tr>td, .table-dt.table-bordered>tfoot>tr>th, .table-dt.table-bordered>thead>tr>td, .table-dt.table-bordered>thead>tr>th{
    border-right: 0px;
    border-left: 0px;
}
.table.table-bordered.summary-table.table-dt tr td,.table.table-bordered.summary-table.table-dt tr th{
    padding: 7px;
}
textarea.form-control.form-content{
    background-color: #ffffff !important;
border: 1px solid #707070 !important;
    height: 125px;
    resize: none;
    font-size: 15px;
color: #0a0505 !important;
    overflow-x: hidden;
     -webkit-print-color-adjust: exact; 
}
.form-control:focus{
    border-color: #707070 !important;
    box-shadow: none;
     -webkit-print-color-adjust: exact; 
}
.sub-p.mr-10{
    margin-bottom: 10px;
}
.form-control[disabled], fieldset[disabled] .form-control{
    cursor: default;
}
.form-control.editing{
    border: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 15px;
    color: #010E27 !important;
    box-shadow: none;
    padding: 0px;
    font-weight: 600;
     -webkit-print-color-adjust: exact; 
}
.form-control.editingl[disabled]{
    cursor: default;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0px;
} 
.table-sec tr td{
    min-width: 190px;
}
.table.table-bordered.summary-table.table-issue tr td, .table.table-bordered.summary-table.table-issue tr th{
    padding: 10px;
    font-size: 12px;
    }
    
    .table.table-bordered.summary-table.table-issue tr td.medium-cl{
        color: #FFCC00 !important;
        -webkit-print-color-adjust: exact; 
    }
    .table.table-bordered.summary-table.table-issue tr td.high-cl{
        color: #dd6838 !important;
        -webkit-print-color-adjust: exact; 
    }
    .table.table-bordered.summary-table.table-issue tr td.low-cl{
        color: #98aa3a !important;
        -webkit-print-color-adjust: exact; 
    }
    .mdcl{
        color: #FFCC00 !important;
        -webkit-print-color-adjust: exact; 
    }
    .hgcl{
        color: #dd6838 !important;
        -webkit-print-color-adjust: exact; 
    }
    .lwcl{
        color: #dd6838 !important;
        -webkit-print-color-adjust: exact; 
    }

}
