<div class="container-fluid main-container relative">
    <div class="full-width bg-white-same">
        <div class="fixedtopBar">
            <button class="btn btn-gray" id="editBtn">Edit Report</button>
            <button class="btn btn-gray" id="expBtn" (click)="exportToPdf()">
                <span class="editBt active-in">Export Report as PDF</span>
                <span class="Btsave">Save and Export Report as PDF</span>
            </button>
        </div>
        <div class="full-width text-center heading-container">
            <h1 class="audit-head">Internal Audit Report</h1>
            <img src="../../../../../assets/img/datwyler.png" class="f-width">
        </div>

        <div class="full-width">
            <div class="full-width">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="first-one">
                            <td class="bg-one">Division</td>
                            <td class="bg-two">{{auditDetails.auditableEntity}}</td>
                        <tr>
                            <td class="bg-one">Focus</td>
                            <td class="bg-two">Purchase to Pay</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="full-width">
            <!-- openingMeetingDate
            closingMeetingDate -->
            <!-- <h4 class="sub-content">for the Period 1. January 2018 - 31. December 2018.</h4> -->
            <h4 class="sub-content">for the Period {{convertDate(auditDetails.openingMeetingDate,'meeting_date')}} -
                {{convertDate(auditDetails.closingMeetingDate,'meeting_date')}}.</h4>
        </div>
        <div class="full-width">
            <h4 class="sub-head">Opinion</h4>
            <ul class="opinion-list">
                <li *ngIf="auditDetails.draftReport.adr_rating == 'Good'" class="green">Good</li>
                <li *ngIf="auditDetails.draftReport.adr_rating == 'Some improvement required'" class="yellow">Some
                    Improvement required</li>
                <li *ngIf="auditDetails.draftReport.adr_rating == 'Not Satisfactory'" class="red">Not Satisfactory</li>
            </ul>
        </div>
        <div class="full-width">
            <h2 class="logo-text"><span class="green">En</span><span class="blue">IA</span></h2>
        </div>
        <div class="pagebreak"> </div>
        <div class="full-width gray-bg summary-div">
            <h4 class="summary-text top-head">Internal Audit – Summary</h4>
            <div class="full-width">
                <table class="table table-bordered summary-table table-sec">
                    <tbody>
                        <tr>
                            <td>Division</td>
                            <td>{{auditDetails.auditableEntity}}</td>
                        </tr>
                        <tr>
                            <td>Objectives</td>
                            <td>Review of effectiveness and efficiency of the P2P process and controls as well as
                                assessment of compliance with existing policies and procedures, supported by sampling
                            </td>
                        </tr>
                        <tr>
                            <td>Performance Period</td>
                            <td>{{convertDate( auditDetails.performancePeriod[0],'report_date')}} -
                                {{convertDate(auditDetails.performancePeriod[1],'report_date')}}
                            </td>
                        </tr>
                        <tr>
                            <td>Scope</td>
                            <td>
                                Obtain an understanding of the P2P process (i.e. sourcing strategy, procurement,
                                supplier evaluation and monitoring, payment process).Assess the effectiveness and
                                efficiency of the end-to-end P2P process and review the compliance with existing
                                policies and procedures, includingTender process;Supplier evaluation, selection and
                                approval;Supplier due diligence;Etc.Review of the supplier master data
                                maintenance.Review of functional segregation of duties for the P2P process.Assess ICS
                                regarding the completeness, appropriate design, and effectiveness of the existing P2P
                                controls in place.Review of contract management process.Review of exemptions to the P2P
                                process.Identify control gaps within the P2P process and define remediation plan for
                                identified issues contract management process.Review of exemptions to the P2P
                                process.Identify control gaps within the P2P process and define remediation plan for
                                identified issues

                            </td>
                        </tr>
                        <tr>
                            <td>Out of Scope</td>
                            <td>
                                Internal cost allocations<br />
                                Access rights<br />
                                GDPR<br />
                                Inventory management

                            </td>

                        </tr>
                        <tr>
                            <td>Audit team</td>
                            <td>Amelia<br> Elmar<br> Gillian<br> Jean</td>
                        </tr>
                        <tr>
                            <td>Closing meeting</td>
                            <td>{{convertDate(auditDetails.closingMeetingDate,'report_date')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="reportDetails">
                <ul class="descp">
                    <li>
                        <div class="heading one">Report Date</div>
                        <div class="heading">{{convertDate(todaysDate,'report_date')}}</div>
                    </li>
                    <li>
                        <div class="heading one">Report No.</div>
                        <div class="heading">{{auditDetails.year}}-{{reportNumber}}</div>
                    </li>
                    <li>
                        <div class="heading one">Version</div>
                        <div class="heading">DRAFT</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pagebreak"> </div>
        <div class="full-width gray-bg">
            <h3 class="summary-text">1. Summary</h3>
            <div class="full-width">
                <input class="form-control editing change"
                    value="Summary of the Internal Audit performed with Focus on Procurement- Purcase to Pay." disabled>
            </div>


            <div class="full-width spec-dt">
                <ul class="summery-spec-1">
                    <li>
                        <div class="full-width full-content min-h-100">
                            <div class="full-width head">
                                Audit information
                            </div>
                            <div class="full-width contentArea">
                                <h4 class="aud-hd">Scope </h4>
                                <p class="aud-p f-12">Purchase to Pay</p>

                                <h4 class="aud-hd">Team </h4>
                                <p class="aud-p"> Amelia<br> Elmar<br> Gillian<br> Jean </p>

                                <h4 class="aud-hd">Key dates </h4>
                                <p class="aud-p"> Opening meeting:
                                    {{convertDate(auditDetails.openingMeetingDate,'report_date')}}<br> Fieldwork:
                                    {{convertDate(auditDetails.createdAt,'report_date')}}<br>
                                    Closing meeting: {{convertDate(auditDetails.closingMeetingDate,'report_date')}}<br>
                                    Actions received: XXXX XX, 201X<br> Final report:
                                    {{convertDate(auditDetails.createdAt,'report_date')}}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="full-width full-content min-h-100">
                            <div class="full-width head relative">
                                General Impression & Rating
                                <div class="opinion-box">
                                    <ng-container
                                        *ngIf="auditDetails.draftReport.adr_rating == 'Good'; else improvement">
                                        <div class="round"></div>
                                        <div class="round"></div>
                                        <div class="round green"></div>
                                    </ng-container>
                                    <ng-template #improvement>
                                        <ng-container
                                            *ngIf="auditDetails.draftReport.adr_rating == 'Some improvement required'; else elseTemplate">
                                            <div class="round"></div>
                                            <div class="round"></div>
                                            <div class="round yellow"></div>
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <div class="round"></div>
                                            <div class="round"></div>
                                            <div class="round red"></div>
                                        </ng-template>

                                        <!-- <li class="yellow">Some Improvement required</li> -->
                                    </ng-template>
                                </div>
                            </div>
                            <div class="full-width contentArea">
                                <div class="full-width listOption">
                                    <div class="list-details">
                                        {{auditDetails.draftReport.adr_comments}}
                                    </div>


                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="full-width">
                <ul class="summery-spec-1">
                    <li>
                        <div class="full-width  min-h-100">
                            <div class="full-width full-content mb-16">
                                <div class="full-width head">
                                    Relevante KPI’s
                                </div>
                                <div class="full-width contentArea relaventDiv">
                                    <h4 class="aud-hd">Umsatz: </h4>


                                    <h4 class="aud-hd">EBIT </h4>


                                    <h4 class="aud-hd">FTE’s </h4>
                                    <h4 class="aud-hd">XXXX </h4>

                                </div>
                            </div>
                            <div class="full-width full-content">
                                <div class="full-width head">
                                    Issues
                                </div>
                                <div class="full-width contentArea imgDiv">

                                    <div class="full-width">
                                        <div class="graphDonut">
                                            <canvas width="86" height="86" id="chart">{{ doughnutChartSec }}</canvas>
                                        </div>
                                    </div>
                                    <div class="legend-section">
                                        <ul class="legent-count">
                                            <li class="high">High - {{highIssueCount}}</li>
                                            <li class="medium">Medium - {{mediumIssueCount}}</li>
                                            <li class="low">low - {{lowIssueCount}}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </li>
                    <li>
                        <div class="full-width full-content  min-h-100">
                            <div class="full-width head">
                                Summary of the Conclusions
                            </div>
                            <div class="full-width contentArea">
                                <div class="list-details">
                                    We believe that after the two issues found are resolved risks will be well within
                                    acceptable ranges.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="pagebreak"> </div>
        <div class="full-width gray-bg">
            <div class="full-width">
                <div class="section-left">
                    <h3 class="summary-text">2. Issues</h3>
                    <p class="sub-p">Summary of the issues</p>
                    <div class="full-width">
                        <div class="full-width">
                            <table *ngIf="issues && issues.length > 0" class="table table-bordered summary-table table-issue">
                                <tbody>
                                    <tr>
                                        <th>#</th>
                                        <th>Issue</th>
                                        <th>Cause</th>
                                        <th>Priority</th>
                                    </tr>
                                    <tr *ngFor="let issue of issues;let i = index">
                                        <td>{{i+1}}</td>
                                        <td><span [innerHTML]="issue.issueName"></span></td>
                                        <td><span [innerHTML]="issue.shortDescription"></span></td>
                                        <td
                                            [ngClass]="{'high-cl':issue.priority == 'High', 'medium-cl':issue.priority == 'Medium','low-cl':issue.priority == 'Low'}">
                                            {{issue.priority}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td>1</td>
                                        <td>xxxxxx</td>
                                        <td>XXXX AG, XXXX</td>
                                        <td class="medium-cl">Medium</td>
                                        </tr>
                                        <tr>
                                                <td>2</td>
                                                <td>xxxxxx</td>
                                                <td>XXXX AG, XXXX</td>
                                                <td class="high-cl">High</td>
                                                </tr> -->

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="graph-section">

                    <div class="full-width full-content">
                        <div class="full-width head">
                            Issues
                        </div>
                        <div class="full-width contentArea imgDiv">

                            <div class="full-width">
                                <div class="graphDonut">
                                    <canvas width="86" height="86" id="chartOne">{{ doughnutChartSec }}</canvas>
                                </div>
                            </div>
                            <div class="legend-section">
                                <ul class="legent-count">
                                    <li class="high">High - {{highIssueCount}}</li>
                                    <li class="medium">Medium - {{mediumIssueCount}}</li>
                                    <li class="low">low - {{lowIssueCount}}</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="full-width" *ngIf="issues && issues.length > 0">
                <h3 class="summary-text">2.1 Detailed Observations</h3>
                <p class="sub-p hd">

                    <span>2.1.1 {{issues[0].issueName}}</span><span class="right">Priority:
                        <span
                            [ngClass]="{'hgcl':issues[0].priority == 'High', 'mdcl':issues[0].priority == 'Medium','lwcl':issues[0].priority == 'Low'}">{{issues[0].priority}}</span></span>
                </p>
                <p class="sub-p dis">Main Cause: <span [innerHTML]="issues[0].shortDescription"></span></p>
                <p class="sub-p dis">Observations: <span [innerHTML]="issues[0].longDescription"></span></p>
                <p class="sub-p dis">Review Comments: <span [innerHTML]="issues[0].reviewComments"></span></p>
                <p class="sub-p dis">Recommendations: <span [innerHTML]="issues[0].recommendation"></span></p>
                <p class="sub-p dis">Management Response: <span [innerHTML]="issues[0].managementResponse"></span></p>
            </div>
            <div class="full-width" *ngIf="issues && issues.length > 0">
                <p class="sub-p hd bt-10">Corrective Actions</p>
                <div class="full-width">
                    <table class="table table-bordered summary-table table-dt">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Action </th>
                                <th>Responsible </th>
                                <th>Deadline </th>
                            </tr>
                            <tr *ngFor="let action of issues[0].actions;let ai = index">
                                <td>{{ai+1}}</td>
                                <td>{{action.actionName}}</td>
                                <td>{{action.responsible}}</td>
                                <td>{{action.deadline}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="full-width" *ngIf="issues.length == 1">
                <p class="sub-p mr-10">Closing Comments</p>
                <textarea class="form-control form-content change"
                    disabled>{{auditDetails.announcement.aa_closing}}</textarea>
            </div>
        </div>

        <ng-container *ngIf="issues && issues.length > 0">
            <ng-container *ngFor="let issue of issues;let i=index;let first = first;let last = last">

                <div class="pagebreak" *ngIf="!first"> </div>
                <div class="full-width gray-bg" *ngIf="!first">

                    <div class="full-width">
                        <h3 class="summary-text"></h3>
                        <p class="sub-p hd">
                            <span>2.1.{{i+1}} {{issue.issueName}}</span><span class="right">Priority:
                                <span
                                    [ngClass]="{'hgcl':issue.priority == 'High', 'mdcl':issue.priority == 'Medium','lwcl':issue.priority == 'Low'}">{{issue.priority}}</span></span>
                        </p>
                        <p class="sub-p dis">Main Cause: <span [innerHTML]="issue.shortDescription"></span></p>
                        <p class="sub-p dis">Observations: <span [innerHTML]="issue.longDescription"></span></p>
                        <p class="sub-p dis">Review Comments: <span [innerHTML]="issue.reviewComments"></span></p>
                        <p class="sub-p dis">Recommendations: <span [innerHTML]="issue.recommendation"></span></p>
                        <p class="sub-p dis">Management Response: <span [innerHTML]="issue.managementResponse"></span></p>
                    </div>
                    <div class="full-width">
                        <p class="sub-p hd bt-10">Corrective Actions</p>
                        <div class="full-width">
                            <table class="table table-bordered summary-table table-dt">
                                <tbody>
                                    <tr>
                                        <th>#</th>
                                        <th>Action </th>
                                        <th>Responsible </th>
                                        <th>Deadline </th>
                                    </tr>
                                    <tr *ngFor="let action of issue.actions;let ai = index">
                                        <td>{{ai+1}}</td>
                                        <td>{{action.actionName}}</td>
                                        <td>{{action.responsible}}</td>
                                        <td>{{action.deadline}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="full-width" *ngIf="last">
                        <p class="sub-p mr-10">Closing Comments</p>
                        <textarea class="form-control form-content change"
                            disabled>{{auditDetails.announcement.aa_closing}}</textarea>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <div class="pagebreak"> </div>
    </div>
</div>