<div class="table-header">
      <div class="col-xs-6 col-lg-8 icon-list float-right no-padding">
                <a class="tooltip">
                  <span class="tooltiptext triple-word">Add Top 10 Risk</span>
                  <img src="assets/img/add_button.svg" alt="Add">
                </a>
                <a href="#" class="tooltip">
                  <span class="tooltiptext">Print</span>
                  <img src="assets/img/print_button.svg" alt="Print">
                </a>
                <a href="#" class="tooltip">
                  <span class="tooltiptext">Export</span>
                  <img src="assets/img/export_button.svg" alt="Export">
                </a>
              </div>
    </div>

    <table id="topTenRiskTable" class="display button-table fullDataTable" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th><input name="select_all" value="1" id="top-ten-risks-select-all" type="checkbox" /></th>
                <th>Area</th>
                <th>Risk ID</th>
                <th>Risk Name</th>
             
                <th>Residual Risk</th>
                <th class="year-th">2016</th>
                <th class="year-th">2017</th>
                <th class="year-th">2018</th>
                <th class="year-th">2019</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i= index;">
                <td>{{i + 1}}</td>
                <td></td>
                <td class="reorder-row">Finance</td>
                <td class="reorder-row"><a class="btn btn-primary risk-btn very-high">R-002</a></td>
                <td class="reorder-row">Capital Requirement</td>
    
                <td class="reorder-row"><a class="btn btn-primary risk-btn medium">RA-002</a></td>
                <td class="reorder-row"><button class="btn btn-primary year-button medium">Medium</button></td>
                <td class="reorder-row"><button class="btn btn-primary year-button low">Low</button></td>
                <td class="reorder-row"><button class="btn btn-primary year-button medium">Medium</button></td>
                <td class="reorder-row"><button class="btn btn-primary year-button high">High</button></td>
                <td align="center">
                    <div class="dropdown show action-dropdown position-relative ">
                        <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="edit-btn">
                                <img src="assets/img/edit_button.svg" alt="Edit">
                               </a>
                               <a class="delete-btn">
                                    <img src="assets/img/delete_button.svg" alt="Delete">
                               </a>
                        </div>
                      </div>
                   </td>
            </tr>
     
        </tbody>
    </table>