.page, .viewer {
    height: 100%;
}
.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .form-overlay {
        //position: fixed;
        bottom: 0;
        left: auto;
        height: 100%;
        right: 822px;
       // z-index: 80;
        /* background: #fff; */
        /* border: 1px solid rgba(112, 112, 112, 0.5); */
        /* box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16); */
        width: 467px;
        .lds-dual-ring {
            left: -10%;
            top:12%;
            border: 0px;
        }
    }
}
  
  .header {
    height: 60px;
    padding: 8px 8px 8px 16px;
    background: #00a5e4;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 44px;
    color: white;
  }
  
  app-webviewer {
    flex: 1;
    margin: 8px;
    -webkit-box-shadow: 1px 1px 10px #999;
            box-shadow: 1px 1px 10px #999;
  }
  
.viewer { width: 100%; }
  