<div class="pop-up-form" ngDraggable [position]="position">
  <div class="close-form" (click)="closeModalWithoutSaving()">
    <img src="../../../../../assets/img/close-form.svg" />
  </div>

  <form [formGroup]="riskForm" class="v-scroll-form" style="height: 100%; width: 100%; float: left;">
    <div class="full-width from-heading-box relative">
      <div class="text-area-sec">
        <h4>
          Risk : <span>{{ riskControlMatrixData?.riskName | titlecase }}</span>
        </h4>
      </div>

      <div class="r-number">
        <p class="text-design">{{ riskData["id"] }}</p>
      </div>
      <div class="icons-in">
        <ul>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/duplicate-form.svg" /></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Duplicate-white.svg"
                alt="Duplicate" />
              Duplicate</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/upload-form.svg" /></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Export2.svg" alt="Export" />
              Export</a>
          </li>

          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg" /></a>
            <a href="javascript:void(0);" class="dupIcoHover"><img src="assets/img/Print2.svg" alt="Print" /> Print</a>
          </li>
          <li class="duplicate-btn-form">
            <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/share-form.svg" /></a>
            <a href="javascript:void(0);" class="dupIcoHover">Share <img src="assets/img/share2.svg" alt="Share" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="scroll-container">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block" #riskFromTab>
            <tab>
              <ng-template tabHeading>
                <span class="tabOne">Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width report-box">
                  <ul class="report-ul">
                    <li>
                      <div class="img-box">
                        <img src="../../../../../assets/img/newspaper.png" />
                      </div>
                      <a>Risk Library</a>
                    </li>
                    <li>
                      <div class="img-box">
                        <img src="../../../../../assets/img/newspaper.png" />
                      </div>
                      <a>Report</a>
                    </li>
                  </ul>
                </div>

                <div class="full-width">
                  <div class="half-tab">
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Name</label>
                        <input type="text" formControlName="riskName" class="form-control" [ngClass]="{
                            'is-invalid': submitted && f.riskName.errors
                          }" />
                      </div>
                    </div>

                    <div class="full-width">
                      <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" formControlName="riskStatus">
                          <option value="">Select</option>
                          <option *ngFor="let status of masterStatus" [value]="status.status">{{ status.status }}
                          </option>
                          <!-- <option>3</option>
                                            <option>4</option>
                                            <option>5</option> -->
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Description</label>
                        <!-- <div class="full-width relative wysiwyg-div">
                          <angular-editor id="editor2" formControlName="riskDescription" [config]="editorConfig"></angular-editor>
                        </div> -->
                        <textarea formControlName="riskDescription" class="form-control description-text"
                          placeholder="Enter Description"></textarea>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Source</label>
                        <select formControlName="riskSource" class="form-control">
                          <option value="">Select</option>

                          <!-- <option>Select Option</option> -->
                          <option *ngFor="let source of masterSource" [value]="source.sourceStatus">
                            {{ source.sourceStatus }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <label class="label-in">Department</label>
                      <div class="checkbox-container">
                        <div class="form-group">
                          <label class="custom-radio">Any
                            <input type="radio" checked="checked" name="department" />
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="seperator">
                        <span>- OR -</span>
                      </div>
                      <div class="form-container-box">
                        <div class="form-group">
                          <select class="form-control form-control-sm" formControlName="riskDepartment">
                            <option value="">Select</option>

                            <!-- <option value="" [disabled]="true"> Select Risk Department </option> -->
                            <option selected *ngFor="let dept of riskMasterDepartment" [value]="dept.departmentName">
                              {{ dept.departmentName }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <label class="label-in">Process</label>
                      <div class="checkbox-container">
                        <div class="form-group">
                          <label class="custom-radio">Any
                            <input type="radio" checked="checked" name="process" />
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="seperator">
                        <span>- OR -</span>
                      </div>
                      <div class="form-container-box">
                        <div class="form-group">
                          <select class="form-control form-control-sm" formControlName="riskProcess">
                            <option value="">Select</option>

                            <!-- <option value="" [disabled]="true"> Select Risk Process </option> -->
                            <option *ngFor="let process of riskProcess" [value]="process.processName">
                              {{ process.processName }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Catagory</label>
                        <select class="form-control form-control-sm" formControlName="riskCategory">
                          <option value="">Select</option>

                          <!-- <option value="" [disabled]="true">Select Risk Category</option> -->
                          <option *ngFor="let cat of riskCategoryMaster" [value]="cat.categoryName">
                            {{ cat.categoryName }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Area</label>
                        <select class="form-control form-control-sm" formControlName="riskArea">
                          <option value="">Select</option>

                          <!-- <option value="" [disabled]="true">Select Risk Area </option> -->
                          <option *ngFor="let area of riskArea" [value]="area.riskArea">{{ area.riskArea }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Risk Approch</label>
                        <select class="form-control form-control-sm" formControlName="riskApproach">
                          <option value="">Select</option>

                          <!-- <option value="" [disabled]="true">Select Risk Approach</option> -->
                          <option [value]="approch.riskApproach" *ngFor="let approch of riskApproch">
                            {{ approch.riskApproach }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="half-tab secound">
                    <div class="full-width question-container">
                      <div class="questions">
                        <p class="question-tag">Are You a Risk Owner?</p>
                      </div>
                      <div class="button-radio">
                        <div class="onoffswitch">
                          <input type="checkbox" formControlName="riskOwnerFlag" name="riskownerswitchbutton"
                            class="onoffswitch-checkbox" id="riskownerswitch" (change)="ownerSelect($event)" />
                          <label class="onoffswitch-label" for="riskownerswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Select Risk Owner</label>

                        <select class="form-control" [disabled]="disableOwner"
                          (change)="selectUser($event.target.value)">
                          <!-- <option value="">Select</option> -->

                          <!-- <option>Select Option</option> -->
                          <option *ngFor="let user of systemUsers" [value]="user.username">{{ user.username }}
                          </option>
                          <!-- <option value="user.username"></option> -->
                        </select>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="form-group">
                        <label>Potential Outcome</label>
                        <textarea class="form-control" rows="6" id="comment" formControlName="riskPotentialoutcome"
                          placeholder="Describe Potential Outcome of the risk!"></textarea>
                      </div>
                    </div>
                    <!-- <div class="full-width">
                      <div class="form-group">
                        <label>Control Type</label>
                        <select
                          (change)="setControlType($event.target.value)"
                          class="form-control"
                        >
                          <option selected [value]="">Any</option>

                          <option
                            *ngFor="let controlType of controlTypes"
                            [value]="controlType.controlName"
                          >
                            {{ controlType.controlName }}</option
                          >
                        </select>
                      </div>
                    </div> -->
                    <!-- <div class="full-width">
                      <div class="form-group">
                        <label>Department</label>
                        <select
                          class="form-control"
                          (change)="setControlDepartment($event.target.value)"
                        >
                          <option selected [value]="">Any</option>

                          <option
                            *ngFor="let dept of riskMasterDepartment"
                            [value]="dept.departmentName"
                          >
                            {{ dept.departmentName }}</option
                          >
                        </select>
                      </div>
                    </div> -->
                    <!-- <div class="full-width">
                      <div class="form-group">
                        <label>Process</label>
                        <select
                          class="form-control"
                          (change)="setControlProcess($event.target.value)"
                        >
                          <option selected [value]="">Any</option>
                          <option
                            *ngFor="let process of riskProcess"
                            [value]="process.processName"
                          >
                            {{ process.processName }}</option
                          >
                        </select>
                      </div>
                    </div> -->
                    <!-- <div class="full-width">
                      <div class="form-group">
                        <label>Control</label>
                        <select
                          class="form-control"
                          (change)="addControl($event.target.value)"
                        >
                          <option selected [value]="">Select Control</option>

                          <option
                            *ngFor="let controls of filteredControls"
                            [value]="controls.controlId"
                          >
                            {{ controls.controlName }}
                          </option>
                        </select>
                      </div>
                    </div> -->
                    <!-- <div class="full-width question-container-1 top-sec">
                      <div class="questions">
                        <p class="question-tag">Schedule</p>
                      </div>
                      <div class="button-radio">
                        <div class="onoffswitch">
                          <input
                            type="checkbox"
                            name="schedulebutton"
                            class="onoffswitch-checkbox"
                            id="schedule"
                            checked
                          />
                          <label class="onoffswitch-label" for="schedule">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div> -->
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Add Control</p>
                      </div>
                      <div class="button-radio">
                        <div class="onoffswitch">
                          <input type="checkbox" name="addcontrolbutton" class="onoffswitch-checkbox" id="addcontro"
                            formControlName="addControlFlag" />
                          <label class="onoffswitch-label" for="addcontro">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" (click)="onSave()">Save</button>
                <button class="big-button purple-btn" *ngIf="riskData['renderFrom'] === 'RCM'">
                  Delegate
                </button>
                <button class="big-button orange-btn" *ngIf="riskData['renderFrom'] === 'RCM'">
                  Reject
                </button>
                <button class="big-button green-btn right-side" *ngIf="riskData['renderFrom'] === 'RCM'">
                  Approve
                </button>
                <button class="big-button yellow-btn right-side" *ngIf="riskData['renderFrom'] === 'RCM'">
                  Submit
                </button>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Controls</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="row full-width"></div>
                <div class="full-width table-style">
                  <div class="full-width table-style mt-4">
                    <div class="full-width action-header">
                      <h4>Control part of the Risk</h4>
                    </div>
                  </div>
                  <div class="full-width overflow-auto">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Control ID</th>
                          <th scope="col">Control Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Control Type</th>
                          <th scope="col">Department</th>
                          <th scope="col">Key Control</th>
                          <th scope="col" class="text-centerng">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let control of assignedControls">
                          <td>{{ control.controlId }}</td>
                          <td>{{ control.controlName }}</td>
                          <td>
                            {{ control.controlDescription | slice: 0:65 }}
                          </td>
                          <td>{{ control.controlType }}</td>
                          <td>{{ control.controlDepartment }}</td>
                          <td>Key Control</td>
                          <td class="edit-delete-icon normal-table">
                            <a (click)="deleteControl(control.controlId)" class="delete-btn">
                              <img src="assets/img/delete_button.svg" alt="Delete" />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="full-width overflow-auto">
                  <div class="full-width action-header">
                    <h5 class="float-left">Control Selection</h5>
                    <!-- <button class="float-right" (click)="removeAction()">Remove Selected From Wf</button> -->
                    <button class="float-right mr-3 green-btn" (click)="addControl()">
                      Add Selected To Risk
                    </button>
                  </div>
                  <table id="riskWFTable" class="display" style="width: 100%;">
                    <thead>
                      <tr>
                        <th>
                          <!-- <input name="select_all" value="1" id="matrix-select-all" type="checkbox" /> -->
                        </th>
                        <th>Area</th>
                        <th>Control ID</th>
                        <th>Control Name</th>
                        <th>Control Description</th>
                        <th>Approver</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of filteredControls;let i = index">
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" value={{data.controlId}}>
                            <span class="checkmark"></span>
                          </label>

                        </td>
                        <td>{{data.area}}</td>
                        <td>
                          <a class="undeline-anchor" href="javascript:void(0);">{{data.controlId}}</a>
                        </td>
                        <td>{{data.controlName}}</td>
                        <td>{{(data.controlDescription).slice(0,20)}}...</td>
                        <td>{{data.controlApprovedBy}}</td>
                      </tr>
                      <!-- <tr>
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                          </label>
                        </td>
                        <td></td>
                        <td>
                          <a
                            class="undeline-anchor"
                            href="javascript:void(0);"
                          ></a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" (click)="onSave()">Save</button>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input type="text" placeholder="Select Date" class="form-control calendar-icon" bsDatepicker
                              formControlName="riskIdentifiedDate" [bsValue]="riskIdentifiedDate" placement="bottom" />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Submitted On</label>
                          <div class="full-width relative">
                            <input type="text" formControlName="riskSubmittedDate" placeholder="Select Date"
                              bsDatepicker class="form-control calendar-icon" [bsValue]="riskSubmittedDate"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }" />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input type="text" formControlName="riskLastChangeDate" placeholder="Select Date"
                              bsDatepicker class="form-control calendar-icon" [bsValue]="riskLastChangeDate"
                              placement="top" />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Approved On</label>
                          <div class="full-width relative">
                            <input type="text" formControlName="riskLastApprovedDate" placeholder="Select Date"
                              bsDatepicker class="form-control calendar-icon" [bsValue]="riskLastApprovedDate"
                              placement="top" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Owner</label>
                          <input class="form-control" formControlName="riskOwner" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Owner ID</label>
                          <input class="form-control" formControlName="riskOwnerId" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Submitter</label>
                          <input class="form-control" formControlName="riskSubmitter" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Submitter ID</label>
                          <input class="form-control" formControlName="riskSubmitterId" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Approved by</label>
                          <input class="form-control" formControlName="riskApprovedBy" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Risk Approver ID</label>
                          <input class="form-control" formControlName="riskApproverId" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" (click)="onSave()">Save</button>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </form>
</div>