.outer-spc {
  padding: 15px;

  .l-align {
    // display: flex;
    // justify-content: space-between;
    .f-l {
      float: left;
      p {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        padding-right: 8px;
        margin-bottom: 6px;
      }
      p:nth-child(2) {
        background-color: #9f90c4;
        padding: 0px 9px 0px 6px;
        border-radius: 8px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        align-self: center;
      }
    }

    .f-r {
      float: right;
      p.counter{
        width: 26px;
        height: 18px;
        background: #644C9F;
        color: #fff;
        border-radius: 7px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        margin-top: 6px;
        line-height: 17px;
        padding: 0px;
      }
    }
  }
  .g-blc {
    padding: 10px;
    background-color: #ececec;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: calc(~"100% - 33px");
  }
}

.accordian-container .form-accordian .headind-box {
  background-color: #ececec;
  display: inherit;
  position: inherit;
  top: inherit;
    left: inherit;
    float: left;

  p {
    margin: 0px;
    color: #6d6d6d;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
  }
  p:nth-child(2) {
    margin-left: 10px;
    background-color: #9f90c4;
    padding: 0px 9px 0px 6px;
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
}
.accordion {
  padding: 8px 0px;
}
.accordian-container .img-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
}
.accordian-container .card {
  background-color: transparent;
  border: 0px;
}
.accordian-container .card-body {
  padding: 0px;
  margin: 20px 0px 10px;
  margin-top: 0px;
}
.accordian-container .card-body p {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  color: #745daa;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #745daa;
}

.accordian-container .card-body .pie-karts p {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  color: #dd6838;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #dd6838;
}

.accordian-container .card-header {
  background-color: transparent;
  border-bottom: 0;
  padding: 0px;
  line-height: 0px;
}
.accordian-container .card-header h2.text-h2 {
  font-size: 20px;
  line-height: 0px;
  height: auto;
}
.accordian-container .btn.btn-link {
  border: 0px;
  position: relative;

}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.mainbtn{
  margin-bottom: 10px;
}
.mainbtn&:before{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #d3d3d3;
}

