<div class="outer-spc">
  <div class="row">
    <div class="col-md">
      <div class="clearfix l-align">
        <div class="f-l">
          <p>Assigned</p>
        </div>
        <div class="f-r">
          <p class="counter">0</p>
        </div>
      </div>

      <div class="clearfix g-blc newin">
        <div class="full-width accordian-container">
          <div class="accordion form-accordian" id="accordionExampleAglie">
            <div class="card according-wing">
              <div class="card-header" id="headingOneAglie">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative mainbtn"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordOne"
                    aria-expanded="true"
                    aria-controls="collapseaccordOne"
                  >
                    <div class="headind-box">
                      <p>AUDIT PROGRAM</p>
                      <p>0</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordOne"
                class="collapse show"
                aria-labelledby="headingOneAglie"
                data-parent="#accordionExampleAglie"
              >
                <div class="card-body">
                    <div class="accordion inneraccordianIn" id="accordionSubOne">
                        <div class="card">
                          <div class="card-header" id="headingSubOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOneAglie" aria-expanded="false" aria-controls="collapseOneAglie">
                                <div class="imgleft"><img src="../../../../../assets/img/tick.svg"></div>
                                <div class="contentleft">
                               <span class="contentabt"><span class="idnum">WS A7</span> Procurement- Purchase to pay</span>
                               </div>
                               <!-- <div class="count-number">
                                  <span>03</span>
                               </div> -->
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOneAglie" class="collapse-lines collapse" aria-labelledby="headingSubOne" data-parent="#accordionSubOne">
                            <div class="card-body card-sec">
                                <ul class="audit-program">
                                  <li>
                                    <span class="cursor-pointer" (click)="pdfView()">WP A7.1</span> Determine if the document..
                                    <!-- <div class="radio-container">
                                      <div class="checkbox-container">
                                        <div class="form-group">
                                          <label class="custom-radio">
                                          <input name="department" type="radio">
                                            <span class="checkmark"></span>
                                          </label>
                                        </div>
                                      </div>
                                    </div> -->
                                  </li>
                                  <li>
                                      <span>WP A7.2</span> Check
                                      <!-- <div class="radio-container">
                                        <div class="checkbox-container">
                                          <div class="form-group">
                                            <label class="custom-radio">
                                            <input name="department" type="radio">
                                              <span class="checkmark"></span>
                                            </label>
                                          </div>
                                        </div>
                                      </div> -->
                                    </li>
                                    <li>
                                        <span>WP A7.3</span> if the document..
                                        <!-- <div class="radio-container">
                                          <div class="checkbox-container">
                                            <div class="form-group">
                                              <label class="custom-radio">
                                              <input name="department" type="radio">
                                                <span class="checkmark"></span>
                                              </label>
                                            </div>
                                          </div>
                                        </div> -->
                                      </li>
                                </ul>
                                <div class="full-width">
                                  <button class="btn opn-wrkbtn" (click)="openWorkStep()">Open Work Step</button>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingSubTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoAglie" aria-expanded="false" aria-controls="collapseTwoAglie">
                                  <div class="imgleft"><img src="../../../../../assets/img/tick.svg"></div>
                                  <div class="contentleft">
                                 <span class="contentabt">
                                   <span class="idnum">WS A6</span> 
                                    Procurement -Purchase to pay</span>
                                 </div>
                                 <!-- <div class="count-number">
                                    <span>04</span>
                                 </div> -->
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwoAglie" class="collapse-lines collapse" aria-labelledby="headingSubTwo" data-parent="#accordionSubOne">
                            <div class="card-body card-sec">
                                <ul class="audit-program">
                                    <li>
                                      <span>WP A7.1</span> Determine if the document..
                                      <!-- <div class="radio-container">
                                        <div class="checkbox-container">
                                          <div class="form-group">
                                            <label class="custom-radio">
                                            <input name="departmentOne" type="radio">
                                              <span class="checkmark"></span>
                                            </label>
                                          </div>
                                        </div>
                                      </div> -->
                                    </li>
                                    <li>
                                        <span>WP A7.2</span> Check
                                        <!-- <div class="radio-container">
                                          <div class="checkbox-container">
                                            <div class="form-group">
                                              <label class="custom-radio">
                                              <input name="departmentOne" type="radio">
                                                <span class="checkmark"></span>
                                              </label>
                                            </div>
                                          </div>
                                        </div> -->
                                      </li>
                                      <li>
                                          <span>WP A7.3</span> if the document..
                                          <!-- <div class="radio-container">
                                            <div class="checkbox-container">
                                              <div class="form-group">
                                                <label class="custom-radio">
                                                <input name="departmentOne" type="radio">
                                                  <span class="checkmark"></span>
                                                </label>
                                              </div>
                                            </div>
                                          </div> -->
                                        </li>
                                  </ul>
                                  <div class="full-width">
                                    <button class="btn opn-wrkbtn">Open Work Step</button>
                                  </div>
                            </div>
                          </div>
                        </div>
                    
                      </div>
                </div>
              </div>
            </div>
          </div>

       
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="clearfix l-align">
        <div class="f-l">
          <p>Work in Progress</p>
          
        </div>
        <div class="f-r">
            <p class="counter">0</p>
        </div>
      </div>

      <div class="clearfix g-blc">
        <div class="full-width accordian-container">
            <div class="accordion form-accordian" id="accordionExampleNew">
                <div class="card according-wing">
                  <div class="card-header" id="headingTwoAglie">
                    <h2 class="mb-0 text-h2">
                      <button
                        class="btn btn-link relative mainbtn"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseaccordTwo"
                        aria-expanded="true"
                        aria-controls="collapseaccordTwo"
                      >
                        <div class="headind-box">
                          <p>AUDIT PROGRAM</p>
                          <p>0</p>
                        </div>
                        <div class="img-toggle">
                          <img src="../../../../assets/img/round-img.svg" />
                        </div>
                      </button>
                    </h2>
                  </div>
    
                  <div
                    id="collapseaccordTwo"
                    class="collapse show"
                    aria-labelledby="headingTwoAglie"
                    data-parent="#accordionExampleNew"
                  >
                    <div class="card-body">
                        <div class="accordion inneraccordianIn" id="accordionSubTwo">
                         
                        
                          </div>
                    </div>
                  </div>
                </div>
                <div class="card according-wing issues-container">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0 text-h2">
                      <button
                        class="btn btn-link relative mainbtn"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseaccordThree"
                        aria-expanded="true"
                        aria-controls="collapseaccordThree"
                      >
                        <div class="headind-box">
                          <p>ISSUES</p>
                          <p>0</p>
                        </div>
                        <div class="img-toggle">
                          <img src="../../../../assets/img/round-img.svg" />
                        </div>
                      </button>
                    </h2>
                  </div>
    
                  <div
                    id="collapseaccordThree"
                    class="collapse show"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExampleNew"
                  >
                    <div class="card-body">
                        <div class="accordion inneraccordianIn" id="accordionSubThree">
                          
                        
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="clearfix l-align">
        <div class="f-l">
          <p>Completed</p>
          
        </div>
        <div class="f-r">
            <p class="counter">0</p>
        </div>
      </div>

      <div class="clearfix g-blc">
        <div class="full-width accordian-container">
          <div class="accordion form-accordian" id="accordionExampleNewOne">
                
            <div class="card according-wing">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative mainbtn"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordFour"
                    aria-expanded="true"
                    aria-controls="collapseaccordFour"
                  >
                    <div class="headind-box">
                      <p>AUDIT PROGRAM</p>
                      <p>0</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordFour"
                class="collapse show"
                aria-labelledby="headingFour"
                data-parent="#accordionExampleNewOne"
              >
                <div class="card-body">
                    <div class="accordion inneraccordianIn" id="accordionSubFour">
                      
                      </div>
                </div>
              </div>
            </div>
            <div class="card according-wing issues-container">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0 text-h2">
                  <button
                    class="btn btn-link relative mainbtn"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseaccordFive"
                    aria-expanded="true"
                    aria-controls="collapseaccordFive"
                  >
                    <div class="headind-box">
                      <p>ISSUES</p>
                      <p>0</p>
                    </div>
                    <div class="img-toggle">
                      <img src="../../../../assets/img/round-img.svg" />
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="collapseaccordFive"
                class="collapse show"
                aria-labelledby="headingFive"
                data-parent="#accordionExampleNewOne"
              >
                <div class="card-body">
                    <div class="accordion inneraccordianIn" id="accordionSubFive">
                      
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-edit-work-step *ngIf="editWorkStep"></app-edit-work-step>
<app-aglie-audit-pdf *ngIf="pdfOpen"></app-aglie-audit-pdf>
<app-edited-issue-form-aglie *ngIf="issueForm"></app-edited-issue-form-aglie>