<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleSix"
  *ngIf="pbcData && pbcData.teamAndTimeline">
  <div class="close-form" (click)="closeModal()">
    <img src="../../../../../assets/img/close-form.svg" alt="Close">

  </div>
  <div class="full-width from-heading-box relative" #myHandleSix>
    <div class="text-area-sec">
      <h4 class="field-work-h4"><span>New Document Request</span> </h4>
    </div>

    <div class="r-number">
      <p class="text-design">{{auditPBC_id}}</p>
    </div>
    <div class="icons-in">
      <ul>

        <li class="duplicate-btn-form">
          <a class="dupIco"><img href="javascript:void(0);" src="../../../../../assets/img/print-form.svg"
              alt="Print"></a>

          <a href="javascript:void(0);" class="dupIcoHover" (click)="print()">
            <img src="assets/img/Print2.svg" alt="Print" /> Print</a>

        </li>

      </ul>
    </div>
  </div>

  <!-- New UI added by Abu - 17-09-2020 start -->
  <div class="scroll-container">
    <!-- <form [formGroup]="PBCForm" (ngSubmit)="onSave()"> -->
    <div class="full-width tab-section-container">
      <div class="full-width">
        <tabset class="tab-block">
          <tab>
            <ng-template tabHeading>
              <span>Details</span>
            </ng-template>
            <div class="tabContent-box">
              <div class="full-width">
                <div class="">
                  <div class="row">
                    <div class="full-width col-sm col-md-3">
                      <div class="form-group">
                        <label>Period in Scope</label>
                        <div class="full-width relative">
                          <input  placeholder="No Date Selected" class="form-control calendar-icon"
                            bsDaterangepicker name="periodInScope" [(ngModel)]="pbcData.teamAndTimeline.periodInScope"
                            placement="bottom" [bsConfig]="{ rangeInputFormat: 'DD-MM-YYYY' }" disabled />
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm col-md-2 audit-sm-3">
                      <div class="form-group">
                        <label>Audit ID</label>
                        <div class="full-width relative">
                          <p><span class="color-text">{{pbcData.auditId}}</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm col-md-4">
                      <div class="form-group">
                        <label>Audit Title</label>
                        <div class="full-width relative">

                          <p><span class="color-text">{{pbcData.auditableEntity}} -
                              {{pbcData.category.levelFive.data}}</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="full-width col-sm assign-width-15 no-padding">
                      <div class="assignees form-group">
                        <label>Auditee</label>
                        <div class="a-team">
                          <ul class="teamListUl">
                            <li *ngFor= "let item of pbcData.teamAndTimeline.pbc">
                              <img src="../../../../../../assets/img/profile.png">
                              <span class="color-text">{{pbcData.teamAndTimeline.pbc}}</span>

                            </li>

                          </ul>

                        </div>
                      </div>
                    </div>

                    <div class="full-width col-sm assign-width-15">
                      <div class="assignees form-group">
                        <label>Reviewer</label>
                        <div class="a-team">
                          <ul class="teamListUl">
                            <li>
                              <img src="../../../../../assets/img/elmar.png">   
                              <span class="color-text"> {{pbcData.auditPbc.preparer}}</span>

                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mt-3 mb-3">
                    <div class="row">
                      <div class="col-sm-6 no-padding">
                        <div class="clearfix">

                          <div class="form-group pl-3 pr-3 m-0 mt-2">
                            <label>Document Request</label>
                            <textarea class="p-2" [(ngModel)]="pbcData.auditPbc.documentRequest"
                              name="documentRequest"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="clearfix">
                          <div class="form-group pl-3 pr-3 m-0 mt-2">
                            <label>Audit Scope</label>
                            <textarea class="p-2" [(ngModel)]="pbcData.auditPbc.auditScope"
                              name="auditScope"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="full-width add-new-block">
                  <div class="col-lg-12 table-icon-list float-right text-right padding-right-0 mb-2">
                    <a class="tooltip" (click)="addnewPBCpopup()">
                      <span class="tooltiptext triple-word">Add New PBC</span>
                      <img src="assets/img/add_button.svg" alt="Add" />
                    </a>
                  </div>

                </div>

                <table id="pbcDocumentTable" class="display table-md-responsive table-sm-space-20 pbc-form-table"
                  style="width: 100%;">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="sorting_disabled text-center">
                        OK
                      </th>
                      <th>Due Date</th>
                      <th>Doc. Requested</th>
                      <th>Date Uploaded</th>
                      <th>Attachment</th>
                      <th>Remark</th>
                      <th class="text-center action-block sorting_disabled">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pbcData.auditPbc.documentList;let i = index">
                      <!-- <td>1</td> -->
                      <td>{{ i + 1 }}</td>
                      <td class="dt-body-center switch-toggle-block">
                        <input name="select_all" value="1" id="pbc-switch-toggle-{{i}}"
                          [checked]="item.isApproved || item.isRejected" [disabled]="item.isLocked || !item.dmsInfo || (item.dmsInfo && !item.dmsInfo.documentUrlToken)" type="checkbox"
                          (change)="toggleEditable($event,i)" [disabled] = "item.isLocked"   />
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input type="checkbox" (change)="onApproveToggleChange($event,i)" [disabled] = "item.isLocked "
                              [checked]="item.isApproved && !item.isRejected" class="onoffswitch-checkbox attch"
                              id="addcontro-{{i}}"  />
                            <label class="onoffswitch-label" for="addcontro-{{i}}">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="full-width relative">
                          <input  (keydown)="blockInput($event)"  type="text" placement="top" placeholder="Select Date"
                            class="form-control calendar-icon" bsDatepicker [(ngModel)]="item.dueDate" [minDate]="minDate"
                       
                           
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" />
                        </div>

                      </td>
                      <td class="text-center"> {{item.docRequested}}
                        <span *ngIf="item.isLocked" class="lock-icon"><img src="../../../../../../assets/img/lock.svg"
                            alt="Lock" /></span>
                      </td>
                      <td>{{item.dateUploadedDisplay}}</td>
                      <td>
                        <ng-container *ngIf="item.dmsInfo && item.dmsInfo.documentUrlToken; else noDocs">
                          <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion === 'pdf'">
                            <img src="assets/img/pdf-ico.svg"  alt="pdf_icon" />
                          </div> 
                           <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion === 'docx' || item.dmsInfo.extenstion === 'PPTX'">
                            <img src="../../../../../../assets/img/word.svg"alt="word_icon" />
                          </div> 
                           <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion === 'png' || item.dmsInfo.extenstion === 'jpg' || item.dmsInfo.extenstion === 'jpeg'">
                            <img src="../../../../../../assets/img/image.svg" alt="image_icon" />
                          </div>
                          <div class="new-doc-ico" *ngIf="item.dmsInfo.extenstion == 'xlsx'">
                            <img src="../../../../../../assets/img/excel.svg" alt="excel_icon" />
                          </div> 
             
                        </ng-container>
                        <ng-template #noDocs>
                          <div class="full-width question-container-1 mb-0">
                            <div class="add-file upload-file-plus">
                              <ngx-file-drop dropZoneLabel="Drop files here">
                                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                  <label for="upload-photo">
                                    <img src="assets/img/add_button.svg" (click)="notAllowed()" alt="" width="20px">
                                  </label>
                                </ng-template>
                              </ngx-file-drop>
                            </div>
                          </div>
                        </ng-template>
                        
                     
                        <!-- <img src="assets/img/pdf-ico.svg" alt="Image" /> -->
                      </td>
                      <td class="text-center">
                        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': item.remarks.length > 10 }">
                          <input class="form-control edit-input-field" type="text" name="remarks" [(ngModel)]="item.remarks" />
                          <span class="tooltiptext wd-150">{{ item.remarks }}</span>
                          </div>
                      
                      </td>
                      <td align="center">
                        <div class="dropdown show action-dropdown position-relative">
                          <a class="btn dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-text">
                            <ul>
                              <li *ngIf="item.dmsInfo && item.dmsInfo.documentUrlToken">
                                <a class="edit-btn" (click)="downloadFile(i)">
                                  <span>Download</span>
                                </a>
                              </li>
                              <li *ngIf="!item.isLocked" >
                                <a class="edit-btn" (click)="deleteFileEntry(i)">
                                  <span>Delete Entry</span>
                                </a>
                              </li>
                              <li  *ngIf="item.dmsInfo && item.dmsInfo.documentUrlToken && !item.isLocked" >
                                <a class="edit-btn" (click)="deleteFileAttachment(i)">
                                  <span>Delete Attachment</span>
                                </a>
                              </li>
                              <li *ngIf="item.isLocked">
                                <a class="edit-btn" (click)="unLockFile(i)">
                                  <span>Unlock</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="full-width button-container">

              <button class="big-button" (click)="onSave()">Save</button>
              <button class="big-button purple-btn right-side"   (click)="onSend()">Send</button>


            </div>
          </tab>

        </tabset>
      </div>
    </div>
    <!-- </form> -->
  </div>

  <div class="new-chat-popup-maincontainer add-document-new add-new-pbc p-0" *ngIf="addnewPBC">
    <div class="full-width from-heading-box relative">
      <div class="text-area-sec">
        <h4 class="field-work-h4"><span>New Document Request</span> </h4>
      </div>
      <div class="full-width">
        <form [formGroup]="PBCPOPUPForm" (ngSubmit)="onSavePOPUP()">

          <div class="row">
            <div class="full-width col-sm col-md-3 text-left">
              <div class="form-group">
                <label>Due Date</label>
                <div class="full-width relative">
                  <div class="full-width relative">
                    <input  (keydown)="blockInput($event)" placement="bottom" placeholder="Select Date" class="form-control calendar-icon"
                      formControlName="dueDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"[minDate]="minDate"   />
                  </div>
                </div>
              </div>
            </div>
            <div class="full-width col-sm col-md-3 text-left">
              <div class="form-group">
                <label>Document Request</label>
                <div class="full-width relative">
                  <input type="text" formControlName="docRequested" />
                </div>
              </div>
            </div>
            <div class="full-width col-sm col-md-12 text-left mt-2">
              <div class="form-group">
                <label>Remarks</label>
                <div class="full-width relative">
                  <textarea class="form-control" formControlName="remarks"></textarea>
                </div>
              </div>
            </div>
            <div class="full-width text-center mt-5 mb-4">
              <button class="big-button cancel-btn mr-3" (click)="closeInnerModal()">Cancel</button>
              <button class="big-button"  >Save</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
