<div class="login-body-bg">
  <div class="container-fluid">
    <div class="row login-box">
      <div class="col-sm px-0 login-bg">
        <div class="login-left-pane">
          <carousel #carousel [interval]="3500" [noPause]="true">
            <slide>
              <img src="assets/img/login.png" alt="first slide">
              <div class="first-slide-content">
                  <h4>EnSpaZe</h4>
                <p>
                  Collaborative Compliance and Internal Audit.
                </p>
                
              </div>


            </slide>
            <slide>
              <img src="assets/img/login.png" alt="first slide">
              <div class="first-slide-content">
                  <h4>EnRiCo</h4>
                <p>
                  Collaborative Risk Assessment and Control.
                </p>
                
              </div>
            </slide>
            <slide>
              <img src="assets/img/login.png" alt="first slide">
              <div class="first-slide-content">
                  <h4>EnIA</h4>
                <p>
                  Collaborative Internal Audit.
                </p>
                
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-sm px-0 login-white-bg">

        <form class="form-signin py-4 p-3">
          <div class="login-logo">
            <h1 class="logo-text"><span class="green-font">En</span><span class="purple-font">IA</span></h1>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="login-form clearfix">
            <h4>Sign In</h4>

            <div class="email">
              <img src="assets/img/email.svg" alt="Email Icon" width="15px"> EMAIL
              <input type="text"  formControlName="username" class="form-control mb-2" placeholder="Email"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            </div>

            <div class="email-psw clearfix">
              <img src="assets/img/password.svg" alt="Password Icon" width="15px"> PASSWORD
              <input type="password" formControlName="password" class="form-control mb-2" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              <div class="float-right frgt">
                <a routerLink="">Forgot Password?</a>
              </div>
            </div>
           

          </div>

          <button class="btn btn-lg btn-primary btn-block mb-4 login-btn" type="submit" >LOGIN</button>
          </form>

          <div class="float-left acnt">
            <a ></a>

          </div>
          <div class="float-right rstr">
            <a routerLink="">Do Not Have An Account?</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>