<div class="pop-up-form" ngDraggable [position]="position" [handle]="myHandleThree">
  <div class="close-form" (click)="closeModal(true)">
    <img src="../../../../../assets/img/close-form.svg" alt="Close" />
  </div>
  <div class="full-width from-heading-box relative" #myHandleThree>
    <div class="text-area-sec">
      <h4 class="field-work-h4">
        <span>Audit Planning Memorandum :</span>
      </h4>
    </div>
    <div class="r-number">
      <p class="text-design"></p>
    </div>

    <div class="icons-in">
      <ul>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/duplicate-form.svg"
              alt="Duplicate"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Duplicate-white.svg" alt="Duplicate" />
            Duplicate</a
          >
        </li>
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/upload-form.svg"
              alt="Export"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Export2.svg" alt="Export" /> Export</a
          >
        </li> -->
        <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/print-form.svg"
              alt="Print"
          /></a>
          <!-- <a href="javascript:void(0);" class="dupIcoHover"
            ><img src="assets/img/Print2.svg" alt="Print" /> Print</a
          > -->
          <!-- print click added by Abu - 16-09-2020 start -->
          <a href="javascript:void(0);" class="dupIcoHover" (click)="print()">
            <img src="assets/img/Print2.svg" alt="Print" /> Print</a>
        <!-- print click added by Abu - 16-09-2020 end -->
        </li>
        <!-- <li class="duplicate-btn-form">
          <a class="dupIco"
            ><img
              href="javascript:void(0);"
              src="../../../../../assets/img/share-form.svg"
              alt="Share"
          /></a>
          <a href="javascript:void(0);" class="dupIcoHover"
            >Share <img src="assets/img/share2.svg" alt="Share"
          /></a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="scroll-container">
    <form [formGroup]="memorandumForm" (ngSubmit)="onSave()">
      <div class="full-width tab-section-container">
        <div class="full-width">
          <tabset class="tab-block">
            <tab>
              <ng-template tabHeading>
                <span>Details</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="">
                    <div class="row">
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Period in Scope</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              formControlName="periodInScope"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <!-- <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Performance Period</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              formControlName="performance_period"
                            />
                          </div>
                        </div>
                      </div> -->
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Opening Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              formControlName="openingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width col-sm">
                        <div class="form-group">
                          <label>Closing Meeting</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="-"
                              class="form-control calendar-icon"
                              formControlName="closingMeetingDate"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                  

                    <div class="row dvsn-section">
                      <div class="full-width col-sm">
                        <div class="dvsn clearfix">
                          <!-- <div class="form-group">
                            <label>Division</label>
                            <select
                              class="form-control"
                              formControlName="apm_division"
                            >
                              <option value="">Select Division</option>
                              <option
                                *ngFor="let div of division"
                                [value]="div.id"
                              >
                                {{ div.divisionName }}
                              </option>
                            </select>
                          </div> -->

                          <div class="form-group">
                            <label>Audit Objectives</label>
                            <textarea
                              formControlName="auditObjectives"
                              contenteditable="true"
                              class="new-change"
                            >
Review of effectiveness and efficiency of the P2P process and controls as well as assessment of compliance with existing policies and procedures, supported by sampling.</textarea
                            >
                          </div>

                          <!-- <div class="form-group">
                            <label>Lead Contact</label>
                            <select
                              class="form-control"
                              formControlName="apm_lead_contact"
                            >
                              <option value="">Select Lead</option>

                              <option
                                *ngFor="let lead of leads"
                                [value]="lead.id"
                              >
                                {{ lead.leadName }}
                              </option>
                            </select>
                          </div> -->
                          <div class="full-width">
                            <div class="assignees">
                              <p>Auditee contact</p>
                              <div class="a-team">
                                <ul class="teamListUl" *ngIf="auditeeTeam?.length>0">
                                  <li *ngFor="let at of auditeeTeam">
                                    <div class="listPeopleName">
                                      {{at}}
                                    </div>
                                    <img
                                      src="../../../../../../assets/img/process.svg"
                                      alt="Audit"
                                    />
                                  </li>
                                </ul>
                                <label class="hide"
                                  >No team assigned</label
                                >
                              </div>
                            </div>
                          </div>

                          <!-- <div class="full-width">
                            <label class="label-in">Department</label>
                            <div class="checkbox-container">
                              <div class="form-group">
                                <label class="custom-radio"
                                  >Any
                                  <input
                                    type="radio"
                                    checked="checked"
                                    name="department"
                                  />
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                            </div>
                            <div class="seperator">
                              <span>- OR -</span>
                            </div>
                            <div class="form-container-box">
                              <div class="form-group">
                                <select
                                  class="form-control"
                                  formControlName="apm_dept"
                                >
                                  <option value="">Select Department</option>

                                  <option
                                    *ngFor="let dept of departments"
                                    [value]="dept.id"
                                  >
                                    {{ dept.departmentName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="full-width">
                            <label class="label-in">Process</label>
                            <div class="checkbox-container">
                              <div class="form-group">
                                <label class="custom-radio"
                                  >Any
                                  <input
                                    type="radio"
                                    checked="checked"
                                    name="process"
                                  />
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                            </div>
                            <div class="seperator">
                              <span>- OR -</span>
                            </div>
                            <div class="form-container-box">
                              <div class="form-group">
                                <select
                                  class="form-control"
                                  formControlName="apm_process"
                                >
                                  <option value="">Select Process</option>
                                  <option
                                    *ngFor="let process of processes"
                                    [value]="process.id"
                                  >
                                    {{ process.processName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div> -->

                          <div class="full-width">
                            <div class="assignees">
                              <p>Audit Team</p>
                              <div class="a-team">
                                <ul class="teamListUl" *ngIf="auditTeam">
                                  <li *ngFor="let at of auditTeam">
                                    <div class="listPeopleName">
                                      {{ at | titlecase }}
                                    </div>
                                    <img
                                      src="../../../../../assets/img/profile-dummy.png"
                                      alt="Audit"
                                    />
                                  </li>
                                </ul>
                                <label *ngIf="!auditTeam"
                                  >No team assigned</label
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="audit-scope full-width col-sm">
                        <div class="dvsn clearfix">
                          <div class="form-group">
                            <label>Audit Scope</label>
                            <textarea
                              formControlName="auditScope"
                              style="
                                min-height: 412px;
                                height: 100%;
                                border: 0;
                                line-height: initial;
                              "
                              contenteditable="true"
                            >
The audit will focus on:Obtain an understanding of the P2P process (i.e. sourcing strategy, procurement, supplier evaluation and monitoring, payment process).Assess the effectiveness and efficiency of the end-to-end P2P process and review the compliance with existing policies and procedures, includingTender process;Supplier evaluation, selection and approval;Supplier due diligence;Etc.Review of the supplier master data maintenance.Review of functional segregation of duties for the P2P process.Assess ICS regarding the completeness, appropriate design, and effectiveness of the existing P2P controls in place.Review of contract management process.Review of exemptions to the P2P process.Identify control gaps within the P2P process and define remediation plan for identified issues contract management process.Review of exemptions to the P2P process.Identify control gaps within the P2P process and define remediation plan for identified issues</textarea
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="out-scope">
                      <div class="row">
                        <div class="full-width col-sm">
                          <div class="out-scope-text clearfix">
                            <div class="form-group">
                              <label>Out Of Scope</label>
                              <textarea
                                formControlName="outOfScope"
                                class="p-3 border-0"
                                contenteditable="true"
                              >
Internal cost allocations
Access rights
GDPR
Inventory management</textarea
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="secound">
                    <div class="full-width question-container-1">
                      <div class="questions">
                        <p class="question-tag">Attachments</p>
                        <div class="button-radio">
                          <div class="onoffswitch">
                            <input
                              type="checkbox"
                              [checked]="
                                attachedFiles?.length > 0 ||
                                closeAttachment == false
                              "
                              [disabled]="attachedFiles?.length > 0"
                              (change)="switchProperty($event)"
                              name="addcontrolbutton"
                              class="onoffswitch-checkbox attch"
                              id="addcontro"
                            />

                            <label class="onoffswitch-label" for="addcontro">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Search popup open added by Abu - 18-09-2020 start -->

                  <div
                  class="full-width question-container-1"
                  *ngIf="attachedFiles?.length > 0 || openAttachment"
                >
                 <div class="add-file" (click)="addnewFile()">
                        <label for="upload-photo"
                          ><img
                            src="../../../../../assets/img/plus.png" alt=""
                            width="20px"
                          />Add New</label
                        >     
                  </div>
                  <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                   
                      <img
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />

                      <label>{{ item.documentName| slice:0:10 }}..</label>

                      <div
                        class="user-text"
                      >
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div>
                    </div>
                </div>

                <!-- Search popup open added by Abu - 18-09-2020 end -->

                   <div
                    class="full-width question-container-1"
                    
                  >
                  
                    
                    <!-- <div
                      class="attch-tooltips pdf-file"
                      *ngFor="let item of attachedFiles; let i = index"
                    >
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/pdf.svg"
                        alt=""
                        width="35px"
                        *ngIf="item.extension === 'pdf'"
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/word.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'docx' || item.extension === 'doc'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/excel.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'xlsx' || item.extension === 'csv'
                        "
                      />
                      <img
                        (click)="getDocument(item)"
                        src="../../../../../assets/img/search_icon.svg"
                        alt=""
                        width="35px"
                        *ngIf="
                          item.extension === 'png' || item.extension === 'jpeg'
                        "
                      />

                      <label>{{ item.relativePath }}</label>

                      <div
                        class="user-text"
                        *ngIf="item.new == true || item.isDuplicate == true"
                      >
                        <span class="close-icon" id="remove-user">
                          Remove

                          <img
                            (click)="removeAttachment(item, i)"
                            alt="delete"
                            src="../../../../../assets/img/close-form.svg"
                          />
                        </span>
                      </div>
                    </div> -->

                    <!-- <div class="add-file">
                      <ngx-file-drop
                        dropZoneLabel="Drop files here"
                        (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)"
                        (onFileLeave)="fileLeave($event)"
                      >
                        <ng-template
                          ngx-file-drop-content-tmp
                          let-openFileSelector="openFileSelector"
                        >
                          <label for="upload-photo"
                            ><img
                              src="../../../../../assets/img/plus.png"
                              (click)="openFileSelector()"
                              alt=""
                              width="20px"
                            />Add New</label
                          >
                        </ng-template>
                      </ngx-file-drop>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="full-width button-container">
                <button class="big-button" type="submit">Save</button>
                <!-- <button class="big-button purple-btn">Delegate</button>
                <button class="big-button orange-btn">Reject</button>
                <button class="big-button green-btn right-side">Approve</button>
                <button class="big-button yellow-btn right-side">Submit</button> -->
                <button class="big-button purple-btn right-side">Send</button>
              </div>
            </tab>
           
            <tab>
              <ng-template tabHeading>
                <span>Overview</span>
              </ng-template>
              <div class="tabContent-box">
                <div class="full-width">
                  <div class="row">
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Information</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input class="form-control" type="text" [value]="companyName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" [value]="location" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>B.U. Name</label>
                          <input class="form-control" type="text" [value]="buName" disabled/>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Business Process Name</label>
                          <input class="form-control" type="text" [value]="bProcessName" disabled/>
                        </div>
                      </div>
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>Dates</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent on</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            disabled/>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Identified On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="bottom"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitted On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{
                                dateInputFormat: 'DD-MM-YYYY',
                                adaptivePosition: true
                              }"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Last Change</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              placement="top"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved On</label>
                          <div class="full-width relative">
                            <input
                              type="text"
                              placeholder="Select Date"
                              class="form-control calendar-icon"
                              bsDatepicker
                              placement="top"
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                            />
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div class="three-share">
                      <div class="full-width heading-sec-form">
                        <h4 class="headind-form">
                          <span>People</span>
                        </h4>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Prepared By</label>
                          <input class="form-control" formControlName="preparedBy" type="text" disabled />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Sent By</label>
                          <input class="form-control" type="text" disabled />
                        </div>
                      </div>
                      <!-- <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Owner ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Submitter ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>

                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approved by</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                      <div class="full-width">
                        <div class="form-group">
                          <label>Audit Approver ID</label>
                          <input class="form-control" type="text" />
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
  
<!-- Search popup added by Abu - 18-09-2020 Start -->
<div class="new-chat-popup-maincontainer add-document-new p-0" *ngIf="editsearchDocument">
  <div class="close-form" (click)="closeSearch()">
    <img src="../../../../../assets/img/close-form.svg">    
  </div>
  <div class="intray-search">
    <div class="for-auditor-search">
      <div class="dataTables_filter form-group">
        <label>
          <input type="search" name="search" [(ngModel)]="globalSearchData" (keyup)="globalSearchKeyPress()"
            [disabled]="disableSearch" placeholder="Search for documents" class="form-control">
        </label>
      </div>
      <div class="search-filter-box">

        <tabset class="tab-block filteroptions" #staticTabs>
          <tab>
            <ng-template tabHeading>
              <h3>All Results</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownListAll" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown> 
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>PBC</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <h3>DMS</h3>
            </ng-template>
            <div class="multiSearchFilters">
              <ng-multiselect-dropdown [placeholder]="''" [data]="dropdownFirmList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </tab>
        </tabset>

        <div class="upload-submit text-center">
          <button type="submit" class="btn btn-primary upload-selected-btn" (click)="getSelectedDocs()">Upload Selected Documents</button>
        </div>
        <div class="filteroptions upload-load-file-block">
          <h3>Upload from Local machine</h3>
          <div class="button-style mr-left-rght">
            <label for="myFile">Browse and Upload</label>
          <input type="file" id="myFile" class="custom-file-input" (change)="onFilechanged($event)" accept=".xls, .xlsx,.jpeg,.jpg,.ppt,.pptx,.doc,.docx,.pdf,.zip,.gif,.png">
        </div>
        </div>
      </div>
    </div>
    <div class="for-auditor-search" style="display: none;">
      <div class="search-filter-box">
        <div class="filteroptions">
          <h3>Upload file from Local machine</h3>
          <input type="file" class="custom-file-input">
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Search popup added by Abu - 18-09-2020 end -->
</div>