@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .risk-result-block .risk-block-details .box-title {
    padding-bottom: 0;
  }
  .risk-result-block .risk-block-details .float-left {
    height: auto;
  }
  .tab-small.tab-container.ul.nav.nav-tabs {
    margin-top: 50px;
  }
  .select-button {
    position: initial;
  }
}

.medium {
  background-color: #97a849;
  border: 1px solid #97a849;
}

.low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.critical {
  background-color: #de6441;
  border: 1px solid #de6441;
}
.width20 {
  width: 80%;
}

.width80 {
  width: 80%;
}
