<div class="page">
  <div class="">
    <button type="button"  class="close pull-right" aria-label="Close" (click)="closeDialog()">
      <span><img src="../../../../../../assets/img/close-icon.svg" alt="close_icon"></span>
    </button>
  </div>
  <!-- Loader Starts -->
  <div [class.hidden]="!show">
    <div *ngIf="show" class="form-overlay">
      <div  class="lds-dual-ring"></div>
    </div>
    </div>
<!-- Loader ends-->
  <div #viewer class="viewer" id="viewer"></div>
  <!-- <button class="btn btn-success" (click)="updatePdf()">Update PDF</button> -->
</div>