.videoChat-in
{
  height: 597px;
}
.centerAlign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.mainDiv{
    width: 350px;
    border: 1px solid rgba(112,112,112,.35);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    padding: 15px 30px;
    .headingSec{
        text-align: center;
        font-weight: 600;
        margin: 15px 0px;
        color: #664da0;
        font-size: 26px;
    }
    form{
        label{
            width: 100%;
            margin: 0 0 3px;
    padding: 0;
    color: #4a4b4b;
    font-weight: 600;
    font-size: 12px;
        }
        input{
            padding: 6px 6px 6px 6px;
            font-size: 10px;
            margin-left: 0;
            background-color: #fff;
            border: 1px solid #cbcbcb;
            border-radius: 2.75px;
            height: 30px;
            width: 100%;
            &.btnConnect{
                width: 100%;
                margin: 0;
                padding: 13px 30px;
                border-radius: 22.5px;
                background-color: #39a8d9;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                outline: 0;
                border: none;
                height: auto;
                &:disabled{
                    background-color: rgba(57, 168, 217, 0.38); 
                }
            }
            &.inputIng{
                padding-right: 20px;
            }
        }
    }
}

.imgcoppy{
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    cursor: pointer;
}
.text-note{
    font-weight: 500;
    text-align: center;
}
.clickEvent{
    color: #39a8d9;
    cursor: pointer;
}
