<div class="videoChat-in full-width">
	<div class="centerAlign-in">
		<div id="main" class="mainDiv">
			<h1 class="headingSec">Join a video session</h1>
			<form (ngSubmit)="joinSession()">
				<p class="relative">
					<label>Session: </label>
					<input class="inputIng" type="text" id="sessionName" name="sessionName" [disabled]="disableControls" [(ngModel)]="this.sessionName" required #sessionId>
					<img (click)="copySessionId(sessionId)" src="../../../../../assets/img/duplicate-form.svg" alt="copy_btn"
						class="imgcoppy">
				</p>
				<p>
					<label>User: </label>
					<input type="text" id="user" name="user" [(ngModel)]="username" required [disabled]="disableControls">
				</p>
				<p>
					<input type="submit" [disabled]="sessionName.length < 3 || username.length < 3" value="JOIN" class="btn btnConnect" [disabled]='disableTextbox'>
				</p>
				<p class="text-note" *ngIf="sessionProgress">Your session may be in progress in another window. For any
					reason if you like to restart your session please
					"<span class="clickEvent" (click)="clickHere()">click here</span>”. </p>
			</form>
		</div>
	</div>
	<!-- <div class="centerAlign-in" *ngIf="loadVideo">
		<iframe width="100%" height="90%" src="https://115.112.185.58:8080/web?sessionName=ssssss&user=ammm"></iframe>
		<p class="text-note" *ngIf="sessionProgress">Your session may be in progress in another window. For any
			reason if you like to restart your session please
			"<span class="clickEvent" (click)="clickHere()">click here</span>”. </p>
	</div> -->
</div>