<div class="roomsClass">
    <span>Rooms </span
      ><select (change)="selectFilerooms($event.target.value)">
        <option *ngFor="let room of fileroomList">
          <a id="{{ room._id }}">{{ room?.title }}</a>
        </option>
      </select>
</div>

    <div class="fileList">
        <div *ngFor="let myFile of fileroomDetails?.fileName">
            <i
              class="fa fa-paperclip"
              style="color:brown;margin-left: 1px;"
              aria-hidden="true"
            ></i>
            <a class="btn btn-link" (click)="openAttachment(myFile)">{{ 
                myFile.length > 25
                ? myFile.substr(0, 25) + "..."
                : myFile
               }}</a>
          </div>
    </div>