.roomsClass {
    font-size: 13px;
    margin-top: -15px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
  }
  .fileList {
    overflow-y: scroll;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 14px;
    position: relative;
    padding-left: 13px;
    max-height: 86px;
    text-align: left;

    ul li {
      list-style-type: none;
      background: #dfeae6;
    font-weight: bold;

    }
  }
  select {
    -webkit-appearance: none;
    background-position: right 5px center;
    padding: 3px!important;
    background-repeat: no-repeat;
    width: 118px;
    font-size: 12px;

}



  
 