    <table class="box-view-table" width="100%">
        <tr>
            <td width="50%">
                Opening Meeting
            </td>
            <td class="meeting-date" width="50%">
                {{datesObj.openingMeetingDate ? (datesObj.openingMeetingDate | date:'dd-MM-yyyy' ) : "-"}}
            </td>
        </tr>
        <tr>
            <td>
                Update Meeting
            </td>
            <td class="meeting-date">
                {{datesObj.updateMeetingDate ? (datesObj.updateMeetingDate | date:'dd-MM-yyyy' ) : "-"}}
            </td>
        </tr>
        <tr>
            <td>
                Closing Meeting
            </td>
            <td class="meeting-date">
                {{datesObj.closingMeetingDate ? (datesObj.closingMeetingDate | date:'dd-MM-yyyy' ) : "-"}}
            </td>
        </tr>
        <tr>
            <td>
                Final Report
            </td>
            <td class="meeting-date">
                {{datesObj.finalReport ? (datesObj.finalReport | date:'dd-MM-yyyy' ) : "-"}}
            </td>
        </tr>
    </table>
