<div class="full-width accordion-sec">
        <div class="accordion" id="accordionExample">
          <div class="section-in">
            <div class="card">
              <div class="card-header bg-gray relative" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="textportion">Information</span>
                    <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="bg-gray collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="full-width section-inside">
                    <ul class="information-list">
                      <li>
                        <span class="text-list">Assign to Risk</span>
                        <button class="btn btn-infom yes">Yes</button>
                      </li>
                      <li>
                          <span class="text-list">Assign to Workflow</span>
                          <button class="btn btn-infom yes">Yes</button>
                        </li>
                        <li>
                                <span class="text-list">Key Control</span>
                                <button class="btn btn-infom yes">Yes</button>
                              </li>
                        <li>
                            <span class="text-list">Open Issues</span>
                            <button class="btn btn-infom no">No</button>
                          </li>
                          <li>
                              <span class="text-list">Last Testing</span>
                              <button class="btn btn-infom date">14.03.2019</button>
                            </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        
        <div class="full-width accordion-sec">
            <div class="accordion" id="accordionExampleOne">
              <div class="section-in">
                <div class="card">
                  <div class="card-header bg-gray relative" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span class="textportion">Instructions</span>
                        <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseTwo" class="bg-gray collapse show" aria-labelledby="headingTwo" data-parent="#accordionExampleOne">
                    <div class="card-body">
                      <div class="full-width section-inside">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="full-width">
                                        <div class="form-group">
                                          <label>Control Objective</label>
                                          <textarea
                                            class="form-control potential-text control-testong-obj"
                                          >Quiere la boca exhausta vid, kiwi, piña y fugaz jamón. Fabio me exige, sin tapujos, que añada cerveza al whisky. Jovencillo emponzoñado de whisky, ¡qué figurota exhibes! La cigüeña tocaba cada vez mejor el saxofón y el búho pedía kiwi y queso. El jefe buscó el éxtasis en un imprevisto baño de whisky y gozó como un duque. Exhíbanse…</textarea>
                                        </div>
                                      </div>
                                      <div class="full-width bt-5">
                                            <label class="label">Reference Document</label>
                                            <div class="full-width onlylist">
                                              <div class="list-of-uploads">
                                                <div class="uploadList">
                                                  <ul>
                                                    <li>
                                                      <div class="iconimg">
                                                        <img src="../../../../../../assets/img/pdf-ico.svg">
                                                      </div>
                                                      Policy
                                                    </li>
                                                    <li>
                                                        <div class="iconimg">
                                                          <img src="../../../../../../assets/img/pdf-ico.svg">
                                                        </div>
                                                        Policy
                                                      </li>
                                                      <li>
                                                          <div class="iconimg">
                                                            <img src="../../../../../../assets/img/pdf-ico.svg">
                                                          </div>
                                                          Policy
                                                        </li>
                                                  </ul>
                                                </div>
                                              </div>
                                          
                                            </div>
                                        </div>
                               
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                        
                              <div class="full-width">
                               
                                      <label class="controllb">Control Guidance 
                                       <span class="relative hoverbox"><img src="../../../../../../assets/img/explain.svg">
                                          <div class="popovercontent">
                                            <h4>What is Control Guidance</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing 
                                              and typesetting industry. Lorem Ipsum has been the 
                                              industry's standard dummy text ever since the 1500s, 
                                              when an unknown printer took a galley of type and 
                                              scrambled it to make a type specimen book. It has 
                                              survived not only five centuries</p>
                                              <a>Read More</a>
                                          </div>
                                      </span>
                                      </label>
                                   <div class="full-width relative wysiwyg-div">
                                  <angular-editor id="editor1"  [config]="editorConfig"></angular-editor>
                                </div>
                                
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
        
            <div class="full-width accordion-sec">
                <div class="accordion" id="accordionExampleThree">
                  <div class="section-in">
                    <div class="card">
                      <div class="card-header bg-gray relative" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                            <span class="textportion">Testing Approach</span>
                            <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseThree" class="bg-gray collapse show" aria-labelledby="headingThree" data-parent="#accordionExampleThree">
                        <div class="card-body">
                          <div class="full-width section-inside">
                             <div class="full-width seperate-container">
                                    <div class="row">
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                <div class="full-width">
                                                        <label class="container-checkbox">
                                                                Inspection of evidence that it was performed
                                                                  <input type="checkbox">
                                                                  <span class="checkmarkInner"></span>
                                                                </label>
                                                </div>
                                                <div class="full-width">
                                                        <label class="container-checkbox">
                                                                Re-performance to validate outcomes
                                                                  <input type="checkbox" checked="checked">
                                                                  <span class="checkmarkInner"></span>
                                                                </label>
                                                </div>
                                                  
                                            </div>
                                            <div class="col-md-5 col-sm-6 col-xs-12">
                                                    <div class="full-width">
                                                            <label class="container-checkbox">
                                                                    inquiry- How is it performed
                                                                      <input type="checkbox" checked="checked">
                                                                      <span class="checkmarkInner"></span>
                                                                    </label>
                                                    </div>
                                                    <div class="full-width">
                                                            <label class="container-checkbox">
                                                                    Observation of the control being performed
                                                                      <input type="checkbox">
                                                                      <span class="checkmarkInner"></span>
                                                                    </label>
                                                    </div>
                                            </div>
                                          </div>
                             </div>
                             <div class="full-width questionsec">
                                    <div class="questions newform-questions">
                                            <p class="question-tag">Sampling</p>
                                            <div class="button-radio">
                                              <div class="onoffswitch">
                                                <input type="checkbox"  class="onoffswitch-checkbox attch" id="sampling">
                                                <label class="onoffswitch-label" for="sampling">
                                                  <span class="onoffswitch-inner"></span>
                                                  <span class="onoffswitch-switch"></span>
                                                </label>
                                              </div>
                      
                                            </div>
                                          </div>
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="full-width accordion-sec">
                        <div class="accordion" id="accordionExampleOne">
                          <div class="section-in">
                            <div class="card">
                              <div class="card-header bg-gray relative" id="headingTwo">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <span class="textportion">Result</span>
                                    <span class="imgportion"><img src="../../../../../../assets/img/round-circle.svg"></span>
                                  </button>
                                </h2>
                              </div>
                          
                              <div id="collapseTwo" class="bg-gray collapse show" aria-labelledby="headingTwo" data-parent="#accordionExampleOne">
                                <div class="card-body">
                                  <div class="full-width section-inside">
                                    <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        
                                            <div class="full-width">
                                                <div class="form-group">
                                                  <label>Result</label>
                                                  <select
                                                    class="form-control"
                                                  >
                                                    <option>No Material Findings without  issues</option>
                                                   
                                                  </select>
                                                </div>
                                              </div>
                                              <div class="full-width questionsec">
                                                    <div class="questions newform-questions">
                                                            <p class="question-tag">Attachments / Proof / Samples</p>
                                                            <div class="button-radio">
                                                              <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox attch" id="attachment">
                                                                <label class="onoffswitch-label" for="attachment">
                                                                  <span class="onoffswitch-inner"></span>
                                                                  <span class="onoffswitch-switch"></span>
                                                                </label>
                                                              </div>
                                      
                                                            </div>
                                                          </div>
                                             </div>
                                             
                                                <div class="full-width bt-5">
                                                    <label class="label">Reference Document</label>
                                                    <div class="full-width">
                                                      <div class="list-of-uploads">
                                                        <div class="uploadList">
                                                          <ul>
                                                            <li>
                                                              <div class="iconimg">
                                                                <img src="../../../../../../assets/img/pdf-ico.svg">
                                                              </div>
                                                              Policy
                                                            </li>
                                                            <li>
                                                                <div class="iconimg">
                                                                  <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                </div>
                                                                Policy
                                                              </li>
                                                              <li>
                                                                  <div class="iconimg">
                                                                    <img src="../../../../../../assets/img/pdf-ico.svg">
                                                                  </div>
                                                                  Policy
                                                                </li>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                      <div class="addnew-sec">
                                                        <div class="centerin">
                                                            <img src="../../../../../../assets/img/plus.png">
                                                            <p class="addnew">Add new</p>
                                                            <input type="file" class="uploadsc">
                                                        </div>
                                                        
                                                      </div>
                                                    </div>
                                                </div>
                                              
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="full-width range-in rangesec">
                                                    <div class="range-content">
                                                        Control Risk
                                                    </div>
                                                    <div class="range-container">
                                                        <div class="slidecontainer" class="form-group">
                                                            <input type="range" #slider min="1" max="100"
                                                            value="80"
                                                                 id="crRange"
                                                                 class="range-control very-low">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="full-width">
                                                        <div class="form-group">
                                                          <label>Comments</label>
                                                          <textarea
                                                            class="form-control potential-text commentsec"
                                                          ></textarea>
                                                        </div>
                                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        <div class="full-width button-container">
                                <button class="big-button">Save</button>
                                <button class="big-button purple-btn">Delegate</button>
                                <button class="big-button orange-btn">Reject</button>
                                <button class="big-button dark-yellow-btn">OPEN ISSUE</button>
                                <button class="big-button green-btn right-side">Approve</button>
                                <button class="big-button yellow-btn right-side">Submit</button>
                               
                              </div>