.mar-bt-20{
  margin-bottom: 15px;
}
.audit-sm-3 {
max-width:12%;
}
.color-text {
color:#664da0;
font-weight: 700;
}
.medium {
    background-color:  #97a849;
    border: 1px solid #97a849;
}

.low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.critical {
  background-color: #de6441;
  border: 1px solid #de6441;
}

.user-text{
  visibility: hidden;
  width: 80px;
  background-color: #664da0;
  box-shadow: 0 1px 6px rgba(0,0,0,.16);
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 43%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.attch-tooltips:hover{
  .user-text{
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      img{
          margin: auto;
          display: inline-block;
          width: 12px;
          padding-bottom: 0px;
      }
  }
}

.selectcnl option {
background-color: #fff;
color: #6d6d6d;
}

select.form-control.purple{
  background-color: #664da0;
  color: #fff;
}

.select.form-control.green{
  background-color: #98aa3a;
  color: #fff;
}

.select.form-control.orange{
  background-color: #dd6838;
  color: #fff;
}

.select.form-control.yellow{
  background-color: #ffcc00;
  color: #fff;
}

  .greenText{ background-color: #98aa3a;  
    color: #fff;  }

.blueText{   background-color: #dd6838;
  color: #fff;}

.redText{ background-color: #ffcc00;
  color: #fff;}

  #pbcDocumentTable {
    .action-dropdown {
      .dropdown-menu.dropdown-menu-text {
      position: absolute !important;
      top: 30px !important;
      width: 118px;
      left: -45px !important;
      transform: none !important;
  }
}
}
.edit-input-field {
  min-width: 92px;
  padding: 4px;
  height: 24px;
  font-size: 13px;
  border:0px;
  background-color: transparent;
  max-width: 92px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  &:focus {
    border: 1px solid #ced4da;
    background-color: #fff;
    max-width: 81px;
    color: #664da0;
    border-radius: 0;
    text-align: left;
  }
}
.readmore-tooltip {
  &:focus {
    .tooltiptext {
      visibility: hidden !important;
    }
  }
}



.switch-button {
  position: relative;
  display: inline-block;
  left: 0;
  right: auto;
  // -webkit-transform: translateX(-50%);
  // -moz-transform: translateX(-50%);
  // -ms-transform: translateX(-50%);
  // -o-transform: translateX(-50%);
  // transform: translateX(-50%);
  z-index: 1;
  margin: 0;
  input[type="radio"] {
    visibility: hidden;
    position: absolute;
    height: 100%;
  }
  input[type="radio"]#yes:checked ~ label[for="yes"] {
    color: white;
    border: 1px solid #db6576;
  }
  input[type="radio"]#yes:checked ~ .switchFilter {
    left: 0;
    opacity: 1;
    width: 87px;
  }
  input[type="radio"]#no:checked ~ label[for="no"] {
    color: white;
    border: 1px solid #db6576;
    border-left-width: 0px;
  }
  input[type="radio"]#no:checked ~ .switchFilter {
    left: 100px;
    width: 87px;
    opacity: 1;
  }

  .switchFilter {
    width: 0;
    display: inline-block;
    background-color: #db6576;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  }
  
  label {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #3d4349;
    width: 20px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0;
    display: inline-block;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
  }
}

table.pbc-form-table {
  &.dataTable {
    thead th,  tbody td {
      padding-right: 18px;
      &.sorting_disabled {
        background: none;
      }
    }
    td {
      input.calendar-icon {
        width: 110px;
      }
    }
  } 
  .lock-icon {
    vertical-align: top;
    display: inline-block;
    margin-left: 4px;
    margin-top: -2px;
  }
}
.new-chat-popup-maincontainer {
  &.add-new-pbc {
    .from-heading-box {
      background-color: #fff;
      h4.field-work-h4 {
        span {
          color: #4a4b4b;
  
        }
      }
    } 
    .big-button {
      &.cancel-btn {
        background: #6d6d6d;
        &:hover {
          box-shadow: 0 0 10px #6d6d6d;
        }
      }
    }
  }
}
.dt-body-center {
  &.switch-toggle-block {
    width: 64px !important;
    text-align: center;
    .button-radio {
      display: inline-block;
      float: none;
      vertical-align: middle;
      margin-left: 4px;
      margin-top: -6px;
      opacity: 0.5;
    pointer-events: none;
      .onoffswitch-inner:before {
        text-align: left;
      }
    }
    &.show-checked {
      .button-radio {
        opacity: 1;
       pointer-events: auto;
      }
    }
  }
  
}

.form-control.calendar-icon.table-calemndar{
  font-size: 11px;
  margin-top: 0px;
}

