.mar-bt-20{
    margin-bottom: 15px;
}
.medium {
	background-color:  #97a849;
	border: 1px solid #97a849;
}

.low {
  background-color: #fc0;
  border: 1px solid #fc0;
}

.critical {
  background-color: #de6441;
  border: 1px solid #de6441;
}

.user-text{
  visibility: hidden;
  width: 80px;
  background-color: #664da0;
  box-shadow: 0 1px 6px rgba(0,0,0,.16);
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 43%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.attch-tooltips:hover{
  .user-text{
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      img{
          margin: auto;
          display: inline-block;
          width: 12px;
          padding-bottom: 0px;
      }
  }
}

.selectcnl option {
background-color: #fff;
color: #6d6d6d;
}

.mar-bt-20{
  margin-bottom: 15px;
}
.medium {
background-color:  #97a849;
border: 1px solid #97a849;
}

.low {
background-color: #fc0;
border: 1px solid #fc0;
}

.critical {
background-color: #de6441;
border: 1px solid #de6441;
}

.user-text{
visibility: hidden;
width: 80px;
background-color: #664da0;
box-shadow: 0 1px 6px rgba(0,0,0,.16);
color: #fff;
text-align: center;
font-size: 12px;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: 100%;
left: 43%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
opacity: 0;
-webkit-transition: opacity .3s;
transition: opacity .3s;
}

.attch-tooltips:hover{
.user-text{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    img{
        margin: auto;
        display: inline-block;
        width: 12px;
        padding-bottom: 0px;
    }
}
}

.selectcnl option {
background-color: #fff;
color: #6d6d6d;
}

select.form-control.purple{
background-color: #664da0;
color: #fff;
}

.select.form-control.green{
background-color: #98aa3a;
color: #fff;
}

.select.form-control.orange{
background-color: #dd6838;
color: #fff;
}

.select.form-control.yellow{
background-color: #ffcc00;
color: #fff;
}

.greenText{ background-color: #98aa3a;  
  color: #fff;  }

.blueText{   background-color: #dd6838;
color: #fff;}

.redText{ background-color: #ffcc00;
color: #fff;}