<div class="table-header rcm-table-header" style="z-index: 10;">
  <div class="col-lg-4 col-sm-6 control-risk-switch float-left">
    <span class="left-text">Control</span>
    <label class="switch">
      <input type="checkbox" (change)="switchProperty($event)" [checked]="marked" />
      <span class="slider-switch-btn round"></span>
    </label>
    <span class="right-text">Risk</span>
  </div>

  <div class="col-lg-8 col-sm-6 icon-list float-right no-padding" *ngIf="!isLoading">
    <!-- <a class="tooltip">
      <span class="tooltiptext">Add</span>
      <img src="assets/img/add_button.svg" alt="Add">
    </a> -->
    <a (click)="PrintClick()" class="tooltip">
      <img src="assets/img/print_button.svg" alt="Print" />
      <span class="tooltiptext">Print</span>
    </a>
    <div class="dropdown export-dropdown">
      <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tooltiptext">Export</span>
        <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
      </a>
      <div class="dropdown-menu export-dropdown-menu" id="controllistmatrix-export-RCM"></div>
    </div>
    <div class="filter-dropdown-column">
      <a class="tooltip m-0" (click)="Setting($event)">
        <span class="tooltiptext">Customize Table</span>
        <img src="assets/img/settings.svg" alt="Customize Table" class="click-icon" />
      </a>
      <div class="dropdown-menu-column" id="dropDown">
        <a class="dropdown-item-column rcm-hideshow" [attr.data-column]="i"
          *ngFor="let controlColumn of showHideHeaders; index as i" style="margin-left: 0px; cursor: pointer;">
          <label>
            <input class="checkbox" type="checkbox" value="{{ controlColumn }}" checked /><span
              class="filter-text">{{ controlColumn }}</span>
          </label>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <app-loader></app-loader> -->

<div *ngIf="!isLoading">
  <table id="riskcontrolmatrixTable" class="display fullDataTable table-md-responsive" style="width: 100%;" *ngIf="displayControls">
    <thead>
      <tr>
        <th></th>
        <th>
          <input name="select_all" value="1" id="rcmcontrolMatrix-select-all" type="checkbox" />
        </th>
        <th *ngFor="let controlColumn of controlTableHeaders">
          {{ controlColumn }}
        </th>
        <!-- <th>Area</th>
            <th>Ctl ID</th>
            <th>Control Name</th>
            <th>Control Description</th>
            <th>Control Risk</th>
            <th>Risk ID</th>
            <th>Risk Name</th>
            <th>Description</th> -->
        <th class="text-center action-block">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matrixData of CRMatrixData; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">{{ matrixData.riskdata.riskArea }}</td>
        <td class="reorder-row">
          <a (click)="loadMyCityId(matrixData.controlId)" class="btn risk-btn link">{{ matrixData.controlId }}</a>
        </td>
        <td class="reorder-row">{{ matrixData.controlName }}</td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': matrixData.controlDescription.length > 72 }">
            <span class="read-more-text">{{ matrixData.controlDescription }}</span>
            <span class="tooltiptext">{{ matrixData.controlDescription }}</span>
          </div>
        </td>
        <td class="reorder-row">
          <div class="slidecontainer" *ngIf="matrixData.controlRisk > 0; else showNone">
            <input type="range" min="1" disabled max="100" [value]="matrixData.controlRisk" [ngClass]="{
              'very-high': matrixData.controlRisk > 66,
              'very-low':
                matrixData.controlRisk > 33 && matrixData.controlRisk <= 66,
              medium: matrixData.controlRisk > 0 && matrixData.controlRisk <= 33
            }" class="range-control" />
          </div>
          <ng-template #showNone><b>--</b></ng-template>
        </td>
        <td class="reorder-row">
          <a class="btn risk-btn {{ matrixData.buttonClass }}"
            (click)="loadMyChildComponent(matrixData.riskdata.riskId)">{{ matrixData.riskdata.riskId }}</a>
        </td>
        <td class="reorder-row">{{ matrixData.riskdata.riskName }}</td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': matrixData.riskdata.riskDescription.length > 62 }">
            <span class="read-more-text"> {{ matrixData.riskdata.riskDescription }}</span>
            <span class="tooltiptext">{{ matrixData.riskdata.riskDescription }}</span>
          </div>
          </td>
        <td align="center" class="action-row">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a (click)="loadMyCityId(matrixData.controlId)" class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <!-- <li>
                <a (click)="delete()" class="delete-btn">
                  <img src="assets/img/delete_button.svg" alt="Delete" />
                  <span>Delete</span>
                </a>
              </li>
              <li>
                <a (click)="duplicate()" class="duplicate-btn">
                  <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                  <span>Duplicate</span>
                </a>
              </li> -->
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let control of controlData; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row"><b>--</b></td>
        <td class="reorder-row">
          <a (click)="loadMyCityId(control.controlId)" class="btn risk-btn link">{{ control.controlId }}</a>
        </td>
        <td class="reorder-row">{{ control.controlName }}</td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': control.controlDescription.length > 62 }">
            <span class="read-more-text">{{ control.controlDescription }}</span>
            <span class="tooltiptext">{{ control.controlDescription }}</span>
          </div>
        </td>

        <td class="reorder-row">
          <div class="slidecontainer">
            <b>--</b>
            <!-- <input type="range" min="1" disabled max="100" [value]="control.controlRisk"
            class="range-control {{ matrixData.buttonClass }}" /> -->
          </div>
        </td>

        <td class="reorder-row">
          <b>--</b>
        </td>
        <td class="reorder-row"><b>--</b></td>
        <td class="reorder-row"><b>--</b></td>

        <td align="center" class="action-row">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a (click)="loadMyCityId(control.controlId)" class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <!-- <li>
                <a (click)="delete()" class="delete-btn">
                  <img src="assets/img/delete_button.svg" alt="Delete" />
                  <span>Delete</span>
                </a>
              </li>
              <li>
                <a (click)="duplicate()" class="duplicate-btn">
                  <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                  <span>Duplicate</span>
                </a>
              </li> -->
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table id="riskcontrolmatrixTable2" class="display fullDataTable table-md-responsive" style="width: 100%;" *ngIf="!displayControls">
    <thead>
      <tr>
        <th></th>
        <th>
          <input name="select_all" value="1" id="rcmristMatrix-select-all" type="checkbox" />
        </th>
        <th *ngFor="let controlColumn of riskTableHeaders">
          {{ controlColumn }}
        </th>
        <!-- <th>Area</th>
          <th>Ctl ID</th>
          <th>Control Name</th>
          <th>Control Description</th>
          <th>Control Risk</th>
          <th>Risk ID</th>
          <th>Risk Name</th>
          <th>Description</th>
         -->
        <th class="text-center action-block">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matrixData of RCMatrixData; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">{{ matrixData.riskArea }}</td>
        <td class="reorder-row">
          <a class="btn risk-btn {{ matrixData.buttonClass }}"
            (click)="loadMyChildComponent(matrixData.riskId)">{{ matrixData.riskId }}</a>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': matrixData.riskName.length > 60 }">
            <span class="read-more-text">{{ matrixData.riskName }}</span>
            <span class="tooltiptext">{{ matrixData.riskName }}</span>
          </div>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': matrixData.riskDescription.length > 62 }">
            <span class="read-more-text">  {{ matrixData.riskDescription }}</span>
            <span class="tooltiptext"> {{ matrixData.riskDescription }}</span>
          </div>
        </td>
        <td class="reorder-row">
          <a (click)="loadMyCityId(matrixData.controldata.controlId)"
            class="btn risk-btn link">{{ matrixData.controldata.controlId }}</a>
        </td>
        <td class="reorder-row">{{ matrixData.controldata.controlName }}</td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': matrixData.controldata.controlDescription.length > 38 }">
            <span class="read-more-text">{{ matrixData.controldata.controlDescription }}</span>
            <span class="tooltiptext">{{ matrixData.controldata.controlDescription }}</span>
          </div>          
        </td>
        <td class="reorder-row">
          <div class="slidecontainer" *ngIf="matrixData.controldata.controlRisk > 0; else showNone">
            <input type="range" min="1" disabled max="100" [value]="matrixData.controldata.controlRisk" [ngClass]="{
              'very-high': matrixData.controldata.controlRisk > 66,
              medium:
                matrixData.controldata.controlRisk > 33 &&
                matrixData.controldata.controlRisk <= 66,
              'very-low':
                matrixData.controldata.controlRisk > 0 &&
                matrixData.controldata.controlRisk <= 33
            }" class="range-control" />
          </div>
          <ng-template #showNone><b>--</b></ng-template>
        </td>
        <td align="center" class="action-row">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a (click)="loadMyCityId(matrixData.riskId)" class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <!-- <li>
                            <a (click)="delete()" class="delete-btn">
                              <img src="assets/img/delete_button.svg" alt="Delete" />
                              <span>Delete</span>
                            </a>
                          </li>
                          <li>
                            <a (click)="duplicate()" class="duplicate-btn">
                              <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                              <span>Duplicate</span>
                            </a>
                          </li> -->
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let risk of riskData; let i = index">
        <td>{{ i + 1 }}</td>
        <td></td>
        <td class="reorder-row">{{ risk.riskArea }}</td>
        <td class="reorder-row">
          <a class="btn risk-btn link" (click)="loadMyChildComponent(risk.riskId)">{{ risk.riskId }}</a>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': risk.riskName.length > 60 }">
            <span class="read-more-text">{{ risk.riskName }}</span>
            <span class="tooltiptext">{{ risk.riskName }}</span>
          </div>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': risk.riskDescription.length > 62 }">
            <span class="read-more-text">{{ risk.riskDescription }}</span>
            <span class="tooltiptext">{{ risk.riskDescription }}</span>
          </div>
        </td>
        <td class="reorder-row">
          <b>--</b>
        </td>
        <td class="reorder-row"><b>--</b></td>
        <td class="reorder-row">
          <b>--</b>
        </td>
        <td class="reorder-row">
          <div class="slidecontainer">
            <b>--</b>
          </div>
        </td>
        <td align="center" class="action-row">
          <div class="dropdown show action-dropdown position-relative">
            <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-text">
              <ul>
                <li>
                  <a (click)="loadMyCityId(risk.riskId)" class="edit-btn">
                    <img src="assets/img/edit_button.svg" alt="Edit" />
                    <span>Edit</span>
                  </a>
                </li>
                <!-- <li>
                        <a (click)="delete()" class="delete-btn">
                          <img src="assets/img/delete_button.svg" alt="Delete" />
                          <span>Delete</span>
                        </a>
                      </li>
                      <li>
                        <a (click)="duplicate()" class="duplicate-btn">
                          <img src="assets/img/duplicate-form.svg" alt="Duplicate" />
                          <span>Duplicate</span>
                        </a>
                      </li> -->
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="full-width common-accordian">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link relative btn-full" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <h3 class="strip-line"><span>Issues/Actions</span></h3>
            <div class="toggle-image-container">
              <img src="../../../../../assets/img/round-img.svg" />
            </div>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-caseid" id="case-detail-table">
            <thead>
              <tr>
                <th width="10%">ID</th>
                <th width="20%">Name</th>
                <th width="30%">Description</th>
                <th width="20%">Goal</th>
                <th width="20%">Expected Completion</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><a class="btn risk-btn link">A-007</a></td>
                <td>
                  <p>Automated Measurement Of</p>
                </td>
                <td>
                  The Process of the reviewing Eigmental will be automated and
                  the system controls
                </td>
                <td>Automatic continuous Measurement of Eigmental</td>
                <td>30.02.2020</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-risk-definition-form *ngIf="loadComponent" [riskData]="selectedriskId"></app-risk-definition-form>
<app-control-definition-form *ngIf="loadcityId" [controlData]="selectedControlId"></app-control-definition-form>

<app-print-popup *ngIf="printView" [selectReportData]="selectReport"></app-print-popup>

<!-- <app-add-new-risk *ngIf="addNewRisk"></app-add-new-risk> -->