
.display{
    th{
        input[type=checkbox]{
            display: none;
        }
    }
    .dt-body-center.sorting_disabled{
        input[type=checkbox]{
            display: block;
        }
    }
}

@media (max-width:460px) {
    .filter-dropdown-column {
        margin-left: 10px;
    }
    .dataTables_wrapper .dataTables_filter {
        width: 100%;
    }
    .dataTables_wrapper .dataTables_filter label {
      width: 100%;
  }
}
