
<!--risk Assessment Dashboard-->
<!-- top Section-->

<div class="full-width breadcrumbs">
    <ul>
        <li><a>Home</a></li>
        <li><a>Risk Assessment</a></li>
    </ul>
</div>
<!--dynamic Count section--> 
<div class="full-width bg-white">
    <app-risk-assessment-dynamic-view></app-risk-assessment-dynamic-view>
    </div>
<!--risk list top10list etc-->
<div class="full-width bg-white main-content">
    <div class="content">
        <tabset class="tab-block">
            <tab heading="Risk Assessment Matrix">
                <app-risk-assessment-risk-list></app-risk-assessment-risk-list>
            </tab>
            <tab heading="Top 10 Risks">
             <app-top-ten-risks></app-top-ten-risks>   
            </tab>
            <tab heading="Increased Risks">
                
            </tab>
        
        
        </tabset>

    </div>

</div>

