<div class="full-width breadcrumbs">
  <ul>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>Reporting</a>
    </li>
  </ul>
</div>

<div class="full-width bg-white">
  <app-cost-top-pane></app-cost-top-pane>
</div>
<div class="full-width bg-white main-content">
  <div class="content">
    <tabset class="tab-block">
      <tab heading="Active Audits" (selectTab)="activeAudit()">
        <app-active-audits></app-active-audits>
      </tab>
      <tab heading="Cost Reporting" (selectTab)="costReporting()">
        <app-cost-reporting></app-cost-reporting>
      </tab>
      <tab heading="Quality Assurance">
        <app-quality-assurance></app-quality-assurance>
      </tab>
    </tabset>
  </div>
</div>
