<div class="roomsClass">
  <span>Rooms</span>
  <select (change)="selectRooms($event.target.value)" class="selectClass">
    <option *ngFor="let room of roomList">
      <a id="{{ room._id }}">{{ room.title }}</a>
    </option>
  </select>
</div>
<div class="chatWindow" id="message_div_col">
  <ul>
    <li *ngFor="let msg of messages">
      <p class="username">{{ msg.username }}: {{ msg.message }}</p>
    </li>
  </ul>
</div>

<div class="chat-input">
  <div class="full-width relative">
    <input
      class="form-control"
      placeholder="Type your message"
      name="message"
      type="text"
      [(ngModel)]="message"
      (keyup.enter)="submitMessage(message)"
    />
    <button class="btn btn-send" (click)="submitMessage(message)">
      <img src="../../../../../assets/img/send.svg" alt="send_icon" />
    </button>
  </div>
</div>
