.btnclose {
  appearance: none;
  background-color: #664da0;
  border-color: #664da0;
  width: 25px;
  height: 25px;
  border-color: #664da0;
  position: absolute;
  right: 0;
  padding: 0px;
  img {
    max-width: 100%;
  }
}
.container {
  margin: 2% auto;
  width: 690px;
  background: #5a4296;
  padding: 0px;
}

.users-list {
  width: 30%;
  float: left;
}
.users-list .search {
  padding: 20px;
}
.users-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6a6c75;
  width: 90%;
  font-size: 14px;
}
.users-list .fa-search {
  position: relative;
  left: -25px;
}
.users-list ul {
  padding: 20px;
  max-height: 770px;
}
.users-list ul li {
  padding-bottom: 20px;
}
.users-list img {
  float: left;
}
.users-list .about {
  float: left;
  margin-top: 8px;
}
.users-list .about {
  padding-left: 8px;
}
.users-list .status {
  color: #92959e;
}
.chatWindow {
  overflow: hidden;
  overflow-y: visible;
  max-height: 48px;
  text-align: left;
  width: 100%;
  float: left;
  margin-top: 5px;
  ul {
    padding: 0px 10px;
    margin: 0px;
    width: 100%;
    float: left;
    li {
      list-style-type: none;
      width: 100%;
      float: left;
      p.username {
        font-size: 12px;
        color: #5c5d60;
        margin-bottom: 5px;
        line-height: 14px;
        position: relative;
        padding-left: 13px;
        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 0;
          background-color: #a69bbe;
          border-radius: 50%;
          border: 1px solid #9380bf;
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

.room {
  width: 490px;
  float: left;
  background: #f2f5f8;
  color: #434651;
}
.chat {
  width: 70%;
  float: left;
  background: #f2f5f8;
  color: #434651;
}

.chat .chat-header,
.room .room-header {
  padding: 15px;
  width: 100%;
  float: left;
  border-bottom: 2px solid #fff;
}
.chat .chat-header img,
.room .room-header img {
  float: left;
}
.chat .chat-header .chat-about,
.room .room-header {
  float: left;
  width: 100%;
  margin-top: 0px;
}
.room-about,
.room-header {
  float: left;
  width: 100%;
  margin-top: 0px;
}
.chat .chat-header .chat-room,
.room .room-header .room-title {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-users,
.room .room-header .room-num-rooms {
  color: #92959e;
}
.fa-users,
.fa-th-list {
  float: right;
  color: #d8dadf;
  font-size: 20px;
  margin-top: 12px;
}

.room .room-list {
  padding: 15px;
  border-bottom: 2px solid white;
  overflow: hidden;
  overflow-y: visible;
  max-height: 300px;
  width: 100%;
  float: left;
  ul {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
  }
}

.chat .chat-history {
  padding: 15px;
  border-bottom: 2px solid white;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 290px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  font-size: 80%;
}
.chat .chat-history .message {
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  /*width: 90%;*/
  position: relative;
  border-radius: 20px;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86bb71;
}
.chat .chat-message,
.room .room-create {
  padding: 15px;
  width: 100%;
  float: left;
}
.chat .chat-message textarea,
.room .room-create input {
  width: 82%;
  padding: 10px 15px;
  resize: none;
  border: 1px solid #cbcbcb;
  height: 38px;
}
.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*  Login Page */
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #86bb71;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
// .form button:hover,
// .form button:active,
// .form button:focus {
//   background: #89c771;
// }

.labelClass {
  min-width: 120px;
  margin-left: 5px;
  float: left;
}
.form .message,
.room-create .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #86bb71;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* ****** Edits ****** */
.roomsClass {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left;
  text-align: left;
  span {
    font-size: 13px;
    font-weight: 400;
  }
  select {
    font-size: 12px;
    height: 20px;
    line-height: 14px;
    margin-left: 10px;
    min-width: 120px;
  }
}
ul {
  list-style: none;
}
.chat-history ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.room .room-list .room-item {
  color: white;
  padding: 12px 14px;
  line-height: 26px;
  font-size: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 90%;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.room .room-list .room-item {
  background: #86bb71;
}
.room .room-list a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.users-list .name {
  color: white;
}
.users-list ul {
  height: 312px;
  overflow: hidden;
  overflow-y: visible;
}
.loginBtn {
  width: 80%;
}
.form {
  background-color: #f2f5f8;
}
.form input {
  background-color: white;
}
.form-line {
  position: absolute;
  left: 0px;
  width: 360px;
  margin-top: 2px;
  border-bottom: 2px solid white;
}
.social-buttons div span {
  font-weight: bold;
}
.chat-message button,
.room-create button,
.controls a {
  float: right;
  text-transform: uppercase;
  outline: 0;
  background: #86bb71;
  border: 0;
  padding: 11px 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: 400;
  width: 18%;
}
// button:hover,
// button:active,
// button:focus {
//   background: #89c771;
// }
// a.rooms-btn:hover,
// a.rooms-btn:active,
// a.rooms-btn:focus {
//   background: #89c771;
// }
a.logout-btn {
  background-color: rgb(226, 98, 92);
}
a.logout-btn:hover,
a.logout-btn:active,
a.logout-btn:focus {
  background-color: rgb(245, 106, 99);
}
.controls {
  width: 30%;
  float: left;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid white;
}
.controls a {
  width: 100%;
  margin: 0;
}
.controls a:hover {
  color: #fff;
}
.users-list li img,
.chat-header img {
  width: 25px;
  height: 25px;
  border: 2px solid #676c75;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.controls a {
  text-decoration: none;
}
.message.error {
  color: red;
}
.message.success {
  color: #86bb71;
}
.container {
  overflow: hidden;
}

.not-found-error {
  padding: 5%;
  background-color: white;
}
.chat .chat-history .my-message {
  text-align: initial;
}

.username {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.message {
  font-size: 13px;
  color: #000;
  background: #fff;
}

.dot-green {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  border-radius: 50%;
  background: green;
  display: inline-block;
}

.dot-red {
  width: 10px;
  height: 10px;
  border: 1px solid green;
  border-radius: 50%;
  background: red;
  display: inline-block;
}

.onlineUsers {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 0px;
}

.add {
  width: 60px;
  height: 30px;
  background: #86bb71;
  color: #fff;
}

.users-list select {
  width: 100%;
}

.chat {
  ul li {
    list-style-type: none;
  }

  .username {
    font-weight: bold;
  }
}

.room-head {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
.room-list {
  li {
    margin-bottom: 5px;
    font-size: 14;
    font-weight: 400;
  }
}

.user-icon {
  width: 30px;
  float: left;
}
.chat-user-name {
  width: calc(~"100% - 30px");
  float: left;
}
.username-chat {
  font-size: 12px;
  font-weight: 400;
  color: #5c5d60;
  position: relative;
  padding-left: 13px;
  line-height: 14px;
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    background-color: #a69bbe;
    border-radius: 50%;
    border: 1px solid #9380bf;
    width: 8px;
    height: 8px;
  }
}
.divider {
  border-bottom: 1px solid #cbcbcb;
}
.select-tag {
  padding: 15px;
  border-bottom: 1px solid #cbcbcb;
  select {
    font-size: 12px;
    height: 30px;
  }
}
.chat-people-list {
  background-color: #664da0;
}

.users-list li img.img-delete {
  width: 16px;
  height: inherit;
  border-radius: 0px;
  border: 0px;
}
