.table-header .control-risk-switch .left-text {
    // padding-left: 15px;
}
@media (max-width:497px) {
  //   .table-header {
  //     width: auto;
  //     position: relative;
  //   }
  //   .table-header .control-risk-switch {
  //     padding-right: 0px;
  //     padding-left: 0px;
  //     width: 50%;
  //     margin-bottom: 10px;
  //   }
  //   .table-header .icon-list {
  //     width: 50%;
  //     position: absolute;
  //     right: 0;
  //     top: 30px;
  //     padding-right: 0px;
  //     transform: translateY(10px);
  // }
  .switch {
    margin-left: 10px;
    margin-right: 10px;
  }
      .filter-dropdown-column {
        margin-left: 10px;
    }
    .dataTables_wrapper .dataTables_filter {
        width: 100%;
    }
    .dataTables_wrapper .dataTables_filter label {
      width: 100%;
  }
}