<div class="table-header rcm-table-header">

    <div class="col-sm-6 col-lg-4 control-risk-switch float-left">
 
          <span class="left-text">Issues</span>
          <label class="switch">
            <input type="checkbox" [disabled]="isLoading" (change)="switchProperty($event)">
            <span class="slider-switch-btn round"></span>
          </label>
          <span class="right-text">Action</span>
  
     
    </div>




    <div class="col-lg-8 col-sm-6 icon-list float-right no-padding" *ngIf="!isLoading">
     
      <!-- <a class="tooltip">
        <span class="tooltiptext">Add</span>
        <img src="assets/img/add_button.svg" alt="Add">
      </a> -->
      <a href="#" class="tooltip">
        <span class="tooltiptext">Print</span>
        <img src="assets/img/print_button.svg" alt="Print">
      </a>
      <div class="dropdown export-dropdown">
        <a class="tooltip btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="tooltiptext">Export</span>
          <!-- <img src="assets/img/export_button.svg" alt="Export" /> -->
        </a>
        <div class="dropdown-menu export-dropdown-menu controllist-export-RCM"></div>
      </div>

      <div class="filter-dropdown-column">
        <a class="tooltip m-0" (click)="Setting($event)">
          <span class="tooltiptext">Customize Table</span>
          <img
            src="assets/img/settings.svg"
            alt="Customize Table"
            class="click-icon"
          />
        </a>
        <div class="dropdown-menu-column" id="dropDown">
          <a
            class="dropdown-item-column"
            [attr.data-column]="i"
            *ngFor="let controlColumn of showHideHeaders; index as i"
            style="margin-left:0px; cursor: pointer;"
          >
            <label>
              <input
                class="checkbox"
                type="checkbox"
                value="{{ controlColumn }}"
                checked
              /><span class="filter-text">{{ controlColumn }}</span>
            </label>
          </a>
        </div>
      </div>

    </div>


</div>

<div *ngIf="!isLoading">
<table id="casemanagementTable" class="display fullDataTable table-md-responsive" style="width:100%"  *ngIf="displayControls">
  <thead>
    <tr>
      <th></th>
      <th>
        <input name="select_all" value="1" id="cmcissueMatrix-select-all" type="checkbox" />              
      </th>
      <th>Area</th>
      <th>Issue ID</th>
      <th>
        Issue Name
      </th>
      <th>Issue Description</th>
      <th>Action ID</th>
      <th>Action Name</th>
      <th>Action Description</th>
      <th>Action Progess</th>
      <th>Action</th>
      <!-- <th *ngFor="let controlColumn of controlTableHeaders">{{controlColumn}}</th> -->
    
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let response of IAMatrixData ;let i = index;">

      <td>{{i + 1}}</td>
      <td></td>
      <td class="reorder-row">{{response.area}}</td>
      <td class="reorder-row">
          <a (click)="loadMyCityId(response.actiondata[0].issueId)"  class="btn risk-btn link">{{response.actiondata[0].issueId}}</a>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actiondata[0].issueName.length > 32 }">
            <span class="read-more-text">{{response.actiondata[0].issueName}}</span>
            <span class="tooltiptext wd-200">{{response.actiondata[0].issueName}}</span>
          </div>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actiondata[0].issueDescription.length > 48 }">
            <span class="read-more-text">{{response.actiondata[0].issueDescription}}</span>
            <span class="tooltiptext">{{response.actiondata[0].issueDescription}}</span>
          </div>
        </td>
        <td class="reorder-row">
        <a class="btn btn-primary risk-btn very-high" (click)="loadMyChildComponent(response.actionId)">{{response.actionId}}</a>
      </td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actionName.length > 32 }">
          <span class="read-more-text">{{response.actionName}}</span>
          <span class="tooltiptext wd-200">{{response.actionName}}</span>
        </div>
      </td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actionDescription.length > 66 }">
          <span class="read-more-text">{{response.actionDescription}}</span>
          <span class="tooltiptext">{{response.actionDescription}}</span>
        </div>
      </td>
      <td class="reorder-row">
          <div class="slidecontainer">
            <!-- <input type="range" min="1" max="100" value="0" class="range-control very-high" disabled> -->
            
              <input type="range" min="1" max="100" [value]=response.actionprogress class="range-control {{response.barColor}}" disabled> 
          </div>
        </td>

        <td align ="center">
          <div class="dropdown show action-dropdown position-relative ">
              <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </a>
              <!-- <div class="dropdown-menu">
                  <a href="" class="edit-btn">
                      <img src="assets/img/edit_button.svg" alt="Edit">
                     </a>
                     <a href="" class="delete-btn">
                          <img src="assets/img/delete_button.svg" alt="Edit">
                     </a>
              </div> -->
              <div class="dropdown-menu dropdown-menu-text">
                <ul>
                  <li>
                    <a (click)="loadMyCityId(response.actiondata[0].issueId)" class="edit-btn">
                      <img src="assets/img/edit_button.svg" alt="Edit" />
                      <span>Edit</span>
                    </a>
                  </li>
                  <li>
                    <a class="delete-btn">
                      <img src="assets/img/delete_button.svg" alt="Delete" />
                      <span>Delete</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="duplicate-btn">
                      <img src="assets/img/duplicate-form.svg" alt="Delete" />
                      <span>Duplicate</span>
                    </a>
                  </li>
                </ul>
              </div>
              
            </div>
         </td>
    </tr>

   

    
  </tbody>
</table>

<table id="casemanagementTable2" class="display fullDataTable table-md-responsive" style="width:100%"  *ngIf="!displayControls">
  <thead>
    <tr>
      <!-- <th class="no-sorting">
        <label class="checkbox">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </th> -->
      <th></th>
      <th>
        <input name="select_all" value="1" id="cmactionMatrix-select-all" type="checkbox" />              
      </th>
      <th *ngFor="let controlColumn of riskTableHeaders">{{controlColumn}}</th>
      <!-- <th>Area</th>
      <th>Issue ID</th>
      <th>Issue Name</th>
      <th>Issue Description</th>
      
      <th>Action ID</th>
      <th>Action Name</th>
      <th>Action Description</th>
      <th>Action Progess</th>
      <th>Action</th> -->
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let response of IAMatrixData ;let j = index;">

      <td>{{j + 1}}</td>
      <td></td>
      <td class="reorder-row">{{response.area}}</td>
      <td class="reorder-row">
        <a class="btn btn-primary risk-btn very-high" (click)="loadMyChildComponent(response.actionId)">{{response.actionId}}</a>
      </td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actionName.length > 36 }">
          <span class="read-more-text">{{response.actionName}}</span>
          <span class="tooltiptext wd-200">{{response.actionName}}</span>
        </div>
      </td>
      <td class="reorder-row">
        <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actionDescription.length > 78 }">
          <span class="read-more-text">{{response.actionDescription}}</span>
          <span class="tooltiptext">{{response.actionDescription}}</span>
        </div>
      </td>
      <td class="reorder-row">
          <div class="slidecontainer">
            <!-- <input type="range" min="1" max="100" value="0" class="range-control very-high" disabled> -->
            
              <input type="range" min="1" max="100" [value]=response.actionprogress class="range-control {{response.barColor}}" disabled> 
          </div>
        </td>
     
        <td class="reorder-row">
          <a (click)="loadMyCityId(response.actiondata[0].issueId)" class="btn risk-btn link">{{response.actiondata[0].issueId}}</a>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actiondata[0].issueName.length > 26 }">
            <span class="read-more-text">{{response.actiondata[0].issueName}}</span>
            <span class="tooltiptext wd-150">{{response.actiondata[0].issueName}}</span>
          </div>
        </td>
        <td class="reorder-row">
          <div class="read-more tooltip m-0" [ngClass]="{'readmore-tooltip': response.actiondata[0].issueDescription.length > 46 }">
            <span class="read-more-text">{{response.actiondata[0].issueDescription}}</span>
            <span class="tooltiptext wd-200">{{response.actiondata[0].issueDescription}}</span>
          </div>
        </td>

      
 

        <td align ="center">
          <div class="dropdown show action-dropdown position-relative ">
              <a class="btn dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </a>
              <!-- <div class="dropdown-menu">
                  <a href="" class="edit-btn">
                      <img src="assets/img/edit_button.svg" alt="Edit">
                     </a>
                     <a href="" class="delete-btn">
                          <img src="assets/img/delete_button.svg" alt="Edit">
                     </a>
              </div> -->

              <div class="dropdown-menu dropdown-menu-text">
                <ul>
                  <li>
                    <a (click)="loadMyChildComponent(response.actionId)" class="edit-btn">
                      <img src="assets/img/edit_button.svg" alt="Edit" />
                      <span>Edit</span>
                    </a>
                  </li>
                  <li>
                    <a  class="delete-btn">
                      <img src="assets/img/delete_button.svg" alt="Delete" />
                      <span>Delete</span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="duplicate-btn">
                      <img src="assets/img/duplicate-form.svg" alt="Delete" />
                      <span>Duplicate</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
         </td>
    </tr>

   

    
  </tbody>
</table>
</div>
<!-- <app-issue-monitoring-form *ngIf="loadcityId" [issueData]="selectedIssueId"  (closedDefinationIssueForm)="getAddressOfAddNewIssueForm($event)"></app-issue-monitoring-form> -->

<app-issue-definition-form *ngIf="loadComponent" [actionData]="selectedactionkId" (closedAddActionForm)="getStatusOfEditActionForm($event)"></app-issue-definition-form>
<app-issue-monitoring-form *ngIf="loadcityId" [issueData]="selectedIssueId" (closedAddNewIssueForm)="getAddressOfAddNewIssueForm($event)"></app-issue-monitoring-form>